<?xml version="1.0" encoding="utf-8"?>
<Page xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Ovaldi.Core.Models">
	<AbsoluteName>-jesse2013-</AbsoluteName>
	<CustomFields xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<EnableScript>true</EnableScript>
	<EnableTheming>true</EnableTheming>
	<Html>&lt;!DOCTYPE html&gt;
&lt;html lang="zh-cn"&gt;
&lt;head&gt;
&lt;meta charset="utf-8"&gt;
&lt;title&gt;Jesse Liu - 博客园&lt;/title&gt;
&lt;link type="text/css" rel="stylesheet" href="/preview~Cnblogs/Styles/bundles/blog-common.css"&gt;
&lt;link id="MainCss" type="text/css" rel="stylesheet" href="/preview~Cnblogs/Styles/skins/Minyx2_Lite/bundle-Minyx2_Lite.css"&gt;
&lt;link type="text/css" rel="stylesheet" href="/preview~Cnblogs/Styles/blog/customcss/159331.css"&gt;
&lt;link title="RSS" type="application/rss+xml" rel="alternate" href="http://www.cnblogs.com/jesse2013/rss"&gt;
&lt;link title="RSD" type="application/rsd+xml" rel="EditURI" href="http://www.cnblogs.com/jesse2013/rsd.xml"&gt;
&lt;link type="application/wlwmanifest+xml" rel="wlwmanifest" href="http://www.cnblogs.com/jesse2013/wlwmanifest.xml"&gt;
&lt;script src="http://common.cnblogs.com/script/jquery.js" type="text/javascript"&gt;&lt;/script&gt;  
&lt;script type="text/javascript"&gt;var currentBlogApp = 'jesse2013', cb_enable_mathjax=false;&lt;/script&gt;
&lt;script src="/preview~Cnblogs/Scripts/bundles/blog-common.js" type="text/javascript"&gt;&lt;/script&gt;
&lt;script src="/preview~Cnblogs/Scripts/skins/Minyx2_Lite/bundle-Minyx2_Lite.js" language="javascript" type="text/javascript"&gt;&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;a name="top"&gt;&lt;/a&gt;
&lt;!--PageBeginHtml Block Begin--&gt;
&lt;link rel="stylesheet" type="text/css" href="http://files.cnblogs.com/jesse2013/mystyle-v7.css?v=10132013.8"&gt;
&lt;!--PageBeginHtml Block End--&gt;


&lt;div id="container"&gt;
    &lt;a class="minyx" href="http://www.cnblogs.com/"&gt;代码改变世界&lt;/a&gt;
    &lt;ul id="topMnu"&gt;
        &lt;!-- 统计数据 --&gt;
        &lt;li&gt;
            
                
Posts - 26, 
Articles - 0, 
Comments - 1742
&lt;!----&gt;
            
        &lt;/li&gt;
        &lt;!-- 这边可以增加一些链接 --&gt;
        &lt;!-- 博客园 --&gt;
        &lt;li&gt;&lt;a href="http://www.cnblogs.com"&gt;Cnblogs&lt;/a&gt;&lt;/li&gt;
        &lt;!-- 管理 --&gt;
        &lt;li id="topMnu-dashboard"&gt;
            &lt;a id="lnkDashboard" href="http://www.cnblogs.com/jesse2013/admin/EditPosts.aspx"&gt;Dashboard&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;
            &lt;a id="lnkLogin" href="http://passport.cnblogs.com/login.aspx?ReturnUrl=http://www.cnblogs.com/jesse2013/default.aspx"&gt;Login&lt;/a&gt;&lt;/li&gt;
    &lt;/ul&gt;

    &lt;script type="text/javascript"&gt;
        var m = window.__blog.topMenuRendered;
        if (m) { m(__$("topMnu")); }
    &lt;/script&gt;

    &lt;div id="header"&gt;
        &lt;ul id="menu"&gt;
            &lt;!-- 首页，当前section加上current类 --&gt;
            &lt;li id="menu-home" class="current"&gt;
                &lt;a id="lnkHome" href="http://www.cnblogs.com/jesse2013/"&gt;Home&lt;/a&gt;&lt;/li&gt;
            &lt;!-- 联系 --&gt;
            &lt;li id="menu-contact"&gt;
                &lt;a id="lnkContact" href="http://space.cnblogs.com/msg/send/Jesse+Liu"&gt;Contact&lt;/a&gt;&lt;/li&gt;
            &lt;!-- 相册 --&gt;
            &lt;li id="menu-gallary"&gt;
                &lt;a id="lnkGallery" href="http://www.cnblogs.com/jesse2013/gallery.html"&gt;Gallery&lt;/a&gt;&lt;/li&gt;
            &lt;!-- Rss订阅 --&gt;
            &lt;li id="rss"&gt;
                &lt;a id="lnkRss" href="http://www.cnblogs.com/jesse2013/rss"&gt;RSS&lt;/a&gt;&lt;/li&gt;
        &lt;/ul&gt;
        &lt;div id="newmsg"&gt;&lt;/div&gt;
        &lt;h1&gt;
            &lt;!-- 主标题 --&gt;
            &lt;a id="lnkBlogTitle" href="http://www.cnblogs.com/jesse2013/"&gt;Jesse Liu&lt;/a&gt;
            &lt;!-- 子标题 --&gt;
            &lt;small&gt;
                Life is a battle, time is your only enemy.&lt;/small&gt;
        &lt;/h1&gt;
    &lt;/div&gt;

    &lt;script type="text/javascript"&gt;
        var m = window.__blog.headerRendered;
        if (m) { m(__$("header")); }
    &lt;/script&gt;

    &lt;div id="wrapper"&gt;
        &lt;div id="content"&gt;
            &lt;script type="text/javascript"&gt;
                var m = window.__blog.preRenderPosts;
                if (m) { m(); }
            &lt;/script&gt;
            

    &lt;div class="post post-list-item" id="post_3479633"&gt;
        &lt;h2&gt;
            &lt;a id="homepage1_ctl00_rptEntries_TitleUrl_0" class="PostTitle" href="http://www.cnblogs.com/jesse2013/p/how-to-learn-english.html"&gt;[置顶]暴力英语学习法 + 严格的目标管理 = 成功快速靠谱的学好英语&lt;/a&gt;
        &lt;/h2&gt;
        &lt;small&gt;2013-12-18 08:53 by Jesse Liu, 25106 阅读, &lt;a href="#" onclick="PutInWz();return false;"&gt;收藏&lt;/a&gt;, &lt;a id="homepage1_ctl00_rptEntries_lnkEdit_0" href="http://i.cnblogs.com/EditPosts.aspx?postid=3479633"&gt;编辑&lt;/a&gt;&lt;/small&gt;
        &lt;div class="entry"&gt;
            &lt;div class="c_b_p_desc"&gt;摘要: Updated: 留下邮件的同学，我已经将链接发到你们邮件了，没有留邮箱的同学，你们就自己到下面拿链接和密码下载吧。:) 园子里时不时就吹起一阵学英语的浪潮，不少同鞋表示一直想学，或者一直在学，就是效果不明显（你躺枪了么？）相信自己或者身边的人都或多或少吃了英语弱的当（你懂的，我们重点在说薪水的问题:)。而各种英语成功学，方法论，版本是一个接一个层出不穷。今天我们不说为什么要学好英语，好处太多而且已经广为流传了，我们主要结合目标管理来讨论一下如何坚定不移的，快速的学好英语。以我自己的亲身经历作样板，以下情况全部属实，绝无虚构。 先说说我在开始学英语之前的情况：时间：2012年2月，已工...&lt;a href="http://www.cnblogs.com/jesse2013/p/how-to-learn-english.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;
        &lt;/div&gt;
        &lt;ul class="postmetadata"&gt;
        &lt;li class="icon_comment icon_r"&gt;&lt;a id="homepage1_ctl00_rptEntries_lnkCommentCount_0" href="http://www.cnblogs.com/jesse2013/p/how-to-learn-english.html#comments"&gt;569 Comment&lt;/a&gt;&lt;/li&gt;
        
        &lt;li id="homepage1_ctl00_rptEntries_liTag_0" class="icon_bullet"&gt;&amp;nbsp; &lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
    

    &lt;div class="post post-list-item" id="post_3947742"&gt;
        &lt;h2&gt;
            &lt;a id="homepage1_ctl01_rptEntries_TitleUrl_0" class="PostTitle" href="http://www.cnblogs.com/jesse2013/p/the-first-glance-of-ddd.html"&gt;初探领域驱动设计（1）为复杂业务而生&lt;/a&gt;
        &lt;/h2&gt;
        &lt;small&gt;2014-09-10 08:35 by Jesse Liu, 4271 阅读, &lt;a href="#" onclick="PutInWz();return false;"&gt;收藏&lt;/a&gt;, &lt;a id="homepage1_ctl01_rptEntries_lnkEdit_0" href="http://i.cnblogs.com/EditPosts.aspx?postid=3947742"&gt;编辑&lt;/a&gt;&lt;/small&gt;
        &lt;div class="entry"&gt;
            &lt;div class="c_b_p_desc"&gt;摘要: 概述 领域驱动设计也就是3D（Domain-Driven Design)已经有了10年的历史，我相信很多人或多或少都听说过这个名词，但是有多少人真正懂得如何去运用它，或者把它运用好呢？于是有人说，DDD和TDD这些玩意是一些形而上的东西，只是一茶余饭后的谈资，又或是放到简历上提升逼格而已。前面这句...&lt;a href="http://www.cnblogs.com/jesse2013/p/the-first-glance-of-ddd.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;
        &lt;/div&gt;
        &lt;ul class="postmetadata"&gt;
        &lt;li class="icon_comment icon_r"&gt;&lt;a id="homepage1_ctl01_rptEntries_lnkCommentCount_0" href="http://www.cnblogs.com/jesse2013/p/the-first-glance-of-ddd.html#comments"&gt;126 Comment&lt;/a&gt;&lt;/li&gt;
        
        &lt;li id="homepage1_ctl01_rptEntries_liTag_0" class="icon_bullet"&gt;&lt;strong&gt;Tags: &lt;/strong&gt; &lt;a href="http://www.cnblogs.com/jesse2013/tag/%e9%a2%86%e5%9f%9f%e9%a9%b1%e5%8a%a8%e8%ae%be%e8%ae%a1/"&gt;领域驱动设计&lt;/a&gt; &lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
    
    &lt;script type="text/javascript"&gt; 
    var m = window.__blog.postRendered; 
    if (m) { m(__$("post_3947742")); } 
    &lt;/script&gt;
    
    &lt;div class="post post-list-item" id="post_3826756"&gt;
        &lt;h2&gt;
            &lt;a id="homepage1_ctl01_rptEntries_TitleUrl_1" class="PostTitle" href="http://www.cnblogs.com/jesse2013/p/Asynchronous-Programming-In-DotNet.html"&gt;异步编程 In .NET&lt;/a&gt;
        &lt;/h2&gt;
        &lt;small&gt;2014-07-15 08:42 by Jesse Liu, 10267 阅读, &lt;a href="#" onclick="PutInWz();return false;"&gt;收藏&lt;/a&gt;, &lt;a id="homepage1_ctl01_rptEntries_lnkEdit_1" href="http://i.cnblogs.com/EditPosts.aspx?postid=3826756"&gt;编辑&lt;/a&gt;&lt;/small&gt;
        &lt;div class="entry"&gt;
            &lt;div class="c_b_p_desc"&gt;摘要: 概述 在之前写的一篇关于async和await的前世今生的文章之后，大家似乎在async和await提高网站处理能力方面还有一些疑问，博客园本身也做了不少的尝试。今天我们再来回答一下这个问题，同时我们会做一个async和await在WinForm中的尝试，并且对比在4.5之前的异步编程模式APM/...&lt;a href="http://www.cnblogs.com/jesse2013/p/Asynchronous-Programming-In-DotNet.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;
        &lt;/div&gt;
        &lt;ul class="postmetadata"&gt;
        &lt;li class="icon_comment icon_r"&gt;&lt;a id="homepage1_ctl01_rptEntries_lnkCommentCount_1" href="http://www.cnblogs.com/jesse2013/p/Asynchronous-Programming-In-DotNet.html#comments"&gt;132 Comment&lt;/a&gt;&lt;/li&gt;
        
        &lt;li id="homepage1_ctl01_rptEntries_liTag_1" class="icon_bullet"&gt;&lt;strong&gt;Tags: &lt;/strong&gt; &lt;a href="http://www.cnblogs.com/jesse2013/tag/c%23/"&gt;c#&lt;/a&gt;, &lt;a href="http://www.cnblogs.com/jesse2013/tag/.net+framework/"&gt;.net framework&lt;/a&gt;, &lt;a href="http://www.cnblogs.com/jesse2013/tag/%e6%9e%b6%e6%9e%84/"&gt;架构&lt;/a&gt;, &lt;a href="http://www.cnblogs.com/jesse2013/tag/%e5%bc%82%e6%ad%a5%e7%bc%96%e7%a8%8b/"&gt;异步编程&lt;/a&gt; &lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
    
    &lt;script type="text/javascript"&gt; 
    var m = window.__blog.postRendered; 
    if (m) { m(__$("post_3826756")); } 
    &lt;/script&gt;
    
    &lt;div class="post post-list-item" id="post_3770729"&gt;
        &lt;h2&gt;
            &lt;a id="homepage1_ctl01_rptEntries_TitleUrl_2" class="PostTitle" href="http://www.cnblogs.com/jesse2013/p/dlws-loadbalancer2.html"&gt;Windows平台分布式架构实践 - 负载均衡（下）&lt;/a&gt;
        &lt;/h2&gt;
        &lt;small&gt;2014-06-10 08:37 by Jesse Liu, 7306 阅读, &lt;a href="#" onclick="PutInWz();return false;"&gt;收藏&lt;/a&gt;, &lt;a id="homepage1_ctl01_rptEntries_lnkEdit_2" href="http://i.cnblogs.com/EditPosts.aspx?postid=3770729"&gt;编辑&lt;/a&gt;&lt;/small&gt;
        &lt;div class="entry"&gt;
            &lt;div class="c_b_p_desc"&gt;摘要: 概述 我们在上一篇Windows平台分布式架构实践 - 负载均衡中讨论了Windows平台下通过NLB（Network Load Balancer) 来实现网站的负载均衡，并且通过压力测试演示了它的效果，可以说还是非常的理想的。同时我们也收集到了不少的问题，比如说如何在这种分布式的架构下使用Ses...&lt;a href="http://www.cnblogs.com/jesse2013/p/dlws-loadbalancer2.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;
        &lt;/div&gt;
        &lt;ul class="postmetadata"&gt;
        &lt;li class="icon_comment icon_r"&gt;&lt;a id="homepage1_ctl01_rptEntries_lnkCommentCount_2" href="http://www.cnblogs.com/jesse2013/p/dlws-loadbalancer2.html#comments"&gt;74 Comment&lt;/a&gt;&lt;/li&gt;
        
        &lt;li id="homepage1_ctl01_rptEntries_liTag_2" class="icon_bullet"&gt;&lt;strong&gt;Tags: &lt;/strong&gt; &lt;a href="http://www.cnblogs.com/jesse2013/tag/web/"&gt;web&lt;/a&gt;, &lt;a href="http://www.cnblogs.com/jesse2013/tag/%e6%9e%b6%e6%9e%84/"&gt;架构&lt;/a&gt;, &lt;a href="http://www.cnblogs.com/jesse2013/tag/%e5%88%86%e5%b8%83%e5%bc%8f/"&gt;分布式&lt;/a&gt; &lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
    
    &lt;script type="text/javascript"&gt; 
    var m = window.__blog.postRendered; 
    if (m) { m(__$("post_3770729")); } 
    &lt;/script&gt;
    
    &lt;div class="post post-list-item" id="post_3734939"&gt;
        &lt;h2&gt;
            &lt;a id="homepage1_ctl01_rptEntries_TitleUrl_3" class="PostTitle" href="http://www.cnblogs.com/jesse2013/p/dlws-loadbalancer.html"&gt;Windows平台分布式架构实践 - 负载均衡&lt;/a&gt;
        &lt;/h2&gt;
        &lt;small&gt;2014-05-22 09:26 by Jesse Liu, 15410 阅读, &lt;a href="#" onclick="PutInWz();return false;"&gt;收藏&lt;/a&gt;, &lt;a id="homepage1_ctl01_rptEntries_lnkEdit_3" href="http://i.cnblogs.com/EditPosts.aspx?postid=3734939"&gt;编辑&lt;/a&gt;&lt;/small&gt;
        &lt;div class="entry"&gt;
            &lt;div class="c_b_p_desc"&gt;摘要: 概述 最近.NET的世界开始闹腾了，微软官方终于加入到了对.NET跨平台的支持，并且在不久的将来，我们在VS里面写的代码可能就可以通过Mono直接在Linux和Mac上运行。那么大家（开发者和企业）为什么那么的迫切的希望.NET跨平台呢？第一个理由是便宜，淘宝号称4万多台服务器全部运行在Linux...&lt;a href="http://www.cnblogs.com/jesse2013/p/dlws-loadbalancer.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;
        &lt;/div&gt;
        &lt;ul class="postmetadata"&gt;
        &lt;li class="icon_comment icon_r"&gt;&lt;a id="homepage1_ctl01_rptEntries_lnkCommentCount_3" href="http://www.cnblogs.com/jesse2013/p/dlws-loadbalancer.html#comments"&gt;151 Comment&lt;/a&gt;&lt;/li&gt;
        
        &lt;li id="homepage1_ctl01_rptEntries_liTag_3" class="icon_bullet"&gt;&lt;strong&gt;Tags: &lt;/strong&gt; &lt;a href="http://www.cnblogs.com/jesse2013/tag/web/"&gt;web&lt;/a&gt;, &lt;a href="http://www.cnblogs.com/jesse2013/tag/%e6%9e%b6%e6%9e%84/"&gt;架构&lt;/a&gt;, &lt;a href="http://www.cnblogs.com/jesse2013/tag/%e5%88%86%e5%b8%83%e5%bc%8f/"&gt;分布式&lt;/a&gt; &lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
    
    &lt;script type="text/javascript"&gt; 
    var m = window.__blog.postRendered; 
    if (m) { m(__$("post_3734939")); } 
    &lt;/script&gt;
    
    &lt;div class="post post-list-item" id="post_3643970"&gt;
        &lt;h2&gt;
            &lt;a id="homepage1_ctl01_rptEntries_TitleUrl_4" class="PostTitle" href="http://www.cnblogs.com/jesse2013/p/owin-webserver.html"&gt;一不小心写了个WEB服务器&lt;/a&gt;
        &lt;/h2&gt;
        &lt;small&gt;2014-04-22 08:32 by Jesse Liu, 13965 阅读, &lt;a href="#" onclick="PutInWz();return false;"&gt;收藏&lt;/a&gt;, &lt;a id="homepage1_ctl01_rptEntries_lnkEdit_4" href="http://i.cnblogs.com/EditPosts.aspx?postid=3643970"&gt;编辑&lt;/a&gt;&lt;/small&gt;
        &lt;div class="entry"&gt;
            &lt;div class="c_b_p_desc"&gt;摘要: 开场 Web服务器是啥玩意? 是那个托管了我的网站的机器么? No，虽然那个也是服务器，但是我们今天要说的Web服务器主要是指像IIS这样一类的，用于处理request并返回response的工具，没错我们可以说它是一个工具，不就是一个应用程序吗？谁不会写应用程序呀，等着，三分钟就搞一个出来。We...&lt;a href="http://www.cnblogs.com/jesse2013/p/owin-webserver.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;
        &lt;/div&gt;
        &lt;ul class="postmetadata"&gt;
        &lt;li class="icon_comment icon_r"&gt;&lt;a id="homepage1_ctl01_rptEntries_lnkCommentCount_4" href="http://www.cnblogs.com/jesse2013/p/owin-webserver.html#comments"&gt;71 Comment&lt;/a&gt;&lt;/li&gt;
        
        &lt;li id="homepage1_ctl01_rptEntries_liTag_4" class="icon_bullet"&gt;&lt;strong&gt;Tags: &lt;/strong&gt; &lt;a href="http://www.cnblogs.com/jesse2013/tag/web/"&gt;web&lt;/a&gt;, &lt;a href="http://www.cnblogs.com/jesse2013/tag/.net+framework/"&gt;.net framework&lt;/a&gt;, &lt;a href="http://www.cnblogs.com/jesse2013/tag/ASP.NET/"&gt;ASP.NET&lt;/a&gt;, &lt;a href="http://www.cnblogs.com/jesse2013/tag/Owin/"&gt;Owin&lt;/a&gt; &lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
    
    &lt;script type="text/javascript"&gt; 
    var m = window.__blog.postRendered; 
    if (m) { m(__$("post_3643970")); } 
    &lt;/script&gt;
    
    &lt;div class="post post-list-item" id="post_3624127"&gt;
        &lt;h2&gt;
            &lt;a id="homepage1_ctl01_rptEntries_TitleUrl_5" class="PostTitle" href="http://www.cnblogs.com/jesse2013/p/aspnet-identity-claims-based-authentication-and-owin.html"&gt;MVC5 - ASP.NET Identity登录原理 - Claims-based认证和OWIN&lt;/a&gt;
        &lt;/h2&gt;
        &lt;small&gt;2014-04-01 08:27 by Jesse Liu, 6425 阅读, &lt;a href="#" onclick="PutInWz();return false;"&gt;收藏&lt;/a&gt;, &lt;a id="homepage1_ctl01_rptEntries_lnkEdit_5" href="http://i.cnblogs.com/EditPosts.aspx?postid=3624127"&gt;编辑&lt;/a&gt;&lt;/small&gt;
        &lt;div class="entry"&gt;
            &lt;div class="c_b_p_desc"&gt;摘要: 在Membership系列的最后一篇引入了ASP.NET Identity，看到大家对它还是挺感兴趣的，于是来一篇详解登录原理的文章。本文会涉及到Claims-based（基于声明）的认证，我们会详细介绍什么是Claims-based认证，它与传统认证方式的区别，以及它的特点。同时我们还会介绍OWI...&lt;a href="http://www.cnblogs.com/jesse2013/p/aspnet-identity-claims-based-authentication-and-owin.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;
        &lt;/div&gt;
        &lt;ul class="postmetadata"&gt;
        &lt;li class="icon_comment icon_r"&gt;&lt;a id="homepage1_ctl01_rptEntries_lnkCommentCount_5" href="http://www.cnblogs.com/jesse2013/p/aspnet-identity-claims-based-authentication-and-owin.html#comments"&gt;46 Comment&lt;/a&gt;&lt;/li&gt;
        
        &lt;li id="homepage1_ctl01_rptEntries_liTag_5" class="icon_bullet"&gt;&lt;strong&gt;Tags: &lt;/strong&gt; &lt;a href="http://www.cnblogs.com/jesse2013/tag/Owin/"&gt;Owin&lt;/a&gt;, &lt;a href="http://www.cnblogs.com/jesse2013/tag/Membership/"&gt;Membership&lt;/a&gt; &lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
    
    &lt;script type="text/javascript"&gt; 
    var m = window.__blog.postRendered; 
    if (m) { m(__$("post_3624127")); } 
    &lt;/script&gt;
    
    &lt;div class="post post-list-item" id="post_3583308"&gt;
        &lt;h2&gt;
            &lt;a id="homepage1_ctl01_rptEntries_TitleUrl_6" class="PostTitle" href="http://www.cnblogs.com/jesse2013/p/membership-part3.html"&gt;从Membership 到 .NET4.5 之 ASP.NET Identity&lt;/a&gt;
        &lt;/h2&gt;
        &lt;small&gt;2014-03-19 08:28 by Jesse Liu, 9582 阅读, &lt;a href="#" onclick="PutInWz();return false;"&gt;收藏&lt;/a&gt;, &lt;a id="homepage1_ctl01_rptEntries_lnkEdit_6" href="http://i.cnblogs.com/EditPosts.aspx?postid=3583308"&gt;编辑&lt;/a&gt;&lt;/small&gt;
        &lt;div class="entry"&gt;
            &lt;div class="c_b_p_desc"&gt;摘要: 我们前面已经讨论过了如何在一个网站中集成最基本的Membership功能，然后深入学习了Membership的架构设计。正所谓从实践从来，到实践从去，在我们把Membership的结构吃透之后，我们要完善它，改造它，这样我们才能真正学以致用。今天我们将以用户信息为主线，从SqlMembershipProvider出发，到ASP.NET Simple Membership最后再到MV5中引入的ASP.NET Identity，来看看微软是如何一步一步的改造这套框架的。Membership三步曲之入门篇- Membership 基础示例Membership三步曲之进阶篇-深入剖析Provider &lt;a href="http://www.cnblogs.com/jesse2013/p/membership-part3.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;
        &lt;/div&gt;
        &lt;ul class="postmetadata"&gt;
        &lt;li class="icon_comment icon_r"&gt;&lt;a id="homepage1_ctl01_rptEntries_lnkCommentCount_6" href="http://www.cnblogs.com/jesse2013/p/membership-part3.html#comments"&gt;39 Comment&lt;/a&gt;&lt;/li&gt;
        
        &lt;li id="homepage1_ctl01_rptEntries_liTag_6" class="icon_bullet"&gt;&amp;nbsp; &lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
    
    &lt;script type="text/javascript"&gt; 
    var m = window.__blog.postRendered; 
    if (m) { m(__$("post_3583308")); } 
    &lt;/script&gt;
    
    &lt;div class="post post-list-item" id="post_3588672"&gt;
        &lt;h2&gt;
            &lt;a id="homepage1_ctl01_rptEntries_TitleUrl_7" class="PostTitle" href="http://www.cnblogs.com/jesse2013/p/a-sample-of-single-page-applicaton.html"&gt;bootstrap + requireJS+ director+ knockout + web API = 一个时髦的单页程序&lt;/a&gt;
        &lt;/h2&gt;
        &lt;small&gt;2014-03-11 08:45 by Jesse Liu, 14656 阅读, &lt;a href="#" onclick="PutInWz();return false;"&gt;收藏&lt;/a&gt;, &lt;a id="homepage1_ctl01_rptEntries_lnkEdit_7" href="http://i.cnblogs.com/EditPosts.aspx?postid=3588672"&gt;编辑&lt;/a&gt;&lt;/small&gt;
        &lt;div class="entry"&gt;
            &lt;div class="c_b_p_desc"&gt;摘要: 也许单页程序(Single Page Application)并不是什么时髦的玩意，像Gmail在很早之前就已经在使用这种模式。通常的说法是它通过避免页面刷新大大提高了网站的响应性，像操作桌面应用程序一样。特别是在当今的移动时代，单页程序如果放在移动设备上去浏览就能够拥有像native app一样的...&lt;a href="http://www.cnblogs.com/jesse2013/p/a-sample-of-single-page-applicaton.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;
        &lt;/div&gt;
        &lt;ul class="postmetadata"&gt;
        &lt;li class="icon_comment icon_r"&gt;&lt;a id="homepage1_ctl01_rptEntries_lnkCommentCount_7" href="http://www.cnblogs.com/jesse2013/p/a-sample-of-single-page-applicaton.html#comments"&gt;54 Comment&lt;/a&gt;&lt;/li&gt;
        
        &lt;li id="homepage1_ctl01_rptEntries_liTag_7" class="icon_bullet"&gt;&lt;strong&gt;Tags: &lt;/strong&gt; &lt;a href="http://www.cnblogs.com/jesse2013/tag/web/"&gt;web&lt;/a&gt;, &lt;a href="http://www.cnblogs.com/jesse2013/tag/%e5%89%8d%e7%ab%af/"&gt;前端&lt;/a&gt;, &lt;a href="http://www.cnblogs.com/jesse2013/tag/c%23/"&gt;c#&lt;/a&gt; &lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
    
    &lt;script type="text/javascript"&gt; 
    var m = window.__blog.postRendered; 
    if (m) { m(__$("post_3588672")); } 
    &lt;/script&gt;
    
    &lt;div class="post post-list-item" id="post_3560999"&gt;
        &lt;h2&gt;
            &lt;a id="homepage1_ctl01_rptEntries_TitleUrl_8" class="PostTitle" href="http://www.cnblogs.com/jesse2013/p/async-and-await.html"&gt;async &amp;amp; await 的前世今生（Updated）&lt;/a&gt;
        &lt;/h2&gt;
        &lt;small&gt;2014-02-24 08:24 by Jesse Liu, 10114 阅读, &lt;a href="#" onclick="PutInWz();return false;"&gt;收藏&lt;/a&gt;, &lt;a id="homepage1_ctl01_rptEntries_lnkEdit_8" href="http://i.cnblogs.com/EditPosts.aspx?postid=3560999"&gt;编辑&lt;/a&gt;&lt;/small&gt;
        &lt;div class="entry"&gt;
            &lt;div class="c_b_p_desc"&gt;摘要: async 和 await 出现在C# 5.0之后，给并行编程带来了不少的方便，特别是当在MVC中的Action也变成async之后，有点开始什么都是async的味道了。但是这也给我们编程埋下了一些隐患，有时候可能会产生一些我们自己都不知道怎么产生的Bug，特别是如果连线程基础没有理解的情况下，更不知道如何去处理了。那今天我们就来好好看看这两兄弟和他们的叔叔（Task）爷爷(Thread)们到底有什么区别和特点，本文将会对Thread 到 Task 再到 .NET 4.5的 async和 await，这三种方式下的并行编程作一个概括性的介绍包括：开启线程，线程结果返回，线程中止，线程中的异常处&lt;a href="http://www.cnblogs.com/jesse2013/p/async-and-await.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;
        &lt;/div&gt;
        &lt;ul class="postmetadata"&gt;
        &lt;li class="icon_comment icon_r"&gt;&lt;a id="homepage1_ctl01_rptEntries_lnkCommentCount_8" href="http://www.cnblogs.com/jesse2013/p/async-and-await.html#comments"&gt;89 Comment&lt;/a&gt;&lt;/li&gt;
        
        &lt;li id="homepage1_ctl01_rptEntries_liTag_8" class="icon_bullet"&gt;&amp;nbsp; &lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
    
    &lt;script type="text/javascript"&gt; 
    var m = window.__blog.postRendered; 
    if (m) { m(__$("post_3560999")); } 
    &lt;/script&gt;
    
    &lt;div class="post post-list-item" id="post_3546546"&gt;
        &lt;h2&gt;
            &lt;a id="homepage1_ctl01_rptEntries_TitleUrl_9" class="PostTitle" href="http://www.cnblogs.com/jesse2013/p/membership-part2.html"&gt;Membership三步曲之进阶篇 - 深入剖析Provider Model&lt;/a&gt;
        &lt;/h2&gt;
        &lt;small&gt;2014-02-17 08:54 by Jesse Liu, 2275 阅读, &lt;a href="#" onclick="PutInWz();return false;"&gt;收藏&lt;/a&gt;, &lt;a id="homepage1_ctl01_rptEntries_lnkEdit_9" href="http://i.cnblogs.com/EditPosts.aspx?postid=3546546"&gt;编辑&lt;/a&gt;&lt;/small&gt;
        &lt;div class="entry"&gt;
            &lt;div class="c_b_p_desc"&gt;摘要: Membership 三步曲之进阶篇 -深入剖析Provider Model 本文的目标是让每一个人都知道Provider Model 是什么，并且能灵活的在自己的项目中使用它。Membership三步曲之入门篇- Membership 基础示例Membership三步曲之进阶篇-深入剖析Pr...&lt;a href="http://www.cnblogs.com/jesse2013/p/membership-part2.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;
        &lt;/div&gt;
        &lt;ul class="postmetadata"&gt;
        &lt;li class="icon_comment icon_r"&gt;&lt;a id="homepage1_ctl01_rptEntries_lnkCommentCount_9" href="http://www.cnblogs.com/jesse2013/p/membership-part2.html#comments"&gt;14 Comment&lt;/a&gt;&lt;/li&gt;
        
        &lt;li id="homepage1_ctl01_rptEntries_liTag_9" class="icon_bullet"&gt;&lt;strong&gt;Tags: &lt;/strong&gt; &lt;a href="http://www.cnblogs.com/jesse2013/tag/Membership/"&gt;Membership&lt;/a&gt;, &lt;a href="http://www.cnblogs.com/jesse2013/tag/.net+framework/"&gt;.net framework&lt;/a&gt; &lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
    
    &lt;script type="text/javascript"&gt; 
    var m = window.__blog.postRendered; 
    if (m) { m(__$("post_3546546")); } 
    &lt;/script&gt;
    
    &lt;div class="post post-list-item" id="post_3547549"&gt;
        &lt;h2&gt;
            &lt;a id="homepage1_ctl01_rptEntries_TitleUrl_10" class="PostTitle" href="http://www.cnblogs.com/jesse2013/p/who-is-professional.html"&gt;谈谈我心目中理想的牛人&lt;/a&gt;
        &lt;/h2&gt;
        &lt;small&gt;2014-02-13 10:01 by Jesse Liu, 4802 阅读, &lt;a href="#" onclick="PutInWz();return false;"&gt;收藏&lt;/a&gt;, &lt;a id="homepage1_ctl01_rptEntries_lnkEdit_10" href="http://i.cnblogs.com/EditPosts.aspx?postid=3547549"&gt;编辑&lt;/a&gt;&lt;/small&gt;
        &lt;div class="entry"&gt;
            &lt;div class="c_b_p_desc"&gt;摘要: 博客园作为一个技术社区，在这里面已经涌现了一个又一个的牛人。同时我相信大家也是伴随着牛人们一起成长起来的，如今牛人还是牛人，只是时间的专注点不一样了而已。但问题是，你离牛人的距离还差多少呢？ 博客园不光是一个纯的技术社区，这里还有开发者们的互相鼓励，当然也有谩骂。有人在这里抱怨，有人在这里在这里写下新年的目标，有人在这里面感叹时间飞逝，而自己依旧不是牛人:)。那我就来这里说说我心目中的牛人应该具备的品质，大家一起共勉。先看看是为什么做软件开发，以及打算怎么做软件开发 我打算一张图说明问题，你们看着办吧。 首先专注 一个人的精力是有限的，不可能对每一种技术都精通。所以我认为牛人都是首...&lt;a href="http://www.cnblogs.com/jesse2013/p/who-is-professional.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;
        &lt;/div&gt;
        &lt;ul class="postmetadata"&gt;
        &lt;li class="icon_comment icon_r"&gt;&lt;a id="homepage1_ctl01_rptEntries_lnkCommentCount_10" href="http://www.cnblogs.com/jesse2013/p/who-is-professional.html#comments"&gt;27 Comment&lt;/a&gt;&lt;/li&gt;
        
        &lt;li id="homepage1_ctl01_rptEntries_liTag_10" class="icon_bullet"&gt;&amp;nbsp; &lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
    
    &lt;script type="text/javascript"&gt; 
    var m = window.__blog.postRendered; 
    if (m) { m(__$("post_3547549")); } 
    &lt;/script&gt;
    
    &lt;div class="post post-list-item" id="post_3541288"&gt;
        &lt;h2&gt;
            &lt;a id="homepage1_ctl01_rptEntries_TitleUrl_11" class="PostTitle" href="http://www.cnblogs.com/jesse2013/p/membership.html"&gt;Membership三步曲之入门篇 - Membership基础示例&lt;/a&gt;
        &lt;/h2&gt;
        &lt;small&gt;2014-02-12 08:58 by Jesse Liu, 3794 阅读, &lt;a href="#" onclick="PutInWz();return false;"&gt;收藏&lt;/a&gt;, &lt;a id="homepage1_ctl01_rptEntries_lnkEdit_11" href="http://i.cnblogs.com/EditPosts.aspx?postid=3541288"&gt;编辑&lt;/a&gt;&lt;/small&gt;
        &lt;div class="entry"&gt;
            &lt;div class="c_b_p_desc"&gt;摘要: Membership 三步曲之入门篇 -Membership基础示例Membership三步曲之入门篇- Membership基础示例Membership三步曲之进阶篇 - 深入剖析Provider modelMembership三步曲之高级篇 - 从Membership 到 .NET 4.5 之 AspNet.Identity Membership是ASP.NET为我们提供的一套验证和存储用户凭证的框架。它可以帮助我们快速的开发用户登录、管理以及权限验证相关的模块，很多人可能会说Membership开发起来确实很快，但是总是和需求有那么一点不匹配，那我们就要用到Membership的自...&lt;a href="http://www.cnblogs.com/jesse2013/p/membership.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;
        &lt;/div&gt;
        &lt;ul class="postmetadata"&gt;
        &lt;li class="icon_comment icon_r"&gt;&lt;a id="homepage1_ctl01_rptEntries_lnkCommentCount_11" href="http://www.cnblogs.com/jesse2013/p/membership.html#comments"&gt;17 Comment&lt;/a&gt;&lt;/li&gt;
        
        &lt;li id="homepage1_ctl01_rptEntries_liTag_11" class="icon_bullet"&gt;&lt;strong&gt;Tags: &lt;/strong&gt; &lt;a href="http://www.cnblogs.com/jesse2013/tag/ASP.NET/"&gt;ASP.NET&lt;/a&gt; &lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
    
    &lt;script type="text/javascript"&gt; 
    var m = window.__blog.postRendered; 
    if (m) { m(__$("post_3541288")); } 
    &lt;/script&gt;
    
    &lt;div class="post post-list-item" id="post_3512692"&gt;
        &lt;h2&gt;
            &lt;a id="homepage1_ctl01_rptEntries_TitleUrl_12" class="PostTitle" href="http://www.cnblogs.com/jesse2013/p/expressiontree-Linq-to-cnblogs.html"&gt;由浅入深表达式树（完结篇）重磅打造 Linq To 博客园&lt;/a&gt;
        &lt;/h2&gt;
        &lt;small&gt;2014-01-13 08:52 by Jesse Liu, 7201 阅读, &lt;a href="#" onclick="PutInWz();return false;"&gt;收藏&lt;/a&gt;, &lt;a id="homepage1_ctl01_rptEntries_lnkEdit_12" href="http://i.cnblogs.com/EditPosts.aspx?postid=3512692"&gt;编辑&lt;/a&gt;&lt;/small&gt;
        &lt;div class="entry"&gt;
            &lt;div class="c_b_p_desc"&gt;摘要: 一个多月之后，由浅入深表达式系列的最后一篇终于要问世了。想对所有关注的朋友说声：“对不起，我来晚了！” 希望最后一篇的内容对得起这一个月时间的等待。在学习完表达式树的创建和遍历之后，我们要利用它的特性来写一个我们自己的Linq Provider。人家都有Linq to Amazon为什么我们不能有Linq to cnblogs呢？今天我们就来一步一步的打造自己的Linq Provider,文章未尾已附上源码下载地址。如果对于表达式树的创建和遍历还是熟悉的话，建议先看前面两篇： 创建表达式树 http://www.cnblogs.com/jesse2013/p/expressiontre...&lt;a href="http://www.cnblogs.com/jesse2013/p/expressiontree-Linq-to-cnblogs.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;
        &lt;/div&gt;
        &lt;ul class="postmetadata"&gt;
        &lt;li class="icon_comment icon_r"&gt;&lt;a id="homepage1_ctl01_rptEntries_lnkCommentCount_12" href="http://www.cnblogs.com/jesse2013/p/expressiontree-Linq-to-cnblogs.html#comments"&gt;43 Comment&lt;/a&gt;&lt;/li&gt;
        
        &lt;li id="homepage1_ctl01_rptEntries_liTag_12" class="icon_bullet"&gt;&lt;strong&gt;Tags: &lt;/strong&gt; &lt;a href="http://www.cnblogs.com/jesse2013/tag/c%23/"&gt;c#&lt;/a&gt;, &lt;a href="http://www.cnblogs.com/jesse2013/tag/expression+tree/"&gt;expression tree&lt;/a&gt; &lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
    
    &lt;script type="text/javascript"&gt; 
    var m = window.__blog.postRendered; 
    if (m) { m(__$("post_3512692")); } 
    &lt;/script&gt;
    
    &lt;div class="post post-list-item" id="post_3509557"&gt;
        &lt;h2&gt;
            &lt;a id="homepage1_ctl01_rptEntries_TitleUrl_13" class="PostTitle" href="http://www.cnblogs.com/jesse2013/p/the-part-of-javascript-you-must-know.html"&gt;你必须知道的Javascript 系列&lt;/a&gt;
        &lt;/h2&gt;
        &lt;small&gt;2014-01-07 21:13 by Jesse Liu, 1252 阅读, &lt;a href="#" onclick="PutInWz();return false;"&gt;收藏&lt;/a&gt;, &lt;a id="homepage1_ctl01_rptEntries_lnkEdit_13" href="http://i.cnblogs.com/EditPosts.aspx?postid=3509557"&gt;编辑&lt;/a&gt;&lt;/small&gt;
        &lt;div class="entry"&gt;
            &lt;div class="c_b_p_desc"&gt;摘要: JavaScript是见过最多人说它“有趣”，“好玩”的一门语言。不仅仅是因为它的灵活性，包括它本身很多的特性，比如说原型链，作用域链都是非常好玩的东西。现在已经有很多的JavaScript设计模式，各种方便我们使用的类库，但是你真的懂JavaScript吗？ 最近写了三篇关于JavaScript非常基础，但是很本质的东西，放一个链接在这里分享给大家。 第一篇主讲：类型 http://www.cnblogs.com/jesse2013/p/the-essence-of-javascript-you-have-to-know.html 光知道5种基本类型以及1种复杂类型那是远远不...&lt;a href="http://www.cnblogs.com/jesse2013/p/the-part-of-javascript-you-must-know.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;
        &lt;/div&gt;
        &lt;ul class="postmetadata"&gt;
        &lt;li class="icon_comment icon_r"&gt;&lt;a id="homepage1_ctl01_rptEntries_lnkCommentCount_13" href="http://www.cnblogs.com/jesse2013/p/the-part-of-javascript-you-must-know.html#comments"&gt;2 Comment&lt;/a&gt;&lt;/li&gt;
        
        &lt;li id="homepage1_ctl01_rptEntries_liTag_13" class="icon_bullet"&gt;&amp;nbsp; &lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
    
    &lt;script type="text/javascript"&gt; 
    var m = window.__blog.postRendered; 
    if (m) { m(__$("post_3509557")); } 
    &lt;/script&gt;
    
    &lt;div class="post post-list-item" id="post_3495830"&gt;
        &lt;h2&gt;
            &lt;a id="homepage1_ctl01_rptEntries_TitleUrl_14" class="PostTitle" href="http://www.cnblogs.com/jesse2013/p/the-essence-of-javascript-you-have-to-know-part3.html"&gt;Javascript基础回顾 之(三) 面向对象&lt;/a&gt;
        &lt;/h2&gt;
        &lt;small&gt;2014-01-06 09:26 by Jesse Liu, 1384 阅读, &lt;a href="#" onclick="PutInWz();return false;"&gt;收藏&lt;/a&gt;, &lt;a id="homepage1_ctl01_rptEntries_lnkEdit_14" href="http://i.cnblogs.com/EditPosts.aspx?postid=3495830"&gt;编辑&lt;/a&gt;&lt;/small&gt;
        &lt;div class="entry"&gt;
            &lt;div class="c_b_p_desc"&gt;摘要: 本来是要继续由浅入深表达式系列最后一篇的，但是最近团队突然就忙起来了，从来没有过的忙！不过喜欢表达式的朋友请放心，已经在写了:)在工作当中发现大家对Javascript的一些基本原理普遍存在这里或者那里的一知半解，所以决定先花一些时间整理一下这些基础知识和大家分享。 后面会附上培训用的PPT。刚开始是打算写一篇的，但是后来写着写着就发现越来越多，所以决定还是写一个系列吧。本系列所有内容都是涉及Javascript基础的，没有时髦的玩意儿，但是我相信这些基础的东西会有助于你理解那些有趣的东西的。Javascript基础回顾之(一) 类型Javascript基础回顾之(二) 作用域Javascri&lt;a href="http://www.cnblogs.com/jesse2013/p/the-essence-of-javascript-you-have-to-know-part3.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;
        &lt;/div&gt;
        &lt;ul class="postmetadata"&gt;
        &lt;li class="icon_comment icon_r"&gt;&lt;a id="homepage1_ctl01_rptEntries_lnkCommentCount_14" href="http://www.cnblogs.com/jesse2013/p/the-essence-of-javascript-you-have-to-know-part3.html#comments"&gt;7 Comment&lt;/a&gt;&lt;/li&gt;
        
        &lt;li id="homepage1_ctl01_rptEntries_liTag_14" class="icon_bullet"&gt;&amp;nbsp; &lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
    
    &lt;script type="text/javascript"&gt; 
    var m = window.__blog.postRendered; 
    if (m) { m(__$("post_3495830")); } 
    &lt;/script&gt;
    
    &lt;div class="post post-list-item" id="post_3495631"&gt;
        &lt;h2&gt;
            &lt;a id="homepage1_ctl01_rptEntries_TitleUrl_15" class="PostTitle" href="http://www.cnblogs.com/jesse2013/p/the-essence-of-javascript-you-have-to-know-part2.html"&gt;Javascript基础回顾 之(二) 作用域&lt;/a&gt;
        &lt;/h2&gt;
        &lt;small&gt;2013-12-31 09:00 by Jesse Liu, 1408 阅读, &lt;a href="#" onclick="PutInWz();return false;"&gt;收藏&lt;/a&gt;, &lt;a id="homepage1_ctl01_rptEntries_lnkEdit_15" href="http://i.cnblogs.com/EditPosts.aspx?postid=3495631"&gt;编辑&lt;/a&gt;&lt;/small&gt;
        &lt;div class="entry"&gt;
            &lt;div class="c_b_p_desc"&gt;摘要: 本来是要继续由浅入深表达式系列最后一篇的，但是最近团队突然就忙起来了，从来没有过的忙！不过喜欢表达式的朋友请放心，已经在写了:)在工作当中发现大家对Javascript的一些基本原理普遍存在这里或者那里的一知半解，所以决定先花一些时间整理一下这些基础知识和大家分享。 后面会附上培训用的PPT。刚开始是打算写一篇的，但是后来写着写着就发现越来越多，所以决定还是写一个系列吧。本系列所有内容都是涉及Javascript基础的，没有时髦的玩意儿，但是我相信这些基础的东西会有助于你理解那些有趣的东西的。Javascript基础回顾之(一) 类型Javascript基础回顾之(二) 作用域Javasc..&lt;a href="http://www.cnblogs.com/jesse2013/p/the-essence-of-javascript-you-have-to-know-part2.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;
        &lt;/div&gt;
        &lt;ul class="postmetadata"&gt;
        &lt;li class="icon_comment icon_r"&gt;&lt;a id="homepage1_ctl01_rptEntries_lnkCommentCount_15" href="http://www.cnblogs.com/jesse2013/p/the-essence-of-javascript-you-have-to-know-part2.html#comments"&gt;7 Comment&lt;/a&gt;&lt;/li&gt;
        
        &lt;li id="homepage1_ctl01_rptEntries_liTag_15" class="icon_bullet"&gt;&amp;nbsp; &lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
    
    &lt;script type="text/javascript"&gt; 
    var m = window.__blog.postRendered; 
    if (m) { m(__$("post_3495631")); } 
    &lt;/script&gt;
    
    &lt;div class="post post-list-item" id="post_3495039"&gt;
        &lt;h2&gt;
            &lt;a id="homepage1_ctl01_rptEntries_TitleUrl_16" class="PostTitle" href="http://www.cnblogs.com/jesse2013/p/the-essence-of-javascript-you-have-to-know.html"&gt;Javascript基础回顾 之(一) 类型&lt;/a&gt;
        &lt;/h2&gt;
        &lt;small&gt;2013-12-30 08:58 by Jesse Liu, 2055 阅读, &lt;a href="#" onclick="PutInWz();return false;"&gt;收藏&lt;/a&gt;, &lt;a id="homepage1_ctl01_rptEntries_lnkEdit_16" href="http://i.cnblogs.com/EditPosts.aspx?postid=3495039"&gt;编辑&lt;/a&gt;&lt;/small&gt;
        &lt;div class="entry"&gt;
            &lt;div class="c_b_p_desc"&gt;摘要: 本来是要继续由浅入深表达式系列最后一篇的，但是最近团队突然就忙起来了，从来没有过的忙！不过喜欢表达式的朋友请放心，已经在写了:)在工作当中发现大家对Javascript的一些基本原理普遍存在这里或者那里的一知半解，所以决定先花一些时间整理一下这些基础知识和大家分享。 刚开始是打算写一篇的，但是后...&lt;a href="http://www.cnblogs.com/jesse2013/p/the-essence-of-javascript-you-have-to-know.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;
        &lt;/div&gt;
        &lt;ul class="postmetadata"&gt;
        &lt;li class="icon_comment icon_r"&gt;&lt;a id="homepage1_ctl01_rptEntries_lnkCommentCount_16" href="http://www.cnblogs.com/jesse2013/p/the-essence-of-javascript-you-have-to-know.html#comments"&gt;20 Comment&lt;/a&gt;&lt;/li&gt;
        
        &lt;li id="homepage1_ctl01_rptEntries_liTag_16" class="icon_bullet"&gt;&lt;strong&gt;Tags: &lt;/strong&gt; &lt;a href="http://www.cnblogs.com/jesse2013/tag/javascript/"&gt;javascript&lt;/a&gt; &lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
    
    &lt;script type="text/javascript"&gt; 
    var m = window.__blog.postRendered; 
    if (m) { m(__$("post_3495039")); } 
    &lt;/script&gt;
    
    &lt;div class="post post-list-item" id="post_3479633"&gt;
        &lt;h2&gt;
            &lt;a id="homepage1_ctl01_rptEntries_TitleUrl_17" class="PostTitle" href="http://www.cnblogs.com/jesse2013/p/how-to-learn-english.html"&gt;暴力英语学习法 + 严格的目标管理 = 成功快速靠谱的学好英语&lt;/a&gt;
        &lt;/h2&gt;
        &lt;small&gt;2013-12-18 08:53 by Jesse Liu, 25106 阅读, &lt;a href="#" onclick="PutInWz();return false;"&gt;收藏&lt;/a&gt;, &lt;a id="homepage1_ctl01_rptEntries_lnkEdit_17" href="http://i.cnblogs.com/EditPosts.aspx?postid=3479633"&gt;编辑&lt;/a&gt;&lt;/small&gt;
        &lt;div class="entry"&gt;
            &lt;div class="c_b_p_desc"&gt;摘要: Updated: 留下邮件的同学，我已经将链接发到你们邮件了，没有留邮箱的同学，你们就自己到下面拿链接和密码下载吧。:) 园子里时不时就吹起一阵学英语的浪潮，不少同鞋表示一直想学，或者一直在学，就是效果不明显（你躺枪了么？）相信自己或者身边的人都或多或少吃了英语弱的当（你懂的，我们重点在说薪水的问题:)。而各种英语成功学，方法论，版本是一个接一个层出不穷。今天我们不说为什么要学好英语，好处太多而且已经广为流传了，我们主要结合目标管理来讨论一下如何坚定不移的，快速的学好英语。以我自己的亲身经历作样板，以下情况全部属实，绝无虚构。 先说说我在开始学英语之前的情况：时间：2012年2月，已工...&lt;a href="http://www.cnblogs.com/jesse2013/p/how-to-learn-english.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;
        &lt;/div&gt;
        &lt;ul class="postmetadata"&gt;
        &lt;li class="icon_comment icon_r"&gt;&lt;a id="homepage1_ctl01_rptEntries_lnkCommentCount_17" href="http://www.cnblogs.com/jesse2013/p/how-to-learn-english.html#comments"&gt;569 Comment&lt;/a&gt;&lt;/li&gt;
        
        &lt;li id="homepage1_ctl01_rptEntries_liTag_17" class="icon_bullet"&gt;&amp;nbsp; &lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
    
    &lt;script type="text/javascript"&gt; 
    var m = window.__blog.postRendered; 
    if (m) { m(__$("post_3479633")); } 
    &lt;/script&gt;
    
    &lt;div class="post post-list-item" id="post_3458327"&gt;
        &lt;h2&gt;
            &lt;a id="homepage1_ctl01_rptEntries_TitleUrl_18" class="PostTitle" href="http://www.cnblogs.com/jesse2013/p/expressiontree-part2.html"&gt;由浅入深表达式树（二）遍历表达式树&lt;/a&gt;
        &lt;/h2&gt;
        &lt;small&gt;2013-12-05 08:44 by Jesse Liu, 5179 阅读, &lt;a href="#" onclick="PutInWz();return false;"&gt;收藏&lt;/a&gt;, &lt;a id="homepage1_ctl01_rptEntries_lnkEdit_18" href="http://i.cnblogs.com/EditPosts.aspx?postid=3458327"&gt;编辑&lt;/a&gt;&lt;/small&gt;
        &lt;div class="entry"&gt;
            &lt;div class="c_b_p_desc"&gt;摘要: 为什么要学习表达式树？表达式树是将我们原来可以直接由代码编写的逻辑以表达式的方式存储在树状的结构里，从而可以在运行时去解析这个树，然后执行，实现动态的编辑和执行代码。LINQ to SQL就是通过把表达式树翻译成SQL来实现的，所以了解表达树有助于我们更好的理解 LINQ to SQL，同时如果你有兴趣，可以用它创造出很多有意思的东西来。 表达式树是随着.NET 3.5推出的，所以现在也不算什么新技术了。但是不知道多少人是对它理解的很透彻， 在上一篇Lambda表达式的回复中就看的出大家对Lambda表达式和表达式树还是比较感兴趣的，那我们就来好好的看一看这个造就了LINQ to SQL...&lt;a href="http://www.cnblogs.com/jesse2013/p/expressiontree-part2.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;
        &lt;/div&gt;
        &lt;ul class="postmetadata"&gt;
        &lt;li class="icon_comment icon_r"&gt;&lt;a id="homepage1_ctl01_rptEntries_lnkCommentCount_18" href="http://www.cnblogs.com/jesse2013/p/expressiontree-part2.html#comments"&gt;29 Comment&lt;/a&gt;&lt;/li&gt;
        
        &lt;li id="homepage1_ctl01_rptEntries_liTag_18" class="icon_bullet"&gt;&amp;nbsp; &lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
    
    &lt;script type="text/javascript"&gt; 
    var m = window.__blog.postRendered; 
    if (m) { m(__$("post_3458327")); } 
    &lt;/script&gt;
    
    &lt;div class="post post-list-item" id="post_3440852"&gt;
        &lt;h2&gt;
            &lt;a id="homepage1_ctl01_rptEntries_TitleUrl_19" class="PostTitle" href="http://www.cnblogs.com/jesse2013/p/expressiontree-part1.html"&gt;由浅入深表达式树（一）创建表达式树&lt;/a&gt;
        &lt;/h2&gt;
        &lt;small&gt;2013-11-25 09:18 by Jesse Liu, 6667 阅读, &lt;a href="#" onclick="PutInWz();return false;"&gt;收藏&lt;/a&gt;, &lt;a id="homepage1_ctl01_rptEntries_lnkEdit_19" href="http://i.cnblogs.com/EditPosts.aspx?postid=3440852"&gt;编辑&lt;/a&gt;&lt;/small&gt;
        &lt;div class="entry"&gt;
            &lt;div class="c_b_p_desc"&gt;摘要: 为什么要学习表达式树？表达式树是将我们原来可以直接由代码编写的逻辑以表达式的方式存储在树状的结构里，从而可以在运行时去解析这个树，然后执行，实现动态的编辑和执行代码。LINQ to SQL就是通过把表达式树翻译成SQL来实现的，所以了解表达树有助于我们更好的理解 LINQ to SQL，同时如果你有兴趣，可以用它创造出很多有意思的东西来。 表达式树是随着.NET 3.5推出的，所以现在也不算什么新技术了。但是不知道多少人是对它理解的很透彻， 在上一篇Lambda表达式的回复中就看的出大家对Lambda表达式和表达式树还是比较感兴趣的，那我们就来好好的看一看这个造就了LINQ to SQL...&lt;a href="http://www.cnblogs.com/jesse2013/p/expressiontree-part1.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;
        &lt;/div&gt;
        &lt;ul class="postmetadata"&gt;
        &lt;li class="icon_comment icon_r"&gt;&lt;a id="homepage1_ctl01_rptEntries_lnkCommentCount_19" href="http://www.cnblogs.com/jesse2013/p/expressiontree-part1.html#comments"&gt;33 Comment&lt;/a&gt;&lt;/li&gt;
        
        &lt;li id="homepage1_ctl01_rptEntries_liTag_19" class="icon_bullet"&gt;&amp;nbsp; &lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
    
    &lt;script type="text/javascript"&gt; 
    var m = window.__blog.postRendered; 
    if (m) { m(__$("post_3440852")); } 
    &lt;/script&gt;
    

&lt;script type="text/javascript"&gt;
    var m = window.__blog.postRenderPosts;
    if (m) { m(); }
&lt;/script&gt;

&lt;div&gt;
    &lt;div id="pager"&gt;&lt;a href="http://www.cnblogs.com/jesse2013/default.aspx?page=2"&gt;下一页&lt;/a&gt;&lt;/div&gt;
    
&lt;/div&gt;


        &lt;/div&gt;

        &lt;script type="text/javascript"&gt;
            var m = window.__blog.contentRendered;
            if (m) { m(__$("content")); }
        &lt;/script&gt;

        &lt;div id="sidebar"&gt;
            
&lt;div id="about"&gt;
&lt;div&gt;
&lt;h2 id="about_title"&gt;About&lt;/h2&gt;
&lt;div id="about_body"&gt;
&lt;div id="blog-news"&gt;&lt;/div&gt;
&lt;script type="text/javascript"&gt;loadBlogNews();&lt;/script&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;

            &lt;script type="text/javascript"&gt;
                var m = window.__blog.aboutRendered;
                if (m) { m(__$("about")); }
            &lt;/script&gt;
            
&lt;div id="mySearchWrapper"&gt;
    &lt;div id="mySearch"&gt;
        &lt;input type="image" src="/skins/Minyx2_Lite/images/btnsearch.gif" id="btnZzk" class="submit" onclick="zzk_go();return false;"&gt;
        &lt;label class="lb_search"&gt;&lt;input type="text" id="q" onkeydown="return zzk_go_enter(event);" class="keyword"&gt;&lt;/label&gt;
    &lt;/div&gt;
&lt;/div&gt;

            &lt;script type="text/javascript"&gt;
                var m = window.__blog.searchFormRendered;
                if (m) { m(__$("searchform")); }
            &lt;/script&gt;
            &lt;div id="sideMain"&gt;
            &lt;/div&gt;
            &lt;div id="sideRight"&gt;
            &lt;/div&gt;
            &lt;div id="sideLeft"&gt;
            &lt;/div&gt;
            
                &lt;div id="sideContainer"&gt;
                &lt;/div&gt;
                &lt;script type="text/javascript"&gt;
                    $.ajax({
                        url: '/' + currentBlogApp + '/mvc/blog/Minyx2_Lite_SideColumn.aspx',
                        data: '{}',
                        type: 'post',
                        dataType: 'text',
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            if (data) {
                                $("#sideContainer").html(data);
                                loadBlogDefaultCalendar();
                                loadBlogSideBlocks();
                                var m = window.__blog.sideContainerRendered;
                                if (m) { m(__$("sideContainer")); }
                                window.__blog.sidebar.__layout();
                            }
                        }
                    });

                &lt;/script&gt;
            
        &lt;/div&gt;

        &lt;script type="text/javascript"&gt;
            var m = window.__blog.sidebarRendered;
            if (m) { m(__$("sidebar")); }
        &lt;/script&gt;

        &lt;div id="footer"&gt;
            
&lt;p id="logoFoot"&gt;
    &lt;a href="http://www.spiga.com.mx/" title="Agencia Interactiva Spiga"&gt;www.spiga.com.mx&lt;/a&gt;
&lt;/p&gt;
&lt;div class="footText"&gt;
&lt;p&gt;
Copyright &amp;copy;2014 Jesse Liu
&lt;/p&gt;
&lt;p&gt;
&lt;a href="http://www.cnblogs.com"&gt;博客园&lt;/a&gt;
&lt;/p&gt;
&lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;

    &lt;script type="text/javascript"&gt;
        var m = window.__blog.wrapperRendered;
        if (m) { m(__$("wrapper")); }
    &lt;/script&gt;

&lt;/div&gt;
&lt;script type="text/javascript"&gt;
    var m = window.__blog.containerRendered;
    if (m) { m(__$("container")); }
&lt;/script&gt;
&lt;/body&gt;
&lt;/html&gt;
</Html>
	<HtmlMetas i:nil="true" />
	<HtmlTitle i:nil="true" />
	<IsDefault>false</IsDefault>
	<Layout i:nil="true" />
	<Name>-jesse2013-</Name>
	<OutputCache i:nil="true" />
	<PageContents xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
	<Plugins xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<Published>false</Published>
	<RequireHttps>false</RequireHttps>
	<Routes>
		<PageRoute>
			<Defaults xmlns:d4p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
			<Identifier>/jesse2013/</Identifier>
			<RoutePath i:nil="true" />
		</PageRoute>
	</Routes>
	<Scripts i:nil="true" />
	<Site>
		<AbsoluteName xmlns="Ovaldi.Core.Models">Cnblogs</AbsoluteName>
	</Site>
	<Styles i:nil="true" />
	<UUID>-jesse2013-</UUID>
</Page>