<?xml version="1.0" encoding="utf-8"?>
<Page xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Ovaldi.Core.Models">
	<AbsoluteName>-zhouhongyu1989-p-3896262.html</AbsoluteName>
	<CustomFields xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<EnableScript>true</EnableScript>
	<EnableTheming>true</EnableTheming>
	<Html>&lt;!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"&gt;
&lt;html xmlns="http://www.w3.org/1999/xhtml" lang="zh-cn"&gt;
&lt;head&gt;
&lt;meta http-equiv="Content-Type" content="text/html; charset=utf-8"&gt;
&lt;title&gt;ASP.NET Button控件的UseSubmitBehavior属性引发的血案 - 我不会抽烟Oscar - 博客园&lt;/title&gt;
&lt;link type="text/css" rel="stylesheet" href="/preview~Cnblogs/Styles/bundles/blog-common.css"&gt;
&lt;link id="MainCss" type="text/css" rel="stylesheet" href="/preview~Cnblogs/Styles/skins/arrow/bundle-arrow.css"&gt;
&lt;link title="RSS" type="application/rss+xml" rel="alternate" href="http://www.cnblogs.com/zhouhongyu1989/rss"&gt;
&lt;link title="RSD" type="application/rsd+xml" rel="EditURI" href="http://www.cnblogs.com/zhouhongyu1989/rsd.xml"&gt;
&lt;link type="application/wlwmanifest+xml" rel="wlwmanifest" href="http://www.cnblogs.com/zhouhongyu1989/wlwmanifest.xml"&gt;
&lt;script src="http://common.cnblogs.com/script/jquery.js" type="text/javascript"&gt;&lt;/script&gt;  
&lt;script type="text/javascript"&gt;var currentBlogApp = 'zhouhongyu1989', cb_enable_mathjax=true;&lt;/script&gt;
&lt;script src="/preview~Cnblogs/Scripts/bundles/blog-common.js" type="text/javascript"&gt;&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;a name="top"&gt;&lt;/a&gt;

&lt;!--done--&gt;
&lt;div id="header"&gt;
	
&lt;!--done--&gt;
&lt;div class="header"&gt;
	&lt;div class="headerText"&gt;
		&lt;a id="Header1_HeaderTitle" class="headermaintitle" href="http://www.cnblogs.com/zhouhongyu1989/"&gt;我不会抽烟Oscar&lt;/a&gt;&lt;br&gt;
		
	&lt;/div&gt;
&lt;/div&gt;

&lt;/div&gt;
&lt;div id="mylinks"&gt;
&lt;!--done--&gt;
&lt;a id="MyLinks1_HomeLink" class="menu" href="http://www.cnblogs.com/"&gt;博客园&lt;/a&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;
&lt;a id="MyLinks1_MyHomeLink" class="menu" href="http://www.cnblogs.com/zhouhongyu1989/"&gt;首页&lt;/a&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;
&lt;a id="MyLinks1_NewPostLink" class="menu" rel="nofollow" href="http://i.cnblogs.com/EditPosts.aspx?opt=1"&gt;新随笔&lt;/a&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;
&lt;a id="MyLinks1_ContactLink" accesskey="9" class="menu" rel="nofollow" href="http://space.cnblogs.com/msg/send/%e6%88%91%e4%b8%8d%e4%bc%9a%e6%8a%bd%e7%83%9fOscar"&gt;联系&lt;/a&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;
&lt;a id="MyLinks1_Syndication" class="menu" href="http://www.cnblogs.com/zhouhongyu1989/rss"&gt;订阅&lt;/a&gt;&lt;a id="MyLinks1_XMLLink" href="http://www.cnblogs.com/zhouhongyu1989/rss"&gt;&lt;img src="/preview~Cnblogs/Images/images/xml.gif" alt="订阅"&gt;&lt;/a&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;
&lt;a id="MyLinks1_Admin" class="menu" rel="nofollow" href="http://i.cnblogs.com/"&gt;管理&lt;/a&gt;
&lt;/div&gt;
&lt;div id="mytopmenu"&gt;
	
		
&lt;div class="blogStats"&gt;随笔 - 18&amp;nbsp;
文章 - 0&amp;nbsp;评论 - 118&amp;nbsp;trackbacks - 0
&lt;/div&gt;
	
&lt;/div&gt;
&lt;div id="leftcontent"&gt;
	
		&lt;div id="leftcontentcontainer"&gt;
			&lt;div id="blog-calendar" style="display:none"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;loadBlogDefaultCalendar();&lt;/script&gt;&lt;br&gt;
			
&lt;!--done--&gt;
&lt;div class="newsItem"&gt;
	&lt;div id="blog-news"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;loadBlogNews();&lt;/script&gt;
&lt;/div&gt;

			&lt;div id="blog-sidecolumn"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;loadBlogSideColumn();&lt;/script&gt;&lt;/div&gt;		
	
&lt;/div&gt;
&lt;div id="centercontent"&gt;
	

&lt;!--done--&gt;
&lt;div class="post"&gt;
	&lt;div class="postTitle"&gt;
		&lt;h1&gt;&lt;a id="cb_post_title_url" class="postTitle2" href="http://www.cnblogs.com/zhouhongyu1989/p/3896262.html"&gt;ASP.NET Button控件的UseSubmitBehavior属性引发的血案&lt;/a&gt;&lt;/h1&gt;
	&lt;/div&gt;
	&lt;div id="cnblogs_post_body"&gt;&lt;p&gt;这里先不说标题上的&lt;span style="color: #0000ff;"&gt;UseSubmitBehavior&lt;/span&gt;属性是什么，先说下面这种情况。&lt;/p&gt;
&lt;p&gt;通常，在我们写一个表单页面的时候，最下方会有&amp;ldquo;提交&amp;rdquo;和&amp;ldquo;返回&amp;rdquo;字样的两个按钮。顾名思义，它们的功能大家都知道，但是一般情况下我们会给表单的内容加上一些验证，这样就出现了一个问题。因为两个按钮是服务器控件（有runat=&amp;rdquo;Server&amp;rdquo;属性），所以点击按钮之后会先进行验证（无论这里你用的是前台的jQuery.validate验证或者是ASP.NET自带的后台验证控件验证，都会先进行验证）。对于&amp;ldquo;提交&amp;rdquo;按钮，这确实是我们想要的，但是对于&amp;ldquo;返回&amp;rdquo;按钮，我们并不想出现这种情况，而是想让它不经过验证，直接跳转回上一页。&lt;/p&gt;
&lt;p&gt;对于这种情况，我以前的解决方法就是把&lt;/p&gt;
&lt;pre class="csharpcode"&gt;&amp;lt;asp:Button ID=&lt;span class="str"&gt;"button_back"&lt;/span&gt; runat=&lt;span class="str"&gt;"server"&lt;/span&gt; Text=&lt;span class="str"&gt;"back"&lt;/span&gt; OnClick=&lt;span class="str"&gt;"button_back_Click"&lt;/span&gt; /&amp;gt;&lt;/pre&gt;
&lt;style&gt;&lt;!--
.csharpcode, .csharpcode pre
{
	font-size: small;
	color: black;
	font-family: consolas, "Courier New", courier, monospace;
	background-color: #ffffff;
	/*white-space: pre;*/
}
.csharpcode pre { margin: 0em; }
.csharpcode .rem { color: #008000; }
.csharpcode .kwrd { color: #0000ff; }
.csharpcode .str { color: #006080; }
.csharpcode .op { color: #0000c0; }
.csharpcode .preproc { color: #cc6633; }
.csharpcode .asp { background-color: #ffff00; }
.csharpcode .html { color: #800000; }
.csharpcode .attr { color: #ff0000; }
.csharpcode .alt 
{
	background-color: #f4f4f4;
	width: 100%;
	margin: 0em;
}
.csharpcode .lnum { color: #606060; }
--&gt;&lt;/style&gt;
&lt;p&gt;换成&lt;/p&gt;
&lt;pre class="csharpcode"&gt;&amp;lt;input type=&lt;span class="str"&gt;"button"&lt;/span&gt; &lt;span class="kwrd"&gt;value&lt;/span&gt;=&lt;span class="str"&gt;"back"&lt;/span&gt; onclick=&lt;span class="str"&gt;"BackToPage();"&lt;/span&gt; /&amp;gt;&lt;/pre&gt;
&lt;style&gt;&lt;!--
.csharpcode, .csharpcode pre
{
	font-size: small;
	color: black;
	font-family: consolas, "Courier New", courier, monospace;
	background-color: #ffffff;
	/*white-space: pre;*/
}
.csharpcode pre { margin: 0em; }
.csharpcode .rem { color: #008000; }
.csharpcode .kwrd { color: #0000ff; }
.csharpcode .str { color: #006080; }
.csharpcode .op { color: #0000c0; }
.csharpcode .preproc { color: #cc6633; }
.csharpcode .asp { background-color: #ffff00; }
.csharpcode .html { color: #800000; }
.csharpcode .attr { color: #ff0000; }
.csharpcode .alt 
{
	background-color: #f4f4f4;
	width: 100%;
	margin: 0em;
}
.csharpcode .lnum { color: #606060; }
--&gt;&lt;/style&gt;
&lt;p&gt;这种形式。BackToPage方法实现页面跳转。&lt;/p&gt;
&lt;p&gt;我相信很多朋友都是这么写的吧？反正能解决问题就行。&lt;span style="color: #ff8040;"&gt;&lt;strong&gt;为什么？&lt;/strong&gt;&lt;/span&gt;往下看。&lt;/p&gt;
&lt;p&gt;但是今天无意中发现了&lt;span style="color: #0000ff;"&gt;Button.UseSubmitBehavior&lt;/span&gt;这个属性，将其置成false，会使&amp;ldquo;返回&amp;rdquo;按钮&amp;ldquo;躲避&amp;rdquo;掉表单验证，直接执行点击事件中的方法。这正是我们一直以来想要的不是么？而且按钮还很统一，不用去加额外的js代码。&lt;/p&gt;
&lt;p&gt;&lt;span style="color: #ff0000;"&gt;这里要说明一下&lt;/span&gt;，大家不要以为&lt;span style="color: #0000ff;"&gt;Button.UseSubmitBehavior&lt;/span&gt;真的是用来&amp;ldquo;躲避&amp;rdquo;验证的，我只是用这个词来表达一下它实现的效果。实际上&lt;span style="color: #0000ff;"&gt;Button&lt;/span&gt;控件有专门的属性是用来屏蔽验证控件的。就是&lt;span style="color: #0000ff;"&gt;Button.CausesValidation&lt;/span&gt;，通过名字我们应该就能了解一二。&lt;/p&gt;
&lt;p&gt;那你会不会问，&amp;ldquo;既然有这个属性，以上问题就不算是问题啦，可以很容易的解决。&amp;rdquo;&lt;/p&gt;
&lt;p&gt;我想说，&amp;ldquo;是这样的啊！&amp;rdquo;但前提是，你的项目中只存在后台验证。但是现实中我觉得不会所有人都这样做吧？反正我就蛮习惯用jQuery.validate验证插件的（前台验证）。那我们继续研究&lt;span style="color: #0000ff;"&gt;Button.UseSubmitBehavior&lt;/span&gt;吧。&lt;/p&gt;
&lt;p&gt;看个例子：&lt;/p&gt;
&lt;p&gt;&lt;em&gt;&lt;strong&gt;前台代码：&lt;/strong&gt;&lt;/em&gt;&lt;/p&gt;
&lt;pre class="csharpcode"&gt;&amp;lt;asp:Button ID=&lt;span class="str"&gt;"button_confirm"&lt;/span&gt; runat=&lt;span class="str"&gt;"server"&lt;/span&gt; Text=&lt;span class="str"&gt;"确定"&lt;/span&gt; /&amp;gt;
&amp;lt;asp:Button ID=&lt;span class="str"&gt;"button_back"&lt;/span&gt; runat=&lt;span class="str"&gt;"server"&lt;/span&gt; Text=&lt;span class="str"&gt;"返回"&lt;/span&gt;  onclick=&lt;span class="str"&gt;"button_back_Click"&lt;/span&gt; /&amp;gt;&lt;/pre&gt;
&lt;style&gt;&lt;!--
.csharpcode, .csharpcode pre
{
	font-size: small;
	color: black;
	font-family: consolas, "Courier New", courier, monospace;
	background-color: #ffffff;
	/*white-space: pre;*/
}
.csharpcode pre { margin: 0em; }
.csharpcode .rem { color: #008000; }
.csharpcode .kwrd { color: #0000ff; }
.csharpcode .str { color: #006080; }
.csharpcode .op { color: #0000c0; }
.csharpcode .preproc { color: #cc6633; }
.csharpcode .asp { background-color: #ffff00; }
.csharpcode .html { color: #800000; }
.csharpcode .attr { color: #ff0000; }
.csharpcode .alt 
{
	background-color: #f4f4f4;
	width: 100%;
	margin: 0em;
}
.csharpcode .lnum { color: #606060; }
--&gt;&lt;/style&gt;
&lt;p&gt;&lt;em&gt;&lt;strong&gt;浏览器中查看源码中的形式&lt;/strong&gt;&lt;/em&gt;&lt;/p&gt;
&lt;p&gt;&lt;a href="http://images.cnitblog.com/blog/639859/201408/070915396932794.jpg"&gt;&lt;img src="http://images.cnitblog.com/i/639859/201408/070916513816160.jpg" alt=""&gt;&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;&lt;em&gt;&lt;strong&gt;前台代码：&lt;/strong&gt;&lt;/em&gt;&lt;/p&gt;
&lt;pre class="csharpcode"&gt;&amp;lt;asp:Button ID=&lt;span class="str"&gt;"button_confirm"&lt;/span&gt; runat=&lt;span class="str"&gt;"server"&lt;/span&gt; Text=&lt;span class="str"&gt;"确定"&lt;/span&gt; /&amp;gt;
&amp;lt;asp:Button ID=&lt;span class="str"&gt;"button_back"&lt;/span&gt; runat=&lt;span class="str"&gt;"server"&lt;/span&gt; Text=&lt;span class="str"&gt;"返回"&lt;/span&gt; UseSubmitBehavior=&lt;span class="str"&gt;"false"&lt;/span&gt; onclick=&lt;span class="str"&gt;"button_back_Click"&lt;/span&gt; /&amp;gt;&lt;/pre&gt;
&lt;style&gt;&lt;!--
.csharpcode, .csharpcode pre
{
	font-size: small;
	color: black;
	font-family: consolas, "Courier New", courier, monospace;
	background-color: #ffffff;
	/*white-space: pre;*/
}
.csharpcode pre { margin: 0em; }
.csharpcode .rem { color: #008000; }
.csharpcode .kwrd { color: #0000ff; }
.csharpcode .str { color: #006080; }
.csharpcode .op { color: #0000c0; }
.csharpcode .preproc { color: #cc6633; }
.csharpcode .asp { background-color: #ffff00; }
.csharpcode .html { color: #800000; }
.csharpcode .attr { color: #ff0000; }
.csharpcode .alt 
{
	background-color: #f4f4f4;
	width: 100%;
	margin: 0em;
}
.csharpcode .lnum { color: #606060; }
--&gt;&lt;/style&gt;
&lt;p&gt;&lt;em&gt;&lt;strong&gt;浏览器中查看源码中的形式&lt;/strong&gt;&lt;/em&gt;&lt;/p&gt;
&lt;p&gt;&lt;a href="http://images.cnitblog.com/blog/639859/201408/070915429433853.jpg"&gt;&lt;img src="http://images.cnitblog.com/i/639859/201408/070917114593861.jpg" alt=""&gt;&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;大家可以看出加上&lt;span style="color: #0000ff;"&gt;UseSubmitBehavior&lt;/span&gt;属性后，解析成的html语句明显不同。看到这我才恍然大悟，当加过&lt;span style="color: #0000ff;"&gt;UseSubmitBehavior&lt;/span&gt;属性之后，type属性变成了button，这样就跟以往的解决方法一样了啊，因为不是submit属性，所以也就不会触发jQuery.validate的验证方法（回答上面橙色加粗部分的为什么）。这就是为什么&lt;span style="color: #0000ff;"&gt;UseSubmitBehavior &lt;/span&gt;置成false后，不用去进行前台验证的原因。这就是谜底。&lt;/p&gt;
&lt;p&gt;但是到这就结束了会不会觉得有些怪呢？我们为了达到我们的目的，使用了一个新的属性，但是这个属性存在的意义并非是为了达到我们的目的。&lt;/p&gt;
&lt;p&gt;整理一下思绪，上面的例子我们需要从脑袋里抹去。&lt;span style="color: #0000ff;"&gt;UseSubmitBehavior&lt;/span&gt;属性与是否触发表单验证完全没有任何关系。我们来专注这个属性的本身，毕竟这个是标题。&lt;/p&gt;
&lt;p&gt;我很俗的查了一下MSDN&lt;/p&gt;
&lt;p&gt;&lt;a href="http://images.cnitblog.com/blog/639859/201408/070915452256984.jpg"&gt;&lt;img src="http://images.cnitblog.com/i/639859/201408/070918580226684.jpg" alt=""&gt;&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;可以看出重点就是图里指出的两个机制：&lt;/p&gt;
&lt;p&gt;&lt;span style="color: #ff0000;"&gt;1、客户端浏览器的提交机制&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="color: #ff0000;"&gt;2、ASP.NET 回发机制&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;解释一下，有错误的话请大家指正&lt;/p&gt;
&lt;p&gt;1、大家可以看下这个链接所讲的第一部分：&lt;a title="http://www.th7.cn/Program/net/201309/150415.shtml" href="http://www.th7.cn/Program/net/201309/150415.shtml"&gt;http://www.th7.cn/Program/net/201309/150415.shtml&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;就是浏览器会封装一个请求报文，发给服务器，服务器解析这个报文，进行重组，生成一个响应报文，回发给浏览器，浏览器收到后再对其进行解析，就生成了我们看到的网页和一些我们看不到的数据。它们之间的通信都是遵循HTTP协议。&lt;/p&gt;
&lt;p&gt;&lt;span style="color: #ff0000;"&gt;&lt;strong&gt;重点强调：&lt;/strong&gt;HTTP是无状态协议，也就是说每次的浏览器请求，服务器响应都是全新的一次。&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;2、大家可以看下这个链接所讲的内容：&lt;a title="http://blog.sina.com.cn/s/blog_7815564501012qgy.html" href="http://blog.sina.com.cn/s/blog_7815564501012qgy.html"&gt;http://blog.sina.com.cn/s/blog_7815564501012qgy.html&lt;/a&gt;&amp;nbsp;&amp;nbsp; 对于回发机制，我希望大家能跟着这篇文章里讲的步骤写个小Demo试试，会更有感觉。&lt;/p&gt;
&lt;p&gt;回发机制，就是自己请求自己的页面，这个机制比较搞，如果大家理解上一个机制，就会发现ASP.NET回发机制与其是有点背离的，上一个是无状态的，这一个是能将前一次的值保存住，作为下一次页面的初值。&lt;/p&gt;
&lt;p&gt;&lt;em&gt;&lt;strong&gt;举个实际中的例子&lt;/strong&gt;&lt;/em&gt;，就是当我们在填写一个表单时，有好多好多项，但是当我们填到倒数第二项的时候，不小心点击了刷新，正常按第一个机制来说，表单内控件上的值应该全部被清空，因为此时还没有做数据库读取的操作，所以页面不可能有值，但是有了回发机制，__viewstate把页面保存了下来，这样就保留下了我们先前填写的内容。不过技术群里的一个朋友说&amp;ldquo;现在这个东西已经很少会用了，基本不会用控件做项目开发。&amp;rdquo;囧rz啊~我一直都用的不亦乐乎，怎么破？&lt;/p&gt;
&lt;p&gt;两个机制解释完了，可能大家还是有点一头雾水，其实此时我也是一样。下面写个Demo让整件事情变得更清晰点吧，借用一下Fiddler 这个工具。&lt;/p&gt;
&lt;p&gt;&lt;em&gt;&lt;strong&gt;页面展示：&lt;/strong&gt;&lt;/em&gt;&lt;/p&gt;
&lt;p&gt;&lt;a href="http://images.cnitblog.com/blog/639859/201408/070915492563214.jpg"&gt;&lt;img src="http://images.cnitblog.com/i/639859/201408/070919281157877.jpg" alt=""&gt;&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;&lt;em&gt;&lt;strong&gt;html代码：&lt;/strong&gt;&lt;/em&gt;&lt;/p&gt;
&lt;pre class="csharpcode"&gt;&amp;lt;html xmlns=&lt;span class="str"&gt;"http://www.w3.org/1999/xhtml"&lt;/span&gt;&amp;gt;
&amp;lt;head runat=&lt;span class="str"&gt;"server"&lt;/span&gt;&amp;gt;
    &amp;lt;title&amp;gt;&amp;lt;/title&amp;gt;
&amp;lt;/head&amp;gt;
&amp;lt;body&amp;gt;
    &amp;lt;form id=&lt;span class="str"&gt;"form1"&lt;/span&gt; runat=&lt;span class="str"&gt;"server"&lt;/span&gt; method=&lt;span class="str"&gt;"post"&lt;/span&gt;&amp;gt;
    &amp;lt;div&amp;gt;
        &amp;lt;asp:Label ID=&lt;span class="str"&gt;"Label1"&lt;/span&gt; runat=&lt;span class="str"&gt;"server"&lt;/span&gt; Text=&lt;span class="str"&gt;"content："&lt;/span&gt; &amp;gt;&amp;lt;/asp:Label&amp;gt;
        &amp;lt;asp:TextBox ID=&lt;span class="str"&gt;"textbox_content"&lt;/span&gt; runat=&lt;span class="str"&gt;"server"&lt;/span&gt; width=&lt;span class="str"&gt;"500px"&lt;/span&gt;&amp;gt;&amp;lt;/asp:TextBox&amp;gt;
        &amp;lt;asp:Button ID=&lt;span class="str"&gt;"button_usesubmitbehavior_true"&lt;/span&gt; runat=&lt;span class="str"&gt;"server"&lt;/span&gt; Text=&lt;span class="str"&gt;"browser-server"&lt;/span&gt; 
            onclick=&lt;span class="str"&gt;"button_usesubmitbehavior_true_Click"&lt;/span&gt; /&amp;gt;
        &amp;lt;asp:Button ID=&lt;span class="str"&gt;"button_usesubmitbehavior_false"&lt;/span&gt; runat=&lt;span class="str"&gt;"server"&lt;/span&gt; Text=&lt;span class="str"&gt;"postback"&lt;/span&gt; 
            UseSubmitBehavior=&lt;span class="str"&gt;"false"&lt;/span&gt; onclick=&lt;span class="str"&gt;"button_usesubmitbehavior_false_Click"&lt;/span&gt; /&amp;gt;
    &amp;lt;/div&amp;gt;
    &amp;lt;/form&amp;gt;
&amp;lt;/body&amp;gt;
&amp;lt;/html&amp;gt;&lt;/pre&gt;
&lt;style&gt;&lt;!--
.csharpcode, .csharpcode pre
{
	font-size: small;
	color: black;
	font-family: consolas, "Courier New", courier, monospace;
	background-color: #ffffff;
	/*white-space: pre;*/
}
.csharpcode pre { margin: 0em; }
.csharpcode .rem { color: #008000; }
.csharpcode .kwrd { color: #0000ff; }
.csharpcode .str { color: #006080; }
.csharpcode .op { color: #0000c0; }
.csharpcode .preproc { color: #cc6633; }
.csharpcode .asp { background-color: #ffff00; }
.csharpcode .html { color: #800000; }
.csharpcode .attr { color: #ff0000; }
.csharpcode .alt 
{
	background-color: #f4f4f4;
	width: 100%;
	margin: 0em;
}
.csharpcode .lnum { color: #606060; }
--&gt;&lt;/style&gt;
&lt;p&gt;&lt;strong&gt;&lt;em&gt;页面源码：&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;
&lt;p&gt;&lt;a href="http://images.cnitblog.com/blog/639859/201408/070915504432145.jpg"&gt;&lt;img src="http://images.cnitblog.com/i/639859/201408/070923204594393.jpg" alt=""&gt;&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;&lt;em&gt;&lt;strong&gt;后台代码：&lt;/strong&gt;&lt;/em&gt;&lt;/p&gt;
&lt;pre class="csharpcode"&gt;    &lt;span class="kwrd"&gt;public&lt;/span&gt; &lt;span class="kwrd"&gt;partial&lt;/span&gt; &lt;span class="kwrd"&gt;class&lt;/span&gt; WebForm1 : System.Web.UI.Page
    {
        &lt;span class="kwrd"&gt;protected&lt;/span&gt; &lt;span class="kwrd"&gt;void&lt;/span&gt; Page_Load(&lt;span class="kwrd"&gt;object&lt;/span&gt; sender, EventArgs e)
        {
            textbox_content.Text += &lt;span class="str"&gt;"M"&lt;/span&gt;;
        }

        &lt;span class="kwrd"&gt;protected&lt;/span&gt; &lt;span class="kwrd"&gt;void&lt;/span&gt; button_usesubmitbehavior_true_Click(&lt;span class="kwrd"&gt;object&lt;/span&gt; sender, EventArgs e)
        {
            textbox_content.Text += &lt;span class="str"&gt;"true"&lt;/span&gt;;
            button_usesubmitbehavior_true.Text += &lt;span class="str"&gt;"1"&lt;/span&gt;;
            button_usesubmitbehavior_false.Text += &lt;span class="str"&gt;"2"&lt;/span&gt;;
        }

        &lt;span class="kwrd"&gt;protected&lt;/span&gt; &lt;span class="kwrd"&gt;void&lt;/span&gt; button_usesubmitbehavior_false_Click(&lt;span class="kwrd"&gt;object&lt;/span&gt; sender, EventArgs e)
        {
            textbox_content.Text += &lt;span class="str"&gt;"false"&lt;/span&gt;;
            button_usesubmitbehavior_true.Text += &lt;span class="str"&gt;"3"&lt;/span&gt;;
            button_usesubmitbehavior_false.Text += &lt;span class="str"&gt;"4"&lt;/span&gt;;
        }

    }&lt;/pre&gt;
&lt;style&gt;&lt;!--
.csharpcode, .csharpcode pre
{
	font-size: small;
	color: black;
	font-family: consolas, "Courier New", courier, monospace;
	background-color: #ffffff;
	/*white-space: pre;*/
}
.csharpcode pre { margin: 0em; }
.csharpcode .rem { color: #008000; }
.csharpcode .kwrd { color: #0000ff; }
.csharpcode .str { color: #006080; }
.csharpcode .op { color: #0000c0; }
.csharpcode .preproc { color: #cc6633; }
.csharpcode .asp { background-color: #ffff00; }
.csharpcode .html { color: #800000; }
.csharpcode .attr { color: #ff0000; }
.csharpcode .alt 
{
	background-color: #f4f4f4;
	width: 100%;
	margin: 0em;
}
.csharpcode .lnum { color: #606060; }
--&gt;&lt;/style&gt;
&lt;p&gt;&lt;strong&gt;&lt;em&gt;操作步骤：&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;
&lt;p&gt;1、初始页面&lt;/p&gt;
&lt;p&gt;&lt;a href="http://images.cnitblog.com/blog/639859/201408/070915516158602.jpg"&gt;&lt;img src="http://images.cnitblog.com/i/639859/201408/070923408037109.jpg" alt=""&gt;&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;2、先连续点击browser-server按钮三次&lt;/p&gt;
&lt;p&gt;&lt;a href="http://images.cnitblog.com/blog/639859/201408/070915545227090.jpg"&gt;&lt;img src="http://images.cnitblog.com/i/639859/201408/070924007097822.jpg" alt=""&gt;&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;img src="http://images.cnitblog.com/i/639859/201408/070924294908516.jpg" alt=""&gt;&lt;/p&gt;
&lt;p&gt;3、再连接点击postback按钮三次。&lt;/p&gt;
&lt;p&gt;&lt;a href="http://images.cnitblog.com/blog/639859/201408/070915599285009.jpg"&gt;&lt;img src="http://images.cnitblog.com/i/639859/201408/070925045374556.jpg" alt=""&gt;&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;img src="http://images.cnitblog.com/i/639859/201408/070926144281810.jpg" alt=""&gt;&lt;/p&gt;
&lt;p&gt;通过这个demo示例，如果单从页面显示上看，我们完全看不到两者有什么不同，因为后台想实现的功能两者都实现了（就是点击一下按钮，会经过一次page_load方法，然后再经过各自的click事件，给文本框和两个按钮追加内容）。但是利用fiddler工具，我们会发现提交的表单内容的确是有些不一样，&lt;span style="color: #0000ff;"&gt;UseSubmitBehavior&lt;/span&gt;属性设为false的按钮提交时，本身没有作为表单的参数传递给服务器端。&lt;/p&gt;
&lt;p&gt;这就是唯一的不同吗？感觉还是不够，不过我真的是写不动了。&lt;/p&gt;
&lt;p&gt;有兴趣的朋友可以再想想别的对比示例，比如试试在page上加&lt;span style="color: #ff0000;"&gt;EnableViewState="false"&lt;/span&gt; 这个属性，看看点击完按钮会是什么效果的。这个我也有试，不过感觉还是不能证明什么。&lt;/p&gt;
&lt;p&gt;啊，最后终于想到了一个，你可以给browser-server按钮加上&lt;span style="color: #ff0000;"&gt;EnableViewState="false"&lt;/span&gt;属性，嗯嗯，这个比较靠谱，给browser-server 按钮加上&lt;span style="color: #ff0000;"&gt;EnableViewState="false"&lt;/span&gt;属性 ，目的就是让其没有回发机制，因为Asp.Net控件默认都会有回发机制，这样browser-server 按钮就只有单纯的客户端浏览器的提交机制，而postback按钮就只有回发机制。页面效果异常明显啊~&lt;/p&gt;
&lt;p&gt;卖个关子，想看效果的朋友自己去试一下吧，大家可以留言做交流，原谅我，这篇文章写的属实有点累。&lt;/p&gt;
&lt;p&gt;总结一下，&lt;span style="color: #0000ff;"&gt;UseSubmitBehavior&lt;/span&gt; 这个属性绝对可以说是非主流的，花时间去研究会不会很蛋疼？&lt;/p&gt;
&lt;p&gt;其实最初根本没有想过这篇文章会写这么长，但是随着研究这个属性深入，我去学习了ASP.NET的底层交互原理，ASP.NET页面生命周期，回发机制以及了解了验证相关的问题。说实话，收获蛮多的，也很开心。当然，还要继续实践，学习。&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;p&gt;附件的链接：http://files.cnblogs.com/zhouhongyu1989/UseSubmitBehavior%E7%A4%BA%E4%BE%8BDemo.rar&amp;nbsp;&lt;/p&gt;&lt;/div&gt;&lt;div id="MySignature"&gt;&lt;/div&gt;
&lt;div class="clear"&gt;&lt;/div&gt;
&lt;div id="blog_post_info_block"&gt;
&lt;div id="BlogPostCategory"&gt;&lt;/div&gt;
&lt;div id="EntryTag"&gt;&lt;/div&gt;
&lt;div id="blog_post_info"&gt;
&lt;/div&gt;
&lt;div class="clear"&gt;&lt;/div&gt;
&lt;div id="post_next_prev"&gt;&lt;/div&gt;
&lt;/div&gt;


	&lt;div class="postDesc"&gt;posted on &lt;span id="post-date"&gt;2014-08-07 09:16&lt;/span&gt; &lt;a href='http://www.cnblogs.com/zhouhongyu1989/'&gt;我不会抽烟Oscar&lt;/a&gt; 阅读(&lt;span id="post_view_count"&gt;...&lt;/span&gt;) 评论(&lt;span id="post_comment_count"&gt;...&lt;/span&gt;)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3896262" rel="nofollow"&gt;编辑&lt;/a&gt; &lt;a href="#" onclick="AddToWz(3896262);return false;"&gt;收藏&lt;/a&gt;&lt;/div&gt;
&lt;/div&gt;
&lt;script type="text/javascript"&gt;var allowComments=true,isLogined=false,cb_blogId=187958,cb_entryId=3896262,cb_blogApp=currentBlogApp,cb_blogUserGuid='902cd865-c3eb-e311-8d02-90b11c0b17d6',cb_entryCreatedDate='2014/8/7 9:16:00';loadViewCount(cb_entryId);&lt;/script&gt;

&lt;a name="!comments"&gt;&lt;/a&gt;&lt;div id="blog-comments-placeholder"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;var commentManager = new blogCommentManager();commentManager.renderComments(0);&lt;/script&gt;
&lt;div id="comment_form" class="commentform"&gt;
&lt;a name="commentform"&gt;&lt;/a&gt;
&lt;div id="divCommentShow"&gt;&lt;/div&gt;
&lt;div id="comment_nav"&gt;&lt;span id="span_refresh_tips"&gt;&lt;/span&gt;&lt;a href="javascript:void(0);" id="lnk_RefreshComments" onclick="return RefreshCommentList();"&gt;刷新评论&lt;/a&gt;&lt;a href="#" onclick="return RefreshPage();"&gt;刷新页面&lt;/a&gt;&lt;a href="#top"&gt;返回顶部&lt;/a&gt;&lt;/div&gt;
&lt;div id="comment_form_container"&gt;&lt;/div&gt;
&lt;div class="ad_text_commentbox" id="ad_text_under_commentbox"&gt;&lt;/div&gt;
&lt;div id="site_nav_under"&gt;&lt;a href="http://www.cnblogs.com/" target="_blank" title="开发者的网上家园"&gt;博客园首页&lt;/a&gt;&lt;a href="http://q.cnblogs.com/" target="_blank" title="程序员问答社区"&gt;博问&lt;/a&gt;&lt;a href="http://news.cnblogs.com/" target="_blank" title="IT新闻"&gt;新闻&lt;/a&gt;&lt;a href="http://home.cnblogs.com/ing/" target="_blank"&gt;闪存&lt;/a&gt;&lt;a href="http://job.cnblogs.com/" target="_blank"&gt;程序员招聘&lt;/a&gt;&lt;a href="http://kb.cnblogs.com/" target="_blank"&gt;知识库&lt;/a&gt;&lt;/div&gt;
&lt;div id="opt_under_post"&gt;&lt;/div&gt;
&lt;script type="text/javascript"&gt;
    var enableGoogleAd = canShowAdsense(); var googletag = googletag || {}; googletag.cmd = googletag.cmd || [];
    fixPostBodyFormat();
&lt;/script&gt;
&lt;div id="ad_under_post_holder"&gt;
&lt;script type='text/javascript'&gt;
    var googletag = googletag || {};
    googletag.cmd = googletag.cmd || [];
    (function () {
        if (enableGoogleAd) {
            var gads = document.createElement('script');
            gads.async = true;
            gads.type = 'text/javascript';
            var useSSL = 'https:' == document.location.protocol;
            gads.src = (useSSL ? 'https:' : 'http:') + '//www.googletagservices.com/tag/js/gpt.js';
            var node = document.getElementsByTagName('script')[0];
            node.parentNode.insertBefore(gads, node);
        }
    })();
&lt;/script&gt;
&lt;script type='text/javascript'&gt;
    try {
        if (enableGoogleAd) {
            googletag.cmd.push(function () {
                googletag.defineSlot('/1090369/cnblogs_blogpost_C1_sitehome', [300, 250], 'div-gpt-ad-1346480159711-0').addService(googletag.pubads());
                googletag.pubads().enableSingleRequest();
                googletag.enableServices();
            });
        };
    } catch (e) { }
&lt;/script&gt;
&lt;div id="google_ad_c1" class="c_ad_block"&gt;
    &lt;div id='div-gpt-ad-1346480159711-0' style='width:300px; height:250px;'&gt;
    &lt;script type='text/javascript'&gt;
        try {
            if (enableGoogleAd) {
                googletag.cmd.push(function () { googletag.display('div-gpt-ad-1346480159711-0'); });            
            } else {
                $('#div-gpt-ad-1346480159711-0').hide();
            }
    } catch (e) { }
    &lt;/script&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;div id="blog_news_kb"&gt;&lt;/div&gt;
&lt;div id="HistoryToday" class="c_ad_block"&gt;&lt;/div&gt;
&lt;script type="text/javascript"&gt;
$(function () {
    loadNewsAndKb();
    loadBlogSignature();
    LoadPostInfoBlock(cb_blogId, cb_entryId, cb_blogApp, cb_blogUserGuid);
    GetPrevNextPost(cb_entryId, cb_blogId, cb_entryCreatedDate);
    loadOptUnderPost();
    GetHistoryToday(cb_blogId, cb_blogApp, cb_entryCreatedDate);
    setTimeout(function () { incrementViewCount(cb_entryId); }, 200);
});
&lt;/script&gt;
&lt;/div&gt;

	
&lt;!--done--&gt;
&lt;div class="footer"&gt;
	
	Copyright &amp;copy;2014 我不会抽烟Oscar Powered by: &lt;a href="http://www.cnblogs.com" class="footerlink"&gt;博客园&lt;/a&gt; 模板提供：&lt;a href="http://blog.hjenglish.com" class="footerlink"&gt;沪江博客&lt;/a&gt;&lt;br&gt;
&lt;/div&gt;
&lt;/div&gt;



&lt;/body&gt;
&lt;/html&gt;
</Html>
	<HtmlMetas i:nil="true" />
	<HtmlTitle i:nil="true" />
	<IsDefault>false</IsDefault>
	<Layout i:nil="true" />
	<Name>-zhouhongyu1989-p-3896262.html</Name>
	<OutputCache i:nil="true" />
	<PageContents xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
	<Plugins xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<Published>false</Published>
	<RequireHttps>false</RequireHttps>
	<Routes>
		<PageRoute>
			<Defaults xmlns:d4p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
			<Identifier>/zhouhongyu1989/p/3896262.html</Identifier>
			<RoutePath i:nil="true" />
		</PageRoute>
	</Routes>
	<Scripts i:nil="true" />
	<Site>
		<AbsoluteName xmlns="Ovaldi.Core.Models">Cnblogs</AbsoluteName>
	</Site>
	<Styles i:nil="true" />
	<UUID>-zhouhongyu1989-p-3896262.html</UUID>
</Page>