<?xml version="1.0" encoding="utf-8"?>
<Page xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Ovaldi.Core.Models">
	<AbsoluteName>-edwinchen-p-3972904.html</AbsoluteName>
	<CustomFields xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<EnableScript>true</EnableScript>
	<EnableTheming>true</EnableTheming>
	<Html>&lt;!DOCTYPE html&gt;
&lt;html lang="zh-cn"&gt;
&lt;head&gt;
&lt;meta charset="utf-8"&gt;
&lt;title&gt;一、Solr综述 - @瞪着太阳的乌鸦 - 博客园&lt;/title&gt;
&lt;link type="text/css" rel="stylesheet" href="/preview~Cnblogs/Styles/bundles/blog-common.css"&gt;
&lt;link id="MainCss" type="text/css" rel="stylesheet" href="/preview~Cnblogs/Styles/skins/facebook/bundle-facebook.css"&gt;
&lt;link title="RSS" type="application/rss+xml" rel="alternate" href="http://www.cnblogs.com/edwinchen/rss"&gt;
&lt;link title="RSD" type="application/rsd+xml" rel="EditURI" href="http://www.cnblogs.com/edwinchen/rsd.xml"&gt;
&lt;link type="application/wlwmanifest+xml" rel="wlwmanifest" href="http://www.cnblogs.com/edwinchen/wlwmanifest.xml"&gt;
&lt;script src="http://common.cnblogs.com/script/jquery.js" type="text/javascript"&gt;&lt;/script&gt;  
&lt;script type="text/javascript"&gt;var currentBlogApp = 'edwinchen', cb_enable_mathjax=false;&lt;/script&gt;
&lt;script src="/preview~Cnblogs/Scripts/bundles/blog-common.js" type="text/javascript"&gt;&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;a name="top"&gt;&lt;/a&gt;

&lt;div id="home"&gt;
&lt;div id="header"&gt;
	&lt;div id="blogTitle"&gt;
		
&lt;!--done--&gt;
&lt;h1&gt;&lt;a id="Header2_HeaderTitle" class="headermaintitle" href="http://www.cnblogs.com/edwinchen/"&gt;瞪着太阳的乌鸦&lt;/a&gt;&lt;/h1&gt;
&lt;h2&gt;The man shoud know when to leave the party!&lt;/h2&gt;



		
	&lt;/div&gt;&lt;!--end: blogTitle 博客的标题和副标题 --&gt;
	&lt;div id="navigator"&gt;
		
&lt;!--done--&gt;
			&lt;ul id="navList"&gt;
				&lt;li&gt;&lt;a id="MyLinks1_HomeLink" class="menu" href="http://www.cnblogs.com/"&gt;博客园&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a id="MyLinks1_MyHomeLink" class="menu" href="http://www.cnblogs.com/edwinchen/"&gt;首页&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a id="MyLinks1_NewPostLink" class="menu" rel="nofollow" href="http://i.cnblogs.com/EditPosts.aspx?opt=1"&gt;新随笔&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a id="MyLinks1_ContactLink" accesskey="9" class="menu" rel="nofollow" href="http://space.cnblogs.com/msg/send/%40%e7%9e%aa%e7%9d%80%e5%a4%aa%e9%98%b3%e7%9a%84%e4%b9%8c%e9%b8%a6"&gt;联系&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a id="MyLinks1_Admin" class="menu" rel="nofollow" href="http://i.cnblogs.com/"&gt;管理&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a id="MyLinks1_Syndication" class="menu" href="http://www.cnblogs.com/edwinchen/rss"&gt;订阅&lt;/a&gt;
				&lt;a id="MyLinks1_XMLLink" class="aHeaderXML" href="http://www.cnblogs.com/edwinchen/rss"&gt;&lt;img src="/preview~Cnblogs/Images/images/xml.gif" alt="订阅"&gt;&lt;/a&gt;&lt;/li&gt;
			&lt;/ul&gt;


		&lt;div class="blogStats"&gt;
			
			
&lt;!--done--&gt;
随笔- 5&amp;nbsp;
文章- 0&amp;nbsp;
评论- 8&amp;nbsp;

			
		&lt;/div&gt;&lt;!--end: blogStats --&gt;
	&lt;/div&gt;&lt;!--end: navigator 博客导航栏 --&gt;
&lt;/div&gt;&lt;!--end: header 头部 --&gt;

&lt;div id="main"&gt;
	&lt;div id="mainContent"&gt;
	&lt;div class="forFlow"&gt;
		

&lt;!--done--&gt;
&lt;div id="topics"&gt;
	&lt;div class="post"&gt;
		&lt;h1 class="postTitle"&gt;
			&lt;a id="cb_post_title_url" class="postTitle2" href="http://www.cnblogs.com/edwinchen/p/3972904.html"&gt;一、Solr综述&lt;/a&gt;
		&lt;/h1&gt;
		&lt;div class="clear"&gt;&lt;/div&gt;
		&lt;div class="postBody"&gt;
			&lt;div id="cnblogs_post_body"&gt;&lt;h1&gt;&lt;span style="font-family: 微软雅黑;"&gt;什么是Solr搜索 &lt;/span&gt;&lt;/h1&gt;
&lt;p&gt;&lt;span style="font-family: 微软雅黑;"&gt;我们经常会用到搜索功能，所以也比较熟悉，这里就简单的介绍一下搜索的原理。 &lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="font-family: 微软雅黑;"&gt;当然只是介绍solr的原理，并不是搜索引擎的原理，那会更复杂。 &lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="color: #9bbb59; font-family: 微软雅黑; font-size: 10pt;"&gt;&lt;strong&gt;流程图 &lt;/strong&gt;&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;img src="http://images.cnitblog.com/blog/644226/201409/151525043629021.png" alt=""&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="font-family: 微软雅黑;"&gt;这是一个非常简单的流程图： &lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="font-family: 微软雅黑;"&gt;User：即需要搜索的用户。 &lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="font-family: 微软雅黑;"&gt;Raw Data：需要搜索的内容，当然是源数据，可能是文本文件，可能是数据库的数据，可能是XML等等。 &lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="font-family: 微软雅黑;"&gt;Index：有格式的数据。 &lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;p&gt;&lt;span style="font-family: 微软雅黑;"&gt;其实从图中可以看出来： &lt;/span&gt;&lt;/p&gt;
&lt;ol&gt;
&lt;li&gt;&lt;span style="font-family: 微软雅黑;"&gt;Solr搜索非常类似于读写数据库的过程。 &lt;/span&gt;&lt;/li&gt;
&lt;li&gt;
&lt;div&gt;&lt;span style="font-family: 微软雅黑;"&gt;Solr搜索最主要的两个问题（细节已经封装好）： &lt;/span&gt;&lt;/div&gt;
&lt;ol&gt;
&lt;li&gt;&lt;span style="font-family: 微软雅黑;"&gt;怎样从元数据合理组织格式化成Index &lt;/span&gt;&lt;/li&gt;
&lt;li&gt;&lt;span style="font-family: 微软雅黑;"&gt;怎样根据关键字从Index中调取相关数据（排序、模糊查询等等）。 &lt;/span&gt;&lt;/li&gt;
&lt;/ol&gt;&lt;/li&gt;
&lt;/ol&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;p&gt;&lt;span style="font-family: 微软雅黑;"&gt;类比一下，Index就相当于数据表，里面有很多记录，我们需要做的就是设计数据表的格式，有哪些列。并且根据关键字搜索。 &lt;/span&gt;&lt;/p&gt;
&lt;h1&gt;&lt;span style="font-family: 微软雅黑;"&gt;Solr综述 &lt;/span&gt;&lt;/h1&gt;
&lt;p&gt;&lt;span style="font-family: 微软雅黑;"&gt;Solr其实是一个WebApp，在官网下载后将war包放在web'容器下便可以直接运行，你自己的web项目通过HTTP请求的方式和Solr交互。当然需要现在Solr中生成索引库（类似不同的数据表）。HTTP请求中带有相关参数（关键字、需要搜索的索引库、排序规则&amp;hellip;.）。那么想爱先简单介绍下一些相关的概念： &lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="color: #9bbb59; font-family: 微软雅黑; font-size: 10pt;"&gt;&lt;strong&gt;索引Index，文档Docements，域Fields &lt;/strong&gt;&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="font-family: 微软雅黑;"&gt;Solr中数据最小单元为Field，比如Name、Age。Documents是一个具体的对象，如人。举例说明：Edwin是一个人，那么可以将Edwin抽象为一个Document，这个Document包含很多Fields，Name、Age、Sex&amp;hellip;.。一个索引库Index由许多Documents组成。 &lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="font-family: 微软雅黑;"&gt;Index（Student） &lt;/span&gt;&lt;span style="font-family: Wingdings;"&gt;&amp;szlig;&lt;/span&gt;&lt;span style="font-family: 微软雅黑;"&gt; Docements(Edwin、AngelaBaby&amp;hellip;) &lt;/span&gt;&lt;span style="font-family: Wingdings;"&gt;&amp;szlig;&lt;/span&gt;&lt;span style="font-family: 微软雅黑;"&gt; Fields(Name、Age&amp;hellip;) &lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="font-family: 微软雅黑;"&gt;是不是很像数据库的模型？ 其实完全可以把这个理解为数据库&amp;hellip; 并且Index还真的有主键的概念，叫做Unique Field。 &lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;p&gt;&lt;span style="color: #9bbb59; font-family: 微软雅黑; font-size: 10pt;"&gt;&lt;strong&gt;查询Query &lt;/strong&gt;&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="font-family: 微软雅黑;"&gt;上面解决了数据格式化成Index的问题，那么还剩下怎样根据关键字查询搜索结果的问题，先举个例子： &lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;a href="http://localhost:8983/solr/Artist/select?q=Artist_Name:周杰伦%20&amp;amp;wt=json&amp;amp;indent=true"&gt;http://localhost:8983/solr/Artist/select?q=Artist_Name:周杰伦 &amp;amp;wt=json&amp;amp;indent=true&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="font-family: 微软雅黑;"&gt;这就是web项目和Solr交互的一个Url &lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="font-family: 微软雅黑;"&gt;Localhost:8983/solr 这个事Solr项目 &lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="font-family: 微软雅黑;"&gt;Artist是索引库Index &lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="font-family: 微软雅黑;"&gt;q=Artist_Name:周杰伦 &lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="font-family: 微软雅黑;"&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;q代表Query 意思是查询Artist_Name为周杰伦的数据 &lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="font-family: 微软雅黑;"&gt;wt=json 指结果按照Json形式返回 &lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="font-family: 微软雅黑;"&gt;indent=true 返回的数据格式化（也就是好看一点~） &lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;p&gt;&lt;span style="font-family: 微软雅黑;"&gt;通过这一个简单的请求，即可以明白Solr请求的一个基本过程了，有什么需求加什么参数，之后Solr解析请求，根据自己的匹配规则，一个很复杂的公式，计算所有Documents的得分，得分高的优先返回。最后Web项目获得得到搜索结果，格式化输出。 &lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;h1&gt;&lt;span style="font-family: 微软雅黑;"&gt;两个重要的文件 &lt;/span&gt;&lt;/h1&gt;
&lt;p&gt;&lt;span style="color: #9bbb59; font-family: 微软雅黑; font-size: 10pt;"&gt;&lt;strong&gt;Schema.xml &lt;/strong&gt;&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="font-family: 微软雅黑;"&gt;这个文件其实就是对Index的配置，包括Field的类型，Unique Field，分词等等。 &lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="font-family: 微软雅黑;"&gt;先看看整体结构： &lt;/span&gt;&lt;/p&gt;
&lt;ol&gt;
&lt;li&gt;
&lt;div style="background: #f4f4f4;"&gt;&lt;span style="font-family: 宋体; font-size: 9pt;"&gt;&lt;span style="color: blue;"&gt;&amp;lt;&lt;span style="color: maroon;"&gt;schema&lt;/span&gt; &lt;span style="color: red;"&gt;name&lt;/span&gt;="SpaceVideo"&lt;/span&gt; &lt;span style="color: red;"&gt;version&lt;/span&gt;=&lt;span style="color: blue;"&gt;"1.1"&amp;gt;&lt;/span&gt; &lt;/span&gt;&lt;/div&gt;
&lt;/li&gt;
&lt;li&gt;
&lt;div style="background: #f4f4f4;"&gt;&lt;span style="font-family: 宋体; font-size: 9pt;"&gt;&amp;nbsp;&amp;nbsp;&lt;span style="color: blue;"&gt;&amp;lt;&lt;span style="color: maroon;"&gt;schema&lt;/span&gt; &lt;span style="color: red;"&gt;name&lt;/span&gt;="Artist"&lt;/span&gt; &lt;span style="color: red;"&gt;version&lt;/span&gt;=&lt;span style="color: blue;"&gt;"1.1"&amp;gt;&lt;/span&gt; &lt;/span&gt;&lt;/div&gt;
&lt;/li&gt;
&lt;li&gt;
&lt;div style="background: #f4f4f4;"&gt;&lt;span style="font-family: 宋体; font-size: 9pt;"&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;span style="color: blue;"&gt;&amp;lt;&lt;span style="color: maroon;"&gt;fieldtype&lt;/span&gt; &lt;span style="color: red;"&gt;name&lt;/span&gt;="string"&lt;/span&gt; &lt;span style="color: red;"&gt;class&lt;/span&gt;=&lt;span style="color: blue;"&gt;"solr.StrField"&lt;/span&gt; &lt;span style="color: red;"&gt;sortMissingLast&lt;/span&gt;=&lt;span style="color: blue;"&gt;"true"&lt;/span&gt; &lt;span style="color: red;"&gt;omitNorms&lt;/span&gt;=&lt;span style="color: blue;"&gt;"true"/&amp;gt;&lt;/span&gt; &lt;/span&gt;&lt;/div&gt;
&lt;/li&gt;
&lt;li&gt;
&lt;div style="background: #f4f4f4;"&gt;&lt;span style="font-family: 宋体; font-size: 9pt;"&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;span style="color: blue;"&gt;&amp;lt;&lt;span style="color: maroon;"&gt;fieldType&lt;/span&gt; &lt;span style="color: red;"&gt;name&lt;/span&gt;="long"&lt;/span&gt; &lt;span style="color: red;"&gt;class&lt;/span&gt;=&lt;span style="color: blue;"&gt;"solr.TrieLongField"&lt;/span&gt; &lt;span style="color: red;"&gt;precisionStep&lt;/span&gt;=&lt;span style="color: blue;"&gt;"0"&lt;/span&gt; &lt;span style="color: red;"&gt;positionIncrementGap&lt;/span&gt;=&lt;span style="color: blue;"&gt;"0"/&amp;gt;&lt;/span&gt; &lt;/span&gt;&lt;/div&gt;
&lt;/li&gt;
&lt;li&gt;
&lt;div style="background: #f4f4f4;"&gt;&lt;span style="font-family: 宋体; font-size: 9pt;"&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;span style="color: blue;"&gt;&amp;lt;&lt;span style="color: maroon;"&gt;fieldType&lt;/span&gt; &lt;span style="color: red;"&gt;name&lt;/span&gt;="int"&lt;/span&gt; &lt;span style="color: red;"&gt;class&lt;/span&gt;=&lt;span style="color: blue;"&gt;"solr.TrieIntField"&lt;/span&gt; &lt;span style="color: red;"&gt;precisionStep&lt;/span&gt;=&lt;span style="color: blue;"&gt;"0"&lt;/span&gt; &lt;span style="color: red;"&gt;positionIncrementGap&lt;/span&gt;=&lt;span style="color: blue;"&gt;"0"/&amp;gt;&lt;/span&gt; &lt;/span&gt;&lt;/div&gt;
&lt;/li&gt;
&lt;li&gt;
&lt;div style="background: #f4f4f4;"&gt;&lt;span style="font-family: 宋体; font-size: 9pt;"&gt;&amp;nbsp;&amp;nbsp;&lt;span style="color: blue;"&gt;&amp;lt;&lt;span style="color: maroon;"&gt;field&lt;/span&gt; &lt;span style="color: red;"&gt;name&lt;/span&gt;="Artist_ID"&lt;/span&gt; &lt;span style="color: red;"&gt;type&lt;/span&gt;=&lt;span style="color: blue;"&gt;"int"&lt;/span&gt; &lt;span style="color: red;"&gt;indexed&lt;/span&gt;=&lt;span style="color: blue;"&gt;"true"&lt;/span&gt; &lt;span style="color: red;"&gt;stored&lt;/span&gt;=&lt;span style="color: blue;"&gt;"true"&lt;/span&gt; &lt;span style="color: red;"&gt;multiValued&lt;/span&gt;=&lt;span style="color: blue;"&gt;"false"&lt;/span&gt; &lt;span style="color: red;"&gt;required&lt;/span&gt;=&lt;span style="color: blue;"&gt;"true"/&amp;gt;&lt;/span&gt; &lt;/span&gt;&lt;/div&gt;
&lt;/li&gt;
&lt;li&gt;
&lt;div style="background: #f4f4f4;"&gt;&lt;span style="font-family: 宋体; font-size: 9pt;"&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;span style="color: blue;"&gt;&amp;lt;&lt;span style="color: maroon;"&gt;field&lt;/span&gt; &lt;span style="color: red;"&gt;name&lt;/span&gt;="Artist_Name"&lt;/span&gt; &lt;span style="color: red;"&gt;type&lt;/span&gt;=&lt;span style="color: blue;"&gt;"text_ik"&lt;/span&gt; &lt;span style="color: red;"&gt;indexed&lt;/span&gt;=&lt;span style="color: blue;"&gt;"true"&lt;/span&gt; &lt;span style="color: red;"&gt;stored&lt;/span&gt;=&lt;span style="color: blue;"&gt;"true"/&amp;gt;&lt;/span&gt; &lt;/span&gt;&lt;/div&gt;
&lt;/li&gt;
&lt;li&gt;
&lt;div style="background: #f4f4f4;"&gt;&lt;span style="font-family: 宋体; font-size: 9pt;"&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;span style="color: blue;"&gt;&amp;lt;&lt;span style="color: maroon;"&gt;field&lt;/span&gt; &lt;span style="color: red;"&gt;name&lt;/span&gt;="Artist_Name_Exact"&lt;/span&gt; &lt;span style="color: red;"&gt;type&lt;/span&gt;=&lt;span style="color: blue;"&gt;"string"&lt;/span&gt; &lt;span style="color: red;"&gt;indexed&lt;/span&gt;=&lt;span style="color: blue;"&gt;"true"&lt;/span&gt; &lt;span style="color: red;"&gt;stored&lt;/span&gt;=&lt;span style="color: blue;"&gt;"true"&lt;/span&gt; &lt;span style="color: blue;"&gt;/&amp;gt;&lt;/span&gt; &lt;/span&gt;&lt;/div&gt;
&lt;/li&gt;
&lt;li&gt;
&lt;div style="background: #f4f4f4;"&gt;&lt;span style="font-family: 宋体; font-size: 9pt;"&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;span style="color: blue;"&gt;&amp;lt;&lt;span style="color: maroon;"&gt;field&lt;/span&gt; &lt;span style="color: red;"&gt;name&lt;/span&gt;="Artist_NickName"&lt;/span&gt; &lt;span style="color: red;"&gt;type&lt;/span&gt;=&lt;span style="color: blue;"&gt;"text_ik"&lt;/span&gt; &lt;span style="color: red;"&gt;indexed&lt;/span&gt;=&lt;span style="color: blue;"&gt;"true"&lt;/span&gt; &lt;span style="color: red;"&gt;stored&lt;/span&gt;=&lt;span style="color: blue;"&gt;"true"/&amp;gt;&lt;/span&gt; &lt;/span&gt;&lt;/div&gt;
&lt;/li&gt;
&lt;li&gt;
&lt;div style="background: #f4f4f4;"&gt;&lt;span style="font-family: 宋体; font-size: 9pt;"&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;span style="color: blue;"&gt;&amp;lt;&lt;span style="color: maroon;"&gt;field&lt;/span&gt; &lt;span style="color: red;"&gt;name&lt;/span&gt;="Artist_SpaceID"&lt;/span&gt; &lt;span style="color: red;"&gt;type&lt;/span&gt;=&lt;span style="color: blue;"&gt;"long"&lt;/span&gt; &lt;span style="color: red;"&gt;indexed&lt;/span&gt;=&lt;span style="color: blue;"&gt;"true"&lt;/span&gt; &lt;span style="color: red;"&gt;stored&lt;/span&gt;=&lt;span style="color: blue;"&gt;"true"/&amp;gt;&lt;/span&gt; &lt;/span&gt;&lt;/div&gt;
&lt;/li&gt;
&lt;li&gt;
&lt;div style="background: #f4f4f4;"&gt;&lt;span style="font-family: 宋体; font-size: 9pt;"&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;span style="color: blue;"&gt;&amp;lt;&lt;span style="color: maroon;"&gt;field&lt;/span&gt; &lt;span style="color: red;"&gt;name&lt;/span&gt;="Artist_Piclink1"&lt;/span&gt; &lt;span style="color: red;"&gt;type&lt;/span&gt;=&lt;span style="color: blue;"&gt;"string"&lt;/span&gt; &lt;span style="color: red;"&gt;indexed&lt;/span&gt;=&lt;span style="color: blue;"&gt;"false"&lt;/span&gt; &lt;span style="color: red;"&gt;stored&lt;/span&gt;=&lt;span style="color: blue;"&gt;"true"/&amp;gt;&lt;/span&gt; &lt;/span&gt;&lt;/div&gt;
&lt;/li&gt;
&lt;li&gt;
&lt;div style="background: #f4f4f4;"&gt;&lt;span style="font-family: 宋体; font-size: 9pt;"&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;span style="color: blue;"&gt;&amp;lt;&lt;span style="color: maroon;"&gt;field&lt;/span&gt; &lt;span style="color: red;"&gt;name&lt;/span&gt;="Artist_Piclink2"&lt;/span&gt; &lt;span style="color: red;"&gt;type&lt;/span&gt;=&lt;span style="color: blue;"&gt;"string"&lt;/span&gt; &lt;span style="color: red;"&gt;indexed&lt;/span&gt;=&lt;span style="color: blue;"&gt;"false"&lt;/span&gt; &lt;span style="color: red;"&gt;stored&lt;/span&gt;=&lt;span style="color: blue;"&gt;"true"/&amp;gt;&lt;/span&gt; &lt;/span&gt;&lt;/div&gt;
&lt;/li&gt;
&lt;li&gt;
&lt;div style="background: #f4f4f4;"&gt;&lt;span style="font-family: 宋体; font-size: 9pt;"&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;span style="color: blue;"&gt;&amp;lt;&lt;span style="color: maroon;"&gt;field&lt;/span&gt; &lt;span style="color: red;"&gt;name&lt;/span&gt;="Artist_Piclink3"&lt;/span&gt; &lt;span style="color: red;"&gt;type&lt;/span&gt;=&lt;span style="color: blue;"&gt;"string"&lt;/span&gt; &lt;span style="color: red;"&gt;indexed&lt;/span&gt;=&lt;span style="color: blue;"&gt;"false"&lt;/span&gt; &lt;span style="color: red;"&gt;stored&lt;/span&gt;=&lt;span style="color: blue;"&gt;"true"/&amp;gt;&lt;/span&gt; &lt;/span&gt;&lt;/div&gt;
&lt;/li&gt;
&lt;li&gt;
&lt;div style="background: #f4f4f4;"&gt;&lt;span style="font-family: 宋体; font-size: 9pt;"&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;span style="color: blue;"&gt;&amp;lt;&lt;span style="color: maroon;"&gt;field&lt;/span&gt; &lt;span style="color: red;"&gt;name&lt;/span&gt;="Artist_PinYinInitial"&lt;/span&gt; &lt;span style="color: red;"&gt;type&lt;/span&gt;=&lt;span style="color: blue;"&gt;"text_general"&lt;/span&gt; &lt;span style="color: red;"&gt;indexed&lt;/span&gt;=&lt;span style="color: blue;"&gt;"true"&lt;/span&gt; &lt;span style="color: red;"&gt;stored&lt;/span&gt;=&lt;span style="color: blue;"&gt;"true"/&amp;gt;&lt;/span&gt; &lt;/span&gt;&lt;/div&gt;
&lt;/li&gt;
&lt;li&gt;
&lt;div style="background: #f4f4f4;"&gt;&lt;span style="font-family: 宋体; font-size: 9pt;"&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;span style="color: blue;"&gt;&amp;lt;&lt;span style="color: maroon;"&gt;field&lt;/span&gt; &lt;span style="color: red;"&gt;name&lt;/span&gt;="Artist_IconNo"&lt;/span&gt; &lt;span style="color: red;"&gt;type&lt;/span&gt;=&lt;span style="color: blue;"&gt;"string"&lt;/span&gt; &lt;span style="color: red;"&gt;indexed&lt;/span&gt;=&lt;span style="color: blue;"&gt;"false"&lt;/span&gt; &lt;span style="color: red;"&gt;stored&lt;/span&gt;=&lt;span style="color: blue;"&gt;"true"/&amp;gt;&lt;/span&gt; &lt;/span&gt;&lt;/div&gt;
&lt;/li&gt;
&lt;li&gt;
&lt;div style="background: #f4f4f4;"&gt;&lt;span style="font-family: 宋体; font-size: 9pt;"&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;span style="color: blue;"&gt;&amp;lt;&lt;span style="color: maroon;"&gt;field&lt;/span&gt; &lt;span style="color: red;"&gt;name&lt;/span&gt;="Artist_AuthDes"&lt;/span&gt; &lt;span style="color: red;"&gt;type&lt;/span&gt;=&lt;span style="color: blue;"&gt;"string"&lt;/span&gt; &lt;span style="color: red;"&gt;indexed&lt;/span&gt;=&lt;span style="color: blue;"&gt;"false"&lt;/span&gt; &lt;span style="color: red;"&gt;stored&lt;/span&gt;=&lt;span style="color: blue;"&gt;"true"/&amp;gt;&lt;/span&gt; &lt;/span&gt;&lt;/div&gt;
&lt;/li&gt;
&lt;li&gt;
&lt;div style="background: #f4f4f4;"&gt;&lt;span style="font-family: 宋体; font-size: 9pt;"&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;span style="color: blue;"&gt;&amp;lt;&lt;span style="color: maroon;"&gt;field&lt;/span&gt; &lt;span style="color: red;"&gt;name&lt;/span&gt;="Artist_NameQP"&lt;/span&gt; &lt;span style="color: red;"&gt;type&lt;/span&gt;=&lt;span style="color: blue;"&gt;"text_general"&lt;/span&gt; &lt;span style="color: red;"&gt;indexed&lt;/span&gt;=&lt;span style="color: blue;"&gt;"true"&lt;/span&gt; &lt;span style="color: red;"&gt;stored&lt;/span&gt;=&lt;span style="color: blue;"&gt;"true"/&amp;gt;&lt;/span&gt; &lt;/span&gt;&lt;/div&gt;
&lt;/li&gt;
&lt;li&gt;
&lt;div style="background: #f4f4f4;"&gt;&lt;span style="font-family: 宋体; font-size: 9pt;"&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;span style="color: blue;"&gt;&amp;lt;&lt;span style="color: maroon;"&gt;field&lt;/span&gt; &lt;span style="color: red;"&gt;name&lt;/span&gt;="Artist_SongNum"&lt;/span&gt; &lt;span style="color: red;"&gt;type&lt;/span&gt;=&lt;span style="color: blue;"&gt;"int"&lt;/span&gt; &lt;span style="color: red;"&gt;indexed&lt;/span&gt;=&lt;span style="color: blue;"&gt;"true"&lt;/span&gt; &lt;span style="color: red;"&gt;stored&lt;/span&gt;=&lt;span style="color: blue;"&gt;"true"/&amp;gt;&lt;/span&gt; &lt;/span&gt;&lt;/div&gt;
&lt;/li&gt;
&lt;li&gt;
&lt;div style="background: #f4f4f4;"&gt;&lt;span style="font-family: 宋体; font-size: 9pt;"&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;span style="color: blue;"&gt;&amp;lt;&lt;span style="color: maroon;"&gt;field&lt;/span&gt; &lt;span style="color: red;"&gt;name&lt;/span&gt;="Artist_MVNum"&lt;/span&gt; &lt;span style="color: red;"&gt;type&lt;/span&gt;=&lt;span style="color: blue;"&gt;"int"&lt;/span&gt; &lt;span style="color: red;"&gt;indexed&lt;/span&gt;=&lt;span style="color: blue;"&gt;"true"&lt;/span&gt; &lt;span style="color: red;"&gt;stored&lt;/span&gt;=&lt;span style="color: blue;"&gt;"true"/&amp;gt;&lt;/span&gt; &lt;/span&gt;&lt;/div&gt;
&lt;/li&gt;
&lt;li&gt;
&lt;div style="background: #f4f4f4;"&gt;&lt;span style="font-family: 宋体; font-size: 9pt;"&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;span style="color: blue;"&gt;&amp;lt;&lt;span style="color: maroon;"&gt;field&lt;/span&gt; &lt;span style="color: red;"&gt;name&lt;/span&gt;="Artist_CategoryID"&lt;/span&gt; &lt;span style="color: red;"&gt;type&lt;/span&gt;=&lt;span style="color: blue;"&gt;"string"&lt;/span&gt; &lt;span style="color: red;"&gt;indexed&lt;/span&gt;=&lt;span style="color: blue;"&gt;"true"&lt;/span&gt; &lt;span style="color: red;"&gt;stored&lt;/span&gt;=&lt;span style="color: blue;"&gt;"true"/&amp;gt;&lt;/span&gt; &lt;/span&gt;&lt;/div&gt;
&lt;/li&gt;
&lt;li&gt;
&lt;div style="background: #f4f4f4;"&gt;&lt;span style="font-family: 宋体; font-size: 9pt;"&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;span style="color: blue;"&gt;&amp;lt;&lt;span style="color: maroon;"&gt;field&lt;/span&gt; &lt;span style="color: red;"&gt;name&lt;/span&gt;="Artist_MobilePic"&lt;/span&gt; &lt;span style="color: red;"&gt;type&lt;/span&gt;=&lt;span style="color: blue;"&gt;"string"&lt;/span&gt; &lt;span style="color: red;"&gt;indexed&lt;/span&gt;=&lt;span style="color: blue;"&gt;"true"&lt;/span&gt; &lt;span style="color: red;"&gt;stored&lt;/span&gt;=&lt;span style="color: blue;"&gt;"true"/&amp;gt;&lt;/span&gt; &lt;/span&gt;&lt;/div&gt;
&lt;/li&gt;
&lt;li&gt;
&lt;div style="background: #f4f4f4;"&gt;&lt;span style="font-family: 宋体; font-size: 9pt;"&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;span style="color: blue;"&gt;&amp;lt;&lt;span style="color: maroon;"&gt;field&lt;/span&gt; &lt;span style="color: red;"&gt;name&lt;/span&gt;="Artist_Showing"&lt;/span&gt; &lt;span style="color: red;"&gt;type&lt;/span&gt;=&lt;span style="color: blue;"&gt;"string"&lt;/span&gt; &lt;span style="color: red;"&gt;indexed&lt;/span&gt;=&lt;span style="color: blue;"&gt;"true"&lt;/span&gt; &lt;span style="color: red;"&gt;stored&lt;/span&gt;=&lt;span style="color: blue;"&gt;"true"/&amp;gt;&lt;/span&gt; &lt;/span&gt;&lt;/div&gt;
&lt;/li&gt;
&lt;li&gt;
&lt;div style="background: #f4f4f4;"&gt;&amp;nbsp;&lt;/div&gt;
&lt;/li&gt;
&lt;li&gt;
&lt;div style="background: #f4f4f4;"&gt;&lt;span style="font-family: 宋体; font-size: 9pt;"&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;span style="color: blue;"&gt;&amp;lt;&lt;span style="color: maroon;"&gt;copyField&lt;/span&gt; &lt;span style="color: red;"&gt;source&lt;/span&gt;="Artist_Name"&lt;/span&gt; &lt;span style="color: red;"&gt;dest&lt;/span&gt;=&lt;span style="color: blue;"&gt;"Artist_Name_Exact"&lt;/span&gt; &lt;span style="color: blue;"&gt;/&amp;gt;&lt;/span&gt; &lt;/span&gt;&lt;/div&gt;
&lt;/li&gt;
&lt;li&gt;
&lt;div style="background: #f4f4f4;"&gt;&lt;span style="font-family: 宋体; font-size: 9pt;"&gt;&amp;nbsp;&lt;span style="color: green;"&gt;&amp;lt;!-- field to use to determine and enforce document uniqueness. --&amp;gt;&lt;/span&gt; &lt;/span&gt;&lt;/div&gt;
&lt;/li&gt;
&lt;li&gt;
&lt;div style="background: #f4f4f4;"&gt;&lt;span style="font-family: 宋体; font-size: 9pt;"&gt;&amp;nbsp;&lt;span style="color: blue;"&gt;&amp;lt;&lt;span style="color: maroon;"&gt;uniqueKey&lt;span style="color: blue;"&gt;&amp;gt;&lt;/span&gt;Artist_ID&lt;span style="color: blue;"&gt;&amp;lt;/&lt;span style="color: maroon;"&gt;uniqueKey&lt;span style="color: blue;"&gt;&amp;gt;&lt;/span&gt; &lt;/span&gt;&lt;/span&gt;&lt;/span&gt;&lt;/span&gt;&lt;/span&gt;&lt;/div&gt;
&lt;/li&gt;
&lt;li&gt;
&lt;div style="background: #f4f4f4;"&gt;&amp;nbsp;&lt;/div&gt;
&lt;/li&gt;
&lt;li&gt;
&lt;div style="background: #f4f4f4;"&gt;&lt;span style="font-family: 宋体; font-size: 9pt;"&gt;&amp;nbsp;&lt;span style="color: green;"&gt;&amp;lt;!-- field for the QueryParser to use when an explicit fieldname is absent --&amp;gt;&lt;/span&gt; &lt;/span&gt;&lt;/div&gt;
&lt;/li&gt;
&lt;li&gt;
&lt;div style="background: #f4f4f4;"&gt;&lt;span style="font-family: 宋体; font-size: 9pt;"&gt;&amp;nbsp;&lt;span style="color: blue;"&gt;&amp;lt;&lt;span style="color: maroon;"&gt;defaultSearchField&lt;span style="color: blue;"&gt;&amp;gt;&lt;/span&gt;Artist_ID&lt;span style="color: blue;"&gt;&amp;lt;/&lt;span style="color: maroon;"&gt;defaultSearchField&lt;span style="color: blue;"&gt;&amp;gt;&lt;/span&gt; &lt;/span&gt;&lt;/span&gt;&lt;/span&gt;&lt;/span&gt;&lt;/span&gt;&lt;/div&gt;
&lt;/li&gt;
&lt;li&gt;
&lt;div style="background: #f4f4f4;"&gt;&amp;nbsp;&lt;/div&gt;
&lt;/li&gt;
&lt;li&gt;
&lt;div style="background: #f4f4f4;"&gt;&lt;span style="font-family: 宋体; font-size: 9pt;"&gt;&lt;span style="color: green;"&gt;&amp;lt;!-- Chinese --&amp;gt;&lt;/span&gt; &lt;/span&gt;&lt;/div&gt;
&lt;/li&gt;
&lt;li&gt;
&lt;div style="background: #f4f4f4;"&gt;&lt;span style="font-family: 宋体; font-size: 9pt;"&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;span style="color: blue;"&gt;&amp;lt;&lt;span style="color: maroon;"&gt;fieldType&lt;/span&gt; &lt;span style="color: red;"&gt;name&lt;/span&gt;="text_ik"&lt;/span&gt; &lt;span style="color: red;"&gt;class&lt;/span&gt;=&lt;span style="color: blue;"&gt;"solr.TextField"&amp;gt;&lt;/span&gt; &lt;/span&gt;&lt;/div&gt;
&lt;/li&gt;
&lt;li&gt;
&lt;div style="background: #f4f4f4;"&gt;&lt;span style="font-family: 宋体; font-size: 9pt;"&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;span style="color: blue;"&gt;&amp;lt;&lt;span style="color: maroon;"&gt;analyzer&lt;/span&gt; &lt;span style="color: red;"&gt;type&lt;/span&gt;="index"&lt;/span&gt; &lt;span style="color: red;"&gt;isMaxWordLength&lt;/span&gt;=&lt;span style="color: blue;"&gt;"false"&lt;/span&gt; &lt;span style="color: red;"&gt;class&lt;/span&gt;=&lt;span style="color: blue;"&gt;"org.wltea.analyzer.lucene.IKAnalyzer"/&amp;gt;&lt;/span&gt; &lt;/span&gt;&lt;/div&gt;
&lt;/li&gt;
&lt;li&gt;
&lt;div style="background: #f4f4f4;"&gt;&lt;span style="font-family: 宋体; font-size: 9pt;"&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;span style="color: blue;"&gt;&amp;lt;&lt;span style="color: maroon;"&gt;analyzer&lt;/span&gt; &lt;span style="color: red;"&gt;type&lt;/span&gt;="query"&lt;/span&gt; &lt;span style="color: red;"&gt;isMaxWordLength&lt;/span&gt;=&lt;span style="color: blue;"&gt;"true"&lt;/span&gt; &lt;span style="color: red;"&gt;class&lt;/span&gt;=&lt;span style="color: blue;"&gt;"org.wltea.analyzer.lucene.IKAnalyzer"/&amp;gt;&lt;/span&gt; &lt;/span&gt;&lt;/div&gt;
&lt;/li&gt;
&lt;li&gt;
&lt;div style="background: #f4f4f4;"&gt;&lt;span style="font-family: 宋体; font-size: 9pt;"&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;span style="color: blue;"&gt;&amp;lt;/&lt;span style="color: maroon;"&gt;fieldType&lt;span style="color: blue;"&gt;&amp;gt;&lt;/span&gt; &lt;/span&gt;&lt;/span&gt;&lt;/span&gt;&lt;/div&gt;
&lt;/li&gt;
&lt;li&gt;
&lt;div style="background: #f4f4f4;"&gt;&amp;nbsp;&lt;/div&gt;
&lt;/li&gt;
&lt;li&gt;
&lt;div style="background: #f4f4f4;"&gt;&lt;span style="font-family: 宋体; font-size: 9pt;"&gt;&amp;nbsp;&lt;span style="color: green;"&gt;&amp;lt;!-- SolrQueryParser configuration: defaultOperator="AND|OR" --&amp;gt;&lt;/span&gt; &lt;/span&gt;&lt;/div&gt;
&lt;/li&gt;
&lt;li&gt;
&lt;div style="background: #f4f4f4;"&gt;&lt;span style="font-family: 宋体; font-size: 9pt;"&gt;&amp;nbsp;&lt;span style="color: blue;"&gt;&amp;lt;&lt;span style="color: maroon;"&gt;solrQueryParser&lt;/span&gt; &lt;span style="color: red;"&gt;defaultOperator&lt;/span&gt;="OR"/&amp;gt;&lt;/span&gt; &lt;/span&gt;&lt;/div&gt;
&lt;/li&gt;
&lt;li&gt;
&lt;div style="background: #f4f4f4;"&gt;&lt;span style="color: blue; font-family: 宋体; font-size: 9pt;"&gt;&amp;lt;/&lt;span style="color: maroon;"&gt;schema&lt;span style="color: blue;"&gt;&amp;gt;&lt;/span&gt; &lt;/span&gt;&lt;/span&gt;&lt;/div&gt;
&lt;/li&gt;
&lt;/ol&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;p&gt;&lt;span style="font-family: 微软雅黑;"&gt;FieldType代表Field的类型，可以自定义也可以使用Solr提供的Type，具体支持的Type可以参考Solr文档，其中需要稍微解释一下的是string，实现的class是solr.StrField，string的意思是将Field当成字符串，那么如果在搜索时，不会进行分词。只能整体匹配，例如将ArtistName设置为string，那么当搜索周杰伦的时候，只有ArtistName完全和周杰伦相同才会被匹配，周杰，周杰伦你好&amp;hellip;这些都不会匹配，这个在精确查找时很有用。 &lt;/span&gt;&lt;/p&gt;
&lt;p style="margin-left: 5pt;"&gt;&lt;span style="font-family: 微软雅黑;"&gt;Unique Field ：其实是主键的意思，就是说在所有的Documents中被设置成Unique的Field只能有唯一值。当然在Index生成的时候，不用去重，Solr并不会报错，比如向Solr输入 &lt;/span&gt;&lt;/p&gt;
&lt;p style="margin-left: 5pt;"&gt;&lt;span style="font-family: 微软雅黑;"&gt;ID:1 Name:张三 &lt;/span&gt;&lt;/p&gt;
&lt;p style="margin-left: 5pt;"&gt;&lt;span style="font-family: 微软雅黑;"&gt;ID:1 Name：李四 &lt;/span&gt;&lt;/p&gt;
&lt;p style="margin-left: 5pt;"&gt;&lt;span style="font-family: 微软雅黑;"&gt;如果ID为Unique Field，那么Solr可能会根据先后顺序，只会存储一个ID为1的Document，剩余重复ID的Document会被忽略。 &lt;/span&gt;&lt;/p&gt;
&lt;p style="margin-left: 5pt;"&gt;&lt;span style="font-family: 微软雅黑;"&gt;Field中还有很多属性： &lt;/span&gt;&lt;/p&gt;
&lt;p style="margin-left: 5pt;"&gt;&lt;span style="font-family: 微软雅黑;"&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;Name和Type就不说了 &lt;/span&gt;&lt;/p&gt;
&lt;p style="margin-left: 5pt;"&gt;&lt;span style="font-family: 微软雅黑;"&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;Indexed：表示此Field是否索引，意思就是能否被搜索到，如果ArtistName设置为false，那么搜索ArtistName=周杰伦是没有结果的。 &lt;/span&gt;&lt;/p&gt;
&lt;p style="margin-left: 5pt;"&gt;&lt;span style="font-family: 微软雅黑;"&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;Stored：表示此Field是否被存储。 &lt;/span&gt;&lt;/p&gt;
&lt;p style="margin-left: 5pt;"&gt;&lt;span style="font-family: 微软雅黑;"&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;multiValued：表示此Field能否有多值，即ArtistCategory可以有多个值：如原创歌手、华语男歌手等等。默认false，Unique Field必须显式设置为false。 &lt;/span&gt;&lt;/p&gt;
&lt;p style="margin-left: 5pt;"&gt;&lt;span style="font-family: 微软雅黑;"&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;Required：表示此Field是否能为空，默认false，Unique Field必须设置为true。 &lt;/span&gt;&lt;/p&gt;
&lt;ol&gt;
&lt;li&gt;
&lt;div style="background: #f4f4f4;"&gt;&lt;span style="font-size: 9pt;"&gt;&lt;span style="color: blue;"&gt;&amp;lt;&lt;span style="color: maroon;"&gt;copyField&lt;/span&gt; &lt;span style="color: red;"&gt;source&lt;/span&gt;="Artist_Name"&lt;/span&gt; &lt;span style="color: red;"&gt;dest&lt;/span&gt;=&lt;span style="color: blue;"&gt;"Artist_Name_Exact"&lt;/span&gt; &lt;span style="color: blue;"&gt;/&amp;gt;&lt;/span&gt; &lt;/span&gt;&lt;/div&gt;
&lt;/li&gt;
&lt;/ol&gt;
&lt;p&gt;&lt;span style="font-family: 微软雅黑;"&gt;这是一个很有用的东西，从名字就能看出来是赋值Field，最大的作用便是可以让一个Field有多个不同的Type。 &lt;/span&gt;&lt;/p&gt;
&lt;p style="margin-left: 5pt;"&gt;&lt;span style="font-family: 微软雅黑;"&gt;比如ArtistName一个可以设置为text_ik（分词器，可以看我的博客：&lt;/span&gt;&lt;span style="font-family: 微软雅黑;"&gt;三、Solr多核心及分词器（IK）配置）&lt;/span&gt;&lt;/p&gt;
&lt;p style="margin-left: 5pt;"&gt;&lt;span style="font-family: 微软雅黑;"&gt;一个设置为string &lt;/span&gt;&lt;/p&gt;
&lt;p style="margin-left: 5pt;"&gt;&lt;span style="font-family: 微软雅黑;"&gt;那么模糊搜索时，可以使用Artist_Name，精确搜索时使用Artist_Name_Exact。 &lt;/span&gt;&lt;/p&gt;
&lt;p style="margin-left: 5pt;"&gt;&amp;nbsp;&lt;/p&gt;
&lt;p style="margin-left: 5pt;"&gt;&amp;nbsp;&lt;/p&gt;
&lt;p&gt;&lt;span style="color: #9bbb59; font-family: 微软雅黑; font-size: 10pt;"&gt;&lt;strong&gt;Solrconfig.xml &lt;/strong&gt;&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="font-family: 微软雅黑;"&gt;Scheme.xml是对索引库中Documents的配置，那么solrconfig就是对索引库的整体配置。配置requestHandler，有点类似于filter，就是在请求前后对请求进行预处理。这个之后碰到具体情况再具体分析，因为一般情况下设置好了之后，极少需要改动此文件。 &lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;h1&gt;&lt;span style="font-family: 微软雅黑;"&gt;总结 &lt;/span&gt;&lt;/h1&gt;
&lt;p&gt;&lt;span style="font-family: 微软雅黑;"&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;其实我个人使用Solr后觉得，如上面画的简单的流程图，最重要的两个问题： &lt;/span&gt;&lt;/p&gt;
&lt;ol&gt;
&lt;li&gt;
&lt;div&gt;&lt;span style="font-family: 微软雅黑;"&gt;查询条件 &lt;/span&gt;&lt;/div&gt;
&lt;p&gt;&lt;span style="font-family: 微软雅黑;"&gt;查询哪些Field，用什么方式查询，什么排序，比如按照更新时间排序，还是在搜索歌曲时HQ、SQ优先等等，主要用到了Url参数、solrconfig中的requestHandler。 &lt;/span&gt;&lt;/p&gt;
&lt;/li&gt;
&lt;li&gt;
&lt;div&gt;&lt;span style="font-family: 微软雅黑;"&gt;Index的设计 &lt;/span&gt;&lt;/div&gt;
&lt;p&gt;&lt;span style="font-family: 微软雅黑;"&gt;这是重中之重，我觉得大部分情况下应该都是使用solr从数据库中读取数据生成索引，这就要求原来的数据库设计就要比较合理，如果原来的数据库比较乱，那么就需要大量的SQL将表联结等等操作，并且出错的概率也高。&lt;/span&gt;&lt;/p&gt;
&lt;/li&gt;
&lt;/ol&gt;&lt;/div&gt;&lt;div id="MySignature"&gt;&lt;/div&gt;
&lt;div class="clear"&gt;&lt;/div&gt;
&lt;div id="blog_post_info_block"&gt;
&lt;div id="BlogPostCategory"&gt;&lt;/div&gt;
&lt;div id="EntryTag"&gt;&lt;/div&gt;
&lt;div id="blog_post_info"&gt;
&lt;/div&gt;
&lt;div class="clear"&gt;&lt;/div&gt;
&lt;div id="post_next_prev"&gt;&lt;/div&gt;
&lt;/div&gt;


		&lt;/div&gt;
		&lt;div class="postDesc"&gt;posted @ &lt;span id="post-date"&gt;2014-09-15 15:25&lt;/span&gt; &lt;a href='http://www.cnblogs.com/edwinchen/'&gt;@瞪着太阳的乌鸦&lt;/a&gt; 阅读(&lt;span id="post_view_count"&gt;...&lt;/span&gt;) 评论(&lt;span id="post_comment_count"&gt;...&lt;/span&gt;)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3972904" rel="nofollow"&gt;编辑&lt;/a&gt; &lt;a href="#" onclick="AddToWz(3972904);return false;"&gt;收藏&lt;/a&gt;&lt;/div&gt;
	&lt;/div&gt;
	&lt;script type="text/javascript"&gt;var allowComments=true,isLogined=false,cb_blogId=189271,cb_entryId=3972904,cb_blogApp=currentBlogApp,cb_blogUserGuid='a9fcebd9-1ef8-e311-8d02-90b11c0b17d6',cb_entryCreatedDate='2014/9/15 15:25:00';loadViewCount(cb_entryId);&lt;/script&gt;
	
&lt;/div&gt;
&lt;!--end: topics 文章、评论容器--&gt;
&lt;a name="!comments"&gt;&lt;/a&gt;&lt;div id="blog-comments-placeholder"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;var commentManager = new blogCommentManager();commentManager.renderComments(0);&lt;/script&gt;
&lt;div id="comment_form" class="commentform"&gt;
&lt;a name="commentform"&gt;&lt;/a&gt;
&lt;div id="divCommentShow"&gt;&lt;/div&gt;
&lt;div id="comment_nav"&gt;&lt;span id="span_refresh_tips"&gt;&lt;/span&gt;&lt;a href="javascript:void(0);" id="lnk_RefreshComments" onclick="return RefreshCommentList();"&gt;刷新评论&lt;/a&gt;&lt;a href="#" onclick="return RefreshPage();"&gt;刷新页面&lt;/a&gt;&lt;a href="#top"&gt;返回顶部&lt;/a&gt;&lt;/div&gt;
&lt;div id="comment_form_container"&gt;&lt;/div&gt;
&lt;div class="ad_text_commentbox" id="ad_text_under_commentbox"&gt;&lt;/div&gt;
&lt;div id="site_nav_under"&gt;&lt;a href="http://www.cnblogs.com/" target="_blank" title="开发者的网上家园"&gt;博客园首页&lt;/a&gt;&lt;a href="http://q.cnblogs.com/" target="_blank" title="程序员问答社区"&gt;博问&lt;/a&gt;&lt;a href="http://news.cnblogs.com/" target="_blank" title="IT新闻"&gt;新闻&lt;/a&gt;&lt;a href="http://home.cnblogs.com/ing/" target="_blank"&gt;闪存&lt;/a&gt;&lt;a href="http://job.cnblogs.com/" target="_blank"&gt;程序员招聘&lt;/a&gt;&lt;a href="http://kb.cnblogs.com/" target="_blank"&gt;知识库&lt;/a&gt;&lt;/div&gt;
&lt;div id="opt_under_post"&gt;&lt;/div&gt;
&lt;script type="text/javascript"&gt;
    var enableGoogleAd = canShowAdsense(); var googletag = googletag || {}; googletag.cmd = googletag.cmd || [];
    fixPostBodyFormat();
&lt;/script&gt;
&lt;div id="ad_under_post_holder"&gt;
&lt;script type='text/javascript'&gt;
    var googletag = googletag || {};
    googletag.cmd = googletag.cmd || [];
    (function () {
        if (enableGoogleAd) {
            var gads = document.createElement('script');
            gads.async = true;
            gads.type = 'text/javascript';
            var useSSL = 'https:' == document.location.protocol;
            gads.src = (useSSL ? 'https:' : 'http:') + '//www.googletagservices.com/tag/js/gpt.js';
            var node = document.getElementsByTagName('script')[0];
            node.parentNode.insertBefore(gads, node);
        }
    })();
&lt;/script&gt;
&lt;script type='text/javascript'&gt;
    try {
        if (enableGoogleAd) {
            googletag.cmd.push(function () {
                googletag.defineSlot('/1090369/cnblogs_blogpost_C1_sitehome', [300, 250], 'div-gpt-ad-1346480159711-0').addService(googletag.pubads());
                googletag.pubads().enableSingleRequest();
                googletag.enableServices();
            });
        };
    } catch (e) { }
&lt;/script&gt;
&lt;div id="google_ad_c1" class="c_ad_block"&gt;
    &lt;div id='div-gpt-ad-1346480159711-0' style='width:300px; height:250px;'&gt;
    &lt;script type='text/javascript'&gt;
        try {
            if (enableGoogleAd) {
                googletag.cmd.push(function () { googletag.display('div-gpt-ad-1346480159711-0'); });            
            } else {
                $('#div-gpt-ad-1346480159711-0').hide();
            }
    } catch (e) { }
    &lt;/script&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;div id="blog_news_kb"&gt;&lt;/div&gt;
&lt;div id="HistoryToday" class="c_ad_block"&gt;&lt;/div&gt;
&lt;script type="text/javascript"&gt;
$(function () {
    loadNewsAndKb();
    loadBlogSignature();
    LoadPostInfoBlock(cb_blogId, cb_entryId, cb_blogApp, cb_blogUserGuid);
    GetPrevNextPost(cb_entryId, cb_blogId, cb_entryCreatedDate);
    loadOptUnderPost();
    GetHistoryToday(cb_blogId, cb_blogApp, cb_entryCreatedDate);
    setTimeout(function () { incrementViewCount(cb_entryId); }, 200);
});
&lt;/script&gt;
&lt;/div&gt;

	&lt;/div&gt;&lt;!--end: forFlow --&gt;
	&lt;/div&gt;&lt;!--end: mainContent 主体内容容器--&gt;

	&lt;div id="sideBar"&gt;
		&lt;div id="sideBarMain"&gt;
		&lt;div id="calendar"&gt;&lt;div id="blog-calendar" style="display:none"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;loadBlogDefaultCalendar();&lt;/script&gt;&lt;/div&gt;
			
&lt;!--done--&gt;
&lt;div class="newsItem"&gt;
&lt;h3 class="catListTitle"&gt;公告&lt;/h3&gt;
	&lt;div id="blog-news"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;loadBlogNews();&lt;/script&gt;
&lt;/div&gt;
			
			
			&lt;div id="leftcontentcontainer"&gt;
				&lt;div id="blog-sidecolumn"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;loadBlogSideColumn();&lt;/script&gt;
			&lt;/div&gt;
			
		&lt;/div&gt;&lt;!--end: sideBarMain --&gt;
	&lt;/div&gt;&lt;!--end: sideBar 侧边栏容器 --&gt;
	&lt;div class="clear"&gt;&lt;/div&gt;
	&lt;/div&gt;&lt;!--end: main --&gt;
	&lt;div class="clear"&gt;&lt;/div&gt;
	&lt;div id="footer"&gt;
		
&lt;!--done--&gt;
Copyright &amp;copy;2014 @瞪着太阳的乌鸦
	&lt;/div&gt;&lt;!--end: footer --&gt;
&lt;/div&gt;&lt;!--end: home 自定义的最大容器 --&gt;
&lt;/body&gt;
&lt;/html&gt;
</Html>
	<HtmlMetas i:nil="true" />
	<HtmlTitle i:nil="true" />
	<IsDefault>false</IsDefault>
	<Layout i:nil="true" />
	<Name>-edwinchen-p-3972904.html</Name>
	<OutputCache i:nil="true" />
	<PageContents xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
	<Plugins xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<Published>false</Published>
	<RequireHttps>false</RequireHttps>
	<Routes>
		<PageRoute>
			<Defaults xmlns:d4p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
			<Identifier>/edwinchen/p/3972904.html</Identifier>
			<RoutePath i:nil="true" />
		</PageRoute>
	</Routes>
	<Scripts i:nil="true" />
	<Site>
		<AbsoluteName xmlns="Ovaldi.Core.Models">Cnblogs</AbsoluteName>
	</Site>
	<Styles i:nil="true" />
	<UUID>-edwinchen-p-3972904.html</UUID>
</Page>