<?xml version="1.0" encoding="utf-8"?>
<Page xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Ovaldi.Core.Models">
	<AbsoluteName>-zhouhongyu1989-p-3966423.html</AbsoluteName>
	<CustomFields xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<EnableScript>true</EnableScript>
	<EnableTheming>true</EnableTheming>
	<Html>&lt;!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"&gt;
&lt;html xmlns="http://www.w3.org/1999/xhtml" lang="zh-cn"&gt;
&lt;head&gt;
&lt;meta http-equiv="Content-Type" content="text/html; charset=utf-8"&gt;
&lt;title&gt;jQuery 关于IE9上传文件无法进入后台问题的原因及解决办法（ajaxfileupload.js第四弹） - 我不会抽烟Oscar - 博客园&lt;/title&gt;
&lt;link type="text/css" rel="stylesheet" href="/preview~Cnblogs/Styles/bundles/blog-common.css"&gt;
&lt;link id="MainCss" type="text/css" rel="stylesheet" href="/preview~Cnblogs/Styles/skins/arrow/bundle-arrow.css"&gt;
&lt;link title="RSS" type="application/rss+xml" rel="alternate" href="http://www.cnblogs.com/zhouhongyu1989/rss"&gt;
&lt;link title="RSD" type="application/rsd+xml" rel="EditURI" href="http://www.cnblogs.com/zhouhongyu1989/rsd.xml"&gt;
&lt;link type="application/wlwmanifest+xml" rel="wlwmanifest" href="http://www.cnblogs.com/zhouhongyu1989/wlwmanifest.xml"&gt;
&lt;script src="http://common.cnblogs.com/script/jquery.js" type="text/javascript"&gt;&lt;/script&gt;  
&lt;script type="text/javascript"&gt;var currentBlogApp = 'zhouhongyu1989', cb_enable_mathjax=true;&lt;/script&gt;
&lt;script src="/preview~Cnblogs/Scripts/bundles/blog-common.js" type="text/javascript"&gt;&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;a name="top"&gt;&lt;/a&gt;

&lt;!--done--&gt;
&lt;div id="header"&gt;
	
&lt;!--done--&gt;
&lt;div class="header"&gt;
	&lt;div class="headerText"&gt;
		&lt;a id="Header1_HeaderTitle" class="headermaintitle" href="http://www.cnblogs.com/zhouhongyu1989/"&gt;我不会抽烟Oscar&lt;/a&gt;&lt;br&gt;
		
	&lt;/div&gt;
&lt;/div&gt;

&lt;/div&gt;
&lt;div id="mylinks"&gt;
&lt;!--done--&gt;
&lt;a id="MyLinks1_HomeLink" class="menu" href="http://www.cnblogs.com/"&gt;博客园&lt;/a&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;
&lt;a id="MyLinks1_MyHomeLink" class="menu" href="http://www.cnblogs.com/zhouhongyu1989/"&gt;首页&lt;/a&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;
&lt;a id="MyLinks1_NewPostLink" class="menu" rel="nofollow" href="http://i.cnblogs.com/EditPosts.aspx?opt=1"&gt;新随笔&lt;/a&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;
&lt;a id="MyLinks1_ContactLink" accesskey="9" class="menu" rel="nofollow" href="http://space.cnblogs.com/msg/send/%e6%88%91%e4%b8%8d%e4%bc%9a%e6%8a%bd%e7%83%9fOscar"&gt;联系&lt;/a&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;
&lt;a id="MyLinks1_Syndication" class="menu" href="http://www.cnblogs.com/zhouhongyu1989/rss"&gt;订阅&lt;/a&gt;&lt;a id="MyLinks1_XMLLink" href="http://www.cnblogs.com/zhouhongyu1989/rss"&gt;&lt;img src="/preview~Cnblogs/Images/images/xml.gif" alt="订阅"&gt;&lt;/a&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;
&lt;a id="MyLinks1_Admin" class="menu" rel="nofollow" href="http://i.cnblogs.com/"&gt;管理&lt;/a&gt;
&lt;/div&gt;
&lt;div id="mytopmenu"&gt;
	
		
&lt;div class="blogStats"&gt;随笔 - 18&amp;nbsp;
文章 - 0&amp;nbsp;评论 - 118&amp;nbsp;trackbacks - 0
&lt;/div&gt;
	
&lt;/div&gt;
&lt;div id="leftcontent"&gt;
	
		&lt;div id="leftcontentcontainer"&gt;
			&lt;div id="blog-calendar" style="display:none"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;loadBlogDefaultCalendar();&lt;/script&gt;&lt;br&gt;
			
&lt;!--done--&gt;
&lt;div class="newsItem"&gt;
	&lt;div id="blog-news"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;loadBlogNews();&lt;/script&gt;
&lt;/div&gt;

			&lt;div id="blog-sidecolumn"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;loadBlogSideColumn();&lt;/script&gt;&lt;/div&gt;		
	
&lt;/div&gt;
&lt;div id="centercontent"&gt;
	

&lt;!--done--&gt;
&lt;div class="post"&gt;
	&lt;div class="postTitle"&gt;
		&lt;h1&gt;&lt;a id="cb_post_title_url" class="postTitle2" href="http://www.cnblogs.com/zhouhongyu1989/p/3966423.html"&gt;jQuery 关于IE9上传文件无法进入后台问题的原因及解决办法（ajaxfileupload.js第四弹）&lt;/a&gt;&lt;/h1&gt;
	&lt;/div&gt;
	&lt;div id="cnblogs_post_body"&gt;&lt;p&gt;第四弹的诞生完全不在自己最初的计划之中，是有个网友看了先前关于《ajaxfileupload.js系列》的文章后提出的问题，由于自己一直是用chrome浏览器去测试demo，完全忽略IE浏览器（其实是故意的，懒得想浏览器兼容的问题，哈哈~），所以当我使用IE9去运行demo的时候，确实发现了同样的问题，就是&lt;span style="color: #ff0000;"&gt;ajax异步提交表单无法进入后台&lt;/span&gt;。&lt;/p&gt;
&lt;p&gt;下面是解决整个问题的过程，以我在《&lt;a href="http://www.cnblogs.com/zhouhongyu1989/p/3963748.html" target="_blank"&gt;jQuery 自制上传头像插件-附带Demo实例（ajaxfileupload.js第三弹）&lt;/a&gt; 》中上传的demo为基准，这样会更加容易理解一些。&lt;/p&gt;
&lt;p&gt;虽然整个问题的表面现象是ajax异步提交表单无法进入后台，但是当我在浏览器中跟代码走一遍的时候，发现的首个问题就是下面的提示。&lt;/p&gt;
&lt;p&gt;&lt;a href="http://images.cnitblog.com/blog/639859/201409/111433406066445.jpg"&gt;&lt;img src="http://images.cnitblog.com/blog/639859/201409/111434119817293.jpg" alt=""&gt;&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;出现这个问题的原因其实要归罪于&lt;/p&gt;
&lt;pre class="csharpcode"&gt;&lt;span class="kwrd"&gt;function&lt;/span&gt; getFilePath(obj) {
    &lt;span class="kwrd"&gt;if&lt;/span&gt; (obj) {
        &lt;span class="kwrd"&gt;if&lt;/span&gt; (window.navigator.userAgent.indexOf(&lt;span class="str"&gt;"MSIE"&lt;/span&gt;) &amp;gt;= 1) {
            obj.select();
            &lt;span class="kwrd"&gt;return&lt;/span&gt; document.selection.createRange().text;
        }
        &lt;span class="kwrd"&gt;else&lt;/span&gt; &lt;span class="kwrd"&gt;if&lt;/span&gt; (window.navigator.userAgent.indexOf(&lt;span class="str"&gt;"Firefox"&lt;/span&gt;) &amp;gt;= 1) {
            &lt;span class="kwrd"&gt;if&lt;/span&gt; (obj.files) {
                &lt;span class="kwrd"&gt;return&lt;/span&gt; obj.files.item(0).getAsDataURL();
            }
            &lt;span class="kwrd"&gt;return&lt;/span&gt; obj.value;
        }
        &lt;span class="kwrd"&gt;return&lt;/span&gt; obj.value;
    }
}&lt;/pre&gt;
&lt;style&gt;&lt;!--
.csharpcode, .csharpcode pre
{
	font-size: small;
	color: black;
	font-family: consolas, "Courier New", courier, monospace;
	background-color: #ffffff;
	/*white-space: pre;*/
}
.csharpcode pre { margin: 0em; }
.csharpcode .rem { color: #008000; }
.csharpcode .kwrd { color: #0000ff; }
.csharpcode .str { color: #006080; }
.csharpcode .op { color: #0000c0; }
.csharpcode .preproc { color: #cc6633; }
.csharpcode .asp { background-color: #ffff00; }
.csharpcode .html { color: #800000; }
.csharpcode .attr { color: #ff0000; }
.csharpcode .alt 
{
	background-color: #f4f4f4;
	width: 100%;
	margin: 0em;
}
.csharpcode .lnum { color: #606060; }
--&gt;&lt;/style&gt;
&lt;p&gt;这个函数，最初加这个函数的时候是为了可以兼容，不巧，却弄巧成拙了。&lt;/p&gt;
&lt;p&gt;这个函数是从网上直接贴下来的，当时就是怕不同浏览器直接用$().val()得不到选择的文件名称。但是当使用IE浏览器时，实际上这段代码返回的document.selection.createRange().text这个是一个&amp;ldquo;&amp;rdquo;（空字符串），所以这块可以直接使用obj.value或者无需使用这个方法，直接通过$().val()得到文件名就行。&lt;/p&gt;
&lt;p&gt;&lt;span style="color: #ff0000;"&gt;而令我诧异的是，在IE下使用$().val()居然能得到文件的完整路径！！！而不单单只是一个文件名，这样就不用先上传再预览了，可以直接预览图片了。&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;这个问题解决了，重新运行代码，出现&lt;/p&gt;
&lt;p&gt;&lt;a href="http://images.cnitblog.com/blog/639859/201409/111433424499615.jpg"&gt;&lt;img src="http://images.cnitblog.com/blog/639859/201409/111434287933125.jpg" alt=""&gt;&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;这个问题的原因是在jQuery-1.4.2插件之后，已经去掉了&lt;span style="color: #0000ff;"&gt;handleError&lt;/span&gt;的方法，而下载了demo的朋友会发现，demo中使用的是jQuery-2.0.3插件。那么是不是把jQuery插件换一下就行了？不行。因为之所以用jQuery-2.0.3是因为只有在jQuery-1.7版本之后才支持delegate方法，但是我们可以在ajaxfileupload.js插件中加入&lt;span style="color: #0000ff;"&gt;handleError&lt;/span&gt;方法。copy下面代码到ajaxfileupload.js就可以了&lt;/p&gt;
&lt;pre class="csharpcode"&gt;    handleError: &lt;span class="kwrd"&gt;function&lt;/span&gt;( s, xhr, status, e )         {
        &lt;span class="rem"&gt;// If a local callback was specified, fire it&lt;/span&gt;
        &lt;span class="kwrd"&gt;if&lt;/span&gt; ( s.error ) {
            s.error.call( s.context || s, xhr, status, e );
        }

        &lt;span class="rem"&gt;// Fire the global callback&lt;/span&gt;
        &lt;span class="kwrd"&gt;if&lt;/span&gt; ( s.global ) {
            (s.context ? jQuery(s.context) : jQuery.&lt;span class="kwrd"&gt;event&lt;/span&gt;).trigger( &lt;span class="str"&gt;"ajaxError"&lt;/span&gt;, [xhr, s, e] );
        }
    }&lt;/pre&gt;
&lt;style&gt;&lt;!--
.csharpcode, .csharpcode pre
{
	font-size: small;
	color: black;
	font-family: consolas, "Courier New", courier, monospace;
	background-color: #ffffff;
	/*white-space: pre;*/
}
.csharpcode pre { margin: 0em; }
.csharpcode .rem { color: #008000; }
.csharpcode .kwrd { color: #0000ff; }
.csharpcode .str { color: #006080; }
.csharpcode .op { color: #0000c0; }
.csharpcode .preproc { color: #cc6633; }
.csharpcode .asp { background-color: #ffff00; }
.csharpcode .html { color: #800000; }
.csharpcode .attr { color: #ff0000; }
.csharpcode .alt 
{
	background-color: #f4f4f4;
	width: 100%;
	margin: 0em;
}
.csharpcode .lnum { color: #606060; }
--&gt;&lt;/style&gt;
&lt;p&gt;这个问题解决了，再次重新运行代码，出现&lt;/p&gt;
&lt;p&gt;&lt;a href="http://images.cnitblog.com/blog/639859/201409/111433441526829.jpg"&gt;&lt;img src="http://images.cnitblog.com/blog/639859/201409/111434418715629.jpg" alt=""&gt;&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;到这里实际上就是这篇文章的重点了，打开浏览器跟了一下，就是在&lt;/p&gt;
&lt;pre class="csharpcode"&gt;jQuery(form).submit();&lt;/pre&gt;
&lt;style&gt;&lt;!--
.csharpcode, .csharpcode pre
{
	font-size: small;
	color: black;
	font-family: consolas, "Courier New", courier, monospace;
	background-color: #ffffff;
	/*white-space: pre;*/
}
.csharpcode pre { margin: 0em; }
.csharpcode .rem { color: #008000; }
.csharpcode .kwrd { color: #0000ff; }
.csharpcode .str { color: #006080; }
.csharpcode .op { color: #0000c0; }
.csharpcode .preproc { color: #cc6633; }
.csharpcode .asp { background-color: #ffff00; }
.csharpcode .html { color: #800000; }
.csharpcode .attr { color: #ff0000; }
.csharpcode .alt 
{
	background-color: #f4f4f4;
	width: 100%;
	margin: 0em;
}
.csharpcode .lnum { color: #606060; }
--&gt;&lt;/style&gt;
&lt;p&gt;这里抛出了异常。&lt;/p&gt;
&lt;p&gt;原因是这样的，&lt;span style="color: #ff0000;"&gt;IE出于安全性的考虑，上传文件时必须要点击&amp;lt;input type=&amp;rsquo;file&amp;rsquo;&amp;gt;控件本身才能上传成功。而因为&amp;lt;input type=&amp;rsquo;file&amp;rsquo;&amp;gt;长的实在太丑，很少能满足我们的审美，我们通常都是会隐藏它，然后用其他的button去触发它。而这么做在IE9下是不被允许的。&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;至于解决方法，如果大家坚持用更加漂亮的上传控件，那我觉得用一些css的技巧吧，把&amp;lt;input type=&amp;rsquo;file&amp;rsquo;&amp;gt;控件遮挡下什么的，这个还是要根据实际情况来定，说来比较恶心，就一个IE9，破坏了其他浏览器的和谐，真是叫人抓心挠肝。&lt;/p&gt;
&lt;p&gt;对于之前的demo，如果把&amp;lt;input type=&amp;rsquo;file&amp;rsquo;&amp;gt;显示出来，那么相应的后台也要进行一下修改，主要还是获取文件名的部分&lt;/p&gt;
&lt;p&gt;要将&lt;/p&gt;
&lt;pre class="csharpcode"&gt;System.Web.HttpContext.Current.Request.Files[0].FileName&lt;/pre&gt;
&lt;style&gt;&lt;!--
.csharpcode, .csharpcode pre
{
	font-size: small;
	color: black;
	font-family: consolas, "Courier New", courier, monospace;
	background-color: #ffffff;
	/*white-space: pre;*/
}
.csharpcode pre { margin: 0em; }
.csharpcode .rem { color: #008000; }
.csharpcode .kwrd { color: #0000ff; }
.csharpcode .str { color: #006080; }
.csharpcode .op { color: #0000c0; }
.csharpcode .preproc { color: #cc6633; }
.csharpcode .asp { background-color: #ffff00; }
.csharpcode .html { color: #800000; }
.csharpcode .attr { color: #ff0000; }
.csharpcode .alt 
{
	background-color: #f4f4f4;
	width: 100%;
	margin: 0em;
}
.csharpcode .lnum { color: #606060; }
--&gt;&lt;/style&gt;
&lt;p&gt;改成&lt;/p&gt;
&lt;pre class="csharpcode"&gt;System.IO.Path.GetFileName(System.Web.HttpContext.Current.Request.Files[0].FileName))&lt;/pre&gt;
&lt;style&gt;&lt;!--
.csharpcode, .csharpcode pre
{
	font-size: small;
	color: black;
	font-family: consolas, "Courier New", courier, monospace;
	background-color: #ffffff;
	/*white-space: pre;*/
}
.csharpcode pre { margin: 0em; }
.csharpcode .rem { color: #008000; }
.csharpcode .kwrd { color: #0000ff; }
.csharpcode .str { color: #006080; }
.csharpcode .op { color: #0000c0; }
.csharpcode .preproc { color: #cc6633; }
.csharpcode .asp { background-color: #ffff00; }
.csharpcode .html { color: #800000; }
.csharpcode .attr { color: #ff0000; }
.csharpcode .alt 
{
	background-color: #f4f4f4;
	width: 100%;
	margin: 0em;
}
.csharpcode .lnum { color: #606060; }
--&gt;&lt;/style&gt;
&lt;p&gt;因为此时的System.Web.HttpContext.Current.Request.Files[0].FileName是一个完整的文件路径，而不单单是一个文件名。&lt;/p&gt;
&lt;p&gt;&lt;a href="http://images.cnitblog.com/blog/639859/201409/111433457311313.jpg"&gt;&lt;img src="http://images.cnitblog.com/blog/639859/201409/111434587623501.jpg" alt=""&gt;&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;当然，如果我们不想把图片先save到本地的话，可以直接用图片路径去预览，但是要知道，这个只适合IE呀~~所以，大家自己斟酌。&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;p&gt;关于这个&amp;lt;input type=&amp;rsquo;file&amp;rsquo;&amp;gt;控件在IE9下能必须要被实际点击才能上传的问题，我想一定有其他解决的办法，希望知道的朋友能够分享一下。&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;&lt;em&gt;系列分享:&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;
&lt;p&gt;《&lt;a href="http://www.cnblogs.com/zhouhongyu1989/p/3957856.html" target="_blank"&gt;ASP.NET 使用ajaxfileupload.js插件出现上传较大文件失败的解决方法（ajaxfileupload.js第一弹）&lt;/a&gt; 》&lt;/p&gt;
&lt;p&gt;《&lt;a href="http://www.cnblogs.com/zhouhongyu1989/p/3962046.html" target="_blank"&gt;jQuery 关于ajaxfileupload.js插件的逐步解析（ajaxfileupload.js第二弹）&lt;/a&gt; 》&lt;/p&gt;
&lt;p&gt;《&lt;a href="http://www.cnblogs.com/zhouhongyu1989/p/3963748.html" target="_blank"&gt;jQuery 自制上传头像插件-附带Demo实例（ajaxfileupload.js第三弹）&lt;/a&gt; 》&lt;/p&gt;&lt;/div&gt;&lt;div id="MySignature"&gt;&lt;/div&gt;
&lt;div class="clear"&gt;&lt;/div&gt;
&lt;div id="blog_post_info_block"&gt;
&lt;div id="BlogPostCategory"&gt;&lt;/div&gt;
&lt;div id="EntryTag"&gt;&lt;/div&gt;
&lt;div id="blog_post_info"&gt;
&lt;/div&gt;
&lt;div class="clear"&gt;&lt;/div&gt;
&lt;div id="post_next_prev"&gt;&lt;/div&gt;
&lt;/div&gt;


	&lt;div class="postDesc"&gt;posted on &lt;span id="post-date"&gt;2014-09-11 14:34&lt;/span&gt; &lt;a href='http://www.cnblogs.com/zhouhongyu1989/'&gt;我不会抽烟Oscar&lt;/a&gt; 阅读(&lt;span id="post_view_count"&gt;...&lt;/span&gt;) 评论(&lt;span id="post_comment_count"&gt;...&lt;/span&gt;)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3966423" rel="nofollow"&gt;编辑&lt;/a&gt; &lt;a href="#" onclick="AddToWz(3966423);return false;"&gt;收藏&lt;/a&gt;&lt;/div&gt;
&lt;/div&gt;
&lt;script type="text/javascript"&gt;var allowComments=true,isLogined=false,cb_blogId=187958,cb_entryId=3966423,cb_blogApp=currentBlogApp,cb_blogUserGuid='902cd865-c3eb-e311-8d02-90b11c0b17d6',cb_entryCreatedDate='2014/9/11 14:34:00';loadViewCount(cb_entryId);&lt;/script&gt;

&lt;a name="!comments"&gt;&lt;/a&gt;&lt;div id="blog-comments-placeholder"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;var commentManager = new blogCommentManager();commentManager.renderComments(0);&lt;/script&gt;
&lt;div id="comment_form" class="commentform"&gt;
&lt;a name="commentform"&gt;&lt;/a&gt;
&lt;div id="divCommentShow"&gt;&lt;/div&gt;
&lt;div id="comment_nav"&gt;&lt;span id="span_refresh_tips"&gt;&lt;/span&gt;&lt;a href="javascript:void(0);" id="lnk_RefreshComments" onclick="return RefreshCommentList();"&gt;刷新评论&lt;/a&gt;&lt;a href="#" onclick="return RefreshPage();"&gt;刷新页面&lt;/a&gt;&lt;a href="#top"&gt;返回顶部&lt;/a&gt;&lt;/div&gt;
&lt;div id="comment_form_container"&gt;&lt;/div&gt;
&lt;div class="ad_text_commentbox" id="ad_text_under_commentbox"&gt;&lt;/div&gt;
&lt;div id="site_nav_under"&gt;&lt;a href="http://www.cnblogs.com/" target="_blank" title="开发者的网上家园"&gt;博客园首页&lt;/a&gt;&lt;a href="http://q.cnblogs.com/" target="_blank" title="程序员问答社区"&gt;博问&lt;/a&gt;&lt;a href="http://news.cnblogs.com/" target="_blank" title="IT新闻"&gt;新闻&lt;/a&gt;&lt;a href="http://home.cnblogs.com/ing/" target="_blank"&gt;闪存&lt;/a&gt;&lt;a href="http://job.cnblogs.com/" target="_blank"&gt;程序员招聘&lt;/a&gt;&lt;a href="http://kb.cnblogs.com/" target="_blank"&gt;知识库&lt;/a&gt;&lt;/div&gt;
&lt;div id="opt_under_post"&gt;&lt;/div&gt;
&lt;script type="text/javascript"&gt;
    var enableGoogleAd = canShowAdsense(); var googletag = googletag || {}; googletag.cmd = googletag.cmd || [];
    fixPostBodyFormat();
&lt;/script&gt;
&lt;div id="ad_under_post_holder"&gt;
&lt;script type='text/javascript'&gt;
    var googletag = googletag || {};
    googletag.cmd = googletag.cmd || [];
    (function () {
        if (enableGoogleAd) {
            var gads = document.createElement('script');
            gads.async = true;
            gads.type = 'text/javascript';
            var useSSL = 'https:' == document.location.protocol;
            gads.src = (useSSL ? 'https:' : 'http:') + '//www.googletagservices.com/tag/js/gpt.js';
            var node = document.getElementsByTagName('script')[0];
            node.parentNode.insertBefore(gads, node);
        }
    })();
&lt;/script&gt;
&lt;script type='text/javascript'&gt;
    try {
        if (enableGoogleAd) {
            googletag.cmd.push(function () {
                googletag.defineSlot('/1090369/cnblogs_blogpost_C1_sitehome', [300, 250], 'div-gpt-ad-1346480159711-0').addService(googletag.pubads());
                googletag.pubads().enableSingleRequest();
                googletag.enableServices();
            });
        };
    } catch (e) { }
&lt;/script&gt;
&lt;div id="google_ad_c1" class="c_ad_block"&gt;
    &lt;div id='div-gpt-ad-1346480159711-0' style='width:300px; height:250px;'&gt;
    &lt;script type='text/javascript'&gt;
        try {
            if (enableGoogleAd) {
                googletag.cmd.push(function () { googletag.display('div-gpt-ad-1346480159711-0'); });            
            } else {
                $('#div-gpt-ad-1346480159711-0').hide();
            }
    } catch (e) { }
    &lt;/script&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;div id="blog_news_kb"&gt;&lt;/div&gt;
&lt;div id="HistoryToday" class="c_ad_block"&gt;&lt;/div&gt;
&lt;script type="text/javascript"&gt;
$(function () {
    loadNewsAndKb();
    loadBlogSignature();
    LoadPostInfoBlock(cb_blogId, cb_entryId, cb_blogApp, cb_blogUserGuid);
    GetPrevNextPost(cb_entryId, cb_blogId, cb_entryCreatedDate);
    loadOptUnderPost();
    GetHistoryToday(cb_blogId, cb_blogApp, cb_entryCreatedDate);
    setTimeout(function () { incrementViewCount(cb_entryId); }, 200);
});
&lt;/script&gt;
&lt;/div&gt;

	
&lt;!--done--&gt;
&lt;div class="footer"&gt;
	
	Copyright &amp;copy;2014 我不会抽烟Oscar Powered by: &lt;a href="http://www.cnblogs.com" class="footerlink"&gt;博客园&lt;/a&gt; 模板提供：&lt;a href="http://blog.hjenglish.com" class="footerlink"&gt;沪江博客&lt;/a&gt;&lt;br&gt;
&lt;/div&gt;
&lt;/div&gt;



&lt;/body&gt;
&lt;/html&gt;
</Html>
	<HtmlMetas i:nil="true" />
	<HtmlTitle i:nil="true" />
	<IsDefault>false</IsDefault>
	<Layout i:nil="true" />
	<Name>-zhouhongyu1989-p-3966423.html</Name>
	<OutputCache i:nil="true" />
	<PageContents xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
	<Plugins xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<Published>false</Published>
	<RequireHttps>false</RequireHttps>
	<Routes>
		<PageRoute>
			<Defaults xmlns:d4p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
			<Identifier>/zhouhongyu1989/p/3966423.html</Identifier>
			<RoutePath i:nil="true" />
		</PageRoute>
	</Routes>
	<Scripts i:nil="true" />
	<Site>
		<AbsoluteName xmlns="Ovaldi.Core.Models">Cnblogs</AbsoluteName>
	</Site>
	<Styles i:nil="true" />
	<UUID>-zhouhongyu1989-p-3966423.html</UUID>
</Page>