<?xml version="1.0" encoding="utf-8"?>
<Page xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Ovaldi.Core.Models">
	<AbsoluteName>-justnow-p-3974416.html</AbsoluteName>
	<CustomFields xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<EnableScript>true</EnableScript>
	<EnableTheming>true</EnableTheming>
	<Html>&lt;!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"&gt;
&lt;html xmlns="http://www.w3.org/1999/xhtml" lang="zh-cn"&gt;
&lt;head&gt;
&lt;meta http-equiv="Content-Type" content="text/html; charset=utf-8"&gt;
&lt;title&gt;可在广域网部署运行的QQ高仿版 -- GG叽叽V3.7，优化视频聊天、控制更多相关细节 - GG叽叽 - 博客园&lt;/title&gt;
&lt;link type="text/css" rel="stylesheet" href="/preview~Cnblogs/Styles/bundles/blog-common.css"&gt;
&lt;link id="MainCss" type="text/css" rel="stylesheet" href="/preview~Cnblogs/Styles/skins/SimpleBlue/bundle-SimpleBlue.css"&gt;
&lt;link title="RSS" type="application/rss+xml" rel="alternate" href="http://www.cnblogs.com/justnow/rss"&gt;
&lt;link title="RSD" type="application/rsd+xml" rel="EditURI" href="http://www.cnblogs.com/justnow/rsd.xml"&gt;
&lt;link type="application/wlwmanifest+xml" rel="wlwmanifest" href="http://www.cnblogs.com/justnow/wlwmanifest.xml"&gt;
&lt;script src="http://common.cnblogs.com/script/jquery.js" type="text/javascript"&gt;&lt;/script&gt;  
&lt;script type="text/javascript"&gt;var currentBlogApp = 'justnow', cb_enable_mathjax=false;&lt;/script&gt;
&lt;script src="/preview~Cnblogs/Scripts/bundles/blog-common.js" type="text/javascript"&gt;&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;a name="top"&gt;&lt;/a&gt;

&lt;div id="home"&gt;
&lt;div id="header"&gt;
	&lt;div id="blogTitle"&gt;
		
&lt;!--done--&gt;
&lt;div class="title"&gt;&lt;a id="Header1_HeaderTitle" class="headermaintitle" href="/preview~Cnblogs/justnow/"&gt;GG2013&lt;/a&gt;&lt;/div&gt;
&lt;div class="subtitle"&gt;QQ高仿版，可在广域网部署运行。支持：文字/语音/视频聊天，文件传送，离线文件，离线消息，视频会议。&lt;/div&gt;



		
	&lt;/div&gt;&lt;!--end: blogTitle 博客的标题和副标题 --&gt;
	&lt;div id="navigator"&gt;
		
&lt;ul id="navList"&gt;
&lt;li id="nav_sitehome"&gt;&lt;a id="MyLinks1_HomeLink" class="menu" href="/preview~Cnblogs/"&gt;博客园&lt;/a&gt;&lt;/li&gt;
&lt;li id="nav_myhome"&gt;&lt;a id="MyLinks1_MyHomeLink" class="menu" href="/preview~Cnblogs/justnow/"&gt;首页&lt;/a&gt;&lt;/li&gt;
&lt;li id="nav_q"&gt;&lt;a class="menu" href="http://q.cnblogs.com/"&gt;博问&lt;/a&gt;&lt;/li&gt;
&lt;li id="nav_ing"&gt;&lt;a class="menu" href="http://home.cnblogs.com/ing/"&gt;闪存&lt;/a&gt;&lt;/li&gt;
&lt;li id="nav_newpost"&gt;&lt;/li&gt;
&lt;li id="nav_contact"&gt;&lt;a id="MyLinks1_ContactLink" class="menu" rel="nofollow" href="http://space.cnblogs.com/msg/send/GG%e5%8f%bd%e5%8f%bd"&gt;联系&lt;/a&gt;&lt;/li&gt;
&lt;li id="nav_rss"&gt;
&lt;!----&gt;&lt;/li&gt;
&lt;li id="nav_admin"&gt;&lt;a id="MyLinks1_Admin" class="menu" rel="nofollow" href="http://i.cnblogs.com/"&gt;管理&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;

		&lt;div class="blogStats"&gt;
			
			
&lt;!--done--&gt;
随笔-23&amp;nbsp;
文章-0&amp;nbsp;
评论-727&amp;nbsp;

			
		&lt;/div&gt;&lt;!--end: blogStats --&gt;
	&lt;/div&gt;&lt;!--end: navigator 博客导航栏 --&gt;
&lt;/div&gt;&lt;!--end: header 头部 --&gt;
&lt;div id="main"&gt;
	&lt;div id="mainContent"&gt;
	&lt;div class="forFlow"&gt;
		

&lt;!--done--&gt;
&lt;div id="topics"&gt;
	&lt;div class="post"&gt;
		&lt;h1 class="postTitle"&gt;
			&lt;a id="cb_post_title_url" class="postTitle2" href="/preview~Cnblogs/justnow/p/3974416.html"&gt;可在广域网部署运行的QQ高仿版 -- GG叽叽V3.7，优化视频聊天、控制更多相关细节&lt;/a&gt;
		&lt;/h1&gt;
		&lt;div class="clear"&gt;&lt;/div&gt;
		&lt;div class="postBody"&gt;
			&lt;div id="cnblogs_post_body"&gt;&lt;p&gt;　　在广域网中，由于网络的结构纷繁复杂、而且其实时状况又是千变万化的，所以，要使广域网中的视频聊天达到一个令人满意的效果，存在诸多挑战。这次发布的GG 3.7版本尝试在这一方向上做一些努力，据我自己测试，相比之前版本，新版本GG的视频聊天的效果确实有较大提升。本文不仅会分享GG的最新源码，而且也会把我在过去项目中总结的一些语音视频聊天的优化心得分享给大家。&lt;/p&gt;
&lt;h2&gt;一.GG V3.7 新增功能展现　&lt;/h2&gt;
&lt;p&gt;　　针对视频聊天的优化，主要体现在以下几点，为了方便介绍，我将VideoForm的窗体设计的截图放在这里：&lt;/p&gt;
&lt;p&gt;　　&lt;img src="http://images.cnitblog.com/blog/20404/201409/161034554252196.png" alt="" width="366" height="385"&gt;&lt;/p&gt;
&lt;p&gt;1.实时显示对方的麦克风状态（启用或禁用），如图中A。&lt;/p&gt;
&lt;p&gt;2.实时显示对方的摄像头状态（启用或禁用），如图中B。&lt;/p&gt;
&lt;p&gt;3.实时显示对方视频的编码质量，如图中D。取值0~31，值越小，视频越清晰。&lt;/p&gt;
&lt;p&gt;4.允许控制对方视频编码质量的策略：根据网络情况自适应，或直接手动指定编码质量（下拉列表选择：优、良、中、差）。如图中C。&lt;/p&gt;
&lt;p&gt;5.控制对方摄像头的采集视频在高分辨率（640*480）和低分辨率（352*288）之间切换。如图中E。&lt;/p&gt;
&lt;p&gt;6.实时显示网络通道的状态（类似信号强度）。如图中F。&lt;/p&gt;
&lt;p&gt;7.界面上的勾选框用于控制开启或关闭自己的摄像头、麦克风、扬声器，以及显示自己视频的小窗口。&lt;/p&gt;
&lt;p&gt;　　GG运行起来之后，视频聊天的截图如下所示：&amp;nbsp; &amp;nbsp; &amp;nbsp;&amp;nbsp;&lt;/p&gt;
&lt;p&gt;&amp;nbsp; &amp;nbsp; &amp;nbsp;&amp;nbsp;&lt;img src="http://images.cnitblog.com/blog/20404/201409/161414422371519.png" alt="" width="437" height="387"&gt;&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;h2&gt;二.视频聊天优化经验&amp;nbsp;&lt;/h2&gt;
&lt;p&gt;　　 关于本次GG更新的源代码，就不多讲了，大家下载了自己去看，相对还是比较简单的。接下来，我总结一下自己以往做视频聊天优化的经验。&lt;/p&gt;
&lt;p&gt;　　&amp;nbsp;如果网络情况相当好，那自然可以选择流畅高清的视频对话（如高的帧率、高的采集分辨率、高的视频编码质量等）。然而，现实总是残酷的，所以，针对现实情况，我们必须有所权衡和取舍。&lt;/p&gt;
&lt;p&gt;1.优先保证语音流畅。&lt;/p&gt;
&lt;p&gt;（1）语音数据的流量很小，一般小于5k/s。但是，语音对网络的抖动要求较高，较大的网络抖动，就会导致语音一卡一卡的。&lt;/p&gt;
&lt;p&gt;&amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; 虽然GG使用的OMCS内部内置抖动缓冲区JitterBuffer，但也只能一定程度地缓解卡的问题，而且是以增加语音延迟为代价的。&lt;/p&gt;
&lt;p&gt;（2）避免通过TCP一次性发送非常大块的数据Blob，因为这样会导致在发送Blob期间，任何语音数据包都发送不出去。建议是将大的Blob拆分成多个小块发送。&lt;/p&gt;
&lt;p&gt;2.在网络差时&lt;/p&gt;
&lt;p&gt;（1）首先降低摄像头的采集分辨率，如去掉上面截图窗体上&amp;ldquo;高分辨率&amp;rdquo;选项的勾勾。&lt;/p&gt;
&lt;p&gt;（2）如果视频或语音还是卡，则降低视频的编码质量。如果是手动调节，则依次下调视频编码质量：优-&amp;gt;良-&amp;gt;中-&amp;gt;差。&lt;/p&gt;
&lt;p&gt;（3）还可以降低摄像头采集的帧频（在服务端的配置文件中设置），由于GG内部会自动根据网络情况进行智能弃帧，所以，这个操作对GG而言就没多大必要了。&lt;/p&gt;
&lt;p&gt;（4）如果语音还是卡，那么，就关掉视频吧，只进行纯语音对话。自己这边将窗体上的&amp;ldquo;摄像头&amp;rdquo;前面的勾勾去掉，而且让对方也去掉这个勾勾。&lt;/p&gt;
&lt;p&gt;3.在租赁服务器时，一定要选择&lt;strong&gt;&lt;span style="color: #ff0000;"&gt;独享带宽&lt;/span&gt;&lt;/strong&gt;，记住，独享的。据我的经验，在IDC租服务器时免费赠送的&lt;span style="color: #000000;"&gt;百兆共享带宽还不如租个5M的独享的效果好&lt;/span&gt;。&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;h2&gt;三.GG V3.7 源码下载&lt;/h2&gt;
&lt;p&gt;　　&lt;a href="http://59.175.145.163/DownloadFiles/GG-V3.7.rar"&gt;GG V3.7 源码&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;注：GG使用VS2010编译生成的GG.exe文件，这个文件经常被新毒霸误报为&lt;strong&gt;病毒&lt;/strong&gt;，所以，这次发布的压缩包中我把客户端生成的GG.exe删除了，大家可以自己编译生成它。&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;p&gt;关于GG的最新全貌介绍、以及如何部署、数据库、试用帐号等问题，我单独写了一篇文章，作为汇总，可参见&amp;nbsp;&lt;a id="cb_post_title_url" class="postTitle2" href="/preview~Cnblogs/justnow/p/3382160.html"&gt;可在广域网部署运行的QQ高仿版 -- GG2013概要&lt;/a&gt;。&amp;nbsp;&lt;/p&gt;
&lt;p&gt;欢迎和我探讨关于GG2013的一切，我的QQ：2027224508，多多交流！ &amp;nbsp;&lt;/p&gt;
&lt;p&gt;大家有什么问题和建议，可以留言，也可以发送email到我邮箱：ggim2013@163.com。&amp;nbsp;&lt;/p&gt;
&lt;p&gt;如果你觉得还不错，请粉我，顺便再顶一下啊，呵呵 &amp;nbsp;&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;/div&gt;&lt;div id="MySignature"&gt;&lt;/div&gt;
&lt;div class="clear"&gt;&lt;/div&gt;
&lt;div id="blog_post_info_block"&gt;
&lt;div id="BlogPostCategory"&gt;&lt;/div&gt;
&lt;div id="EntryTag"&gt;&lt;/div&gt;
&lt;div id="blog_post_info"&gt;
&lt;/div&gt;
&lt;div class="clear"&gt;&lt;/div&gt;
&lt;div id="post_next_prev"&gt;&lt;/div&gt;
&lt;/div&gt;


		&lt;/div&gt;
		&lt;div class="postDesc"&gt;posted @ &lt;span id="post-date"&gt;2014-09-16 11:49&lt;/span&gt; &lt;a href='/preview~Cnblogs/justnow/'&gt;GG叽叽&lt;/a&gt; 阅读(&lt;span id="post_view_count"&gt;...&lt;/span&gt;) 评论(&lt;span id="post_comment_count"&gt;...&lt;/span&gt;)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3974416" rel="nofollow"&gt;编辑&lt;/a&gt; &lt;a href="#" onclick="AddToWz(3974416);return false;"&gt;收藏&lt;/a&gt;&lt;/div&gt;
	&lt;/div&gt;
	&lt;script type="text/javascript"&gt;var allowComments=true,isLogined=false,cb_blogId=23963,cb_entryId=3974416,cb_blogApp=currentBlogApp,cb_blogUserGuid='cf693d0b-63cf-dd11-9e4d-001cf0cd104b',cb_entryCreatedDate='2014/9/16 11:49:00';loadViewCount(cb_entryId);&lt;/script&gt;
	
&lt;/div&gt;&lt;!--end: topics 文章、评论容器--&gt;
&lt;a name="!comments"&gt;&lt;/a&gt;&lt;div id="blog-comments-placeholder"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;var commentManager = new blogCommentManager();commentManager.renderComments(0);&lt;/script&gt;
&lt;div id="comment_form" class="commentform"&gt;
&lt;a name="commentform"&gt;&lt;/a&gt;
&lt;div id="divCommentShow"&gt;&lt;/div&gt;
&lt;div id="comment_nav"&gt;&lt;span id="span_refresh_tips"&gt;&lt;/span&gt;&lt;a href="javascript:void(0);" id="lnk_RefreshComments" onclick="return RefreshCommentList();"&gt;刷新评论&lt;/a&gt;&lt;a href="#" onclick="return RefreshPage();"&gt;刷新页面&lt;/a&gt;&lt;a href="#top"&gt;返回顶部&lt;/a&gt;&lt;/div&gt;
&lt;div id="comment_form_container"&gt;&lt;/div&gt;
&lt;div class="ad_text_commentbox" id="ad_text_under_commentbox"&gt;&lt;/div&gt;
&lt;div id="site_nav_under"&gt;&lt;a href="/preview~Cnblogs/" target="_blank" title="开发者的网上家园"&gt;博客园首页&lt;/a&gt;&lt;a href="http://q.cnblogs.com/" target="_blank" title="程序员问答社区"&gt;博问&lt;/a&gt;&lt;a href="http://news.cnblogs.com/" target="_blank" title="IT新闻"&gt;新闻&lt;/a&gt;&lt;a href="http://home.cnblogs.com/ing/" target="_blank"&gt;闪存&lt;/a&gt;&lt;a href="http://job.cnblogs.com/" target="_blank"&gt;程序员招聘&lt;/a&gt;&lt;a href="http://kb.cnblogs.com/" target="_blank"&gt;知识库&lt;/a&gt;&lt;/div&gt;
&lt;div id="opt_under_post"&gt;&lt;/div&gt;
&lt;script type="text/javascript"&gt;
    var enableGoogleAd = canShowAdsense(); var googletag = googletag || {}; googletag.cmd = googletag.cmd || [];
    fixPostBodyFormat();
&lt;/script&gt;
&lt;div id="ad_under_post_holder"&gt;
&lt;script type='text/javascript'&gt;
    var googletag = googletag || {};
    googletag.cmd = googletag.cmd || [];
    (function () {
        if (enableGoogleAd) {
            var gads = document.createElement('script');
            gads.async = true;
            gads.type = 'text/javascript';
            var useSSL = 'https:' == document.location.protocol;
            gads.src = (useSSL ? 'https:' : 'http:') + '//www.googletagservices.com/tag/js/gpt.js';
            var node = document.getElementsByTagName('script')[0];
            node.parentNode.insertBefore(gads, node);
        }
    })();
&lt;/script&gt;
&lt;script type='text/javascript'&gt;
    try {
        if (enableGoogleAd) {
            googletag.cmd.push(function () {
                googletag.defineSlot('/1090369/cnblogs_blogpost_C1_sitehome', [300, 250], 'div-gpt-ad-1346480159711-0').addService(googletag.pubads());
                googletag.pubads().enableSingleRequest();
                googletag.enableServices();
            });
        };
    } catch (e) { }
&lt;/script&gt;
&lt;div id="google_ad_c1" class="c_ad_block"&gt;
    &lt;div id='div-gpt-ad-1346480159711-0' style='width:300px; height:250px;'&gt;
    &lt;script type='text/javascript'&gt;
        try {
            if (enableGoogleAd) {
                googletag.cmd.push(function () { googletag.display('div-gpt-ad-1346480159711-0'); });            
            } else {
                $('#div-gpt-ad-1346480159711-0').hide();
            }
    } catch (e) { }
    &lt;/script&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;div id="blog_news_kb"&gt;&lt;/div&gt;
&lt;div id="HistoryToday" class="c_ad_block"&gt;&lt;/div&gt;
&lt;script type="text/javascript"&gt;
$(function () {
    loadNewsAndKb();
    loadBlogSignature();
    LoadPostInfoBlock(cb_blogId, cb_entryId, cb_blogApp, cb_blogUserGuid);
    GetPrevNextPost(cb_entryId, cb_blogId, cb_entryCreatedDate);
    loadOptUnderPost();
    GetHistoryToday(cb_blogId, cb_blogApp, cb_entryCreatedDate);
    setTimeout(function () { incrementViewCount(cb_entryId); }, 200);
});
&lt;/script&gt;
&lt;/div&gt;

	&lt;/div&gt;&lt;!--end: forFlow --&gt;
	&lt;/div&gt;&lt;!--end: mainContent 主体内容容器--&gt;

	&lt;div id="sideBar"&gt;
		&lt;div id="sideBarMain"&gt;
			
&lt;!--done--&gt;
&lt;div class="newsItem"&gt;
&lt;h3 class="catListTitle"&gt;公告&lt;/h3&gt;
	&lt;div id="blog-news"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;loadBlogNews();&lt;/script&gt;
&lt;/div&gt;

			&lt;div id="calendar"&gt;&lt;div id="blog-calendar" style="display:none"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;loadBlogDefaultCalendar();&lt;/script&gt;&lt;/div&gt;
			
			&lt;div id="leftcontentcontainer"&gt;
				&lt;div id="blog-sidecolumn"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;loadBlogSideColumn();&lt;/script&gt;
			&lt;/div&gt;
			
		&lt;/div&gt;&lt;!--end: sideBarMain --&gt;
	&lt;/div&gt;&lt;!--end: sideBar 侧边栏容器 --&gt;
	&lt;div class="clear"&gt;&lt;/div&gt;
	&lt;/div&gt;&lt;!--end: main --&gt;
	&lt;div class="clear"&gt;&lt;/div&gt;
	&lt;div id="footer"&gt;
		
&lt;!--done--&gt;
Copyright &amp;copy;2014 GG叽叽
	&lt;/div&gt;&lt;!--end: footer --&gt;
&lt;/div&gt;&lt;!--end: home 自定义的最大容器 --&gt;
&lt;/body&gt;
&lt;/html&gt;
</Html>
	<HtmlMetas i:nil="true" />
	<HtmlTitle i:nil="true" />
	<IsDefault>false</IsDefault>
	<Layout i:nil="true" />
	<Name>-justnow-p-3974416.html</Name>
	<OutputCache i:nil="true" />
	<PageContents xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
	<Plugins xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<Published>false</Published>
	<RequireHttps>false</RequireHttps>
	<Routes>
		<PageRoute>
			<Defaults xmlns:d4p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
			<Identifier>/justnow/p/3974416.html</Identifier>
			<RoutePath i:nil="true" />
		</PageRoute>
	</Routes>
	<Scripts i:nil="true" />
	<Site>
		<AbsoluteName xmlns="Ovaldi.Core.Models">Cnblogs</AbsoluteName>
	</Site>
	<Styles i:nil="true" />
	<UUID>-justnow-p-3974416.html</UUID>
</Page>