<?xml version="1.0" encoding="utf-8"?>
<Page xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Ovaldi.Core.Models">
	<AbsoluteName>-justnow-</AbsoluteName>
	<CustomFields xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<EnableScript>true</EnableScript>
	<EnableTheming>true</EnableTheming>
	<Html>&lt;!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"&gt;
&lt;html xmlns="http://www.w3.org/1999/xhtml" lang="zh-cn"&gt;
&lt;head&gt;
&lt;meta http-equiv="Content-Type" content="text/html; charset=utf-8"&gt;
&lt;title&gt;GG叽叽 - 博客园&lt;/title&gt;
&lt;link type="text/css" rel="stylesheet" href="/preview~Cnblogs/Styles/bundles/blog-common.css"&gt;
&lt;link id="MainCss" type="text/css" rel="stylesheet" href="/preview~Cnblogs/Styles/skins/SimpleBlue/bundle-SimpleBlue.css"&gt;
&lt;link title="RSS" type="application/rss+xml" rel="alternate" href="http://www.cnblogs.com/justnow/rss"&gt;
&lt;link title="RSD" type="application/rsd+xml" rel="EditURI" href="http://www.cnblogs.com/justnow/rsd.xml"&gt;
&lt;link type="application/wlwmanifest+xml" rel="wlwmanifest" href="http://www.cnblogs.com/justnow/wlwmanifest.xml"&gt;
&lt;script src="http://common.cnblogs.com/script/jquery.js" type="text/javascript"&gt;&lt;/script&gt;  
&lt;script type="text/javascript"&gt;var currentBlogApp = 'justnow', cb_enable_mathjax=false;&lt;/script&gt;
&lt;script src="/preview~Cnblogs/Scripts/bundles/blog-common.js" type="text/javascript"&gt;&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;a name="top"&gt;&lt;/a&gt;

&lt;div id="home"&gt;
&lt;div id="header"&gt;
	&lt;div id="blogTitle"&gt;
		
&lt;!--done--&gt;
&lt;div class="title"&gt;&lt;a id="Header1_HeaderTitle" class="headermaintitle" href="http://www.cnblogs.com/justnow/"&gt;GG2013&lt;/a&gt;&lt;/div&gt;
&lt;div class="subtitle"&gt;QQ高仿版，可在广域网部署运行。支持：文字/语音/视频聊天，文件传送，离线文件，离线消息，视频会议。&lt;/div&gt;



		
	&lt;/div&gt;&lt;!--end: blogTitle 博客的标题和副标题 --&gt;
	&lt;div id="navigator"&gt;
		
&lt;ul id="navList"&gt;
&lt;li id="nav_sitehome"&gt;&lt;a id="MyLinks1_HomeLink" class="menu" href="http://www.cnblogs.com/"&gt;博客园&lt;/a&gt;&lt;/li&gt;
&lt;li id="nav_myhome"&gt;&lt;a id="MyLinks1_MyHomeLink" class="menu" href="http://www.cnblogs.com/justnow/"&gt;首页&lt;/a&gt;&lt;/li&gt;
&lt;li id="nav_q"&gt;&lt;a class="menu" href="http://q.cnblogs.com/"&gt;博问&lt;/a&gt;&lt;/li&gt;
&lt;li id="nav_ing"&gt;&lt;a class="menu" href="http://home.cnblogs.com/ing/"&gt;闪存&lt;/a&gt;&lt;/li&gt;
&lt;li id="nav_newpost"&gt;&lt;/li&gt;
&lt;li id="nav_contact"&gt;&lt;a id="MyLinks1_ContactLink" class="menu" rel="nofollow" href="http://space.cnblogs.com/msg/send/GG%e5%8f%bd%e5%8f%bd"&gt;联系&lt;/a&gt;&lt;/li&gt;
&lt;li id="nav_rss"&gt;
&lt;!----&gt;&lt;/li&gt;
&lt;li id="nav_admin"&gt;&lt;a id="MyLinks1_Admin" class="menu" rel="nofollow" href="http://i.cnblogs.com/"&gt;管理&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;

		&lt;div class="blogStats"&gt;
			
			
&lt;!--done--&gt;
随笔-23&amp;nbsp;
文章-0&amp;nbsp;
评论-727&amp;nbsp;

			
		&lt;/div&gt;&lt;!--end: blogStats --&gt;
	&lt;/div&gt;&lt;!--end: navigator 博客导航栏 --&gt;
&lt;/div&gt;&lt;!--end: header 头部 --&gt;
&lt;div id="main"&gt;
	&lt;div id="mainContent"&gt;
	&lt;div class="forFlow"&gt;
		

&lt;!--done--&gt;

&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_ctl00_ImageLink" href="http://www.cnblogs.com/justnow/"&gt;置顶随笔&lt;/a&gt;				  
	&lt;/div&gt;
	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_ctl00_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/justnow/p/3382160.html"&gt;[置顶]可在广域网部署运行的QQ高仿版 -- GG2013总览&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: GG是QQ的高仿版，包括客户端和服务端，可在广域网部署使用。我想写一个类似汇总的文章，通过这篇文章，大家可以了解到GG的全貌和最新进展，以及关于一些常见问题的解答也汇总在这里。&lt;a href="http://www.cnblogs.com/justnow/p/3382160.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2013-10-22 15:08 GG叽叽 阅读(12633) 评论(138)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3382160" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;

&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl00_ImageLink" href="http://www.cnblogs.com/justnow/archive/2014/09/16.html"&gt;2014年9月16日&lt;/a&gt;				  
	&lt;/div&gt;
	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl00_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/justnow/p/3974416.html"&gt;可在广域网部署运行的QQ高仿版 -- GG叽叽V3.7，优化视频聊天、控制更多相关细节&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: 在广域网中，由于网络的结构纷繁复杂、而且其实时状况又是千变万化的，所以，要使广域网中的视频聊天达到一个令人满意的效果，存在诸多挑战。这次发布的GG 3.7版本尝试在这一方向上做一些努力。本文不仅会分享GG的最新源码，而且也会把我在过去项目中总结的一些语音视频聊天的优化经验分享给大家。&lt;a href="http://www.cnblogs.com/justnow/p/3974416.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-09-16 11:49 GG叽叽 阅读(1533) 评论(9)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3974416" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;

&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl01_ImageLink" href="http://www.cnblogs.com/justnow/archive/2014/08/28.html"&gt;2014年8月28日&lt;/a&gt;				  
	&lt;/div&gt;
	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl01_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/justnow/p/3941298.html"&gt;巧妙地利用进程分离来设置程序开机自动启动！（附源码）&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: 如果仅仅为了一个很少用到的功能就将程序要求为以管理员身份运行，就太不优雅和太浪费了，本文介绍一种进程分离的方式来巧妙地达到目的！&lt;a href="http://www.cnblogs.com/justnow/p/3941298.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-08-28 11:50 GG叽叽 阅读(1417) 评论(8)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3941298" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;

&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl02_ImageLink" href="http://www.cnblogs.com/justnow/archive/2014/08/06.html"&gt;2014年8月6日&lt;/a&gt;				  
	&lt;/div&gt;
	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl02_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/justnow/p/3894131.html"&gt;可在广域网部署运行的QQ高仿版 -- GG叽叽V3.6，增加语音消息、语音留言等功能&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: 自从微信出来后，语音消息和语音留言变得非常流行，按下一个键说话，比打字要方便多了。GG在V3.6版本增加了语音消息和语音留言功能。&lt;a href="http://www.cnblogs.com/justnow/p/3894131.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-08-06 11:33 GG叽叽 阅读(3855) 评论(35)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3894131" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;

&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl03_ImageLink" href="http://www.cnblogs.com/justnow/archive/2014/06/30.html"&gt;2014年6月30日&lt;/a&gt;				  
	&lt;/div&gt;
	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl03_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/justnow/p/3817019.html"&gt;可在广域网部署运行的QQ高仿版 -- GG叽叽V3.5，增加自拍头像功能、细节优化（源码）&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: V3.5版本的GG相比于3.4增加的主要功能有自拍头像、密码修改、删除好友，以及一些已发现的bug的修改。&lt;a href="http://www.cnblogs.com/justnow/p/3817019.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-06-30 20:13 GG叽叽 阅读(2257) 评论(16)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3817019" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;

&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl04_ImageLink" href="http://www.cnblogs.com/justnow/archive/2014/05/28.html"&gt;2014年5月28日&lt;/a&gt;				  
	&lt;/div&gt;
	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl04_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/justnow/p/3757785.html"&gt;可在广域网部署运行的QQ高仿版 -- GG叽叽V3.4，增加系统设置、最近联系人、群功能（源码）&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: GG的主要的大功能都实现得差不多了，接下来的几个版本将不断优化GG的细节，提高其可用性。这次版本更新的内容主要是为GG增加了系统设置、并完善的了群所需的基础功能。&lt;a href="http://www.cnblogs.com/justnow/p/3757785.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-05-28 20:00 GG叽叽 阅读(4080) 评论(49)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3757785" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;

&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl05_ImageLink" href="http://www.cnblogs.com/justnow/archive/2014/05/21.html"&gt;2014年5月21日&lt;/a&gt;				  
	&lt;/div&gt;
	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl05_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/justnow/p/3739438.html"&gt;一次与51aspx客服MM谈话 -- 坑是怎么发展的&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: GG从发布以来，我每次版本更新都会同步到51aspx源码网站，这次在同步更新GG V3.2版本到51aspx时，出了点小状况： 上传3.2版本几个小时后，我再次上去查看，发现其状态变成了“退回”，于是，我点击“原因”，弹出提示框提示为：“本站已收录相同源码，请选择其它源码上传”。这让我很纳...&lt;a href="http://www.cnblogs.com/justnow/p/3739438.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-05-21 09:47 GG叽叽 阅读(1005) 评论(38)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3739438" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;

&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl06_ImageLink" href="http://www.cnblogs.com/justnow/archive/2014/05/16.html"&gt;2014年5月16日&lt;/a&gt;				  
	&lt;/div&gt;
	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl06_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/justnow/p/3731521.html"&gt;可在广域网部署运行的QQ高仿版 -- GG叽叽V3.2，增加离线消息、离线文件功能（源码）&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: 离线消息和离线文件是IM类软件的必备基础功能，GG在这一版本中完整地实现了这两个功能。&lt;a href="http://www.cnblogs.com/justnow/p/3731521.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-05-16 09:56 GG叽叽 阅读(4489) 评论(38)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3731521" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;

&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl07_ImageLink" href="http://www.cnblogs.com/justnow/archive/2014/04/15.html"&gt;2014年4月15日&lt;/a&gt;				  
	&lt;/div&gt;
	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl07_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/justnow/p/3665824.html"&gt;可在广域网部署运行的QQ高仿版 -- GG叽叽V3.0，完善基础功能（源码）&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: GG的前面几个版本开发了一些比较高级的功能，像视频聊天、远程桌面、文件传送、远程磁盘等，但是，有一些基础且必需的功能一直未实现，比如注册、添加好友、加入群、群聊天等等。经常有朋友留言问这些功能要怎么做，GG3.0终于可以给出一个答案了。&lt;a href="http://www.cnblogs.com/justnow/p/3665824.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-04-15 11:51 GG叽叽 阅读(6319) 评论(70)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3665824" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;

&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl08_ImageLink" href="http://www.cnblogs.com/justnow/archive/2013/11/05.html"&gt;2013年11月5日&lt;/a&gt;				  
	&lt;/div&gt;
	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl08_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/justnow/p/3382147.html"&gt;可在广域网部署运行的QQ高仿版 -- GG叽叽V2.4，增加远程协助、桌面共享功能（源码）&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: QQ的远程协助、或者说桌面共享是一个非常实用的功能，所以2.4版本的GG复制了它，而且，GG增强了桌面共享的功能，它可以允许指定要共享桌面的区域，这样，对方就只能看到指定区域的桌面，这对节省流量会非常有帮助。&lt;a href="http://www.cnblogs.com/justnow/p/3382147.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2013-11-05 09:44 GG叽叽 阅读(6103) 评论(61)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3382147" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;

&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl09_ImageLink" href="http://www.cnblogs.com/justnow/archive/2013/10/22.html"&gt;2013年10月22日&lt;/a&gt;				  
	&lt;/div&gt;
	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl09_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/justnow/p/3382160.html"&gt;可在广域网部署运行的QQ高仿版 -- GG2013总览&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: GG是QQ的高仿版，包括客户端和服务端，可在广域网部署使用。我想写一个类似汇总的文章，通过这篇文章，大家可以了解到GG的全貌和最新进展，以及关于一些常见问题的解答也汇总在这里。&lt;a href="http://www.cnblogs.com/justnow/p/3382160.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2013-10-22 15:08 GG叽叽 阅读(12633) 评论(138)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3382160" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;

&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl10_ImageLink" href="http://www.cnblogs.com/justnow/archive/2013/09/23.html"&gt;2013年9月23日&lt;/a&gt;				  
	&lt;/div&gt;
	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl10_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/justnow/p/3325928.html"&gt;可在广域网部署运行的QQ高仿版 -- GG叽叽V2.0，增加网盘和远程磁盘功能（源码）&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: GG V2.0来了，在2.0中，我仿照QQ的微云，在GG中增加了网盘的功能，而且，我还自创了一个QQ没有的新的功能：远程磁盘。正如远程桌面一样，远程磁盘允许我们像访问本地磁盘一样来访问在线的其它用户的磁盘。&lt;a href="http://www.cnblogs.com/justnow/p/3325928.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2013-09-23 10:54 GG叽叽 阅读(5858) 评论(70)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3325928" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;

&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl11_ImageLink" href="http://www.cnblogs.com/justnow/archive/2013/09/02.html"&gt;2013年9月2日&lt;/a&gt;				  
	&lt;/div&gt;
	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl11_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/justnow/p/3296088.html"&gt;可在广域网部署运行的QQ高仿版 -- GG叽叽V1.8（源码）&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: QQ高仿版GG，V1.8发布了，可以在广域网上进行视频聊天了哦！&lt;a href="http://www.cnblogs.com/justnow/p/3296088.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2013-09-02 11:54 GG叽叽 阅读(7796) 评论(79)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3296088" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;

&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl12_ImageLink" href="http://www.cnblogs.com/justnow/archive/2013/08/19.html"&gt;2013年8月19日&lt;/a&gt;				  
	&lt;/div&gt;
	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl12_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/justnow/p/3268218.html"&gt;PayPal贝宝集成&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: 今天在集成PayPal贝宝在线支付功能时，遇到了一些小挫折，费了不少功夫才最终解决（贝宝的技术支持确实让我很想吐槽）。现在记录下来，供后来者参考。根据集成说明文档，我们写的测试demo如下： Test paypal 充值100美元 ...&lt;a href="http://www.cnblogs.com/justnow/p/3268218.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2013-08-19 16:53 GG叽叽 阅读(607) 评论(0)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3268218" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;

&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl13_ImageLink" href="http://www.cnblogs.com/justnow/archive/2013/08/07.html"&gt;2013年8月7日&lt;/a&gt;				  
	&lt;/div&gt;
	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl13_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/justnow/p/3243187.html"&gt;可在广域网部署运行的QQ高仿版 -- GG叽叽（源码）&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: 我的目标并不是做一个QQ高仿版的玩具，而是希望做成一个能能够真正使用的产品（当然是免费的），并持续维护下去。&lt;a href="http://www.cnblogs.com/justnow/p/3243187.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2013-08-07 16:15 GG叽叽 阅读(10158) 评论(110)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3243187" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;

&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl14_ImageLink" href="http://www.cnblogs.com/justnow/archive/2008/09/04.html"&gt;2008年9月4日&lt;/a&gt;				  
	&lt;/div&gt;
	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl14_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/justnow/archive/2008/09/04/1283731.html"&gt;管理层与全局&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: 这几天我一直在思考公司的管理目前存在的一些问题，我想了一下，觉得有一个问题比较严重。那就是管理层太关注细节，而少了些全局的把握。这样导致员工没有积极和主动性，管理层也疲于繁多而琐碎的事务处理。管理层的关注点也就决定了公司的发展模式和精神气质。如果管理层致力于全局的把握，对公司的发展路线，发展目标，公司的团队建设有明确的思路，而对于具体的项目实现方案不过多的参与，只是设定目标和对结果进行评估。这样一...&lt;a href="http://www.cnblogs.com/justnow/archive/2008/09/04/1283731.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2008-09-04 11:06 GG叽叽 阅读(461) 评论(2)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=1283731" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;

&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl15_ImageLink" href="http://www.cnblogs.com/justnow/archive/2007/02/08.html"&gt;2007年2月8日&lt;/a&gt;				  
	&lt;/div&gt;
	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl15_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/justnow/archive/2007/02/08/644983.html"&gt;集合&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: 本文主要介绍如何使用对象组，讨论数组列表、字典和集合，以及如何在C#代码中正确使用它们，以获得最佳性能。&lt;a href="http://www.cnblogs.com/justnow/archive/2007/02/08/644983.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2007-02-08 15:52 GG叽叽 阅读(478) 评论(1)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=644983" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;

&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl16_ImageLink" href="http://www.cnblogs.com/justnow/archive/2007/02/05.html"&gt;2007年2月5日&lt;/a&gt;				  
	&lt;/div&gt;
	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl16_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/justnow/archive/2007/02/05/640726.html"&gt;字符串和正则表达式&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: System.String是一个功能非常强大且用途非常广泛的基类，但它不是.NET中唯一与字符串相关的类，特别是System.Text和System.Text.RegularExpressions命名空间中的类。本文主要介绍内容：
&lt;br&gt;1、创建字符串
&lt;br&gt;2、格式化表达式
&lt;br&gt;3、正则表达式
&lt;br&gt;&lt;a href="http://www.cnblogs.com/justnow/archive/2007/02/05/640726.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2007-02-05 17:02 GG叽叽 阅读(1184) 评论(3)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=640726" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;

&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl17_ImageLink" href="http://www.cnblogs.com/justnow/archive/2007/02/01.html"&gt;2007年2月1日&lt;/a&gt;				  
	&lt;/div&gt;
	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl17_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/justnow/archive/2007/02/01/636951.html"&gt;委托和事件&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: 回调（call back）函数是windows编程的一个重要部分，回调函数实际上就是方法调用的指针，也称为函数指针，是一个非常强大的编程特性。在.NET中以委托的形式实现了函数指针的概念，委托是类型安全的。本文主要描述C＃中委托和事件的原理和实现。
&lt;br&gt;&lt;a href="http://www.cnblogs.com/justnow/archive/2007/02/01/636951.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2007-02-01 17:11 GG叽叽 阅读(683) 评论(1)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=636951" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;

&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl18_ImageLink" href="http://www.cnblogs.com/justnow/archive/2007/01/31.html"&gt;2007年1月31日&lt;/a&gt;				  
	&lt;/div&gt;
	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl18_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/justnow/archive/2007/01/31/631548.html"&gt;运算符和强制类型转换&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: 本文主要介绍一下C＃中的运算符和类型强制转换，主要内容包括
&lt;br&gt;1.C＃中的可用运算符
&lt;br&gt;2.处理引用类型和值类型时相等的含义
&lt;br&gt;3.基本数据类型之间的数据转换
&lt;br&gt;4.装箱和开箱技术
&lt;br&gt;5.通过强制转换技术在引用类型之间转换
&lt;br&gt;6.运算符重载
&lt;br&gt;7.自定义类型强制转换&lt;a href="http://www.cnblogs.com/justnow/archive/2007/01/31/631548.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2007-01-31 17:05 GG叽叽 阅读(1228) 评论(0)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=631548" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;

&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl19_ImageLink" href="http://www.cnblogs.com/justnow/archive/2007/01/26.html"&gt;2007年1月26日&lt;/a&gt;				  
	&lt;/div&gt;
	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl19_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/justnow/archive/2007/01/26/627703.html"&gt;继承&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: 主要介绍C#中关于 类的继承方面的内容。&lt;a href="http://www.cnblogs.com/justnow/archive/2007/01/26/627703.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2007-01-26 17:05 GG叽叽 阅读(242) 评论(0)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=627703" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;

&lt;div class="topicListFooter"&gt;&lt;a href="http://www.cnblogs.com/justnow/default.html?OnlyTitle=1"&gt;仅列出标题&lt;/a&gt;&amp;nbsp;&amp;nbsp;&lt;a href="http://www.cnblogs.com/justnow/default.html?page=2"&gt;下一页&lt;/a&gt;&lt;/div&gt;


	&lt;/div&gt;&lt;!--end: forFlow --&gt;
	&lt;/div&gt;&lt;!--end: mainContent 主体内容容器--&gt;

	&lt;div id="sideBar"&gt;
		&lt;div id="sideBarMain"&gt;
			
&lt;!--done--&gt;
&lt;div class="newsItem"&gt;
&lt;h3 class="catListTitle"&gt;公告&lt;/h3&gt;
	&lt;div id="blog-news"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;loadBlogNews();&lt;/script&gt;
&lt;/div&gt;

			&lt;div id="calendar"&gt;&lt;div id="blog-calendar" style="display:none"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;loadBlogDefaultCalendar();&lt;/script&gt;&lt;/div&gt;
			
			&lt;div id="leftcontentcontainer"&gt;
				&lt;div id="blog-sidecolumn"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;loadBlogSideColumn();&lt;/script&gt;
			&lt;/div&gt;
			
		&lt;/div&gt;&lt;!--end: sideBarMain --&gt;
	&lt;/div&gt;&lt;!--end: sideBar 侧边栏容器 --&gt;
	&lt;div class="clear"&gt;&lt;/div&gt;
	&lt;/div&gt;&lt;!--end: main --&gt;
	&lt;div class="clear"&gt;&lt;/div&gt;
	&lt;div id="footer"&gt;
		
&lt;!--done--&gt;
Copyright &amp;copy;2014 GG叽叽
	&lt;/div&gt;&lt;!--end: footer --&gt;
&lt;/div&gt;&lt;!--end: home 自定义的最大容器 --&gt;
&lt;/body&gt;
&lt;/html&gt;
</Html>
	<HtmlMetas i:nil="true" />
	<HtmlTitle i:nil="true" />
	<IsDefault>false</IsDefault>
	<Layout i:nil="true" />
	<Name>-justnow-</Name>
	<OutputCache i:nil="true" />
	<PageContents xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
	<Plugins xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<Published>false</Published>
	<RequireHttps>false</RequireHttps>
	<Routes>
		<PageRoute>
			<Defaults xmlns:d4p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
			<Identifier>/justnow/</Identifier>
			<RoutePath i:nil="true" />
		</PageRoute>
	</Routes>
	<Scripts i:nil="true" />
	<Site>
		<AbsoluteName xmlns="Ovaldi.Core.Models">Cnblogs</AbsoluteName>
	</Site>
	<Styles i:nil="true" />
	<UUID>-justnow-</UUID>
</Page>