<?xml version="1.0" encoding="utf-8"?>
<Page xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Ovaldi.Core.Models">
	<AbsoluteName>-edwinchen-p-3974255.html</AbsoluteName>
	<CustomFields xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<EnableScript>true</EnableScript>
	<EnableTheming>true</EnableTheming>
	<Html>&lt;!DOCTYPE html&gt;
&lt;html lang="zh-cn"&gt;
&lt;head&gt;
&lt;meta charset="utf-8"&gt;
&lt;title&gt;三、Solr多核心及分词器（IK）配置 - @瞪着太阳的乌鸦 - 博客园&lt;/title&gt;
&lt;link type="text/css" rel="stylesheet" href="/preview~Cnblogs/Styles/bundles/blog-common.css"&gt;
&lt;link id="MainCss" type="text/css" rel="stylesheet" href="/preview~Cnblogs/Styles/skins/facebook/bundle-facebook.css"&gt;
&lt;link title="RSS" type="application/rss+xml" rel="alternate" href="http://www.cnblogs.com/edwinchen/rss"&gt;
&lt;link title="RSD" type="application/rsd+xml" rel="EditURI" href="http://www.cnblogs.com/edwinchen/rsd.xml"&gt;
&lt;link type="application/wlwmanifest+xml" rel="wlwmanifest" href="http://www.cnblogs.com/edwinchen/wlwmanifest.xml"&gt;
&lt;script src="http://common.cnblogs.com/script/jquery.js" type="text/javascript"&gt;&lt;/script&gt;  
&lt;script type="text/javascript"&gt;var currentBlogApp = 'edwinchen', cb_enable_mathjax=false;&lt;/script&gt;
&lt;script src="/preview~Cnblogs/Scripts/bundles/blog-common.js" type="text/javascript"&gt;&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;a name="top"&gt;&lt;/a&gt;

&lt;div id="home"&gt;
&lt;div id="header"&gt;
	&lt;div id="blogTitle"&gt;
		
&lt;!--done--&gt;
&lt;h1&gt;&lt;a id="Header2_HeaderTitle" class="headermaintitle" href="http://www.cnblogs.com/edwinchen/"&gt;瞪着太阳的乌鸦&lt;/a&gt;&lt;/h1&gt;
&lt;h2&gt;The man shoud know when to leave the party!&lt;/h2&gt;



		
	&lt;/div&gt;&lt;!--end: blogTitle 博客的标题和副标题 --&gt;
	&lt;div id="navigator"&gt;
		
&lt;!--done--&gt;
			&lt;ul id="navList"&gt;
				&lt;li&gt;&lt;a id="MyLinks1_HomeLink" class="menu" href="http://www.cnblogs.com/"&gt;博客园&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a id="MyLinks1_MyHomeLink" class="menu" href="http://www.cnblogs.com/edwinchen/"&gt;首页&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a id="MyLinks1_NewPostLink" class="menu" rel="nofollow" href="http://i.cnblogs.com/EditPosts.aspx?opt=1"&gt;新随笔&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a id="MyLinks1_ContactLink" accesskey="9" class="menu" rel="nofollow" href="http://space.cnblogs.com/msg/send/%40%e7%9e%aa%e7%9d%80%e5%a4%aa%e9%98%b3%e7%9a%84%e4%b9%8c%e9%b8%a6"&gt;联系&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a id="MyLinks1_Admin" class="menu" rel="nofollow" href="http://i.cnblogs.com/"&gt;管理&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a id="MyLinks1_Syndication" class="menu" href="http://www.cnblogs.com/edwinchen/rss"&gt;订阅&lt;/a&gt;
				&lt;a id="MyLinks1_XMLLink" class="aHeaderXML" href="http://www.cnblogs.com/edwinchen/rss"&gt;&lt;img src="/preview~Cnblogs/Images/images/xml.gif" alt="订阅"&gt;&lt;/a&gt;&lt;/li&gt;
			&lt;/ul&gt;


		&lt;div class="blogStats"&gt;
			
			
&lt;!--done--&gt;
随笔- 5&amp;nbsp;
文章- 0&amp;nbsp;
评论- 8&amp;nbsp;

			
		&lt;/div&gt;&lt;!--end: blogStats --&gt;
	&lt;/div&gt;&lt;!--end: navigator 博客导航栏 --&gt;
&lt;/div&gt;&lt;!--end: header 头部 --&gt;

&lt;div id="main"&gt;
	&lt;div id="mainContent"&gt;
	&lt;div class="forFlow"&gt;
		

&lt;!--done--&gt;
&lt;div id="topics"&gt;
	&lt;div class="post"&gt;
		&lt;h1 class="postTitle"&gt;
			&lt;a id="cb_post_title_url" class="postTitle2" href="http://www.cnblogs.com/edwinchen/p/3974255.html"&gt;三、Solr多核心及分词器（IK）配置&lt;/a&gt;
		&lt;/h1&gt;
		&lt;div class="clear"&gt;&lt;/div&gt;
		&lt;div class="postBody"&gt;
			&lt;div id="cnblogs_post_body"&gt;&lt;h1&gt;&lt;span style="font-family:微软雅黑"&gt;多核心的概念
&lt;/span&gt;&lt;/h1&gt;&lt;p&gt;&lt;span style="font-family:微软雅黑"&gt;多核心说白了就是多索引库。也可以理解为多个"数据库表"
&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style="font-family:微软雅黑"&gt;说一下使用multicore的真实场景，比若说，产品搜索和会员信息搜索，不使用多核也没问题，这样带来的问题是 indexs文件很多，而且产品的索引文件和会员信息的索引文件混在一起，备份也是个问题。 如果使用了多核，那就很轻松了，产品和会员就可使用不同的URL进行提交了，业务上也很清晰，生成的索引文件也不会混在一起，也容易备份。
&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style="font-family:微软雅黑"&gt;    每个索引库通过相对独立的url访问。
&lt;/span&gt;&lt;/p&gt;&lt;p&gt;
 &lt;/p&gt;&lt;h1&gt;&lt;span style="font-family:微软雅黑"&gt;多核心的配置
&lt;/span&gt;&lt;/h1&gt;&lt;p&gt;&lt;span style="font-family:微软雅黑"&gt;还记得solr home吗，既然配置多核心，那么我们可以新建一个目录作为solr home，从零开始搭建，这样理解会更深（记得在tomcat中修改solr home路径）。
&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style="font-family:微软雅黑"&gt;我这里使用的solr home路径为：D:\Installed Applications\SolrIndex，之后将solr解压，将solr-4.9.0\example\multicore下的所有文件copy到solr home。
&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style="font-family:微软雅黑"&gt;可以看到里面有core0和core1两个核心，和一个solr.xml。core0和core1从名字就可以看出来是两个示例核心，文件结构非常简单，就只有两个文件，schema.xml和solrconfig.xml，所以我们可以根据需要修改或新建核心，只要根据实例核心的目录结构就好。接下来是schema.xml，这个文件相当于告诉solr，有多少核心和核心的名字及核心的位置：
&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style="font-family:微软雅黑"&gt;结构如下：
&lt;/span&gt;&lt;/p&gt;&lt;ol&gt;&lt;li&gt;&lt;div style="background: #f4f4f4"&gt;&lt;span style="font-size:9pt"&gt;&lt;span style="color:blue"&gt;&amp;lt;&lt;span style="color:maroon"&gt;cores&lt;/span&gt;
						&lt;span style="color:red"&gt;adminPath&lt;/span&gt;="/admin/cores"&lt;/span&gt;
					&lt;span style="color:red"&gt;host&lt;/span&gt;=&lt;span style="color:blue"&gt;"${host:}"&lt;/span&gt;
					&lt;span style="color:red"&gt;hostPort&lt;/span&gt;=&lt;span style="color:blue"&gt;"${jetty.port:8983}"&lt;/span&gt;
					&lt;span style="color:red"&gt;hostContext&lt;/span&gt;=&lt;span style="color:blue"&gt;"${hostContext:solr}"&amp;gt;&lt;/span&gt;
				&lt;/span&gt;&lt;/div&gt;&lt;/li&gt;&lt;li&gt;&lt;div style="background: #f4f4f4"&gt;&lt;span style="font-size:9pt"&gt;    &lt;span style="color:blue"&gt;&amp;lt;&lt;span style="color:maroon"&gt;core&lt;/span&gt;
						&lt;span style="color:red"&gt;name&lt;/span&gt;="core0"&lt;/span&gt;
					&lt;span style="color:red"&gt;instanceDir&lt;/span&gt;=&lt;span style="color:blue"&gt;"core0"&lt;/span&gt;
					&lt;span style="color:blue"&gt;/&amp;gt;&lt;/span&gt;
				&lt;/span&gt;&lt;/div&gt;&lt;/li&gt;&lt;li&gt;&lt;div style="background: #f4f4f4"&gt;&lt;span style="font-size:9pt"&gt;    &lt;span style="color:blue"&gt;&amp;lt;&lt;span style="color:maroon"&gt;core&lt;/span&gt;
						&lt;span style="color:red"&gt;name&lt;/span&gt;="core1"&lt;/span&gt;
					&lt;span style="color:red"&gt;instanceDir&lt;/span&gt;=&lt;span style="color:blue"&gt;"core1"&lt;/span&gt;
					&lt;span style="color:blue"&gt;/&amp;gt;&lt;/span&gt;
				&lt;/span&gt;&lt;/div&gt;&lt;/li&gt;&lt;li&gt;&lt;div style="background: #f4f4f4"&gt;
 &lt;/div&gt;&lt;/li&gt;&lt;li&gt;&lt;div style="background: #f4f4f4"&gt;&lt;span style="font-size:9pt"&gt;    &lt;span style="color:blue"&gt;&amp;lt;&lt;span style="color:maroon"&gt;shardHandlerFactory&lt;/span&gt;
						&lt;span style="color:red"&gt;name&lt;/span&gt;="shardHandlerFactory"&lt;/span&gt;
					&lt;span style="color:red"&gt;class&lt;/span&gt;=&lt;span style="color:blue"&gt;"HttpShardHandlerFactory"&amp;gt;&lt;/span&gt;
				&lt;/span&gt;&lt;/div&gt;&lt;/li&gt;&lt;li&gt;&lt;div style="background: #f4f4f4"&gt;&lt;span style="font-size:9pt"&gt;      &lt;span style="color:blue"&gt;&amp;lt;&lt;span style="color:maroon"&gt;str&lt;/span&gt;
						&lt;span style="color:red"&gt;name&lt;/span&gt;="urlScheme"&amp;gt;&lt;/span&gt;${urlScheme:}&lt;span style="color:blue"&gt;&amp;lt;/&lt;span style="color:maroon"&gt;str&lt;span style="color:blue"&gt;&amp;gt;&lt;/span&gt;
						&lt;/span&gt;&lt;/span&gt;&lt;/span&gt;&lt;/div&gt;&lt;/li&gt;&lt;li&gt;&lt;div style="background: #f4f4f4"&gt;&lt;span style="font-size:9pt"&gt;    &lt;span style="color:blue"&gt;&amp;lt;/&lt;span style="color:maroon"&gt;shardHandlerFactory&lt;span style="color:blue"&gt;&amp;gt;&lt;/span&gt;
						&lt;/span&gt;&lt;/span&gt;&lt;/span&gt;&lt;/div&gt;&lt;/li&gt;&lt;li&gt;&lt;div style="background: #f4f4f4"&gt;&lt;span style="font-size:9pt"&gt;  &lt;span style="color:blue"&gt;&amp;lt;/&lt;span style="color:maroon"&gt;cores&lt;span style="color:blue"&gt;&amp;gt;&lt;/span&gt;
						&lt;/span&gt;&lt;/span&gt;&lt;/span&gt;&lt;/div&gt;&lt;/li&gt;&lt;/ol&gt;&lt;p&gt;
 &lt;/p&gt;&lt;p&gt;
 &lt;/p&gt;&lt;p&gt;&lt;span style="font-family:微软雅黑"&gt;shardHandlerFactory暂时不管，主要修改core，name是核心的名字，instanceDir是核心的路径，默认是当前目录，这个最好保持一致，即加入核心名字是core0，那么就在solr home下新建一个core0文件夹，里面放入配置文件，那么这就是一个核心。
&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style="font-family:微软雅黑"&gt;我修改后的solr.xml配置如下：
&lt;/span&gt;&lt;/p&gt;&lt;ol&gt;&lt;li&gt;&lt;div style="background: #f4f4f4"&gt;&lt;span style="font-size:9pt"&gt;&lt;span style="color:blue"&gt;&amp;lt;&lt;span style="color:maroon"&gt;cores&lt;/span&gt;
						&lt;span style="color:red"&gt;adminPath&lt;/span&gt;="/admin/cores"&lt;/span&gt;
					&lt;span style="color:red"&gt;host&lt;/span&gt;=&lt;span style="color:blue"&gt;"${host:}"&lt;/span&gt;
					&lt;span style="color:red"&gt;defaultCoreName&lt;/span&gt;=&lt;span style="color:blue"&gt;"Artist"&lt;/span&gt;
					&lt;span style="color:red"&gt;hostPort&lt;/span&gt;=&lt;span style="color:blue"&gt;"${port:8983}"&lt;/span&gt;
					&lt;span style="color:red"&gt;hostContext&lt;/span&gt;=&lt;span style="color:blue"&gt;"${hostContext:solr}"&amp;gt;&lt;/span&gt;
				&lt;/span&gt;&lt;/div&gt;&lt;/li&gt;&lt;li&gt;&lt;div style="background: #f4f4f4"&gt;&lt;span style="font-size:9pt"&gt;    &lt;span style="color:blue"&gt;&amp;lt;&lt;span style="color:maroon"&gt;core&lt;/span&gt;
						&lt;span style="color:red"&gt;name&lt;/span&gt;="AritstCategory"&lt;/span&gt;
					&lt;span style="color:red"&gt;instanceDir&lt;/span&gt;=&lt;span style="color:blue"&gt;"AritstCategory"&lt;/span&gt;
					&lt;span style="color:blue"&gt;/&amp;gt;&lt;/span&gt;
				&lt;/span&gt;&lt;/div&gt;&lt;/li&gt;&lt;li&gt;&lt;div style="background: #f4f4f4"&gt;&lt;span style="font-size:9pt"&gt;    &lt;span style="color:blue"&gt;&amp;lt;&lt;span style="color:maroon"&gt;core&lt;/span&gt;
						&lt;span style="color:red"&gt;name&lt;/span&gt;="Artist"&lt;/span&gt;
					&lt;span style="color:red"&gt;instanceDir&lt;/span&gt;=&lt;span style="color:blue"&gt;"Artist"&lt;/span&gt;
					&lt;span style="color:blue"&gt;/&amp;gt;&lt;/span&gt;
				&lt;/span&gt;&lt;/div&gt;&lt;/li&gt;&lt;li&gt;&lt;div style="background: #f4f4f4"&gt;&lt;span style="font-size:9pt"&gt;   &lt;span style="color:blue"&gt;&amp;lt;&lt;span style="color:maroon"&gt;core&lt;/span&gt;
						&lt;span style="color:red"&gt;name&lt;/span&gt;="Song"&lt;/span&gt;
					&lt;span style="color:red"&gt;instanceDir&lt;/span&gt;=&lt;span style="color:blue"&gt;"Song"&lt;/span&gt;
					&lt;span style="color:blue"&gt;/&amp;gt;&lt;/span&gt;
				&lt;/span&gt;&lt;/div&gt;&lt;/li&gt;&lt;li&gt;&lt;div style="background: #f4f4f4"&gt;&lt;span style="font-size:9pt"&gt;   &lt;span style="color:blue"&gt;&amp;lt;&lt;span style="color:maroon"&gt;core&lt;/span&gt;
						&lt;span style="color:red"&gt;name&lt;/span&gt;="SongArtist"&lt;/span&gt;
					&lt;span style="color:red"&gt;instanceDir&lt;/span&gt;=&lt;span style="color:blue"&gt;"SongArtist"&lt;/span&gt;
					&lt;span style="color:blue"&gt;/&amp;gt;&lt;/span&gt;
				&lt;/span&gt;&lt;/div&gt;&lt;/li&gt;&lt;li&gt;&lt;div style="background: #f4f4f4"&gt;&lt;span style="font-size:9pt"&gt;   &lt;span style="color:blue"&gt;&amp;lt;&lt;span style="color:maroon"&gt;core&lt;/span&gt;
						&lt;span style="color:red"&gt;name&lt;/span&gt;="SongCategory"&lt;/span&gt;
					&lt;span style="color:red"&gt;instanceDir&lt;/span&gt;=&lt;span style="color:blue"&gt;"SongCategory"&lt;/span&gt;
					&lt;span style="color:blue"&gt;/&amp;gt;&lt;/span&gt;
				&lt;/span&gt;&lt;/div&gt;&lt;/li&gt;&lt;li&gt;&lt;div style="background: #f4f4f4"&gt;&lt;span style="font-size:9pt"&gt;   &lt;span style="color:blue"&gt;&amp;lt;&lt;span style="color:maroon"&gt;core&lt;/span&gt;
						&lt;span style="color:red"&gt;name&lt;/span&gt;="SongMenu"&lt;/span&gt;
					&lt;span style="color:red"&gt;instanceDir&lt;/span&gt;=&lt;span style="color:blue"&gt;"SongMenu"&lt;/span&gt;
					&lt;span style="color:blue"&gt;/&amp;gt;&lt;/span&gt;
				&lt;/span&gt;&lt;/div&gt;&lt;/li&gt;&lt;li&gt;&lt;div style="background: #f4f4f4"&gt;&lt;span style="font-size:9pt"&gt;   &lt;span style="color:blue"&gt;&amp;lt;&lt;span style="color:maroon"&gt;core&lt;/span&gt;
						&lt;span style="color:red"&gt;name&lt;/span&gt;="SpaceAudio"&lt;/span&gt;
					&lt;span style="color:red"&gt;instanceDir&lt;/span&gt;=&lt;span style="color:blue"&gt;"SpaceAudio"&lt;/span&gt;
					&lt;span style="color:blue"&gt;/&amp;gt;&lt;/span&gt;
				&lt;/span&gt;&lt;/div&gt;&lt;/li&gt;&lt;li&gt;&lt;div style="background: #f4f4f4"&gt;&lt;span style="font-size:9pt"&gt;   &lt;span style="color:blue"&gt;&amp;lt;&lt;span style="color:maroon"&gt;core&lt;/span&gt;
						&lt;span style="color:red"&gt;name&lt;/span&gt;="SpaceVideo"&lt;/span&gt;
					&lt;span style="color:red"&gt;instanceDir&lt;/span&gt;=&lt;span style="color:blue"&gt;"SpaceVideo"&lt;/span&gt;
					&lt;span style="color:blue"&gt;/&amp;gt;&lt;/span&gt;
				&lt;/span&gt;&lt;/div&gt;&lt;/li&gt;&lt;li&gt;&lt;div style="background: #f4f4f4"&gt;&lt;span style="font-size:9pt"&gt;   &lt;span style="color:blue"&gt;&amp;lt;&lt;span style="color:maroon"&gt;core&lt;/span&gt;
						&lt;span style="color:red"&gt;name&lt;/span&gt;="SpaceAVNum"&lt;/span&gt;
					&lt;span style="color:red"&gt;instanceDir&lt;/span&gt;=&lt;span style="color:blue"&gt;"SpaceAVNum"&lt;/span&gt;
					&lt;span style="color:blue"&gt;/&amp;gt;&lt;/span&gt;
				&lt;/span&gt;&lt;/div&gt;&lt;/li&gt;&lt;li&gt;&lt;div style="background: #f4f4f4"&gt;
 &lt;/div&gt;&lt;/li&gt;&lt;li&gt;&lt;div style="background: #f4f4f4"&gt;&lt;span style="font-size:9pt"&gt;    &lt;span style="color:blue"&gt;&amp;lt;&lt;span style="color:maroon"&gt;shardHandlerFactory&lt;/span&gt;
						&lt;span style="color:red"&gt;name&lt;/span&gt;="shardHandlerFactory"&lt;/span&gt;
					&lt;span style="color:red"&gt;class&lt;/span&gt;=&lt;span style="color:blue"&gt;"HttpShardHandlerFactory"&amp;gt;&lt;/span&gt;
				&lt;/span&gt;&lt;/div&gt;&lt;/li&gt;&lt;li&gt;&lt;div style="background: #f4f4f4"&gt;&lt;span style="font-size:9pt"&gt;      &lt;span style="color:blue"&gt;&amp;lt;&lt;span style="color:maroon"&gt;str&lt;/span&gt;
						&lt;span style="color:red"&gt;name&lt;/span&gt;="urlScheme"&amp;gt;&lt;/span&gt;${urlScheme:}&lt;span style="color:blue"&gt;&amp;lt;/&lt;span style="color:maroon"&gt;str&lt;span style="color:blue"&gt;&amp;gt;&lt;/span&gt;
						&lt;/span&gt;&lt;/span&gt;&lt;/span&gt;&lt;/div&gt;&lt;/li&gt;&lt;li&gt;&lt;div style="background: #f4f4f4"&gt;&lt;span style="font-size:9pt"&gt;    &lt;span style="color:blue"&gt;&amp;lt;/&lt;span style="color:maroon"&gt;shardHandlerFactory&lt;span style="color:blue"&gt;&amp;gt;&lt;/span&gt;
						&lt;/span&gt;&lt;/span&gt;&lt;/span&gt;&lt;/div&gt;&lt;/li&gt;&lt;li&gt;&lt;div style="background: #f4f4f4"&gt;&lt;span style="font-size:9pt"&gt;  &lt;span style="color:blue"&gt;&amp;lt;/&lt;span style="color:maroon"&gt;cores&lt;span style="color:blue"&gt;&amp;gt;&lt;/span&gt;
						&lt;/span&gt;&lt;/span&gt;&lt;/span&gt;&lt;/div&gt;&lt;/li&gt;&lt;/ol&gt;&lt;p&gt;
 &lt;/p&gt;&lt;p&gt;&lt;span style="font-family:微软雅黑"&gt;目录结构如下：
&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;img src="http://images.cnitblog.com/blog/644226/201409/160947060817431.png" alt=""&gt;
	&lt;/p&gt;&lt;p&gt;
 &lt;/p&gt;&lt;p&gt;
 &lt;/p&gt;&lt;p&gt;&lt;span style="font-family:微软雅黑"&gt;可能大家已经注意到配置有下列内容：
&lt;/span&gt;&lt;/p&gt;&lt;ol&gt;&lt;li&gt;&lt;div style="background: #f4f4f4"&gt;&lt;span style="font-size:9pt"&gt;&lt;span style="color:blue"&gt;&amp;lt;&lt;span style="color:maroon"&gt;cores&lt;/span&gt;
						&lt;span style="color:red"&gt;adminPath&lt;/span&gt;="/admin/cores"&lt;/span&gt;
					&lt;span style="color:red"&gt;host&lt;/span&gt;=&lt;span style="color:blue"&gt;"${host:}"&lt;/span&gt;
					&lt;span style="color:red"&gt;defaultCoreName&lt;/span&gt;=&lt;span style="color:blue"&gt;"Artist"&lt;/span&gt;
					&lt;span style="color:red"&gt;hostPort&lt;/span&gt;=&lt;span style="color:blue"&gt;"${port:8983}"&lt;/span&gt;
					&lt;span style="color:red"&gt;hostContext&lt;/span&gt;=&lt;span style="color:blue"&gt;"${hostContext:solr}"&amp;gt;&lt;/span&gt;
				&lt;/span&gt;&lt;/div&gt;&lt;/li&gt;&lt;/ol&gt;&lt;p&gt;
 &lt;/p&gt;&lt;p&gt;&lt;span style="font-family:微软雅黑"&gt;AdminPath是指url路径
&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style="font-family:微软雅黑"&gt;Host是指主机名
&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style="font-family:微软雅黑"&gt;&lt;a name="OLE_LINK3"&gt;&lt;/a&gt;defaultCoreName是指默认使用的核心（不配置也完全可以）
&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style="font-family:微软雅黑"&gt;hostPort是指访问的端口（跟tomcat的端口保持一致）
&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style="font-family:微软雅黑"&gt;hostContext是指主机的上下文，也就是webapps中solr的项目名
&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style="font-family:微软雅黑"&gt;其实有点像tomcat项目的配置。
&lt;/span&gt;&lt;/p&gt;&lt;p&gt;
 &lt;/p&gt;&lt;h1&gt;&lt;span style="font-family:微软雅黑"&gt;多核心的访问
&lt;/span&gt;&lt;/h1&gt;&lt;p&gt;&lt;span style="font-family:微软雅黑"&gt;开启tomcat服务，访问：localhost:8983/solr
&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style="font-family:微软雅黑"&gt;如下图所示：
&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;img src="http://images.cnitblog.com/blog/644226/201409/160947114716283.png" alt=""&gt;
	&lt;/p&gt;&lt;p&gt;&lt;span style="font-family:微软雅黑"&gt;即可看到多个核心。当然也可以在url上访问不同核心库：
&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style="font-family:微软雅黑"&gt;Localhost:8983/solr/admin/coreName
&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style="font-family:微软雅黑"&gt;刚说的defaultCoreName也就是说，如果没指定访问的核心，默认访问哪个核心的作用。
&lt;/span&gt;&lt;/p&gt;&lt;p&gt;
 &lt;/p&gt;&lt;p&gt;
 &lt;/p&gt;&lt;h1&gt;&lt;span style="font-family:微软雅黑"&gt;分词器简介与配置
&lt;/span&gt;&lt;/h1&gt;&lt;p&gt;&lt;span style="font-family:微软雅黑"&gt;Solr默认是没有中文分词的，其中solr默认的比较常用的数据类型有下面几种：string、long、int。详细的请看我的另外一篇博客：一、Solr综述
&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style="font-family:微软雅黑"&gt;我用的是IK分词器，是国人做的一个开源的分词器，所以主要说下IK分词器的配置。
&lt;/span&gt;&lt;/p&gt;&lt;h5&gt;&lt;span style="color:#76923c; font-family:微软雅黑; text-decoration:underline"&gt;&lt;strong&gt;下载&lt;/strong&gt;
		&lt;/span&gt;&lt;/h5&gt;&lt;p&gt;&lt;span style="color:black; font-size:10pt"&gt;&lt;span style="font-family:微软雅黑; background-color:white"&gt;下载 "IK Analyzer 2012FF_hf1.zip"包。 详见&lt;a href="http://zhengchao730.iteye.com/blog/1833000"&gt;&lt;/a&gt;&lt;/span&gt;&lt;span style="background-color:white"&gt;http://zhengchao730.iteye.com/blog/1833000
&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;&lt;h5&gt;&lt;span style="font-family:微软雅黑"&gt;解压
&lt;/span&gt;&lt;/h5&gt;&lt;p&gt;&lt;span style="font-family:微软雅黑"&gt;解压后的目录结构：
&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;img src="http://images.cnitblog.com/blog/644226/201409/160947135189924.png" alt=""&gt;
	&lt;/p&gt;&lt;p&gt;&lt;span style="font-family:微软雅黑"&gt;其中已经有比较详细的文档了，但是我发现文档中并没有对solr分词器的配置有详细的说明。所以请读者继续往下看。
&lt;/span&gt;&lt;/p&gt;&lt;p&gt;
 &lt;/p&gt;&lt;h5&gt;&lt;span style="font-family:微软雅黑"&gt;配置
&lt;/span&gt;&lt;/h5&gt;&lt;p&gt;&lt;span style="color:#9bbb59; font-family:微软雅黑"&gt;&lt;span style="font-size:10pt"&gt;&lt;strong&gt;步骤一：&lt;/strong&gt;&lt;/span&gt;&lt;span style="color:black"&gt;&lt;span style="font-size:10pt; background-color:white"&gt;将 IKAnalyzer2012FF_u1.jar拷贝到目录"&lt;span style="color:#333333"&gt;&lt;a name="OLE_LINK11"&gt;&lt;/a&gt;$TOMCAT_HOME&lt;span style="color:black"&gt; \webapps\solr\WEB-INF\lib"中&lt;/span&gt;&lt;/span&gt;&lt;/span&gt;
			&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style="font-family:微软雅黑"&gt;&lt;span style="color:#9bbb59; font-size:10pt"&gt;&lt;strong&gt;步骤二：&lt;/strong&gt;&lt;/span&gt;将&lt;span style="color:black; font-size:10pt; background-color:white"&gt;IKAnalyzer.cfg.xml、stopword.dic拷贝到目录&lt;span style="color:#333333"&gt;$TOMCAT_HOME&lt;span style="color:black"&gt; \webapps\solr\WEB-INF\classes目录下，没有则新建classes目录。
&lt;/span&gt;&lt;/span&gt;&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style="color:#9bbb59; font-family:微软雅黑"&gt;&lt;span style="font-size:10pt"&gt;&lt;strong&gt;步骤三：&lt;/strong&gt;&lt;/span&gt;&lt;span style="color:black; font-size:10pt"&gt;&lt;span style="background-color:white"&gt;在&lt;/span&gt;&lt;span style="background-color:yellow"&gt;每个核心&lt;/span&gt;&lt;span style="background-color:white"&gt;中的schema.xml中配置IK分词器：
&lt;/span&gt;&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;&lt;ol&gt;&lt;li&gt;&lt;div style="background: #f4f4f4"&gt;&lt;span style="font-size:9pt"&gt;&lt;span style="color:blue"&gt;&amp;lt;&lt;span style="color:maroon"&gt;fieldType&lt;/span&gt;
						&lt;span style="color:red"&gt;name&lt;/span&gt;="text_ik"&lt;/span&gt;
					&lt;span style="color:red"&gt;class&lt;/span&gt;=&lt;span style="color:blue"&gt;"solr.TextField"&amp;gt;&lt;/span&gt;
				&lt;/span&gt;&lt;/div&gt;&lt;/li&gt;&lt;li&gt;&lt;div style="background: #f4f4f4"&gt;&lt;span style="font-size:9pt"&gt;        &lt;span style="color:blue"&gt;&amp;lt;&lt;span style="color:maroon"&gt;analyzer&lt;/span&gt;
						&lt;span style="color:red"&gt;type&lt;/span&gt;="index"&lt;/span&gt;
					&lt;span style="color:red"&gt;isMaxWordLength&lt;/span&gt;=&lt;span style="color:blue"&gt;"false"&lt;/span&gt;
					&lt;span style="color:red"&gt;class&lt;/span&gt;=&lt;span style="color:blue"&gt;"org.wltea.analyzer.lucene.IKAnalyzer"/&amp;gt;&lt;/span&gt;
				&lt;/span&gt;&lt;/div&gt;&lt;/li&gt;&lt;li&gt;&lt;div style="background: #f4f4f4"&gt;&lt;span style="font-size:9pt"&gt;        &lt;span style="color:blue"&gt;&amp;lt;&lt;span style="color:maroon"&gt;analyzer&lt;/span&gt;
						&lt;span style="color:red"&gt;type&lt;/span&gt;="query"&lt;/span&gt;
					&lt;span style="color:red"&gt;isMaxWordLength&lt;/span&gt;=&lt;span style="color:blue"&gt;"true"&lt;/span&gt;
					&lt;span style="color:red"&gt;class&lt;/span&gt;=&lt;span style="color:blue"&gt;"org.wltea.analyzer.lucene.IKAnalyzer"/&amp;gt;&lt;/span&gt;
				&lt;/span&gt;&lt;/div&gt;&lt;/li&gt;&lt;li&gt;&lt;div style="background: #f4f4f4"&gt;&lt;span style="font-size:9pt"&gt;   &lt;span style="color:blue"&gt;&amp;lt;/&lt;span style="color:maroon"&gt;fieldType&lt;span style="color:blue"&gt;&amp;gt;&lt;/span&gt;
						&lt;/span&gt;&lt;/span&gt;&lt;/span&gt;&lt;/div&gt;&lt;/li&gt;&lt;/ol&gt;&lt;p&gt;
 &lt;/p&gt;&lt;p&gt;
 &lt;/p&gt;&lt;p&gt;&lt;span style="font-family:微软雅黑"&gt;这样就可以使用ik分词器了。
&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style="font-family:微软雅黑"&gt;&lt;span style="background-color:yellow"&gt;其中isMaxWordLength是指分词的细粒度，可以分别制定index索引和query查询的分词细粒度&lt;/span&gt;，建议将index的&lt;a name="OLE_LINK5"&gt;&lt;/a&gt;isMaxWordLength设置为false，这样就采用最细分词，是索引更精确，查询时尽量能匹配，而将query的isMaxWordLength设置为true，采用最大分词，这样能够使查询出来的结果更符合用户的需求。
&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style="font-family:微软雅黑"&gt;并且还有一点需要特别注意，我用的是solr4.9，所以需要把各核心schema.xml中的&amp;lt;schema name="example core zero" version="1.1"&amp;gt;版本由1.1改为1.5
&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style="font-family:微软雅黑"&gt;&lt;span style="background-color:yellow"&gt;&amp;lt;schema name="example core zero" version="1.5"&amp;gt;.&lt;/span&gt;
		&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style="font-family:微软雅黑"&gt;这样查询时分词才能成功，比如搜索中华人民共和国，如果不配置的话，默认是短语匹配，就只搜索文档中包含中华人民共和国的结果，但是如果配置了查询分词，那么中华、人民….都能被匹配。&lt;/span&gt;
	&lt;/p&gt;&lt;h1&gt;&lt;span style="font-family:微软雅黑"&gt;IK分词器使用与测试
&lt;/span&gt;&lt;/h1&gt;&lt;p&gt;&lt;span style="font-family:微软雅黑"&gt;之后在schema.xml中配置一个field用于测试，如下：&lt;/span&gt;
	&lt;/p&gt;&lt;ol&gt;&lt;li&gt;&lt;div style="background: #f4f4f4"&gt;&lt;span style="font-size:9pt"&gt;&lt;span style="color:blue"&gt;&amp;lt;&lt;span style="color:maroon"&gt;field&lt;/span&gt;
						&lt;span style="color:red"&gt;name&lt;/span&gt;="Artist_Name"&lt;/span&gt;
					&lt;span style="color:red"&gt;type&lt;/span&gt;=&lt;span style="color:blue"&gt;"text_ik"&lt;/span&gt;
					&lt;span style="color:red"&gt;indexed&lt;/span&gt;=&lt;span style="color:blue"&gt;"true"&lt;/span&gt;
					&lt;span style="color:red"&gt;stored&lt;/span&gt;=&lt;span style="color:blue"&gt;"true"/&amp;gt;&lt;/span&gt;
				&lt;/span&gt;&lt;/div&gt;&lt;/li&gt;&lt;/ol&gt;&lt;p&gt;&lt;span style="font-family:微软雅黑"&gt;然后打开solr的admin页面：
&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;img src="http://images.cnitblog.com/blog/644226/201409/160947141901554.png" alt=""&gt;
	&lt;/p&gt;&lt;p&gt;&lt;span style="font-family:微软雅黑"&gt;可以看到分词之后的效果。&lt;/span&gt;&lt;/p&gt;&lt;/div&gt;&lt;div id="MySignature"&gt;&lt;/div&gt;
&lt;div class="clear"&gt;&lt;/div&gt;
&lt;div id="blog_post_info_block"&gt;
&lt;div id="BlogPostCategory"&gt;&lt;/div&gt;
&lt;div id="EntryTag"&gt;&lt;/div&gt;
&lt;div id="blog_post_info"&gt;
&lt;/div&gt;
&lt;div class="clear"&gt;&lt;/div&gt;
&lt;div id="post_next_prev"&gt;&lt;/div&gt;
&lt;/div&gt;


		&lt;/div&gt;
		&lt;div class="postDesc"&gt;posted @ &lt;span id="post-date"&gt;2014-09-16 09:47&lt;/span&gt; &lt;a href='http://www.cnblogs.com/edwinchen/'&gt;@瞪着太阳的乌鸦&lt;/a&gt; 阅读(&lt;span id="post_view_count"&gt;...&lt;/span&gt;) 评论(&lt;span id="post_comment_count"&gt;...&lt;/span&gt;)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3974255" rel="nofollow"&gt;编辑&lt;/a&gt; &lt;a href="#" onclick="AddToWz(3974255);return false;"&gt;收藏&lt;/a&gt;&lt;/div&gt;
	&lt;/div&gt;
	&lt;script type="text/javascript"&gt;var allowComments=true,isLogined=false,cb_blogId=189271,cb_entryId=3974255,cb_blogApp=currentBlogApp,cb_blogUserGuid='a9fcebd9-1ef8-e311-8d02-90b11c0b17d6',cb_entryCreatedDate='2014/9/16 9:47:00';loadViewCount(cb_entryId);&lt;/script&gt;
	
&lt;/div&gt;
&lt;!--end: topics 文章、评论容器--&gt;
&lt;a name="!comments"&gt;&lt;/a&gt;&lt;div id="blog-comments-placeholder"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;var commentManager = new blogCommentManager();commentManager.renderComments(0);&lt;/script&gt;
&lt;div id="comment_form" class="commentform"&gt;
&lt;a name="commentform"&gt;&lt;/a&gt;
&lt;div id="divCommentShow"&gt;&lt;/div&gt;
&lt;div id="comment_nav"&gt;&lt;span id="span_refresh_tips"&gt;&lt;/span&gt;&lt;a href="javascript:void(0);" id="lnk_RefreshComments" onclick="return RefreshCommentList();"&gt;刷新评论&lt;/a&gt;&lt;a href="#" onclick="return RefreshPage();"&gt;刷新页面&lt;/a&gt;&lt;a href="#top"&gt;返回顶部&lt;/a&gt;&lt;/div&gt;
&lt;div id="comment_form_container"&gt;&lt;/div&gt;
&lt;div class="ad_text_commentbox" id="ad_text_under_commentbox"&gt;&lt;/div&gt;
&lt;div id="site_nav_under"&gt;&lt;a href="http://www.cnblogs.com/" target="_blank" title="开发者的网上家园"&gt;博客园首页&lt;/a&gt;&lt;a href="http://q.cnblogs.com/" target="_blank" title="程序员问答社区"&gt;博问&lt;/a&gt;&lt;a href="http://news.cnblogs.com/" target="_blank" title="IT新闻"&gt;新闻&lt;/a&gt;&lt;a href="http://home.cnblogs.com/ing/" target="_blank"&gt;闪存&lt;/a&gt;&lt;a href="http://job.cnblogs.com/" target="_blank"&gt;程序员招聘&lt;/a&gt;&lt;a href="http://kb.cnblogs.com/" target="_blank"&gt;知识库&lt;/a&gt;&lt;/div&gt;
&lt;div id="opt_under_post"&gt;&lt;/div&gt;
&lt;script type="text/javascript"&gt;
    var enableGoogleAd = canShowAdsense(); var googletag = googletag || {}; googletag.cmd = googletag.cmd || [];
    fixPostBodyFormat();
&lt;/script&gt;
&lt;div id="ad_under_post_holder"&gt;
&lt;script type='text/javascript'&gt;
    var googletag = googletag || {};
    googletag.cmd = googletag.cmd || [];
    (function () {
        if (enableGoogleAd) {
            var gads = document.createElement('script');
            gads.async = true;
            gads.type = 'text/javascript';
            var useSSL = 'https:' == document.location.protocol;
            gads.src = (useSSL ? 'https:' : 'http:') + '//www.googletagservices.com/tag/js/gpt.js';
            var node = document.getElementsByTagName('script')[0];
            node.parentNode.insertBefore(gads, node);
        }
    })();
&lt;/script&gt;
&lt;script type='text/javascript'&gt;
    try {
        if (enableGoogleAd) {
            googletag.cmd.push(function () {
                googletag.defineSlot('/1090369/cnblogs_blogpost_C1_sitehome', [300, 250], 'div-gpt-ad-1346480159711-0').addService(googletag.pubads());
                googletag.pubads().enableSingleRequest();
                googletag.enableServices();
            });
        };
    } catch (e) { }
&lt;/script&gt;
&lt;div id="google_ad_c1" class="c_ad_block"&gt;
    &lt;div id='div-gpt-ad-1346480159711-0' style='width:300px; height:250px;'&gt;
    &lt;script type='text/javascript'&gt;
        try {
            if (enableGoogleAd) {
                googletag.cmd.push(function () { googletag.display('div-gpt-ad-1346480159711-0'); });            
            } else {
                $('#div-gpt-ad-1346480159711-0').hide();
            }
    } catch (e) { }
    &lt;/script&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;div id="blog_news_kb"&gt;&lt;/div&gt;
&lt;div id="HistoryToday" class="c_ad_block"&gt;&lt;/div&gt;
&lt;script type="text/javascript"&gt;
$(function () {
    loadNewsAndKb();
    loadBlogSignature();
    LoadPostInfoBlock(cb_blogId, cb_entryId, cb_blogApp, cb_blogUserGuid);
    GetPrevNextPost(cb_entryId, cb_blogId, cb_entryCreatedDate);
    loadOptUnderPost();
    GetHistoryToday(cb_blogId, cb_blogApp, cb_entryCreatedDate);
    setTimeout(function () { incrementViewCount(cb_entryId); }, 200);
});
&lt;/script&gt;
&lt;/div&gt;

	&lt;/div&gt;&lt;!--end: forFlow --&gt;
	&lt;/div&gt;&lt;!--end: mainContent 主体内容容器--&gt;

	&lt;div id="sideBar"&gt;
		&lt;div id="sideBarMain"&gt;
		&lt;div id="calendar"&gt;&lt;div id="blog-calendar" style="display:none"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;loadBlogDefaultCalendar();&lt;/script&gt;&lt;/div&gt;
			
&lt;!--done--&gt;
&lt;div class="newsItem"&gt;
&lt;h3 class="catListTitle"&gt;公告&lt;/h3&gt;
	&lt;div id="blog-news"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;loadBlogNews();&lt;/script&gt;
&lt;/div&gt;
			
			
			&lt;div id="leftcontentcontainer"&gt;
				&lt;div id="blog-sidecolumn"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;loadBlogSideColumn();&lt;/script&gt;
			&lt;/div&gt;
			
		&lt;/div&gt;&lt;!--end: sideBarMain --&gt;
	&lt;/div&gt;&lt;!--end: sideBar 侧边栏容器 --&gt;
	&lt;div class="clear"&gt;&lt;/div&gt;
	&lt;/div&gt;&lt;!--end: main --&gt;
	&lt;div class="clear"&gt;&lt;/div&gt;
	&lt;div id="footer"&gt;
		
&lt;!--done--&gt;
Copyright &amp;copy;2014 @瞪着太阳的乌鸦
	&lt;/div&gt;&lt;!--end: footer --&gt;
&lt;/div&gt;&lt;!--end: home 自定义的最大容器 --&gt;
&lt;/body&gt;
&lt;/html&gt;
</Html>
	<HtmlMetas i:nil="true" />
	<HtmlTitle i:nil="true" />
	<IsDefault>false</IsDefault>
	<Layout i:nil="true" />
	<Name>-edwinchen-p-3974255.html</Name>
	<OutputCache i:nil="true" />
	<PageContents xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
	<Plugins xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<Published>false</Published>
	<RequireHttps>false</RequireHttps>
	<Routes>
		<PageRoute>
			<Defaults xmlns:d4p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
			<Identifier>/edwinchen/p/3974255.html</Identifier>
			<RoutePath i:nil="true" />
		</PageRoute>
	</Routes>
	<Scripts i:nil="true" />
	<Site>
		<AbsoluteName xmlns="Ovaldi.Core.Models">Cnblogs</AbsoluteName>
	</Site>
	<Styles i:nil="true" />
	<UUID>-edwinchen-p-3974255.html</UUID>
</Page>