<?xml version="1.0" encoding="utf-8"?>
<Page xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Ovaldi.Core.Models">
	<AbsoluteName>-blackmanba-p-element-vertical-align.html</AbsoluteName>
	<CustomFields xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<EnableScript>true</EnableScript>
	<EnableTheming>true</EnableTheming>
	<Html>&lt;!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"&gt;
&lt;html xmlns="http://www.w3.org/1999/xhtml" lang="zh-cn"&gt;
&lt;head&gt;
&lt;meta http-equiv="Content-Type" content="text/html; charset=utf-8"&gt;
&lt;title&gt;元素垂直居中的各种实现方式 - Jackie_Lin - 博客园&lt;/title&gt;
&lt;link type="text/css" rel="stylesheet" href="/preview~Cnblogs/Styles/bundles/blog-common.css"&gt;
&lt;link id="MainCss" type="text/css" rel="stylesheet" href="/preview~Cnblogs/Styles/skins/coffee/bundle-coffee.css"&gt;
&lt;link type="text/css" rel="stylesheet" href="/preview~Cnblogs/Styles/blog/customcss/183118.css"&gt;
&lt;link title="RSS" type="application/rss+xml" rel="alternate" href="http://www.cnblogs.com/blackmanba/rss"&gt;
&lt;link title="RSD" type="application/rsd+xml" rel="EditURI" href="http://www.cnblogs.com/blackmanba/rsd.xml"&gt;
&lt;link type="application/wlwmanifest+xml" rel="wlwmanifest" href="http://www.cnblogs.com/blackmanba/wlwmanifest.xml"&gt;
&lt;script src="http://common.cnblogs.com/script/jquery.js" type="text/javascript"&gt;&lt;/script&gt;  
&lt;script type="text/javascript"&gt;var currentBlogApp = 'blackmanba', cb_enable_mathjax=false;&lt;/script&gt;
&lt;script src="/preview~Cnblogs/Scripts/bundles/blog-common.js" type="text/javascript"&gt;&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;a name="top"&gt;&lt;/a&gt;
&lt;!--PageBeginHtml Block Begin--&gt;
&lt;!-- Markdown --&gt;








&lt;link rel="stylesheet" href="http://files.cnblogs.com/Zjmainstay/Markdown.prettify.css" type="text/css"&gt;
&lt;!-- Markdown End --&gt;
&lt;!--PageBeginHtml Block End--&gt;

&lt;!--done--&gt;
&lt;div id="home"&gt;
&lt;div id="header"&gt;
	&lt;div id="blogTitle"&gt;
	&lt;a id="lnkBlogLogo" href="http://www.cnblogs.com/blackmanba/"&gt;&lt;img id="blogLogo" src="/preview~Cnblogs/Images/Skins/custom/images/logo.gif" alt="返回主页"&gt;&lt;/a&gt;			
		
&lt;!--done--&gt;
&lt;h1&gt;&lt;a id="Header1_HeaderTitle" class="headermaintitle" href="http://www.cnblogs.com/blackmanba/"&gt;Jackie Lin&lt;/a&gt;&lt;/h1&gt;
&lt;h2&gt;I am what I am&lt;/h2&gt;



		
	&lt;/div&gt;&lt;!--end: blogTitle 博客的标题和副标题 --&gt;
&lt;/div&gt;&lt;!--end: header 头部 --&gt;

&lt;div id="main"&gt;
	&lt;div id="mainContent"&gt;
	&lt;div class="forFlow"&gt;
		&lt;div id="navigator"&gt;
			
&lt;!--done--&gt;
			&lt;ul id="navList"&gt;
				&lt;li&gt;&lt;a id="MyLinks1_HomeLink" class="menu" href="http://www.cnblogs.com/"&gt;博客园&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a id="MyLinks1_IngLink" class="menu" href="http://home.cnblogs.com/ing/"&gt;闪存&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a id="MyLinks1_MyHomeLink" class="menu" href="http://www.cnblogs.com/blackmanba/"&gt;首页&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a id="MyLinks1_NewPostLink" class="menu" rel="nofollow" href="http://i.cnblogs.com/EditPosts.aspx?opt=1"&gt;新随笔&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a id="MyLinks1_ContactLink" accesskey="9" class="menu" rel="nofollow" href="http://space.cnblogs.com/msg/send/Jackie_Lin"&gt;联系&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a id="MyLinks1_Admin" class="menu" rel="nofollow" href="http://i.cnblogs.com/"&gt;管理&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a id="MyLinks1_Syndication" class="menu" href="http://www.cnblogs.com/blackmanba/rss"&gt;订阅&lt;/a&gt;
				&lt;a id="MyLinks1_XMLLink" class="aHeaderXML" href="http://www.cnblogs.com/blackmanba/rss"&gt;&lt;img src="/preview~Cnblogs/Images/images/xml.gif" alt="订阅"&gt;&lt;/a&gt;&lt;/li&gt;
			&lt;/ul&gt;


			&lt;div class="blogStats"&gt;
				
				
&lt;!--done--&gt;
随笔- 13&amp;nbsp;
文章- 0&amp;nbsp;
评论- 3&amp;nbsp;

				
			&lt;/div&gt;&lt;!--end: blogStats --&gt;
		&lt;/div&gt;&lt;!--end: navigator 博客导航栏 --&gt;
		

&lt;!--done--&gt;
&lt;div id="topics"&gt;
	&lt;div class="post"&gt;
		&lt;h1 class="postTitle"&gt;
			&lt;a id="cb_post_title_url" class="postTitle2" href="http://www.cnblogs.com/blackmanba/p/element-vertical-align.html"&gt;元素垂直居中的各种实现方式&lt;/a&gt;
		&lt;/h1&gt;
		&lt;div class="clear"&gt;&lt;/div&gt;
		&lt;div class="postBody"&gt;
			&lt;div id="cnblogs_post_body" class="cnblogs-markdown"&gt;&lt;h2&gt;一点感悟&lt;/h2&gt;
&lt;p&gt;曾子曰:&amp;quot;吾日三省吾身&amp;quot;, 意思就是说每天要多次想一想自己到底干了什么 O(∩_∩)O~。好吧，这个其实大家都知道，那为什么还要在这里扯呢？很简单，就是知道的人很多，但做到的人很少。结合自己的工作经验，谈谈前端开发的一些认识误区：&lt;/p&gt;
&lt;ul&gt;
&lt;li&gt;只知其然，不知其所以然；&lt;br&gt;&lt;/li&gt;
&lt;li&gt;解决过的问题，下次同样还是忘记，要查找相关的资料；&lt;br&gt;&lt;/li&gt;
&lt;li&gt;google，百度一个方法，实现了就可以了；&lt;/li&gt;
&lt;/ul&gt;
&lt;p&gt;这些认识的误区，我相信很多人（包括我自己）都会犯，原因是多种多样的：&lt;/p&gt;
&lt;ul&gt;
&lt;li&gt;项目有时候确实很急，我们没有时间来捣鼓这些东西；&lt;br&gt;&lt;/li&gt;
&lt;li&gt;哎，以后遇到再找资料好了，反正自己已经知道怎么查找关键字了；&lt;br&gt;&lt;/li&gt;
&lt;li&gt;我去，哥（姐）还要和女（男）盆友去逛街呢，没空搞这些细节；&lt;br&gt;&lt;/li&gt;
&lt;li&gt;......&lt;/li&gt;
&lt;/ul&gt;
&lt;p&gt;总结原因，那就是对技术的&lt;strong&gt;专注度&lt;/strong&gt;不够，没有热情往纵深的方向去挖掘。有人可能会反驳了: &amp;quot;擦，css就那些有限的的属性，感觉没什么好学的&amp;quot;（ps：自己以前就是报这种态度的，惭愧）。其实这是正确的吗？css其实是很精深的一门学问，别看只有一些属性，但属性的各种值，属性之间的搭配，属性之间的差异......，还有浏览器不同的表现，这些都了解清楚了吗？我们常常在感慨为什么别人会实现一些很好的效果出来，会提出很好的解决方案，其实就是因为他们对属性，属性值了解得很透彻，知道怎样的搭配能产生怎样的效果。所以，骚年们，如果想在前端有些进步，好好静下心来学习吧。&lt;strong&gt;专注，实践，学习，归纳&lt;/strong&gt;&lt;/p&gt;
&lt;p&gt;本文是css学习总结的开篇之作，也是我最近感悟的一些总结，希望对您有一些思考吧，废话什么的就不多说了。&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;本文地址: &lt;a href=""&gt;&lt;a href="http://forkme.info/element-vertical-align/"&gt;http://forkme.info/element-vertical-align/&lt;/a&gt;&lt;/a&gt;或者&lt;a href="http://www.cnblogs.com/blackmanba/p/3675558.html"&gt;&lt;a href="http://www.cnblogs.com/blackmanba/p/element-vertical-align.html"&gt;http://www.cnblogs.com/blackmanba/p/element-vertical-align.html&lt;/a&gt;&lt;/a&gt;, 转载请注明源地址。&lt;/strong&gt;&lt;/p&gt;
&lt;h2&gt;开始&lt;/h2&gt;
&lt;p&gt;最近在捣鼓页面的时候遇到一个问题，如何实现文字与图片的垂直居中？如图：&lt;/p&gt;
&lt;p&gt;&lt;img src="http://images.cnitblog.com/blog/625113/201409/152240464258606.png" alt="problem"&gt;&lt;/p&gt;
&lt;p&gt;其实这个问题网上答案一大堆，很多同行也都有自己的各种解决方法，下面查找资料再经过自己实验总结的方法，会着重介绍优缺点。说了这么多，接下来就是展示最终的显示效果，如果不知道效果是什么的话，&lt;a href="http://forkme.info/demo/elementvg/test.html"&gt;请点击我思密达&lt;/a&gt;&lt;/p&gt;
&lt;h2 id="inline-height"&gt;1. inline-height法&lt;/h2&gt;
&lt;p&gt;这种方法相信很多人都知道并且尝试过，主要是利用inline元素（或者inline-block元素）的inline-box模型（ps：这个可以查看&lt;a href="http://www.zhangxinxu.com/wordpress/"&gt;@旭哥&lt;/a&gt;的文章&lt;a href="http://www.zhangxinxu.com/wordpress/2010/11/%E6%8B%9C%E6%8B%9C%E4%BA%86%E6%B5%AE%E5%8A%A8%E5%B8%83%E5%B1%80-%E5%9F%BA%E4%BA%8Edisplayinline-block%E7%9A%84%E5%88%97%E8%A1%A8%E5%B8%83%E5%B1%80/"&gt;拜拜了,浮动布局-基于display:inline-block的列表布局&lt;/a&gt;，原理什么的旭哥都讲得很清楚了，这里就不要再瞎子点灯——多此一举了）, 只要设置inline-heigth的值和父元素的height一致即可让文字居中显示，样式如下：&lt;/p&gt;
&lt;pre&gt;&lt;code&gt;.inline {
	display: inline;
	*display: inine;
	zoom: 1;
}
.lg{
	font-size: 18px;
	font-weight: bold;
	line-height: 80px; /* 注意：line-height和容器的高度一致 */
}&lt;/code&gt;&lt;/pre&gt;
&lt;p&gt;最终效果图上面已经截过，这里就不再搞多一张了，免得浪费亲们宝贵的时间。 O(∩_∩)O~，&lt;br&gt;最终效果请&lt;a href="http://forkme.info/demo/elementvg/test.html#inline-height"&gt;点击这里&lt;/a&gt;查看,&lt;br&gt;源代码在可以在开发者工具中查看, 下同。&lt;/p&gt;
&lt;h3&gt;1.1 优点&lt;/h3&gt;
&lt;ul&gt;
&lt;li&gt;简单，使用很少的样式就可以实现；&lt;br&gt;&lt;/li&gt;
&lt;li&gt;兼容性强，兼容IE6+, chrome和Firefox（opera没试过）&lt;/li&gt;
&lt;/ul&gt;
&lt;h3&gt;1.2 缺陷&lt;/h3&gt;
&lt;ul&gt;
&lt;li&gt;只能用于单行文字，多行文字间距过大，&lt;a href="http://forkme.info/demo/elementvg/test.html#inline-height_mul"&gt;效果请点击&lt;/a&gt;；&lt;br&gt;&lt;/li&gt;
&lt;li&gt;要知道父容器高度，如果不想定死高度的话只能通过javascript获取并设置，复杂度增大；&lt;br&gt;&lt;/li&gt;
&lt;li&gt;line-height只能适用于inline和block级别的元素；&lt;/li&gt;
&lt;/ul&gt;
&lt;h3&gt;1.3 总结&lt;/h3&gt;
&lt;p&gt;line-height让文字垂直居中这个方法对于单行文字来说那是再好不过，不用理相邻元素是什么，图片啊，文字啊什么都妥妥的没影响。经过之前一段时间的使用，可以说效果不错。当然，如果您的需求是多行文字或者是做自适应布局的话，建议不要用这个方法，因为~~~~不适合。%&amp;gt;_&amp;lt;%&lt;/p&gt;
&lt;h2 id="absolutemarginauto"&gt;2. 采用absolute+margin:auto&lt;/h2&gt;
&lt;p&gt;这个方法涉及到一个概念，就是margin属性的属性的定位问题，绝对定位的元素在填充的时候会根据自身的高度和margin值来决定最终位置。如果什么都木有设置，默认就是填充整个父容器，尺寸固定就会通过margin来决定最后的位置。概念什么的比较绕，我们可以&lt;a href="http://forkme.info/demo/elementvg/test.html#absm"&gt;点击这里&lt;/a&gt;查看最终结果，css如下：&lt;/p&gt;
&lt;pre&gt;&lt;code&gt;.parent {
	position: relative;
}
.abs {
	    position: absolute;
	    top: 0;
	    bottom: 0;
	    right: 0;
	    left: 0;
	    margin: auto;
	    height: 20%;
}&lt;/code&gt;&lt;/pre&gt;
&lt;h3 id="-1"&gt;2.1 优点&lt;/h3&gt;
&lt;ul&gt;
&lt;li&gt;简单&lt;br&gt;&lt;/li&gt;
&lt;li&gt;文字多的话，兄弟元素也能对应居中，不管兄弟元素是什么，效果&lt;a href="http://forkme.info/demo/elementvg/test.html#absm-mul"&gt;请点击&lt;/a&gt;&lt;br&gt;&lt;/li&gt;
&lt;li&gt;适应性强，父容器不用限死高度&lt;/li&gt;
&lt;/ul&gt;
&lt;h3 id="-1"&gt;2.2 缺陷&lt;/h3&gt;
&lt;ul&gt;
&lt;li&gt;IE6,7 不兼容&lt;/li&gt;
&lt;/ul&gt;
&lt;h3 id="-1"&gt;2.3 总结&lt;/h3&gt;
&lt;p&gt;这个方法对于不用兼容IE6, 7的应用来说是十分高效并且实用的，在实际项目的使用中并不推荐这种用法，因为绝对定位脱离了文档流，会带来一些维护上的问题，并且也不利于重用。当然，这一切都是权衡，综合考虑开发和维护成本后，如果觉得合适，就可以采用。&lt;/p&gt;
&lt;h2 id="display-table-cell"&gt;3. 采用display: table-cell&lt;/h2&gt;
&lt;p&gt;这个方法使用到了table-cell来布局，其实table-cell，顾名思义就是单元格，设置了table-cell的元素其实和传统的td标签效果是一致的，最终效果请&lt;a href="http://forkme.info/demo/elementvg/test.html#cell"&gt;点击这里&lt;/a&gt;，代码如下：&lt;/p&gt;
&lt;pre&gt;&lt;code&gt;.cell {
    display: table-cell;
    height: 80px;
    vertical-align: middle;
}&lt;/code&gt;&lt;/pre&gt;
&lt;h3 id="-2"&gt;3.1 优点&lt;/h3&gt;
&lt;ul&gt;
&lt;li&gt;简单，高效&lt;br&gt;&lt;/li&gt;
&lt;li&gt;适应性强&lt;/li&gt;
&lt;/ul&gt;
&lt;h3&gt;3.2 缺点&lt;/h3&gt;
&lt;ul&gt;
&lt;li&gt;IE6,7 不兼容（如果是图片居中可以使用font-size，文字不可以）&lt;br&gt;&lt;/li&gt;
&lt;li&gt;容器高度固定，设置overflow: hidden 会导致文字不显示&lt;br&gt;&lt;/li&gt;
&lt;li&gt;文字撑开兄弟元素不居中，&lt;a href="http://forkme.info/demo/elementvg/test.html#cell-mul"&gt;效果&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;h3 id="-2"&gt;3.3 总结&lt;/h3&gt;
&lt;p&gt;使用table-cell的方式总体来说是不错的解决方案。当然，缺点也很明显，见上面。根据具体情况具体分析使用即可&lt;/p&gt;
&lt;h1 id="inline-block-"&gt;4. 采用inline-block 方法&lt;/h1&gt;
&lt;p&gt;这个方法是目前为止我个人觉得最好的方法。原因很简单：简单易懂，容易上手，兼容性强。此方法本质上是利用了inline-block的垂直居中对齐特性。废话不多说，&lt;a href="http://forkme.info/demo/elementvg/test.html#inlineblock"&gt;请点击我&lt;/a&gt;。不想看效果的童鞋可以直接看代码，如下&lt;/p&gt;
&lt;pre&gt;&lt;code&gt;.inline-block {
	    display: inline-block;
	    *display: inline;
	    zoom: 1;
	    vertical-align: middle;
}&lt;/code&gt;&lt;/pre&gt;
&lt;h3&gt;4.1 一点小结&lt;/h3&gt;
&lt;p&gt;此方法没有什么好说的，无论是兼容性还是其他特性都能完美呈现，并且不必知道文字高度，对于高度超过图片的文字也能够完美适应。真要说不好也就是先要理解inline box模型（ps：⊙﹏⊙b汗，有硬想缺点的嫌疑）。&lt;/p&gt;
&lt;h2 id="button-"&gt;5. 采用button 方法&lt;/h2&gt;
&lt;p&gt;这个方法是无意中看到的，其实原理很简单，但很有创意。那就是利用控件的特有属性。button标签就是这样的一个例子，因为其特性，我们就可以利用它来实现对应的效果了。&lt;a href="http://forkme.info/demo/elementvg/test.html#button"&gt;请点击我&lt;/a&gt;。代码如下：&lt;/p&gt;
&lt;pre&gt;&lt;code&gt;&amp;lt;button&amp;gt;
	&amp;lt;a href=&amp;quot;#&amp;quot; class=&amp;quot;inline-block w60p verticalmiddle&amp;quot; style=&amp;quot;text-align: left;&amp;quot;&amp;gt;盛松成：中国信贷结构继续改善&amp;lt;/a&amp;gt;

	&amp;lt;img src=&amp;quot;http://jsfiddle.qiniudn.com/news3.png&amp;quot; alt=&amp;quot;news&amp;quot; class=&amp;quot;fn nomargin verticalmiddle&amp;quot;&amp;gt;
&amp;lt;/button&amp;gt;&lt;/code&gt;&lt;/pre&gt;
&lt;h3 id="-3"&gt;5.1 优点&lt;/h3&gt;
&lt;ul&gt;
&lt;li&gt;利用button本身的属性，简单明了，甚至可以不用写css&lt;br&gt;&lt;/li&gt;
&lt;li&gt;扩展性好，能根据文字高度自适应&lt;/li&gt;
&lt;/ul&gt;
&lt;h3 id="-1"&gt;5.2 缺点&lt;/h3&gt;
&lt;ul&gt;
&lt;li&gt;典型的为了效果使用标签，可维护性低&lt;br&gt;&lt;/li&gt;
&lt;li&gt;不满足标签的语义化，对搜索引擎不友好&lt;/li&gt;
&lt;/ul&gt;
&lt;h2&gt;结语&lt;/h2&gt;
&lt;p&gt;本文算作是自己前端开发的一个开端，主要是对自己知道的方法的总结和思考，并写成文章方便自己以后查阅。希望对您的学习有所帮助。随时欢迎交流意见，请在下方评论，多多益善!!&lt;/p&gt;&lt;/div&gt;&lt;div id="MySignature"&gt;&lt;/div&gt;
&lt;div class="clear"&gt;&lt;/div&gt;
&lt;div id="blog_post_info_block"&gt;
&lt;div id="BlogPostCategory"&gt;&lt;/div&gt;
&lt;div id="EntryTag"&gt;&lt;/div&gt;
&lt;div id="blog_post_info"&gt;
&lt;/div&gt;
&lt;div class="clear"&gt;&lt;/div&gt;
&lt;div id="post_next_prev"&gt;&lt;/div&gt;
&lt;/div&gt;


		&lt;/div&gt;
		&lt;div class="postDesc"&gt;posted @ &lt;span id="post-date"&gt;2014-09-15 22:42&lt;/span&gt; &lt;a href='http://www.cnblogs.com/blackmanba/'&gt;Jackie_Lin&lt;/a&gt; 阅读(&lt;span id="post_view_count"&gt;...&lt;/span&gt;) 评论(&lt;span id="post_comment_count"&gt;...&lt;/span&gt;)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3973904" rel="nofollow"&gt;编辑&lt;/a&gt; &lt;a href="#" onclick="AddToWz(3973904);return false;"&gt;收藏&lt;/a&gt;&lt;/div&gt;
	&lt;/div&gt;
	&lt;script src="http://cdn.cnblogs.com/highlight/highlight.min.js"&gt;&lt;/script&gt;&lt;script&gt;hljs.initHighlightingOnLoad();&lt;/script&gt;&lt;script type="text/javascript"&gt;var allowComments=true,isLogined=false,cb_blogId=183118,cb_entryId=3973904,cb_blogApp=currentBlogApp,cb_blogUserGuid='ffe8afee-41c6-e311-8d02-90b11c0b17d6',cb_entryCreatedDate='2014/9/15 22:42:00';loadViewCount(cb_entryId);&lt;/script&gt;
	
&lt;/div&gt;&lt;!--end: topics 文章、评论容器--&gt;
&lt;a name="!comments"&gt;&lt;/a&gt;&lt;div id="blog-comments-placeholder"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;var commentManager = new blogCommentManager();commentManager.renderComments(0);&lt;/script&gt;
&lt;div id="comment_form" class="commentform"&gt;
&lt;a name="commentform"&gt;&lt;/a&gt;
&lt;div id="divCommentShow"&gt;&lt;/div&gt;
&lt;div id="comment_nav"&gt;&lt;span id="span_refresh_tips"&gt;&lt;/span&gt;&lt;a href="javascript:void(0);" id="lnk_RefreshComments" onclick="return RefreshCommentList();"&gt;刷新评论&lt;/a&gt;&lt;a href="#" onclick="return RefreshPage();"&gt;刷新页面&lt;/a&gt;&lt;a href="#top"&gt;返回顶部&lt;/a&gt;&lt;/div&gt;
&lt;div id="comment_form_container"&gt;&lt;/div&gt;
&lt;div class="ad_text_commentbox" id="ad_text_under_commentbox"&gt;&lt;/div&gt;
&lt;div id="site_nav_under"&gt;&lt;a href="http://www.cnblogs.com/" target="_blank" title="开发者的网上家园"&gt;博客园首页&lt;/a&gt;&lt;a href="http://q.cnblogs.com/" target="_blank" title="程序员问答社区"&gt;博问&lt;/a&gt;&lt;a href="http://news.cnblogs.com/" target="_blank" title="IT新闻"&gt;新闻&lt;/a&gt;&lt;a href="http://home.cnblogs.com/ing/" target="_blank"&gt;闪存&lt;/a&gt;&lt;a href="http://job.cnblogs.com/" target="_blank"&gt;程序员招聘&lt;/a&gt;&lt;a href="http://kb.cnblogs.com/" target="_blank"&gt;知识库&lt;/a&gt;&lt;/div&gt;
&lt;div id="opt_under_post"&gt;&lt;/div&gt;
&lt;script type="text/javascript"&gt;
    var enableGoogleAd = canShowAdsense(); var googletag = googletag || {}; googletag.cmd = googletag.cmd || [];
    fixPostBodyFormat();
&lt;/script&gt;
&lt;div id="ad_under_post_holder"&gt;
&lt;script type='text/javascript'&gt;
    var googletag = googletag || {};
    googletag.cmd = googletag.cmd || [];
    (function () {
        if (enableGoogleAd) {
            var gads = document.createElement('script');
            gads.async = true;
            gads.type = 'text/javascript';
            var useSSL = 'https:' == document.location.protocol;
            gads.src = (useSSL ? 'https:' : 'http:') + '//www.googletagservices.com/tag/js/gpt.js';
            var node = document.getElementsByTagName('script')[0];
            node.parentNode.insertBefore(gads, node);
        }
    })();
&lt;/script&gt;
&lt;script type='text/javascript'&gt;
    try {
        if (enableGoogleAd) {
            googletag.cmd.push(function () {
                googletag.defineSlot('/1090369/cnblogs_blogpost_C1_sitehome', [300, 250], 'div-gpt-ad-1346480159711-0').addService(googletag.pubads());
                googletag.pubads().enableSingleRequest();
                googletag.enableServices();
            });
        };
    } catch (e) { }
&lt;/script&gt;
&lt;div id="google_ad_c1" class="c_ad_block"&gt;
    &lt;div id='div-gpt-ad-1346480159711-0' style='width:300px; height:250px;'&gt;
    &lt;script type='text/javascript'&gt;
        try {
            if (enableGoogleAd) {
                googletag.cmd.push(function () { googletag.display('div-gpt-ad-1346480159711-0'); });            
            } else {
                $('#div-gpt-ad-1346480159711-0').hide();
            }
    } catch (e) { }
    &lt;/script&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;div id="blog_news_kb"&gt;&lt;/div&gt;
&lt;div id="HistoryToday" class="c_ad_block"&gt;&lt;/div&gt;
&lt;script type="text/javascript"&gt;
$(function () {
    loadNewsAndKb();
    loadBlogSignature();
    LoadPostInfoBlock(cb_blogId, cb_entryId, cb_blogApp, cb_blogUserGuid);
    GetPrevNextPost(cb_entryId, cb_blogId, cb_entryCreatedDate);
    loadOptUnderPost();
    GetHistoryToday(cb_blogId, cb_blogApp, cb_entryCreatedDate);
    setTimeout(function () { incrementViewCount(cb_entryId); }, 200);
});
&lt;/script&gt;
&lt;/div&gt;

	&lt;/div&gt;&lt;!--end: forFlow --&gt;
	&lt;/div&gt;&lt;!--end: mainContent 主体内容容器--&gt;

	&lt;div id="sideBar"&gt;
		&lt;div id="sideBarMain"&gt;
			
&lt;!--done--&gt;
&lt;div class="newsItem"&gt;
&lt;h3 class="catListTitle"&gt;公告&lt;/h3&gt;
	&lt;div id="blog-news"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;loadBlogNews();&lt;/script&gt;
&lt;/div&gt;

			&lt;div id="calendar"&gt;&lt;div id="blog-calendar" style="display:none"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;loadBlogDefaultCalendar();&lt;/script&gt;&lt;/div&gt;
			
			&lt;div id="leftcontentcontainer"&gt;
				&lt;div id="blog-sidecolumn"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;loadBlogSideColumn();&lt;/script&gt;
			&lt;/div&gt;
			
		&lt;/div&gt;&lt;!--end: sideBarMain --&gt;
	&lt;/div&gt;&lt;!--end: sideBar 侧边栏容器 --&gt;
	&lt;div class="clear"&gt;&lt;/div&gt;
	&lt;/div&gt;&lt;!--end: main --&gt;
	&lt;div class="clear"&gt;&lt;/div&gt;
	&lt;div id="footer"&gt;
		
&lt;!--done--&gt;
Copyright &amp;copy;2014 Jackie_Lin
	&lt;/div&gt;&lt;!--end: footer --&gt;
&lt;/div&gt;&lt;!--end: home 自定义的最大容器 --&gt;
&lt;/body&gt;
&lt;/html&gt;
</Html>
	<HtmlMetas i:nil="true" />
	<HtmlTitle i:nil="true" />
	<IsDefault>false</IsDefault>
	<Layout i:nil="true" />
	<Name>-blackmanba-p-element-vertical-align.html</Name>
	<OutputCache i:nil="true" />
	<PageContents xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
	<Plugins xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<Published>false</Published>
	<RequireHttps>false</RequireHttps>
	<Routes>
		<PageRoute>
			<Defaults xmlns:d4p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
			<Identifier>/blackmanba/p/element-vertical-align.html</Identifier>
			<RoutePath i:nil="true" />
		</PageRoute>
	</Routes>
	<Scripts i:nil="true" />
	<Site>
		<AbsoluteName xmlns="Ovaldi.Core.Models">Cnblogs</AbsoluteName>
	</Site>
	<Styles i:nil="true" />
	<UUID>-blackmanba-p-element-vertical-align.html</UUID>
</Page>