<?xml version="1.0" encoding="utf-8"?>
<Page xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Ovaldi.Core.Models">
	<AbsoluteName>-zhouhongyu1989-p-3975097.html</AbsoluteName>
	<CustomFields xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<EnableScript>true</EnableScript>
	<EnableTheming>true</EnableTheming>
	<Html>&lt;!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"&gt;
&lt;html xmlns="http://www.w3.org/1999/xhtml" lang="zh-cn"&gt;
&lt;head&gt;
&lt;meta http-equiv="Content-Type" content="text/html; charset=utf-8"&gt;
&lt;title&gt;jQuery $.post()返回类型为json时不进入回调函数的原因及解决方法 - 我不会抽烟Oscar - 博客园&lt;/title&gt;
&lt;link type="text/css" rel="stylesheet" href="/preview~Cnblogs/Styles/bundles/blog-common.css"&gt;
&lt;link id="MainCss" type="text/css" rel="stylesheet" href="/preview~Cnblogs/Styles/skins/arrow/bundle-arrow.css"&gt;
&lt;link title="RSS" type="application/rss+xml" rel="alternate" href="http://www.cnblogs.com/zhouhongyu1989/rss"&gt;
&lt;link title="RSD" type="application/rsd+xml" rel="EditURI" href="http://www.cnblogs.com/zhouhongyu1989/rsd.xml"&gt;
&lt;link type="application/wlwmanifest+xml" rel="wlwmanifest" href="http://www.cnblogs.com/zhouhongyu1989/wlwmanifest.xml"&gt;
&lt;script src="http://common.cnblogs.com/script/jquery.js" type="text/javascript"&gt;&lt;/script&gt;  
&lt;script type="text/javascript"&gt;var currentBlogApp = 'zhouhongyu1989', cb_enable_mathjax=true;&lt;/script&gt;
&lt;script src="/preview~Cnblogs/Scripts/bundles/blog-common.js" type="text/javascript"&gt;&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;a name="top"&gt;&lt;/a&gt;

&lt;!--done--&gt;
&lt;div id="header"&gt;
	
&lt;!--done--&gt;
&lt;div class="header"&gt;
	&lt;div class="headerText"&gt;
		&lt;a id="Header1_HeaderTitle" class="headermaintitle" href="/preview~Cnblogs/zhouhongyu1989/"&gt;我不会抽烟Oscar&lt;/a&gt;&lt;br&gt;
		
	&lt;/div&gt;
&lt;/div&gt;

&lt;/div&gt;
&lt;div id="mylinks"&gt;
&lt;!--done--&gt;
&lt;a id="MyLinks1_HomeLink" class="menu" href="/preview~Cnblogs/"&gt;博客园&lt;/a&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;
&lt;a id="MyLinks1_MyHomeLink" class="menu" href="/preview~Cnblogs/zhouhongyu1989/"&gt;首页&lt;/a&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;
&lt;a id="MyLinks1_NewPostLink" class="menu" rel="nofollow" href="http://i.cnblogs.com/EditPosts.aspx?opt=1"&gt;新随笔&lt;/a&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;
&lt;a id="MyLinks1_ContactLink" accesskey="9" class="menu" rel="nofollow" href="http://space.cnblogs.com/msg/send/%e6%88%91%e4%b8%8d%e4%bc%9a%e6%8a%bd%e7%83%9fOscar"&gt;联系&lt;/a&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;
&lt;a id="MyLinks1_Syndication" class="menu" href="/preview~Cnblogs/zhouhongyu1989/rss"&gt;订阅&lt;/a&gt;&lt;a id="MyLinks1_XMLLink" href="http://www.cnblogs.com/zhouhongyu1989/rss"&gt;&lt;img src="/preview~Cnblogs/Images/images/xml.gif" alt="订阅"&gt;&lt;/a&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;
&lt;a id="MyLinks1_Admin" class="menu" rel="nofollow" href="http://i.cnblogs.com/"&gt;管理&lt;/a&gt;
&lt;/div&gt;
&lt;div id="mytopmenu"&gt;
	
		
&lt;div class="blogStats"&gt;随笔 - 18&amp;nbsp;
文章 - 0&amp;nbsp;评论 - 118&amp;nbsp;trackbacks - 0
&lt;/div&gt;
	
&lt;/div&gt;
&lt;div id="leftcontent"&gt;
	
		&lt;div id="leftcontentcontainer"&gt;
			&lt;div id="blog-calendar" style="display:none"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;loadBlogDefaultCalendar();&lt;/script&gt;&lt;br&gt;
			
&lt;!--done--&gt;
&lt;div class="newsItem"&gt;
	&lt;div id="blog-news"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;loadBlogNews();&lt;/script&gt;
&lt;/div&gt;

			&lt;div id="blog-sidecolumn"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;loadBlogSideColumn();&lt;/script&gt;&lt;/div&gt;		
	
&lt;/div&gt;
&lt;div id="centercontent"&gt;
	

&lt;!--done--&gt;
&lt;div class="post"&gt;
	&lt;div class="postTitle"&gt;
		&lt;h1&gt;&lt;a id="cb_post_title_url" class="postTitle2" href="/preview~Cnblogs/zhouhongyu1989/p/3975097.html"&gt;jQuery $.post()返回类型为json时不进入回调函数的原因及解决方法&lt;/a&gt;&lt;/h1&gt;
	&lt;/div&gt;
	&lt;div id="cnblogs_post_body"&gt;&lt;p&gt;这真是个让人特别抓心找挠肝的问题，真的差点被这个问题逼的放弃去使用json作为返回类型，而是去用html，但是有的时候就是要较汁一下。（即便现在问题解决了，我还是想说句&amp;ldquo;妈蛋&amp;rdquo;，来发泄一下）&lt;/p&gt;
&lt;p&gt;其实主要还是自己对json的不够了解，但是很纳闷，网上对路的解决方法几乎没有。所以虽然问题很小，但是还是想要分享出来，希望能帮到需要的人。&lt;/p&gt;
&lt;p&gt;首先$.post()格式如下：&lt;/p&gt;
&lt;pre class="csharpcode"&gt;$.post(url,data,success(data, textStatus, jqXHR),dataType)&lt;/pre&gt;
&lt;style&gt;&lt;!--
.csharpcode, .csharpcode pre
{
	font-size: small;
	color: black;
	font-family: consolas, "Courier New", courier, monospace;
	background-color: #ffffff;
	/*white-space: pre;*/
}
.csharpcode pre { margin: 0em; }
.csharpcode .rem { color: #008000; }
.csharpcode .kwrd { color: #0000ff; }
.csharpcode .str { color: #006080; }
.csharpcode .op { color: #0000c0; }
.csharpcode .preproc { color: #cc6633; }
.csharpcode .asp { background-color: #ffff00; }
.csharpcode .html { color: #800000; }
.csharpcode .attr { color: #ff0000; }
.csharpcode .alt 
{
	background-color: #f4f4f4;
	width: 100%;
	margin: 0em;
}
.csharpcode .lnum { color: #606060; }
--&gt;&lt;/style&gt;
&lt;p&gt;参数描述&lt;/p&gt;
&lt;p&gt;&lt;span style="color: #0000ff;"&gt;&lt;em&gt;&lt;strong&gt;url&lt;/strong&gt;&lt;/em&gt; &lt;br&gt;&lt;/span&gt;必需。规定把请求发送到哪个 URL。&lt;/p&gt;
&lt;p&gt;&lt;em&gt;&lt;strong&gt;&lt;span style="color: #0000ff;"&gt;data&lt;/span&gt;&lt;/strong&gt;&lt;/em&gt; 

  &lt;br&gt;可选。映射或字符串值。基本是json格式。&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;&lt;span style="color: #0000ff;"&gt;&lt;em&gt;success(data, textStatus, jqXHR)&lt;/em&gt; 

      &lt;br&gt;&lt;/span&gt;&lt;/strong&gt;可选。请求成功时执行的回调函数。&lt;/p&gt;
&lt;p&gt;&lt;em&gt;&lt;strong&gt;&lt;span style="color: #0000ff;"&gt;dataType&lt;/span&gt;&lt;/strong&gt;&lt;/em&gt;&lt;/p&gt;
&lt;p&gt;可选。规定预期的服务器响应的数据类型。默认执行智能判断（xml、json、script 或 html）。&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;&lt;em&gt;示例：&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;
&lt;pre class="csharpcode"&gt;                $.post(
                    &lt;span class="str"&gt;"../../xxx/ajaxPost.aspx"&lt;/span&gt;,
                    {
                        action: &lt;span class="str"&gt;"xxx"&lt;/span&gt;,
                        id: xxx
                    },
                    &lt;span class="kwrd"&gt;function&lt;/span&gt; (data,status) {
                        alert(&lt;span class="str"&gt;"name="&lt;/span&gt;+data.name+&lt;span class="str"&gt;",age="&lt;/span&gt;+data.age);
                    },
                    &lt;span class="str"&gt;"json"&lt;/span&gt;);&lt;/pre&gt;
&lt;style&gt;&lt;!--
.csharpcode, .csharpcode pre
{
	font-size: small;
	color: black;
	font-family: consolas, "Courier New", courier, monospace;
	background-color: #ffffff;
	/*white-space: pre;*/
}
.csharpcode pre { margin: 0em; }
.csharpcode .rem { color: #008000; }
.csharpcode .kwrd { color: #0000ff; }
.csharpcode .str { color: #006080; }
.csharpcode .op { color: #0000c0; }
.csharpcode .preproc { color: #cc6633; }
.csharpcode .asp { background-color: #ffff00; }
.csharpcode .html { color: #800000; }
.csharpcode .attr { color: #ff0000; }
.csharpcode .alt 
{
	background-color: #f4f4f4;
	width: 100%;
	margin: 0em;
}
.csharpcode .lnum { color: #606060; }
--&gt;&lt;/style&gt;
&lt;p&gt;打断点可以正常进入到后台。直到想要的操作完成，组成新的json数据，利用Response.Write()返回，但是无论如何也不走function()方法，之前有想到是json格式的问题，但是改了还是不行。&lt;/p&gt;
&lt;p&gt;后来终于终于&lt;/p&gt;
&lt;p&gt;&lt;em&gt;&lt;strong&gt;后台：&lt;/strong&gt;&lt;/em&gt;&lt;/p&gt;
&lt;pre class="csharpcode"&gt;            var result = &lt;span class="str"&gt;"{\"name\":\"Michael Jordan\",\"age\":\"51\"}"&lt;/span&gt;;
            Response.Write(result);
            Response.End();&lt;/pre&gt;
&lt;style&gt;&lt;!--
.csharpcode, .csharpcode pre
{
	font-size: small;
	color: black;
	font-family: consolas, "Courier New", courier, monospace;
	background-color: #ffffff;
	/*white-space: pre;*/
}
.csharpcode pre { margin: 0em; }
.csharpcode .rem { color: #008000; }
.csharpcode .kwrd { color: #0000ff; }
.csharpcode .str { color: #006080; }
.csharpcode .op { color: #0000c0; }
.csharpcode .preproc { color: #cc6633; }
.csharpcode .asp { background-color: #ffff00; }
.csharpcode .html { color: #800000; }
.csharpcode .attr { color: #ff0000; }
.csharpcode .alt 
{
	background-color: #f4f4f4;
	width: 100%;
	margin: 0em;
}
.csharpcode .lnum { color: #606060; }
--&gt;&lt;/style&gt;
&lt;p&gt;大家注意，都知道json的格式是{"key1&amp;rdquo;: "value1&amp;rdquo;, "key2&amp;rdquo;: "value2&amp;rdquo;} 这样（或者是把{}中的双引号变成单引号），但是在C#代码部分却是需要在引号（&amp;ldquo;&amp;rdquo;）前加上转义字符（\）的，否则永远走不到回调方法。&lt;/p&gt;
&lt;p&gt;$.post()方法在以json作为返回类型的时候，是严格要求使用json格式才可以进入回调的。所以&amp;hellip;&amp;hellip;&lt;/p&gt;
&lt;p&gt;&lt;em&gt;&lt;strong&gt;运行截图：&lt;/strong&gt;&lt;/em&gt;&lt;/p&gt;
&lt;p&gt;&lt;img src="http://images.cnitblog.com/blog/639859/201409/161552076287884.jpg" alt=""&gt;&lt;/p&gt;&lt;/div&gt;&lt;div id="MySignature"&gt;&lt;/div&gt;
&lt;div class="clear"&gt;&lt;/div&gt;
&lt;div id="blog_post_info_block"&gt;
&lt;div id="BlogPostCategory"&gt;&lt;/div&gt;
&lt;div id="EntryTag"&gt;&lt;/div&gt;
&lt;div id="blog_post_info"&gt;
&lt;/div&gt;
&lt;div class="clear"&gt;&lt;/div&gt;
&lt;div id="post_next_prev"&gt;&lt;/div&gt;
&lt;/div&gt;


	&lt;div class="postDesc"&gt;posted on &lt;span id="post-date"&gt;2014-09-16 15:52&lt;/span&gt; &lt;a href='/preview~Cnblogs/zhouhongyu1989/'&gt;我不会抽烟Oscar&lt;/a&gt; 阅读(&lt;span id="post_view_count"&gt;...&lt;/span&gt;) 评论(&lt;span id="post_comment_count"&gt;...&lt;/span&gt;)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3975097" rel="nofollow"&gt;编辑&lt;/a&gt; &lt;a href="#" onclick="AddToWz(3975097);return false;"&gt;收藏&lt;/a&gt;&lt;/div&gt;
&lt;/div&gt;
&lt;script type="text/javascript"&gt;var allowComments=true,isLogined=false,cb_blogId=187958,cb_entryId=3975097,cb_blogApp=currentBlogApp,cb_blogUserGuid='902cd865-c3eb-e311-8d02-90b11c0b17d6',cb_entryCreatedDate='2014/9/16 15:52:00';loadViewCount(cb_entryId);&lt;/script&gt;

&lt;a name="!comments"&gt;&lt;/a&gt;&lt;div id="blog-comments-placeholder"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;var commentManager = new blogCommentManager();commentManager.renderComments(0);&lt;/script&gt;
&lt;div id="comment_form" class="commentform"&gt;
&lt;a name="commentform"&gt;&lt;/a&gt;
&lt;div id="divCommentShow"&gt;&lt;/div&gt;
&lt;div id="comment_nav"&gt;&lt;span id="span_refresh_tips"&gt;&lt;/span&gt;&lt;a href="javascript:void(0);" id="lnk_RefreshComments" onclick="return RefreshCommentList();"&gt;刷新评论&lt;/a&gt;&lt;a href="#" onclick="return RefreshPage();"&gt;刷新页面&lt;/a&gt;&lt;a href="#top"&gt;返回顶部&lt;/a&gt;&lt;/div&gt;
&lt;div id="comment_form_container"&gt;&lt;/div&gt;
&lt;div class="ad_text_commentbox" id="ad_text_under_commentbox"&gt;&lt;/div&gt;
&lt;div id="site_nav_under"&gt;&lt;a href="/preview~Cnblogs/" target="_blank" title="开发者的网上家园"&gt;博客园首页&lt;/a&gt;&lt;a href="http://q.cnblogs.com/" target="_blank" title="程序员问答社区"&gt;博问&lt;/a&gt;&lt;a href="http://news.cnblogs.com/" target="_blank" title="IT新闻"&gt;新闻&lt;/a&gt;&lt;a href="http://home.cnblogs.com/ing/" target="_blank"&gt;闪存&lt;/a&gt;&lt;a href="http://job.cnblogs.com/" target="_blank"&gt;程序员招聘&lt;/a&gt;&lt;a href="http://kb.cnblogs.com/" target="_blank"&gt;知识库&lt;/a&gt;&lt;/div&gt;
&lt;div id="opt_under_post"&gt;&lt;/div&gt;
&lt;script type="text/javascript"&gt;
    var enableGoogleAd = canShowAdsense(); var googletag = googletag || {}; googletag.cmd = googletag.cmd || [];
    fixPostBodyFormat();
&lt;/script&gt;
&lt;div id="ad_under_post_holder"&gt;
&lt;script type='text/javascript'&gt;
    var googletag = googletag || {};
    googletag.cmd = googletag.cmd || [];
    (function () {
        if (enableGoogleAd) {
            var gads = document.createElement('script');
            gads.async = true;
            gads.type = 'text/javascript';
            var useSSL = 'https:' == document.location.protocol;
            gads.src = (useSSL ? 'https:' : 'http:') + '//www.googletagservices.com/tag/js/gpt.js';
            var node = document.getElementsByTagName('script')[0];
            node.parentNode.insertBefore(gads, node);
        }
    })();
&lt;/script&gt;
&lt;script type='text/javascript'&gt;
    try {
        if (enableGoogleAd) {
            googletag.cmd.push(function () {
                googletag.defineSlot('/1090369/cnblogs_blogpost_C1_sitehome', [300, 250], 'div-gpt-ad-1346480159711-0').addService(googletag.pubads());
                googletag.pubads().enableSingleRequest();
                googletag.enableServices();
            });
        };
    } catch (e) { }
&lt;/script&gt;
&lt;div id="google_ad_c1" class="c_ad_block"&gt;
    &lt;div id='div-gpt-ad-1346480159711-0' style='width:300px; height:250px;'&gt;
    &lt;script type='text/javascript'&gt;
        try {
            if (enableGoogleAd) {
                googletag.cmd.push(function () { googletag.display('div-gpt-ad-1346480159711-0'); });            
            } else {
                $('#div-gpt-ad-1346480159711-0').hide();
            }
    } catch (e) { }
    &lt;/script&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;div id="blog_news_kb"&gt;&lt;/div&gt;
&lt;div id="HistoryToday" class="c_ad_block"&gt;&lt;/div&gt;
&lt;script type="text/javascript"&gt;
$(function () {
    loadNewsAndKb();
    loadBlogSignature();
    LoadPostInfoBlock(cb_blogId, cb_entryId, cb_blogApp, cb_blogUserGuid);
    GetPrevNextPost(cb_entryId, cb_blogId, cb_entryCreatedDate);
    loadOptUnderPost();
    GetHistoryToday(cb_blogId, cb_blogApp, cb_entryCreatedDate);
    setTimeout(function () { incrementViewCount(cb_entryId); }, 200);
});
&lt;/script&gt;
&lt;/div&gt;

	
&lt;!--done--&gt;
&lt;div class="footer"&gt;
	
	Copyright &amp;copy;2014 我不会抽烟Oscar Powered by: &lt;a href="/preview~Cnblogs/" class="footerlink"&gt;博客园&lt;/a&gt; 模板提供：&lt;a href="http://blog.hjenglish.com" class="footerlink"&gt;沪江博客&lt;/a&gt;&lt;br&gt;
&lt;/div&gt;
&lt;/div&gt;



&lt;/body&gt;
&lt;/html&gt;
</Html>
	<HtmlMetas i:nil="true" />
	<HtmlTitle i:nil="true" />
	<IsDefault>false</IsDefault>
	<Layout i:nil="true" />
	<Name>-zhouhongyu1989-p-3975097.html</Name>
	<OutputCache i:nil="true" />
	<PageContents xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
	<Plugins xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<Published>false</Published>
	<RequireHttps>false</RequireHttps>
	<Routes>
		<PageRoute>
			<Defaults xmlns:d4p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
			<Identifier>/zhouhongyu1989/p/3975097.html</Identifier>
			<RoutePath i:nil="true" />
		</PageRoute>
	</Routes>
	<Scripts i:nil="true" />
	<Site>
		<AbsoluteName xmlns="Ovaldi.Core.Models">Cnblogs</AbsoluteName>
	</Site>
	<Styles i:nil="true" />
	<UUID>-zhouhongyu1989-p-3975097.html</UUID>
</Page>