<?xml version="1.0" encoding="utf-8"?>
<Page xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Ovaldi.Core.Models">
	<AbsoluteName>-zeeman-</AbsoluteName>
	<CustomFields xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<EnableScript>true</EnableScript>
	<EnableTheming>true</EnableTheming>
	<Html>&lt;!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"&gt;
&lt;html xmlns="http://www.w3.org/1999/xhtml" lang="zh-cn"&gt;
&lt;head&gt;
&lt;meta http-equiv="Content-Type" content="text/html; charset=utf-8"&gt;
&lt;title&gt;协思 - 博客园&lt;/title&gt;
&lt;link type="text/css" rel="stylesheet" href="/preview~Cnblogs/Styles/bundles/blog-common.css"&gt;
&lt;link id="MainCss" type="text/css" rel="stylesheet" href="/preview~Cnblogs/Styles/skins/KJC/bundle-KJC.css"&gt;
&lt;link title="RSS" type="application/rss+xml" rel="alternate" href="http://www.cnblogs.com/zeeman/rss"&gt;
&lt;link title="RSD" type="application/rsd+xml" rel="EditURI" href="http://www.cnblogs.com/zeeman/rsd.xml"&gt;
&lt;link type="application/wlwmanifest+xml" rel="wlwmanifest" href="http://www.cnblogs.com/zeeman/wlwmanifest.xml"&gt;
&lt;script src="http://common.cnblogs.com/script/jquery.js" type="text/javascript"&gt;&lt;/script&gt;  
&lt;script type="text/javascript"&gt;var currentBlogApp = 'zeeman', cb_enable_mathjax=false;&lt;/script&gt;
&lt;script src="/preview~Cnblogs/Scripts/bundles/blog-common.js" type="text/javascript"&gt;&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;a name="top"&gt;&lt;/a&gt;

&lt;table class="Framework" cellspacing="0" cellpadding="0" width="100%"&gt;
	&lt;tr&gt;
		&lt;td colspan="3"&gt;
			
&lt;div id="top"&gt;
&lt;table cellpadding="10" cellspacing="0"&gt;
	&lt;tr&gt;
		&lt;td nowrap=""&gt;
			&lt;h1&gt;&lt;a id="Header1_HeaderTitle" class="headermaintitle" href="http://www.cnblogs.com/zeeman/"&gt;协思&lt;/a&gt;&lt;/h1&gt;
			协作、思考、感悟、进步
		&lt;/td&gt;
	&lt;/tr&gt;
&lt;/table&gt;
&lt;/div&gt;
&lt;div id="sub"&gt;
	&lt;div id="sub-right"&gt;
&lt;div class="BlogStats"&gt;posts - 25, comments - 8, trackbacks - 0, articles - 0&lt;/div&gt;&lt;/div&gt;
	
&amp;nbsp;
&lt;a id="Header1_MyLinks1_HomeLink" href="http://www.cnblogs.com/"&gt;博客园&lt;/a&gt;&amp;nbsp;::
&lt;a id="Header1_MyLinks1_MyHomeLink" href="http://www.cnblogs.com/zeeman/"&gt;首页&lt;/a&gt;&amp;nbsp;::
&lt;a id="Header1_MyLinks1_NewPostLink" rel="nofollow" href="http://i.cnblogs.com/EditPosts.aspx?opt=1"&gt;新随笔&lt;/a&gt;&amp;nbsp;::
&lt;a id="Header1_MyLinks1_ContactLink" accesskey="9" rel="nofollow" href="http://space.cnblogs.com/msg/send/%e5%8d%8f%e6%80%9d"&gt;联系&lt;/a&gt;&amp;nbsp;::
&lt;a id="Header1_MyLinks1_Syndication" href="http://www.cnblogs.com/zeeman/rss"&gt;订阅&lt;/a&gt;
&lt;a id="Header1_MyLinks1_XMLLink" class="XMLLink" href="http://www.cnblogs.com/zeeman/rss"&gt;&lt;img src="/preview~Cnblogs/Images/images/xml.gif" alt="订阅"&gt;&lt;/a&gt;&amp;nbsp;::
&lt;a id="Header1_MyLinks1_Admin" rel="nofollow" href="http://i.cnblogs.com/"&gt;管理&lt;/a&gt;

&lt;/div&gt;
		&lt;/td&gt;
	&lt;/tr&gt;
	&lt;tr&gt;
		&lt;td class="LeftCell"&gt;
			&lt;div id="leftmenu"&gt;
            	
		            &lt;div id="blog-calendar" style="display:none"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;loadBlogDefaultCalendar();&lt;/script&gt;
		            
&lt;div id="cell"&gt;
&lt;img src="/preview~Cnblogs/Images/Skins/KJC/Images/icon-group.jpg" hspace="5" align="left" vspace="2"&gt;&lt;h3&gt;公告&lt;/h3&gt;
&lt;div id="news"&gt;
	&lt;div id="blog-news"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;loadBlogNews();&lt;/script&gt;
&lt;/div&gt;
&lt;/div&gt;

	            
	            &lt;div id="blog-sidecolumn"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;loadBlogSideColumn();&lt;/script&gt;
			&lt;/div&gt;
		&lt;/td&gt;
		&lt;td class="MainCell"&gt;
			&lt;div id="main"&gt;
				

&lt;p class="date"&gt;
    &lt;span&gt;
        &lt;a id="homepage1_HomePageDays_DaysList_ctl00_ImageLink" title="Day Archive" href="http://www.cnblogs.com/zeeman/archive/2014/09/15.html" style="display:inline-block;"&gt;2014年9月15日&lt;/a&gt;
    &lt;/span&gt;
&lt;/p&gt;


        &lt;div class="post"&gt;
            &lt;div class="posthead"&gt;
                &lt;h2 style="padding-top: 4px; padding-bottom: 4px;"&gt;
                    &lt;a id="homepage1_HomePageDays_DaysList_ctl00_DayList_TitleUrl_0" href="http://www.cnblogs.com/zeeman/p/3974019.html"&gt;有点担心Node.js的未来了&lt;/a&gt;&lt;/h2&gt;
            &lt;/div&gt;
            &lt;div class="postbody"&gt;
                &lt;div class="postlist-postbody_loading" id="postlist_postbody_3974019"&gt;正文内容加载中...&lt;/div&gt;&lt;script type="text/javascript"&gt;getBlogPostBody(3974019);&lt;/script&gt;&lt;/div&gt;

            &lt;p class="postfoot"&gt;
                posted @ 2014-09-15 23:53 协思 阅读(110) 评论(3)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3974019" rel="nofollow"&gt;编辑&lt;/a&gt;
            &lt;/p&gt;
        &lt;/div&gt;
    

&lt;p class="date"&gt;
    &lt;span&gt;
        &lt;a id="homepage1_HomePageDays_DaysList_ctl01_ImageLink" title="Day Archive" href="http://www.cnblogs.com/zeeman/archive/2014/09/14.html" style="display:inline-block;"&gt;2014年9月14日&lt;/a&gt;
    &lt;/span&gt;
&lt;/p&gt;


        &lt;div class="post"&gt;
            &lt;div class="posthead"&gt;
                &lt;h2 style="padding-top: 4px; padding-bottom: 4px;"&gt;
                    &lt;a id="homepage1_HomePageDays_DaysList_ctl01_DayList_TitleUrl_0" href="http://www.cnblogs.com/zeeman/p/3970896.html"&gt;回首经典的SQL Server 2005&lt;/a&gt;&lt;/h2&gt;
            &lt;/div&gt;
            &lt;div class="postbody"&gt;
                &lt;div class="c_b_p_desc"&gt;摘要: 原创文章转载请注明出处：@协思, http://zeeman.cnblogs.com SQL Server是我使用时间最长的数据库，算起来已经有10年了。上世纪90年代，微软在软件开发的所有领域高歌猛进，形成了操作系统、办公软件、企业开发、游戏制作、浏览器各领域的全线垄断。那曾经是微软发展的黄金时期...&lt;a href="http://www.cnblogs.com/zeeman/p/3970896.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;

            &lt;p class="postfoot"&gt;
                posted @ 2014-09-14 12:39 协思 阅读(435) 评论(4)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3970896" rel="nofollow"&gt;编辑&lt;/a&gt;
            &lt;/p&gt;
        &lt;/div&gt;
    

&lt;p class="date"&gt;
    &lt;span&gt;
        &lt;a id="homepage1_HomePageDays_DaysList_ctl02_ImageLink" title="Day Archive" href="http://www.cnblogs.com/zeeman/archive/2014/09/13.html" style="display:inline-block;"&gt;2014年9月13日&lt;/a&gt;
    &lt;/span&gt;
&lt;/p&gt;


        &lt;div class="post"&gt;
            &lt;div class="posthead"&gt;
                &lt;h2 style="padding-top: 4px; padding-bottom: 4px;"&gt;
                    &lt;a id="homepage1_HomePageDays_DaysList_ctl02_DayList_TitleUrl_0" href="http://www.cnblogs.com/zeeman/p/3970030.html"&gt;redis使用心得&lt;/a&gt;&lt;/h2&gt;
            &lt;/div&gt;
            &lt;div class="postbody"&gt;
                &lt;div class="c_b_p_desc"&gt;摘要: 原创文章转载请注明出处：@协思,http://zeeman.cnblogs.comredis是继memcached之后兴起的内存数据库，作者非常崇尚简洁高效，力求以最简单的方式最高效的解决问题，所谓大道至简。同时作者也很勤奋，经常尝试不同解决问题的方式来优化。redis支持丰富的数据的数据结构，它们...&lt;a href="http://www.cnblogs.com/zeeman/p/3970030.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;

            &lt;p class="postfoot"&gt;
                posted @ 2014-09-13 17:17 协思 阅读(35) 评论(0)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3970030" rel="nofollow"&gt;编辑&lt;/a&gt;
            &lt;/p&gt;
        &lt;/div&gt;
    
        &lt;div class="post"&gt;
            &lt;div class="posthead"&gt;
                &lt;h2 style="padding-top: 4px; padding-bottom: 4px;"&gt;
                    &lt;a id="homepage1_HomePageDays_DaysList_ctl02_DayList_TitleUrl_1" href="http://www.cnblogs.com/zeeman/p/3969720.html"&gt;kafka的一些认识&lt;/a&gt;&lt;/h2&gt;
            &lt;/div&gt;
            &lt;div class="postbody"&gt;
                &lt;div class="c_b_p_desc"&gt;摘要: 原创文章转载请注明出处：@协思,http://zeeman.cnblogs.com近来无事研究了一下kafka，并且用golang连接kafka做了producer和consumer的简单测试，对kafka有了一些基本的认识。kafka不同于activemq和rabbitmq等这种符合AMQP协议的...&lt;a href="http://www.cnblogs.com/zeeman/p/3969720.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;

            &lt;p class="postfoot"&gt;
                posted @ 2014-09-13 13:11 协思 阅读(36) 评论(1)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3969720" rel="nofollow"&gt;编辑&lt;/a&gt;
            &lt;/p&gt;
        &lt;/div&gt;
    
        &lt;div class="post"&gt;
            &lt;div class="posthead"&gt;
                &lt;h2 style="padding-top: 4px; padding-bottom: 4px;"&gt;
                    &lt;a id="homepage1_HomePageDays_DaysList_ctl02_DayList_TitleUrl_2" href="http://www.cnblogs.com/zeeman/p/3969521.html"&gt;软件工程中的依赖管理&lt;/a&gt;&lt;/h2&gt;
            &lt;/div&gt;
            &lt;div class="postbody"&gt;
                &lt;div class="c_b_p_desc"&gt;摘要: 原创文章转载请注明出处：@协思,http://zeeman.cnblogs.com软件工程是多人合作的结果，我们做项目的时候，经常需要使用前人的成果或者成熟的第三方包，而这些第三方包又可能再引用第四方包，并且可能存在版本上的区别，这就形成了依赖链。手工管理依赖是相当麻烦且易出错，因此各大平台都有自己...&lt;a href="http://www.cnblogs.com/zeeman/p/3969521.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;

            &lt;p class="postfoot"&gt;
                posted @ 2014-09-13 10:19 协思 阅读(40) 评论(0)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3969521" rel="nofollow"&gt;编辑&lt;/a&gt;
            &lt;/p&gt;
        &lt;/div&gt;
    

&lt;p class="date"&gt;
    &lt;span&gt;
        &lt;a id="homepage1_HomePageDays_DaysList_ctl03_ImageLink" title="Day Archive" href="http://www.cnblogs.com/zeeman/archive/2014/09/12.html" style="display:inline-block;"&gt;2014年9月12日&lt;/a&gt;
    &lt;/span&gt;
&lt;/p&gt;


        &lt;div class="post"&gt;
            &lt;div class="posthead"&gt;
                &lt;h2 style="padding-top: 4px; padding-bottom: 4px;"&gt;
                    &lt;a id="homepage1_HomePageDays_DaysList_ctl03_DayList_TitleUrl_0" href="http://www.cnblogs.com/zeeman/p/3969342.html"&gt;那些年的网站负载技术&lt;/a&gt;&lt;/h2&gt;
            &lt;/div&gt;
            &lt;div class="postbody"&gt;
                &lt;div class="c_b_p_desc"&gt;摘要: 原创文章转载请注明出处：@协思,http://zeeman.cnblogs.comInternet的规模每一百天就会增长一倍，客户希望获得7天24小时的不间断可用性及较快的系统反应时间，而不愿屡次看到某个站点“Server Too Busy”及频繁的系统故障。负载均衡是所有大中型网站必备的部署。显然...&lt;a href="http://www.cnblogs.com/zeeman/p/3969342.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;

            &lt;p class="postfoot"&gt;
                posted @ 2014-09-12 23:43 协思 阅读(7) 评论(0)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3969342" rel="nofollow"&gt;编辑&lt;/a&gt;
            &lt;/p&gt;
        &lt;/div&gt;
    
        &lt;div class="post"&gt;
            &lt;div class="posthead"&gt;
                &lt;h2 style="padding-top: 4px; padding-bottom: 4px;"&gt;
                    &lt;a id="homepage1_HomePageDays_DaysList_ctl03_DayList_TitleUrl_1" href="http://www.cnblogs.com/zeeman/p/3968470.html"&gt;Cassandra中的数据一致性&lt;/a&gt;&lt;/h2&gt;
            &lt;/div&gt;
            &lt;div class="postbody"&gt;
                &lt;div class="c_b_p_desc"&gt;摘要: Cassandra中数据一致性指的是数据行在各个复制节点（replicas）上的更新和同步程度。通过提供tunable consistency，Cassandra扩展了eventual consistency的概念。针对任何读或写操作，客户端根据对反应时间和数据准确性的要求来决定数据的一致性程度(...&lt;a href="http://www.cnblogs.com/zeeman/p/3968470.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;

            &lt;p class="postfoot"&gt;
                posted @ 2014-09-12 15:28 协思 阅读(16) 评论(0)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3968470" rel="nofollow"&gt;编辑&lt;/a&gt;
            &lt;/p&gt;
        &lt;/div&gt;
    
        &lt;div class="post"&gt;
            &lt;div class="posthead"&gt;
                &lt;h2 style="padding-top: 4px; padding-bottom: 4px;"&gt;
                    &lt;a id="homepage1_HomePageDays_DaysList_ctl03_DayList_TitleUrl_2" href="http://www.cnblogs.com/zeeman/p/3968440.html"&gt;REST建模语言RAML介绍&lt;/a&gt;&lt;/h2&gt;
            &lt;/div&gt;
            &lt;div class="postbody"&gt;
                &lt;div class="c_b_p_desc"&gt;摘要: 原创文章转载请注明出处：@协思,http://zeeman.cnblogs.comRAML是什么?RAML是一种简洁的RESTful API描述性语言，它基于 YAML和JSON这样的公开标准构建。通过RAML定义，可以生成客户端调用代码和服务端代码结构，创建API说明文档。我们知道Web Serv...&lt;a href="http://www.cnblogs.com/zeeman/p/3968440.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;

            &lt;p class="postfoot"&gt;
                posted @ 2014-09-12 15:14 协思 阅读(10) 评论(0)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3968440" rel="nofollow"&gt;编辑&lt;/a&gt;
            &lt;/p&gt;
        &lt;/div&gt;
    
        &lt;div class="post"&gt;
            &lt;div class="posthead"&gt;
                &lt;h2 style="padding-top: 4px; padding-bottom: 4px;"&gt;
                    &lt;a id="homepage1_HomePageDays_DaysList_ctl03_DayList_TitleUrl_3" href="http://www.cnblogs.com/zeeman/p/3968391.html"&gt;node访问iis使用keep-alive设置不当&lt;/a&gt;&lt;/h2&gt;
            &lt;/div&gt;
            &lt;div class="postbody"&gt;
                &lt;div class="c_b_p_desc"&gt;摘要: iis默认的连接超时时间为2分钟 ，因此node程序使用keep-alive访问时，keep-alive的时间不应该超过2分钟，否则在请求完成后，node端继续保持连接，2分钟后iis断开连接，会导致node程序底层tcp异常(xxxx at errnoException (net.js:901:1...&lt;a href="http://www.cnblogs.com/zeeman/p/3968391.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;

            &lt;p class="postfoot"&gt;
                posted @ 2014-09-12 14:52 协思 阅读(8) 评论(0)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3968391" rel="nofollow"&gt;编辑&lt;/a&gt;
            &lt;/p&gt;
        &lt;/div&gt;
    
        &lt;div class="post"&gt;
            &lt;div class="posthead"&gt;
                &lt;h2 style="padding-top: 4px; padding-bottom: 4px;"&gt;
                    &lt;a id="homepage1_HomePageDays_DaysList_ctl03_DayList_TitleUrl_4" href="http://www.cnblogs.com/zeeman/p/3968370.html"&gt;channel vs mutex&lt;/a&gt;&lt;/h2&gt;
            &lt;/div&gt;
            &lt;div class="postbody"&gt;
                &lt;div class="c_b_p_desc"&gt;摘要: 记录许总演讲PPT指出的实践：channel– 本质上是一个 MessageQueue– 非常正统的执行体间通讯设施• sync.Mutex/RWMutex/Cond/etc– 不要把 channel 当做万金油，该 Mutex 还是要• 误区– 用 channel 来做互斥 ( 正常应该让 Mut...&lt;a href="http://www.cnblogs.com/zeeman/p/3968370.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;

            &lt;p class="postfoot"&gt;
                posted @ 2014-09-12 14:45 协思 阅读(2) 评论(0)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3968370" rel="nofollow"&gt;编辑&lt;/a&gt;
            &lt;/p&gt;
        &lt;/div&gt;
    

&lt;div class="topicListFooter"&gt;&lt;a href="http://www.cnblogs.com/zeeman/default.html?OnlyTitle=1"&gt;仅列出标题&lt;/a&gt;&amp;nbsp;&amp;nbsp;&lt;a href="http://www.cnblogs.com/zeeman/default.html?page=2"&gt;下一页&lt;/a&gt;&lt;/div&gt;


			&lt;/div&gt;
		&lt;/td&gt;
	&lt;/tr&gt;
	&lt;tr&gt;
		&lt;td colspan="2" class="FooterCell"&gt;
			
&lt;p id="footer"&gt;
	Powered by: 
	&lt;br&gt;
	
	&lt;a id="Footer1_Hyperlink3" name="Hyperlink1" href="http://www.cnblogs.com/"&gt;&lt;font face="Verdana"&gt;博客园&lt;/font&gt;&lt;/a&gt;
	&lt;br&gt;
	Copyright &amp;copy; 协思
&lt;/p&gt;

		&lt;/td&gt;
	&lt;/tr&gt;
&lt;/table&gt;

&lt;/body&gt;
&lt;/html&gt;
</Html>
	<HtmlMetas i:nil="true" />
	<HtmlTitle i:nil="true" />
	<IsDefault>false</IsDefault>
	<Layout i:nil="true" />
	<Name>-zeeman-</Name>
	<OutputCache i:nil="true" />
	<PageContents xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
	<Plugins xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<Published>false</Published>
	<RequireHttps>false</RequireHttps>
	<Routes>
		<PageRoute>
			<Defaults xmlns:d4p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
			<Identifier>/zeeman/</Identifier>
			<RoutePath i:nil="true" />
		</PageRoute>
	</Routes>
	<Scripts i:nil="true" />
	<Site>
		<AbsoluteName xmlns="Ovaldi.Core.Models">Cnblogs</AbsoluteName>
	</Site>
	<Styles i:nil="true" />
	<UUID>-zeeman-</UUID>
</Page>