<?xml version="1.0" encoding="utf-8"?>
<Page xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Ovaldi.Core.Models">
	<AbsoluteName>-nihaoCPP-</AbsoluteName>
	<CustomFields xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<EnableScript>true</EnableScript>
	<EnableTheming>true</EnableTheming>
	<Html>&lt;!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"&gt;
&lt;html xmlns="http://www.w3.org/1999/xhtml" lang="zh-cn"&gt;
&lt;head&gt;
&lt;meta http-equiv="Content-Type" content="text/html; charset=utf-8"&gt;
&lt;title&gt;你好，C++ - 博客园&lt;/title&gt;
&lt;link type="text/css" rel="stylesheet" href="/preview~Cnblogs/Styles/bundles/blog-common.css"&gt;
&lt;link id="MainCss" type="text/css" rel="stylesheet" href="/preview~Cnblogs/Styles/skins/SimpleBlue/bundle-SimpleBlue.css"&gt;
&lt;link title="RSS" type="application/rss+xml" rel="alternate" href="http://www.cnblogs.com/nihaoCPP/rss"&gt;
&lt;link title="RSD" type="application/rsd+xml" rel="EditURI" href="http://www.cnblogs.com/nihaoCPP/rsd.xml"&gt;
&lt;link type="application/wlwmanifest+xml" rel="wlwmanifest" href="http://www.cnblogs.com/nihaoCPP/wlwmanifest.xml"&gt;
&lt;script src="http://common.cnblogs.com/script/jquery.js" type="text/javascript"&gt;&lt;/script&gt;  
&lt;script type="text/javascript"&gt;var currentBlogApp = 'nihaoCPP', cb_enable_mathjax=false;&lt;/script&gt;
&lt;script src="/preview~Cnblogs/Scripts/bundles/blog-common.js" type="text/javascript"&gt;&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;a name="top"&gt;&lt;/a&gt;

&lt;div id="home"&gt;
&lt;div id="header"&gt;
	&lt;div id="blogTitle"&gt;
		
&lt;!--done--&gt;
&lt;div class="title"&gt;&lt;a id="Header1_HeaderTitle" class="headermaintitle" href="http://www.cnblogs.com/nihaoCPP/"&gt;你好，C++&lt;/a&gt;&lt;/div&gt;
&lt;div class="subtitle"&gt;让C++变得亲切起来&lt;/div&gt;



		
	&lt;/div&gt;&lt;!--end: blogTitle 博客的标题和副标题 --&gt;
	&lt;div id="navigator"&gt;
		
&lt;ul id="navList"&gt;
&lt;li id="nav_sitehome"&gt;&lt;a id="MyLinks1_HomeLink" class="menu" href="http://www.cnblogs.com/"&gt;博客园&lt;/a&gt;&lt;/li&gt;
&lt;li id="nav_myhome"&gt;&lt;a id="MyLinks1_MyHomeLink" class="menu" href="http://www.cnblogs.com/nihaoCPP/"&gt;首页&lt;/a&gt;&lt;/li&gt;
&lt;li id="nav_q"&gt;&lt;a class="menu" href="http://q.cnblogs.com/"&gt;博问&lt;/a&gt;&lt;/li&gt;
&lt;li id="nav_ing"&gt;&lt;a class="menu" href="http://home.cnblogs.com/ing/"&gt;闪存&lt;/a&gt;&lt;/li&gt;
&lt;li id="nav_newpost"&gt;&lt;a id="MyLinks1_NewPostLink" class="menu" rel="nofollow" href="http://i.cnblogs.com/EditPosts.aspx?opt=1"&gt;新随笔&lt;/a&gt;&lt;/li&gt;
&lt;li id="nav_contact"&gt;&lt;a id="MyLinks1_ContactLink" class="menu" rel="nofollow" href="http://space.cnblogs.com/msg/send/%e4%bd%a0%e5%a5%bd%ef%bc%8cC%2b%2b"&gt;联系&lt;/a&gt;&lt;/li&gt;
&lt;li id="nav_rss"&gt;&lt;a id="MyLinks1_Syndication" class="menu" href="http://www.cnblogs.com/nihaoCPP/rss"&gt;订阅&lt;/a&gt;
&lt;!--&lt;a id="MyLinks1_XMLLink" class="aHeaderXML" href="http://www.cnblogs.com/nihaoCPP/rss"&gt;&lt;img src="http://www.cnblogs.com/images/xml.gif" alt="订阅" /&gt;&lt;/a&gt;--&gt;&lt;/li&gt;
&lt;li id="nav_admin"&gt;&lt;a id="MyLinks1_Admin" class="menu" rel="nofollow" href="http://i.cnblogs.com/"&gt;管理&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;

		&lt;div class="blogStats"&gt;
			
			
&lt;!--done--&gt;
随笔-7&amp;nbsp;
文章-0&amp;nbsp;
评论-42&amp;nbsp;

			
		&lt;/div&gt;&lt;!--end: blogStats --&gt;
	&lt;/div&gt;&lt;!--end: navigator 博客导航栏 --&gt;
&lt;/div&gt;&lt;!--end: header 头部 --&gt;
&lt;div id="main"&gt;
	&lt;div id="mainContent"&gt;
	&lt;div class="forFlow"&gt;
		

&lt;!--done--&gt;

&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl00_ImageLink" href="http://www.cnblogs.com/nihaoCPP/archive/2014/09/16.html"&gt;2014年9月16日&lt;/a&gt;				  
	&lt;/div&gt;
	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl00_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/nihaoCPP/p/define_const.html"&gt;你好，C++（8）如何表达那些始终保持不变的数据量？3.2.2  常量&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: &lt;img src="http://tupian.hbrc.com/xdf/0/49/491856_1373370945345879.jpg" class="desc_img"&gt;与变量可以用在程序中表达那些可能会发生变化的数据量相对应地，在C++中，我们用常量来表达那些始终保持不变的数据量。简单来讲，就是程序中直接使用的数值、字符、字符串以及const关键字修饰的常变量等。大多数时候，常量只需要被读取一次，所以它没有名字，无须定义而可以直接使用。又因为其数据只能读取，不能修改，所以通常用来给一个变量赋值或者直接参与运算。&lt;a href="http://www.cnblogs.com/nihaoCPP/p/define_const.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-09-16 08:04 你好，C++ 阅读(256) 评论(4)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3972897" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;

&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl01_ImageLink" href="http://www.cnblogs.com/nihaoCPP/archive/2014/09/12.html"&gt;2014年9月12日&lt;/a&gt;				  
	&lt;/div&gt;
	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl01_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/nihaoCPP/p/3966286.html"&gt;你好，C++（7）第三部分 C++世界众生相 3.2.1 变量的定义与初始化&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: 第3部分C++世界众生相在听过了HelloWorld.exe的自我介绍，完成了与C++世界的第一次亲密接触后，大家是不是都急不可待地想要一试身手，开始编写C++程序了呢？程序的两大任务是描述数据和处理数据。那么，接下来我们将面临的第一个问题就是：如何在C++中描述数据？3.1 C...&lt;a href="http://www.cnblogs.com/nihaoCPP/p/3966286.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-09-12 08:38 你好，C++ 阅读(422) 评论(6)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3966286" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;

&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl02_ImageLink" href="http://www.cnblogs.com/nihaoCPP/archive/2014/09/09.html"&gt;2014年9月9日&lt;/a&gt;				  
	&lt;/div&gt;
	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl02_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/nihaoCPP/p/3961997.html"&gt;你好，C++（6）2.3  C++兵器谱&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: 2.3 C++兵器谱正所谓“工欲善其事，必先利其器”，而要想做好C++程序设计，自然也离不开几件像样的兵器。下面我们就来看看C++兵器谱上有哪些神兵利器值得我们学习掌握。排在兵器谱上首要位置的就是C++集成开发环境。所谓的集成开发环境（Integrated Development Environme...&lt;a href="http://www.cnblogs.com/nihaoCPP/p/3961997.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-09-09 08:01 你好，C++ 阅读(874) 评论(7)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3961997" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;

&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl03_ImageLink" href="http://www.cnblogs.com/nihaoCPP/archive/2014/09/04.html"&gt;2014年9月4日&lt;/a&gt;				  
	&lt;/div&gt;
	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl03_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/nihaoCPP/p/input-and-output-stream-in-cpp.html"&gt;你好，C++（5）如何输出数据到屏幕、从屏幕输入数据与读写文件？&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: 2.2 基本输入/输出流听过HelloWorld.exe的自我介绍之后，大家已经知道了一个C++程序的任务就是描述数据和处理数据。这两大任务的对象都是数据，可现在的问题是，数据不可能无中生有地产生，C++程序也不可能凭空创造出来数据。那么，C++程序中的数据又从何而来呢？在现实世界中，国与国之间的交...&lt;a href="http://www.cnblogs.com/nihaoCPP/p/input-and-output-stream-in-cpp.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-09-04 07:53 你好，C++ 阅读(599) 评论(6)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3955243" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;

&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl04_ImageLink" href="http://www.cnblogs.com/nihaoCPP/archive/2014/09/01.html"&gt;2014年9月1日&lt;/a&gt;				  
	&lt;/div&gt;
	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl04_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/nihaoCPP/p/3948513.html"&gt;你好，C++（4）2.1.3 我的父亲母亲：编译器和链接器 2.1.4 C++程序执行背后的故事&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: 在上面的例子中，我们看到一个C++程序的执行过程，是从main()函数开始逐条语句往下执行的。这个过程看起来非常简单，但在每条语句的背后，都还有着更多的故事。在Visual Studio调试模式下的反汇编视图（在调试模式下通过Alt+8快捷键打开）中，我们可以看到C++程序中的各条语句所对应的汇编代码。这下，程序中各条语句做了什么事情、各个功能是如何实现的，都一目了然了。HelloWorld程序虽然只是简单地输出一个字符串，但是当我们把这个程序拆解开，却可以发现它背后做了很多事情。&lt;a href="http://www.cnblogs.com/nihaoCPP/p/3948513.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-09-01 07:56 你好，C++ 阅读(637) 评论(9)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3948513" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;

&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl05_ImageLink" href="http://www.cnblogs.com/nihaoCPP/archive/2014/08/29.html"&gt;2014年8月29日&lt;/a&gt;				  
	&lt;/div&gt;
	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl05_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/nihaoCPP/p/3944067.html"&gt;你好，C++（3）2.1  一个C++程序的自白&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: &lt;img src="http://www.chenlq.net/wp-content/uploads/2014/08/ahead.png" class="desc_img"&gt;“大家好，欢迎来到奇妙的C++世界。我是C++世界的迎宾——一个最简单最普通的C++程序，我的名字叫“HelloWorld.exe”。我虽然简单而普通，但却几乎是这个世界上最著名的C++程序。每个来到C++世界的初学者与C++的第一次亲密接触都是通过我来完成的。大家在听我介绍之前，一定会觉得C++程序非常神秘，比如，C++程序是如何创建的？一个完整的C++程序由哪几部分构成？传说中的源文件到底是什么文件？C++程序是如何执行的？其实，我们C++程序一点都不神秘，跟大家一样，我们有自己的老爸老妈，有自己的五官四肢，也有自己的生命过程。什么？大家觉得不可思议？别着急，下面且听我一一道来……”&lt;a href="http://www.cnblogs.com/nihaoCPP/p/3944067.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-08-29 08:03 你好，C++ 阅读(849) 评论(8)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3944067" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;

&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl06_ImageLink" href="http://www.cnblogs.com/nihaoCPP/archive/2014/08/25.html"&gt;2014年8月25日&lt;/a&gt;				  
	&lt;/div&gt;
	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl06_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/nihaoCPP/p/3936026.html"&gt;你好，C++（2）1.3  C++世界版图1.4  如何学好C++&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: 1.3 C++世界版图C++语言的发展过程，不仅是一个特性不断增加、内容不断丰富的过程，更是一个在应用领域中不断攻城略地的过程。在其30余年的发展过程中，C++在多个应用领域都得到了广泛的应用和发展。无论是在最初的UNIX/Linux操作系统上，还是在Windows操作系统上，甚至是在最近兴起的嵌入...&lt;a href="http://www.cnblogs.com/nihaoCPP/p/3936026.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-08-25 22:23 你好，C++ 阅读(852) 评论(3)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3936026" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;

&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl07_ImageLink" href="http://www.cnblogs.com/nihaoCPP/archive/2014/08/20.html"&gt;2014年8月20日&lt;/a&gt;				  
	&lt;/div&gt;
	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl07_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/nihaoCPP/p/3925336.html"&gt;你好，C++（1）C++是什么？C++的“前世今生”&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: The world is built on C++.——Herb Sutterthe chairman of the ISO C++ standards committee and chief native languages architect at Microsoft 前传...&lt;a href="http://www.cnblogs.com/nihaoCPP/p/3925336.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-08-20 19:10 你好，C++ 阅读(274) 评论(7)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3925336" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;

&lt;div class="topicListFooter"&gt;&lt;a href="http://www.cnblogs.com/nihaoCPP/default.html?OnlyTitle=1"&gt;仅列出标题&lt;/a&gt;&amp;nbsp;&amp;nbsp;&lt;/div&gt;


	&lt;/div&gt;&lt;!--end: forFlow --&gt;
	&lt;/div&gt;&lt;!--end: mainContent 主体内容容器--&gt;

	&lt;div id="sideBar"&gt;
		&lt;div id="sideBarMain"&gt;
			
&lt;!--done--&gt;
&lt;div class="newsItem"&gt;
&lt;h3 class="catListTitle"&gt;公告&lt;/h3&gt;
	&lt;div id="blog-news"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;loadBlogNews();&lt;/script&gt;
&lt;/div&gt;

			&lt;div id="calendar"&gt;&lt;div id="blog-calendar" style="display:none"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;loadBlogDefaultCalendar();&lt;/script&gt;&lt;/div&gt;
			
			&lt;div id="leftcontentcontainer"&gt;
				&lt;div id="blog-sidecolumn"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;loadBlogSideColumn();&lt;/script&gt;
			&lt;/div&gt;
			
		&lt;/div&gt;&lt;!--end: sideBarMain --&gt;
	&lt;/div&gt;&lt;!--end: sideBar 侧边栏容器 --&gt;
	&lt;div class="clear"&gt;&lt;/div&gt;
	&lt;/div&gt;&lt;!--end: main --&gt;
	&lt;div class="clear"&gt;&lt;/div&gt;
	&lt;div id="footer"&gt;
		
&lt;!--done--&gt;
Copyright &amp;copy;2014 你好，C++
	&lt;/div&gt;&lt;!--end: footer --&gt;
&lt;/div&gt;&lt;!--end: home 自定义的最大容器 --&gt;
&lt;/body&gt;
&lt;/html&gt;
</Html>
	<HtmlMetas i:nil="true" />
	<HtmlTitle i:nil="true" />
	<IsDefault>false</IsDefault>
	<Layout i:nil="true" />
	<Name>-nihaoCPP-</Name>
	<OutputCache i:nil="true" />
	<PageContents xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
	<Plugins xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<Published>false</Published>
	<RequireHttps>false</RequireHttps>
	<Routes>
		<PageRoute>
			<Defaults xmlns:d4p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
			<Identifier>/nihaoCPP/</Identifier>
			<RoutePath i:nil="true" />
		</PageRoute>
	</Routes>
	<Scripts i:nil="true" />
	<Site>
		<AbsoluteName xmlns="Ovaldi.Core.Models">Cnblogs</AbsoluteName>
	</Site>
	<Styles i:nil="true" />
	<UUID>-nihaoCPP-</UUID>
</Page>