<?xml version="1.0" encoding="utf-8"?>
<Page xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Ovaldi.Core.Models">
	<AbsoluteName>-privacy-policy</AbsoluteName>
	<CustomFields xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<EnableScript>true</EnableScript>
	<EnableTheming>true</EnableTheming>
	<Html>&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
    &lt;meta charset="utf-8"&gt;
    &lt;title&gt;Privacy policy | kooboo.com&lt;/title&gt;
    
    &lt;link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700,800" rel="stylesheet"&gt;
    &lt;link rel="Stylesheet" href="/preview~kooboo/Styles/Kooboo-WebResource/Index/jQuery-Styles/20130227" type="text/css"&gt;
&lt;link type="text/css" rel="stylesheet" href="/preview~kooboo/Styles/Kooboo_COM_V4/Kooboo-Resource/theme/1_0_0_20131217100901/true/Default"&gt;
&lt;!--[if lte IE 8]&gt;&lt;link rel="stylesheet" type="text/css" href="/Cms_Data/Sites/Kooboo_COM_V4/Themes/Default/ie.css" /&gt;&lt;![endif]--&gt;

    &lt;!--[if lt IE 9]&gt;&lt;script src="/Cms_Data/Sites/Kooboo_COM_V4/Files/js/html5.js"&gt;&lt;/script&gt;&lt;![endif]--&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;div id="body-container"&gt;
        &lt;header id="header"&gt;
            &lt;div class="container"&gt;
                &lt;div class="top"&gt;
                    &lt;div class="global-width clearfix"&gt;
                        &lt;h1 class="logo"&gt;&lt;a href="/"&gt;
                            &lt;img src="/preview~kooboo/Images/Cms_Data/Sites/Kooboo_COM_V4/Files/image/logo.png" alt="Kooboo LOGO"&gt;&lt;/a&gt;&lt;/h1&gt;
                        &lt;nav class="nav"&gt;
                            

&lt;ul class="main"&gt;
               &lt;li class=''&gt;&lt;a class="icon home" href="/preview~kooboo/"&gt;&lt;span&gt;Home&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
               &lt;li class=''&gt;&lt;a href="/preview~kooboo/products/kooboo-cms" target=""&gt;Products&lt;/a&gt;&lt;/li&gt;
                 &lt;li class=''&gt;&lt;a href="/preview~kooboo/cases" target=""&gt;Cases&lt;/a&gt;&lt;/li&gt;
                &lt;li class=''&gt;&lt;a href="/preview~kooboo/docs/kooboo-cms/all" target=""&gt;Docs&lt;/a&gt;&lt;/li&gt;
                 &lt;li class=''&gt;&lt;a href="/preview~kooboo/updates" target=""&gt;Updates&lt;/a&gt;&lt;/li&gt;
                 &lt;li class=''&gt;&lt;a href="http://kooboo.codeplex.com" target="_blank"&gt;Download&lt;/a&gt;&lt;/li&gt;
                 &lt;li class=''&gt;&lt;a href="http://forum.kooboo.com" target=""&gt;Forum&lt;/a&gt;&lt;/li&gt;
                 &lt;li class=''&gt;&lt;a href="/preview~kooboo/contact" target=""&gt;Contact&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
                            &lt;ul class="quicklinks"&gt;
    &lt;li&gt;&lt;a class="button orange border" href="http://online.kooboo.com" target="_blank"&gt;Online demo&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;

                        &lt;/nav&gt;
                    &lt;/div&gt;
                    &lt;div class="shadow"&gt;&lt;/div&gt;
                &lt;/div&gt;
                &lt;div class="global-width clearfix"&gt;
                    &lt;h2 class="page-title"&gt;Privacy Policy&lt;/h2&gt;

                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/header&gt;
        &lt;div id="main-container" class="global-width clearfix"&gt;
            &lt;article class="block article"&gt;
                &lt;div class="content"&gt;
                    &lt;p&gt;&lt;!--[if gte mso 9]&gt;&lt;xml&gt;
 &lt;o:OfficeDocumentSettings&gt;
  &lt;o:AllowPNG&gt;&lt;/o:AllowPNG&gt;
 &lt;/o:OfficeDocumentSettings&gt;
&lt;/xml&gt;&lt;![endif]--&gt; &lt;!--[if gte mso 9]&gt;&lt;xml&gt;
 &lt;w:WordDocument&gt;
  &lt;w:View&gt;Normal&lt;/w:View&gt;
  &lt;w:Zoom&gt;0&lt;/w:Zoom&gt;
  &lt;w:TrackMoves&gt;&lt;/w:TrackMoves&gt;
  &lt;w:TrackFormatting&gt;&lt;/w:TrackFormatting&gt;
  &lt;w:PunctuationKerning&gt;&lt;/w:PunctuationKerning&gt;
  &lt;w:ValidateAgainstSchemas&gt;&lt;/w:ValidateAgainstSchemas&gt;
  &lt;w:SaveIfXMLInvalid&gt;false&lt;/w:SaveIfXMLInvalid&gt;
  &lt;w:IgnoreMixedContent&gt;false&lt;/w:IgnoreMixedContent&gt;
  &lt;w:AlwaysShowPlaceholderText&gt;false&lt;/w:AlwaysShowPlaceholderText&gt;
  &lt;w:DoNotPromoteQF&gt;&lt;/w:DoNotPromoteQF&gt;
  &lt;w:LidThemeOther&gt;EN-US&lt;/w:LidThemeOther&gt;
  &lt;w:LidThemeAsian&gt;JA&lt;/w:LidThemeAsian&gt;
  &lt;w:LidThemeComplexScript&gt;X-NONE&lt;/w:LidThemeComplexScript&gt;
  &lt;w:Compatibility&gt;
   &lt;w:BreakWrappedTables&gt;&lt;/w:BreakWrappedTables&gt;
   &lt;w:SnapToGridInCell&gt;&lt;/w:SnapToGridInCell&gt;
   &lt;w:WrapTextWithPunct&gt;&lt;/w:WrapTextWithPunct&gt;
   &lt;w:UseAsianBreakRules&gt;&lt;/w:UseAsianBreakRules&gt;
   &lt;w:DontGrowAutofit&gt;&lt;/w:DontGrowAutofit&gt;
   &lt;w:SplitPgBreakAndParaMark&gt;&lt;/w:SplitPgBreakAndParaMark&gt;
   &lt;w:EnableOpenTypeKerning&gt;&lt;/w:EnableOpenTypeKerning&gt;
   &lt;w:DontFlipMirrorIndents&gt;&lt;/w:DontFlipMirrorIndents&gt;
   &lt;w:OverrideTableStyleHps&gt;&lt;/w:OverrideTableStyleHps&gt;
   &lt;w:UseFELayout&gt;&lt;/w:UseFELayout&gt;
  &lt;/w:Compatibility&gt;
  &lt;m:mathPr&gt;
   &lt;m:mathFont m:val="Cambria Math"&gt;&lt;/m:mathFont&gt;
   &lt;m:brkBin m:val="before"&gt;&lt;/m:brkBin&gt;
   &lt;m:brkBinSub m:val="&amp;#45;-"&gt;&lt;/m:brkBinSub&gt;
   &lt;m:smallFrac m:val="off"&gt;&lt;/m:smallFrac&gt;
   &lt;m:dispDef&gt;&lt;/m:dispDef&gt;
   &lt;m:lMargin m:val="0"&gt;&lt;/m:lMargin&gt;
   &lt;m:rMargin m:val="0"&gt;&lt;/m:rMargin&gt;
   &lt;m:defJc m:val="centerGroup"&gt;&lt;/m:defJc&gt;
   &lt;m:wrapIndent m:val="1440"&gt;&lt;/m:wrapIndent&gt;
   &lt;m:intLim m:val="subSup"&gt;&lt;/m:intLim&gt;
   &lt;m:naryLim m:val="undOvr"&gt;&lt;/m:naryLim&gt;
  &lt;/m:mathPr&gt;&lt;/w:WordDocument&gt;
&lt;/xml&gt;&lt;![endif]--&gt;&lt;!--[if gte mso 9]&gt;&lt;xml&gt;
 &lt;w:LatentStyles DefLockedState="false" DefUnhideWhenUsed="true"
  DefSemiHidden="true" DefQFormat="false" DefPriority="99"
  LatentStyleCount="276"&gt;
  &lt;w:LsdException Locked="false" Priority="0" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Normal"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="9" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="heading 1"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 2"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 3"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 4"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 5"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 6"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 7"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 8"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 9"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="39" Name="toc 1"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="39" Name="toc 2"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="39" Name="toc 3"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="39" Name="toc 4"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="39" Name="toc 5"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="39" Name="toc 6"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="39" Name="toc 7"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="39" Name="toc 8"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="39" Name="toc 9"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="35" QFormat="true" Name="caption"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="10" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Title"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="1" Name="Default Paragraph Font"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="11" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Subtitle"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="22" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Strong"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="20" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Emphasis"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="59" SemiHidden="false"
   UnhideWhenUsed="false" Name="Table Grid"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" UnhideWhenUsed="false" Name="Placeholder Text"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="1" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="No Spacing"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="60" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Shading"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="61" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light List"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="62" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Grid"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="63" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 1"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="64" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 2"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="65" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 1"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="66" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 2"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="67" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 1"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="68" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 2"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="69" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 3"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="70" SemiHidden="false"
   UnhideWhenUsed="false" Name="Dark List"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="71" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Shading"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="72" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful List"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="73" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Grid"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="60" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Shading Accent 1"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="61" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light List Accent 1"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="62" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Grid Accent 1"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="63" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 1 Accent 1"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="64" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 2 Accent 1"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="65" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 1 Accent 1"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" UnhideWhenUsed="false" Name="Revision"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="34" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="List Paragraph"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="29" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Quote"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="30" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Intense Quote"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="66" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 2 Accent 1"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="67" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 1 Accent 1"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="68" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 2 Accent 1"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="69" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 3 Accent 1"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="70" SemiHidden="false"
   UnhideWhenUsed="false" Name="Dark List Accent 1"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="71" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Shading Accent 1"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="72" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful List Accent 1"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="73" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Grid Accent 1"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="60" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Shading Accent 2"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="61" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light List Accent 2"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="62" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Grid Accent 2"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="63" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 1 Accent 2"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="64" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 2 Accent 2"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="65" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 1 Accent 2"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="66" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 2 Accent 2"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="67" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 1 Accent 2"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="68" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 2 Accent 2"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="69" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 3 Accent 2"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="70" SemiHidden="false"
   UnhideWhenUsed="false" Name="Dark List Accent 2"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="71" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Shading Accent 2"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="72" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful List Accent 2"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="73" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Grid Accent 2"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="60" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Shading Accent 3"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="61" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light List Accent 3"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="62" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Grid Accent 3"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="63" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 1 Accent 3"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="64" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 2 Accent 3"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="65" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 1 Accent 3"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="66" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 2 Accent 3"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="67" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 1 Accent 3"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="68" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 2 Accent 3"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="69" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 3 Accent 3"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="70" SemiHidden="false"
   UnhideWhenUsed="false" Name="Dark List Accent 3"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="71" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Shading Accent 3"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="72" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful List Accent 3"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="73" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Grid Accent 3"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="60" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Shading Accent 4"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="61" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light List Accent 4"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="62" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Grid Accent 4"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="63" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 1 Accent 4"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="64" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 2 Accent 4"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="65" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 1 Accent 4"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="66" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 2 Accent 4"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="67" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 1 Accent 4"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="68" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 2 Accent 4"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="69" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 3 Accent 4"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="70" SemiHidden="false"
   UnhideWhenUsed="false" Name="Dark List Accent 4"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="71" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Shading Accent 4"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="72" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful List Accent 4"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="73" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Grid Accent 4"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="60" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Shading Accent 5"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="61" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light List Accent 5"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="62" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Grid Accent 5"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="63" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 1 Accent 5"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="64" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 2 Accent 5"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="65" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 1 Accent 5"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="66" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 2 Accent 5"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="67" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 1 Accent 5"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="68" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 2 Accent 5"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="69" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 3 Accent 5"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="70" SemiHidden="false"
   UnhideWhenUsed="false" Name="Dark List Accent 5"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="71" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Shading Accent 5"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="72" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful List Accent 5"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="73" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Grid Accent 5"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="60" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Shading Accent 6"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="61" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light List Accent 6"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="62" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Grid Accent 6"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="63" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 1 Accent 6"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="64" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 2 Accent 6"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="65" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 1 Accent 6"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="66" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 2 Accent 6"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="67" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 1 Accent 6"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="68" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 2 Accent 6"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="69" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 3 Accent 6"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="70" SemiHidden="false"
   UnhideWhenUsed="false" Name="Dark List Accent 6"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="71" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Shading Accent 6"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="72" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful List Accent 6"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="73" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Grid Accent 6"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="19" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Subtle Emphasis"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="21" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Intense Emphasis"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="31" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Subtle Reference"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="32" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Intense Reference"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="33" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Book Title"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="37" Name="Bibliography"&gt;&lt;/w:LsdException&gt;
  &lt;w:LsdException Locked="false" Priority="39" QFormat="true" Name="TOC Heading"&gt;&lt;/w:LsdException&gt;
 &lt;/w:LatentStyles&gt;
&lt;/xml&gt;&lt;![endif]--&gt; &lt;!--[if gte mso 10]&gt;
&lt;style&gt;
 /* Style Definitions */
table.MsoNormalTable
	{mso-style-name:"Table Normal";
	mso-tstyle-rowband-size:0;
	mso-tstyle-colband-size:0;
	mso-style-noshow:yes;
	mso-style-priority:99;
	mso-style-parent:"";
	mso-padding-alt:0in 5.4pt 0in 5.4pt;
	mso-para-margin:0in;
	mso-para-margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:12.0pt;
	font-family:Cambria;
	mso-ascii-font-family:Cambria;
	mso-ascii-theme-font:minor-latin;
	mso-hansi-font-family:Cambria;
	mso-hansi-theme-font:minor-latin;}
&lt;/style&gt;
&lt;![endif]--&gt; &lt;!--StartFragment--&gt;&lt;/p&gt;
&lt;p class="MsoNormal"&gt;&lt;span face="Arial" size="2" style="font-family: Arial; font-size: small;"&gt;Effective Date: September 2012&lt;/span&gt;&lt;/p&gt;
&lt;p class="MsoNormal"&gt;&lt;span face="Arial" size="2" style="font-family: Arial; font-size: small;"&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="letter-spacing: 0.0px;"&gt;This privacy policy covers Kooboo's treatment of personally identifiable information that we collect when you are browsing our sites or installing our software. This policy also applies to Kooboo's treatment of any personally identifiable information that is provided by business partners and associates of Kooboo. This policy does not apply to the practices of companies that Kooboo does not own or control, or to companies that Kooboo is unassociated with.&lt;br&gt;&lt;/span&gt;&lt;/p&gt;
&lt;p style="line-height: normal; font-family: Helvetica;"&gt;
&lt;p&gt;&lt;b&gt;Information Collection and Use&lt;/b&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="letter-spacing: 0.0px;"&gt;Kooboo collects personal information when you register to use our online services or buy products from Yardi.&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="letter-spacing: 0.0px;"&gt;Upon registration at Kooboo, you will be asked to provide information such as your first name, last name and email address.&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="letter-spacing: 0.0px;"&gt;When posting at our forums, Kooboo may collect information about the IP address of your computer.&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="letter-spacing: 0.0px;"&gt;Kooboo will not collect any personally identifying information when you are installing or using Kooboo software.&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="letter-spacing: 0.0px;"&gt;Kooboo may use this information to analyze our user's behavior and to offer better content for our customer's benefit.&lt;br&gt;&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;
&lt;p&gt;&lt;b&gt;Information Sharing and Disclosure&lt;/b&gt;&lt;/p&gt;
&lt;p&gt;Kooboo will not sell or rent your personal information to anyone, except in the case that:&lt;/p&gt;
&lt;p&gt;We have your consent to share the information.&lt;/p&gt;
&lt;p&gt;We need to share your information to provide the product or service you have requested.&lt;/p&gt;
&lt;p&gt;We need to send the information to companies who work on behalf of Kooboo to provide a product or service you have requested.&lt;/p&gt;
&lt;p&gt;We are required to respond to subpoenas, court orders, or legal processes.&lt;br&gt;&lt;br&gt;&lt;/p&gt;
&lt;p&gt;&lt;b&gt;Cookies&lt;/b&gt;&lt;/p&gt;
&lt;p&gt;We may set and access cookies on your computer.&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;p&gt;&lt;span face="Arial" size="2" style="font-family: Arial; font-size: small;"&gt;&lt;b&gt;Contact us&lt;/b&gt;&lt;o:p&gt;&lt;/o:p&gt;&lt;/span&gt;&lt;/p&gt;
&lt;p class="MsoNormal"&gt;&lt;span face="Arial" size="2" style="font-family: Arial; font-size: small;"&gt;Kooboo, LLC&lt;o:p&gt;&lt;/o:p&gt;&lt;/span&gt;&lt;/p&gt;
&lt;p class="MsoNormal"&gt;&lt;span face="Arial" size="2" style="font-family: Arial; font-size: small;"&gt;340 S. Lemon Ave #2295&lt;o:p&gt;&lt;/o:p&gt;&lt;/span&gt;&lt;/p&gt;
&lt;p class="MsoNormal"&gt;&lt;span face="Arial" style="font-family: Arial;"&gt;&lt;span size="2" style="font-size: small;"&gt;Walnut, CA 91789 USA&lt;/span&gt;&lt;/span&gt;&lt;span face="Garamond" style="font-family: Garamond;"&gt;&lt;o:p&gt;&lt;/o:p&gt;&lt;/span&gt;&lt;/p&gt;
&lt;!--EndFragment--&gt;
&lt;p&gt;
&lt;p&gt;
                &lt;/div&gt;
            &lt;/article&gt;
        &lt;/div&gt;
        &lt;footer id="footer"&gt;
            &lt;div class="global-width clearfix"&gt;
    &lt;div class="columns clearfix"&gt;
        &lt;div class="span5"&gt;
            &lt;div class="block about"&gt;
                &lt;h6 class="title"&gt;About&lt;/h6&gt;
                &lt;div class="content"&gt;&lt;p&gt;Kooboo is an international web development firm with its core development team based in China.&amp;nbsp; Kooboo contains products and practices to meet all your web development needs, allowing you complete freedom in development.&amp;nbsp; Kooboo comprises Kooboo products (Design tools, CMS, Ecommerce, and Newsletters), Kooboo people, Kooboo service, and Kooboo network.&lt;/p&gt;&lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="span3"&gt;
            &lt;div class="block links"&gt;
                &lt;h6 class="title"&gt;Links&lt;/h6&gt;
                &lt;ul&gt;
                    &lt;li&gt;&lt;a href=""&gt;Home&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a href="/preview~kooboo/licensefaq"&gt;License&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a href="http://forum.kooboo.com" target="_blank"&gt;Community Forum&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a href="/preview~kooboo/privacy-policy"&gt;Privacy Policy&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a href="/preview~kooboo/service"&gt;Service&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a href="/preview~kooboo/partner"&gt;Partner Network&lt;/a&gt;&lt;/li&gt;
                &lt;/ul&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="span4"&gt;
            &lt;div class="block updates"&gt;
    &lt;h6 class="title"&gt;Updates&lt;/h6&gt;
    &lt;ul&gt;
            &lt;li&gt;
                &lt;a href="/preview~kooboo/updates/detail/dutch-consulate-general-visits-kooboo-office" target=""&gt;Dutch Consulate General visits Kooboo office&lt;/a&gt;
                &lt;span class="date"&gt;December 10, 2013&lt;/span&gt;
            &lt;/li&gt;
            &lt;li&gt;
                &lt;a href="/preview~kooboo/updates/detail/kooboo-developers-to-sweden" target=""&gt;Kooboo developers to Sweden&lt;/a&gt;
                &lt;span class="date"&gt;May 5, 2013&lt;/span&gt;
            &lt;/li&gt;
            &lt;li&gt;
                &lt;a href="/preview~kooboo/updates/detail/kooboo-show-case-from-rb2-partner" target=""&gt;Kooboo showcase from rb2 partner&lt;/a&gt;
                &lt;span class="date"&gt;February 23, 2013&lt;/span&gt;
            &lt;/li&gt;
    &lt;/ul&gt;
&lt;/div&gt;

        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;div class="bottom"&gt;
    &lt;div class="global-width clearfix"&gt;
        &lt;p class="copyright"&gt;&amp;copy;Copyright 2009 - 2014 &lt;a href="/preview~kooboo/"&gt;Kooboo team&lt;/a&gt; All Rights Reserved.&lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;

        &lt;/footer&gt;
    &lt;/div&gt;
    &lt;script src="/preview~kooboo/Scripts/Kooboo-WebResource/Index/jQuery/20130227" type="text/javascript"&gt;&lt;/script&gt;
&lt;script type="text/javascript" src="/preview~kooboo/Scripts/Kooboo_COM_V4/Kooboo-Resource/scripts/1_0_0_20131217100901/True"&gt;&lt;/script&gt;

&lt;/body&gt;
&lt;/html&gt;
</Html>
	<HtmlMetas i:nil="true" />
	<HtmlTitle i:nil="true" />
	<IsDefault>false</IsDefault>
	<Layout i:nil="true" />
	<Name>-privacy-policy</Name>
	<OutputCache i:nil="true" />
	<PageContents xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
	<Plugins xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<Published>false</Published>
	<RequireHttps>false</RequireHttps>
	<Routes>
		<PageRoute>
			<Defaults xmlns:d4p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
			<Identifier>/privacy-policy</Identifier>
			<RoutePath i:nil="true" />
		</PageRoute>
	</Routes>
	<Scripts i:nil="true" />
	<Site>
		<AbsoluteName xmlns="Ovaldi.Core.Models">kooboo</AbsoluteName>
	</Site>
	<Styles i:nil="true" />
	<UUID>-privacy-policy</UUID>
</Page>