<?xml version="1.0" encoding="utf-8"?>
<Page xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Ovaldi.Core.Models">
	<AbsoluteName>-updates-Detail-Kooboo-show-case-from-rb2-partner</AbsoluteName>
	<CustomFields xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<EnableScript>true</EnableScript>
	<EnableTheming>true</EnableTheming>
	<Html>&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
    &lt;meta charset="utf-8"&gt;
    &lt;title&gt;Kooboo showcase from rb2 partner | Kooboo updates | kooboo.com&lt;/title&gt;
    
    &lt;link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700,800" rel="stylesheet"&gt;
    &lt;link rel="Stylesheet" href="/preview~kooboo/Styles/Kooboo-WebResource/Index/jQuery-Styles/20130227" type="text/css"&gt;
&lt;link type="text/css" rel="stylesheet" href="/preview~kooboo/Styles/Kooboo_COM_V4/Kooboo-Resource/theme/1_0_0_20131217100901/true/Default"&gt;
&lt;!--[if lte IE 8]&gt;&lt;link rel="stylesheet" type="text/css" href="/Cms_Data/Sites/Kooboo_COM_V4/Themes/Default/ie.css" /&gt;&lt;![endif]--&gt;

    &lt;!--[if lt IE 9]&gt;&lt;script src="/Cms_Data/Sites/Kooboo_COM_V4/Files/js/html5.js"&gt;&lt;/script&gt;&lt;![endif]--&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;div id="body-container"&gt;
        &lt;header id="header"&gt;
            &lt;div class="container"&gt;
                &lt;div class="top"&gt;
                    &lt;div class="global-width clearfix"&gt;
                        &lt;h1 class="logo"&gt;&lt;a href="/"&gt;
                            &lt;img src="/preview~kooboo/Images/Cms_Data/Sites/Kooboo_COM_V4/Files/image/logo.png" alt="Kooboo LOGO"&gt;&lt;/a&gt;&lt;/h1&gt;
                        &lt;nav class="nav"&gt;
                            

&lt;ul class="main"&gt;
               &lt;li class=''&gt;&lt;a class="icon home" href="/preview~kooboo/"&gt;&lt;span&gt;Home&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
               &lt;li class=''&gt;&lt;a href="/preview~kooboo/products/kooboo-cms" target=""&gt;Products&lt;/a&gt;&lt;/li&gt;
                 &lt;li class=''&gt;&lt;a href="/preview~kooboo/cases" target=""&gt;Cases&lt;/a&gt;&lt;/li&gt;
                &lt;li class=''&gt;&lt;a href="/preview~kooboo/docs/kooboo-cms/all" target=""&gt;Docs&lt;/a&gt;&lt;/li&gt;
                 &lt;li class='active'&gt;&lt;a href="/preview~kooboo/updates" target=""&gt;Updates&lt;/a&gt;&lt;/li&gt;
                 &lt;li class=''&gt;&lt;a href="http://kooboo.codeplex.com" target="_blank"&gt;Download&lt;/a&gt;&lt;/li&gt;
                 &lt;li class=''&gt;&lt;a href="http://forum.kooboo.com" target=""&gt;Forum&lt;/a&gt;&lt;/li&gt;
                 &lt;li class=''&gt;&lt;a href="/preview~kooboo/contact" target=""&gt;Contact&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
                            &lt;ul class="quicklinks"&gt;
    &lt;li&gt;&lt;a class="button orange border" href="http://online.kooboo.com" target="_blank"&gt;Online demo&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;

                        &lt;/nav&gt;
                    &lt;/div&gt;
                    &lt;div class="shadow"&gt;&lt;/div&gt;
                &lt;/div&gt;
                &lt;div class="global-width clearfix"&gt;
                    &lt;h2 class="page-title"&gt;Updates&lt;/h2&gt;

                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/header&gt;
        &lt;div id="main-container"&gt;
            
            &lt;div class="global-width clearfix"&gt;
                
                &lt;div id="main" class="left"&gt;
                    &lt;article class="block article"&gt;
    &lt;header&gt;
        &lt;h3 class="title"&gt;Kooboo showcase from rb2 partner&lt;/h3&gt;
        &lt;span class="date"&gt;Posted on February 23, 2013&lt;/span&gt;
    &lt;/header&gt;
    &lt;div class="content"&gt;
        &lt;p&gt;Kooboo is used by thousands of multinational companies. One of our implementation&amp;nbsp;partners in Holland provides a show case with the implementation and recomendations from a few pupular brands in Europe.&amp;nbsp;&lt;/p&gt;
&lt;p&gt;Partner URL: &lt;a href="http://www.rb2.nl"&gt;http://www.rb2.nl&lt;br&gt;&lt;br&gt;&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;
&lt;h3&gt;Show case download link: &amp;nbsp;&lt;a href="/preview~kooboo/Cms_Data/Contents/Kooboo_COM_V4/Media/Blog%20Pictures/Kooboo_show_case.pdf"&gt;Kooboo_show_case.pdf&lt;br&gt;&lt;br&gt;&lt;/a&gt;&lt;/h3&gt;
&lt;p&gt;RB2 provides more show cases on their website with some international companies, most of the websites there are implemented in Kooboo CMS.&amp;nbsp;&lt;br&gt;&lt;b&gt;Find them at:&amp;nbsp;&lt;a href="http://www.rb2.nl/voor-wie-werken-wij" target="_blank"&gt;http://www.rb2.nl/voor-wie-werken-wij&lt;/a&gt;&lt;/b&gt;&lt;br&gt;&lt;br&gt;Some of the reasons that our clients choose Kooboo CMS are listed below:&lt;/p&gt;
&lt;p&gt;
&lt;h3&gt;&lt;br&gt;1, WYSIWYG inline editor&lt;/h3&gt;
&lt;p&gt;Kooboo features a simple user interface to manage and present content. With the use of our inline editor, the user can quickly and directly edit content from the web page and have its results appear immediately. Thus, even those with absolutely no HTML knowledge will still have the ability to create and manage web content. This function can be used for both static and dynamic content.&lt;/p&gt;
&lt;p&gt;
&lt;p&gt;
&lt;h3&gt;&lt;br&gt;2, Modern technology&lt;/h3&gt;
&lt;p&gt;Kooboo is built on the cutting edge Microsoft .NET MVC4. This is the most modern framework of Microsoft. The system is based on MVC and achieves the perfect balance between content, business rules and layout. Kooboo also supports Non-SQL databases and is optimized for performance, which make it ideal for high traffic sites.&lt;/p&gt;
&lt;p&gt;
&lt;p&gt;
&lt;h3&gt;&lt;br&gt;3, Open source&lt;/h3&gt;
&lt;p&gt;Kooboo is built on open source. This means that our code is public and that any developer can customize and enjoy Kooboo CMS.&lt;/p&gt;
&lt;p&gt;
&lt;p&gt;
&lt;h3&gt;&lt;br&gt;4, Page &amp;amp; content driven CMS&lt;/h3&gt;
&lt;p&gt;Pages within the Kooboo CMS can be created in several ways. You can choose to either use actual web pages (page driven) or generate pages dynamically from the content database (content driven). A combination of these is also possible. This makes Kooboo powerful enough to handle sites with both small amounts and &amp;nbsp;large amounts of content.&lt;/p&gt;
&lt;p&gt;
&lt;p&gt;
&lt;h3&gt;&lt;br&gt;5, SEO &amp;amp; tracking proof&lt;/h3&gt;
&lt;p&gt;Kooboo is fully compliant to the latest web standards. This means that you have the perfect basis for SEO proofing websites. Kooboo provides support for a clear HTML tag structure (H1, H2) and generates search engine-friendly URL structures. Users can also easily implement Google analytics or other tracking codes.&lt;/p&gt;
&lt;p&gt;
&lt;h3&gt;&lt;br&gt;6, Multiple sites within a CMS&lt;/h3&gt;
&lt;p&gt;Kooboo CMS provide you with the capability of managing multiple sites within your CMS. This enables you to create independent sites, but also sites that have content, pages and modules to share with one another (Kooboo offers many possibilitiesto share data for every purpose).&lt;/p&gt;
&lt;p&gt;
&lt;p&gt;
&lt;h3&gt;&lt;br&gt;7, Multilingual&lt;/h3&gt;
&lt;p&gt;Kooboo is ideal for websites requiring multiple languages. For each language, a separate application program can be written or inherited. Furthermore, within each application (language / country) content can easily be extracted from other languages.&lt;/p&gt;
&lt;p&gt;
&lt;p&gt;
&lt;h3&gt;&lt;br&gt;8, Multi-channeling&lt;/h3&gt;
&lt;p&gt;Within the CMS is a fine separation between the layer where developers can adapt their code and the front end of a websites where content managers work. This allows the same content source to be easily deployed on multiple channels such as mobile / tablet, XML and APIs.&lt;/p&gt;
&lt;p&gt;
&lt;p&gt;
&lt;h3&gt;&lt;br&gt;9, Revision and versioning&lt;/h3&gt;
&lt;p&gt;Kooboo CMS has a sophisticated versioning feature that will allow you to view and roll back a page or content to earlier versions. Thus, a content archive of your entire CMS is automatically maintained for you. With Kooboo, it&amp;rsquo;s dead simple to keep track of site changes.&lt;/p&gt;
&lt;p&gt;
&lt;p&gt;
&lt;h3&gt;&lt;br&gt;10, Widgets&lt;/h3&gt;
&lt;p&gt;In Kooboo, it is easy to deploy and manage widgets. Thus, content on multiple sites can be deployed in one place. Widgets can also be craeted with static and dynamic content such as data found on web pages and database content.&lt;/p&gt;
&lt;p&gt;
&lt;p&gt;
&lt;h3&gt;&lt;br&gt;11, Workflow management&lt;/h3&gt;
&lt;p&gt;Kooboo is equipped with a natural workflow management application. This means that a user can edit content while another user approves and publishes content.&lt;/p&gt;
&lt;p&gt;
&lt;p&gt;
&lt;h3&gt;&lt;br&gt;12, Rapid development&lt;/h3&gt;
&lt;p&gt;With Kooboo, developers can quickly create a professional looking website with good architecture. The practice shows that developers using Kooboo CMS on average spend 30% less time to develop websites when compared to other CMSs. This obviously results in considerable savings.&lt;/p&gt;
&lt;p&gt;
&lt;p&gt;
&lt;h3&gt;&lt;br&gt;13, Cloud ready&lt;/h3&gt;
&lt;p&gt;Kooboo is fully compatible with Microsoft Azure cloud. This enables Kooboo CMS to support sites with the performance to serve millions of visitors. The beauty of cloud technology is that you can assign more resources while scaling up your application as needed.&lt;/p&gt;
&lt;p&gt;
&lt;p&gt;
&lt;h3&gt;&lt;br&gt;14, Plugins and Modules&lt;/h3&gt;
&lt;p&gt;It&amp;rsquo;s very easy to customize the CMS by including new plug-ins and modules. For example, Kooboo&amp;rsquo;s form generators module allows content managers to easily build forms from scratch. developing a Kooboo CMS modules is almost the same as developing a regular ASP.NET MVC website.&lt;/p&gt;
&lt;p&gt;
&lt;p&gt;
&lt;h3&gt;&lt;br&gt;15, Low learning curve&lt;/h3&gt;
&lt;p&gt;Developing websites in Kooboo CMS is very similar as developing websites with standard web design tools. Kooboo CMS takes care of all the hard works like SEO, security and deployment, at the same time, give you any freedom you need in developing websites. You can even develop websites in other tools and import into Kooboo CMS&lt;/p&gt;
&lt;p&gt;
    &lt;/div&gt;
    &lt;a class="back" href="/preview~kooboo/updates" target=""&gt;Back&lt;/a&gt;
&lt;/article&gt;


                &lt;/div&gt;
                &lt;aside id="sidebar" class="right"&gt;
                    &lt;div class="block text"&gt;
    &lt;h6 class="title"&gt;You're currently reading&lt;/h6&gt;
    &lt;div class="content"&gt;
        &lt;div class="content"&gt;&lt;/div&gt;
        &lt;p&gt;These are the official updates from the Kooboo Team. If you have any comments, please don't hesitate to leave us a message through our contact page. We are happy to post your feedback in future blogs.&lt;/p&gt;
    &lt;/div&gt;
    &lt;a class="back" href="/preview~kooboo/updates" target=""&gt;Back&lt;/a&gt;
&lt;/div&gt;

                &lt;/aside&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;footer id="footer"&gt;
            
            &lt;div class="global-width clearfix"&gt;
    &lt;div class="columns clearfix"&gt;
        &lt;div class="span5"&gt;
            &lt;div class="block about"&gt;
                &lt;h6 class="title"&gt;About&lt;/h6&gt;
                &lt;div class="content"&gt;&lt;p&gt;Kooboo is an international web development firm with its core development team based in China.&amp;nbsp; Kooboo contains products and practices to meet all your web development needs, allowing you complete freedom in development.&amp;nbsp; Kooboo comprises Kooboo products (Design tools, CMS, Ecommerce, and Newsletters), Kooboo people, Kooboo service, and Kooboo network.&lt;/p&gt;&lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="span3"&gt;
            &lt;div class="block links"&gt;
                &lt;h6 class="title"&gt;Links&lt;/h6&gt;
                &lt;ul&gt;
                    &lt;li&gt;&lt;a href=""&gt;Home&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a href="/preview~kooboo/licensefaq"&gt;License&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a href="http://forum.kooboo.com" target="_blank"&gt;Community Forum&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a href="/preview~kooboo/privacy-policy"&gt;Privacy Policy&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a href="/preview~kooboo/service"&gt;Service&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a href="/preview~kooboo/partner"&gt;Partner Network&lt;/a&gt;&lt;/li&gt;
                &lt;/ul&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="span4"&gt;
            &lt;div class="block updates"&gt;
    &lt;h6 class="title"&gt;Updates&lt;/h6&gt;
    &lt;ul&gt;
            &lt;li&gt;
                &lt;a href="/preview~kooboo/updates/detail/dutch-consulate-general-visits-kooboo-office" target=""&gt;Dutch Consulate General visits Kooboo office&lt;/a&gt;
                &lt;span class="date"&gt;December 10, 2013&lt;/span&gt;
            &lt;/li&gt;
            &lt;li&gt;
                &lt;a href="/preview~kooboo/updates/detail/kooboo-developers-to-sweden" target=""&gt;Kooboo developers to Sweden&lt;/a&gt;
                &lt;span class="date"&gt;May 5, 2013&lt;/span&gt;
            &lt;/li&gt;
            &lt;li&gt;
                &lt;a href="/preview~kooboo/updates/detail/kooboo-show-case-from-rb2-partner" target=""&gt;Kooboo showcase from rb2 partner&lt;/a&gt;
                &lt;span class="date"&gt;February 23, 2013&lt;/span&gt;
            &lt;/li&gt;
    &lt;/ul&gt;
&lt;/div&gt;

        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;div class="bottom"&gt;
    &lt;div class="global-width clearfix"&gt;
        &lt;p class="copyright"&gt;&amp;copy;Copyright 2009 - 2014 &lt;a href="/preview~kooboo/"&gt;Kooboo team&lt;/a&gt; All Rights Reserved.&lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;

        &lt;/footer&gt;
    &lt;/div&gt;
    &lt;script src="/preview~kooboo/Scripts/Kooboo-WebResource/Index/jQuery/20130227" type="text/javascript"&gt;&lt;/script&gt;
&lt;script type="text/javascript" src="/preview~kooboo/Scripts/Kooboo_COM_V4/Kooboo-Resource/scripts/1_0_0_20131217100901/True"&gt;&lt;/script&gt;

&lt;/body&gt;
&lt;/html&gt;
</Html>
	<HtmlMetas i:nil="true" />
	<HtmlTitle i:nil="true" />
	<IsDefault>false</IsDefault>
	<Layout i:nil="true" />
	<Name>-updates-Detail-Kooboo-show-case-from-rb2-partner</Name>
	<OutputCache i:nil="true" />
	<PageContents xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
	<Plugins xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<Published>false</Published>
	<RequireHttps>false</RequireHttps>
	<Routes>
		<PageRoute>
			<Defaults xmlns:d4p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
			<Identifier>/updates/Detail/Kooboo-show-case-from-rb2-partner</Identifier>
			<RoutePath i:nil="true" />
		</PageRoute>
	</Routes>
	<Scripts i:nil="true" />
	<Site>
		<AbsoluteName xmlns="Ovaldi.Core.Models">kooboo</AbsoluteName>
	</Site>
	<Styles i:nil="true" />
	<UUID>-updates-Detail-Kooboo-show-case-from-rb2-partner</UUID>
</Page>