<?xml version="1.0" encoding="utf-8"?>
<Page xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Ovaldi.Core.Models">
	<AbsoluteName>-zhouhongyu1989-p-3963748.html</AbsoluteName>
	<CustomFields xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<EnableScript>true</EnableScript>
	<EnableTheming>true</EnableTheming>
	<Html>&lt;!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"&gt;
&lt;html xmlns="http://www.w3.org/1999/xhtml" lang="zh-cn"&gt;
&lt;head&gt;
&lt;meta http-equiv="Content-Type" content="text/html; charset=utf-8"&gt;
&lt;title&gt;jQuery 自制上传头像插件-附带Demo实例（ajaxfileupload.js第三弹） - 我不会抽烟Oscar - 博客园&lt;/title&gt;
&lt;link type="text/css" rel="stylesheet" href="/preview~Cnblogs/Styles/bundles/blog-common.css"&gt;
&lt;link id="MainCss" type="text/css" rel="stylesheet" href="/preview~Cnblogs/Styles/skins/arrow/bundle-arrow.css"&gt;
&lt;link title="RSS" type="application/rss+xml" rel="alternate" href="http://www.cnblogs.com/zhouhongyu1989/rss"&gt;
&lt;link title="RSD" type="application/rsd+xml" rel="EditURI" href="http://www.cnblogs.com/zhouhongyu1989/rsd.xml"&gt;
&lt;link type="application/wlwmanifest+xml" rel="wlwmanifest" href="http://www.cnblogs.com/zhouhongyu1989/wlwmanifest.xml"&gt;
&lt;script src="http://common.cnblogs.com/script/jquery.js" type="text/javascript"&gt;&lt;/script&gt;  
&lt;script type="text/javascript"&gt;var currentBlogApp = 'zhouhongyu1989', cb_enable_mathjax=true;&lt;/script&gt;
&lt;script src="/preview~Cnblogs/Scripts/bundles/blog-common.js" type="text/javascript"&gt;&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;a name="top"&gt;&lt;/a&gt;

&lt;!--done--&gt;
&lt;div id="header"&gt;
	
&lt;!--done--&gt;
&lt;div class="header"&gt;
	&lt;div class="headerText"&gt;
		&lt;a id="Header1_HeaderTitle" class="headermaintitle" href="http://www.cnblogs.com/zhouhongyu1989/"&gt;我不会抽烟Oscar&lt;/a&gt;&lt;br&gt;
		
	&lt;/div&gt;
&lt;/div&gt;

&lt;/div&gt;
&lt;div id="mylinks"&gt;
&lt;!--done--&gt;
&lt;a id="MyLinks1_HomeLink" class="menu" href="http://www.cnblogs.com/"&gt;博客园&lt;/a&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;
&lt;a id="MyLinks1_MyHomeLink" class="menu" href="http://www.cnblogs.com/zhouhongyu1989/"&gt;首页&lt;/a&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;
&lt;a id="MyLinks1_NewPostLink" class="menu" rel="nofollow" href="http://i.cnblogs.com/EditPosts.aspx?opt=1"&gt;新随笔&lt;/a&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;
&lt;a id="MyLinks1_ContactLink" accesskey="9" class="menu" rel="nofollow" href="http://space.cnblogs.com/msg/send/%e6%88%91%e4%b8%8d%e4%bc%9a%e6%8a%bd%e7%83%9fOscar"&gt;联系&lt;/a&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;
&lt;a id="MyLinks1_Syndication" class="menu" href="http://www.cnblogs.com/zhouhongyu1989/rss"&gt;订阅&lt;/a&gt;&lt;a id="MyLinks1_XMLLink" href="http://www.cnblogs.com/zhouhongyu1989/rss"&gt;&lt;img src="/preview~Cnblogs/Images/images/xml.gif" alt="订阅"&gt;&lt;/a&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;
&lt;a id="MyLinks1_Admin" class="menu" rel="nofollow" href="http://i.cnblogs.com/"&gt;管理&lt;/a&gt;
&lt;/div&gt;
&lt;div id="mytopmenu"&gt;
	
		
&lt;div class="blogStats"&gt;随笔 - 18&amp;nbsp;
文章 - 0&amp;nbsp;评论 - 118&amp;nbsp;trackbacks - 0
&lt;/div&gt;
	
&lt;/div&gt;
&lt;div id="leftcontent"&gt;
	
		&lt;div id="leftcontentcontainer"&gt;
			&lt;div id="blog-calendar" style="display:none"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;loadBlogDefaultCalendar();&lt;/script&gt;&lt;br&gt;
			
&lt;!--done--&gt;
&lt;div class="newsItem"&gt;
	&lt;div id="blog-news"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;loadBlogNews();&lt;/script&gt;
&lt;/div&gt;

			&lt;div id="blog-sidecolumn"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;loadBlogSideColumn();&lt;/script&gt;&lt;/div&gt;		
	
&lt;/div&gt;
&lt;div id="centercontent"&gt;
	

&lt;!--done--&gt;
&lt;div class="post"&gt;
	&lt;div class="postTitle"&gt;
		&lt;h1&gt;&lt;a id="cb_post_title_url" class="postTitle2" href="http://www.cnblogs.com/zhouhongyu1989/p/3963748.html"&gt;jQuery 自制上传头像插件-附带Demo实例（ajaxfileupload.js第三弹）&lt;/a&gt;&lt;/h1&gt;
	&lt;/div&gt;
	&lt;div id="cnblogs_post_body"&gt;&lt;p&gt;这篇文章主要是对前两篇关于ajaxfileupload.js插件的文章&lt;/p&gt;
&lt;p&gt;《&lt;a href="http://www.cnblogs.com/zhouhongyu1989/p/3957856.html"&gt;ASP.NET 使用ajaxfileupload.js插件出现上传较大文件失败的解决方法（ajaxfileupload.js第一弹）&lt;/a&gt;》&lt;/p&gt;
&lt;p&gt;《&lt;a href="http://www.cnblogs.com/zhouhongyu1989/p/3962046.html"&gt;jQuery 关于ajaxfileupload.js插件的逐步解析（ajaxfileupload.js第二弹）&lt;/a&gt;》&lt;/p&gt;
&lt;p&gt;的一个收关。但是最初也是因为想做这么一个功能，一点一点的引发出了好多问题，不断去学习，研究，才写了这三篇。&lt;/p&gt;
&lt;p&gt;早些时候已经实现了上传头像的功能，但是代码却是零零散散的，有html，有jQuery还有c#，所以就决定把这个功能独立出来，当个插件用会方便很多。而事实是在封装成插件的过程中，也学到了很多知识。&lt;/p&gt;
&lt;p&gt;&lt;em&gt;&lt;strong&gt;下面给大家看一下界面：&lt;/strong&gt;&lt;/em&gt;&lt;/p&gt;
&lt;p&gt;1、初始情况下&lt;/p&gt;
&lt;p&gt;&lt;a href="http://images.cnitblog.com/blog/639859/201409/100911161847461.jpg"&gt;&lt;img src="http://images.cnitblog.com/blog/639859/201409/100912024181472.jpg" alt=""&gt;&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;2、点击上传头像，弹出选择，预览浮动框&lt;/p&gt;
&lt;p&gt;&lt;a href="http://images.cnitblog.com/blog/639859/201409/100911180271632.jpg"&gt;&lt;img src="http://images.cnitblog.com/blog/639859/201409/100912261686882.jpg" alt=""&gt;&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;3、选择图片&lt;/p&gt;
&lt;p&gt;&lt;a href="http://images.cnitblog.com/blog/639859/201409/100911200745274.jpg"&gt;&lt;img src="http://images.cnitblog.com/blog/639859/201409/100912476371722.jpg" alt=""&gt;&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;4、确定后，符合要求，会提示成功，不符合要求，也会做出相应的提示&lt;/p&gt;
&lt;p&gt;&lt;a href="http://images.cnitblog.com/blog/639859/201409/100911221377442.jpg"&gt;&lt;img src="http://images.cnitblog.com/blog/639859/201409/100913091373020.jpg" alt=""&gt;&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;5、预览&lt;/p&gt;
&lt;p&gt;&lt;a href="http://images.cnitblog.com/blog/639859/201409/100911270279082.jpg"&gt;&lt;img src="http://images.cnitblog.com/blog/639859/201409/100913230436340.jpg" alt=""&gt;&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;6、确定上传&lt;/p&gt;
&lt;p&gt;&lt;a href="http://images.cnitblog.com/blog/639859/201409/100911302154510.jpg"&gt;&lt;img src="http://images.cnitblog.com/blog/639859/201409/100913446062152.jpg" alt=""&gt;&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;&lt;em&gt;下面是部分代码&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;&lt;em&gt;js部分：&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;
&lt;pre class="csharpcode"&gt;$.fn.extend({

    ShowTheFloatDiv: &lt;span class="kwrd"&gt;function&lt;/span&gt; (obj) {
        $(&lt;span class="kwrd"&gt;this&lt;/span&gt;).click(&lt;span class="kwrd"&gt;function&lt;/span&gt; () {
            $(&lt;span class="str"&gt;"body"&lt;/span&gt;).find(&lt;span class="str"&gt;"*"&lt;/span&gt;).not(&lt;span class="str"&gt;"div.float-outer"&lt;/span&gt;).attr(&lt;span class="str"&gt;"disabled"&lt;/span&gt;, &lt;span class="str"&gt;"disabled"&lt;/span&gt;);
            &lt;span class="kwrd"&gt;var&lt;/span&gt; $&lt;span class="kwrd"&gt;float&lt;/span&gt; = jQuery.CreateTheFloatDiv();
            $img_outer_obj = obj;
        });
    }

});

$.extend({
    CreateTheFloatDiv: &lt;span class="kwrd"&gt;function&lt;/span&gt; () {
        &lt;span class="kwrd"&gt;if&lt;/span&gt; ($(&lt;span class="str"&gt;".float-outer"&lt;/span&gt;).size() == 1) {
            &lt;span class="kwrd"&gt;return&lt;/span&gt; $(&lt;span class="str"&gt;".float-outer"&lt;/span&gt;);
        }

        &lt;span class="kwrd"&gt;var&lt;/span&gt; left_offset = ($(window).width() - 600) / 2;&lt;span class="rem"&gt;//显示在浏览器窗口比较正的位置，看着比较舒服&lt;/span&gt;
        &lt;span class="kwrd"&gt;var&lt;/span&gt; top_offset = ($(window).height() - 278) / 3;

        &lt;span class="kwrd"&gt;var&lt;/span&gt; theFloatDivHtml = &lt;span class="str"&gt;"&amp;lt;div class='float-outer' style='left:"&lt;/span&gt; + left_offset + &lt;span class="str"&gt;"px;top:"&lt;/span&gt; + top_offset + &lt;span class="str"&gt;"px;'&amp;gt;"&lt;/span&gt;;
        theFloatDivHtml += &lt;span class="str"&gt;"&amp;lt;div class='float-header float-border'&amp;gt;上传头像&amp;lt;/div&amp;gt;"&lt;/span&gt;;
        theFloatDivHtml += &lt;span class="str"&gt;"&amp;lt;div class='float-content'&amp;gt;"&lt;/span&gt;;
        theFloatDivHtml += &lt;span class="str"&gt;"&amp;lt;div class='content-first-row'&amp;gt;文件名:"&lt;/span&gt;;
        theFloatDivHtml += &lt;span class="str"&gt;"&amp;lt;input type='text' id='tb_filename' style='width:350px;' readonly /&amp;gt; "&lt;/span&gt;;
        theFloatDivHtml += &lt;span class="str"&gt;"&amp;lt;input type='button' id='btn_selectfile' value='选择图片' style='margin-left:-10px;' /&amp;gt;"&lt;/span&gt;;
        theFloatDivHtml += &lt;span class="str"&gt;"&amp;lt;input type='file' id='btn_upload' name='btn_upload' style='display:none;' accept='.jpg,.bmp,.gif' /&amp;gt;"&lt;/span&gt;;
        theFloatDivHtml += &lt;span class="str"&gt;"&amp;lt;/div&amp;gt;"&lt;/span&gt;;
        theFloatDivHtml += &lt;span class="str"&gt;"&amp;lt;div class='content-second-row'&amp;gt;"&lt;/span&gt;;
        theFloatDivHtml += &lt;span class="str"&gt;"&amp;lt;span class='img-portrait' style='width:80px;'&amp;gt;图片预览:&amp;lt;/span&amp;gt;"&lt;/span&gt;;
        theFloatDivHtml += &lt;span class="str"&gt;"&amp;lt;div class='img-portrait' style='padding-top:30px;'&amp;gt;"&lt;/span&gt;;
        theFloatDivHtml += &lt;span class="str"&gt;"&amp;lt;img src='' class='preview60' alt=''/&amp;gt;"&lt;/span&gt;;
        theFloatDivHtml += &lt;span class="str"&gt;"&amp;lt;span&amp;gt;60*60&amp;lt;/span&amp;gt;"&lt;/span&gt;;
        theFloatDivHtml += &lt;span class="str"&gt;"&amp;lt;/div&amp;gt;"&lt;/span&gt;;
        theFloatDivHtml += &lt;span class="str"&gt;"&amp;lt;div style='float:left;'&amp;gt;"&lt;/span&gt;;
        theFloatDivHtml += &lt;span class="str"&gt;"&amp;lt;img src='' class='preview120' alt=''/&amp;gt;"&lt;/span&gt;;
        theFloatDivHtml += &lt;span class="str"&gt;"&amp;lt;span&amp;gt;120*120&amp;lt;/span&amp;gt;"&lt;/span&gt;;
        theFloatDivHtml += &lt;span class="str"&gt;"&amp;lt;/div&amp;gt;"&lt;/span&gt;;
        theFloatDivHtml += &lt;span class="str"&gt;"&amp;lt;/div&amp;gt;"&lt;/span&gt;;
        theFloatDivHtml += &lt;span class="str"&gt;"&amp;lt;/div&amp;gt;"&lt;/span&gt;;
        theFloatDivHtml += &lt;span class="str"&gt;"&amp;lt;div class='float-footer float-border'&amp;gt;"&lt;/span&gt;;
        theFloatDivHtml += &lt;span class="str"&gt;"&amp;lt;input type='submit' value='确定' id='btn_ok' /&amp;gt;"&lt;/span&gt;;
        theFloatDivHtml += &lt;span class="str"&gt;"&amp;lt;input type='button' value='取消' id='btn_cancel' /&amp;gt;"&lt;/span&gt;;
        theFloatDivHtml += &lt;span class="str"&gt;"&amp;lt;/div&amp;gt;"&lt;/span&gt;;
        theFloatDivHtml += &lt;span class="str"&gt;"&amp;lt;/div&amp;gt;"&lt;/span&gt;;

        $(&lt;span class="str"&gt;"body"&lt;/span&gt;).append(theFloatDivHtml);

        &lt;span class="kwrd"&gt;return&lt;/span&gt; $(&lt;span class="str"&gt;".float-outer"&lt;/span&gt;);
    }
});

&lt;span class="kwrd"&gt;var&lt;/span&gt; $img_outer_obj;
$(&lt;span class="kwrd"&gt;function&lt;/span&gt; () {

    &lt;span class="rem"&gt;//取消事件&lt;/span&gt;
    $(&lt;span class="str"&gt;"body"&lt;/span&gt;).&lt;span class="kwrd"&gt;delegate&lt;/span&gt;(&lt;span class="str"&gt;"#btn_cancel"&lt;/span&gt;, &lt;span class="str"&gt;"click"&lt;/span&gt;, &lt;span class="kwrd"&gt;function&lt;/span&gt; () {
        $(&lt;span class="str"&gt;".float-outer"&lt;/span&gt;).remove();
        $(&lt;span class="str"&gt;"body"&lt;/span&gt;).find(&lt;span class="str"&gt;"*"&lt;/span&gt;).removeAttr(&lt;span class="str"&gt;"disabled"&lt;/span&gt;);
    });


    &lt;span class="rem"&gt;//选择图片事件&lt;/span&gt;
    $(&lt;span class="str"&gt;"body"&lt;/span&gt;).&lt;span class="kwrd"&gt;delegate&lt;/span&gt;(&lt;span class="str"&gt;"#btn_selectfile"&lt;/span&gt;, &lt;span class="str"&gt;"click"&lt;/span&gt;, &lt;span class="kwrd"&gt;function&lt;/span&gt; () {
        $(&lt;span class="str"&gt;"#btn_upload"&lt;/span&gt;).trigger(e);
    });

    &lt;span class="kwrd"&gt;var&lt;/span&gt; e = jQuery.Event(&lt;span class="str"&gt;"click"&lt;/span&gt;);

    $(&lt;span class="str"&gt;"body"&lt;/span&gt;).&lt;span class="kwrd"&gt;delegate&lt;/span&gt;(&lt;span class="str"&gt;"#btn_upload"&lt;/span&gt;, &lt;span class="str"&gt;"click"&lt;/span&gt;, &lt;span class="kwrd"&gt;function&lt;/span&gt; () {

    }).&lt;span class="kwrd"&gt;delegate&lt;/span&gt;(&lt;span class="str"&gt;"#btn_upload"&lt;/span&gt;, &lt;span class="str"&gt;"change"&lt;/span&gt;, &lt;span class="kwrd"&gt;function&lt;/span&gt; () {
        &lt;span class="kwrd"&gt;var&lt;/span&gt; curPATH = getFilePath($(&lt;span class="kwrd"&gt;this&lt;/span&gt;).get(0));
        &lt;span class="kwrd"&gt;var&lt;/span&gt; fileName = curPATH.substring(curPATH.lastIndexOf(&lt;span class="str"&gt;"\\") + 1);
        var type = curPATH.substring(curPATH.lastIndexOf('.') + 1).toLowerCase();
        if (type == "&lt;/span&gt;jpg&lt;span class="str"&gt;" || type == "&lt;/span&gt;gif&lt;span class="str"&gt;" || type == "&lt;/span&gt;bmp&lt;span class="str"&gt;") {
            $("&lt;/span&gt;input#tb_filename&lt;span class="str"&gt;").val(fileName);
            if ($("&lt;/span&gt;input#tb_filename&lt;span class="str"&gt;").val() == "&lt;/span&gt;&lt;span class="str"&gt;") {
                alert("&lt;/span&gt;请先上传文件！&lt;span class="str"&gt;");
                return;
            }
            $.ajaxFileUpload
            (
                {
                    url: '/UploadPortrait.aspx', //用于文件上传的服务器端请求地址，需要根据实际情况进行修改
                    secureuri: false, //一般设置为false
                    fileElementId: $("&lt;/span&gt;input#btn_upload&lt;span class="str"&gt;").attr("&lt;/span&gt;id&lt;span class="str"&gt;"), //文件上传空间的id属性  &amp;lt;input type="&lt;/span&gt;file&lt;span class="str"&gt;" id="&lt;/span&gt;file&lt;span class="str"&gt;" name="&lt;/span&gt;file&lt;span class="str"&gt;" /&amp;gt;          //$("&lt;/span&gt;form&lt;span class="str"&gt;").serialize(),表单序列化。指吧所有元素的ID，NAME 等全部发过去
                    dataType: 'json', //返回值类型 一般设置为json
                    complete: function () {//只要完成即执行，最后执行
                    },
                    success: function (data, status)  //服务器成功响应处理函数
                    {
                        if (typeof (data.error) != 'undefined') {
                            if (data.error != '') {
                                if (data.error == "&lt;/span&gt;1001&lt;span class="str"&gt;") {
                                }
                                else if (data.error == "&lt;/span&gt;1002&lt;span class="str"&gt;") {
                                    $("&lt;/span&gt;input#tb_filename&lt;span class="str"&gt;").val("&lt;/span&gt;&lt;span class="str"&gt;");
                                    $("&lt;/span&gt;.preview60&lt;span class="str"&gt;").attr("&lt;/span&gt;src&lt;span class="str"&gt;", "&lt;/span&gt;&lt;span class="str"&gt;");
                                    $("&lt;/span&gt;.preview120&lt;span class="str"&gt;").attr("&lt;/span&gt;src&lt;span class="str"&gt;", "&lt;/span&gt;&lt;span class="str"&gt;");
                                }
                                alert(data.msg);
                                return;
                            } else {
                                alert(data.msg);
                            }
                        }
                        $("&lt;/span&gt;.preview60&lt;span class="str"&gt;").attr("&lt;/span&gt;src&lt;span class="str"&gt;", data.imgurl);
                        $("&lt;/span&gt;.preview120&lt;span class="str"&gt;").attr("&lt;/span&gt;src&lt;span class="str"&gt;", data.imgurl);

                    },
                    error: function (data, status, e)//服务器响应失败处理函数
                    {
                        alert(e);
                    }
                }
            )
            return false;
        }
        else {
            alert("&lt;/span&gt;请选择正确的图片格式(.jpg|.gif|.bmp)&lt;span class="str"&gt;");
        }
    });


    $("&lt;/span&gt;body&lt;span class="str"&gt;").delegate("&lt;/span&gt;#btn_ok&lt;span class="str"&gt;", "&lt;/span&gt;click&lt;span class="str"&gt;", function () {
        $img_outer_obj.attr("&lt;/span&gt;src&lt;span class="str"&gt;", $("&lt;/span&gt;.preview120&lt;span class="str"&gt;").attr("&lt;/span&gt;src&lt;span class="str"&gt;"));
        $("&lt;/span&gt;.&lt;span class="kwrd"&gt;float&lt;/span&gt;-outer&lt;span class="str"&gt;").remove();
        $("&lt;/span&gt;body&lt;span class="str"&gt;").find("&lt;/span&gt;*&lt;span class="str"&gt;").removeAttr("&lt;/span&gt;disabled&lt;span class="str"&gt;");
    });

    //移动浮动框
    var offset_left, offset_top, moveFlag;
    $("&lt;/span&gt;body&lt;span class="str"&gt;").delegate("&lt;/span&gt;.&lt;span class="kwrd"&gt;float&lt;/span&gt;-header&lt;span class="str"&gt;", "&lt;/span&gt;mousedown&lt;span class="str"&gt;", function (e) {
        moveFlag = true;
        offset_left = e.pageX - $(this).offset().left;
        offset_top = e.pageY - $(this).offset().top;
        $("&lt;/span&gt;body&lt;span class="str"&gt;").delegate("&lt;/span&gt;.&lt;span class="kwrd"&gt;float&lt;/span&gt;-header&lt;span class="str"&gt;", "&lt;/span&gt;mousemove&lt;span class="str"&gt;", function (e) {
            if (moveFlag) {
                $("&lt;/span&gt;.&lt;span class="kwrd"&gt;float&lt;/span&gt;-outer&lt;span class="str"&gt;").css("&lt;/span&gt;left&lt;span class="str"&gt;", e.pageX - offset_left + "&lt;/span&gt;px&lt;span class="str"&gt;").css("&lt;/span&gt;top&lt;span class="str"&gt;", e.pageY - offset_top + "&lt;/span&gt;px&lt;span class="str"&gt;");
            }
        }).delegate("&lt;/span&gt;.&lt;span class="kwrd"&gt;float&lt;/span&gt;-header&lt;span class="str"&gt;", "&lt;/span&gt;mouseup", &lt;span class="kwrd"&gt;function&lt;/span&gt; () {
            moveFlag = &lt;span class="kwrd"&gt;false&lt;/span&gt;;
        })
    })
});&lt;/pre&gt;
&lt;style&gt;&lt;!--
.csharpcode, .csharpcode pre
{
	font-size: small;
	color: black;
	font-family: consolas, "Courier New", courier, monospace;
	background-color: #ffffff;
	/*white-space: pre;*/
}
.csharpcode pre { margin: 0em; }
.csharpcode .rem { color: #008000; }
.csharpcode .kwrd { color: #0000ff; }
.csharpcode .str { color: #006080; }
.csharpcode .op { color: #0000c0; }
.csharpcode .preproc { color: #cc6633; }
.csharpcode .asp { background-color: #ffff00; }
.csharpcode .html { color: #800000; }
.csharpcode .attr { color: #ff0000; }
.csharpcode .alt 
{
	background-color: #f4f4f4;
	width: 100%;
	margin: 0em;
}
.csharpcode .lnum { color: #606060; }
--&gt;&lt;/style&gt;
&lt;p&gt;&lt;strong&gt;&lt;em&gt;C#部分：&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;
&lt;p&gt;因为上传文件用到了ajax，需要先将图片上传到本地，这里也算是一个比较纠结的事情吧，因为如果想预览，除非用一些插件，否则使用的方法都得是先上传，再预览这样。这种来者都要不拒的事，看起来比较流氓哈~~&lt;/p&gt;
&lt;pre class="csharpcode"&gt;        HttpFileCollection files = System.Web.HttpContext.Current.Request.Files;
        &lt;span class="kwrd"&gt;string&lt;/span&gt; msg = &lt;span class="kwrd"&gt;string&lt;/span&gt;.Empty;
        &lt;span class="kwrd"&gt;string&lt;/span&gt; error = &lt;span class="kwrd"&gt;string&lt;/span&gt;.Empty;
        &lt;span class="kwrd"&gt;string&lt;/span&gt; imgurl = &lt;span class="kwrd"&gt;string&lt;/span&gt;.Empty;
        &lt;span class="kwrd"&gt;protected&lt;/span&gt; &lt;span class="kwrd"&gt;void&lt;/span&gt; Page_Load(&lt;span class="kwrd"&gt;object&lt;/span&gt; sender, EventArgs e)
        {
            &lt;span class="kwrd"&gt;if&lt;/span&gt; (files.Count &amp;gt; 0)
            {
                &lt;span class="kwrd"&gt;if&lt;/span&gt; (System.IO.File.Exists(Server.MapPath(&lt;span class="str"&gt;"/UploadImages/"&lt;/span&gt;) + files[0].FileName))
                {
                    msg = &lt;span class="str"&gt;"图片已存在"&lt;/span&gt;;
                    error = &lt;span class="str"&gt;"1001"&lt;/span&gt;;
                    &lt;span class="kwrd"&gt;string&lt;/span&gt; res1 = &lt;span class="str"&gt;"{ error:'"&lt;/span&gt; + error + &lt;span class="str"&gt;"', msg:'"&lt;/span&gt; + msg + &lt;span class="str"&gt;"',imgurl:'"&lt;/span&gt; + imgurl + &lt;span class="str"&gt;"'}"&lt;/span&gt;;
                    Response.Write(res1);
                    Response.End();
                    &lt;span class="kwrd"&gt;return&lt;/span&gt;;
                }
                &lt;span class="kwrd"&gt;if&lt;/span&gt; (files[0].ContentLength &amp;gt; 4 * 1024 * 1024)
                {
                    msg = &lt;span class="str"&gt;"图片大小不能超过4M"&lt;/span&gt;;
                    error = &lt;span class="str"&gt;"1002"&lt;/span&gt;;
                    &lt;span class="kwrd"&gt;string&lt;/span&gt; res1 = &lt;span class="str"&gt;"{ error:'"&lt;/span&gt; + error + &lt;span class="str"&gt;"', msg:'"&lt;/span&gt; + msg + &lt;span class="str"&gt;"',imgurl:'"&lt;/span&gt; + imgurl + &lt;span class="str"&gt;"'}"&lt;/span&gt;;
                    Response.Write(res1);
                    Response.End();
                    &lt;span class="kwrd"&gt;return&lt;/span&gt;;
                }
                &lt;span class="kwrd"&gt;try&lt;/span&gt;
                {
                    files[0].SaveAs(Server.MapPath(&lt;span class="str"&gt;"/UploadImages/"&lt;/span&gt;) + System.IO.Path.GetFileName(files[0].FileName));
                }
                &lt;span class="kwrd"&gt;catch&lt;/span&gt; (System.IO.DirectoryNotFoundException)
                {
                }
                msg = &lt;span class="str"&gt;" 上传成功! 图片大小为:"&lt;/span&gt; + files[0].ContentLength + &lt;span class="str"&gt;"K"&lt;/span&gt;;
                imgurl = &lt;span class="str"&gt;"/UploadImages/"&lt;/span&gt; + files[0].FileName;
                &lt;span class="kwrd"&gt;string&lt;/span&gt; res = &lt;span class="str"&gt;"{ error:'"&lt;/span&gt; + error + &lt;span class="str"&gt;"', msg:'"&lt;/span&gt; + msg + &lt;span class="str"&gt;"',imgurl:'"&lt;/span&gt; + imgurl + &lt;span class="str"&gt;"'}"&lt;/span&gt;;
                Response.Write(res);
                Response.End();
            }
        }&lt;/pre&gt;
&lt;style&gt;&lt;!--
.csharpcode, .csharpcode pre
{
	font-size: small;
	color: black;
	font-family: consolas, "Courier New", courier, monospace;
	background-color: #ffffff;
	/*white-space: pre;*/
}
.csharpcode pre { margin: 0em; }
.csharpcode .rem { color: #008000; }
.csharpcode .kwrd { color: #0000ff; }
.csharpcode .str { color: #006080; }
.csharpcode .op { color: #0000c0; }
.csharpcode .preproc { color: #cc6633; }
.csharpcode .asp { background-color: #ffff00; }
.csharpcode .html { color: #800000; }
.csharpcode .attr { color: #ff0000; }
.csharpcode .alt 
{
	background-color: #f4f4f4;
	width: 100%;
	margin: 0em;
}
.csharpcode .lnum { color: #606060; }
--&gt;&lt;/style&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;&lt;em&gt;如何调用此插件&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;
&lt;pre class="csharpcode"&gt;    &amp;lt;script type=&lt;span class="str"&gt;"text/javascript"&lt;/span&gt;&amp;gt;
        $(&lt;span class="kwrd"&gt;function&lt;/span&gt; () {
            $(&lt;span class="str"&gt;"#btn_portrait"&lt;/span&gt;).ShowTheFloatDiv($(&lt;span class="str"&gt;"#img_portrait"&lt;/span&gt;));
        })
        
    &amp;lt;/script&amp;gt;&lt;/pre&gt;
&lt;style&gt;&lt;!--
.csharpcode, .csharpcode pre
{
	font-size: small;
	color: black;
	font-family: consolas, "Courier New", courier, monospace;
	background-color: #ffffff;
	/*white-space: pre;*/
}
.csharpcode pre { margin: 0em; }
.csharpcode .rem { color: #008000; }
.csharpcode .kwrd { color: #0000ff; }
.csharpcode .str { color: #006080; }
.csharpcode .op { color: #0000c0; }
.csharpcode .preproc { color: #cc6633; }
.csharpcode .asp { background-color: #ffff00; }
.csharpcode .html { color: #800000; }
.csharpcode .attr { color: #ff0000; }
.csharpcode .alt 
{
	background-color: #f4f4f4;
	width: 100%;
	margin: 0em;
}
.csharpcode .lnum { color: #606060; }
--&gt;&lt;/style&gt;
&lt;style&gt;&lt;!--
.csharpcode, .csharpcode pre
{
	font-size: small;
	color: black;
	font-family: consolas, "Courier New", courier, monospace;
	background-color: #ffffff;
	/*white-space: pre;*/
}
.csharpcode pre { margin: 0em; }
.csharpcode .rem { color: #008000; }
.csharpcode .kwrd { color: #0000ff; }
.csharpcode .str { color: #006080; }
.csharpcode .op { color: #0000c0; }
.csharpcode .preproc { color: #cc6633; }
.csharpcode .asp { background-color: #ffff00; }
.csharpcode .html { color: #800000; }
.csharpcode .attr { color: #ff0000; }
.csharpcode .alt 
{
	background-color: #f4f4f4;
	width: 100%;
	margin: 0em;
}
.csharpcode .lnum { color: #606060; }
--&gt;&lt;/style&gt;
&lt;p&gt;&lt;strong&gt;&lt;em&gt;注意事项&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;
&lt;p&gt;必须在&amp;ldquo;上传头像&amp;rdquo;按钮所在页面引入以下几个文件&lt;/p&gt;
&lt;p&gt;&lt;span style="color: #0000ff;"&gt;&lt;em&gt;UploadPortrait.css&lt;/em&gt;&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="color: #0000ff;"&gt;&lt;em&gt;ajaxfileupload.js&lt;/em&gt;&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="color: #0000ff;"&gt;&lt;em&gt;jquery-2.0.3.min.js（jQuery插件要求在1.4.2版本之上）&lt;/em&gt;&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="color: #0000ff;"&gt;&lt;em&gt;UploadPortrait.js&lt;/em&gt;&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;如果大家在使用过程中出现问题，可以先把前面相关的两篇文章略读一下，大概就能找到原因了。&lt;/p&gt;
&lt;p&gt;大致这个功能就是如上这样，感兴趣的朋友可以从下面的地址下载Demo运行看看。此外想说的是，因为是头像嘛，一定要存数据库的，但是在Demo里我并没有写，这个东西就是看大家想怎么实现了，要是我的话，因为之前预览都要将图片存到本地，所以如果存数据库的话，当然是会存图片的url了，那这样就比较好办了。&lt;/p&gt;
&lt;p&gt;总的来说，要比想像中的快些完成了这个插件，功能倒是达到了自己的预期，但是界面来说，还有很长的一段路要走。第一次写jQuery插件，很多东西都不太专业，希望大牛们能多多给予指正和帮助。&lt;/p&gt;
&lt;p&gt;&lt;span style="color: #0000ff;"&gt;Demo下载地址：&lt;/span&gt;&lt;a title="http://files.cnblogs.com/zhouhongyu1989/uploadportrait%E4%B8%8A%E4%BC%A0%E5%A4%B4%E5%83%8FDemo.rar" href="http://files.cnblogs.com/zhouhongyu1989/uploadportrait%E4%B8%8A%E4%BC%A0%E5%A4%B4%E5%83%8FDemo.rar"&gt;&lt;span style="color: #0000ff;"&gt;http://files.cnblogs.com/zhouhongyu1989/uploadportrait%E4%B8%8A%E4%BC%A0%E5%A4%B4%E5%83%8FDemo.rar&lt;/span&gt;&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;p&gt;&lt;span style="color: #ff0000;"&gt;&lt;strong&gt;关于上传的Demo补充内容：&lt;/strong&gt;&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;p&gt;上传的demo有两个问题需要说明一下，希望下载的朋友能够注意到，并流畅运行。&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;p&gt;1、因为demo是ASP.NET项目，所以大家如想正常运行，需要在本地新建一个web项目，把我上传的uploadportrait.csproj这个文件添加进去。下次我会直接打包一个完整的web项目再上传，这次没做好希望大家给予谅解。另，我开发的时候Visual Studio版本为2010，这个望大家注意一下。&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;p&gt;2、在调用插件的代码部分，demo里写的是&lt;/p&gt;
&lt;div class="cnblogs_Highlighter"&gt;
&lt;pre class="brush:javascript;gutter:true;"&gt;    &amp;lt;script type="text/javascript"&amp;gt;
        $(function () {
            $("#btn_portrait").ShowTheFloatDiv($("#img_portrait"));
        })
        
    &amp;lt;/script&amp;gt;
&lt;/pre&gt;
&lt;/div&gt;
&lt;p&gt;应该把$(img_portrait)改成$("#img_portrait")，这个也是自己的失误，下回会注意。&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;p&gt;&lt;em&gt;&lt;strong&gt;补充：&lt;/strong&gt;&lt;/em&gt;&lt;/p&gt;
&lt;p&gt;《&lt;a title="jQuery 关于IE9上传文件无法进入后台问题的原因及解决办法（ajaxfileupload.js第四弹）" href="http://www.cnblogs.com/zhouhongyu1989/p/3966423.html" target="_blank"&gt;jQuery 关于IE9上传文件无法进入后台问题的原因及解决办法（ajaxfileupload.js第四弹）&lt;/a&gt;》&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;/div&gt;&lt;div id="MySignature"&gt;&lt;/div&gt;
&lt;div class="clear"&gt;&lt;/div&gt;
&lt;div id="blog_post_info_block"&gt;
&lt;div id="BlogPostCategory"&gt;&lt;/div&gt;
&lt;div id="EntryTag"&gt;&lt;/div&gt;
&lt;div id="blog_post_info"&gt;
&lt;/div&gt;
&lt;div class="clear"&gt;&lt;/div&gt;
&lt;div id="post_next_prev"&gt;&lt;/div&gt;
&lt;/div&gt;


	&lt;div class="postDesc"&gt;posted on &lt;span id="post-date"&gt;2014-09-10 09:12&lt;/span&gt; &lt;a href='http://www.cnblogs.com/zhouhongyu1989/'&gt;我不会抽烟Oscar&lt;/a&gt; 阅读(&lt;span id="post_view_count"&gt;...&lt;/span&gt;) 评论(&lt;span id="post_comment_count"&gt;...&lt;/span&gt;)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3963748" rel="nofollow"&gt;编辑&lt;/a&gt; &lt;a href="#" onclick="AddToWz(3963748);return false;"&gt;收藏&lt;/a&gt;&lt;/div&gt;
&lt;/div&gt;
&lt;script type="text/javascript"&gt;var allowComments=true,isLogined=false,cb_blogId=187958,cb_entryId=3963748,cb_blogApp=currentBlogApp,cb_blogUserGuid='902cd865-c3eb-e311-8d02-90b11c0b17d6',cb_entryCreatedDate='2014/9/10 9:12:00';loadViewCount(cb_entryId);&lt;/script&gt;

&lt;a name="!comments"&gt;&lt;/a&gt;&lt;div id="blog-comments-placeholder"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;var commentManager = new blogCommentManager();commentManager.renderComments(0);&lt;/script&gt;
&lt;div id="comment_form" class="commentform"&gt;
&lt;a name="commentform"&gt;&lt;/a&gt;
&lt;div id="divCommentShow"&gt;&lt;/div&gt;
&lt;div id="comment_nav"&gt;&lt;span id="span_refresh_tips"&gt;&lt;/span&gt;&lt;a href="javascript:void(0);" id="lnk_RefreshComments" onclick="return RefreshCommentList();"&gt;刷新评论&lt;/a&gt;&lt;a href="#" onclick="return RefreshPage();"&gt;刷新页面&lt;/a&gt;&lt;a href="#top"&gt;返回顶部&lt;/a&gt;&lt;/div&gt;
&lt;div id="comment_form_container"&gt;&lt;/div&gt;
&lt;div class="ad_text_commentbox" id="ad_text_under_commentbox"&gt;&lt;/div&gt;
&lt;div id="site_nav_under"&gt;&lt;a href="http://www.cnblogs.com/" target="_blank" title="开发者的网上家园"&gt;博客园首页&lt;/a&gt;&lt;a href="http://q.cnblogs.com/" target="_blank" title="程序员问答社区"&gt;博问&lt;/a&gt;&lt;a href="http://news.cnblogs.com/" target="_blank" title="IT新闻"&gt;新闻&lt;/a&gt;&lt;a href="http://home.cnblogs.com/ing/" target="_blank"&gt;闪存&lt;/a&gt;&lt;a href="http://job.cnblogs.com/" target="_blank"&gt;程序员招聘&lt;/a&gt;&lt;a href="http://kb.cnblogs.com/" target="_blank"&gt;知识库&lt;/a&gt;&lt;/div&gt;
&lt;div id="opt_under_post"&gt;&lt;/div&gt;
&lt;script type="text/javascript"&gt;
    var enableGoogleAd = canShowAdsense(); var googletag = googletag || {}; googletag.cmd = googletag.cmd || [];
    fixPostBodyFormat();
&lt;/script&gt;
&lt;div id="ad_under_post_holder"&gt;
&lt;script type='text/javascript'&gt;
    var googletag = googletag || {};
    googletag.cmd = googletag.cmd || [];
    (function () {
        if (enableGoogleAd) {
            var gads = document.createElement('script');
            gads.async = true;
            gads.type = 'text/javascript';
            var useSSL = 'https:' == document.location.protocol;
            gads.src = (useSSL ? 'https:' : 'http:') + '//www.googletagservices.com/tag/js/gpt.js';
            var node = document.getElementsByTagName('script')[0];
            node.parentNode.insertBefore(gads, node);
        }
    })();
&lt;/script&gt;
&lt;script type='text/javascript'&gt;
    try {
        if (enableGoogleAd) {
            googletag.cmd.push(function () {
                googletag.defineSlot('/1090369/cnblogs_blogpost_C1_sitehome', [300, 250], 'div-gpt-ad-1346480159711-0').addService(googletag.pubads());
                googletag.pubads().enableSingleRequest();
                googletag.enableServices();
            });
        };
    } catch (e) { }
&lt;/script&gt;
&lt;div id="google_ad_c1" class="c_ad_block"&gt;
    &lt;div id='div-gpt-ad-1346480159711-0' style='width:300px; height:250px;'&gt;
    &lt;script type='text/javascript'&gt;
        try {
            if (enableGoogleAd) {
                googletag.cmd.push(function () { googletag.display('div-gpt-ad-1346480159711-0'); });            
            } else {
                $('#div-gpt-ad-1346480159711-0').hide();
            }
    } catch (e) { }
    &lt;/script&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;div id="blog_news_kb"&gt;&lt;/div&gt;
&lt;div id="HistoryToday" class="c_ad_block"&gt;&lt;/div&gt;
&lt;script type="text/javascript"&gt;
$(function () {
    loadNewsAndKb();
    loadBlogSignature();
    LoadPostInfoBlock(cb_blogId, cb_entryId, cb_blogApp, cb_blogUserGuid);
    GetPrevNextPost(cb_entryId, cb_blogId, cb_entryCreatedDate);
    loadOptUnderPost();
    GetHistoryToday(cb_blogId, cb_blogApp, cb_entryCreatedDate);
    setTimeout(function () { incrementViewCount(cb_entryId); }, 200);
});
&lt;/script&gt;
&lt;/div&gt;

	
&lt;!--done--&gt;
&lt;div class="footer"&gt;
	
	Copyright &amp;copy;2014 我不会抽烟Oscar Powered by: &lt;a href="http://www.cnblogs.com" class="footerlink"&gt;博客园&lt;/a&gt; 模板提供：&lt;a href="http://blog.hjenglish.com" class="footerlink"&gt;沪江博客&lt;/a&gt;&lt;br&gt;
&lt;/div&gt;
&lt;/div&gt;



&lt;/body&gt;
&lt;/html&gt;
</Html>
	<HtmlMetas i:nil="true" />
	<HtmlTitle i:nil="true" />
	<IsDefault>false</IsDefault>
	<Layout i:nil="true" />
	<Name>-zhouhongyu1989-p-3963748.html</Name>
	<OutputCache i:nil="true" />
	<PageContents xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
	<Plugins xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<Published>false</Published>
	<RequireHttps>false</RequireHttps>
	<Routes>
		<PageRoute>
			<Defaults xmlns:d4p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
			<Identifier>/zhouhongyu1989/p/3963748.html</Identifier>
			<RoutePath i:nil="true" />
		</PageRoute>
	</Routes>
	<Scripts i:nil="true" />
	<Site>
		<AbsoluteName xmlns="Ovaldi.Core.Models">Cnblogs</AbsoluteName>
	</Site>
	<Styles i:nil="true" />
	<UUID>-zhouhongyu1989-p-3963748.html</UUID>
</Page>