<?xml version="1.0" encoding="utf-8"?>
<Site xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Ovaldi.Core.Models">
	<AbsoluteName>Cnblogs</AbsoluteName>
	<Bindings i:nil="true" />
	<Culture i:nil="true" />
	<CustomFields xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
	<DisplayName i:nil="true" />
	<HtmlMeta i:nil="true" />
	<IsDebug>false</IsDebug>
	<Name>Cnblogs</Name>
	<Parent i:nil="true" />
	<Published>true</Published>
	<Repository i:nil="true" />
	<ResourceDomain i:nil="true" />
	<Scripts i:nil="true" />
	<Styles i:nil="true" />
	<Theme i:nil="true" />
	<TimeZoneId i:nil="true" />
	<UUID>Cnblogs</UUID>
</Site>