<routeTable>
  <ignores>
    <clear/>
    <add name="axd" url="{resource}.axd/{*pathInfo}"/>
    <add name="aspx" url="{*allaspx}">
      <constraints allaspx =".*\.(aspx)(/.*)?" />
    </add>
    <!--<add name="html" url="{*allhtml}">
      <constraints allhtml =".*\.(html|htm|shtml)(/.*)?"/>
    </add>-->
    <!--<add name="cssjsimages" url="{*css}">
      <constraints css =".*\.(js|css|swf|flv|jpg|png|gif|ico)(/.*)?"/>
    </add>-->
    <!--<add name="allfiles" url="{*allfiles}">
				<constraints allfiles=".*\.(.*)(/.*)?"/>
			</add>-->
  </ignores>
  <routes>
    <add name="Page" url="{*PageUrl}">
      <defaults controller = "SiteRequest" action = "Index" PageUrl=""></defaults>
      <dataTokens Namespaces="Ovaldi.Core.SiteFlow"/>
    </add>
    <!--<add name="Default" url="Default.aspx" routeHandlerType="System.Web.Mvc.MvcRouteHandler, System.Web.Mvc, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />-->
  </routes>
</routeTable>
