body {
            counter-reset: c1 -1;
        }
        .postBody h2{
            margin: 40px 0 5px;
            counter-reset: c2 -1;
        }
        .postBody h2:before {
            counter-increment: c1;
            content: counter(c1) ".";
            margin-right:5px;
        }
        .postBody h3:before{
            counter-increment: c2;
            content: counter(c1) "."  counter(c2) ".";
            margin-right:5px;
        }
        .postBody a{
            color:#399ab2;
        }