#btmDiv
{
position: fixed;
right:0px;
text-align:right;
bottom:0px;
z-index:9999;
_bottom:auto;/* for IE6 */
_position:absolute; /* for IE6 */
_top: expression(documentElement.scrollTop + documentElement.clientHeight-this.offsetHeight); /* for IE6 */
}

#mainContent
{
float:right;
}

#sideBar
{
width:240px;
margin-left:0;
}

.couplet_ad
/* 底部固定*/{position:fixed;bottom:auto; top:0;  z-index:9999; margin-top:0px;}
* html .couplet_ad
/* IE6 底部固定*/{_position:absolute;
_bottom:auto;
_top:expression(eval(document.documentElement.scrollTop));}
.couplet_ad a{ display:block; cursor:pointer;}
#ad_left{ left: 0px;}
#ad_right{ right: 0px;}