<?xml version="1.0" encoding="utf-8"?>
<Page xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Ovaldi.Core.Models">
	<AbsoluteName>-yanyangtian-p-3964099.html</AbsoluteName>
	<CustomFields xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<EnableScript>true</EnableScript>
	<EnableTheming>true</EnableTheming>
	<Html>&lt;!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"&gt;
&lt;html xmlns="http://www.w3.org/1999/xhtml" lang="zh-cn"&gt;
&lt;head&gt;
&lt;meta http-equiv="Content-Type" content="text/html; charset=utf-8"&gt;
&lt;title&gt;做技术到底可以做到哪种地步-技术为什么越走越窄 - 小洋（燕洋天） - 博客园&lt;/title&gt;
&lt;link type="text/css" rel="stylesheet" href="/preview~Cnblogs/Styles/bundles/blog-common.css"&gt;
&lt;link id="MainCss" type="text/css" rel="stylesheet" href="/preview~Cnblogs/Styles/skins/coffee/bundle-coffee.css"&gt;
&lt;link type="text/css" rel="stylesheet" href="/preview~Cnblogs/Styles/blog/customcss/40700.css"&gt;
&lt;link title="RSS" type="application/rss+xml" rel="alternate" href="http://www.cnblogs.com/yanyangtian/rss"&gt;
&lt;link title="RSD" type="application/rsd+xml" rel="EditURI" href="http://www.cnblogs.com/yanyangtian/rsd.xml"&gt;
&lt;link type="application/wlwmanifest+xml" rel="wlwmanifest" href="http://www.cnblogs.com/yanyangtian/wlwmanifest.xml"&gt;
&lt;script src="http://common.cnblogs.com/script/jquery.js" type="text/javascript"&gt;&lt;/script&gt;  
&lt;script type="text/javascript"&gt;var currentBlogApp = 'yanyangtian', cb_enable_mathjax=false;&lt;/script&gt;
&lt;script src="/preview~Cnblogs/Scripts/bundles/blog-common.js" type="text/javascript"&gt;&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;a name="top"&gt;&lt;/a&gt;

&lt;!--done--&gt;
&lt;div id="home"&gt;
&lt;div id="header"&gt;
	&lt;div id="blogTitle"&gt;
	&lt;a id="lnkBlogLogo" href="http://www.cnblogs.com/yanyangtian/"&gt;&lt;img id="blogLogo" src="/preview~Cnblogs/Images/Skins/custom/images/logo.gif" alt="返回主页"&gt;&lt;/a&gt;			
		
&lt;!--done--&gt;
&lt;h1&gt;&lt;a id="Header1_HeaderTitle" class="headermaintitle" href="http://www.cnblogs.com/yanyangtian/"&gt;简单生活，踏实人生&lt;/a&gt;&lt;/h1&gt;
&lt;h2&gt;&lt;br&gt;&lt;b&gt;兢兢业业学技术&lt;/b&gt;&lt;br&gt;
&lt;b&gt;踏踏实实诚做人&lt;/b&gt;&lt;/h2&gt;



		
	&lt;/div&gt;&lt;!--end: blogTitle 博客的标题和副标题 --&gt;
&lt;/div&gt;&lt;!--end: header 头部 --&gt;

&lt;div id="main"&gt;
	&lt;div id="mainContent"&gt;
	&lt;div class="forFlow"&gt;
		&lt;div id="navigator"&gt;
			
&lt;!--done--&gt;
			&lt;ul id="navList"&gt;
				&lt;li&gt;&lt;a id="MyLinks1_HomeLink" class="menu" href="http://www.cnblogs.com/"&gt;博客园&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a id="MyLinks1_IngLink" class="menu" href="http://home.cnblogs.com/ing/"&gt;闪存&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a id="MyLinks1_MyHomeLink" class="menu" href="http://www.cnblogs.com/yanyangtian/"&gt;首页&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a id="MyLinks1_NewPostLink" class="menu" rel="nofollow" href="http://i.cnblogs.com/EditPosts.aspx?opt=1"&gt;新随笔&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a id="MyLinks1_ContactLink" accesskey="9" class="menu" rel="nofollow" href="http://space.cnblogs.com/msg/send/%e5%b0%8f%e6%b4%8b%ef%bc%88%e7%87%95%e6%b4%8b%e5%a4%a9%ef%bc%89"&gt;联系&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a id="MyLinks1_Admin" class="menu" rel="nofollow" href="http://i.cnblogs.com/"&gt;管理&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a id="MyLinks1_Syndication" class="menu" href="http://www.cnblogs.com/yanyangtian/rss"&gt;订阅&lt;/a&gt;
				&lt;a id="MyLinks1_XMLLink" class="aHeaderXML" href="http://www.cnblogs.com/yanyangtian/rss"&gt;&lt;img src="/preview~Cnblogs/Images/images/xml.gif" alt="订阅"&gt;&lt;/a&gt;&lt;/li&gt;
			&lt;/ul&gt;


			&lt;div class="blogStats"&gt;
				
				
&lt;!--done--&gt;
随笔- 187&amp;nbsp;
文章- 0&amp;nbsp;
评论- 5791&amp;nbsp;

				
			&lt;/div&gt;&lt;!--end: blogStats --&gt;
		&lt;/div&gt;&lt;!--end: navigator 博客导航栏 --&gt;
		

&lt;!--done--&gt;
&lt;div id="topics"&gt;
	&lt;div class="post"&gt;
		&lt;h1 class="postTitle"&gt;
			&lt;a id="cb_post_title_url" class="postTitle2" href="http://www.cnblogs.com/yanyangtian/p/3964099.html"&gt;做技术到底可以做到哪种地步-技术为什么越走越窄&lt;/a&gt;
		&lt;/h1&gt;
		&lt;div class="clear"&gt;&lt;/div&gt;
		&lt;div class="postBody"&gt;
			&lt;div id="cnblogs_post_body"&gt;&lt;p&gt;&lt;span style="font-family: Microsoft YaHei; font-size: 16px;"&gt;尽管做技术已经有不少年头了，不管是犹犹豫豫还是坚定不移，我们走到了现在，依然走在技术这条路上。&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="font-family: Microsoft YaHei; font-size: 16px;"&gt;不管我们处于何种职位，拿着哪种薪水，其实，我们会是不是的问问自己&amp;ldquo;做技术到底可以做到那种地步&amp;rdquo;，说的直白一点，其实我们很多人对技术这条路依然充满很多彷徨，不管我们的现状是多么的满意与辉煌。&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="font-family: Microsoft YaHei; font-size: 16px;"&gt;最近一直招聘技术人员，见了很多求职的朋友，也和他们探讨了很多与职业发展，技术能力方面的问题，下面说下我个人的看法，和大家分享一下。&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="font-family: Microsoft YaHei; font-size: 16px;"&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="color: #ff0000; font-family: Microsoft YaHei; font-size: 16px;"&gt;&lt;strong&gt;有很多的人总是一直在问&amp;ldquo;我搞.NET很多年了，但是感觉现在越走越窄了&amp;rdquo;。&lt;/strong&gt;&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;p&gt;&lt;span style="font-family: Microsoft YaHei; font-size: 16px;"&gt;&amp;nbsp;&lt;span style="font-family: 'Microsoft YaHei'; font-size: 16px;"&gt;[&lt;strong&gt;&lt;span style="font-family: 'Microsoft YaHei'; font-size: 16px;"&gt;加入我们：&lt;span style="font-family: 'Microsoft YaHei'; font-size: 16px;"&gt;&lt;a href="http://www.lagou.com/jobs/31029.html?source=search" target="_blank"&gt;http://www.lagou.com/jobs/31029.html?source=search&lt;/a&gt;&lt;/span&gt;&lt;/span&gt;&lt;/strong&gt;]&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;p&gt;&lt;span style="font-family: Microsoft YaHei; font-size: 16px;"&gt;其实&amp;ldquo;越走越窄&amp;ldquo;主要可以从三个方面开看：&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="font-family: Microsoft YaHei; font-size: 16px;"&gt;&amp;nbsp;&lt;img style="margin-right: auto; margin-left: auto; display: block;" src="http://www.xsnet.cn/news/bd/images/2007/11/3/2007113126075.jpg" alt="" width="350" height="248"&gt;&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="font-family: Microsoft YaHei; font-size: 16px;"&gt;&lt;span style="color: #ff0000;"&gt;&lt;strong&gt;市场动向：&lt;/strong&gt;&lt;/span&gt;从最近的招聘和很多的朋友的举动来看，特别是移动互联网的爆发和大数据技术，导致了很多的新人纷纷转型，而且很多做了多年技术的朋友，也跟着这股&amp;ldquo;趋势&amp;rdquo;在走，因为会认为&amp;ldquo;物以稀为贵&amp;rdquo;，会拿到不错的待遇。&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="font-family: Microsoft YaHei; font-size: 16px;"&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="font-family: Microsoft YaHei; font-size: 16px;"&gt;我发现在我们大家都有一种&amp;ldquo;跟风&amp;rdquo;的习惯，包括我自己了。说到什么火爆，然后就大家一股脑的奔过去：很早以前，做网站很火爆，于是很多人都开始学习HTML，随便说自己懂HTML,都可以拿到不错的薪水；团购火爆，于是很多的创业者纷纷搞起团购，一时，&amp;ldquo;百团大战&amp;ldquo;；电商火爆，于是各地开始出现各种电商平台&amp;hellip;..&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="font-family: Microsoft YaHei; font-size: 16px;"&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="font-family: Microsoft YaHei; font-size: 16px;"&gt;一旦一片&amp;ldquo;蓝海&amp;rdquo;被搞成&amp;ldquo;红海&amp;rdquo;之后，市场就开始饱和，资源开始重新分配，其实最后依然是&amp;rdquo;82理论&amp;ldquo;：20%的人占据着80%的资源，依然会优胜劣汰，最后还是那句话&amp;rdquo;出来混的，早晚要还&amp;ldquo;。&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="font-family: Microsoft YaHei; font-size: 16px;"&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="font-family: Microsoft YaHei; font-size: 16px;"&gt;其实又说回来，最后选择，市场是一个很大的因素，另外，就是兴趣，真的是兴趣。或许，有朋友认为这点很扯，但是越到后面，这一点尤其重要，特别是当你的待遇，职位到了某个瓶颈之后，最后阻碍自己发展的就是自己。&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="font-family: Microsoft YaHei; font-size: 16px;"&gt;&amp;nbsp;&lt;img style="width: 389px; height: 354px; margin-right: auto; margin-left: auto; display: block;" src="http://cufepaper.cuepa.cn/newspic/387123/s_d4f09416caa337e6f6eee2d74b61d018317383.jpg" alt="" width="106" height="439"&gt;&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="font-family: Microsoft YaHei; font-size: 16px;"&gt;&lt;strong&gt;思&lt;span style="color: #ff0000;"&gt;维定势：&lt;/span&gt;&lt;/strong&gt;说到这一点，自己也算是深有感触。自己在做.NET的时候，把自己的选择绑死在了Windows和微软技术上面，例如，为了搞负载均衡，不断的尝试Windows自带的NLB，还是用IIS的ARR（一直到IIS7才出来），在这些过程中出现很多问题，而且很多的情况，都无法满足，也想过买F5之类的产品。虽然自己在Linux环境下有很多成熟的软件和产品，如HAProxy,LVS，但是一直对Linux有偏见，因为喜爱Windows。&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="font-family: Microsoft YaHei; font-size: 16px;"&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="font-family: Microsoft YaHei; font-size: 16px;"&gt;后面进入互联网公司之后，开始发现很多的情况选需要&amp;ldquo;混搭&amp;ldquo;，例如搜素采用Solr，缓存采用Redis，Memcached，日志采用Kafaka，队列采用RabbitMq。&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="font-family: Microsoft YaHei; font-size: 16px;"&gt;后来要做用户分析和推荐方面，使用了Hadoop+Mahout等。&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="font-family: Microsoft YaHei; font-size: 16px;"&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="font-family: Microsoft YaHei; font-size: 16px;"&gt;以前自己很天真：因为很多的开源组件都是C 或者Java的，自己还尝试写一个.NET版本的，最后发现能力有限，还是&amp;ldquo;拿来主义+代码定制&amp;ldquo;。&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="font-family: Microsoft YaHei; font-size: 16px;"&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="font-family: Microsoft YaHei; font-size: 16px;"&gt;&amp;nbsp;&lt;span style="font-family: 'Microsoft YaHei'; font-size: 16px;"&gt;[&lt;strong&gt;&lt;span style="font-family: 'Microsoft YaHei'; font-size: 16px;"&gt;加入我们：&lt;span style="font-family: 'Microsoft YaHei'; font-size: 16px;"&gt;&lt;a href="http://www.lagou.com/jobs/31029.html?source=search" target="_blank"&gt;http://www.lagou.com/jobs/31029.html?source=search&lt;/a&gt;&lt;/span&gt;&lt;/span&gt;&lt;/strong&gt;]&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;p&gt;&lt;span style="font-family: Microsoft YaHei; font-size: 16px;"&gt;所以，要以开放的心态去做技术，这一点算是自己的很大的体会。&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="font-family: Microsoft YaHei; font-size: 16px;"&gt;&amp;nbsp;&lt;img style="margin-right: auto; margin-left: auto; display: block;" src="http://images.cnitblog.com/blog/37134/201409/111135373564305.jpg" alt=""&gt;&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="font-family: Microsoft YaHei; font-size: 16px;"&gt;&lt;span style="color: #ff0000;"&gt;&lt;strong&gt;画地为牢&lt;/strong&gt;：&lt;/span&gt;很多人总是会拿出所谓的技术人员&amp;ldquo;30&amp;ldquo;&amp;rdquo;35&amp;ldquo;岁等理论。也有很多人提到&amp;rdquo;转型&amp;ldquo;的问题，也有很多人提出&amp;ldquo;摆脱技术&amp;rdquo;的想法。&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="font-family: Microsoft YaHei; font-size: 16px;"&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="font-family: Microsoft YaHei; font-size: 16px;"&gt;其实我们都很担心自己的技术生涯的长短，一般而言，就我自己的经历发现，不同的阶段培养自己不同的能力。&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="font-family: Microsoft YaHei; font-size: 16px;"&gt;对于我们做技术的，不是说就每天呆呆的做技术，其实技术本身就是一个技能，通过做技术，锻炼出我们做事的方式和解决问题的能力。&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="font-family: Microsoft YaHei; font-size: 16px;"&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="font-family: Microsoft YaHei; font-size: 16px;"&gt;举个例子，我们都经学生时代，我们永远记得我们学了很多的语文，而且老师每次讲课就搞什么场景分析，我记得在小学课本中有一个篇文章&amp;ldquo;小桔灯&amp;rdquo;，冰心老人鞋的，最后有这么一句&amp;ldquo;&lt;span style="color: #ff0000;"&gt;&lt;strong&gt;我们都会好的&lt;/strong&gt;&lt;/span&gt;&amp;rdquo;。 这句话在我们看了，就是一句安慰人的话，但是老师在讲解的时候，就衍生了很多的含义：一方面告诉小女孩，她妈妈的病会好的，同时暗指了革命会胜利&amp;hellip;.&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="font-family: Microsoft YaHei; font-size: 16px;"&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="font-family: Microsoft YaHei; font-size: 16px;"&gt;我们先不管老师的分析是多么的牵强，多么的让我们无语。后来，我们每次考试，总是有新一篇文章，让我们分析里面的很多&amp;ldquo;含义&amp;ldquo;。&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="font-family: Microsoft YaHei; font-size: 16px;"&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="font-family: Microsoft YaHei; font-size: 16px;"&gt;其实，我们知道，学生时代的几十本语文，上千篇文章肯定不会全部出现在考试的&amp;ldquo;阅读理解&amp;ldquo;中，我们依然要学习千年不变的语文课本，其实就是在学习一种&amp;rdquo;分析的思维&amp;ldquo;，一种&amp;rdquo;举一反三&amp;ldquo;的能力。&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="font-family: Microsoft YaHei; font-size: 16px;"&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="font-family: Microsoft YaHei; font-size: 16px;"&gt;唠叨了这么多，再说回来，我们学习技术，一方面是因为这些技术确确实实可以做出东西，这一点很不错，比我们学习的语文课本实用；另外一方面，也是在锻炼我们的思维，如何利用技术去解决问题，有个可以生搬硬套，但是很多需要变通。&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="font-family: Microsoft YaHei; font-size: 16px;"&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="font-family: Microsoft YaHei; font-size: 16px;"&gt;例如，我之前在为很多公司做性能优化的时候，除了掌握必要的技术知识之外，另外就是思路：如何根据现状推断出问题所在，然后确定这个问题是否真实存在，然后收集数据分析，然后给出办法。&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="font-family: Microsoft YaHei; font-size: 16px;"&gt;&amp;nbsp;&lt;img style="margin-right: auto; margin-left: auto; display: block;" src="http://www.beijing.gov.cn/zhuanti/rwbj/sztssh/xstj/lz/W020100720572170980199.jpg" alt="" width="254" height="239"&gt;&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="font-family: Microsoft YaHei; font-size: 16px;"&gt;其实我们发现：技术能力是很重要，解决问题的思路同样重要。所以，以此类推，我们用这样的思维去破案，也可以：根据现场，找出线索，然后收集证据，然后抓嫌疑犯&amp;hellip;.&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="font-family: Microsoft YaHei; font-size: 16px;"&gt;同样，医生看病也是这个思路&amp;hellip;..&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="font-family: Microsoft YaHei; font-size: 16px;"&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="font-family: Microsoft YaHei; font-size: 16px;"&gt;所以，很多的技术人员看中的是技术本身，没有跳出这个思维，最后看到的面就比较窄。&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="font-family: Microsoft YaHei; font-size: 16px;"&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="font-family: Microsoft YaHei; font-size: 16px;"&gt;有朋友告诉我，他们在面试的时候分不同的层面，初级的人员，面试基本的编程知识；中级的就面试一些比较深的，偏架构，或者底层的知识；高级的，就看看他解决问题的思路，还有人品。&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;p&gt;&lt;span style="font-family: Microsoft YaHei; font-size: 16px;"&gt;&amp;nbsp;&lt;span style="font-family: 'Microsoft YaHei'; font-size: 16px;"&gt;[&lt;strong&gt;&lt;span style="font-family: 'Microsoft YaHei'; font-size: 16px;"&gt;加入我们：&lt;span style="font-family: 'Microsoft YaHei'; font-size: 16px;"&gt;&lt;a href="http://www.lagou.com/jobs/31029.html?source=search" target="_blank"&gt;http://www.lagou.com/jobs/31029.html?source=search&lt;/a&gt;&lt;/span&gt;&lt;/span&gt;&lt;/strong&gt;]&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;p&gt;&lt;span style="font-family: Microsoft YaHei; font-size: 16px;"&gt;哟，一不小心，有唠叨了这么多，剩下的后续在讲吧。再次感谢大家！&lt;/span&gt;&lt;/p&gt;&lt;/div&gt;&lt;div id="MySignature"&gt;&lt;/div&gt;
&lt;div class="clear"&gt;&lt;/div&gt;
&lt;div id="blog_post_info_block"&gt;
&lt;div id="BlogPostCategory"&gt;&lt;/div&gt;
&lt;div id="EntryTag"&gt;&lt;/div&gt;
&lt;div id="blog_post_info"&gt;
&lt;/div&gt;
&lt;div class="clear"&gt;&lt;/div&gt;
&lt;div id="post_next_prev"&gt;&lt;/div&gt;
&lt;/div&gt;


		&lt;/div&gt;
		&lt;div class="postDesc"&gt;posted @ &lt;span id="post-date"&gt;2014-09-10 11:39&lt;/span&gt; &lt;a href='http://www.cnblogs.com/yanyangtian/'&gt;小洋（燕洋天）&lt;/a&gt; 阅读(&lt;span id="post_view_count"&gt;...&lt;/span&gt;) 评论(&lt;span id="post_comment_count"&gt;...&lt;/span&gt;)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3964099" rel="nofollow"&gt;编辑&lt;/a&gt; &lt;a href="#" onclick="AddToWz(3964099);return false;"&gt;收藏&lt;/a&gt;&lt;/div&gt;
	&lt;/div&gt;
	&lt;script type="text/javascript"&gt;var allowComments=true,isLogined=false,cb_blogId=40700,cb_entryId=3964099,cb_blogApp=currentBlogApp,cb_blogUserGuid='5048420b-63cf-dd11-9e4d-001cf0cd104b',cb_entryCreatedDate='2014/9/10 11:39:00';loadViewCount(cb_entryId);&lt;/script&gt;
	
&lt;/div&gt;&lt;!--end: topics 文章、评论容器--&gt;
&lt;a name="!comments"&gt;&lt;/a&gt;&lt;div id="blog-comments-placeholder"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;var commentManager = new blogCommentManager();commentManager.renderComments(0);&lt;/script&gt;
&lt;div id="comment_form" class="commentform"&gt;
&lt;a name="commentform"&gt;&lt;/a&gt;
&lt;div id="divCommentShow"&gt;&lt;/div&gt;
&lt;div id="comment_nav"&gt;&lt;span id="span_refresh_tips"&gt;&lt;/span&gt;&lt;a href="javascript:void(0);" id="lnk_RefreshComments" onclick="return RefreshCommentList();"&gt;刷新评论&lt;/a&gt;&lt;a href="#" onclick="return RefreshPage();"&gt;刷新页面&lt;/a&gt;&lt;a href="#top"&gt;返回顶部&lt;/a&gt;&lt;/div&gt;
&lt;div id="comment_form_container"&gt;&lt;/div&gt;
&lt;div class="ad_text_commentbox" id="ad_text_under_commentbox"&gt;&lt;/div&gt;
&lt;div id="site_nav_under"&gt;&lt;a href="http://www.cnblogs.com/" target="_blank" title="开发者的网上家园"&gt;博客园首页&lt;/a&gt;&lt;a href="http://q.cnblogs.com/" target="_blank" title="程序员问答社区"&gt;博问&lt;/a&gt;&lt;a href="http://news.cnblogs.com/" target="_blank" title="IT新闻"&gt;新闻&lt;/a&gt;&lt;a href="http://home.cnblogs.com/ing/" target="_blank"&gt;闪存&lt;/a&gt;&lt;a href="http://job.cnblogs.com/" target="_blank"&gt;程序员招聘&lt;/a&gt;&lt;a href="http://kb.cnblogs.com/" target="_blank"&gt;知识库&lt;/a&gt;&lt;/div&gt;
&lt;div id="opt_under_post"&gt;&lt;/div&gt;
&lt;script type="text/javascript"&gt;
    var enableGoogleAd = canShowAdsense(); var googletag = googletag || {}; googletag.cmd = googletag.cmd || [];
    fixPostBodyFormat();
&lt;/script&gt;
&lt;div id="ad_under_post_holder"&gt;
&lt;script type='text/javascript'&gt;
    var googletag = googletag || {};
    googletag.cmd = googletag.cmd || [];
    (function () {
        if (enableGoogleAd) {
            var gads = document.createElement('script');
            gads.async = true;
            gads.type = 'text/javascript';
            var useSSL = 'https:' == document.location.protocol;
            gads.src = (useSSL ? 'https:' : 'http:') + '//www.googletagservices.com/tag/js/gpt.js';
            var node = document.getElementsByTagName('script')[0];
            node.parentNode.insertBefore(gads, node);
        }
    })();
&lt;/script&gt;
&lt;script type='text/javascript'&gt;
    try {
        if (enableGoogleAd) {
            googletag.cmd.push(function () {
                googletag.defineSlot('/1090369/cnblogs_blogpost_C1_sitehome', [300, 250], 'div-gpt-ad-1346480159711-0').addService(googletag.pubads());
                googletag.pubads().enableSingleRequest();
                googletag.enableServices();
            });
        };
    } catch (e) { }
&lt;/script&gt;
&lt;div id="google_ad_c1" class="c_ad_block"&gt;
    &lt;div id='div-gpt-ad-1346480159711-0' style='width:300px; height:250px;'&gt;
    &lt;script type='text/javascript'&gt;
        try {
            if (enableGoogleAd) {
                googletag.cmd.push(function () { googletag.display('div-gpt-ad-1346480159711-0'); });            
            } else {
                $('#div-gpt-ad-1346480159711-0').hide();
            }
    } catch (e) { }
    &lt;/script&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;div id="blog_news_kb"&gt;&lt;/div&gt;
&lt;div id="HistoryToday" class="c_ad_block"&gt;&lt;/div&gt;
&lt;script type="text/javascript"&gt;
$(function () {
    loadNewsAndKb();
    loadBlogSignature();
    LoadPostInfoBlock(cb_blogId, cb_entryId, cb_blogApp, cb_blogUserGuid);
    GetPrevNextPost(cb_entryId, cb_blogId, cb_entryCreatedDate);
    loadOptUnderPost();
    GetHistoryToday(cb_blogId, cb_blogApp, cb_entryCreatedDate);
    setTimeout(function () { incrementViewCount(cb_entryId); }, 200);
});
&lt;/script&gt;
&lt;/div&gt;

	&lt;/div&gt;&lt;!--end: forFlow --&gt;
	&lt;/div&gt;&lt;!--end: mainContent 主体内容容器--&gt;

	&lt;div id="sideBar"&gt;
		&lt;div id="sideBarMain"&gt;
			
&lt;!--done--&gt;
&lt;div class="newsItem"&gt;
&lt;h3 class="catListTitle"&gt;公告&lt;/h3&gt;
	&lt;div id="blog-news"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;loadBlogNews();&lt;/script&gt;
&lt;/div&gt;

			&lt;div id="calendar"&gt;&lt;div id="blog-calendar" style="display:none"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;loadBlogDefaultCalendar();&lt;/script&gt;&lt;/div&gt;
			
			&lt;div id="leftcontentcontainer"&gt;
				&lt;div id="blog-sidecolumn"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;loadBlogSideColumn();&lt;/script&gt;
			&lt;/div&gt;
			
		&lt;/div&gt;&lt;!--end: sideBarMain --&gt;
	&lt;/div&gt;&lt;!--end: sideBar 侧边栏容器 --&gt;
	&lt;div class="clear"&gt;&lt;/div&gt;
	&lt;/div&gt;&lt;!--end: main --&gt;
	&lt;div class="clear"&gt;&lt;/div&gt;
	&lt;div id="footer"&gt;
		
&lt;!--done--&gt;
Copyright &amp;copy;2014 小洋（燕洋天）
	&lt;/div&gt;&lt;!--end: footer --&gt;
&lt;/div&gt;&lt;!--end: home 自定义的最大容器 --&gt;
&lt;!--PageEndHtml Block Begin--&gt;
&lt;div style="width: 330px; height: 65px;font-size:50px;float:right;position:fixed;_position:absolute;bottom:0px;_bottom:10px;_margin-top:expression"&gt;&lt;a href="http://job.cnblogs.com/offer/35982"&gt;加入我们&lt;/a&gt;&lt;/div&gt;
&lt;!--PageEndHtml Block End--&gt;
&lt;/body&gt;
&lt;/html&gt;
</Html>
	<HtmlMetas i:nil="true" />
	<HtmlTitle i:nil="true" />
	<IsDefault>false</IsDefault>
	<Layout i:nil="true" />
	<Name>-yanyangtian-p-3964099.html</Name>
	<OutputCache i:nil="true" />
	<PageContents xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
	<Plugins xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<Published>false</Published>
	<RequireHttps>false</RequireHttps>
	<Routes>
		<PageRoute>
			<Defaults xmlns:d4p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
			<Identifier>/yanyangtian/p/3964099.html</Identifier>
			<RoutePath i:nil="true" />
		</PageRoute>
	</Routes>
	<Scripts i:nil="true" />
	<Site>
		<AbsoluteName xmlns="Ovaldi.Core.Models">Cnblogs</AbsoluteName>
	</Site>
	<Styles i:nil="true" />
	<UUID>-yanyangtian-p-3964099.html</UUID>
</Page>