<?xml version="1.0" encoding="utf-8"?>
<Page xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Ovaldi.Core.Models">
	<AbsoluteName>-zhouhongyu1989-</AbsoluteName>
	<CustomFields xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<EnableScript>true</EnableScript>
	<EnableTheming>true</EnableTheming>
	<Html>&lt;!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"&gt;
&lt;html xmlns="http://www.w3.org/1999/xhtml" lang="zh-cn"&gt;
&lt;head&gt;
&lt;meta http-equiv="Content-Type" content="text/html; charset=utf-8"&gt;
&lt;title&gt;我不会抽烟Oscar - 博客园&lt;/title&gt;
&lt;link type="text/css" rel="stylesheet" href="/preview~Cnblogs/Styles/bundles/blog-common.css"&gt;
&lt;link id="MainCss" type="text/css" rel="stylesheet" href="/preview~Cnblogs/Styles/skins/arrow/bundle-arrow.css"&gt;
&lt;link title="RSS" type="application/rss+xml" rel="alternate" href="http://www.cnblogs.com/zhouhongyu1989/rss"&gt;
&lt;link title="RSD" type="application/rsd+xml" rel="EditURI" href="http://www.cnblogs.com/zhouhongyu1989/rsd.xml"&gt;
&lt;link type="application/wlwmanifest+xml" rel="wlwmanifest" href="http://www.cnblogs.com/zhouhongyu1989/wlwmanifest.xml"&gt;
&lt;script src="http://common.cnblogs.com/script/jquery.js" type="text/javascript"&gt;&lt;/script&gt;  
&lt;script type="text/javascript"&gt;var currentBlogApp = 'zhouhongyu1989', cb_enable_mathjax=true;&lt;/script&gt;
&lt;script src="/preview~Cnblogs/Scripts/bundles/blog-common.js" type="text/javascript"&gt;&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;a name="top"&gt;&lt;/a&gt;

&lt;!--done--&gt;
&lt;div id="header"&gt;
	
&lt;!--done--&gt;
&lt;div class="header"&gt;
	&lt;div class="headerText"&gt;
		&lt;a id="Header1_HeaderTitle" class="headermaintitle" href="/preview~Cnblogs/zhouhongyu1989/"&gt;我不会抽烟Oscar&lt;/a&gt;&lt;br&gt;
		
	&lt;/div&gt;
&lt;/div&gt;

&lt;/div&gt;
&lt;div id="mylinks"&gt;
&lt;!--done--&gt;
&lt;a id="MyLinks1_HomeLink" class="menu" href="/preview~Cnblogs/"&gt;博客园&lt;/a&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;
&lt;a id="MyLinks1_MyHomeLink" class="menu" href="/preview~Cnblogs/zhouhongyu1989/"&gt;首页&lt;/a&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;
&lt;a id="MyLinks1_NewPostLink" class="menu" rel="nofollow" href="http://i.cnblogs.com/EditPosts.aspx?opt=1"&gt;新随笔&lt;/a&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;
&lt;a id="MyLinks1_ContactLink" accesskey="9" class="menu" rel="nofollow" href="http://space.cnblogs.com/msg/send/%e6%88%91%e4%b8%8d%e4%bc%9a%e6%8a%bd%e7%83%9fOscar"&gt;联系&lt;/a&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;
&lt;a id="MyLinks1_Syndication" class="menu" href="/preview~Cnblogs/zhouhongyu1989/rss"&gt;订阅&lt;/a&gt;&lt;a id="MyLinks1_XMLLink" href="http://www.cnblogs.com/zhouhongyu1989/rss"&gt;&lt;img src="/preview~Cnblogs/Images/images/xml.gif" alt="订阅"&gt;&lt;/a&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;
&lt;a id="MyLinks1_Admin" class="menu" rel="nofollow" href="http://i.cnblogs.com/"&gt;管理&lt;/a&gt;
&lt;/div&gt;
&lt;div id="mytopmenu"&gt;
	
		
&lt;div class="blogStats"&gt;随笔 - 18&amp;nbsp;
文章 - 0&amp;nbsp;评论 - 118&amp;nbsp;trackbacks - 0
&lt;/div&gt;
	
&lt;/div&gt;
&lt;div id="leftcontent"&gt;
	
		&lt;div id="leftcontentcontainer"&gt;
			&lt;div id="blog-calendar" style="display:none"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;loadBlogDefaultCalendar();&lt;/script&gt;&lt;br&gt;
			
&lt;!--done--&gt;
&lt;div class="newsItem"&gt;
	&lt;div id="blog-news"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;loadBlogNews();&lt;/script&gt;
&lt;/div&gt;

			&lt;div id="blog-sidecolumn"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;loadBlogSideColumn();&lt;/script&gt;&lt;/div&gt;		
	
&lt;/div&gt;
&lt;div id="centercontent"&gt;
	

&lt;!--done--&gt;


&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl00_ImageLink" title="Day link" href="/preview~Cnblogs/zhouhongyu1989/archive/2014/09/16.html"&gt;2014年9月16日&lt;/a&gt;
	&lt;/div&gt;

	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl00_DayList_TitleUrl_0" class="postTitle2" href="/preview~Cnblogs/zhouhongyu1989/p/3975097.html"&gt;jQuery $.post()返回类型为json时不进入回调函数的原因及解决方法&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="c_b_p_desc"&gt;摘要: 这真是个让人特别抓心找挠肝的问题，真的差点被这个问题逼的放弃去使用json作为返回类型，而是去用html，但是有的时候就是要较汁一下。（即便现在问题解决了，我还是想说句“妈蛋”，来发泄一下）其实主要还是自己对json的不够了解，但是很纳闷，网上对路的解决方法几乎没有。所以虽然问题很小，但是还是想要分...&lt;a href="/preview~Cnblogs/zhouhongyu1989/p/3975097.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-09-16 15:52 我不会抽烟Oscar 阅读(232) 评论(16)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3975097" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
		
&lt;/div&gt;

&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl01_ImageLink" title="Day link" href="/preview~Cnblogs/zhouhongyu1989/archive/2014/09/11.html"&gt;2014年9月11日&lt;/a&gt;
	&lt;/div&gt;

	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl01_DayList_TitleUrl_0" class="postTitle2" href="/preview~Cnblogs/zhouhongyu1989/p/3966423.html"&gt;jQuery 关于IE9上传文件无法进入后台问题的原因及解决办法（ajaxfileupload.js第四弹）&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="c_b_p_desc"&gt;摘要: 第四弹的诞生完全不在自己最初的计划之中，是有个网友看了先前关于《ajaxfileupload.js系列》的文章后提出的问题，由于自己一直是用chrome浏览器去测试demo，完全忽略IE浏览器（其实是故意的，懒得想浏览器兼容的问题，哈哈~），所以当我使用IE9去运行demo的时候，确实发现了同样的问...&lt;a href="/preview~Cnblogs/zhouhongyu1989/p/3966423.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-09-11 14:34 我不会抽烟Oscar 阅读(488) 评论(5)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3966423" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
		
&lt;/div&gt;

&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl02_ImageLink" title="Day link" href="/preview~Cnblogs/zhouhongyu1989/archive/2014/09/10.html"&gt;2014年9月10日&lt;/a&gt;
	&lt;/div&gt;

	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl02_DayList_TitleUrl_0" class="postTitle2" href="/preview~Cnblogs/zhouhongyu1989/p/3963748.html"&gt;jQuery 自制上传头像插件-附带Demo实例（ajaxfileupload.js第三弹）&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="c_b_p_desc"&gt;摘要: 这篇文章主要是对前两篇关于ajaxfileupload.js插件的文章《ASP.NET 使用ajaxfileupload.js插件出现上传较大文件失败的解决方法（ajaxfileupload.js第一弹）》《jQuery 关于ajaxfileupload.js插件的逐步解析（ajaxfileuplo...&lt;a href="/preview~Cnblogs/zhouhongyu1989/p/3963748.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-09-10 09:12 我不会抽烟Oscar 阅读(874) 评论(26)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3963748" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
		
&lt;/div&gt;

&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl03_ImageLink" title="Day link" href="/preview~Cnblogs/zhouhongyu1989/archive/2014/09/09.html"&gt;2014年9月9日&lt;/a&gt;
	&lt;/div&gt;

	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl03_DayList_TitleUrl_0" class="postTitle2" href="/preview~Cnblogs/zhouhongyu1989/p/3962046.html"&gt;jQuery 关于ajaxfileupload.js插件的逐步解析（ajaxfileupload.js第二弹）&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="c_b_p_desc"&gt;摘要: 如果你看了上一篇《ASP.NET 使用ajaxfileupload.js插件出现上传较大文件失败的解决方法（ajaxfileupload.js第一弹）》的话，应该就知道我是逼不得已要认真学习下ajaxfileupload.js这个上传文件插件的。哈哈，开个玩笑啦，其实学习是给自己学的，而且学会了真的...&lt;a href="/preview~Cnblogs/zhouhongyu1989/p/3962046.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-09-09 09:11 我不会抽烟Oscar 阅读(667) 评论(0)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3962046" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
		
&lt;/div&gt;

&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl04_ImageLink" title="Day link" href="/preview~Cnblogs/zhouhongyu1989/archive/2014/09/05.html"&gt;2014年9月5日&lt;/a&gt;
	&lt;/div&gt;

	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl04_DayList_TitleUrl_0" class="postTitle2" href="/preview~Cnblogs/zhouhongyu1989/p/3957856.html"&gt;ASP.NET 使用ajaxfileupload.js插件出现上传较大文件失败的解决方法（ajaxfileupload.js第一弹）&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="c_b_p_desc"&gt;摘要: 在写这篇的时候本来想把标题直接写成报错的提示，如下：“SecurityError：Blocked a frame with origin &amp;quot;http://localhost:55080&amp;quot; from accessing a cross-origin frame.”但是有点长，会显示不全，就想还是换一下...&lt;a href="/preview~Cnblogs/zhouhongyu1989/p/3957856.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-09-05 13:18 我不会抽烟Oscar 阅读(717) 评论(2)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3957856" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
		
&lt;/div&gt;

&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl05_ImageLink" title="Day link" href="/preview~Cnblogs/zhouhongyu1989/archive/2014/08/29.html"&gt;2014年8月29日&lt;/a&gt;
	&lt;/div&gt;

	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl05_DayList_TitleUrl_0" class="postTitle2" href="/preview~Cnblogs/zhouhongyu1989/p/3944847.html"&gt;jQuery 表格中实现“删除线”的增进方法&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="c_b_p_desc"&gt;摘要: 之前做了一个删除线的效果，就是类似这样的，在内容的中间加一条线。 但是又有点不同的是，这种删除线不是单纯的在文字之上，而是给一个Table中的一行加上这种删除线效果。这里有两个方法，是在不同时期写的，第一个有些缺陷，第二个在第一个基础上要好很多，目前没有发现什么缺陷吧。直接上代码吧页面内容： ...&lt;a href="/preview~Cnblogs/zhouhongyu1989/p/3944847.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-08-29 14:15 我不会抽烟Oscar 阅读(114) 评论(0)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3944847" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
		
&lt;/div&gt;

&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl06_ImageLink" title="Day link" href="/preview~Cnblogs/zhouhongyu1989/archive/2014/08/20.html"&gt;2014年8月20日&lt;/a&gt;
	&lt;/div&gt;

	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl06_DayList_TitleUrl_0" class="postTitle2" href="/preview~Cnblogs/zhouhongyu1989/p/3924840.html"&gt;Skype坑爹报错:“旧版本无法删除，请联络您的技术支持小组 ”的解决办法&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="c_b_p_desc"&gt;摘要: 真是恶心的让人想吐的报错。现在终于解决了，跟大家分享一下方法。先给问题截个图，如下首先当我去搜解决办法之前，我已经在【控制面板】的【卸载程序】里把Skype删除了，真是让我后悔不已的操作啊！！因为通常这种卸载方式我们都知道不会那么干净利索，而我为了图方便，又把Skype看得没有那么变态，故做了这个操...&lt;a href="/preview~Cnblogs/zhouhongyu1989/p/3924840.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-08-20 16:00 我不会抽烟Oscar 阅读(545) 评论(0)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3924840" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
		
&lt;/div&gt;

&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl07_ImageLink" title="Day link" href="/preview~Cnblogs/zhouhongyu1989/archive/2014/08/07.html"&gt;2014年8月7日&lt;/a&gt;
	&lt;/div&gt;

	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl07_DayList_TitleUrl_0" class="postTitle2" href="/preview~Cnblogs/zhouhongyu1989/p/3896262.html"&gt;ASP.NET Button控件的UseSubmitBehavior属性引发的血案&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="c_b_p_desc"&gt;摘要: 这里先不说标题上的UseSubmitBehavior属性是什么，先说下面这种情况。通常，在我们写一个表单页面的时候，最下方会有“提交”和“返回”字样的两个按钮。顾名思义，它们的功能大家都知道，但是一般情况下我们会给表单的内容加上一些验证，这样就出现了一个问题。因为两个按钮是服务器控件（有runat=...&lt;a href="/preview~Cnblogs/zhouhongyu1989/p/3896262.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-08-07 09:16 我不会抽烟Oscar 阅读(583) 评论(1)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3896262" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
		
&lt;/div&gt;

&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl08_ImageLink" title="Day link" href="/preview~Cnblogs/zhouhongyu1989/archive/2014/08/06.html"&gt;2014年8月6日&lt;/a&gt;
	&lt;/div&gt;

	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl08_DayList_TitleUrl_0" class="postTitle2" href="/preview~Cnblogs/zhouhongyu1989/p/3894006.html"&gt;ASP.NET 表单验证方法与客户端(浏览器)服务器交互机制的故事&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="c_b_p_desc"&gt;摘要: 想到这个问题完全是一个意外吧，是在寻找另外一个问题答案的过程中，才对验证方法与浏览器服务器交互机制的关系有了清晰的认识。 先说下验证方法，验证方法分为前台验证和后台验证。 前台验证就是类似jQuery.Validate这类的插件，当然也可以我们自己写。 后台验证就是ASP.NET自带的验证控件，如RequiredFieldValidator。 记得初学.NET的时候，那会儿接触验证控件，也...&lt;a href="/preview~Cnblogs/zhouhongyu1989/p/3894006.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-08-06 10:56 我不会抽烟Oscar 阅读(652) 评论(8)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3894006" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
		
&lt;/div&gt;

&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl09_ImageLink" title="Day link" href="/preview~Cnblogs/zhouhongyu1989/archive/2014/07/29.html"&gt;2014年7月29日&lt;/a&gt;
	&lt;/div&gt;

	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl09_DayList_TitleUrl_0" class="postTitle2" href="/preview~Cnblogs/zhouhongyu1989/p/3875111.html"&gt;ASP.NET 如何做出简单的验证码&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="c_b_p_desc"&gt;摘要: 如果说要做验证码，那不得不提的就是GDI+绘图了。我们都知道验证码是以图片形式展示的，而且是动态生成的，这样就需要我们去画出它。科普一下，什么是GDI+？GDI+是图形设备接口（GDI）的高级版本， 提供了各种丰富的图形图像处理功能。GDI+主要由二维矢量图形、图像处理和版式3部分组成。GDI+为使...&lt;a href="/preview~Cnblogs/zhouhongyu1989/p/3875111.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-07-29 11:27 我不会抽烟Oscar 阅读(1166) 评论(6)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3875111" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
		
&lt;/div&gt;
&lt;div class="topicListFooter"&gt;&lt;a href="/preview~Cnblogs/zhouhongyu1989/default.html"&gt;仅列出标题&lt;/a&gt;&amp;nbsp;&amp;nbsp;&lt;a href="http://www.cnblogs.com/zhouhongyu1989/default.html?page=2"&gt;下一页&lt;/a&gt;&lt;/div&gt;


	
&lt;!--done--&gt;
&lt;div class="footer"&gt;
	
	Copyright &amp;copy;2014 我不会抽烟Oscar Powered by: &lt;a href="http://www.cnblogs.com/" class="footerlink"&gt;博客园&lt;/a&gt; 模板提供：&lt;a href="http://blog.hjenglish.com" class="footerlink"&gt;沪江博客&lt;/a&gt;&lt;br&gt;
&lt;/div&gt;
&lt;/div&gt;



&lt;/body&gt;
&lt;/html&gt;
</Html>
	<HtmlMetas i:nil="true" />
	<HtmlTitle i:nil="true" />
	<IsDefault>false</IsDefault>
	<Layout i:nil="true" />
	<Name>-zhouhongyu1989-</Name>
	<OutputCache i:nil="true" />
	<PageContents xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
	<Plugins xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<Published>false</Published>
	<RequireHttps>false</RequireHttps>
	<Routes>
		<PageRoute>
			<Defaults xmlns:d4p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
			<Identifier>/zhouhongyu1989/</Identifier>
			<RoutePath i:nil="true" />
		</PageRoute>
	</Routes>
	<Scripts i:nil="true" />
	<Site>
		<AbsoluteName xmlns="Ovaldi.Core.Models">Cnblogs</AbsoluteName>
	</Site>
	<Styles i:nil="true" />
	<UUID>-zhouhongyu1989-</UUID>
</Page>