<?xml version="1.0" encoding="utf-8"?>
<Page xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Ovaldi.Core.Models">
	<AbsoluteName>-docs-kooboo-cms-installation-guide-1</AbsoluteName>
	<CustomFields xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<EnableScript>true</EnableScript>
	<EnableTheming>true</EnableTheming>
	<Html>&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
    &lt;meta charset="utf-8"&gt;
    &lt;title&gt;Documentation | kooboo.com&lt;/title&gt;
    
    &lt;link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700,800" rel="stylesheet"&gt;
    &lt;link rel="Stylesheet" href="/preview~kooboo/Styles/Kooboo-WebResource/Index/jQuery-Styles/20130227" type="text/css"&gt;
&lt;link type="text/css" rel="stylesheet" href="/preview~kooboo/Styles/Kooboo_COM_V4/Kooboo-Resource/theme/1_0_0_20131217100901/true/Default"&gt;
&lt;!--[if lte IE 8]&gt;&lt;link rel="stylesheet" type="text/css" href="/Cms_Data/Sites/Kooboo_COM_V4/Themes/Default/ie.css" /&gt;&lt;![endif]--&gt;

    &lt;!--[if lt IE 9]&gt;&lt;script src="/Cms_Data/Sites/Kooboo_COM_V4/Files/js/html5.js"&gt;&lt;/script&gt;&lt;![endif]--&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;div id="body-container"&gt;
        &lt;header id="header"&gt;
            &lt;div class="container"&gt;
                &lt;div class="top"&gt;
                    &lt;div class="global-width clearfix"&gt;
                        &lt;h1 class="logo"&gt;&lt;a href="/"&gt;
                            &lt;img src="/preview~kooboo/Images/Cms_Data/Sites/Kooboo_COM_V4/Files/image/logo.png" alt="Kooboo LOGO"&gt;&lt;/a&gt;&lt;/h1&gt;
                        &lt;nav class="nav"&gt;
                            

&lt;ul class="main"&gt;
               &lt;li class=''&gt;&lt;a class="icon home" href="/"&gt;&lt;span&gt;Home&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
               &lt;li class=''&gt;&lt;a href="/products/kooboo-cms" target=""&gt;Products&lt;/a&gt;&lt;/li&gt;
                 &lt;li class=''&gt;&lt;a href="/cases" target=""&gt;Cases&lt;/a&gt;&lt;/li&gt;
                &lt;li class='active'&gt;&lt;a href="/docs/kooboo-cms/all" target=""&gt;Docs&lt;/a&gt;&lt;/li&gt;
                 &lt;li class=''&gt;&lt;a href="/updates" target=""&gt;Updates&lt;/a&gt;&lt;/li&gt;
                 &lt;li class=''&gt;&lt;a href="http://kooboo.codeplex.com" target="_blank"&gt;Download&lt;/a&gt;&lt;/li&gt;
                 &lt;li class=''&gt;&lt;a href="http://forum.kooboo.com" target=""&gt;Forum&lt;/a&gt;&lt;/li&gt;
                 &lt;li class=''&gt;&lt;a href="/contact" target=""&gt;Contact&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
                            &lt;ul class="quicklinks"&gt;
    &lt;li&gt;&lt;a class="button orange border" href="http://online.kooboo.com" target="_blank"&gt;Online demo&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;

                        &lt;/nav&gt;
                    &lt;/div&gt;
                    &lt;div class="shadow"&gt;&lt;/div&gt;
                &lt;/div&gt;
                &lt;div class="global-width clearfix"&gt;
                    &lt;h2 class="page-title"&gt;Docs&lt;/h2&gt;

                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/header&gt;
        &lt;div id="main-container"&gt;
            
            &lt;div class="global-width clearfix"&gt;
                
                &lt;div id="main" class="right"&gt;
                    



    &lt;article class="article"&gt;
        &lt;header&gt;
            &lt;h2 class="title"&gt;Installation guide&lt;/h2&gt;
        &lt;/header&gt;
        &lt;div class="content clearfix"&gt;
            
                &lt;h3&gt;Installation guide&lt;/h3&gt;
&lt;p&gt;The latest installation files can always be found at: &lt;a href="http://kooboo.codeplex.com"&gt;http://kooboo.codeplex.com&lt;/a&gt;. The file name is&amp;nbsp;usually "kooboo_CMS.zip". Download and unzip it to a local folder.&lt;/p&gt;
&lt;p&gt;&lt;img src="/preview~kooboo/Images/Cms_Data/Contents/Kooboo_COM_V4/Media/Kooboo%20CMS%20User%20Manual%20New/Getting%20Started/Kooboo_cms_download_files.png"&gt;&lt;/p&gt;
&lt;p&gt;
&lt;h3&gt;&lt;strong&gt;Using Visual Studio.NET&lt;/strong&gt;&lt;/h3&gt;
&lt;p&gt;&lt;br&gt;The Koboo_CMS folder contains a standard ASP.NET MVC website. First start up your Visual Studio.NET 2010/2012. Then click on &lt;strong&gt;File&lt;/strong&gt; and select &lt;strong&gt;Open&lt;/strong&gt; --&amp;gt; &lt;strong&gt;Web Site&lt;/strong&gt;. Now you can start using Kooboo CMS. &lt;br&gt;&lt;br&gt;&lt;/p&gt;
&lt;p&gt;&lt;img src="/preview~kooboo/Images/Cms_Data/Contents/Kooboo_COM_V4/Media/Kooboo%20CMS%20User%20Manual%20New/Getting%20Started/Kooboo_cms_VSNET_open_website.png" width="636" height="188"&gt;&lt;/p&gt;
&lt;p&gt;
&lt;h3&gt;Using IIS&lt;/h3&gt;
&lt;p&gt;Alternatively, you can set up a website with IIS and print the root directory to the Kooboo_CMS folder. Make sure that your website can support ASP.NET MVC. In IIS 5 or 6, you might want to map the wildcard (*) extension to the ASP.NET ISAPI filter to make sure that ASP.NET MVC runs smoothly.&lt;/p&gt;
&lt;h3&gt;&lt;br&gt;Security setting&lt;/h3&gt;
&lt;p&gt;If you are setting up Kooboo CMS manually, make sure that IIS user has the read/write/execute rights to the CMS_Data folder.&lt;/p&gt;
&lt;p&gt;&lt;br&gt;Open your favorite browser and visit the website you just created. You can start using the Kooboo CMS now. Default username/password is: admin/admin&lt;/p&gt;
            
        &lt;/div&gt;
        &lt;footer class="clearfix"&gt;
                &lt;a class="button orange prev" href="/docs/kooboo-cms/kooboo_cms_getting_started"&gt;&lt;span&gt;Previous&lt;/span&gt;&lt;/a&gt;
                            &lt;a class="button orange next" href="/docs/kooboo-cms/kooboo-configuration"&gt;&lt;span&gt;Next&lt;/span&gt;&lt;/a&gt;
        &lt;/footer&gt;
    &lt;/article&gt;


&lt;script src="http://alexgorbatchev.com/pub/sh/current/scripts/shCore.js" type="text/javascript"&gt;&lt;/script&gt;
&lt;script src="http://alexgorbatchev.com/pub/sh/current/scripts/shAutoloader.js" type="text/javascript"&gt;&lt;/script&gt;

&lt;script type="text/javascript"&gt;
    $(function () {
        function path() {
            var args = arguments,
                result = []
            ;

            for (var i = 0; i &lt; args.length; i++)
                result.push(args[i].replace('/', 'http://alexgorbatchev.com/pub/sh/current/scripts/'));
            return result
        };

        SyntaxHighlighter.autoloader.apply(null, path(
          'applescript            /shBrushAppleScript.js',
          'actionscript3 as3      /shBrushAS3.js',
          'bash shell             /shBrushBash.js',
          'coldfusion cf          /shBrushColdFusion.js',
          'cpp c                  /shBrushCpp.js',
          'c# c-sharp csharp      /shBrushCSharp.js',
          'css                    /shBrushCss.js',
          'delphi pascal          /shBrushDelphi.js',
          'diff patch pas         /shBrushDiff.js',
          'erl erlang             /shBrushErlang.js',
          'groovy                 /shBrushGroovy.js',
          'java                   /shBrushJava.js',
          'jfx javafx             /shBrushJavaFX.js',
          'js jscript javascript  /shBrushJScript.js',
          'perl pl                /shBrushPerl.js',
          'php                    /shBrushPhp.js',
          'text plain             /shBrushPlain.js',
          'py python              /shBrushPython.js',
          'ruby rails ror rb      /shBrushRuby.js',
          'sass scss              /shBrushSass.js',
          'scala                  /shBrushScala.js',
          'sql                    /shBrushSql.js',
          'vb vbnet               /shBrushVb.js',
          'xml xhtml xslt html    /shBrushXml.js'
        ));
        SyntaxHighlighter.all();
    });
&lt;/script&gt;

                &lt;/div&gt;
                &lt;aside id="sidebar" class="left"&gt;
                    





&lt;div class="block menu"&gt;
    &lt;h6 class="title"&gt;User Manual&lt;/h6&gt;
        &lt;ol&gt;
            &lt;li class=""&gt;
                1. &lt;a href="/docs/kooboo-cms/kooboo_cms_getting_started" target=""&gt;Getting started &lt;/a&gt;
                    &lt;ol&gt;
            &lt;li class=""&gt;
                1.1. &lt;a href="/docs/kooboo-cms/installation-guide-1" target=""&gt;Installation guide&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                1.2. &lt;a href="/docs/kooboo-cms/kooboo-configuration" target=""&gt; Additional configuration options&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                1.3. &lt;a href="/docs/kooboo-cms/-upgrading" target=""&gt; Upgrading&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                1.4. &lt;a href="/docs/kooboo-cms/kooboo-development-concepts" target=""&gt;Kooboo development concepts&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                1.5. &lt;a href="/docs/kooboo-cms/using-samplesite-template" target=""&gt;Using the SampleSite Template&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                1.6. &lt;a href="/docs/kooboo-cms/developing-your-first-kooboo-cms-website-part-i-" target=""&gt;Develope your first Kooboo website (part I)&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                1.7. &lt;a href="/docs/kooboo-cms/developing-your-first-kooboo-cms-website-part-ii-" target=""&gt;Develope your first Kooboo website (part II)&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                2. &lt;a href="/docs/kooboo-cms/content-management-1" target=""&gt;Content management&lt;/a&gt;
                    &lt;ol&gt;
            &lt;li class=""&gt;
                2.1. &lt;a href="/docs/kooboo-cms/content-type-management" target=""&gt;Content type management&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                2.2. &lt;a href="/docs/kooboo-cms/media-library" target=""&gt;Media library&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                2.3. &lt;a href="/docs/kooboo-cms/folder-management" target=""&gt;Folder management&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                2.4. &lt;a href="/docs/kooboo-cms/content-management-2" target=""&gt;Text Content management&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                2.5. &lt;a href="/docs/kooboo-cms/inline-editing-2" target=""&gt;Inline editing&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                2.6. &lt;a href="/docs/kooboo-cms/workflow" target=""&gt;Workflow&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                2.7. &lt;a href="/docs/kooboo-cms/content-broadcasting-and-sharing" target=""&gt;Content broadcasting and sharing&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                3. &lt;a href="/docs/kooboo-cms/kooboo_web_development" target=""&gt;Web development&lt;/a&gt;
                    &lt;ol&gt;
            &lt;li class=""&gt;
                3.1. &lt;a href="/docs/kooboo-cms/system" target=""&gt;System&lt;/a&gt;
                    &lt;ol&gt;
            &lt;li class=""&gt;
                3.1.1. &lt;a href="/docs/kooboo-cms/site-setting" target=""&gt;Site settings&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                3.1.2. &lt;a href="/docs/kooboo-cms/site-users" target=""&gt;Site users&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                3.1.3. &lt;a href="/docs/kooboo-cms/custom-errors" target=""&gt;Custom errors&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                3.1.4. &lt;a href="/docs/kooboo-cms/url-redirects" target=""&gt;Url redirects&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                3.1.5. &lt;a href="/docs/kooboo-cms/robots-txt" target=""&gt;Robots.txt&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                3.1.6. &lt;a href="/docs/kooboo-cms/system-diagnosis" target=""&gt;System diagnosis&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                3.2. &lt;a href="/docs/kooboo-cms/kooboo_development" target=""&gt;Development&lt;/a&gt;
                    &lt;ol&gt;
            &lt;li class=""&gt;
                3.2.1. &lt;a href="/docs/kooboo-cms/layouts" target=""&gt;Layouts&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                3.2.2. &lt;a href="/docs/kooboo-cms/views" target=""&gt;Views&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                3.2.3. &lt;a href="/docs/kooboo-cms/labels" target=""&gt;Labels&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                3.2.4. &lt;a href="/docs/kooboo-cms/scripts" target=""&gt;Scripts&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                3.2.5. &lt;a href="/docs/kooboo-cms/theme" target=""&gt;Theme&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                3.2.6. &lt;a href="/docs/kooboo-cms/custom-files" target=""&gt;Custom files&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                3.2.7. &lt;a href="/docs/kooboo-cms/page-mapping" target=""&gt;Page mapping&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                3.3. &lt;a href="/docs/kooboo-cms/add_pages" target=""&gt;Add pages&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                3.4. &lt;a href="/docs/kooboo-cms/page-settings" target=""&gt;Page settings&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                3.5. &lt;a href="/docs/kooboo-cms/module_development_43" target=""&gt;Module development (for v 4.3 or up)&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                3.6. &lt;a href="/docs/kooboo-cms/module-development" target=""&gt;Module development ( v. 4.2 or earlier)&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                3.7. &lt;a href="/docs/kooboo-cms/page-plugin-development" target=""&gt;Page plugin development&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                3.8. &lt;a href="/docs/kooboo-cms/new-extension-development" target=""&gt;New extension development&lt;/a&gt;
                    &lt;ol&gt;
            &lt;li class=""&gt;
                3.8.1. &lt;a href="/docs/kooboo-cms/ab-test-rule" target=""&gt;AB test rule&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                3.8.2. &lt;a href="/docs/kooboo-cms/content-events" target=""&gt;Content events&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                3.8.3. &lt;a href="/docs/kooboo-cms/submission-plug-in-development" target=""&gt;Submission plug-in development&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                3.8.4. &lt;a href="/docs/kooboo-cms/page-plug-in-development" target=""&gt;page plug-in development&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                3.8.5. &lt;a href="/docs/kooboo-cms/module_development_using_extension_template" target=""&gt;Module development&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                3.8.6. &lt;a href="/docs/kooboo-cms/advanced-module-concepts" target=""&gt;Advanced module concepts&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                4. &lt;a href="/docs/kooboo-cms/technical-articles" target=""&gt;Technical articles&lt;/a&gt;
                    &lt;ol&gt;
            &lt;li class=""&gt;
                4.1. &lt;a href="/docs/kooboo-cms/using-visual-studio-net" target=""&gt;Using Visual Studio.NET 2010/2012&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                4.2. &lt;a href="/docs/kooboo-cms/kooboo-multi-sites-solution" target=""&gt;Kooboo multi site solution&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                4.3. &lt;a href="/docs/kooboo-cms/switching-content-database" target=""&gt;Switching content database&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                4.4. &lt;a href="/docs/kooboo-cms/migrate-from-kooboo-cms-2-0-to-3-0" target=""&gt;Migrate from Kooboo CMS 2.0 to 3.0&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                4.5. &lt;a href="/docs/kooboo-cms/kooboo-cms-load-balance" target=""&gt;Kooboo CMS load balance&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                4.6. &lt;a href="/docs/kooboo-cms/deploy-kooboo-on-microsoft-azure-platform" target=""&gt;Deploy Kooboo on Microsoft Azure platform&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                4.7. &lt;a href="/docs/kooboo-cms/faq" target=""&gt;Some frequent asked questions&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                4.8. &lt;a href="/docs/kooboo-cms/faq2" target=""&gt;Another frequent asked questions&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                5. &lt;a href="/docs/kooboo-cms/kooboo-products-and-raodmap" target=""&gt;Kooboo products and raodmap&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
    &lt;/ol&gt;

&lt;/div&gt;

                &lt;/aside&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;footer id="footer"&gt;
            
            &lt;div class="global-width clearfix"&gt;
    &lt;div class="columns clearfix"&gt;
        &lt;div class="span5"&gt;
            &lt;div class="block about"&gt;
                &lt;h6 class="title"&gt;About&lt;/h6&gt;
                &lt;div class="content"&gt;&lt;p&gt;Kooboo is an international web development firm with its core development team based in China.&amp;nbsp; Kooboo contains products and practices to meet all your web development needs, allowing you complete freedom in development.&amp;nbsp; Kooboo comprises Kooboo products (Design tools, CMS, Ecommerce, and Newsletters), Kooboo people, Kooboo service, and Kooboo network.&lt;/p&gt;&lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="span3"&gt;
            &lt;div class="block links"&gt;
                &lt;h6 class="title"&gt;Links&lt;/h6&gt;
                &lt;ul&gt;
                    &lt;li&gt;&lt;a href=""&gt;Home&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a href="/licensefaq"&gt;License&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a href="http://forum.kooboo.com" target="_blank"&gt;Community Forum&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a href="/privacy-policy"&gt;Privacy Policy&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a href="/service"&gt;Service&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a href="/partner"&gt;Partner Network&lt;/a&gt;&lt;/li&gt;
                &lt;/ul&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="span4"&gt;
            &lt;div class="block updates"&gt;
    &lt;h6 class="title"&gt;Updates&lt;/h6&gt;
    &lt;ul&gt;
            &lt;li&gt;
                &lt;a href="/updates/detail/dutch-consulate-general-visits-kooboo-office" target=""&gt;Dutch Consulate General visits Kooboo office&lt;/a&gt;
                &lt;span class="date"&gt;December 10, 2013&lt;/span&gt;
            &lt;/li&gt;
            &lt;li&gt;
                &lt;a href="/updates/detail/kooboo-developers-to-sweden" target=""&gt;Kooboo developers to Sweden&lt;/a&gt;
                &lt;span class="date"&gt;May 5, 2013&lt;/span&gt;
            &lt;/li&gt;
            &lt;li&gt;
                &lt;a href="/updates/detail/kooboo-show-case-from-rb2-partner" target=""&gt;Kooboo showcase from rb2 partner&lt;/a&gt;
                &lt;span class="date"&gt;February 23, 2013&lt;/span&gt;
            &lt;/li&gt;
    &lt;/ul&gt;
&lt;/div&gt;

        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;div class="bottom"&gt;
    &lt;div class="global-width clearfix"&gt;
        &lt;p class="copyright"&gt;&amp;copy;Copyright 2009 - 2014 &lt;a href="/"&gt;Kooboo team&lt;/a&gt; All Rights Reserved.&lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;

        &lt;/footer&gt;
    &lt;/div&gt;
    &lt;script src="/preview~kooboo/Scripts/Kooboo-WebResource/Index/jQuery/20130227" type="text/javascript"&gt;&lt;/script&gt;
&lt;script type="text/javascript" src="/preview~kooboo/Scripts/Kooboo_COM_V4/Kooboo-Resource/scripts/1_0_0_20131217100901/True"&gt;&lt;/script&gt;

&lt;/body&gt;
&lt;/html&gt;
</Html>
	<HtmlMetas i:nil="true" />
	<HtmlTitle i:nil="true" />
	<IsDefault>false</IsDefault>
	<Layout i:nil="true" />
	<Name>-docs-kooboo-cms-installation-guide-1</Name>
	<OutputCache i:nil="true" />
	<PageContents xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
	<Plugins xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<Published>false</Published>
	<RequireHttps>false</RequireHttps>
	<Routes>
		<PageRoute>
			<Defaults xmlns:d4p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
			<Identifier>/docs/kooboo-cms/installation-guide-1</Identifier>
			<RoutePath i:nil="true" />
		</PageRoute>
	</Routes>
	<Scripts i:nil="true" />
	<Site>
		<AbsoluteName xmlns="Ovaldi.Core.Models">kooboo</AbsoluteName>
	</Site>
	<Styles i:nil="true" />
	<UUID>-docs-kooboo-cms-installation-guide-1</UUID>
</Page>