<?xml version="1.0" encoding="utf-8"?>
<Page xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Ovaldi.Core.Models">
	<AbsoluteName>-powertoolsteam-</AbsoluteName>
	<CustomFields xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<EnableScript>true</EnableScript>
	<EnableTheming>true</EnableTheming>
	<Html>&lt;!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"&gt;
&lt;html xmlns="http://www.w3.org/1999/xhtml" lang="zh-cn"&gt;
&lt;head&gt;
&lt;meta http-equiv="Content-Type" content="text/html; charset=utf-8"&gt;
&lt;title&gt;葡萄城控件技术团队 - 博客园&lt;/title&gt;
&lt;link type="text/css" rel="stylesheet" href="/preview~Cnblogs/Styles/bundles/blog-common.css"&gt;
&lt;link type="text/css" rel="stylesheet" href="/preview~Cnblogs/Styles/blog/customcss/71844.css"&gt;
&lt;link title="RSS" type="application/rss+xml" rel="alternate" href="http://www.cnblogs.com/powertoolsteam/rss"&gt;
&lt;link title="RSD" type="application/rsd+xml" rel="EditURI" href="http://www.cnblogs.com/powertoolsteam/rsd.xml"&gt;
&lt;link type="application/wlwmanifest+xml" rel="wlwmanifest" href="http://www.cnblogs.com/powertoolsteam/wlwmanifest.xml"&gt;
&lt;script src="http://common.cnblogs.com/script/jquery.js" type="text/javascript"&gt;&lt;/script&gt;  
&lt;script type="text/javascript"&gt;var currentBlogApp = 'powertoolsteam', cb_enable_mathjax=false;&lt;/script&gt;
&lt;script src="/preview~Cnblogs/Scripts/bundles/blog-common.js" type="text/javascript"&gt;&lt;/script&gt;
&lt;script src="/preview~Cnblogs/Scripts/skins/Nerium/bundle-Nerium.js" language="javascript" type="text/javascript"&gt;&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;a name="top"&gt;&lt;/a&gt;
&lt;div id="page_begin_html"&gt;&lt;/div&gt;&lt;script&gt;load_page_begin_html();&lt;/script&gt;

&lt;!--done--&gt;
&lt;div id="home"&gt;
&lt;div id="header"&gt;
	&lt;div id="blogTitle"&gt;
	&lt;a id="lnkBlogLogo" href="http://www.cnblogs.com/powertoolsteam/"&gt;&lt;img id="blogLogo" src="/preview~Cnblogs/Images/Skins/custom/images/logo.gif" alt="返回主页"&gt;&lt;/a&gt;			
		
&lt;!--done--&gt;
&lt;h1&gt;&lt;a id="Header1_HeaderTitle" class="headermaintitle" href="http://www.cnblogs.com/powertoolsteam/"&gt;葡萄城控件技术团队博客&lt;/a&gt;&lt;/h1&gt;
&lt;h2&gt;&lt;/h2&gt;



		
	&lt;/div&gt;&lt;!--end: blogTitle 博客的标题和副标题 --&gt;
	&lt;div id="navigator"&gt;
		
&lt;ul id="navList"&gt;
&lt;li&gt;&lt;a id="MyLinks1_HomeLink" class="menu" href="http://www.cnblogs.com/"&gt;博客园&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;/li&gt;
&lt;li&gt;&lt;a class="menu" href="http://q.cnblogs.com/"&gt;博问&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a class="menu" href="http://home.cnblogs.com/ing/"&gt;闪存&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a id="MyLinks1_NewPostLink" class="menu" rel="nofollow" href="http://i.cnblogs.com/EditPosts.aspx?opt=1"&gt;新随笔&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;/li&gt;
&lt;li&gt;&lt;a id="MyLinks1_Syndication" class="menu" href="http://www.cnblogs.com/powertoolsteam/rss"&gt;订阅&lt;/a&gt;
&lt;!--&lt;a id="MyLinks1_XMLLink" class="aHeaderXML" href="http://www.cnblogs.com/powertoolsteam/rss"&gt;&lt;img src="http://www.cnblogs.com/images/xml.gif" alt="订阅" /&gt;&lt;/a&gt;--&gt;&lt;/li&gt;
&lt;li&gt;&lt;a id="MyLinks1_Admin" class="menu" rel="nofollow" href="http://i.cnblogs.com/"&gt;管理&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
		&lt;div class="blogStats"&gt;
			
			
&lt;!--done--&gt;
随笔- 250&amp;nbsp;
文章- 0&amp;nbsp;
评论- 1880&amp;nbsp;

			
		&lt;/div&gt;&lt;!--end: blogStats --&gt;
	&lt;/div&gt;&lt;!--end: navigator 博客导航栏 --&gt;
&lt;/div&gt;&lt;!--end: header 头部 --&gt;

&lt;div id="main"&gt;
	&lt;div id="mainContent"&gt;
	&lt;div class="forFlow"&gt;
		

&lt;!--done--&gt;


&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_ctl00_ImageLink" href="http://www.cnblogs.com/powertoolsteam/"&gt;置顶随笔&lt;/a&gt;				  
	&lt;/div&gt;

	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_ctl00_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/powertoolsteam/p/RSS.html"&gt;[置顶]精华博文列表整理&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: &lt;div style="width: 300px; height: 150px; overflow: hidden; float: right;"&gt;
&lt;img class="desc_img" style="margin-top: -30px; margin-left: -20px; float: none;" src="http://images.cnitblog.com/blog/139239/201408/041001558651970.jpg"&gt;

&lt;/div&gt;
在开设《葡萄城控件技术团队博客》之初，我们的本意是为了和广大开发者分享我们的开发控件过程的经验和成果，交流技术理解和使用。 不经意间，四年过去了，截止目前，也积累约有230篇以上博客。但在上周和一些网友聊天中发现，由于对已发表的博客缺少一个精华的博文目录，导致无法把一些读者反响良好的博文以链接形式呈现出来。

故本置顶专为解决这个问题，凡是收录进来的博文符合要求：成系列的教程、能够通过系列文章学到东西、且阅读量靠前的。&lt;a href="http://www.cnblogs.com/powertoolsteam/p/RSS.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-08-04 09:00 葡萄城控件技术团队 阅读(763) 评论(3)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3889434" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
			&lt;div class="postSeparator"&gt;&lt;/div&gt;
		
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_ctl00_DayList_TitleUrl_1" class="postTitle2" href="http://www.cnblogs.com/powertoolsteam/p/Web_Interview_Framework.html"&gt;[置顶]程序员Web面试之前端框架等知识&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: &lt;div style="width:300px;height:150px;overflow:hidden;float:right"&gt;
&lt;img src="http://images.cnitblog.com/blog/139239/201407/031343271842685.png" class="desc_img" style="float:none; margin-top: -30px;margin-left: -40px;"&gt;
&lt;/div&gt;
基于前面2篇博客：
程序员Web面试之jQuery 
程序员Web面试之JSON 
您已经可以顺利进入Web开发的大门。

但是要动手干，还需要了解一些已有的前端框架、UI套件，即要站在巨人肩膀上而不是从轮子开始造汽车. 下面就Web开发用到的前端框架、UI套件、UI插件一一列举(排名不分先后）.&lt;a href="http://www.cnblogs.com/powertoolsteam/p/Web_Interview_Framework.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-07-03 13:45 葡萄城控件技术团队 阅读(2163) 评论(13)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3822223" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;


&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl00_ImageLink" href="http://www.cnblogs.com/powertoolsteam/archive/2014/09/16.html"&gt;2014年9月16日&lt;/a&gt;				  
	&lt;/div&gt;

	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl00_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/powertoolsteam/p/SpreadJs_Deadlock.html"&gt;异步陷阱之死锁篇&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: &lt;div style="width:300px;height:150px;overflow:hidden;float:right"&gt;
&lt;img src="http://images.cnitblog.com/blog/139239/201409/161136409871427.jpg" class="desc_img" style="float:none; margin-top: 0px;margin-left: 0px;"&gt;
&lt;/div&gt;

提倡异步编程旨在给用户更好的前端体验，但异步编程也让学习成本和犯错几率大大升高，其中最常见且最难处理的就是死锁。

何谓“死锁”，英文术语称“Deadlock”，当两个以上的运算单元，双方都在等待对方停止运行，以取得系统资源，但是没有一方提前退出时，这种状况，就称为死锁。​&lt;a href="http://www.cnblogs.com/powertoolsteam/p/SpreadJs_Deadlock.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-09-16 11:43 葡萄城控件技术团队 阅读(342) 评论(5)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3974559" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;


&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl01_ImageLink" href="http://www.cnblogs.com/powertoolsteam/archive/2014/09/10.html"&gt;2014年9月10日&lt;/a&gt;				  
	&lt;/div&gt;

	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl01_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/powertoolsteam/p/SpreadJs_IO.html"&gt;异步陷阱之IO篇&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: &lt;div style="width:300px;height:150px;overflow:hidden;float:right"&gt;
&lt;img src="http://images.cnitblog.com/blog/139239/201409/101025564966802.png" class="desc_img" style="float:none; margin-top: 0px;margin-left: 0px;"&gt;
&lt;/div&gt;

很多教程和资料都强调流畅的用户体验需要异步来辅助，核心思想就是保证用户前端的交互永远有最高的优先级，让一切费时的逻辑通通放到后台，等到诸事完备，通知一下前端给个提示或者继续下一步。随着.NET发展，async和await关键字的推广，Task Parallel Library （TPL）的稳步发展， 异步编程也越来越多的被重视和采用，很多时候非常便利的解决各种性能问题，但同时也带来了很多的陷阱。​​&lt;a href="http://www.cnblogs.com/powertoolsteam/p/SpreadJs_IO.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-09-10 10:36 葡萄城控件技术团队 阅读(872) 评论(4)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3963894" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;


&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl02_ImageLink" href="http://www.cnblogs.com/powertoolsteam/archive/2014/09/02.html"&gt;2014年9月2日&lt;/a&gt;				  
	&lt;/div&gt;

	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl02_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/powertoolsteam/p/Web_tips.html"&gt;一个Web页面的问题分析&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: &lt;div style="width:300px;height:150px;overflow:hidden;float:right"&gt;
&lt;img src="http://images.cnitblog.com/blog/139239/201409/011429097033712.png" class="desc_img" style="float:none; margin-top: 0px;margin-left: 0px;"&gt;
&lt;/div&gt;

几个月之前我接到一个新的开发任务，要在一个旧的Web页面上面增添一些新的功能。在开发的过程中发现旧的代码中有很多常见的不合适的写法，结合这些问题，如何写出更好的，更规范的，更可维护的代码，就是这篇文章要阐述的内容。&lt;a href="http://www.cnblogs.com/powertoolsteam/p/Web_tips.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-09-02 10:18 葡萄城控件技术团队 阅读(1556) 评论(18)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3949213" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;


&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl03_ImageLink" href="http://www.cnblogs.com/powertoolsteam/archive/2014/08/26.html"&gt;2014年8月26日&lt;/a&gt;				  
	&lt;/div&gt;

	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl03_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/powertoolsteam/p/ActiveReports_7Years.html"&gt;报表，是件容易的事吗？&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: &lt;div style="width:300px;height:150px;overflow:hidden;float:right"&gt;
&lt;img src="http://images.cnitblog.com/blog/139239/201408/261404123459370.png" class="desc_img" style="float:none; margin-top: -30px;margin-left: -40px;"&gt;
&lt;/div&gt;
ActiveReports的成长史，也见证了中国研发创新的历程：从远观，到参与，到主导。&lt;a href="http://www.cnblogs.com/powertoolsteam/p/ActiveReports_7Years.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-08-26 14:04 葡萄城控件技术团队 阅读(1206) 评论(8)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3937156" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;


&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl04_ImageLink" href="http://www.cnblogs.com/powertoolsteam/archive/2014/08/19.html"&gt;2014年8月19日&lt;/a&gt;				  
	&lt;/div&gt;

	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl04_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/powertoolsteam/p/ActiveReports_5mins.html"&gt;不用Visual Studio，5分钟轻松实现一张报表&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: &lt;div style="width:300px;height:150px;overflow:hidden;float:right"&gt;
&lt;img src="http://www.gcpowertools.com.cn/products/img/ar8//ar8_viewer_6.png" class="desc_img" style="float:none; margin-top: -30px;margin-left: -40px;"&gt;
&lt;/div&gt;

常规的报表设计，如RDLC、水晶报表等，需要安装Visual Studio，通过VS提供的报表设计界面来设计报表，通过VS设计报表对.NET开发者而言非常方便，但是对于非开发人员，要安装4G的一个VS，且需要一个License，则成本显得有点高。本文提供另外一种方法，不使用VS也可以设计报表。通过ActiveReports提供的免费报表设计器（绿色的exe可执行文件），我们也可以设计报表。&lt;a href="http://www.cnblogs.com/powertoolsteam/p/ActiveReports_5mins.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-08-19 13:36 葡萄城控件技术团队 阅读(2778) 评论(26)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3921438" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;


&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl05_ImageLink" href="http://www.cnblogs.com/powertoolsteam/archive/2014/08/13.html"&gt;2014年8月13日&lt;/a&gt;				  
	&lt;/div&gt;

	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl05_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/powertoolsteam/p/RequireJS_wijmo.html"&gt;提高性能：用RequireJS优化Wijmo Web页面&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: &lt;div style="width:300px;height:150px;overflow:hidden;float:right"&gt;
&lt;img src="http://images.cnitblog.com/blog/139239/201408/131434592025532.png" class="desc_img" style="float:none; margin-top: -30px;margin-left: -40px;"&gt;
&lt;/div&gt;
&lt;p&gt;上周&lt;a href="http://wijmo.gcpowertools.com.cn/"&gt;Wijmo 2014 V2版本&lt;/a&gt;刚刚发布(&lt;a href="http://www.gcpowertools.com.cn/products/download.aspx?pid=48"&gt;下载地址&lt;/a&gt;),&amp;nbsp; 有网友下载后发现仅仅使用了40个Widgets的一小部分，还需要加载全部的jquery.wijmo-pro.all.3.20142.45.min.js包？ 即对仅使用部分的Widget，有无办法优化而提高网络性能呢。&lt;a href="http://www.cnblogs.com/powertoolsteam/p/RequireJS_wijmo.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-08-13 14:40 葡萄城控件技术团队 阅读(714) 评论(1)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3910111" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;


&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl06_ImageLink" href="http://www.cnblogs.com/powertoolsteam/archive/2014/08/05.html"&gt;2014年8月5日&lt;/a&gt;				  
	&lt;/div&gt;

	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl06_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/powertoolsteam/p/VS2013_3.html"&gt;微软正式发布Visual Studio 2013 Update 3 (2013.3) RTM&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: &lt;div style="width: 300px; height: 150px; overflow: hidden; float: right;"&gt;
&lt;img class="desc_img" style="margin-top: -20px; float: none;" src="http://images.cnitblog.com/blog/139239/201408/051853193034327.jpg"&gt;

&lt;/div&gt;
Visual Studio 2013 Update 3除了修复Bug、解决用户反馈问题、对性能和稳定性进行完善之外，还对大量组件和功能进行了更新，涉及CodeLens、CodeMap、Debugger、性能和诊断、IntelliTrace、Windows Store应用、Visual Studio IDE、测试、发布管理、Web工具、Azure工具、C++、图形诊断、应用程序分析、ClickOnce部署、SharePoint应用等。&lt;a href="http://www.cnblogs.com/powertoolsteam/p/VS2013_3.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-08-05 18:57 葡萄城控件技术团队 阅读(1745) 评论(1)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3892977" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;


&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl07_ImageLink" href="http://www.cnblogs.com/powertoolsteam/archive/2014/08/04.html"&gt;2014年8月4日&lt;/a&gt;				  
	&lt;/div&gt;

	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl07_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/powertoolsteam/p/RSS.html"&gt;精华博文列表整理&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: &lt;div style="width: 300px; height: 150px; overflow: hidden; float: right;"&gt;
&lt;img class="desc_img" style="margin-top: -30px; margin-left: -20px; float: none;" src="http://images.cnitblog.com/blog/139239/201408/041001558651970.jpg"&gt;

&lt;/div&gt;
在开设《葡萄城控件技术团队博客》之初，我们的本意是为了和广大开发者分享我们的开发控件过程的经验和成果，交流技术理解和使用。 不经意间，四年过去了，截止目前，也积累约有230篇以上博客。但在上周和一些网友聊天中发现，由于对已发表的博客缺少一个精华的博文目录，导致无法把一些读者反响良好的博文以链接形式呈现出来。

故本置顶专为解决这个问题，凡是收录进来的博文符合要求：成系列的教程、能够通过系列文章学到东西、且阅读量靠前的。&lt;a href="http://www.cnblogs.com/powertoolsteam/p/RSS.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-08-04 09:00 葡萄城控件技术团队 阅读(763) 评论(3)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3889434" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;


&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl08_ImageLink" href="http://www.cnblogs.com/powertoolsteam/archive/2014/07/24.html"&gt;2014年7月24日&lt;/a&gt;				  
	&lt;/div&gt;

	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl08_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/powertoolsteam/p/Wijmo_SpreadSheet.html"&gt;【图解】Web前端实现类似Excel的电子表格&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: &lt;div style="width:300px;height:150px;overflow:hidden;float:right"&gt;
&lt;img src="http://images.cnitblog.com/blog/139239/201407/241714508691609.png" class="desc_img" style="float:none; margin-top: -10px;margin-left: -10px;"&gt;

&lt;/div&gt;
在本文中，我将用图解的方式用Wijmo（JavaScript库）中的SpreadJS来一步一步实现网页上的电子表格产品SpreadSheet(例如可构建Office 365 Excel产品、Google的在线SpreadSheet).&lt;a href="http://www.cnblogs.com/powertoolsteam/p/Wijmo_SpreadSheet.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-07-24 18:33 葡萄城控件技术团队 阅读(1968) 评论(20)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3866081" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;


&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl09_ImageLink" href="http://www.cnblogs.com/powertoolsteam/archive/2014/07/16.html"&gt;2014年7月16日&lt;/a&gt;				  
	&lt;/div&gt;

	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl09_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/powertoolsteam/p/WPC2014.html"&gt;微软 WPC 2014 合作伙伴keynote&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: &lt;div style="width:300px;height:150px;overflow:hidden;float:right"&gt;
&lt;img src="http://images.cnitblog.com/blog/139239/201407/161716458496429.jpg" class="desc_img" style="float:none; margin-top: -10px;margin-left: -10px;"&gt;

&lt;/div&gt;

本周一，2014 微软WPC 合作者伙伴大会在美国华盛顿开幕，微软除了介绍了Azure、云端化的Office 365和Windows Phone移动平台之外，还简单提及了下一代Windows操作系统Windows 9的发展规划。做为微软金牌合作伙伴的&lt;a title="葡萄城控件" href="http://www.gcpowertools.com.cn/" target="_blank"&gt;葡萄城控件&lt;/a&gt;，一直非常关注微软技术的发展趋势，本文就刚刚举行的WPC(Worldwide Partner Conference)&lt;a href="http://www.cnblogs.com/powertoolsteam/p/WPC2014.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-07-16 18:29 葡萄城控件技术团队 阅读(395) 评论(2)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3849144" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;

&lt;div class="topicListFooter"&gt;&lt;a href="http://www.cnblogs.com/powertoolsteam/default.html?OnlyTitle=1"&gt;仅列出标题&lt;/a&gt;&amp;nbsp;&amp;nbsp;&lt;a href="http://www.cnblogs.com/powertoolsteam/default.html?page=2"&gt;下一页&lt;/a&gt;&lt;/div&gt;


	&lt;/div&gt;&lt;!--end: forFlow --&gt;
	&lt;/div&gt;&lt;!--end: mainContent 主体内容容器--&gt;

	&lt;div id="sideBar"&gt;
		&lt;div id="sideBarMain"&gt;
			
&lt;!--done--&gt;
&lt;div class="newsItem"&gt;
&lt;h3 class="catListTitle"&gt;公告&lt;/h3&gt;
	&lt;div id="blog-news"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;loadBlogNews();&lt;/script&gt;
&lt;/div&gt;

			&lt;div id="blog-calendar" style="display:none"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;loadBlogDefaultCalendar();&lt;/script&gt;
			
			&lt;div id="leftcontentcontainer"&gt;
				&lt;div id="blog-sidecolumn"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;loadBlogSideColumn();&lt;/script&gt;
			&lt;/div&gt;
			
		&lt;/div&gt;&lt;!--end: sideBarMain --&gt;
	&lt;/div&gt;&lt;!--end: sideBar 侧边栏容器 --&gt;
	&lt;div class="clear"&gt;&lt;/div&gt;
	&lt;/div&gt;&lt;!--end: main --&gt;
	&lt;div class="clear"&gt;&lt;/div&gt;
	&lt;div id="footer"&gt;
		
&lt;!--done--&gt;
Copyright &amp;copy;2014 葡萄城控件技术团队
	&lt;/div&gt;&lt;!--end: footer --&gt;
&lt;/div&gt;&lt;!--end: home 自定义的最大容器 --&gt;
&lt;/body&gt;
&lt;/html&gt;
</Html>
	<HtmlMetas i:nil="true" />
	<HtmlTitle i:nil="true" />
	<IsDefault>false</IsDefault>
	<Layout i:nil="true" />
	<Name>-powertoolsteam-</Name>
	<OutputCache i:nil="true" />
	<PageContents xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
	<Plugins xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<Published>false</Published>
	<RequireHttps>false</RequireHttps>
	<Routes>
		<PageRoute>
			<Defaults xmlns:d4p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
			<Identifier>/powertoolsteam/</Identifier>
			<RoutePath i:nil="true" />
		</PageRoute>
	</Routes>
	<Scripts i:nil="true" />
	<Site>
		<AbsoluteName xmlns="Ovaldi.Core.Models">Cnblogs</AbsoluteName>
	</Site>
	<Styles i:nil="true" />
	<UUID>-powertoolsteam-</UUID>
</Page>