<?xml version="1.0" encoding="utf-8"?>
<Page xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Ovaldi.Core.Models">
	<AbsoluteName>-gc2013-</AbsoluteName>
	<CustomFields xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<EnableScript>true</EnableScript>
	<EnableTheming>true</EnableTheming>
	<Html>&lt;!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"&gt;
&lt;html xmlns="http://www.w3.org/1999/xhtml" lang="zh-cn"&gt;
&lt;head&gt;
&lt;meta http-equiv="Content-Type" content="text/html; charset=utf-8"&gt;
&lt;title&gt;GC2013 - 博客园&lt;/title&gt;
&lt;link type="text/css" rel="stylesheet" href="/preview~Cnblogs/Styles/bundles/blog-common.css"&gt;
&lt;link id="MainCss" type="text/css" rel="stylesheet" href="/preview~Cnblogs/Styles/skins/ClearScreen01/bundle-ClearScreen01.css"&gt;
&lt;link type="text/css" rel="stylesheet" href="/preview~Cnblogs/Styles/blog/customcss/170144.css"&gt;
&lt;link title="RSS" type="application/rss+xml" rel="alternate" href="http://www.cnblogs.com/gc2013/rss"&gt;
&lt;link title="RSD" type="application/rsd+xml" rel="EditURI" href="http://www.cnblogs.com/gc2013/rsd.xml"&gt;
&lt;link type="application/wlwmanifest+xml" rel="wlwmanifest" href="http://www.cnblogs.com/gc2013/wlwmanifest.xml"&gt;
&lt;script src="http://common.cnblogs.com/script/jquery.js" type="text/javascript"&gt;&lt;/script&gt;  
&lt;script type="text/javascript"&gt;var currentBlogApp = 'gc2013', cb_enable_mathjax=false;&lt;/script&gt;
&lt;script src="/preview~Cnblogs/Scripts/bundles/blog-common.js" type="text/javascript"&gt;&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;a name="top"&gt;&lt;/a&gt;
&lt;div id="page_begin_html"&gt;&lt;/div&gt;&lt;script&gt;load_page_begin_html();&lt;/script&gt;

&lt;!--done--&gt;
&lt;div id="header"&gt;
	
&lt;!--done--&gt;
&lt;div class="header"&gt;
	&lt;div class="headerText"&gt;
		&lt;a id="Header1_HeaderTitle" class="headermaintitle" href="http://www.cnblogs.com/gc2013/"&gt;GC2013&lt;/a&gt;&lt;br&gt;
		
	&lt;/div&gt;
&lt;/div&gt;

&lt;/div&gt;
&lt;div id="mylinks"&gt;
&lt;!--done--&gt;
&lt;a id="MyLinks1_HomeLink" class="listitem" href="http://www.cnblogs.com/"&gt;博客园&lt;/a&gt;&amp;nbsp;&amp;nbsp;::&amp;nbsp;
&lt;a id="MyLinks1_MyHomeLink" class="listitem" href="http://www.cnblogs.com/gc2013/"&gt;首页&lt;/a&gt;&amp;nbsp;&amp;nbsp;::&amp;nbsp;
&lt;a id="MyLinks1_NewPostLink" class="listitem" rel="nofollow" href="http://i.cnblogs.com/EditPosts.aspx?opt=1"&gt;新随笔&lt;/a&gt;&amp;nbsp;&amp;nbsp;::&amp;nbsp;
&lt;a id="MyLinks1_ContactLink" accesskey="9" class="listitem" rel="nofollow" href="http://space.cnblogs.com/msg/send/GC2013"&gt;联系&lt;/a&gt;&amp;nbsp;&amp;nbsp;::&amp;nbsp;
&lt;a id="MyLinks1_Syndication" class="listitem" href="http://www.cnblogs.com/gc2013/rss"&gt;订阅&lt;/a&gt;&amp;nbsp;&lt;a id="MyLinks1_XMLLink" href="http://www.cnblogs.com/gc2013/rss"&gt;&lt;img src="/preview~Cnblogs/Images/images/xml.gif" alt="订阅"&gt;&lt;/a&gt;&amp;nbsp;&amp;nbsp;::&amp;nbsp;
&lt;a id="MyLinks1_Admin" class="listitem" rel="nofollow" href="http://i.cnblogs.com/"&gt;管理&lt;/a&gt;
&lt;/div&gt;
&lt;div id="mytopmenu"&gt;
	
		&lt;div id="mystats"&gt;
			
&lt;!--done--&gt;
&lt;div class="blogStats"&gt;
posts - 279,&amp;nbsp;
comments - 141,&amp;nbsp;
trackbacks - 0

&lt;/div&gt;&lt;/div&gt;
	
&lt;/div&gt;
&lt;div id="leftcontent"&gt;
	
		&lt;div id="leftcontentcontainer"&gt;
			
&lt;!--done--&gt;
&lt;div class="news"&gt;公告&lt;/div&gt;
	&lt;div class="newsItem"&gt;
		&lt;div id="blog-news"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;loadBlogNews();&lt;/script&gt;
	&lt;/div&gt;

			&lt;div id="blog-calendar" style="display:none"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;loadBlogDefaultCalendar();&lt;/script&gt;
			&lt;div id="blog-sidecolumn"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;loadBlogSideColumn();&lt;/script&gt;&lt;/div&gt;
	
&lt;/div&gt;
&lt;div id="centercontent"&gt;
	

&lt;!--done--&gt;


&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl00_ImageLink" title="Day link" vspace="100" href="http://www.cnblogs.com/gc2013/archive/2014/09/16.html" style="display:inline-block;"&gt;&lt;img src="/preview~Cnblogs/Images/images/link.gif" alt=""&gt;&lt;/a&gt;
		&amp;nbsp;
		2014年9月16日		  
	&lt;/div&gt;

	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl00_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/gc2013/p/3975244.html"&gt;C# 利用WORD模板和标签（bookmark） 批量生成WORD&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="c_b_p_desc"&gt;摘要: 前言：由于对C#操作WORD不熟悉，也就留下这么一篇水文，别吐糟...=_=|||利用Microsoft.Office.Interop.Word (2003版也就11版)——因为部分客户端还是用Office2003，所以保险起见应该引入低一点的版本我的需求很简单，从DataTable里面循环取数据批...&lt;a href="http://www.cnblogs.com/gc2013/p/3975244.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-09-16 16:42 GC2013 阅读(8) 评论(0)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3975244" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
		
&lt;/div&gt;

&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl01_ImageLink" title="Day link" vspace="100" href="http://www.cnblogs.com/gc2013/archive/2014/09/15.html" style="display:inline-block;"&gt;&lt;img src="/preview~Cnblogs/Images/images/link.gif" alt=""&gt;&lt;/a&gt;
		&amp;nbsp;
		2014年9月15日		  
	&lt;/div&gt;

	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl01_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/gc2013/p/3973172.html"&gt;绝对好文：.NET程序性能的基本要领&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="c_b_p_desc"&gt;摘要: Bill Chiles（Roslyn编译器的程序经理)写了一篇文章《Essential Performance Facts and .NET Framework Tips》，知名博主寒江独钓对该文进行了摘译，文中分享了性能优化的一些建议和思考，比如不要过早优化、好工具很重要、性能的关键，在于内存...&lt;a href="http://www.cnblogs.com/gc2013/p/3973172.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-09-15 16:54 GC2013 阅读(192) 评论(1)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3973172" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
		
			&lt;div class="postSeparator"&gt;&lt;/div&gt;
		
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl01_DayList_TitleUrl_1" class="postTitle2" href="http://www.cnblogs.com/gc2013/p/3972158.html"&gt;C#中正则表达式进行忽略大小写的字符串替换&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="c_b_p_desc"&gt;摘要: 在C#里要进行忽略大小写的字符串替换，用string的Replace是很难做到的，即使花了天大的力气做到了，效率仍然是很低的，正确的方法应该是使用正则表达式。 要使用正则表达式，首先需要引用命名空间：以下是引用片段： usingSystem.Text.RegularExpressions;　...&lt;a href="http://www.cnblogs.com/gc2013/p/3972158.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-09-15 09:01 GC2013 阅读(114) 评论(1)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3972158" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
		
&lt;/div&gt;

&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl02_ImageLink" title="Day link" vspace="100" href="http://www.cnblogs.com/gc2013/archive/2014/09/14.html" style="display:inline-block;"&gt;&lt;img src="/preview~Cnblogs/Images/images/link.gif" alt=""&gt;&lt;/a&gt;
		&amp;nbsp;
		2014年9月14日		  
	&lt;/div&gt;

	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl02_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/gc2013/p/3968578.html"&gt;C#窗体钉在桌面、置底、嵌入桌面的办法&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="c_b_p_desc"&gt;摘要: 想做一个桌面时钟，钉在桌面上不影响正常使用，只在看桌面的时候显示。从网上多方寻找找到这么个代码，但是还是有不方便的地方，大家探讨一下。这个程序在使用“显示桌面”的时候还可以显示，将程序的Form1.cs改为：[csharp]view plaincopyusingSystem;usingSystem....&lt;a href="http://www.cnblogs.com/gc2013/p/3968578.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-09-14 13:59 GC2013 阅读(203) 评论(2)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3968578" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
		
&lt;/div&gt;

&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl03_ImageLink" title="Day link" vspace="100" href="http://www.cnblogs.com/gc2013/archive/2014/09/13.html" style="display:inline-block;"&gt;&lt;img src="/preview~Cnblogs/Images/images/link.gif" alt=""&gt;&lt;/a&gt;
		&amp;nbsp;
		2014年9月13日		  
	&lt;/div&gt;

	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl03_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/gc2013/p/3968275.html"&gt;创建C#串口通信程序详解&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="c_b_p_desc"&gt;摘要: 在.NET平台下创建C#串口通信程序，.NET 2.0提供了串口通信的功能，其命名空间是System.IO.Ports。这个新的框架不但可以访问计算机上的串口，还可以和串口设备进行通信。我们将使用标准的RS 232 C 在PC间通信。它工作在全双工模式下，而且我们不打算使用任何的握手或流控制器，而是...&lt;a href="http://www.cnblogs.com/gc2013/p/3968275.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-09-13 20:40 GC2013 阅读(187) 评论(2)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3968275" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
		
&lt;/div&gt;

&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl04_ImageLink" title="Day link" vspace="100" href="http://www.cnblogs.com/gc2013/archive/2014/09/12.html" style="display:inline-block;"&gt;&lt;img src="/preview~Cnblogs/Images/images/link.gif" alt=""&gt;&lt;/a&gt;
		&amp;nbsp;
		2014年9月12日		  
	&lt;/div&gt;

	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl04_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/gc2013/p/3967689.html"&gt;为类和函数代码自动添加版权注释信息&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="c_b_p_desc"&gt;摘要: 以web项目为例:一:给类加注释1.在visual studio 的安装路径下 如:[盘符]:/Program files/Microsoft Visual Studio 8/Common7/IDE/ItemTemplates/web/cshare/2052/class.zip ，将里面的class...&lt;a href="http://www.cnblogs.com/gc2013/p/3967689.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-09-12 09:14 GC2013 阅读(77) 评论(0)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3967689" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
		
&lt;/div&gt;

&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl05_ImageLink" title="Day link" vspace="100" href="http://www.cnblogs.com/gc2013/archive/2014/09/11.html" style="display:inline-block;"&gt;&lt;img src="/preview~Cnblogs/Images/images/link.gif" alt=""&gt;&lt;/a&gt;
		&amp;nbsp;
		2014年9月11日		  
	&lt;/div&gt;

	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl05_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/gc2013/p/3966499.html"&gt;C# 如何编辑文件的摘要信息&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="c_b_p_desc"&gt;摘要: 我的以前的测试报告程序需要在倒完测试数据报告后,在文件摘要中加上一些类似版权说明的文字等等. 因此需要对文件摘要信息进行编辑. 我的记忆中以前好像只有office文档才可以又摘要信息, 现在看来基本上所有文件(windows2000以上的平台)都可以有摘要信息..在网络上搜寻一番发现一些有用的网址 ...&lt;a href="http://www.cnblogs.com/gc2013/p/3966499.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-09-11 15:00 GC2013 阅读(91) 评论(0)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3966499" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
		
			&lt;div class="postSeparator"&gt;&lt;/div&gt;
		
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl05_DayList_TitleUrl_1" class="postTitle2" href="http://www.cnblogs.com/gc2013/p/3965711.html"&gt;C# GDI在控件上绘图&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="c_b_p_desc"&gt;摘要: 本文以以在chart控件上和窗体上画矩形为例子不多解释了，代码很简单。还有一些童鞋要别的源码，给我发邮箱吧using System;using System.Collections.Generic;using System.ComponentModel;using System.Data;using...&lt;a href="http://www.cnblogs.com/gc2013/p/3965711.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-09-11 09:15 GC2013 阅读(170) 评论(0)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3965711" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
		
&lt;/div&gt;

&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl06_ImageLink" title="Day link" vspace="100" href="http://www.cnblogs.com/gc2013/archive/2014/09/10.html" style="display:inline-block;"&gt;&lt;img src="/preview~Cnblogs/Images/images/link.gif" alt=""&gt;&lt;/a&gt;
		&amp;nbsp;
		2014年9月10日		  
	&lt;/div&gt;

	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl06_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/gc2013/p/3964704.html"&gt;泛型Dictionary的用法详解&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="c_b_p_desc"&gt;摘要: 泛型最常见的用途是泛型集合，命名空间System.Collections.Generic 中包含了一些基于泛型的集合类，使用泛型集合类可以提供更高的类型安全性，还有更高的性能，避免了非泛型集合的重复的装箱和拆箱。 很多非泛型集合类都有对应的泛型集合类，下面是常用的非泛型集合类以及对应的泛型集合类：...&lt;a href="http://www.cnblogs.com/gc2013/p/3964704.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-09-10 16:35 GC2013 阅读(138) 评论(0)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3964704" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
		
			&lt;div class="postSeparator"&gt;&lt;/div&gt;
		
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl06_DayList_TitleUrl_1" class="postTitle2" href="http://www.cnblogs.com/gc2013/p/3963762.html"&gt;Winform 导出成Excel打印代码&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="c_b_p_desc"&gt;摘要: WinForm中 直接调用Excel的打印预览功能,但不显示Excel文件using Microsoft.Office.Interop.Excel; //引用public void PrintPriviewExcelFile(string filePath){ Microsof...&lt;a href="http://www.cnblogs.com/gc2013/p/3963762.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-09-10 09:20 GC2013 阅读(119) 评论(0)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3963762" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
		
&lt;/div&gt;
&lt;div class="topicListFooter"&gt;&lt;a href="http://www.cnblogs.com/gc2013/default.html?OnlyTitle=1"&gt;仅列出标题&lt;/a&gt;&amp;nbsp;&amp;nbsp;&lt;a href="http://www.cnblogs.com/gc2013/default.html?page=2"&gt;下一页&lt;/a&gt;&lt;/div&gt;


&lt;/div&gt;

&lt;!--done--&gt;
&lt;div class="footer"&gt;
	Powered by: 
	&lt;br&gt;
	
	&lt;a id="Footer1_Hyperlink3" name="Hyperlink1" href="http://www.cnblogs.com/"&gt;&lt;font face="Verdana"&gt;博客园&lt;/font&gt;&lt;/a&gt;
	&lt;br&gt;
	Copyright &amp;copy;2014 GC2013
&lt;/div&gt;


&lt;!--PageEndHtml Block Begin--&gt;
&lt;script type="text/javascript"&gt;BAIDU_CLB_SLOT_ID = "953331";&lt;/script&gt;
&lt;script type="text/javascript" src="http://cbjs.baidu.com/js/o.js"&gt;&lt;/script&gt;

&lt;script type="text/javascript"&gt;
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fd7e11970fcbc0028a46aff08cffbba37' type='text/javascript'%3E%3C/script%3E"));
&lt;/script&gt;
&lt;!--PageEndHtml Block End--&gt;
&lt;/body&gt;
&lt;/html&gt;
</Html>
	<HtmlMetas i:nil="true" />
	<HtmlTitle i:nil="true" />
	<IsDefault>false</IsDefault>
	<Layout i:nil="true" />
	<Name>-gc2013-</Name>
	<OutputCache i:nil="true" />
	<PageContents xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
	<Plugins xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<Published>false</Published>
	<RequireHttps>false</RequireHttps>
	<Routes>
		<PageRoute>
			<Defaults xmlns:d4p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
			<Identifier>/gc2013/</Identifier>
			<RoutePath i:nil="true" />
		</PageRoute>
	</Routes>
	<Scripts i:nil="true" />
	<Site>
		<AbsoluteName xmlns="Ovaldi.Core.Models">Cnblogs</AbsoluteName>
	</Site>
	<Styles i:nil="true" />
	<UUID>-gc2013-</UUID>
</Page>