<?xml version="1.0" encoding="utf-8"?>
<Page xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Ovaldi.Core.Models">
	<AbsoluteName>-</AbsoluteName>
	<CustomFields xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<EnableScript>true</EnableScript>
	<EnableTheming>true</EnableTheming>
	<Html>&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
    &lt;meta charset="utf-8"&gt;
    &lt;title&gt;Kooboo CMS, ASP.NET MVC CMS, Enterprise level CMS | kooboo.com&lt;/title&gt;
    &lt;meta name="author" content="Kooboo, LLC"&gt;
    &lt;link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700,800" rel="stylesheet"&gt;
    &lt;link rel="Stylesheet" href="/preview~kooboo/Styles/Kooboo-WebResource/Index/jQuery-Styles/20130227" type="text/css"&gt;
&lt;link type="text/css" rel="stylesheet" href="/preview~kooboo/Styles/Kooboo_COM_V4/Kooboo-Resource/theme/1_0_0_20131217100901/true/Default"&gt;
&lt;!--[if lte IE 8]&gt;&lt;link rel="stylesheet" type="text/css" href="/Cms_Data/Sites/Kooboo_COM_V4/Themes/Default/ie.css" /&gt;&lt;![endif]--&gt;

    &lt;!--[if lt IE 9]&gt;&lt;script src="/Cms_Data/Sites/Kooboo_COM_V4/Files/js/html5.js"&gt;&lt;/script&gt;&lt;![endif]--&gt;

    &lt;script src="/preview~kooboo/Scripts/Kooboo-WebResource/Index/jQuery/20130227" type="text/javascript"&gt;&lt;/script&gt;
&lt;script type="text/javascript" src="/preview~kooboo/Scripts/Kooboo_COM_V4/Kooboo-Resource/scripts/1_0_0_20131217100901/True"&gt;&lt;/script&gt;

&lt;/head&gt;
&lt;body&gt;
    &lt;div id="body-container"&gt;
        &lt;header id="header"&gt;
            &lt;div class="container"&gt;
                &lt;div class="top"&gt;
                    &lt;div class="global-width clearfix"&gt;
                        &lt;h1 class="logo"&gt;&lt;a href="/"&gt;
                            &lt;img src="/preview~kooboo/Images/Cms_Data/Sites/Kooboo_COM_V4/Files/image/logo.png" alt="Kooboo LOGO"&gt;&lt;/a&gt;&lt;/h1&gt;
                        &lt;nav class="nav"&gt;
                            

&lt;ul class="main"&gt;
               &lt;li class='active'&gt;&lt;a class="icon home" href="/preview~kooboo/"&gt;&lt;span&gt;Home&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
               &lt;li class=''&gt;&lt;a href="/preview~kooboo/products/kooboo-cms" target=""&gt;Products&lt;/a&gt;&lt;/li&gt;
                 &lt;li class=''&gt;&lt;a href="/preview~kooboo/cases" target=""&gt;Cases&lt;/a&gt;&lt;/li&gt;
                &lt;li class=''&gt;&lt;a href="/preview~kooboo/docs/kooboo-cms/all" target=""&gt;Docs&lt;/a&gt;&lt;/li&gt;
                 &lt;li class=''&gt;&lt;a href="/preview~kooboo/updates" target=""&gt;Updates&lt;/a&gt;&lt;/li&gt;
                 &lt;li class=''&gt;&lt;a href="http://kooboo.codeplex.com" target="_blank"&gt;Download&lt;/a&gt;&lt;/li&gt;
                 &lt;li class=''&gt;&lt;a href="http://forum.kooboo.com" target=""&gt;Forum&lt;/a&gt;&lt;/li&gt;
                 &lt;li class=''&gt;&lt;a href="/preview~kooboo/contact" target=""&gt;Contact&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
                            &lt;ul class="quicklinks"&gt;
    &lt;li&gt;&lt;a class="button orange border" href="http://online.kooboo.com" target="_blank"&gt;Online demo&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;

                        &lt;/nav&gt;
                    &lt;/div&gt;
                    &lt;div class="shadow"&gt;&lt;/div&gt;
                &lt;/div&gt;
                &lt;div class="block slider"&gt;
    &lt;div class="global-width"&gt;
        &lt;ul class="bxslider"&gt;
                &lt;li&gt;
                        &lt;a href="/preview~kooboo/docs/Kooboo-CMS/Kooboo-multi-sites-solution"&gt;
                            &lt;div class="summary"&gt;
                                &lt;h6 class="title"&gt;Top choice for multilingual websites&lt;/h6&gt;
                                &lt;div&gt;&lt;ul&gt;
&lt;li&gt;Manage multiple websites from just one location.&lt;/li&gt;
&lt;li&gt;Content and programs are accessible from all sites.&lt;/li&gt;
&lt;li&gt;Complete control of content flow and program sharing.&lt;/li&gt;
&lt;/ul&gt;&lt;/div&gt;
                            &lt;/div&gt;
                            &lt;div class="image"&gt;
                                &lt;img src="/preview~kooboo/Images/Cms_Data/Contents/Kooboo_COM_V4/Folders/Advertisement/~contents/S5329RBD2F2GDHWE/slider-1.jpg" alt="Top choice for multilingual websites"&gt;
                            &lt;/div&gt;
                        &lt;/a&gt;

                &lt;/li&gt;
                &lt;li&gt;
                        &lt;a href="/preview~kooboo/docs/Kooboo-CMS/Kooboo-products-and-raodmap"&gt;
                            &lt;div class="summary"&gt;
                                &lt;h6 class="title"&gt;Ecommerce, marketing and profiling&lt;/h6&gt;
                                &lt;div&gt;&lt;ul&gt;
&lt;li&gt;Built-in Ecommerce functionality to start selling in 5 minutes&lt;/li&gt;
&lt;li&gt;Best proprietary downloadable email marketing software&lt;/li&gt;
&lt;li&gt;Complete user profile analysis&lt;/li&gt;
&lt;/ul&gt;&lt;/div&gt;
                            &lt;/div&gt;
                            &lt;div class="image"&gt;
                                &lt;img src="/preview~kooboo/Images/Cms_Data/Contents/Kooboo_COM_V4/Folders/Advertisement/~contents/NRC28GJW4Y86G3T9/slider-2.jpg" alt="Ecommerce, marketing and profiling"&gt;
                            &lt;/div&gt;
                        &lt;/a&gt;

                &lt;/li&gt;
                &lt;li&gt;
                        &lt;a href="/preview~kooboo/updates/Detail/Kooboo-show-case-from-rb2-partner"&gt;
                            &lt;div class="summary"&gt;
                                &lt;h6 class="title"&gt;Thousands of multinational websites&lt;/h6&gt;
                                &lt;div&gt;&lt;ul&gt;
&lt;li&gt;Free and open source enterprise level CMS&lt;/li&gt;
&lt;li&gt;Used by some of the world's largest companies&lt;/li&gt;
&lt;li&gt;Cheaptickets, Grolsch, Albelli and more&lt;/li&gt;
&lt;/ul&gt;&lt;/div&gt;
                            &lt;/div&gt;
                            &lt;div class="image"&gt;
                                &lt;img src="/preview~kooboo/Images/Cms_Data/Contents/Kooboo_COM_V4/Folders/Advertisement/~contents/WCY2PVTB8BZJ7F9N/slider-3.jpg" alt="Thousands of multinational websites"&gt;
                            &lt;/div&gt;
                        &lt;/a&gt;

                &lt;/li&gt;
                &lt;li&gt;
                        &lt;a href="/preview~kooboo/docs/Kooboo-CMS/Kooboo-development-concepts"&gt;
                            &lt;div class="summary"&gt;
                                &lt;h6 class="title"&gt;Virtually no learning curve&lt;/h6&gt;
                                &lt;div&gt;&lt;ul&gt;
&lt;li&gt;Conforms to universally accepted practices in web development&lt;/li&gt;
&lt;li&gt;Spend just 10 minutes learning to develop your first website&lt;/li&gt;
&lt;li&gt;Easily convert existing MVC websites into Kooboo modules&lt;/li&gt;
&lt;/ul&gt;&lt;/div&gt;
                            &lt;/div&gt;
                            &lt;div class="image"&gt;
                                &lt;img src="/preview~kooboo/Images/Cms_Data/Contents/Kooboo_COM_V4/Folders/Advertisement/~contents/MUHJAQWGL395JUDS/slider-4.jpg" alt="Virtually no learning curve"&gt;
                            &lt;/div&gt;
                        &lt;/a&gt;

                &lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
    &lt;div class="control"&gt;
        &lt;span id="slide-prev" href="#"&gt;&lt;/span&gt;
        &lt;span id="slide-next" href="#"&gt;&lt;/span&gt;
    &lt;/div&gt;
&lt;/div&gt;

                &lt;div class="global-width clearfix"&gt;
                    
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/header&gt;
        &lt;div id="main-container"&gt;
            &lt;div class="block highlights"&gt;
    &lt;div class="global-width"&gt;
        &lt;h3 class="title big"&gt;Highlights&lt;/h3&gt;


            &lt;div class="columns clearfix"&gt;
    &lt;div class="span4"&gt;
        &lt;div class="item"&gt;
            &lt;span class="icon"&gt;
                &lt;img src="/preview~kooboo/Images/Cms_Data/Contents/Kooboo_COM_V4/Folders/Features/~contents/B5M23FT7R5PGRDJ8/icon-ui.png"&gt;&lt;/span&gt;
            &lt;h4 class="title"&gt;Fully featured simple UI&lt;/h4&gt;
            &lt;p&gt;Our backend utilizes the Metro Style UI with intuitive menus and tooltips. The content editor uses an inline editor to edit static or dynamic content directly at the front site.&lt;/p&gt;
        &lt;/div&gt;
    &lt;/div&gt;  
    &lt;div class="span4"&gt;
        &lt;div class="item"&gt;
            &lt;span class="icon"&gt;
                &lt;img src="/preview~kooboo/Images/Cms_Data/Contents/Kooboo_COM_V4/Folders/Features/~contents/JSZ2DZCYRMF2KV9C/icon-cloud.png"&gt;&lt;/span&gt;
            &lt;h4 class="title"&gt;Cloud perfomance&lt;/h4&gt;
            &lt;p&gt;We support XML, SQL and Non-SQL databases and are 100% compatible with Microsoft Azure Cloud. This provides reliable solutions for high traffic websites.&lt;/p&gt;
        &lt;/div&gt;
    &lt;/div&gt;  
    &lt;div class="span4"&gt;
        &lt;div class="item"&gt;
            &lt;span class="icon"&gt;
                &lt;img src="/preview~kooboo/Images/Cms_Data/Contents/Kooboo_COM_V4/Folders/Features/~contents/A7Q297R7H9RCEL2U/icon-light.png"&gt;&lt;/span&gt;
            &lt;h4 class="title"&gt;Quick learning curve&lt;/h4&gt;
            &lt;p&gt;Developing a Kooboo CMS site is very similar to developing a standard website. Developing a module is similar to working on an ASP.NET MVC area.&lt;/p&gt;
        &lt;/div&gt;
    &lt;/div&gt;  
            &lt;/div&gt;
            &lt;div class="columns clearfix"&gt;
    &lt;div class="span4"&gt;
        &lt;div class="item"&gt;
            &lt;span class="icon"&gt;
                &lt;img src="/preview~kooboo/Images/Cms_Data/Contents/Kooboo_COM_V4/Folders/Features/~contents/8VW27MNGETQ45UCD/icon-code.png"&gt;&lt;/span&gt;
            &lt;h4 class="title"&gt;Open source&lt;/h4&gt;
            &lt;p&gt;Released under the Revised BSD License with no burden to purchase or  advertising clause. Modify and use the source code as you like, so long as you comply with 3-clause in the license. &lt;/p&gt;
        &lt;/div&gt;
    &lt;/div&gt;  
    &lt;div class="span4"&gt;
        &lt;div class="item"&gt;
            &lt;span class="icon"&gt;
                &lt;img src="/preview~kooboo/Images/Cms_Data/Contents/Kooboo_COM_V4/Folders/Features/~contents/Q7S28RH4N9RGWHF4/icon-structure.png"&gt;&lt;/span&gt;
            &lt;h4 class="title"&gt;Enterprise CMS&lt;/h4&gt;
            &lt;p&gt;Workflow, version control, asset relation management, multi-channeling, incremental deployment, SEO and tracking tool, and content delivery. Our all-in-one package works just for you.&lt;/p&gt;
        &lt;/div&gt;
    &lt;/div&gt;  
    &lt;div class="span4"&gt;
        &lt;div class="item"&gt;
            &lt;span class="icon"&gt;
                &lt;img src="/preview~kooboo/Images/Cms_Data/Contents/Kooboo_COM_V4/Folders/Features/~contents/PUB2QTYN22ZYVVJ4/icon-global.png"&gt;&lt;/span&gt;
            &lt;h4 class="title"&gt;Multilingual solution&lt;/h4&gt;
            &lt;p&gt;Enables you to create independent sites or sites that share content, pages, and modules. A single database can be used for multiple front sites.&lt;/p&gt;
        &lt;/div&gt;
    &lt;/div&gt;  
            &lt;/div&gt;

    &lt;/div&gt;
&lt;/div&gt;

            &lt;div class="global-width clearfix"&gt;
                
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;footer id="footer"&gt;
                &lt;div class="block clients"&gt;
        &lt;div class="global-width"&gt;
            &lt;h6 class="title"&gt;Our clients&lt;/h6&gt;
            &lt;ul class="clearfix"&gt;
                    &lt;li&gt;
                            &lt;a href="http://www.budgetair.co.uk" target="_blank"&gt;
                                &lt;img src="/preview~kooboo/Images/Cms_Data/Contents/Kooboo_COM_V4/Folders/Client/~contents/HYY2ETH4J68WTG8D/budgetair.jpg" alt="BudgetAir"&gt;&lt;/a&gt;
                    &lt;/li&gt;
                    &lt;li&gt;
                            &lt;a href="http://www.cheaptickets.ch" target="_blank"&gt;
                                &lt;img src="/preview~kooboo/Images/Cms_Data/Contents/Kooboo_COM_V4/Folders/Client/~contents/YU42XWP8W63QCXAZ/cheaptickets.jpg" alt="CheapTickets"&gt;&lt;/a&gt;
                    &lt;/li&gt;
                    &lt;li&gt;
                            &lt;a href="http://www.grolsch.nl/" target="_blank"&gt;
                                &lt;img src="/preview~kooboo/Images/Cms_Data/Contents/Kooboo_COM_V4/Folders/Client/~contents/95S2XMTMQJAUCXM4/grolsch.jpg" alt="Grolsch"&gt;&lt;/a&gt;
                    &lt;/li&gt;
                    &lt;li&gt;
                            &lt;a href="http://www.rb2.nl" target="_blank"&gt;
                                &lt;img src="/preview~kooboo/Images/Cms_Data/Contents/Kooboo_COM_V4/Folders/Client/~contents/7XUJMHBUXXVRN5XK/rb2.jpg" alt="RB2"&gt;&lt;/a&gt;
                    &lt;/li&gt;
                    &lt;li class="last"&gt;
                            &lt;a href="http://www.pinnaclesports.com/" target="_blank"&gt;
                                &lt;img src="/preview~kooboo/Images/Cms_Data/Contents/Kooboo_COM_V4/Folders/Client/~contents/LZTJ2GBSNDD9CBLQ/pinnaclesports.jpg" alt="PinnacleSports"&gt;&lt;/a&gt;
                    &lt;/li&gt;
            &lt;/ul&gt;
        &lt;/div&gt;
    &lt;/div&gt;

            &lt;div class="global-width clearfix"&gt;
    &lt;div class="columns clearfix"&gt;
        &lt;div class="span5"&gt;
            &lt;div class="block about"&gt;
                &lt;h6 class="title"&gt;About&lt;/h6&gt;
                &lt;div class="content"&gt;&lt;p&gt;Kooboo is an international web development firm with its core development team based in China.&amp;nbsp; Kooboo contains products and practices to meet all your web development needs, allowing you complete freedom in development.&amp;nbsp; Kooboo comprises Kooboo products (Design tools, CMS, Ecommerce, and Newsletters), Kooboo people, Kooboo service, and Kooboo network.&lt;/p&gt;&lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="span3"&gt;
            &lt;div class="block links"&gt;
                &lt;h6 class="title"&gt;Links&lt;/h6&gt;
                &lt;ul&gt;
                    &lt;li&gt;&lt;a href=""&gt;Home&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a href="/preview~kooboo/licensefaq"&gt;License&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a href="http://forum.kooboo.com" target="_blank"&gt;Community Forum&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a href="/preview~kooboo/privacy-policy"&gt;Privacy Policy&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a href="/preview~kooboo/service"&gt;Service&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a href="/preview~kooboo/partner"&gt;Partner Network&lt;/a&gt;&lt;/li&gt;
                &lt;/ul&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="span4"&gt;
            &lt;div class="block updates"&gt;
    &lt;h6 class="title"&gt;Updates&lt;/h6&gt;
    &lt;ul&gt;
            &lt;li&gt;
                &lt;a href="/preview~kooboo/updates/detail/dutch-consulate-general-visits-kooboo-office" target=""&gt;Dutch Consulate General visits Kooboo office&lt;/a&gt;
                &lt;span class="date"&gt;December 10, 2013&lt;/span&gt;
            &lt;/li&gt;
            &lt;li&gt;
                &lt;a href="/preview~kooboo/updates/detail/kooboo-developers-to-sweden" target=""&gt;Kooboo developers to Sweden&lt;/a&gt;
                &lt;span class="date"&gt;May 5, 2013&lt;/span&gt;
            &lt;/li&gt;
            &lt;li&gt;
                &lt;a href="/preview~kooboo/updates/detail/kooboo-show-case-from-rb2-partner" target=""&gt;Kooboo showcase from rb2 partner&lt;/a&gt;
                &lt;span class="date"&gt;February 23, 2013&lt;/span&gt;
            &lt;/li&gt;
    &lt;/ul&gt;
&lt;/div&gt;

        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;div class="bottom"&gt;
    &lt;div class="global-width clearfix"&gt;
        &lt;p class="copyright"&gt;&amp;copy;Copyright 2009 - 2014 &lt;a href="/preview~kooboo/"&gt;Kooboo team&lt;/a&gt; All Rights Reserved.&lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;

        &lt;/footer&gt;
    &lt;/div&gt;

&lt;/body&gt;
&lt;/html&gt;
</Html>
	<HtmlMetas i:nil="true" />
	<HtmlTitle i:nil="true" />
	<IsDefault>true</IsDefault>
	<Layout i:nil="true" />
	<Name>-</Name>
	<OutputCache i:nil="true" />
	<PageContents xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
	<Plugins xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<Published>false</Published>
	<RequireHttps>false</RequireHttps>
	<Routes>
		<PageRoute>
			<Defaults xmlns:d4p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
			<Identifier>/</Identifier>
			<RoutePath i:nil="true" />
		</PageRoute>
	</Routes>
	<Scripts i:nil="true" />
	<Site>
		<AbsoluteName xmlns="Ovaldi.Core.Models">kooboo</AbsoluteName>
	</Site>
	<Styles i:nil="true" />
	<UUID>-</UUID>
</Page>