<?xml version="1.0" encoding="utf-8"?>
<Page xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Ovaldi.Core.Models">
	<AbsoluteName>-KnightsWarrior-p-ACL.html</AbsoluteName>
	<CustomFields xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<EnableScript>true</EnableScript>
	<EnableTheming>true</EnableTheming>
	<Html>&lt;!DOCTYPE html&gt;
&lt;html lang="zh-cn"&gt;
&lt;head&gt;
&lt;meta charset="utf-8"&gt;
&lt;title&gt;架构设计分享之权限系统(看图说话) - 圣殿骑士 - 博客园&lt;/title&gt;
&lt;link type="text/css" rel="stylesheet" href="/preview~Cnblogs/Styles/bundles/blog-common.css"&gt;
&lt;link id="MainCss" type="text/css" rel="stylesheet" href="/preview~Cnblogs/Styles/skins/Minyx2_Lite/bundle-Minyx2_Lite.css"&gt;
&lt;link type="text/css" rel="stylesheet" href="/preview~Cnblogs/Styles/blog/customcss/51381.css"&gt;
&lt;link title="RSS" type="application/rss+xml" rel="alternate" href="http://www.cnblogs.com/KnightsWarrior/rss"&gt;
&lt;link title="RSD" type="application/rsd+xml" rel="EditURI" href="http://www.cnblogs.com/KnightsWarrior/rsd.xml"&gt;
&lt;link type="application/wlwmanifest+xml" rel="wlwmanifest" href="http://www.cnblogs.com/KnightsWarrior/wlwmanifest.xml"&gt;
&lt;script src="http://common.cnblogs.com/script/jquery.js" type="text/javascript"&gt;&lt;/script&gt;  
&lt;script type="text/javascript"&gt;var currentBlogApp = 'KnightsWarrior', cb_enable_mathjax=false;&lt;/script&gt;
&lt;script src="/preview~Cnblogs/Scripts/bundles/blog-common.js" type="text/javascript"&gt;&lt;/script&gt;
&lt;script src="/preview~Cnblogs/Scripts/skins/Minyx2_Lite/bundle-Minyx2_Lite.js" language="javascript" type="text/javascript"&gt;&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;a name="top"&gt;&lt;/a&gt;
&lt;!--PageBeginHtml Block Begin--&gt;
&lt;link type="text/css" rel="stylesheet" href="http://files.cnblogs.com/KnightsWarrior/KnightsCommentButton4.css"&gt;
&lt;!--PageBeginHtml Block End--&gt;


&lt;div id="container"&gt;
    &lt;a class="minyx" href="http://www.cnblogs.com/"&gt;代码改变世界&lt;/a&gt;
    &lt;ul id="topMnu"&gt;
        &lt;!-- 统计数据 --&gt;
        &lt;li&gt;
            
                
Posts - 100, 
Articles - 34, 
Comments - 4798
&lt;!----&gt;
            
        &lt;/li&gt;
        &lt;!-- 这边可以增加一些链接 --&gt;
        &lt;!-- 博客园 --&gt;
        &lt;li&gt;&lt;a href="http://www.cnblogs.com"&gt;Cnblogs&lt;/a&gt;&lt;/li&gt;
        &lt;!-- 管理 --&gt;
        &lt;li id="topMnu-dashboard"&gt;
            &lt;a id="lnkDashboard" href="http://www.cnblogs.com/KnightsWarrior/admin/EditPosts.aspx"&gt;Dashboard&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;
            &lt;a id="lnkLogin" href="http://passport.cnblogs.com/login.aspx?ReturnUrl=http://www.cnblogs.com/KnightsWarrior/p/ACL.html"&gt;Login&lt;/a&gt;&lt;/li&gt;
    &lt;/ul&gt;

    &lt;script type="text/javascript"&gt;
        var m = window.__blog.topMenuRendered;
        if (m) { m(__$("topMnu")); }
    &lt;/script&gt;

    &lt;div id="header"&gt;
        &lt;ul id="menu"&gt;
            &lt;!-- 首页，当前section加上current类 --&gt;
            &lt;li id="menu-home" class="current"&gt;
                &lt;a id="lnkHome" href="http://www.cnblogs.com/KnightsWarrior/"&gt;Home&lt;/a&gt;&lt;/li&gt;
            &lt;!-- 联系 --&gt;
            &lt;li id="menu-contact"&gt;
                &lt;a id="lnkContact" href="http://space.cnblogs.com/msg/send/%e5%9c%a3%e6%ae%bf%e9%aa%91%e5%a3%ab"&gt;Contact&lt;/a&gt;&lt;/li&gt;
            &lt;!-- 相册 --&gt;
            &lt;li id="menu-gallary"&gt;
                &lt;a id="lnkGallery" href="http://www.cnblogs.com/KnightsWarrior/gallery.html"&gt;Gallery&lt;/a&gt;&lt;/li&gt;
            &lt;!-- Rss订阅 --&gt;
            &lt;li id="rss"&gt;
                &lt;a id="lnkRss" href="http://www.cnblogs.com/KnightsWarrior/rss"&gt;RSS&lt;/a&gt;&lt;/li&gt;
        &lt;/ul&gt;
        &lt;div id="newmsg"&gt;&lt;/div&gt;
        &lt;h1&gt;
            &lt;!-- 主标题 --&gt;
            &lt;a id="lnkBlogTitle" href="http://www.cnblogs.com/KnightsWarrior/"&gt;圣殿骑士&lt;/a&gt;
            &lt;!-- 子标题 --&gt;
            &lt;small&gt;
                ——致力于微软架构、管理、培训和企业解决方案&lt;/small&gt;
        &lt;/h1&gt;
    &lt;/div&gt;

    &lt;script type="text/javascript"&gt;
        var m = window.__blog.headerRendered;
        if (m) { m(__$("header")); }
    &lt;/script&gt;

    &lt;div id="wrapper"&gt;
        &lt;div id="content"&gt;
            &lt;script type="text/javascript"&gt;
                var m = window.__blog.preRenderPosts;
                if (m) { m(); }
            &lt;/script&gt;
            

&lt;div class="post" id="post"&gt;
    &lt;a name="top"&gt;&lt;/a&gt;
    &lt;h2&gt;&lt;a id="cb_post_title_url" href="http://www.cnblogs.com/KnightsWarrior/p/ACL.html"&gt;架构设计分享之权限系统(看图说话)&lt;/a&gt;&lt;/h2&gt;
    &lt;small&gt;2014-08-31 22:41 by 圣殿骑士, &lt;span id="post_view_count"&gt;...&lt;/span&gt; 阅读, &lt;span id="post_comment_count"&gt;...&lt;/span&gt; 评论, &lt;a href="#" onclick="AddToWz({0});return false;"&gt;收藏&lt;/a&gt;,  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3948312" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/small&gt;
    &lt;div class="entry"&gt;
        &lt;div id="cnblogs_post_body"&gt;&lt;p&gt;前面一篇文章《&lt;a href="http://www.cnblogs.com/KnightsWarrior/p/ThinkingInStructure.html"&gt;最近架构随想&lt;/a&gt;》，我提到架构设计的一些构想，其实也是对之前项目经验的一些归纳及总结。今天我们就以权限系统作为切入点，谈一谈怎么设计权限系统以及怎么做到系统具有以下特性：&lt;/p&gt;
&lt;ol&gt;
&lt;li&gt;Organized：如果系统组织比较好，可以起到事半功倍的效果。&lt;/li&gt;
&lt;li&gt;Encapsulated：对功能，结构，数据进行有效的封装，会使系统维护变得更加容易。&lt;/li&gt;
&lt;li&gt;Reusable：对常用功能以及组件进行有效的封装，可以使系统变得结构清晰且方便维护。&lt;/li&gt;
&lt;li&gt;Extensible：在设计系统的时候，如果很好的遵守OO的设计理念（OO的五大原则SOLID），即使系统做得很大，也会像火箭一样直冲云霄！&lt;/li&gt;
&lt;li&gt;Replaceable：在很多时候我们需要考虑到系统，组件或者功能的可替换性，因为需求是会变的。&lt;/li&gt;
&lt;li&gt;Testable：做到系统的可测性，会大大帮助开发以及维护，对团队开发以及分工协作起着非常重要的作用。&lt;/li&gt;
&lt;li&gt;Loose Coupling：隔离耦合是架构设计必须要考虑的一个因素，如果系统不能做到高内聚、低耦合，那么在维护，升级，新功能开发方面就会是一场噩梦！&lt;/li&gt;
&lt;li&gt;High Performance：高性能是系统设计必须重视的要点，用户不可能忍受简单页面加载超过十秒，也不可能接受页面操作频繁卡死的情形，所以在架构设计的时候必须从数据库，逻辑，服务以及UI进行合理的优化。&lt;/li&gt;
&lt;li&gt;Scalability：如果能做到前面的几点，那么我有理由相信你的系统一定具备Scalability。&lt;/li&gt;
&lt;li&gt;Enjoy Your Life：最后一点也是最重要的一点，不要忙碌于重复的码农工作，喝杯咖啡，享受代码，早点回家，陪老婆、陪小孩，环球旅游，享受生活！&lt;/li&gt;
&lt;/ol&gt;
&lt;p&gt;废话半天，下面就开始看图说话环节：&lt;/p&gt;
&lt;p&gt;架构设计图：&lt;/p&gt;
&lt;p&gt;&lt;a href="http://images.cnitblog.com/blog/47784/201408/312226505485068.png"&gt;&lt;img style="background-image: none; padding-top: 0px; padding-left: 0px; display: inline; padding-right: 0px; border: 0px;" title="image" src="http://images.cnitblog.com/blog/47784/201408/312227322046408.png" alt="image" width="783" height="550" border="0"&gt;&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;p&gt;部署及组件图：&lt;/p&gt;
&lt;p&gt;&lt;a href="http://images.cnitblog.com/blog/47784/201408/312227509853437.jpg"&gt;&lt;img style="background-image: none; padding-top: 0px; padding-left: 0px; display: inline; padding-right: 0px; border: 0px;" title="28-7-2014 12-27-11 AM" src="http://images.cnitblog.com/blog/47784/201408/312228029701142.jpg" alt="28-7-2014 12-27-11 AM" width="774" height="470" border="0"&gt;&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;p&gt;详细解决方案：&lt;/p&gt;
&lt;p&gt;&lt;a href="http://images.cnitblog.com/blog/47784/201408/312228095481467.png"&gt;&lt;img style="background-image: none; padding-top: 0px; padding-left: 0px; display: inline; padding-right: 0px; border: 0px;" title="image" src="http://images.cnitblog.com/blog/47784/201408/312228486739480.png" alt="image" width="627" height="770" border="0"&gt;&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;01_Client：存放UI相关的项目，比如Winform, WPF，ASP.NET， Silverlight，ASP.NET MVC或者相关的Web Model及View Model项目。&lt;/p&gt;
&lt;p&gt;02_Hosting：存放与Service相关的项目，可以是Direct Service，Remoting Service，Web Service，WCF Service或者Web API Service 。&lt;/p&gt;
&lt;p&gt;03_Domain：业务逻辑相关的所有实体以及操作（根据OO的思想设计类以及类之间的关系）。&lt;/p&gt;
&lt;p&gt;04_Infrastructure：非业务方面的功能框架 （Data，Common，DataContract，AOP， IOC，Logging，Encryption，Email）。&lt;/p&gt;
&lt;p&gt;05_Database：数据库项目（包含所有数据库脚本，方便开发，部署以及维护）。&lt;/p&gt;
&lt;p&gt;06_Tests：所有测试项目（数据访问测试，框架测试，业务逻辑测试，服务测试以及View Model测试）。&lt;/p&gt;
&lt;p&gt;07_ReferenceLibs：项目相关的外部引用。&lt;/p&gt;
&lt;p&gt;08_Tools：一些简单的工具，方便开发，测试以及部署。&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;p&gt;各层执行序列 (调用Service之前需要调用Service Adapter，然后根据项目配置来决定调用WCF Service，Web API Service 还是直接DLL引用)：&lt;/p&gt;
&lt;p&gt;&lt;a href="http://images.cnitblog.com/blog/47784/201408/312229077829708.jpg"&gt;&lt;img style="background-image: none; padding-top: 0px; padding-left: 0px; display: inline; padding-right: 0px; border: 0px;" title="28-7-2014 12-34-29 AM" src="http://images.cnitblog.com/blog/47784/201408/312229169705401.jpg" alt="28-7-2014 12-34-29 AM" width="840" height="464" border="0"&gt;&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;p&gt;权限系统设计 （支持多系统，Module多层级，Group多层级，多用户来源，功能权限，数据权限等）：&lt;/p&gt;
&lt;p&gt;&lt;a href="http://images.cnitblog.com/blog/47784/201408/312229304544549.jpg"&gt;&lt;img style="background-image: none; padding-top: 0px; padding-left: 0px; display: inline; padding-right: 0px; border: 0px;" title="security" src="http://images.cnitblog.com/blog/47784/201408/312229389541086.jpg" alt="security" width="840" height="426" border="0"&gt;&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;p&gt;权限系统数据库关系图（三个中心点：Users, Roles, Paths）：&lt;/p&gt;
&lt;p&gt;&lt;a href="http://images.cnitblog.com/blog/47784/201408/312229540019488.png"&gt;&lt;img style="background-image: none; padding-top: 0px; padding-left: 0px; display: inline; padding-right: 0px; border: 0px;" title="image" src="http://images.cnitblog.com/blog/47784/201408/312230060323180.png" alt="image" width="851" height="439" border="0"&gt;&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;p&gt;权限系统所有表（包括主要表以及备份表，主要是针对中小型项目，如果大型项目则要采用分库，分表以及分区的策略）：&lt;/p&gt;
&lt;p&gt;&lt;a href="http://images.cnitblog.com/blog/47784/201408/312230193765370.png"&gt;&lt;img style="background-image: none; padding-top: 0px; padding-left: 0px; display: inline; padding-right: 0px; border: 0px;" title="image" src="http://images.cnitblog.com/blog/47784/201408/312230377668983.png" alt="image" width="262" height="625" border="0"&gt;&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;p&gt;数据库项目&amp;mdash;&amp;mdash;脚本注意事项以及如何一键执行所有数据库脚本（方便管理数据库脚本并且对团队开发以及分工协作帮助很大）：&lt;/p&gt;
&lt;p&gt;&lt;a href="http://images.cnitblog.com/blog/47784/201408/312230430329809.png"&gt;&lt;img style="background-image: none; padding-top: 0px; padding-left: 0px; display: inline; padding-right: 0px; border: 0px;" title="image" src="http://images.cnitblog.com/blog/47784/201408/312230541579643.png" alt="image" width="274" height="422" border="0"&gt;&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;p&gt;代码生成器&amp;mdash;&amp;mdash;T4完全生成数据库，业务实体，业务层，服务层以及UI代码 （之前也用Winform和WPF写过代码生成器，这是第一次使用T4生成整个项目，感觉非常好用，并且随时修改随时使用，而且还可以根据项目进行定制化）。&lt;/p&gt;
&lt;p&gt;&lt;a href="http://images.cnitblog.com/blog/47784/201408/312230568913441.png"&gt;&lt;img style="background-image: none; padding-top: 0px; padding-left: 0px; display: inline; padding-right: 0px; border: 0px;" title="image" src="http://images.cnitblog.com/blog/47784/201408/312231109854002.png" alt="image" width="272" height="595" border="0"&gt;&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;这篇文章主要是看图说话，所以如果你有什么反馈，心得或者建议，不妨留言，我会尽力在今天或者明天进行回复。关于代码分享或者开源的问题，由于目前是帮公司做的，所以还没有时间和精力去抽取代码，不过会根据反馈，然后在近期内分享更多实现细节！&lt;/p&gt;
&lt;p&gt;如果您认为这篇文章还不错或者有所收获，不妨点击一下右下角的&lt;span style="color: #ff0000;"&gt;&lt;span style="font-size: large;"&gt;(&lt;strong&gt;推荐)&lt;/strong&gt;&lt;/span&gt;&lt;/span&gt;按钮，因为你的支持是我继续写作，分享的最大的动力！&lt;/p&gt;&lt;/div&gt;&lt;div id="MySignature"&gt;&lt;/div&gt;
        &lt;div class="clear"&gt;&lt;/div&gt;
        &lt;div id="blog_post_info_block"&gt;
        &lt;div id="blog_post_info"&gt;
        &lt;/div&gt;
        &lt;div class="clear"&gt;&lt;/div&gt;
        &lt;div id="post_next_prev"&gt;&lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
    &lt;ul class="postmetadata"&gt;
        &lt;li class="icon_cat" id="BlogPostCategory"&gt;&lt;/li&gt;
        &lt;li class="icon_bullet" id="EntryTag"&gt;&lt;/li&gt;
    &lt;/ul&gt;
&lt;/div&gt;
&lt;script type="text/javascript"&gt;var allowComments=true,isLogined=false,cb_blogId=51381,cb_entryId=3948312,cb_blogApp=currentBlogApp,cb_blogUserGuid='2ef316b0-1cf5-dd11-9e4d-001cf0cd104b',cb_entryCreatedDate='2014/8/31 22:41:00';loadViewCount(cb_entryId);&lt;/script&gt;
&lt;script type="text/javascript"&gt;
    var m = window.__blog.postRendered;
    if (m) { m(__$("post")); }
&lt;/script&gt;
&lt;script type="text/javascript"&gt;
    var m = window.__blog.postRenderPosts;
    if (m) { m(); }
&lt;/script&gt;
&lt;a name="!comments"&gt;&lt;/a&gt;&lt;div id="blog-comments-placeholder"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;var commentManager = new blogCommentManager();commentManager.renderComments(0);&lt;/script&gt;
&lt;div id="comment_form" class="commentform"&gt;
&lt;a name="commentform"&gt;&lt;/a&gt;
&lt;div id="divCommentShow"&gt;&lt;/div&gt;
&lt;div id="comment_nav"&gt;&lt;span id="span_refresh_tips"&gt;&lt;/span&gt;&lt;a href="javascript:void(0);" id="lnk_RefreshComments" onclick="return RefreshCommentList();"&gt;刷新评论&lt;/a&gt;&lt;a href="#" onclick="return RefreshPage();"&gt;刷新页面&lt;/a&gt;&lt;a href="#top"&gt;返回顶部&lt;/a&gt;&lt;/div&gt;
&lt;div id="comment_form_container"&gt;&lt;/div&gt;
&lt;div class="ad_text_commentbox" id="ad_text_under_commentbox"&gt;&lt;/div&gt;
&lt;div id="site_nav_under"&gt;&lt;a href="http://www.cnblogs.com/" target="_blank" title="开发者的网上家园"&gt;博客园首页&lt;/a&gt;&lt;a href="http://q.cnblogs.com/" target="_blank" title="程序员问答社区"&gt;博问&lt;/a&gt;&lt;a href="http://news.cnblogs.com/" target="_blank" title="IT新闻"&gt;新闻&lt;/a&gt;&lt;a href="http://home.cnblogs.com/ing/" target="_blank"&gt;闪存&lt;/a&gt;&lt;a href="http://job.cnblogs.com/" target="_blank"&gt;程序员招聘&lt;/a&gt;&lt;a href="http://kb.cnblogs.com/" target="_blank"&gt;知识库&lt;/a&gt;&lt;/div&gt;
&lt;div id="opt_under_post"&gt;&lt;/div&gt;
&lt;script type="text/javascript"&gt;
    var enableGoogleAd = canShowAdsense(); var googletag = googletag || {}; googletag.cmd = googletag.cmd || [];
    fixPostBodyFormat();
&lt;/script&gt;
&lt;div id="ad_under_post_holder"&gt;
&lt;script type='text/javascript'&gt;
    var googletag = googletag || {};
    googletag.cmd = googletag.cmd || [];
    (function () {
        if (enableGoogleAd) {
            var gads = document.createElement('script');
            gads.async = true;
            gads.type = 'text/javascript';
            var useSSL = 'https:' == document.location.protocol;
            gads.src = (useSSL ? 'https:' : 'http:') + '//www.googletagservices.com/tag/js/gpt.js';
            var node = document.getElementsByTagName('script')[0];
            node.parentNode.insertBefore(gads, node);
        }
    })();
&lt;/script&gt;
&lt;script type='text/javascript'&gt;
    try {
        if (enableGoogleAd) {
            googletag.cmd.push(function () {
                googletag.defineSlot('/1090369/cnblogs_blogpost_C1_sitehome', [300, 250], 'div-gpt-ad-1346480159711-0').addService(googletag.pubads());
                googletag.pubads().enableSingleRequest();
                googletag.enableServices();
            });
        };
    } catch (e) { }
&lt;/script&gt;
&lt;div id="google_ad_c1" class="c_ad_block"&gt;
    &lt;div id='div-gpt-ad-1346480159711-0' style='width:300px; height:250px;'&gt;
    &lt;script type='text/javascript'&gt;
        try {
            if (enableGoogleAd) {
                googletag.cmd.push(function () { googletag.display('div-gpt-ad-1346480159711-0'); });            
            } else {
                $('#div-gpt-ad-1346480159711-0').hide();
            }
    } catch (e) { }
    &lt;/script&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;div id="blog_news_kb"&gt;&lt;/div&gt;
&lt;div id="HistoryToday" class="c_ad_block"&gt;&lt;/div&gt;
&lt;script type="text/javascript"&gt;
$(function () {
    loadNewsAndKb();
    loadBlogSignature();
    LoadPostInfoBlock(cb_blogId, cb_entryId, cb_blogApp, cb_blogUserGuid);
    GetPrevNextPost(cb_entryId, cb_blogId, cb_entryCreatedDate);
    loadOptUnderPost();
    GetHistoryToday(cb_blogId, cb_blogApp, cb_entryCreatedDate);
    setTimeout(function () { incrementViewCount(cb_entryId); }, 200);
});
&lt;/script&gt;
&lt;/div&gt;

        &lt;/div&gt;

        &lt;script type="text/javascript"&gt;
            var m = window.__blog.contentRendered;
            if (m) { m(__$("content")); }
        &lt;/script&gt;

        &lt;div id="sidebar"&gt;
            
&lt;div id="about"&gt;
&lt;div&gt;
&lt;h2 id="about_title"&gt;About&lt;/h2&gt;
&lt;div id="about_body"&gt;
&lt;div id="blog-news"&gt;&lt;/div&gt;
&lt;script type="text/javascript"&gt;loadBlogNews();&lt;/script&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;

            &lt;script type="text/javascript"&gt;
                var m = window.__blog.aboutRendered;
                if (m) { m(__$("about")); }
            &lt;/script&gt;
            
&lt;div id="mySearchWrapper"&gt;
    &lt;div id="mySearch"&gt;
        &lt;input type="image" src="/skins/Minyx2_Lite/images/btnsearch.gif" id="btnZzk" class="submit" onclick="zzk_go();return false;"&gt;
        &lt;label class="lb_search"&gt;&lt;input type="text" id="q" onkeydown="return zzk_go_enter(event);" class="keyword"&gt;&lt;/label&gt;
    &lt;/div&gt;
&lt;/div&gt;

            &lt;script type="text/javascript"&gt;
                var m = window.__blog.searchFormRendered;
                if (m) { m(__$("searchform")); }
            &lt;/script&gt;
            &lt;div id="sideMain"&gt;
            &lt;/div&gt;
            &lt;div id="sideRight"&gt;
            &lt;/div&gt;
            &lt;div id="sideLeft"&gt;
            &lt;/div&gt;
            
                &lt;div id="sideContainer"&gt;
                &lt;/div&gt;
                &lt;script type="text/javascript"&gt;
                    $.ajax({
                        url: '/' + currentBlogApp + '/mvc/blog/Minyx2_Lite_SideColumn.aspx',
                        data: '{}',
                        type: 'post',
                        dataType: 'text',
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            if (data) {
                                $("#sideContainer").html(data);
                                loadBlogDefaultCalendar();
                                loadBlogSideBlocks();
                                var m = window.__blog.sideContainerRendered;
                                if (m) { m(__$("sideContainer")); }
                                window.__blog.sidebar.__layout();
                            }
                        }
                    });

                &lt;/script&gt;
            
        &lt;/div&gt;

        &lt;script type="text/javascript"&gt;
            var m = window.__blog.sidebarRendered;
            if (m) { m(__$("sidebar")); }
        &lt;/script&gt;

        &lt;div id="footer"&gt;
            
&lt;p id="logoFoot"&gt;
    &lt;a href="http://www.spiga.com.mx/" title="Agencia Interactiva Spiga"&gt;www.spiga.com.mx&lt;/a&gt;
&lt;/p&gt;
&lt;div class="footText"&gt;
&lt;p&gt;
Copyright &amp;copy;2014 圣殿骑士
&lt;/p&gt;
&lt;p&gt;
&lt;a href="http://www.cnblogs.com"&gt;博客园&lt;/a&gt;
&lt;/p&gt;
&lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;

    &lt;script type="text/javascript"&gt;
        var m = window.__blog.wrapperRendered;
        if (m) { m(__$("wrapper")); }
    &lt;/script&gt;

&lt;/div&gt;
&lt;script type="text/javascript"&gt;
    var m = window.__blog.containerRendered;
    if (m) { m(__$("container")); }
&lt;/script&gt;
&lt;/body&gt;
&lt;/html&gt;
</Html>
	<HtmlMetas i:nil="true" />
	<HtmlTitle i:nil="true" />
	<IsDefault>false</IsDefault>
	<Layout i:nil="true" />
	<Name>-KnightsWarrior-p-ACL.html</Name>
	<OutputCache i:nil="true" />
	<PageContents xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
	<Plugins xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<Published>false</Published>
	<RequireHttps>false</RequireHttps>
	<Routes>
		<PageRoute>
			<Defaults xmlns:d4p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
			<Identifier>/KnightsWarrior/p/ACL.html</Identifier>
			<RoutePath i:nil="true" />
		</PageRoute>
	</Routes>
	<Scripts i:nil="true" />
	<Site>
		<AbsoluteName xmlns="Ovaldi.Core.Models">Cnblogs</AbsoluteName>
	</Site>
	<Styles i:nil="true" />
	<UUID>-KnightsWarrior-p-ACL.html</UUID>
</Page>