<?xml version="1.0" encoding="utf-8"?>
<Page xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Ovaldi.Core.Models">
	<AbsoluteName>-docs-Kooboo-CMS-Kooboo-development-concepts</AbsoluteName>
	<CustomFields xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<EnableScript>true</EnableScript>
	<EnableTheming>true</EnableTheming>
	<Html>&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
    &lt;meta charset="utf-8"&gt;
    &lt;title&gt;Documentation | kooboo.com&lt;/title&gt;
    
    &lt;link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700,800" rel="stylesheet"&gt;
    &lt;link rel="Stylesheet" href="/preview~kooboo/Styles/Kooboo-WebResource/Index/jQuery-Styles/20130227" type="text/css"&gt;
&lt;link type="text/css" rel="stylesheet" href="/preview~kooboo/Styles/Kooboo_COM_V4/Kooboo-Resource/theme/1_0_0_20131217100901/true/Default"&gt;
&lt;!--[if lte IE 8]&gt;&lt;link rel="stylesheet" type="text/css" href="/Cms_Data/Sites/Kooboo_COM_V4/Themes/Default/ie.css" /&gt;&lt;![endif]--&gt;

    &lt;!--[if lt IE 9]&gt;&lt;script src="/Cms_Data/Sites/Kooboo_COM_V4/Files/js/html5.js"&gt;&lt;/script&gt;&lt;![endif]--&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;div id="body-container"&gt;
        &lt;header id="header"&gt;
            &lt;div class="container"&gt;
                &lt;div class="top"&gt;
                    &lt;div class="global-width clearfix"&gt;
                        &lt;h1 class="logo"&gt;&lt;a href="/"&gt;
                            &lt;img src="/preview~kooboo/Images/Cms_Data/Sites/Kooboo_COM_V4/Files/image/logo.png" alt="Kooboo LOGO"&gt;&lt;/a&gt;&lt;/h1&gt;
                        &lt;nav class="nav"&gt;
                            

&lt;ul class="main"&gt;
               &lt;li class=''&gt;&lt;a class="icon home" href="/preview~kooboo/"&gt;&lt;span&gt;Home&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
               &lt;li class=''&gt;&lt;a href="/preview~kooboo/products/kooboo-cms" target=""&gt;Products&lt;/a&gt;&lt;/li&gt;
                 &lt;li class=''&gt;&lt;a href="/preview~kooboo/cases" target=""&gt;Cases&lt;/a&gt;&lt;/li&gt;
                &lt;li class='active'&gt;&lt;a href="/preview~kooboo/docs/kooboo-cms/all" target=""&gt;Docs&lt;/a&gt;&lt;/li&gt;
                 &lt;li class=''&gt;&lt;a href="/preview~kooboo/updates" target=""&gt;Updates&lt;/a&gt;&lt;/li&gt;
                 &lt;li class=''&gt;&lt;a href="http://kooboo.codeplex.com" target="_blank"&gt;Download&lt;/a&gt;&lt;/li&gt;
                 &lt;li class=''&gt;&lt;a href="http://forum.kooboo.com" target=""&gt;Forum&lt;/a&gt;&lt;/li&gt;
                 &lt;li class=''&gt;&lt;a href="/preview~kooboo/contact" target=""&gt;Contact&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
                            &lt;ul class="quicklinks"&gt;
    &lt;li&gt;&lt;a class="button orange border" href="http://online.kooboo.com" target="_blank"&gt;Online demo&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;

                        &lt;/nav&gt;
                    &lt;/div&gt;
                    &lt;div class="shadow"&gt;&lt;/div&gt;
                &lt;/div&gt;
                &lt;div class="global-width clearfix"&gt;
                    &lt;h2 class="page-title"&gt;Docs&lt;/h2&gt;

                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/header&gt;
        &lt;div id="main-container"&gt;
            
            &lt;div class="global-width clearfix"&gt;
                
                &lt;div id="main" class="right"&gt;
                    



    &lt;article class="article"&gt;
        &lt;header&gt;
            &lt;h2 class="title"&gt;Kooboo development concepts&lt;/h2&gt;
        &lt;/header&gt;
        &lt;div class="content clearfix"&gt;
            
                
                &lt;p&gt;All Kooboo concepts are based on many years of web development experience.&amp;nbsp;Our idea is that we should keep the learning curve as low as possible, allowing&amp;nbsp;you to&amp;nbsp;use your existing web development knowledge directly. In this article, I will explain how you can match Kooboo concepts to a standard web development experience.&lt;/p&gt;
&lt;p&gt;
&lt;p class="MsoNormal"&gt;&lt;span lang="EN-US"&gt;Take a look at the Kooboo CMS, you should find the followings.&amp;nbsp;&lt;o:p&gt;&lt;/o:p&gt;&lt;/span&gt;&lt;/p&gt;
&lt;p class="MsoNormal"&gt;
&lt;p class="MsoNormal"&gt;&lt;span lang="EN-US"&gt;&lt;img alt="kooboo_concept_start.png" src="/preview~kooboo/Images/Cms_Data/Contents/Kooboo_COM_V4/Media/CMS4/kooboo_concept_start.png"&gt;&lt;/span&gt;&lt;/p&gt;
&lt;p class="MsoNormal"&gt;
&lt;p class="MsoNormal"&gt;
&lt;p class="MsoNormal"&gt;In the left menu, you should find the following sub menus under “Development” tab. We will explain them below.&amp;nbsp;&lt;/p&gt;
&lt;p class="MsoNormal"&gt;
&lt;p class="MsoNormal"&gt;&lt;strong&gt;&lt;i&gt;Layouts&lt;/i&gt;&lt;/strong&gt;&lt;/p&gt;
&lt;p class="MsoNormal"&gt;&lt;strong&gt;&lt;i&gt;Views&lt;/i&gt;&lt;/strong&gt;&lt;/p&gt;
&lt;p class="MsoNormal"&gt;&lt;strong&gt;&lt;i&gt;Labels&lt;/i&gt;&lt;/strong&gt;&lt;/p&gt;
&lt;p class="MsoNormal"&gt;&lt;strong&gt;&lt;i&gt;Scripts&lt;/i&gt;&lt;/strong&gt;&lt;/p&gt;
&lt;p class="MsoNormal"&gt;&lt;strong&gt;&lt;i&gt;Themes&lt;/i&gt;&lt;/strong&gt;&lt;/p&gt;
&lt;p class="MsoNormal"&gt;&lt;strong&gt;&lt;i&gt;Custom files&lt;/i&gt;&lt;/strong&gt;&lt;/p&gt;
&lt;p class="MsoNormal"&gt;&lt;strong&gt;&lt;i&gt;Page Mapping&lt;/i&gt;&lt;/strong&gt;&lt;/p&gt;
&lt;p class="MsoNormal"&gt;&lt;strong&gt;&lt;i&gt;Plug-ins and Modules&lt;br&gt;&lt;br&gt;&lt;/i&gt;&lt;/strong&gt;&lt;/p&gt;
&lt;p class="MsoNormal"&gt;
&lt;h3 class="MsoNormal"&gt;Layout&lt;/h3&gt;
&lt;p class="MsoNormal"&gt;
&lt;p class="MsoNormal"&gt;Layout is part of the graphic design of your web page that is responsible for two things.&amp;nbsp;&lt;/p&gt;
&lt;p class="MsoNormal"&gt;Defines the page styles, script and Meta information.&amp;nbsp;&lt;/p&gt;
&lt;p class="MsoNormal"&gt;Defines positions for future elements like text content or widgets.&amp;nbsp;&lt;/p&gt;
&lt;p class="MsoNormal"&gt;Look at most of the webpages; you can see clearly the layout structure of it. One common example of it might be looks like below:&amp;nbsp;&lt;/p&gt;
&lt;p class="MsoNormal"&gt;
&lt;p class="MsoNormal"&gt;&lt;img alt="Kooboo_layout_sample.png" src="/preview~kooboo/Images/Cms_Data/Contents/Kooboo_COM_V4/Media/CMS4/Kooboo_layout_sample.png"&gt;&lt;/p&gt;
&lt;p class="MsoNormal"&gt;
&lt;p class="MsoNormal"&gt;Above is a typical two columns layout. Most of current websites use one, two or three columns, in each of the layout; there will be many varieties as well. In the two column layout, you can expect to see a lot of different types as below.&amp;nbsp;&lt;br&gt;&lt;/p&gt;
&lt;p class="MsoNormal"&gt;
&lt;p class="MsoNormal"&gt;&lt;img alt="kooboo_two_column.png" src="/preview~kooboo/Images/Cms_Data/Contents/Kooboo_COM_V4/Media/CMS4/kooboo_two_column.png"&gt;&lt;/p&gt;
&lt;p class="MsoNormal"&gt;
&lt;p class="MsoNormal"&gt;In the sample site we provide, you can also see very clearly the layout of it.&amp;nbsp;&lt;/p&gt;
&lt;p class="MsoNormal"&gt;&amp;nbsp;&lt;/p&gt;
&lt;p&gt;&lt;img alt="Kooboo_layout.png" src="/preview~kooboo/Images/Cms_Data/Contents/Kooboo_COM_V4/Media/CMS4/Kooboo_layout.png"&gt;&lt;/p&gt;
&lt;p&gt;
&lt;h3&gt;&lt;br&gt;&lt;br&gt;View&lt;/h3&gt;
&lt;p&gt;
&lt;p&gt;A View is used to accept data from data model or other source and generate an output representation of the data. In Kooboo CMS, the data can come from plugin or Datarule.&amp;nbsp;&lt;/p&gt;
&lt;p&gt;For example, the list page or the detail pages of articles are views.&amp;nbsp;&lt;/p&gt;
&lt;p&gt;
&lt;p&gt;&amp;nbsp;&lt;img alt="Kooboo_View.png" src="/preview~kooboo/Images/Cms_Data/Contents/Kooboo_COM_V4/Media/CMS4/Kooboo_View.png"&gt;&lt;/p&gt;
&lt;p&gt;
&lt;p&gt;
&lt;h3&gt;&lt;br&gt;&lt;br&gt;Labels&lt;/h3&gt;
&lt;p&gt;
&lt;p&gt;Labels are small text of the website.&lt;/p&gt;
&lt;p&gt;
&lt;p&gt;&lt;img alt="Kooboo_label.png" src="/preview~kooboo/Images/Cms_Data/Contents/Kooboo_COM_V4/Media/CMS4/Kooboo_label.png"&gt;&lt;/p&gt;
&lt;p&gt;
&lt;p&gt;
&lt;h3&gt;&lt;br&gt;&lt;br&gt;&lt;br&gt;Scripts&lt;/h3&gt;
&lt;p&gt;
&lt;p&gt;Scripts folder contains the JavaScript that will be used on your website; you can put all your JavaScript files in the folder.&amp;nbsp;&lt;/p&gt;
&lt;p&gt;
&lt;p&gt;To make the scripts available for pages to use, use the following commands in the related layout.&amp;nbsp;&lt;/p&gt;
&lt;p&gt;@Html.FrontHtml().RegisterScripts()&lt;/p&gt;
&lt;p&gt;
&lt;p&gt;This will register all JavaScript files found on the scripts root folder into the layout, in some pages, you may not need to have all the script files, you can add reference to one script file by using the following API&lt;/p&gt;
&lt;p&gt;@Url.FrontUrl().ScriptFileUrl(string relativeScriptFilePath)&lt;/p&gt;
&lt;p&gt;
&lt;p&gt;Some people are afraid that loading all scripts files into all pages will be a waste of bandwidth. This is not really such an issue, because all JavaScript files should only be loaded once. The next request to the same file, most of modern browsers will use the existing local cache copy of that JS file.&amp;nbsp;&lt;/p&gt;
&lt;p&gt;
&lt;p&gt;By default, the expiration date of JavaScript and Style sheet files is one month. However, if you modify any files in the Scripts or Theme folder, Kooboo CMS use a new version number for that file, which will result in cleaning of browser cache.&amp;nbsp;&lt;/p&gt;
&lt;p&gt;
&lt;h3&gt;&lt;br&gt;&lt;br&gt;&lt;br&gt;Theme&lt;/h3&gt;
&lt;p&gt;
&lt;p&gt;Theme works identical same as Scripts, only the API are slightly different.&amp;nbsp;&lt;/p&gt;
&lt;p&gt;@Html.FrontHtml().RegisterStyles()&lt;/p&gt;
&lt;p&gt;@Url.FrontUrl().ThemeFileUrl("images/header-bg.png")&lt;/p&gt;
&lt;p&gt;
&lt;p&gt;And Theme has an additional Theme.rule file that determines the rendering order or tag of css files in that folder. For example, you can define below code in the rule file.&amp;nbsp;&lt;/p&gt;
&lt;p&gt;
&lt;p&gt;&amp;lt;!--[if lte IE 7]&amp;gt;&amp;lt;link rel="stylesheet" type="text/css" href="ie.css" /&amp;gt;&amp;lt;![endif]--&amp;gt;&lt;/p&gt;
&lt;p&gt;
&lt;p&gt;
&lt;h3&gt;&lt;br&gt;&lt;br&gt;Custom files&lt;/h3&gt;
&lt;p&gt;
&lt;p&gt;Custom files is a file storage location where you can just upload or create files in it and then refer to it using API, for example:&amp;nbsp;&lt;/p&gt;
&lt;p&gt;&amp;lt;img src="@Url.FrontUrl().FileUrl("kooboo.png")" /&amp;gt;&lt;br&gt;&lt;br&gt;&lt;br&gt;&lt;/p&gt;
&lt;p&gt;
&lt;h3&gt;Page Mapping&lt;/h3&gt;
&lt;p&gt;
&lt;p&gt;This is for the missing page link in the MVC routing, once you change the page URL or one of the action URL is not available, you can find the missing routing here and reconnect them manually.&amp;nbsp;&lt;br&gt;&lt;br&gt;&lt;br&gt;&lt;/p&gt;
&lt;p&gt;
&lt;h3&gt;Plugins and modules&lt;/h3&gt;
&lt;p&gt;
&lt;p&gt;Plugin and module are more advanced add-ons to your websites. Both can contain complex business logic inside, the difference between Plugins and Modules is that Plugin does not have UI while Module can contain UI for both front end website and back end CMS management.&amp;nbsp;&lt;/p&gt;
&lt;p&gt;
&lt;p&gt;Kooboo CMS provides you Visual Studio.NET templates to build your plugins or modules. More information about plugins and modules will be explained in another chapter.&amp;nbsp;&lt;/p&gt;
&lt;p&gt;
            
            
        &lt;/div&gt;
        &lt;footer class="clearfix"&gt;
                &lt;a class="button orange prev" href="/preview~kooboo/docs/kooboo-cms/-upgrading"&gt;&lt;span&gt;Previous&lt;/span&gt;&lt;/a&gt;
                            &lt;a class="button orange next" href="/preview~kooboo/docs/kooboo-cms/using-samplesite-template"&gt;&lt;span&gt;Next&lt;/span&gt;&lt;/a&gt;
        &lt;/footer&gt;
    &lt;/article&gt;


&lt;script src="http://alexgorbatchev.com/pub/sh/current/scripts/shCore.js" type="text/javascript"&gt;&lt;/script&gt;
&lt;script src="http://alexgorbatchev.com/pub/sh/current/scripts/shAutoloader.js" type="text/javascript"&gt;&lt;/script&gt;

&lt;script type="text/javascript"&gt;
    $(function () {
        function path() {
            var args = arguments,
                result = []
            ;

            for (var i = 0; i &lt; args.length; i++)
                result.push(args[i].replace('/', 'http://alexgorbatchev.com/pub/sh/current/scripts/'));
            return result
        };

        SyntaxHighlighter.autoloader.apply(null, path(
          'applescript            /shBrushAppleScript.js',
          'actionscript3 as3      /shBrushAS3.js',
          'bash shell             /shBrushBash.js',
          'coldfusion cf          /shBrushColdFusion.js',
          'cpp c                  /shBrushCpp.js',
          'c# c-sharp csharp      /shBrushCSharp.js',
          'css                    /shBrushCss.js',
          'delphi pascal          /shBrushDelphi.js',
          'diff patch pas         /shBrushDiff.js',
          'erl erlang             /shBrushErlang.js',
          'groovy                 /shBrushGroovy.js',
          'java                   /shBrushJava.js',
          'jfx javafx             /shBrushJavaFX.js',
          'js jscript javascript  /shBrushJScript.js',
          'perl pl                /shBrushPerl.js',
          'php                    /shBrushPhp.js',
          'text plain             /shBrushPlain.js',
          'py python              /shBrushPython.js',
          'ruby rails ror rb      /shBrushRuby.js',
          'sass scss              /shBrushSass.js',
          'scala                  /shBrushScala.js',
          'sql                    /shBrushSql.js',
          'vb vbnet               /shBrushVb.js',
          'xml xhtml xslt html    /shBrushXml.js'
        ));
        SyntaxHighlighter.all();
    });
&lt;/script&gt;

                &lt;/div&gt;
                &lt;aside id="sidebar" class="left"&gt;
                    





&lt;div class="block menu"&gt;
    &lt;h6 class="title"&gt;User Manual&lt;/h6&gt;
        &lt;ol&gt;
            &lt;li class=""&gt;
                1. &lt;a href="/preview~kooboo/docs/kooboo-cms/kooboo_cms_getting_started" target=""&gt;Getting started &lt;/a&gt;
                    &lt;ol&gt;
            &lt;li class=""&gt;
                1.1. &lt;a href="/preview~kooboo/docs/kooboo-cms/installation-guide-1" target=""&gt;Installation guide&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                1.2. &lt;a href="/preview~kooboo/docs/kooboo-cms/kooboo-configuration" target=""&gt; Additional configuration options&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                1.3. &lt;a href="/preview~kooboo/docs/kooboo-cms/-upgrading" target=""&gt; Upgrading&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class="active "&gt;
                1.4. &lt;a href="/preview~kooboo/docs/kooboo-cms/kooboo-development-concepts" target=""&gt;Kooboo development concepts&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                1.5. &lt;a href="/preview~kooboo/docs/kooboo-cms/using-samplesite-template" target=""&gt;Using the SampleSite Template&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                1.6. &lt;a href="/preview~kooboo/docs/kooboo-cms/developing-your-first-kooboo-cms-website-part-i-" target=""&gt;Develope your first Kooboo website (part I)&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                1.7. &lt;a href="/preview~kooboo/docs/kooboo-cms/developing-your-first-kooboo-cms-website-part-ii-" target=""&gt;Develope your first Kooboo website (part II)&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                2. &lt;a href="/preview~kooboo/docs/kooboo-cms/content-management-1" target=""&gt;Content management&lt;/a&gt;
                    &lt;ol&gt;
            &lt;li class=""&gt;
                2.1. &lt;a href="/preview~kooboo/docs/kooboo-cms/content-type-management" target=""&gt;Content type management&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                2.2. &lt;a href="/preview~kooboo/docs/kooboo-cms/media-library" target=""&gt;Media library&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                2.3. &lt;a href="/preview~kooboo/docs/kooboo-cms/folder-management" target=""&gt;Folder management&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                2.4. &lt;a href="/preview~kooboo/docs/kooboo-cms/content-management-2" target=""&gt;Text Content management&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                2.5. &lt;a href="/preview~kooboo/docs/kooboo-cms/inline-editing-2" target=""&gt;Inline editing&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                2.6. &lt;a href="/preview~kooboo/docs/kooboo-cms/workflow" target=""&gt;Workflow&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                2.7. &lt;a href="/preview~kooboo/docs/kooboo-cms/content-broadcasting-and-sharing" target=""&gt;Content broadcasting and sharing&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                3. &lt;a href="/preview~kooboo/docs/kooboo-cms/kooboo_web_development" target=""&gt;Web development&lt;/a&gt;
                    &lt;ol&gt;
            &lt;li class=""&gt;
                3.1. &lt;a href="/preview~kooboo/docs/kooboo-cms/system" target=""&gt;System&lt;/a&gt;
                    &lt;ol&gt;
            &lt;li class=""&gt;
                3.1.1. &lt;a href="/preview~kooboo/docs/kooboo-cms/site-setting" target=""&gt;Site settings&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                3.1.2. &lt;a href="/preview~kooboo/docs/kooboo-cms/site-users" target=""&gt;Site users&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                3.1.3. &lt;a href="/preview~kooboo/docs/kooboo-cms/custom-errors" target=""&gt;Custom errors&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                3.1.4. &lt;a href="/preview~kooboo/docs/kooboo-cms/url-redirects" target=""&gt;Url redirects&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                3.1.5. &lt;a href="/preview~kooboo/docs/kooboo-cms/robots-txt" target=""&gt;Robots.txt&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                3.1.6. &lt;a href="/preview~kooboo/docs/kooboo-cms/system-diagnosis" target=""&gt;System diagnosis&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                3.2. &lt;a href="/preview~kooboo/docs/kooboo-cms/kooboo_development" target=""&gt;Development&lt;/a&gt;
                    &lt;ol&gt;
            &lt;li class=""&gt;
                3.2.1. &lt;a href="/preview~kooboo/docs/kooboo-cms/layouts" target=""&gt;Layouts&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                3.2.2. &lt;a href="/preview~kooboo/docs/kooboo-cms/views" target=""&gt;Views&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                3.2.3. &lt;a href="/preview~kooboo/docs/kooboo-cms/labels" target=""&gt;Labels&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                3.2.4. &lt;a href="/preview~kooboo/docs/kooboo-cms/scripts" target=""&gt;Scripts&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                3.2.5. &lt;a href="/preview~kooboo/docs/kooboo-cms/theme" target=""&gt;Theme&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                3.2.6. &lt;a href="/preview~kooboo/docs/kooboo-cms/custom-files" target=""&gt;Custom files&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                3.2.7. &lt;a href="/preview~kooboo/docs/kooboo-cms/page-mapping" target=""&gt;Page mapping&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                3.3. &lt;a href="/preview~kooboo/docs/kooboo-cms/add_pages" target=""&gt;Add pages&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                3.4. &lt;a href="/preview~kooboo/docs/kooboo-cms/page-settings" target=""&gt;Page settings&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                3.5. &lt;a href="/preview~kooboo/docs/kooboo-cms/module_development_43" target=""&gt;Module development (for v 4.3 or up)&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                3.6. &lt;a href="/preview~kooboo/docs/kooboo-cms/module-development" target=""&gt;Module development ( v. 4.2 or earlier)&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                3.7. &lt;a href="/preview~kooboo/docs/kooboo-cms/page-plugin-development" target=""&gt;Page plugin development&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                3.8. &lt;a href="/preview~kooboo/docs/kooboo-cms/new-extension-development" target=""&gt;New extension development&lt;/a&gt;
                    &lt;ol&gt;
            &lt;li class=""&gt;
                3.8.1. &lt;a href="/preview~kooboo/docs/kooboo-cms/ab-test-rule" target=""&gt;AB test rule&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                3.8.2. &lt;a href="/preview~kooboo/docs/kooboo-cms/content-events" target=""&gt;Content events&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                3.8.3. &lt;a href="/preview~kooboo/docs/kooboo-cms/submission-plug-in-development" target=""&gt;Submission plug-in development&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                3.8.4. &lt;a href="/preview~kooboo/docs/kooboo-cms/page-plug-in-development" target=""&gt;page plug-in development&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                3.8.5. &lt;a href="/preview~kooboo/docs/kooboo-cms/module_development_using_extension_template" target=""&gt;Module development&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                3.8.6. &lt;a href="/preview~kooboo/docs/kooboo-cms/advanced-module-concepts" target=""&gt;Advanced module concepts&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                4. &lt;a href="/preview~kooboo/docs/kooboo-cms/technical-articles" target=""&gt;Technical articles&lt;/a&gt;
                    &lt;ol&gt;
            &lt;li class=""&gt;
                4.1. &lt;a href="/preview~kooboo/docs/kooboo-cms/using-visual-studio-net" target=""&gt;Using Visual Studio.NET 2010/2012&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                4.2. &lt;a href="/preview~kooboo/docs/kooboo-cms/kooboo-multi-sites-solution" target=""&gt;Kooboo multi site solution&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                4.3. &lt;a href="/preview~kooboo/docs/kooboo-cms/switching-content-database" target=""&gt;Switching content database&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                4.4. &lt;a href="/preview~kooboo/docs/kooboo-cms/migrate-from-kooboo-cms-2-0-to-3-0" target=""&gt;Migrate from Kooboo CMS 2.0 to 3.0&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                4.5. &lt;a href="/preview~kooboo/docs/kooboo-cms/kooboo-cms-load-balance" target=""&gt;Kooboo CMS load balance&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                4.6. &lt;a href="/preview~kooboo/docs/kooboo-cms/deploy-kooboo-on-microsoft-azure-platform" target=""&gt;Deploy Kooboo on Microsoft Azure platform&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                4.7. &lt;a href="/preview~kooboo/docs/kooboo-cms/faq" target=""&gt;Some frequent asked questions&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                4.8. &lt;a href="/preview~kooboo/docs/kooboo-cms/faq2" target=""&gt;Another frequent asked questions&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                5. &lt;a href="/preview~kooboo/docs/kooboo-cms/kooboo-products-and-raodmap" target=""&gt;Kooboo products and raodmap&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
    &lt;/ol&gt;

&lt;/div&gt;

                &lt;/aside&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;footer id="footer"&gt;
            
            &lt;div class="global-width clearfix"&gt;
    &lt;div class="columns clearfix"&gt;
        &lt;div class="span5"&gt;
            &lt;div class="block about"&gt;
                &lt;h6 class="title"&gt;About&lt;/h6&gt;
                &lt;div class="content"&gt;&lt;p&gt;Kooboo is an international web development firm with its core development team based in China.&amp;nbsp; Kooboo contains products and practices to meet all your web development needs, allowing you complete freedom in development.&amp;nbsp; Kooboo comprises Kooboo products (Design tools, CMS, Ecommerce, and Newsletters), Kooboo people, Kooboo service, and Kooboo network.&lt;/p&gt;&lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="span3"&gt;
            &lt;div class="block links"&gt;
                &lt;h6 class="title"&gt;Links&lt;/h6&gt;
                &lt;ul&gt;
                    &lt;li&gt;&lt;a href=""&gt;Home&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a href="/preview~kooboo/licensefaq"&gt;License&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a href="http://forum.kooboo.com" target="_blank"&gt;Community Forum&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a href="/preview~kooboo/privacy-policy"&gt;Privacy Policy&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a href="/preview~kooboo/service"&gt;Service&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a href="/preview~kooboo/partner"&gt;Partner Network&lt;/a&gt;&lt;/li&gt;
                &lt;/ul&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="span4"&gt;
            &lt;div class="block updates"&gt;
    &lt;h6 class="title"&gt;Updates&lt;/h6&gt;
    &lt;ul&gt;
            &lt;li&gt;
                &lt;a href="/preview~kooboo/updates/detail/dutch-consulate-general-visits-kooboo-office" target=""&gt;Dutch Consulate General visits Kooboo office&lt;/a&gt;
                &lt;span class="date"&gt;December 10, 2013&lt;/span&gt;
            &lt;/li&gt;
            &lt;li&gt;
                &lt;a href="/preview~kooboo/updates/detail/kooboo-developers-to-sweden" target=""&gt;Kooboo developers to Sweden&lt;/a&gt;
                &lt;span class="date"&gt;May 5, 2013&lt;/span&gt;
            &lt;/li&gt;
            &lt;li&gt;
                &lt;a href="/preview~kooboo/updates/detail/kooboo-show-case-from-rb2-partner" target=""&gt;Kooboo showcase from rb2 partner&lt;/a&gt;
                &lt;span class="date"&gt;February 23, 2013&lt;/span&gt;
            &lt;/li&gt;
    &lt;/ul&gt;
&lt;/div&gt;

        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;div class="bottom"&gt;
    &lt;div class="global-width clearfix"&gt;
        &lt;p class="copyright"&gt;&amp;copy;Copyright 2009 - 2014 &lt;a href="/preview~kooboo/"&gt;Kooboo team&lt;/a&gt; All Rights Reserved.&lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;

        &lt;/footer&gt;
    &lt;/div&gt;
    &lt;script src="/preview~kooboo/Scripts/Kooboo-WebResource/Index/jQuery/20130227" type="text/javascript"&gt;&lt;/script&gt;
&lt;script type="text/javascript" src="/preview~kooboo/Scripts/Kooboo_COM_V4/Kooboo-Resource/scripts/1_0_0_20131217100901/True"&gt;&lt;/script&gt;

&lt;/body&gt;
&lt;/html&gt;
</Html>
	<HtmlMetas i:nil="true" />
	<HtmlTitle i:nil="true" />
	<IsDefault>false</IsDefault>
	<Layout i:nil="true" />
	<Name>-docs-Kooboo-CMS-Kooboo-development-concepts</Name>
	<OutputCache i:nil="true" />
	<PageContents xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
	<Plugins xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<Published>false</Published>
	<RequireHttps>false</RequireHttps>
	<Routes>
		<PageRoute>
			<Defaults xmlns:d4p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
			<Identifier>/docs/Kooboo-CMS/Kooboo-development-concepts</Identifier>
			<RoutePath i:nil="true" />
		</PageRoute>
	</Routes>
	<Scripts i:nil="true" />
	<Site>
		<AbsoluteName xmlns="Ovaldi.Core.Models">kooboo</AbsoluteName>
	</Site>
	<Styles i:nil="true" />
	<UUID>-docs-Kooboo-CMS-Kooboo-development-concepts</UUID>
</Page>