/* @module: Code viewer */
.kb-code-viewer {
	.title {
		font-size: 12px;
		font-weight: 600;
	}

	.container {
		background: #FFF;
		border: 1px solid #CCC;
		border-bottom: none;
		height: 200px;
		overflow: auto;
		padding: 10px;
	}

	li ul {
		margin-left: 30px;
	}

	.code {
		cursor: pointer;

		&.active,
		&.hover {
			background: #39F;
			color: #FFF;
			.rounded(3px);
		}
	}

	.bottom {
		background: #F5F5F5;
		border: 1px solid #CCC;

		a {
			display: inline-block;
			line-height: 20px;
			margin: 0 5px;
			padding: 0 5px;

			&:hover {
				background: #DDD;
			}

			&.active,
			&.hover {
				background: #39F;
				color: #FFF;
			}
		}
	}
}
/* @module: Code editor */
.kb-code-editor {
	.container {
		background: #FFF;
		border: 1px solid #CCC;
		padding: 10px;

		[contenteditable] {
			outline: 1px dotted #333;
		}

		* {
			font-size: 12px;
		}
	}

	.buttons {
		margin-top: 10px;
	}
}
/* @module: Layout box */


.kb-layout-box {
	position: relative;

	> .label {
		bottom: 0;
		top: auto !important;

		&.left {
			left: 0;
		}

		&.right {
			left: auto;
			right: 0;
		}
	}

	div {
		padding: 24px;
		position: relative;

		&.hover {
			background: #39F;
			color: #FFF;

			> .label,
			> input,
			> .text {
				color: #FFF !important;
			}
		}
	}

	.label {
		background: none;
		color: #555;
		left: 4px;
		line-height: 1.5;
		padding: 0;
		position: absolute;
		top: 0;
	}

	.input-top,
	.input-bottom,
	.input-left,
	.input-right {
		background: none;
		border: none;
		height: 20px;
		padding: 0;
		position: absolute;
		text-align: center;
		width: 20px;

		&.null {
			color: #999;
		}

		&:focus {
			background: #FFF;
			color: #555 !important;
		}
	}

	.input-top {
		left: 50%;
		margin-left: -10px;
		top: 2px;
	}

	.input-bottom {
		bottom: 2px;
		left: 50%;
		margin-left: -10px;
	}

	.input-left {
		left: 2px;
		top: 50%;
		margin-top: -10px;
	}

	.input-right {
		right: 2px;
		top: 50%;
		margin-top: -10px;
	}

	.margin {
		background: #FFF;
		border: 1px dashed #BBB;
	}

	.border {
		background: #BBB;
		border: 1px solid #888;
	}

	.padding {
		background: #DDD;
		border: 1px solid #888;
	}

	.content {
		background: #DDD;
		border: 1px solid #888;
		padding: 40px;
		text-align: center;

		.text {
			color: #555;
		}
	}

	.input-height,
	.input-width {
		background: none;
		border: none;
		height: 20px;
		padding: 0;
		text-align: center;
		width: 24px;

		&.null {
			color: #999;
		}

		&:focus {
			background: #FFF;
			color: #555 !important;
		}
	}
}
/* @module: Corner editor */
.kb-corner-editor {
	.kb-corner-editor-wrap {
		height: 80px;
		position: relative;
	}

	.input-left-top,
	.input-left-bottom,
	.input-right-top,
	.input-right-bottom {
		line-height: 14px;
		position: absolute;
		width: 60px;
	}

	.input-left-top {
		left: 0;
		top: 0;
	}

	.input-left-bottom {
		bottom: 0;
		left: 0;
	}

	.input-right-top {
		right: 0;
		top: 0;
	}

	.input-right-bottom {
		bottom: 0;
		right: 0;
	}

	.ui-spinner {
		margin-right: 2px;

		input {
			height: 20px;
			padding: 3px;
			text-align: center;
			width: 26px;
		}
	}

	.box-model {
		bottom: 0;
		left: 65px;
		margin: 0 auto;
		position: absolute;
		right: 65px;
		top: 0;

		.left-top,
		.left-bottom,
		.right-top,
		.right-bottom {
			height: 20px;
			position: absolute;
			width: 20px;
		}

		.left-top {
			border-left: 3px solid #999;
			border-top: 3px solid #999;
			left: 0;
			top: 0;
		}

		.left-bottom {
			border-bottom: 3px solid #999;
			border-left: 3px solid #999;
			bottom: 0;
			left: 0;
		}

		.right-top {
			border-right: 3px solid #999;
			border-top: 3px solid #999;
			right: 0;
			top: 0;
		}

		.right-bottom {
			border-bottom: 3px solid #999;
			border-right: 3px solid #999;
			bottom: 0;
			right: 0;
		}
	}

	.field {
		margin-top: 10px;
		.clearfix();
	}
}
