@add: "0 0 26px 26px";
@angle-right-white: "0 -26px 5px 9px";
@back: "0 -35px 26px 26px";
@c-sharp: "0 -61px 16px 16px";
@caret-down-black: "0 -77px 7px 4px";
@caret-down-blue: "0 -81px 19px 9px";
@caret-hollow-right-black: "0 -90px 6px 9px";
@caret-hollow-right-gray: "0 -99px 6px 9px";
@caret-rightbottom-black: "0 -108px 6px 6px";
@caret-rightbottom-gray: "0 -114px 6px 6px";
@caret-toggle: "0 -120px 7px 10px";
@caret-up-black: "0 -130px 7px 4px";
@checkbox-checked-disabled: "0 -134px 15px 15px";
@checkbox-checked: "0 -149px 15px 15px";
@checkbox-disabled: "0 -164px 15px 15px";
@checkbox: "0 -179px 15px 15px";
@chevron-circle-down: "0 -194px 16px 16px";
@chevron-circle-up: "0 -210px 16px 16px";
@chevron-down-black: "0 -226px 8px 6px";
@chevron-down-gray: "0 -232px 8px 6px";
@chevron-down-white: "0 -238px 8px 6px";
@chevron-left-black: "0 -244px 6px 8px";
@chevron-left-gray: "0 -252px 6px 8px";
@chevron-left-white: "0 -260px 6px 8px";
@chevron-right-black: "0 -268px 6px 8px";
@chevron-right-gray: "0 -276px 6px 8px";
@chevron-right-white: "0 -284px 6px 8px";
@chevron-up-black: "0 -292px 8px 6px";
@chevron-up-gray: "0 -298px 8px 6px";
@chevron-up-white: "0 -304px 8px 6px";
@clock: "0 -310px 16px 16px";
@cluster: "0 -326px 17px 16px";
@colorbox: "0 -342px 20px 20px";
@copy: "0 -362px 16px 16px";
@cross-mini-black: "0 -378px 8px 8px";
@cross-mini-white: "0 -386px 8px 8px";
@cross-small-red: "0 -394px 12px 12px";
@cross-white: "0 -406px 14px 14px";
@delete: "0 -420px 26px 26px";
@drag: "0 -446px 6px 18px";
@edit-small: "0 -464px 16px 16px";
@edit: "0 -480px 26px 26px";
@export: "0 -506px 26px 26px";
@file-doc: "0 -532px 16px 16px";
@file-empty: "0 -548px 16px 16px";
@file-image: "0 -564px 16px 16px";
@flip-x: "0 -580px 26px 22px";
@flip-y: "0 -602px 22px 26px";
@folder-add: "0 -628px 26px 26px";
@folder-blue: "0 -654px 16px 13px";
@folder-white: "0 -667px 16px 13px";
@global-small: "0 -680px 13px 12px";
@grid-gray: "0 -692px 20px 14px";
@grid-white: "0 -706px 20px 14px";
@home-gray: "0 -720px 32px 14px";
@home-white: "0 -734px 32px 14px";
@import: "0 -748px 26px 26px";
@info-blue: "0 -774px 16px 16px";
@info-gray: "0 -790px 16px 16px";
@inline-edit: "0 -806px 16px 16px";
@input: "0 -822px 26px 26px";
@insert-page: "0 -848px 16px 16px";
@insert-text: "0 -864px 16px 16px";
@insert: "0 -880px 16px 16px";
@layout: "0 -896px 14px 12px";
@list-gray: "0 -908px 17px 14px";
@list-white: "0 -922px 17px 14px";
@localize: "0 -936px 26px 26px";
@media-library: "0 -962px 15px 15px";
@minus-black: "0 -977px 14px 14px";
@minus-mini: "0 -991px 11px 11px";
@minus-small: "0 -1002px 16px 16px";
@minus-white: "0 -1018px 14px 14px";
@minus: "0 -1032px 28px 28px";
@module: "0 -1060px 12px 12px";
@new-tag-blue: "0 -1072px 16px 16px";
@new-tag-small-blue: "0 -1088px 9px 9px";
@next-small: "0 -1097px 16px 16px";
@next: "0 -1113px 26px 26px";
@page-ab-testing: "0 -1139px 17px 17px";
@page-inherited: "0 -1156px 17px 17px";
@page-static: "0 -1173px 17px 17px";
@page-unsynchronized: "0 -1190px 17px 17px";
@plus-black: "0 -1207px 14px 14px";
@plus-mini: "0 -1221px 11px 11px";
@plus-small: "0 -1232px 16px 16px";
@plus-white: "0 -1248px 14px 14px";
@plus: "0 -1262px 28px 28px";
@preview: "0 -1290px 26px 26px";
@profile: "0 -1316px 11px 12px";
@radio-checked-disabled: "0 -1328px 14px 14px";
@radio-checked: "0 -1342px 14px 14px";
@radio-disabled: "0 -1356px 14px 14px";
@radio: "0 -1370px 14px 14px";
@redo-blue: "0 -1384px 15px 13px";
@redo-gray: "0 -1397px 15px 13px";
@refresh-blue: "0 -1410px 15px 12px";
@refresh-gray: "0 -1422px 15px 12px";
@relation: "0 -1434px 26px 26px";
@reset: "0 -1460px 26px 26px";
@rotate-anti: "0 -1486px 20px 20px";
@rotate: "0 -1506px 20px 20px";
@save-small: "0 -1526px 16px 16px";
@save: "0 -1542px 26px 26px";
@search: "0 -1568px 14px 14px";
@secure: "0 -1582px 26px 26px";
@select-blue: "0 -1608px 17px 18px";
@select-gray: "0 -1626px 17px 18px";
@send: "0 -1644px 26px 26px";
@setting-small-gray: "0 -1670px 12px 12px";
@setting-small: "0 -1682px 12px 12px";
@setting: "0 -1694px 26px 26px";
@signout: "0 -1720px 12px 12px";
@sort-asc: "0 -1732px 8px 11px";
@sort-desc: "0 -1743px 8px 11px";
@status-error: "0 -1754px 9px 9px";
@status-normal: "0 -1763px 19px 19px";
@status-off: "0 -1782px 9px 9px";
@status-on: "0 -1791px 9px 9px";
@status-warning: "0 -1800px 9px 9px";
@switch: "0 -1809px 28px 28px";
@tick: "0 -1837px 14px 12px";
@trash-blue: "0 -1849px 16px 16px";
@trash: "0 -1865px 26px 26px";
@triangle-down-black: "0 -1891px 11px 12px";
@triangle-right-black: "0 -1903px 12px 11px";
@undo-blue: "0 -1914px 15px 13px";
@undo-gray: "0 -1927px 15px 13px";
@upload: "0 -1940px 26px 26px";
@uploads: "0 -1966px 26px 26px";
@users: "0 -1992px 16px 12px";
@warning-small: "0 -2004px 12px 12px";
@warning: "0 -2016px 28px 24px";
@zoom-in: "0 -2040px 16px 16px";
@zoom-out: "0 -2056px 16px 16px";

.sprite (@sprite) {
	background: url(./images/sprites.png) no-repeat e( `@{sprite}.split(' ')[0]` ) e( `@{sprite}.split(' ')[1]` );
	width: e( `@{sprite}.split(' ')[2]` );
	height: e( `@{sprite}.split(' ')[3]` );
}

.icon {
	background: url(./images/sprites.png) no-repeat -999em -999em;
	display: inline-block;

	&.add {
		background-position: 0 0;
		height: 26px;
		width: 26px;
	}

	&.angle-right-white {
		background-position: 0 -26px;
		height: 9px;
		width: 5px;
	}

	&.back {
		background-position: 0 -35px;
		height: 26px;
		width: 26px;
	}

	&.c-sharp {
		background-position: 0 -61px;
		height: 16px;
		width: 16px;
	}

	&.caret-down-black {
		background-position: 0 -77px;
		height: 4px;
		width: 7px;
	}

	&.caret-down-blue {
		background-position: 0 -81px;
		height: 9px;
		width: 19px;
	}

	&.caret-hollow-right-black {
		background-position: 0 -90px;
		height: 9px;
		width: 6px;
	}

	&.caret-hollow-right-gray {
		background-position: 0 -99px;
		height: 9px;
		width: 6px;
	}

	&.caret-rightbottom-black {
		background-position: 0 -108px;
		height: 6px;
		width: 6px;
	}

	&.caret-rightbottom-gray {
		background-position: 0 -114px;
		height: 6px;
		width: 6px;
	}

	&.caret-toggle {
		background-position: 0 -120px;
		height: 10px;
		width: 7px;
	}

	&.caret-up-black {
		background-position: 0 -130px;
		height: 4px;
		width: 7px;
	}

	&.checkbox-checked-disabled {
		background-position: 0 -134px;
		height: 15px;
		width: 15px;
	}

	&.checkbox-checked {
		background-position: 0 -149px;
		height: 15px;
		width: 15px;
	}

	&.checkbox-disabled {
		background-position: 0 -164px;
		height: 15px;
		width: 15px;
	}

	&.checkbox {
		background-position: 0 -179px;
		height: 15px;
		width: 15px;
	}

	&.chevron-circle-down {
		background-position: 0 -194px;
		height: 16px;
		width: 16px;
	}

	&.chevron-circle-up {
		background-position: 0 -210px;
		height: 16px;
		width: 16px;
	}

	&.chevron-down-black {
		background-position: 0 -226px;
		height: 6px;
		width: 8px;
	}

	&.chevron-down-gray {
		background-position: 0 -232px;
		height: 6px;
		width: 8px;
	}

	&.chevron-down-white {
		background-position: 0 -238px;
		height: 6px;
		width: 8px;
	}

	&.chevron-left-black {
		background-position: 0 -244px;
		height: 8px;
		width: 6px;
	}

	&.chevron-left-gray {
		background-position: 0 -252px;
		height: 8px;
		width: 6px;
	}

	&.chevron-left-white {
		background-position: 0 -260px;
		height: 8px;
		width: 6px;
	}

	&.chevron-right-black {
		background-position: 0 -268px;
		height: 8px;
		width: 6px;
	}

	&.chevron-right-gray {
		background-position: 0 -276px;
		height: 8px;
		width: 6px;
	}

	&.chevron-right-white {
		background-position: 0 -284px;
		height: 8px;
		width: 6px;
	}

	&.chevron-up-black {
		background-position: 0 -292px;
		height: 6px;
		width: 8px;
	}

	&.chevron-up-gray {
		background-position: 0 -298px;
		height: 6px;
		width: 8px;
	}

	&.chevron-up-white {
		background-position: 0 -304px;
		height: 6px;
		width: 8px;
	}

	&.clock {
		background-position: 0 -310px;
		height: 16px;
		width: 16px;
	}

	&.cluster {
		background-position: 0 -326px;
		height: 16px;
		width: 17px;
	}

	&.colorbox {
		background-position: 0 -342px;
		height: 20px;
		width: 20px;
	}

	&.copy {
		background-position: 0 -362px;
		height: 16px;
		width: 16px;
	}

	&.cross-mini-black {
		background-position: 0 -378px;
		height: 8px;
		width: 8px;
	}

	&.cross-mini-white {
		background-position: 0 -386px;
		height: 8px;
		width: 8px;
	}

	&.cross-small-red {
		background-position: 0 -394px;
		height: 12px;
		width: 12px;
	}

	&.cross-white {
		background-position: 0 -406px;
		height: 14px;
		width: 14px;
	}

	&.delete {
		background-position: 0 -420px;
		height: 26px;
		width: 26px;
	}

	&.drag {
		background-position: 0 -446px;
		height: 18px;
		width: 6px;
	}

	&.edit-small {
		background-position: 0 -464px;
		height: 16px;
		width: 16px;
	}

	&.edit {
		background-position: 0 -480px;
		height: 26px;
		width: 26px;
	}

	&.export {
		background-position: 0 -506px;
		height: 26px;
		width: 26px;
	}

	&.file-doc {
		background-position: 0 -532px;
		height: 16px;
		width: 16px;
	}

	&.file-empty {
		background-position: 0 -548px;
		height: 16px;
		width: 16px;
	}

	&.file-image {
		background-position: 0 -564px;
		height: 16px;
		width: 16px;
	}

	&.flip-x {
		background-position: 0 -580px;
		height: 22px;
		width: 26px;
	}

	&.flip-y {
		background-position: 0 -602px;
		height: 26px;
		width: 22px;
	}

	&.folder-add {
		background-position: 0 -628px;
		height: 26px;
		width: 26px;
	}

	&.folder-blue {
		background-position: 0 -654px;
		height: 13px;
		width: 16px;
	}

	&.folder-white {
		background-position: 0 -667px;
		height: 13px;
		width: 16px;
	}

	&.global-small {
		background-position: 0 -680px;
		height: 12px;
		width: 13px;
	}

	&.grid-gray {
		background-position: 0 -692px;
		height: 14px;
		width: 20px;
	}

	&.grid-white {
		background-position: 0 -706px;
		height: 14px;
		width: 20px;
	}

	&.home-gray {
		background-position: 0 -720px;
		height: 14px;
		width: 32px;
	}

	&.home-white {
		background-position: 0 -734px;
		height: 14px;
		width: 32px;
	}

	&.import {
		background-position: 0 -748px;
		height: 26px;
		width: 26px;
	}

	&.info-blue {
		background-position: 0 -774px;
		height: 16px;
		width: 16px;
	}

	&.info-gray {
		background-position: 0 -790px;
		height: 16px;
		width: 16px;
	}

	&.inline-edit {
		background-position: 0 -806px;
		height: 16px;
		width: 16px;
	}

	&.input {
		background-position: 0 -822px;
		height: 26px;
		width: 26px;
	}

	&.insert-page {
		background-position: 0 -848px;
		height: 16px;
		width: 16px;
	}

	&.insert-text {
		background-position: 0 -864px;
		height: 16px;
		width: 16px;
	}

	&.insert {
		background-position: 0 -880px;
		height: 16px;
		width: 16px;
	}

	&.layout {
		background-position: 0 -896px;
		height: 12px;
		width: 14px;
	}

	&.list-gray {
		background-position: 0 -908px;
		height: 14px;
		width: 17px;
	}

	&.list-white {
		background-position: 0 -922px;
		height: 14px;
		width: 17px;
	}

	&.localize {
		background-position: 0 -936px;
		height: 26px;
		width: 26px;
	}

	&.media-library {
		background-position: 0 -962px;
		height: 15px;
		width: 15px;
	}

	&.minus-black {
		background-position: 0 -977px;
		height: 14px;
		width: 14px;
	}

	&.minus-mini {
		background-position: 0 -991px;
		height: 11px;
		width: 11px;
	}

	&.minus-small {
		background-position: 0 -1002px;
		height: 16px;
		width: 16px;
	}

	&.minus-white {
		background-position: 0 -1018px;
		height: 14px;
		width: 14px;
	}

	&.minus {
		background-position: 0 -1032px;
		height: 28px;
		width: 28px;
	}

	&.module {
		background-position: 0 -1060px;
		height: 12px;
		width: 12px;
	}

	&.new-tag-blue {
		background-position: 0 -1072px;
		height: 16px;
		width: 16px;
	}

	&.new-tag-small-blue {
		background-position: 0 -1088px;
		height: 9px;
		width: 9px;
	}

	&.next-small {
		background-position: 0 -1097px;
		height: 16px;
		width: 16px;
	}

	&.next {
		background-position: 0 -1113px;
		height: 26px;
		width: 26px;
	}

	&.page-ab-testing {
		background-position: 0 -1139px;
		height: 17px;
		width: 17px;
	}

	&.page-inherited {
		background-position: 0 -1156px;
		height: 17px;
		width: 17px;
	}

	&.page-static {
		background-position: 0 -1173px;
		height: 17px;
		width: 17px;
	}

	&.page-unsynchronized {
		background-position: 0 -1190px;
		height: 17px;
		width: 17px;
	}

	&.plus-black {
		background-position: 0 -1207px;
		height: 14px;
		width: 14px;
	}

	&.plus-mini {
		background-position: 0 -1221px;
		height: 11px;
		width: 11px;
	}

	&.plus-small {
		background-position: 0 -1232px;
		height: 16px;
		width: 16px;
	}

	&.plus-white {
		background-position: 0 -1248px;
		height: 14px;
		width: 14px;
	}

	&.plus {
		background-position: 0 -1262px;
		height: 28px;
		width: 28px;
	}

	&.preview {
		background-position: 0 -1290px;
		height: 26px;
		width: 26px;
	}

	&.profile {
		background-position: 0 -1316px;
		height: 12px;
		width: 11px;
	}

	&.radio-checked-disabled {
		background-position: 0 -1328px;
		height: 14px;
		width: 14px;
	}

	&.radio-checked {
		background-position: 0 -1342px;
		height: 14px;
		width: 14px;
	}

	&.radio-disabled {
		background-position: 0 -1356px;
		height: 14px;
		width: 14px;
	}

	&.radio {
		background-position: 0 -1370px;
		height: 14px;
		width: 14px;
	}

	&.redo-blue {
		background-position: 0 -1384px;
		height: 13px;
		width: 15px;
	}

	&.redo-gray {
		background-position: 0 -1397px;
		height: 13px;
		width: 15px;
	}

	&.refresh-blue {
		background-position: 0 -1410px;
		height: 12px;
		width: 15px;
	}

	&.refresh-gray {
		background-position: 0 -1422px;
		height: 12px;
		width: 15px;
	}

	&.relation {
		background-position: 0 -1434px;
		height: 26px;
		width: 26px;
	}

	&.reset {
		background-position: 0 -1460px;
		height: 26px;
		width: 26px;
	}

	&.rotate-anti {
		background-position: 0 -1486px;
		height: 20px;
		width: 20px;
	}

	&.rotate {
		background-position: 0 -1506px;
		height: 20px;
		width: 20px;
	}

	&.save-small {
		background-position: 0 -1526px;
		height: 16px;
		width: 16px;
	}

	&.save {
		background-position: 0 -1542px;
		height: 26px;
		width: 26px;
	}

	&.search {
		background-position: 0 -1568px;
		height: 14px;
		width: 14px;
	}

	&.secure {
		background-position: 0 -1582px;
		height: 26px;
		width: 26px;
	}

	&.select-blue {
		background-position: 0 -1608px;
		height: 18px;
		width: 17px;
	}

	&.select-gray {
		background-position: 0 -1626px;
		height: 18px;
		width: 17px;
	}

	&.send {
		background-position: 0 -1644px;
		height: 26px;
		width: 26px;
	}

	&.setting-small-gray {
		background-position: 0 -1670px;
		height: 12px;
		width: 12px;
	}

	&.setting-small {
		background-position: 0 -1682px;
		height: 12px;
		width: 12px;
	}

	&.setting {
		background-position: 0 -1694px;
		height: 26px;
		width: 26px;
	}

	&.signout {
		background-position: 0 -1720px;
		height: 12px;
		width: 12px;
	}

	&.sort-asc {
		background-position: 0 -1732px;
		height: 11px;
		width: 8px;
	}

	&.sort-desc {
		background-position: 0 -1743px;
		height: 11px;
		width: 8px;
	}

	&.status-error {
		background-position: 0 -1754px;
		height: 9px;
		width: 9px;
	}

	&.status-normal {
		background-position: 0 -1763px;
		height: 19px;
		width: 19px;
	}

	&.status-off {
		background-position: 0 -1782px;
		height: 9px;
		width: 9px;
	}

	&.status-on {
		background-position: 0 -1791px;
		height: 9px;
		width: 9px;
	}

	&.status-warning {
		background-position: 0 -1800px;
		height: 9px;
		width: 9px;
	}

	&.switch {
		background-position: 0 -1809px;
		height: 28px;
		width: 28px;
	}

	&.tick {
		background-position: 0 -1837px;
		height: 12px;
		width: 14px;
	}

	&.trash-blue {
		background-position: 0 -1849px;
		height: 16px;
		width: 16px;
	}

	&.trash {
		background-position: 0 -1865px;
		height: 26px;
		width: 26px;
	}

	&.triangle-down-black {
		background-position: 0 -1891px;
		height: 12px;
		width: 11px;
	}

	&.triangle-right-black {
		background-position: 0 -1903px;
		height: 11px;
		width: 12px;
	}

	&.undo-blue {
		background-position: 0 -1914px;
		height: 13px;
		width: 15px;
	}

	&.undo-gray {
		background-position: 0 -1927px;
		height: 13px;
		width: 15px;
	}

	&.upload {
		background-position: 0 -1940px;
		height: 26px;
		width: 26px;
	}

	&.uploads {
		background-position: 0 -1966px;
		height: 26px;
		width: 26px;
	}

	&.users {
		background-position: 0 -1992px;
		height: 12px;
		width: 16px;
	}

	&.warning-small {
		background-position: 0 -2004px;
		height: 12px;
		width: 12px;
	}

	&.warning {
		background-position: 0 -2016px;
		height: 24px;
		width: 28px;
	}

	&.zoom-in {
		background-position: 0 -2040px;
		height: 16px;
		width: 16px;
	}

	&.zoom-out {
		background-position: 0 -2056px;
		height: 16px;
		width: 16px;
	}
}
