<?xml version="1.0" encoding="utf-8"?>
<Page xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Ovaldi.Core.Models">
	<AbsoluteName>-JustRun1983-p-3955238.html</AbsoluteName>
	<CustomFields xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<EnableScript>true</EnableScript>
	<EnableTheming>true</EnableTheming>
	<Html>&lt;!DOCTYPE html&gt;
&lt;html lang="zh-cn"&gt;
&lt;head&gt;
&lt;meta charset="utf-8"&gt;
&lt;title&gt;下一代Asp.net开发规范OWIN（1）—— OWIN产生的背景以及简单介绍 - JustRun - 博客园&lt;/title&gt;
&lt;link type="text/css" rel="stylesheet" href="/preview~Cnblogs/Styles/bundles/blog-common.css"&gt;
&lt;link id="MainCss" type="text/css" rel="stylesheet" href="/preview~Cnblogs/Styles/skins/Minyx2_Lite/bundle-Minyx2_Lite.css"&gt;
&lt;link type="text/css" rel="stylesheet" href="/preview~Cnblogs/Styles/blog/customcss/17966.css"&gt;
&lt;link title="RSS" type="application/rss+xml" rel="alternate" href="http://www.cnblogs.com/JustRun1983/rss"&gt;
&lt;link title="RSD" type="application/rsd+xml" rel="EditURI" href="http://www.cnblogs.com/JustRun1983/rsd.xml"&gt;
&lt;link type="application/wlwmanifest+xml" rel="wlwmanifest" href="http://www.cnblogs.com/JustRun1983/wlwmanifest.xml"&gt;
&lt;script src="http://common.cnblogs.com/script/jquery.js" type="text/javascript"&gt;&lt;/script&gt;  
&lt;script type="text/javascript"&gt;var currentBlogApp = 'JustRun1983', cb_enable_mathjax=false;&lt;/script&gt;
&lt;script src="/preview~Cnblogs/Scripts/bundles/blog-common.js" type="text/javascript"&gt;&lt;/script&gt;
&lt;script src="/preview~Cnblogs/Scripts/skins/Minyx2_Lite/bundle-Minyx2_Lite.js" language="javascript" type="text/javascript"&gt;&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;a name="top"&gt;&lt;/a&gt;


&lt;div id="container"&gt;
    &lt;a class="minyx" href="http://www.cnblogs.com/"&gt;代码改变世界&lt;/a&gt;
    &lt;ul id="topMnu"&gt;
        &lt;!-- 统计数据 --&gt;
        &lt;li&gt;
            
                
Posts - 187, 
Articles - 0, 
Comments - 916
&lt;!----&gt;
            
        &lt;/li&gt;
        &lt;!-- 这边可以增加一些链接 --&gt;
        &lt;!-- 博客园 --&gt;
        &lt;li&gt;&lt;a href="http://www.cnblogs.com"&gt;Cnblogs&lt;/a&gt;&lt;/li&gt;
        &lt;!-- 管理 --&gt;
        &lt;li id="topMnu-dashboard"&gt;
            &lt;a id="lnkDashboard" href="http://www.cnblogs.com/JustRun1983/admin/EditPosts.aspx"&gt;Dashboard&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;
            &lt;a id="lnkLogin" href="http://passport.cnblogs.com/login.aspx?ReturnUrl=http://www.cnblogs.com/JustRun1983/p/3955238.html"&gt;Login&lt;/a&gt;&lt;/li&gt;
    &lt;/ul&gt;

    &lt;script type="text/javascript"&gt;
        var m = window.__blog.topMenuRendered;
        if (m) { m(__$("topMnu")); }
    &lt;/script&gt;

    &lt;div id="header"&gt;
        &lt;ul id="menu"&gt;
            &lt;!-- 首页，当前section加上current类 --&gt;
            &lt;li id="menu-home" class="current"&gt;
                &lt;a id="lnkHome" href="http://www.cnblogs.com/JustRun1983/"&gt;Home&lt;/a&gt;&lt;/li&gt;
            &lt;!-- 联系 --&gt;
            &lt;li id="menu-contact"&gt;
                &lt;a id="lnkContact" href="http://space.cnblogs.com/msg/send/JustRun"&gt;Contact&lt;/a&gt;&lt;/li&gt;
            &lt;!-- 相册 --&gt;
            &lt;li id="menu-gallary"&gt;
                &lt;a id="lnkGallery" href="http://www.cnblogs.com/JustRun1983/gallery.html"&gt;Gallery&lt;/a&gt;&lt;/li&gt;
            &lt;!-- Rss订阅 --&gt;
            &lt;li id="rss"&gt;
                &lt;a id="lnkRss" href="http://www.cnblogs.com/JustRun1983/rss"&gt;RSS&lt;/a&gt;&lt;/li&gt;
        &lt;/ul&gt;
        &lt;div id="newmsg"&gt;&lt;/div&gt;
        &lt;h1&gt;
            &lt;!-- 主标题 --&gt;
            &lt;a id="lnkBlogTitle" href="http://www.cnblogs.com/JustRun1983/"&gt;JustRun&lt;/a&gt;
            &lt;!-- 子标题 --&gt;
            &lt;small&gt;
                贵有恒，何必三更起五更勤;最无益，只怕一日曝十日寒&lt;/small&gt;
        &lt;/h1&gt;
    &lt;/div&gt;

    &lt;script type="text/javascript"&gt;
        var m = window.__blog.headerRendered;
        if (m) { m(__$("header")); }
    &lt;/script&gt;

    &lt;div id="wrapper"&gt;
        &lt;div id="content"&gt;
            &lt;script type="text/javascript"&gt;
                var m = window.__blog.preRenderPosts;
                if (m) { m(); }
            &lt;/script&gt;
            

&lt;div class="post" id="post"&gt;
    &lt;a name="top"&gt;&lt;/a&gt;
    &lt;h2&gt;&lt;a id="cb_post_title_url" href="http://www.cnblogs.com/JustRun1983/p/3955238.html"&gt;下一代Asp.net开发规范OWIN（1）—— OWIN产生的背景以及简单介绍&lt;/a&gt;&lt;/h2&gt;
    &lt;small&gt;2014-09-04 07:22 by JustRun, &lt;span id="post_view_count"&gt;...&lt;/span&gt; 阅读, &lt;span id="post_comment_count"&gt;...&lt;/span&gt; 评论, &lt;a href="#" onclick="AddToWz({0});return false;"&gt;收藏&lt;/a&gt;,  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3955238" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/small&gt;
    &lt;div class="entry"&gt;
        &lt;div id="cnblogs_post_body"&gt;&lt;p&gt;随着VS2013的发布，微软在Asp.Net中引入了很多新的特性，比如使用新的权限验证模块Identity, 使用Async来提高Web服务器的吞吐量和效率等。其中一个不得不提的是OWIN和Katana. OWIN的全称是Open Web Interface For .Net, OWIN是.Net开源社区借鉴Ruby而制定的.Net Web开发架构，有着非常简单的规范定义，同时极度降低了模块间耦合。OWIN并不是一个具体的实现，而只是一个规范，用来指导如何构建一个符合OWIN标准的Web生态环境。微软引入并推广OWIN，同时依照OWIN规范，实现了Katana。&lt;/p&gt;
&lt;p&gt;可以这么说，OWIN将会使Asp.net焕发第二春。下面，就让我们一步一步走近OWIN和Katana，一睹芳容。&lt;/p&gt;
&lt;div class="entry"&gt;
&lt;div id="cnblogs_post_body"&gt;
&lt;blockquote&gt;
&lt;p&gt;阅读目录:&lt;/p&gt;
&lt;p&gt;一. 回顾Asp.net的发展历史&lt;/p&gt;
二. 解决问题的思路&lt;br&gt;
&lt;p&gt;三. OWIN介绍&lt;/p&gt;
&lt;p&gt;四，OWIN前景以及预测&lt;/p&gt;




&lt;/blockquote&gt;




&lt;/div&gt;




&lt;/div&gt;
&lt;h1&gt;一， 回顾Asp.net的发展历史&lt;/h1&gt;
&lt;p&gt;不知不觉，Asp.net已经伴随我们了10多个年头，渐渐步入中年。面对日新月异的Web开发变革，Asp.net已经显得有些力不从心。为什么会出现这种情况，让我们来回顾一下Asp.net的发展历史:&lt;/p&gt;
&lt;p&gt;&lt;span style="color: #ff6600;"&gt;&lt;strong&gt;Asp阶段&lt;/strong&gt;&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;最初开发Web，使用的是Asp, 这是一种嵌入在页面中的脚本语言。Asp的优势是简单，上手快，但是随着开发的日益复杂和Web程序的不断庞大，Asp这种逻辑代码和页面Html混在一起的开发方式已经不能够适应了。&lt;/p&gt;
&lt;p&gt;&lt;span style="color: #ff6600;"&gt;&lt;strong&gt;Asp.net Web Form阶段&lt;/strong&gt;&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;由于Asp的短板，升级Asp，打造一个新的Web开发平台已经是必然的事情了。猜想微软可能想让Winform上的开发者方便地迁移到Web开发上来，于是打造了一个开发过程和Winform及其类似的开发方式，这就是Asp.Net.&lt;/p&gt;
&lt;p&gt;Asp.net Web Form在当时无疑是先进的，但是随着时间的推移，它的一些问题也暴露出来:&lt;br&gt;Asp.net中大部分的核心类都包含在System.Web.dll中，而System.Web.dll是包含在.Net Framework中的，这就意味着如果要发布一个新版本的Asp.net必须伴随着新的.Net Framework一起发布，这导致了Asp.net更新频率降低。另外，System.Web.dll是和IIS耦合的，使得Asp.net程序无法迁移到其它服务器上。&lt;/p&gt;
&lt;p&gt;&lt;span style="color: #ff6600;"&gt;&lt;strong&gt;积极的改变&lt;/strong&gt;&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;新的Asp.net MVC改变了过去的缺点，它是作为独立于.Net Framework发布的。所以MVC的版本变化，是无需受制于.Net Framework. 开发MVC的项目组就可以自主的快速开发和发布新的版本的MVC.&lt;br&gt;更进一步，在开发和发布Web API的时候，甚至都没有用到任何包含在System.Web.dll中的类型，这意味着:&lt;/p&gt;
&lt;ul&gt;
&lt;li&gt;Web API完全是无外部依赖的，它通过Nuget快速的发布和更新。&lt;/li&gt;
&lt;li&gt;不依赖于System.Web.dll, 也就意味着不依赖于IIS的服务，所以Web API是可以运行在其它宿主进程中的, 比如控制台程序，windows service等。&lt;/li&gt;







&lt;/ul&gt;
&lt;p&gt;&lt;span style="color: #ff6600;"&gt;&lt;strong&gt;未来:更加灵活的框架&lt;/strong&gt;&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;通过解构Asp.net开发中的一个一个框架组件，微软就能够更加快速的迭代和通过Nuget发布新的版本，添加新的增强功能。&lt;br&gt;未来更加灵活的框架就是我们可以随意根据项目需要，组合这些组件，然后运行在支持的Host上。&lt;/p&gt;
&lt;h1&gt;二，解决问题的思路&lt;/h1&gt;
&lt;p&gt;在引入OWIN之前，我们来对Web请求到响应的过程进行&lt;span style="color: #ff6600;"&gt;&lt;strong&gt;抽象&lt;/strong&gt;&lt;/span&gt;:&lt;br&gt;一个Web请求的全过程是一个简单的输入和输出， 输入是request包含的头信息、cookie、数据等信息，输出是最后的Html. 这就好像是放进去面粉，最后出来的是做好的馒头。但是从面粉变成馒头却要经历很多工序，这一道一道的工序，就组成了整个流程。非常类似于装饰者模式，每一个装饰者对象都遵循同样的接口，这样我们就可以将不同的装饰者拼接起来。&lt;/p&gt;
&lt;p&gt;下图是借鉴的&lt;span style="color: #ff6600;"&gt;python&lt;/span&gt;中的&lt;span style="color: #ff6600;"&gt;WSGI规范&lt;/span&gt;(Python Web Server Gateway Interface)， 和下面将讲到的OWIN基本类似. Request经过一层层的洋葱皮，最后输出。这一层一层的洋葱皮就是我们的符合OWIN规范的组件。&lt;/p&gt;
&lt;p&gt;&lt;a href="http://images.cnitblog.com/blog/14408/201409/040722142972903.png"&gt;&lt;img style="display: inline; border-width: 0px;" title="pylons_as_onion" src="http://images.cnitblog.com/blog/14408/201409/040722162668802.png" alt="pylons_as_onion" width="421" height="383" border="0"&gt;&lt;/a&gt;&amp;nbsp;&lt;/p&gt;
&lt;h1&gt;三，OWIN介绍&lt;/h1&gt;
&lt;p&gt;&lt;span style="color: #ff6600;"&gt;&lt;strong&gt;OWIN就是按照上面思路和目标制定的一个规范，不包含任何具体实现&lt;/strong&gt;&lt;/span&gt;。其目的是在web服务器和应用程序之间隔离出一个抽象层，使它们之间解耦。&lt;br&gt;OWIN设计的2个目标:&amp;nbsp; 简单，以及尽量少的依赖其它的框架类型。&lt;br&gt;这样就能够:&lt;/p&gt;
&lt;ul&gt;
&lt;li&gt;新的组件能够非常简单的开发和应用&lt;/li&gt;
&lt;li&gt;程序能够简便地在host和OS上迁移&lt;/li&gt;







&lt;/ul&gt;
&lt;p&gt;&lt;strong&gt;OWIN核心定义&lt;/strong&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="color: #ff6600;"&gt;&lt;strong&gt;OWIN将web应用中的request, response, session, cookie等所有相关信息都简化成下面的字典&lt;/strong&gt;&lt;/span&gt;。本质上来说，这个字典就包含了一个web请求的所有上下文信息。&lt;br&gt;一个符合OWIN的web服务器，需要将请求信息包装成下面的字典类型，传递到下一层中。而下一层的组件或者应用程序，所要做的就是读取，修改这个字典的数据。最后，Web服务器得到这个层层处理过的字典，然后输出网页到客户端&lt;/p&gt;
&lt;div class="cnblogs_code"&gt;
&lt;pre&gt;IDictionary&amp;lt;&lt;span style="color: #0000ff;"&gt;string&lt;/span&gt;, &lt;span style="color: #0000ff;"&gt;object&lt;/span&gt;&amp;gt;&lt;/pre&gt;
&lt;/div&gt;
&lt;p&gt;下面是具体的定义&lt;/p&gt;
&lt;table style="width: 1224px; height: 380px;"&gt;
&lt;tbody&gt;
&lt;tr&gt;
&lt;td&gt;
&lt;p&gt;&lt;strong&gt;&lt;code&gt; Key Name&lt;/code&gt;&lt;/strong&gt;&lt;/p&gt;
&lt;/td&gt;
&lt;td&gt;
&lt;p&gt;&lt;strong&gt;Value Description&lt;/strong&gt;&lt;/p&gt;
&lt;/td&gt;
&lt;/tr&gt;
&lt;tr&gt;
&lt;td&gt;
&lt;p&gt;&lt;code&gt;"owin.RequestBody"&lt;/code&gt;&lt;/p&gt;
&lt;/td&gt;
&lt;td&gt;
&lt;p&gt;A Stream with the request body, if any. Stream.Null MAY be used as a placeholder if there is no request body. See &lt;a href="http://owin.org/spec/owin-1.0.0.html#_3.4._Request_body,"&gt;Request Body&lt;/a&gt;.&lt;/p&gt;
&lt;/td&gt;
&lt;/tr&gt;
&lt;tr&gt;
&lt;td&gt;
&lt;p&gt;&lt;code&gt;"owin.RequestHeaders"&lt;/code&gt;&lt;/p&gt;
&lt;/td&gt;
&lt;td&gt;
&lt;p&gt;An &lt;code&gt;IDictionary&amp;lt;string, string[]&amp;gt;&amp;lt;string, string[]=""&amp;gt; &lt;/code&gt;of request headers. See &lt;a href="http://owin.org/spec/owin-1.0.0.html#_Request_body_stream,"&gt;Headers&lt;/a&gt;.&lt;/p&gt;
&lt;/td&gt;
&lt;/tr&gt;
&lt;tr&gt;
&lt;td&gt;
&lt;p&gt;&lt;code&gt;"owin.RequestMethod"&lt;/code&gt;&lt;/p&gt;
&lt;/td&gt;
&lt;td&gt;
&lt;p&gt;A &lt;code&gt;string&lt;/code&gt; containing the HTTP request method of the request (e.g., &lt;code&gt; "GET"&lt;/code&gt;, &lt;code&gt;"POST"&lt;/code&gt;).&lt;/p&gt;
&lt;/td&gt;
&lt;/tr&gt;
&lt;tr&gt;
&lt;td&gt;
&lt;p&gt;&lt;code&gt;"owin.RequestPath"&lt;/code&gt;&lt;/p&gt;
&lt;/td&gt;
&lt;td&gt;
&lt;p&gt;A &lt;code&gt;string&lt;/code&gt; containing the request path. The path MUST be relative to the "root" of the application delegate; see &lt;a href="http://owin.org/spec/owin-1.0.0.html#Paths"&gt;Paths&lt;/a&gt;.&lt;/p&gt;
&lt;/td&gt;
&lt;/tr&gt;
&lt;tr&gt;
&lt;td&gt;
&lt;p&gt;&lt;code&gt;"owin.RequestPathBase"&lt;/code&gt;&lt;/p&gt;
&lt;/td&gt;
&lt;td&gt;
&lt;p&gt;A &lt;code&gt;string&lt;/code&gt; containing the portion of the request path corresponding to the "root" of the application delegate; see &lt;a href="http://owin.org/spec/owin-1.0.0.html#Paths"&gt;Paths&lt;/a&gt;.&lt;/p&gt;
&lt;/td&gt;
&lt;/tr&gt;
&lt;tr&gt;
&lt;td&gt;
&lt;p&gt;&lt;code&gt;"owin.RequestProtocol"&lt;/code&gt;&lt;/p&gt;
&lt;/td&gt;
&lt;td&gt;
&lt;p&gt;A &lt;code&gt;string&lt;/code&gt; containing the protocol name and version (e.g. &lt;code&gt; "&lt;/code&gt;HTTP/1.0&lt;code&gt;"&lt;/code&gt; or &lt;code&gt;"&lt;/code&gt;HTTP/1.1&lt;code&gt;"&lt;/code&gt;).&lt;/p&gt;
&lt;/td&gt;
&lt;/tr&gt;
&lt;tr&gt;
&lt;td&gt;
&lt;p&gt;&lt;code&gt;"owin.RequestQueryString"&lt;/code&gt;&lt;/p&gt;
&lt;/td&gt;
&lt;td&gt;
&lt;p&gt;A &lt;code&gt;string&lt;/code&gt; containing the query string component of the HTTP request URI, without the leading &amp;ldquo;?&amp;rdquo; (e.g., &lt;code&gt;"foo=bar&amp;amp;baz=quux"&lt;/code&gt;). The value may be an empty string.&lt;/p&gt;
&lt;/td&gt;
&lt;/tr&gt;
&lt;tr&gt;
&lt;td&gt;
&lt;p&gt;&lt;code&gt;"owin.RequestScheme"&lt;/code&gt;&lt;/p&gt;
&lt;/td&gt;
&lt;td&gt;
&lt;p&gt;A &lt;code&gt;string&lt;/code&gt; containing the URI scheme used for the request (e.g., &lt;code&gt; "http"&lt;/code&gt;, &lt;code&gt;"https"&lt;/code&gt;); see &lt;a href="http://owin.org/spec/owin-1.0.0.html#URIScheme"&gt;URI Scheme&lt;/a&gt;.&lt;/p&gt;
&lt;/td&gt;
&lt;/tr&gt;
&lt;/tbody&gt;
&lt;/table&gt;
&lt;p&gt;&lt;span style="color: #ff6600;"&gt;&lt;strong&gt;另外一个核心是application delegate&lt;/strong&gt;&lt;/span&gt;，这是所有运行在OWIN协议下的组件都需要遵循的接口&lt;/p&gt;
&lt;div class="cnblogs_code"&gt;
&lt;pre&gt;Func&amp;lt;IDictionary&amp;lt;&lt;span style="color: #0000ff;"&gt;string&lt;/span&gt;, &lt;span style="color: #0000ff;"&gt;object&lt;/span&gt;&amp;gt;, Task&amp;gt;;&lt;/pre&gt;
&lt;/div&gt;
&lt;p&gt;&lt;strong&gt;这样定义的原因是:&amp;nbsp;&lt;/strong&gt;&lt;/p&gt;
&lt;ul&gt;
&lt;li&gt;由于依赖少，写一个component非常容易和简单&lt;/li&gt;
&lt;li&gt;异步设计使得程序的运行效率更高，特别是在遇到一些I/O密集的操作时&lt;/li&gt;
&lt;li&gt;application delegate 是可执行的最小单元，OWIN components可以非常容易的互相连接组成一个Http处理管道&lt;/li&gt;
&lt;/ul&gt;
&lt;h1&gt;四，OWIN前景以及预测&lt;/h1&gt;
&lt;p&gt;由于使用OWIN规范，使得Asp.net进化的更加快，对于新的东西也能够快速响应。&lt;/p&gt;
&lt;p&gt;OWIN的发展，将来会有越来越多的基于OWIN的应用框架出现（中间件），也将会由更多的OwinHost出现，其一就是微软先发制人Katana，它能够运行于Windows中，独立于IIS为支持OWIN协议的框架提供宿主支持；而另外一款则是率先支持OWIN协议的运行于Linux以及FreeBSD的Jexus Web Server（需要Jexus 5.6 以上版本）.&lt;/p&gt;
&lt;p&gt;尽管Asp.Net年纪很大，但是现在也越来越潮了，小伙子们有的东西，它也有了，而且以后对时尚的敏感度会更加敏锐。而它所具有的稳定，成熟气质，却是其它小伙子难以具备的。这是.Net最好的时代，不是吗?&lt;/p&gt;&lt;/div&gt;&lt;div id="MySignature"&gt;&lt;/div&gt;
        &lt;div class="clear"&gt;&lt;/div&gt;
        &lt;div id="blog_post_info_block"&gt;
        &lt;div id="blog_post_info"&gt;
        &lt;/div&gt;
        &lt;div class="clear"&gt;&lt;/div&gt;
        &lt;div id="post_next_prev"&gt;&lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
    &lt;ul class="postmetadata"&gt;
        &lt;li class="icon_cat" id="BlogPostCategory"&gt;&lt;/li&gt;
        &lt;li class="icon_bullet" id="EntryTag"&gt;&lt;/li&gt;
    &lt;/ul&gt;
&lt;/div&gt;
&lt;script type="text/javascript"&gt;var allowComments=true,isLogined=false,cb_blogId=17966,cb_entryId=3955238,cb_blogApp=currentBlogApp,cb_blogUserGuid='9552360b-63cf-dd11-9e4d-001cf0cd104b',cb_entryCreatedDate='2014/9/4 7:22:00';loadViewCount(cb_entryId);&lt;/script&gt;
&lt;script type="text/javascript"&gt;
    var m = window.__blog.postRendered;
    if (m) { m(__$("post")); }
&lt;/script&gt;
&lt;script type="text/javascript"&gt;
    var m = window.__blog.postRenderPosts;
    if (m) { m(); }
&lt;/script&gt;
&lt;a name="!comments"&gt;&lt;/a&gt;&lt;div id="blog-comments-placeholder"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;var commentManager = new blogCommentManager();commentManager.renderComments(0);&lt;/script&gt;
&lt;div id="comment_form" class="commentform"&gt;
&lt;a name="commentform"&gt;&lt;/a&gt;
&lt;div id="divCommentShow"&gt;&lt;/div&gt;
&lt;div id="comment_nav"&gt;&lt;span id="span_refresh_tips"&gt;&lt;/span&gt;&lt;a href="javascript:void(0);" id="lnk_RefreshComments" onclick="return RefreshCommentList();"&gt;刷新评论&lt;/a&gt;&lt;a href="#" onclick="return RefreshPage();"&gt;刷新页面&lt;/a&gt;&lt;a href="#top"&gt;返回顶部&lt;/a&gt;&lt;/div&gt;
&lt;div id="comment_form_container"&gt;&lt;/div&gt;
&lt;div class="ad_text_commentbox" id="ad_text_under_commentbox"&gt;&lt;/div&gt;
&lt;div id="site_nav_under"&gt;&lt;a href="http://www.cnblogs.com/" target="_blank" title="开发者的网上家园"&gt;博客园首页&lt;/a&gt;&lt;a href="http://q.cnblogs.com/" target="_blank" title="程序员问答社区"&gt;博问&lt;/a&gt;&lt;a href="http://news.cnblogs.com/" target="_blank" title="IT新闻"&gt;新闻&lt;/a&gt;&lt;a href="http://home.cnblogs.com/ing/" target="_blank"&gt;闪存&lt;/a&gt;&lt;a href="http://job.cnblogs.com/" target="_blank"&gt;程序员招聘&lt;/a&gt;&lt;a href="http://kb.cnblogs.com/" target="_blank"&gt;知识库&lt;/a&gt;&lt;/div&gt;
&lt;div id="opt_under_post"&gt;&lt;/div&gt;
&lt;script type="text/javascript"&gt;
    var enableGoogleAd = canShowAdsense(); var googletag = googletag || {}; googletag.cmd = googletag.cmd || [];
    fixPostBodyFormat();
&lt;/script&gt;
&lt;div id="ad_under_post_holder"&gt;
&lt;script type='text/javascript'&gt;
    var googletag = googletag || {};
    googletag.cmd = googletag.cmd || [];
    (function () {
        if (enableGoogleAd) {
            var gads = document.createElement('script');
            gads.async = true;
            gads.type = 'text/javascript';
            var useSSL = 'https:' == document.location.protocol;
            gads.src = (useSSL ? 'https:' : 'http:') + '//www.googletagservices.com/tag/js/gpt.js';
            var node = document.getElementsByTagName('script')[0];
            node.parentNode.insertBefore(gads, node);
        }
    })();
&lt;/script&gt;
&lt;script type='text/javascript'&gt;
    try {
        if (enableGoogleAd) {
            googletag.cmd.push(function () {
                googletag.defineSlot('/1090369/cnblogs_blogpost_C1_sitehome', [300, 250], 'div-gpt-ad-1346480159711-0').addService(googletag.pubads());
                googletag.pubads().enableSingleRequest();
                googletag.enableServices();
            });
        };
    } catch (e) { }
&lt;/script&gt;
&lt;div id="google_ad_c1" class="c_ad_block"&gt;
    &lt;div id='div-gpt-ad-1346480159711-0' style='width:300px; height:250px;'&gt;
    &lt;script type='text/javascript'&gt;
        try {
            if (enableGoogleAd) {
                googletag.cmd.push(function () { googletag.display('div-gpt-ad-1346480159711-0'); });            
            } else {
                $('#div-gpt-ad-1346480159711-0').hide();
            }
    } catch (e) { }
    &lt;/script&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;div id="blog_news_kb"&gt;&lt;/div&gt;
&lt;div id="HistoryToday" class="c_ad_block"&gt;&lt;/div&gt;
&lt;script type="text/javascript"&gt;
$(function () {
    loadNewsAndKb();
    loadBlogSignature();
    LoadPostInfoBlock(cb_blogId, cb_entryId, cb_blogApp, cb_blogUserGuid);
    GetPrevNextPost(cb_entryId, cb_blogId, cb_entryCreatedDate);
    loadOptUnderPost();
    GetHistoryToday(cb_blogId, cb_blogApp, cb_entryCreatedDate);
    setTimeout(function () { incrementViewCount(cb_entryId); }, 200);
});
&lt;/script&gt;
&lt;/div&gt;

        &lt;/div&gt;

        &lt;script type="text/javascript"&gt;
            var m = window.__blog.contentRendered;
            if (m) { m(__$("content")); }
        &lt;/script&gt;

        &lt;div id="sidebar"&gt;
            
&lt;div id="about"&gt;
&lt;div&gt;
&lt;h2 id="about_title"&gt;About&lt;/h2&gt;
&lt;div id="about_body"&gt;
&lt;div id="blog-news"&gt;&lt;/div&gt;
&lt;script type="text/javascript"&gt;loadBlogNews();&lt;/script&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;

            &lt;script type="text/javascript"&gt;
                var m = window.__blog.aboutRendered;
                if (m) { m(__$("about")); }
            &lt;/script&gt;
            
&lt;div id="mySearchWrapper"&gt;
    &lt;div id="mySearch"&gt;
        &lt;input type="image" src="/skins/Minyx2_Lite/images/btnsearch.gif" id="btnZzk" class="submit" onclick="zzk_go();return false;"&gt;
        &lt;label class="lb_search"&gt;&lt;input type="text" id="q" onkeydown="return zzk_go_enter(event);" class="keyword"&gt;&lt;/label&gt;
    &lt;/div&gt;
&lt;/div&gt;

            &lt;script type="text/javascript"&gt;
                var m = window.__blog.searchFormRendered;
                if (m) { m(__$("searchform")); }
            &lt;/script&gt;
            &lt;div id="sideMain"&gt;
            &lt;/div&gt;
            &lt;div id="sideRight"&gt;
            &lt;/div&gt;
            &lt;div id="sideLeft"&gt;
            &lt;/div&gt;
            
                &lt;div id="sideContainer"&gt;
                &lt;/div&gt;
                &lt;script type="text/javascript"&gt;
                    $.ajax({
                        url: '/' + currentBlogApp + '/mvc/blog/Minyx2_Lite_SideColumn.aspx',
                        data: '{}',
                        type: 'post',
                        dataType: 'text',
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            if (data) {
                                $("#sideContainer").html(data);
                                loadBlogDefaultCalendar();
                                loadBlogSideBlocks();
                                var m = window.__blog.sideContainerRendered;
                                if (m) { m(__$("sideContainer")); }
                                window.__blog.sidebar.__layout();
                            }
                        }
                    });

                &lt;/script&gt;
            
        &lt;/div&gt;

        &lt;script type="text/javascript"&gt;
            var m = window.__blog.sidebarRendered;
            if (m) { m(__$("sidebar")); }
        &lt;/script&gt;

        &lt;div id="footer"&gt;
            
&lt;p id="logoFoot"&gt;
    &lt;a href="http://www.spiga.com.mx/" title="Agencia Interactiva Spiga"&gt;www.spiga.com.mx&lt;/a&gt;
&lt;/p&gt;
&lt;div class="footText"&gt;
&lt;p&gt;
Copyright &amp;copy;2014 JustRun
&lt;/p&gt;
&lt;p&gt;
&lt;a href="http://www.cnblogs.com"&gt;博客园&lt;/a&gt;
&lt;/p&gt;
&lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;

    &lt;script type="text/javascript"&gt;
        var m = window.__blog.wrapperRendered;
        if (m) { m(__$("wrapper")); }
    &lt;/script&gt;

&lt;/div&gt;
&lt;script type="text/javascript"&gt;
    var m = window.__blog.containerRendered;
    if (m) { m(__$("container")); }
&lt;/script&gt;
&lt;!--PageEndHtml Block Begin--&gt;
&lt;!-- JiaThis Button BEGIN --&gt;
&lt;script type="text/javascript" src="http://v3.jiathis.com/code/jiathis_r.js?uid=1350087533694465&amp;move=0&amp;amp;btn=r1.gif" charset="utf-8"&gt;&lt;/script&gt;
&lt;!-- JiaThis Button END --&gt;
&lt;script src="http://s22.cnzz.com/stat.php?id=4530699&amp;web_id=4530699" language="JavaScript"&gt;&lt;/script&gt;
&lt;script type="text/javascript"&gt;var _clustrmaps = {'url' : 'http://www.cnblogs.com/JustRun1983/', 'user' : 999372, 'server' : '3', 'id' : 'clustrmaps-widget', 'version' : 1, 'date' : '2012-03-26', 'lang' : 'zh', 'corners' : 'square' };(function (){ var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = 'http://www3.clustrmaps.com/counter/map.js'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);})();&lt;/script&gt;&lt;noscript&gt;&lt;a href="http://www3.clustrmaps.com/user/e74f3fcc"&gt;&lt;img src="http://www3.clustrmaps.com/stats/maps-no_clusters/www.cnblogs.com-JustRun1983--thumb.jpg" alt="Locations of visitors to this page"&gt;&lt;/a&gt;&lt;/noscript&gt;
&lt;!--PageEndHtml Block End--&gt;
&lt;/body&gt;
&lt;/html&gt;
</Html>
	<HtmlMetas i:nil="true" />
	<HtmlTitle i:nil="true" />
	<IsDefault>false</IsDefault>
	<Layout i:nil="true" />
	<Name>-JustRun1983-p-3955238.html</Name>
	<OutputCache i:nil="true" />
	<PageContents xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
	<Plugins xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<Published>false</Published>
	<RequireHttps>false</RequireHttps>
	<Routes>
		<PageRoute>
			<Defaults xmlns:d4p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
			<Identifier>/JustRun1983/p/3955238.html</Identifier>
			<RoutePath i:nil="true" />
		</PageRoute>
	</Routes>
	<Scripts i:nil="true" />
	<Site>
		<AbsoluteName xmlns="Ovaldi.Core.Models">Cnblogs</AbsoluteName>
	</Site>
	<Styles i:nil="true" />
	<UUID>-JustRun1983-p-3955238.html</UUID>
</Page>