<?xml version="1.0" encoding="utf-8"?>
<Page xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Ovaldi.Core.Models">
	<AbsoluteName>-cases</AbsoluteName>
	<CustomFields xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<EnableScript>true</EnableScript>
	<EnableTheming>true</EnableTheming>
	<Html>&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
    &lt;meta charset="utf-8"&gt;
    &lt;title&gt;Cases | kooboo.com&lt;/title&gt;
    
    &lt;link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700,800" rel="stylesheet"&gt;
    &lt;link rel="Stylesheet" href="/preview~kooboo/Styles/Kooboo-WebResource/Index/jQuery-Styles/20130227" type="text/css"&gt;
&lt;link type="text/css" rel="stylesheet" href="/preview~kooboo/Styles/Kooboo_COM_V4/Kooboo-Resource/theme/1_0_0_20131217100901/true/Default"&gt;
&lt;!--[if lte IE 8]&gt;&lt;link rel="stylesheet" type="text/css" href="/Cms_Data/Sites/Kooboo_COM_V4/Themes/Default/ie.css" /&gt;&lt;![endif]--&gt;

    &lt;!--[if lt IE 9]&gt;&lt;script src="/Cms_Data/Sites/Kooboo_COM_V4/Files/js/html5.js"&gt;&lt;/script&gt;&lt;![endif]--&gt;

    &lt;script src="/preview~kooboo/Scripts/Kooboo-WebResource/Index/jQuery/20130227" type="text/javascript"&gt;&lt;/script&gt;
&lt;script type="text/javascript" src="/preview~kooboo/Scripts/Kooboo_COM_V4/Kooboo-Resource/scripts/1_0_0_20131217100901/True"&gt;&lt;/script&gt;

&lt;/head&gt;
&lt;body&gt;
    &lt;div id="body-container"&gt;
        &lt;header id="header"&gt;
            &lt;div class="container"&gt;
                &lt;div class="top"&gt;
                    &lt;div class="global-width clearfix"&gt;
                        &lt;h1 class="logo"&gt;&lt;a href="/"&gt;
                            &lt;img src="/preview~kooboo/Images/Cms_Data/Sites/Kooboo_COM_V4/Files/image/logo.png" alt="Kooboo LOGO"&gt;&lt;/a&gt;&lt;/h1&gt;
                        &lt;nav class="nav"&gt;
                            

&lt;ul class="main"&gt;
               &lt;li class=''&gt;&lt;a class="icon home" href="/preview~kooboo/"&gt;&lt;span&gt;Home&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
               &lt;li class=''&gt;&lt;a href="/preview~kooboo/products/kooboo-cms" target=""&gt;Products&lt;/a&gt;&lt;/li&gt;
                 &lt;li class='active'&gt;&lt;a href="/preview~kooboo/cases" target=""&gt;Cases&lt;/a&gt;&lt;/li&gt;
                &lt;li class=''&gt;&lt;a href="/preview~kooboo/docs/kooboo-cms/all" target=""&gt;Docs&lt;/a&gt;&lt;/li&gt;
                 &lt;li class=''&gt;&lt;a href="/preview~kooboo/updates" target=""&gt;Updates&lt;/a&gt;&lt;/li&gt;
                 &lt;li class=''&gt;&lt;a href="http://kooboo.codeplex.com" target="_blank"&gt;Download&lt;/a&gt;&lt;/li&gt;
                 &lt;li class=''&gt;&lt;a href="http://forum.kooboo.com" target=""&gt;Forum&lt;/a&gt;&lt;/li&gt;
                 &lt;li class=''&gt;&lt;a href="/preview~kooboo/contact" target=""&gt;Contact&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
                            &lt;ul class="quicklinks"&gt;
    &lt;li&gt;&lt;a class="button orange border" href="http://online.kooboo.com" target="_blank"&gt;Online demo&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;

                        &lt;/nav&gt;
                    &lt;/div&gt;
                    &lt;div class="shadow"&gt;&lt;/div&gt;
                &lt;/div&gt;
                
                &lt;div class="global-width clearfix"&gt;
                    &lt;h2 class="page-title"&gt;Cases&lt;/h2&gt;

                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/header&gt;
        &lt;div id="main-container"&gt;
            
            &lt;div class="global-width clearfix"&gt;
                &lt;div class="block cases columns clearfix"&gt;
        &lt;div class="span4"&gt;
            &lt;div class="item"&gt;
                &lt;div class="thumbnail"&gt;
                    &lt;img src="/preview~kooboo/Images/Cms_Data/Contents/Kooboo_COM_V4/Folders/Cases/~contents/NF52UUZUYFRXPSCA/case-1.jpg" alt="Thumbnail of Cheaptickets"&gt;
                &lt;/div&gt;
                &lt;div class="container"&gt;
                    &lt;h3 class="title"&gt;Cheaptickets&lt;/h3&gt;
                  &lt;br&gt;
                    &lt;p&gt;Part of Travix, the online travel company in Europe that holds brands such as BudgetAir, Vliegwinkel, Flugladen, Vayama and EasyToBook. Travix fully use the multilingual possibility and load balancing of Kooboo CMS and create over 100 websites.&lt;/p&gt;
                    &lt;a href="http://www.cheaptickets.ch" target="_blank"&gt;www.cheaptickets.ch&lt;/a&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="span4"&gt;
            &lt;div class="item"&gt;
                &lt;div class="thumbnail"&gt;
                    &lt;img src="/preview~kooboo/Images/Cms_Data/Contents/Kooboo_COM_V4/Folders/Cases/~contents/NV52TMPM7NMT35WX/case-2.jpg" alt="Thumbnail of BudgetAir"&gt;
                &lt;/div&gt;
                &lt;div class="container"&gt;
                    &lt;h3 class="title"&gt;BudgetAir&lt;/h3&gt;
                  &lt;br&gt;
                    &lt;p&gt;BudgetAir is also part of Travix. For this brand we made a renewed mobile booking flow to boost conversions. The mobile websites were implemented using Kooboo site inheritance with completely different UI and flow.&lt;/p&gt;
                    &lt;a href="http://www.budgetair.nl" target="_blank"&gt;www.budgetair.co.uk&lt;/a&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="span4"&gt;
            &lt;div class="item"&gt;
                &lt;div class="thumbnail"&gt;
                    &lt;img src="/preview~kooboo/Images/Cms_Data/Contents/Kooboo_COM_V4/Folders/Cases/~contents/NBL2AGV57MYM36UA/cases_L_grolsch.jpg" alt="Thumbnail of Grolsch"&gt;
                &lt;/div&gt;
                &lt;div class="container"&gt;
                    &lt;h3 class="title"&gt;Grolsch&lt;/h3&gt;
                  &lt;br&gt;
                    &lt;p&gt;The Grolsch website was developed with Responsive and HTML. The Website can adapt naturally with different devices, desktop or mobile. The website is also optimized for search engine and connected with social media.&lt;/p&gt;
                    &lt;a href="http://www.grolsch.nl" target="_blank"&gt;www.grolsch.nl&lt;/a&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="span4"&gt;
            &lt;div class="item"&gt;
                &lt;div class="thumbnail"&gt;
                    &lt;img src="/preview~kooboo/Images/Cms_Data/Contents/Kooboo_COM_V4/Folders/Cases/~contents/F4S28ZCD9PUQ8L83/cases_S_e-on.jpg" alt="Thumbnail of EON Benelux"&gt;
                &lt;/div&gt;
                &lt;div class="container"&gt;
                    &lt;h3 class="title"&gt;EON Benelux&lt;/h3&gt;
                  &lt;br&gt;
                    &lt;p&gt;E.ON is one of the largest Energy company in the world.  iProspect and RB2 together developed their Benelux websites in Kooboo CMS. The websites includes Ecommerce functionality.&lt;/p&gt;
                    &lt;a href="http://www.eon.be" target="_blank"&gt;www.eon.be&lt;/a&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="span4"&gt;
            &lt;div class="item"&gt;
                &lt;div class="thumbnail"&gt;
                    &lt;img src="/preview~kooboo/Images/Cms_Data/Contents/Kooboo_COM_V4/Folders/Cases/~contents/6CH2NG8S7MUM9JCD/case-3.jpg" alt="Thumbnail of Bloemenbureau Holland"&gt;
                &lt;/div&gt;
                &lt;div class="container"&gt;
                    &lt;h3 class="title"&gt;Bloemenbureau Holland&lt;/h3&gt;
                  &lt;br&gt;
                    &lt;p&gt;All of the websites of the Flower Council Holland are built in on the Kooboo CMS. This includes applications for B2B, B2C and for internal use, all of which are active in four countries.&lt;/p&gt;
                    &lt;a href="http://www.mooiwatbloemendoen.nl" target="_blank"&gt;www.mooiwatbloemendoen.nl&lt;/a&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="span4"&gt;
            &lt;div class="item"&gt;
                &lt;div class="thumbnail"&gt;
                    &lt;img src="/preview~kooboo/Images/Cms_Data/Contents/Kooboo_COM_V4/Folders/Cases/~contents/SUU2AXEY9TQVQ67Q/case-4.jpg" alt="Thumbnail of Pagango.nl"&gt;
                &lt;/div&gt;
                &lt;div class="container"&gt;
                    &lt;h3 class="title"&gt;Pagango.nl&lt;/h3&gt;
                  &lt;br&gt;
                    &lt;p&gt;Pagango is the travel inspiration site of Holland. The website was developed within Kooboo CMS, with API connections to main booking engines.&lt;/p&gt;
                    &lt;a href="http://www.pagango.nl" target="_blank"&gt;www.pagango.nl&lt;/a&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
&lt;/div&gt;

            &lt;/div&gt;
        &lt;/div&gt;
        &lt;footer id="footer"&gt;
            
            &lt;div class="global-width clearfix"&gt;
    &lt;div class="columns clearfix"&gt;
        &lt;div class="span5"&gt;
            &lt;div class="block about"&gt;
                &lt;h6 class="title"&gt;About&lt;/h6&gt;
                &lt;div class="content"&gt;&lt;p&gt;Kooboo is an international web development firm with its core development team based in China.&amp;nbsp; Kooboo contains products and practices to meet all your web development needs, allowing you complete freedom in development.&amp;nbsp; Kooboo comprises Kooboo products (Design tools, CMS, Ecommerce, and Newsletters), Kooboo people, Kooboo service, and Kooboo network.&lt;/p&gt;&lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="span3"&gt;
            &lt;div class="block links"&gt;
                &lt;h6 class="title"&gt;Links&lt;/h6&gt;
                &lt;ul&gt;
                    &lt;li&gt;&lt;a href=""&gt;Home&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a href="/preview~kooboo/licensefaq"&gt;License&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a href="http://forum.kooboo.com" target="_blank"&gt;Community Forum&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a href="/preview~kooboo/privacy-policy"&gt;Privacy Policy&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a href="/preview~kooboo/service"&gt;Service&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a href="/preview~kooboo/partner"&gt;Partner Network&lt;/a&gt;&lt;/li&gt;
                &lt;/ul&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="span4"&gt;
            &lt;div class="block updates"&gt;
    &lt;h6 class="title"&gt;Updates&lt;/h6&gt;
    &lt;ul&gt;
            &lt;li&gt;
                &lt;a href="/preview~kooboo/updates/detail/dutch-consulate-general-visits-kooboo-office" target=""&gt;Dutch Consulate General visits Kooboo office&lt;/a&gt;
                &lt;span class="date"&gt;December 10, 2013&lt;/span&gt;
            &lt;/li&gt;
            &lt;li&gt;
                &lt;a href="/preview~kooboo/updates/detail/kooboo-developers-to-sweden" target=""&gt;Kooboo developers to Sweden&lt;/a&gt;
                &lt;span class="date"&gt;May 5, 2013&lt;/span&gt;
            &lt;/li&gt;
            &lt;li&gt;
                &lt;a href="/preview~kooboo/updates/detail/kooboo-show-case-from-rb2-partner" target=""&gt;Kooboo showcase from rb2 partner&lt;/a&gt;
                &lt;span class="date"&gt;February 23, 2013&lt;/span&gt;
            &lt;/li&gt;
    &lt;/ul&gt;
&lt;/div&gt;

        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;div class="bottom"&gt;
    &lt;div class="global-width clearfix"&gt;
        &lt;p class="copyright"&gt;&amp;copy;Copyright 2009 - 2014 &lt;a href="/preview~kooboo/"&gt;Kooboo team&lt;/a&gt; All Rights Reserved.&lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;

        &lt;/footer&gt;
    &lt;/div&gt;

&lt;/body&gt;
&lt;/html&gt;
</Html>
	<HtmlMetas i:nil="true" />
	<HtmlTitle i:nil="true" />
	<IsDefault>false</IsDefault>
	<Layout i:nil="true" />
	<Name>-cases</Name>
	<OutputCache i:nil="true" />
	<PageContents xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
	<Plugins xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<Published>false</Published>
	<RequireHttps>false</RequireHttps>
	<Routes>
		<PageRoute>
			<Defaults xmlns:d4p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
			<Identifier>/cases</Identifier>
			<RoutePath i:nil="true" />
		</PageRoute>
	</Routes>
	<Scripts i:nil="true" />
	<Site>
		<AbsoluteName xmlns="Ovaldi.Core.Models">kooboo</AbsoluteName>
	</Site>
	<Styles i:nil="true" />
	<UUID>-cases</UUID>
</Page>