<?xml version="1.0" encoding="utf-8"?>
<Page xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Ovaldi.Core.Models">
	<AbsoluteName>-docs-kooboo-cms-faq2</AbsoluteName>
	<CustomFields xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<EnableScript>true</EnableScript>
	<EnableTheming>true</EnableTheming>
	<Html>&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
    &lt;meta charset="utf-8"&gt;
    &lt;title&gt;Documentation | kooboo.com&lt;/title&gt;
    
    &lt;link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700,800" rel="stylesheet"&gt;
    &lt;link rel="Stylesheet" href="/preview~kooboo/Styles/Kooboo-WebResource/Index/jQuery-Styles/20130227" type="text/css"&gt;
&lt;link type="text/css" rel="stylesheet" href="/preview~kooboo/Styles/Kooboo_COM_V4/Kooboo-Resource/theme/1_0_0_20131217100901/true/Default"&gt;
&lt;!--[if lte IE 8]&gt;&lt;link rel="stylesheet" type="text/css" href="/Cms_Data/Sites/Kooboo_COM_V4/Themes/Default/ie.css" /&gt;&lt;![endif]--&gt;

    &lt;!--[if lt IE 9]&gt;&lt;script src="/Cms_Data/Sites/Kooboo_COM_V4/Files/js/html5.js"&gt;&lt;/script&gt;&lt;![endif]--&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;div id="body-container"&gt;
        &lt;header id="header"&gt;
            &lt;div class="container"&gt;
                &lt;div class="top"&gt;
                    &lt;div class="global-width clearfix"&gt;
                        &lt;h1 class="logo"&gt;&lt;a href="/"&gt;
                            &lt;img src="/preview~kooboo/Images/Cms_Data/Sites/Kooboo_COM_V4/Files/image/logo.png" alt="Kooboo LOGO"&gt;&lt;/a&gt;&lt;/h1&gt;
                        &lt;nav class="nav"&gt;
                            

&lt;ul class="main"&gt;
               &lt;li class=''&gt;&lt;a class="icon home" href="/"&gt;&lt;span&gt;Home&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
               &lt;li class=''&gt;&lt;a href="/products/kooboo-cms" target=""&gt;Products&lt;/a&gt;&lt;/li&gt;
                 &lt;li class=''&gt;&lt;a href="/cases" target=""&gt;Cases&lt;/a&gt;&lt;/li&gt;
                &lt;li class='active'&gt;&lt;a href="/docs/kooboo-cms/all" target=""&gt;Docs&lt;/a&gt;&lt;/li&gt;
                 &lt;li class=''&gt;&lt;a href="/updates" target=""&gt;Updates&lt;/a&gt;&lt;/li&gt;
                 &lt;li class=''&gt;&lt;a href="http://kooboo.codeplex.com" target="_blank"&gt;Download&lt;/a&gt;&lt;/li&gt;
                 &lt;li class=''&gt;&lt;a href="http://forum.kooboo.com" target=""&gt;Forum&lt;/a&gt;&lt;/li&gt;
                 &lt;li class=''&gt;&lt;a href="/contact" target=""&gt;Contact&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
                            &lt;ul class="quicklinks"&gt;
    &lt;li&gt;&lt;a class="button orange border" href="http://online.kooboo.com" target="_blank"&gt;Online demo&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;

                        &lt;/nav&gt;
                    &lt;/div&gt;
                    &lt;div class="shadow"&gt;&lt;/div&gt;
                &lt;/div&gt;
                &lt;div class="global-width clearfix"&gt;
                    &lt;h2 class="page-title"&gt;Docs&lt;/h2&gt;

                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/header&gt;
        &lt;div id="main-container"&gt;
            
            &lt;div class="global-width clearfix"&gt;
                
                &lt;div id="main" class="right"&gt;
                    



    &lt;article class="article"&gt;
        &lt;header&gt;
            &lt;h2 class="title"&gt;Another frequent asked questions&lt;/h2&gt;
        &lt;/header&gt;
        &lt;div class="content clearfix"&gt;
            &lt;p&gt;&lt;strong&gt;&amp;nbsp;Objective&lt;/strong&gt;&lt;br&gt;&lt;br&gt;&lt;/p&gt;
&lt;ul&gt;
&lt;li&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp; Allow obstabcle-free upgrading via copying Cms_Data.&lt;/li&gt;
&lt;li&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp; Allow to change the site name while importing or exporting the site.&lt;/li&gt;
&lt;/ul&gt;
&lt;p&gt;&lt;br&gt;&lt;strong&gt;Reference script&lt;/strong&gt;&lt;br&gt;&lt;br&gt;You can make all the js files under the directory Scripts automatically referenced by using @Html.FrontHtml().RegisterStyles(). All the js files under the directory Scripts can be sequenced by Order.txt.&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;&amp;nbsp;Reference stylesheet&lt;/strong&gt;&lt;br&gt;&lt;br&gt;You can make all the stylesheet files under the themes of the site automatically referenced by using @Html.FrontHtml().RegisterStyles(). All these stylesheets can also be sequenced.&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;Reference custom file&lt;/strong&gt;&lt;br&gt;&lt;br&gt;To reference custom file like favicon.ico, you can put the file under the directory Files of the site and then reference it by using API @Url.FrontUrl().FileUrl("favicon.ico"), which also supports relative directory. For example: @Url.FrontUrl().FileUrl("images/favicon.ico").&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;Label and HTML block&lt;/strong&gt;&lt;br&gt;&lt;br&gt;Label is a pure-text-inclinded multilingual resource. However, HTML block needs to be able to be shared among sites. The Inline editing on the front end will also provide editor by following this purpose. Label is pure text editor, while HTML block allows end users to edit using rich text editor.&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;&amp;nbsp;Custom settings on the site&lt;/strong&gt;&lt;br&gt;&lt;br&gt;When you need to add some configurations like invoking an address of a specific remote service etc., you may think about to add some settings in Web.config. However, in Kooboo CMS, modification to web.config might cause troubles to upgrading. So it is suggested not to modify the Web.config in Kooboo CMS. For example, each data connection string has an independent configuration files. There are two ways you can use to solve this problem&lt;br&gt;&lt;br&gt;&lt;/p&gt;
&lt;ul&gt;
&lt;li&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp; When you need to configure connection strings for a site, the best choice will be using the CustomSettings in the site's Settings.&lt;/li&gt;
&lt;li&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp; For configurations that have to be modified in Web.config, e.g. adding the global namespace Using, you can try to add a new Web.config in the site. Note: the new Web.config you created needs to be a directory, similar as the Web.config under Views.&lt;/li&gt;
&lt;/ul&gt;
&lt;p&gt;&amp;nbsp;&lt;strong&gt;How to create service API like JSON&lt;/strong&gt;&lt;br&gt;&lt;br&gt;We used to implement the service API by using solutions like adding a blank page, creating some self-defined Controllers and modifying routes.config, or adding some ASHX. However, as we can see now, those solutions are the not the best solutions. The best solution is to use the AreaRegistration of Area ( Area that doesn't have View) to register mini-area. You only need to put this mini-area and plugin into the same assembly, and that is done, no more configuration needed. Please visit &lt;a target="_blank" href="http://koobootoolkit.codeplex.com/"&gt;Kooboo.CMS.Toolkit.Controls&lt;/a&gt; for examples.&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;strong&gt;How to replace Kooboo CMS internal components&lt;/strong&gt;&lt;br&gt;&lt;br&gt;All the components that provided by Kooboo CMS are all capable of being replaced. For example, some projects might requires special form generating model, you can just replace the the form generating component directly in this case. Kooboo.CMS.Toolkit.DisplayTemplateInGrid is a Grid self-defined template that supports the Grid fields outputing. The way to to use the Kooboo.CMS.Toolkit.DisplayTemplateInGrid is adding a self-defined setting for the field Custom settings: DisplayTemplate: @(item.title ?? \"\")&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;Building your custom control type is recommended&lt;/strong&gt;&lt;br&gt;&lt;br&gt;It is suggested not to implement the controls, those that are not built-in in Kooboo CMS, in the way of manually modifying the template. But you can implement them by developing some extension controlers. This makes it easier to update templates while modifying the fields. Please refer to Kooboo.CMS.Toolkit.Controls to know more.&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;How to reference JQuery and verify fields at frontend&lt;/strong&gt;&lt;br&gt;&lt;br&gt;Check the JQuery checkbox of the Settings of the site. The JQuery controls including jQuery.validation, Unobtrusive verification package, will be automatically referenced at frontend. So the Unobrusive verification feature of MVC3 can be sued at the front end directly. But you need to add the verification tags manually since they can not be generated automatically via modelmeta, view the example: &lt;a target="_blank" href="forum.kooboo.com/yaf_postst1171_The-client-side-html-attribute-table-of-Unobtrusive-js-in-ASP-NET-MVC3.aspx"&gt;[1]&lt;/a&gt;. While after upgrading to MVC4, you can use it by using more friendly API, the example: &lt;a target="_blank" href="http://www.asp.net/web-pages/overview/what%27s-new/top-features-in-web-pages-2#validation"&gt;[2]&lt;/a&gt;.&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;em&gt;&amp;lt;input type="text" name="course"&lt;/em&gt;&lt;br&gt;&lt;em&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp; value="@Request["course"]"&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp; @Validation.For("course")/&amp;gt;&lt;/em&gt;&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;strong&gt;Need to change from weak type strong type&lt;/strong&gt;&lt;br&gt;&lt;br&gt;Kooboo CMS uses content type in the way of Dictionary. The content types are weak type of key-value. Even thought you can use p.Title in the way of dynamic key, it is still the weak type. Weak type has the advantage of flexibility as well as its limitations. If there are many self-defined plug-ins in your project, we suggest you to define some strong type objects according to different content types to make it easy to use and modify as well as guarantee the safety for the type. There is a sample in Zhang Peng's Kooboo.CMS.Toolkit.&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;APIs not provided in Kooboo CMS&lt;/strong&gt;&lt;br&gt;&lt;br&gt;If there are some APIs that not provided in Kooboo CMS, we can discuss it together to see if we can implement them by adding some expand methods in assembly and integrate them into Kooboo CMS. If you don't want to modify Web.config, you can use the namespace Kooboo.CMS.Site.View directly while defining expand methods&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;&amp;nbsp;Build your modules&lt;/strong&gt;&lt;br&gt;&lt;br&gt;We can consider to implement feature modules that will be commonly used by using the Module. In this way, we can promote component sharing and this will be the only way for us to develop Kooboo CMS platform. The good quality of products is very important, but the development of eco-chain that centered by the products plays the key role in developing a successful platform.&lt;/p&gt;
&lt;p&gt;
&lt;p&gt;
&lt;p&gt;
        &lt;/div&gt;
        &lt;footer class="clearfix"&gt;
                &lt;a class="button orange prev" href="/docs/kooboo-cms/faq"&gt;&lt;span&gt;Previous&lt;/span&gt;&lt;/a&gt;
                            &lt;a class="button orange next" href="/docs/kooboo-cms/kooboo-products-and-raodmap"&gt;&lt;span&gt;Next&lt;/span&gt;&lt;/a&gt;
        &lt;/footer&gt;
    &lt;/article&gt;


&lt;script src="http://alexgorbatchev.com/pub/sh/current/scripts/shCore.js" type="text/javascript"&gt;&lt;/script&gt;
&lt;script src="http://alexgorbatchev.com/pub/sh/current/scripts/shAutoloader.js" type="text/javascript"&gt;&lt;/script&gt;

&lt;script type="text/javascript"&gt;
    $(function () {
        function path() {
            var args = arguments,
                result = []
            ;

            for (var i = 0; i &lt; args.length; i++)
                result.push(args[i].replace('/', 'http://alexgorbatchev.com/pub/sh/current/scripts/'));
            return result
        };

        SyntaxHighlighter.autoloader.apply(null, path(
          'applescript            /shBrushAppleScript.js',
          'actionscript3 as3      /shBrushAS3.js',
          'bash shell             /shBrushBash.js',
          'coldfusion cf          /shBrushColdFusion.js',
          'cpp c                  /shBrushCpp.js',
          'c# c-sharp csharp      /shBrushCSharp.js',
          'css                    /shBrushCss.js',
          'delphi pascal          /shBrushDelphi.js',
          'diff patch pas         /shBrushDiff.js',
          'erl erlang             /shBrushErlang.js',
          'groovy                 /shBrushGroovy.js',
          'java                   /shBrushJava.js',
          'jfx javafx             /shBrushJavaFX.js',
          'js jscript javascript  /shBrushJScript.js',
          'perl pl                /shBrushPerl.js',
          'php                    /shBrushPhp.js',
          'text plain             /shBrushPlain.js',
          'py python              /shBrushPython.js',
          'ruby rails ror rb      /shBrushRuby.js',
          'sass scss              /shBrushSass.js',
          'scala                  /shBrushScala.js',
          'sql                    /shBrushSql.js',
          'vb vbnet               /shBrushVb.js',
          'xml xhtml xslt html    /shBrushXml.js'
        ));
        SyntaxHighlighter.all();
    });
&lt;/script&gt;

                &lt;/div&gt;
                &lt;aside id="sidebar" class="left"&gt;
                    





&lt;div class="block menu"&gt;
    &lt;h6 class="title"&gt;User Manual&lt;/h6&gt;
        &lt;ol&gt;
            &lt;li class=""&gt;
                1. &lt;a href="/docs/kooboo-cms/kooboo_cms_getting_started" target=""&gt;Getting started &lt;/a&gt;
                    &lt;ol&gt;
            &lt;li class=""&gt;
                1.1. &lt;a href="/docs/kooboo-cms/installation-guide-1" target=""&gt;Installation guide&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                1.2. &lt;a href="/docs/kooboo-cms/kooboo-configuration" target=""&gt; Additional configuration options&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                1.3. &lt;a href="/docs/kooboo-cms/-upgrading" target=""&gt; Upgrading&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                1.4. &lt;a href="/docs/kooboo-cms/kooboo-development-concepts" target=""&gt;Kooboo development concepts&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                1.5. &lt;a href="/docs/kooboo-cms/using-samplesite-template" target=""&gt;Using the SampleSite Template&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                1.6. &lt;a href="/docs/kooboo-cms/developing-your-first-kooboo-cms-website-part-i-" target=""&gt;Develope your first Kooboo website (part I)&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                1.7. &lt;a href="/docs/kooboo-cms/developing-your-first-kooboo-cms-website-part-ii-" target=""&gt;Develope your first Kooboo website (part II)&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                2. &lt;a href="/docs/kooboo-cms/content-management-1" target=""&gt;Content management&lt;/a&gt;
                    &lt;ol&gt;
            &lt;li class=""&gt;
                2.1. &lt;a href="/docs/kooboo-cms/content-type-management" target=""&gt;Content type management&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                2.2. &lt;a href="/docs/kooboo-cms/media-library" target=""&gt;Media library&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                2.3. &lt;a href="/docs/kooboo-cms/folder-management" target=""&gt;Folder management&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                2.4. &lt;a href="/docs/kooboo-cms/content-management-2" target=""&gt;Text Content management&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                2.5. &lt;a href="/docs/kooboo-cms/inline-editing-2" target=""&gt;Inline editing&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                2.6. &lt;a href="/docs/kooboo-cms/workflow" target=""&gt;Workflow&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                2.7. &lt;a href="/docs/kooboo-cms/content-broadcasting-and-sharing" target=""&gt;Content broadcasting and sharing&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                3. &lt;a href="/docs/kooboo-cms/kooboo_web_development" target=""&gt;Web development&lt;/a&gt;
                    &lt;ol&gt;
            &lt;li class=""&gt;
                3.1. &lt;a href="/docs/kooboo-cms/system" target=""&gt;System&lt;/a&gt;
                    &lt;ol&gt;
            &lt;li class=""&gt;
                3.1.1. &lt;a href="/docs/kooboo-cms/site-setting" target=""&gt;Site settings&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                3.1.2. &lt;a href="/docs/kooboo-cms/site-users" target=""&gt;Site users&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                3.1.3. &lt;a href="/docs/kooboo-cms/custom-errors" target=""&gt;Custom errors&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                3.1.4. &lt;a href="/docs/kooboo-cms/url-redirects" target=""&gt;Url redirects&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                3.1.5. &lt;a href="/docs/kooboo-cms/robots-txt" target=""&gt;Robots.txt&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                3.1.6. &lt;a href="/docs/kooboo-cms/system-diagnosis" target=""&gt;System diagnosis&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                3.2. &lt;a href="/docs/kooboo-cms/kooboo_development" target=""&gt;Development&lt;/a&gt;
                    &lt;ol&gt;
            &lt;li class=""&gt;
                3.2.1. &lt;a href="/docs/kooboo-cms/layouts" target=""&gt;Layouts&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                3.2.2. &lt;a href="/docs/kooboo-cms/views" target=""&gt;Views&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                3.2.3. &lt;a href="/docs/kooboo-cms/labels" target=""&gt;Labels&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                3.2.4. &lt;a href="/docs/kooboo-cms/scripts" target=""&gt;Scripts&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                3.2.5. &lt;a href="/docs/kooboo-cms/theme" target=""&gt;Theme&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                3.2.6. &lt;a href="/docs/kooboo-cms/custom-files" target=""&gt;Custom files&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                3.2.7. &lt;a href="/docs/kooboo-cms/page-mapping" target=""&gt;Page mapping&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                3.3. &lt;a href="/docs/kooboo-cms/add_pages" target=""&gt;Add pages&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                3.4. &lt;a href="/docs/kooboo-cms/page-settings" target=""&gt;Page settings&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                3.5. &lt;a href="/docs/kooboo-cms/module_development_43" target=""&gt;Module development (for v 4.3 or up)&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                3.6. &lt;a href="/docs/kooboo-cms/module-development" target=""&gt;Module development ( v. 4.2 or earlier)&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                3.7. &lt;a href="/docs/kooboo-cms/page-plugin-development" target=""&gt;Page plugin development&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                3.8. &lt;a href="/docs/kooboo-cms/new-extension-development" target=""&gt;New extension development&lt;/a&gt;
                    &lt;ol&gt;
            &lt;li class=""&gt;
                3.8.1. &lt;a href="/docs/kooboo-cms/ab-test-rule" target=""&gt;AB test rule&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                3.8.2. &lt;a href="/docs/kooboo-cms/content-events" target=""&gt;Content events&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                3.8.3. &lt;a href="/docs/kooboo-cms/submission-plug-in-development" target=""&gt;Submission plug-in development&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                3.8.4. &lt;a href="/docs/kooboo-cms/page-plug-in-development" target=""&gt;page plug-in development&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                3.8.5. &lt;a href="/docs/kooboo-cms/module_development_using_extension_template" target=""&gt;Module development&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                3.8.6. &lt;a href="/docs/kooboo-cms/advanced-module-concepts" target=""&gt;Advanced module concepts&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                4. &lt;a href="/docs/kooboo-cms/technical-articles" target=""&gt;Technical articles&lt;/a&gt;
                    &lt;ol&gt;
            &lt;li class=""&gt;
                4.1. &lt;a href="/docs/kooboo-cms/using-visual-studio-net" target=""&gt;Using Visual Studio.NET 2010/2012&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                4.2. &lt;a href="/docs/kooboo-cms/kooboo-multi-sites-solution" target=""&gt;Kooboo multi site solution&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                4.3. &lt;a href="/docs/kooboo-cms/switching-content-database" target=""&gt;Switching content database&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                4.4. &lt;a href="/docs/kooboo-cms/migrate-from-kooboo-cms-2-0-to-3-0" target=""&gt;Migrate from Kooboo CMS 2.0 to 3.0&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                4.5. &lt;a href="/docs/kooboo-cms/kooboo-cms-load-balance" target=""&gt;Kooboo CMS load balance&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                4.6. &lt;a href="/docs/kooboo-cms/deploy-kooboo-on-microsoft-azure-platform" target=""&gt;Deploy Kooboo on Microsoft Azure platform&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                4.7. &lt;a href="/docs/kooboo-cms/faq" target=""&gt;Some frequent asked questions&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                4.8. &lt;a href="/docs/kooboo-cms/faq2" target=""&gt;Another frequent asked questions&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
            &lt;li class=""&gt;
                5. &lt;a href="/docs/kooboo-cms/kooboo-products-and-raodmap" target=""&gt;Kooboo products and raodmap&lt;/a&gt;
                    &lt;ol&gt;
    &lt;/ol&gt;

            &lt;/li&gt;
    &lt;/ol&gt;

&lt;/div&gt;

                &lt;/aside&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;footer id="footer"&gt;
            
            &lt;div class="global-width clearfix"&gt;
    &lt;div class="columns clearfix"&gt;
        &lt;div class="span5"&gt;
            &lt;div class="block about"&gt;
                &lt;h6 class="title"&gt;About&lt;/h6&gt;
                &lt;div class="content"&gt;&lt;p&gt;Kooboo is an international web development firm with its core development team based in China.&amp;nbsp; Kooboo contains products and practices to meet all your web development needs, allowing you complete freedom in development.&amp;nbsp; Kooboo comprises Kooboo products (Design tools, CMS, Ecommerce, and Newsletters), Kooboo people, Kooboo service, and Kooboo network.&lt;/p&gt;&lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="span3"&gt;
            &lt;div class="block links"&gt;
                &lt;h6 class="title"&gt;Links&lt;/h6&gt;
                &lt;ul&gt;
                    &lt;li&gt;&lt;a href=""&gt;Home&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a href="/licensefaq"&gt;License&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a href="http://forum.kooboo.com" target="_blank"&gt;Community Forum&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a href="/privacy-policy"&gt;Privacy Policy&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a href="/service"&gt;Service&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a href="/partner"&gt;Partner Network&lt;/a&gt;&lt;/li&gt;
                &lt;/ul&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="span4"&gt;
            &lt;div class="block updates"&gt;
    &lt;h6 class="title"&gt;Updates&lt;/h6&gt;
    &lt;ul&gt;
            &lt;li&gt;
                &lt;a href="/updates/detail/dutch-consulate-general-visits-kooboo-office" target=""&gt;Dutch Consulate General visits Kooboo office&lt;/a&gt;
                &lt;span class="date"&gt;December 10, 2013&lt;/span&gt;
            &lt;/li&gt;
            &lt;li&gt;
                &lt;a href="/updates/detail/kooboo-developers-to-sweden" target=""&gt;Kooboo developers to Sweden&lt;/a&gt;
                &lt;span class="date"&gt;May 5, 2013&lt;/span&gt;
            &lt;/li&gt;
            &lt;li&gt;
                &lt;a href="/updates/detail/kooboo-show-case-from-rb2-partner" target=""&gt;Kooboo showcase from rb2 partner&lt;/a&gt;
                &lt;span class="date"&gt;February 23, 2013&lt;/span&gt;
            &lt;/li&gt;
    &lt;/ul&gt;
&lt;/div&gt;

        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;div class="bottom"&gt;
    &lt;div class="global-width clearfix"&gt;
        &lt;p class="copyright"&gt;&amp;copy;Copyright 2009 - 2014 &lt;a href="/"&gt;Kooboo team&lt;/a&gt; All Rights Reserved.&lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;

        &lt;/footer&gt;
    &lt;/div&gt;
    &lt;script src="/preview~kooboo/Scripts/Kooboo-WebResource/Index/jQuery/20130227" type="text/javascript"&gt;&lt;/script&gt;
&lt;script type="text/javascript" src="/preview~kooboo/Scripts/Kooboo_COM_V4/Kooboo-Resource/scripts/1_0_0_20131217100901/True"&gt;&lt;/script&gt;

&lt;/body&gt;
&lt;/html&gt;
</Html>
	<HtmlMetas i:nil="true" />
	<HtmlTitle i:nil="true" />
	<IsDefault>false</IsDefault>
	<Layout i:nil="true" />
	<Name>-docs-kooboo-cms-faq2</Name>
	<OutputCache i:nil="true" />
	<PageContents xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
	<Plugins xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<Published>false</Published>
	<RequireHttps>false</RequireHttps>
	<Routes>
		<PageRoute>
			<Defaults xmlns:d4p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
			<Identifier>/docs/kooboo-cms/faq2</Identifier>
			<RoutePath i:nil="true" />
		</PageRoute>
	</Routes>
	<Scripts i:nil="true" />
	<Site>
		<AbsoluteName xmlns="Ovaldi.Core.Models">kooboo</AbsoluteName>
	</Site>
	<Styles i:nil="true" />
	<UUID>-docs-kooboo-cms-faq2</UUID>
</Page>