<?xml version="1.0" encoding="utf-8"?>
<Page xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Ovaldi.Core.Models">
	<AbsoluteName>-zhouhongyu1989-p-3962046.html</AbsoluteName>
	<CustomFields xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<EnableScript>true</EnableScript>
	<EnableTheming>true</EnableTheming>
	<Html>&lt;!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"&gt;
&lt;html xmlns="http://www.w3.org/1999/xhtml" lang="zh-cn"&gt;
&lt;head&gt;
&lt;meta http-equiv="Content-Type" content="text/html; charset=utf-8"&gt;
&lt;title&gt;jQuery 关于ajaxfileupload.js插件的逐步解析（ajaxfileupload.js第二弹） - 我不会抽烟Oscar - 博客园&lt;/title&gt;
&lt;link type="text/css" rel="stylesheet" href="/preview~Cnblogs/Styles/bundles/blog-common.css"&gt;
&lt;link id="MainCss" type="text/css" rel="stylesheet" href="/preview~Cnblogs/Styles/skins/arrow/bundle-arrow.css"&gt;
&lt;link title="RSS" type="application/rss+xml" rel="alternate" href="http://www.cnblogs.com/zhouhongyu1989/rss"&gt;
&lt;link title="RSD" type="application/rsd+xml" rel="EditURI" href="http://www.cnblogs.com/zhouhongyu1989/rsd.xml"&gt;
&lt;link type="application/wlwmanifest+xml" rel="wlwmanifest" href="http://www.cnblogs.com/zhouhongyu1989/wlwmanifest.xml"&gt;
&lt;script src="http://common.cnblogs.com/script/jquery.js" type="text/javascript"&gt;&lt;/script&gt;  
&lt;script type="text/javascript"&gt;var currentBlogApp = 'zhouhongyu1989', cb_enable_mathjax=true;&lt;/script&gt;
&lt;script src="/preview~Cnblogs/Scripts/bundles/blog-common.js" type="text/javascript"&gt;&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;a name="top"&gt;&lt;/a&gt;

&lt;!--done--&gt;
&lt;div id="header"&gt;
	
&lt;!--done--&gt;
&lt;div class="header"&gt;
	&lt;div class="headerText"&gt;
		&lt;a id="Header1_HeaderTitle" class="headermaintitle" href="http://www.cnblogs.com/zhouhongyu1989/"&gt;我不会抽烟Oscar&lt;/a&gt;&lt;br&gt;
		
	&lt;/div&gt;
&lt;/div&gt;

&lt;/div&gt;
&lt;div id="mylinks"&gt;
&lt;!--done--&gt;
&lt;a id="MyLinks1_HomeLink" class="menu" href="http://www.cnblogs.com/"&gt;博客园&lt;/a&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;
&lt;a id="MyLinks1_MyHomeLink" class="menu" href="http://www.cnblogs.com/zhouhongyu1989/"&gt;首页&lt;/a&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;
&lt;a id="MyLinks1_NewPostLink" class="menu" rel="nofollow" href="http://i.cnblogs.com/EditPosts.aspx?opt=1"&gt;新随笔&lt;/a&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;
&lt;a id="MyLinks1_ContactLink" accesskey="9" class="menu" rel="nofollow" href="http://space.cnblogs.com/msg/send/%e6%88%91%e4%b8%8d%e4%bc%9a%e6%8a%bd%e7%83%9fOscar"&gt;联系&lt;/a&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;
&lt;a id="MyLinks1_Syndication" class="menu" href="http://www.cnblogs.com/zhouhongyu1989/rss"&gt;订阅&lt;/a&gt;&lt;a id="MyLinks1_XMLLink" href="http://www.cnblogs.com/zhouhongyu1989/rss"&gt;&lt;img src="/preview~Cnblogs/Images/images/xml.gif" alt="订阅"&gt;&lt;/a&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;
&lt;a id="MyLinks1_Admin" class="menu" rel="nofollow" href="http://i.cnblogs.com/"&gt;管理&lt;/a&gt;
&lt;/div&gt;
&lt;div id="mytopmenu"&gt;
	
		
&lt;div class="blogStats"&gt;随笔 - 18&amp;nbsp;
文章 - 0&amp;nbsp;评论 - 118&amp;nbsp;trackbacks - 0
&lt;/div&gt;
	
&lt;/div&gt;
&lt;div id="leftcontent"&gt;
	
		&lt;div id="leftcontentcontainer"&gt;
			&lt;div id="blog-calendar" style="display:none"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;loadBlogDefaultCalendar();&lt;/script&gt;&lt;br&gt;
			
&lt;!--done--&gt;
&lt;div class="newsItem"&gt;
	&lt;div id="blog-news"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;loadBlogNews();&lt;/script&gt;
&lt;/div&gt;

			&lt;div id="blog-sidecolumn"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;loadBlogSideColumn();&lt;/script&gt;&lt;/div&gt;		
	
&lt;/div&gt;
&lt;div id="centercontent"&gt;
	

&lt;!--done--&gt;
&lt;div class="post"&gt;
	&lt;div class="postTitle"&gt;
		&lt;h1&gt;&lt;a id="cb_post_title_url" class="postTitle2" href="http://www.cnblogs.com/zhouhongyu1989/p/3962046.html"&gt;jQuery 关于ajaxfileupload.js插件的逐步解析（ajaxfileupload.js第二弹）&lt;/a&gt;&lt;/h1&gt;
	&lt;/div&gt;
	&lt;div id="cnblogs_post_body"&gt;&lt;p&gt;如果你看了上一篇《&lt;a title="ASP.NET 使用ajaxfileupload.js插件出现上传较大文件失败的解决方法（ajaxfileupload.js第一弹）" href="http://www.cnblogs.com/zhouhongyu1989/p/3957856.html" target="_blank"&gt;ASP.NET 使用ajaxfileupload.js插件出现上传较大文件失败的解决方法（ajaxfileupload.js第一弹）&lt;/a&gt;》的话，应该就知道我是逼不得已要认真学习下ajaxfileupload.js这个上传文件插件的。哈哈，开个玩笑啦，其实学习是给自己学的，而且学会了真的是很享受的~&lt;/p&gt;
&lt;p&gt;这篇呢，就是想把这个插件的思路说一下，其中中文注解是我写的，英文注解应该是原作者写的吧~说实话，有些if判断里的东西我也没太弄明白，但是大致思路还是OK的。&lt;/p&gt;
&lt;pre class="csharpcode"&gt;jQuery.extend({


    createUploadIframe: &lt;span class="kwrd"&gt;function&lt;/span&gt; (id, uri) {&lt;span class="rem"&gt;//id为当前系统时间字符串，uri是外部传入的json对象的一个参数&lt;/span&gt;
        &lt;span class="rem"&gt;//create frame&lt;/span&gt;
        &lt;span class="kwrd"&gt;var&lt;/span&gt; frameId = &lt;span class="str"&gt;'jUploadFrame'&lt;/span&gt; + id; &lt;span class="rem"&gt;//给iframe添加一个独一无二的id&lt;/span&gt;
        &lt;span class="kwrd"&gt;var&lt;/span&gt; iframeHtml = &lt;span class="str"&gt;'&amp;lt;iframe id="'&lt;/span&gt; + frameId + &lt;span class="str"&gt;'" name="'&lt;/span&gt; + frameId + &lt;span class="str"&gt;'" style="position:absolute; top:-9999px; left:-9999px"'&lt;/span&gt;; &lt;span class="rem"&gt;//创建iframe元素&lt;/span&gt;
        &lt;span class="kwrd"&gt;if&lt;/span&gt; (window.ActiveXObject) {&lt;span class="rem"&gt;//判断浏览器是否支持ActiveX控件&lt;/span&gt;
            &lt;span class="kwrd"&gt;if&lt;/span&gt; (&lt;span class="kwrd"&gt;typeof&lt;/span&gt; uri == &lt;span class="str"&gt;'boolean'&lt;/span&gt;) {
                iframeHtml += &lt;span class="str"&gt;' src="'&lt;/span&gt; + &lt;span class="str"&gt;'javascript:false'&lt;/span&gt; + &lt;span class="str"&gt;'"'&lt;/span&gt;;

            }
            &lt;span class="kwrd"&gt;else&lt;/span&gt; &lt;span class="kwrd"&gt;if&lt;/span&gt; (&lt;span class="kwrd"&gt;typeof&lt;/span&gt; uri == &lt;span class="str"&gt;'string'&lt;/span&gt;) {
                iframeHtml += &lt;span class="str"&gt;' src="'&lt;/span&gt; + uri + &lt;span class="str"&gt;'"'&lt;/span&gt;;
            }
        }
        iframeHtml += &lt;span class="str"&gt;' /&amp;gt;'&lt;/span&gt;;
        jQuery(iframeHtml).appendTo(document.body); &lt;span class="rem"&gt;//将动态iframe追加到body中&lt;/span&gt;

        &lt;span class="kwrd"&gt;return&lt;/span&gt; jQuery(&lt;span class="str"&gt;'#'&lt;/span&gt; + frameId).get(0); &lt;span class="rem"&gt;//返回iframe对象&lt;/span&gt;
    },
    createUploadForm: &lt;span class="kwrd"&gt;function&lt;/span&gt; (id, fileElementId, data) {&lt;span class="rem"&gt;//id为当前系统时间字符串，fileElementId为页面&amp;lt;input type='file' /&amp;gt;的id，data的值需要根据传入json的键来决定&lt;/span&gt;
        &lt;span class="rem"&gt;//create form    &lt;/span&gt;
        &lt;span class="kwrd"&gt;var&lt;/span&gt; formId = &lt;span class="str"&gt;'jUploadForm'&lt;/span&gt; + id; &lt;span class="rem"&gt;//给form添加一个独一无二的id&lt;/span&gt;
        &lt;span class="kwrd"&gt;var&lt;/span&gt; fileId = &lt;span class="str"&gt;'jUploadFile'&lt;/span&gt; + id; &lt;span class="rem"&gt;//给&amp;lt;input type='file' /&amp;gt;添加一个独一无二的id&lt;/span&gt;
        &lt;span class="kwrd"&gt;var&lt;/span&gt; form = jQuery(&lt;span class="str"&gt;'&amp;lt;form  action="" method="POST" name="'&lt;/span&gt; + formId + &lt;span class="str"&gt;'" id="'&lt;/span&gt; + formId + &lt;span class="str"&gt;'" enctype="multipart/form-data" &amp;gt;&amp;lt;/form&amp;gt;'&lt;/span&gt;); &lt;span class="rem"&gt;//创建form元素&lt;/span&gt;
        &lt;span class="kwrd"&gt;if&lt;/span&gt; (data) {&lt;span class="rem"&gt;//通常为false&lt;/span&gt;
            &lt;span class="kwrd"&gt;for&lt;/span&gt; (&lt;span class="kwrd"&gt;var&lt;/span&gt; i &lt;span class="kwrd"&gt;in&lt;/span&gt; data) {
                jQuery(&lt;span class="str"&gt;'&amp;lt;input type="hidden" name="'&lt;/span&gt; + i + &lt;span class="str"&gt;'" value="'&lt;/span&gt; + data[i] + &lt;span class="str"&gt;'" /&amp;gt;'&lt;/span&gt;).appendTo(form); &lt;span class="rem"&gt;//根据data的内容，创建隐藏域，这部分我还不知道是什么时候用到。估计是传入json的时候，如果默认传一些参数的话要用到。&lt;/span&gt;
            }
        }
        &lt;span class="kwrd"&gt;var&lt;/span&gt; oldElement = jQuery(&lt;span class="str"&gt;'#'&lt;/span&gt; + fileElementId); &lt;span class="rem"&gt;//得到页面中的&amp;lt;input type='file' /&amp;gt;对象&lt;/span&gt;
        &lt;span class="kwrd"&gt;var&lt;/span&gt; newElement = jQuery(oldElement).clone(); &lt;span class="rem"&gt;//克隆页面中的&amp;lt;input type='file' /&amp;gt;对象&lt;/span&gt;
        jQuery(oldElement).attr(&lt;span class="str"&gt;'id'&lt;/span&gt;, fileId); &lt;span class="rem"&gt;//修改原对象的id&lt;/span&gt;
        jQuery(oldElement).before(newElement); &lt;span class="rem"&gt;//在原对象前插入克隆对象&lt;/span&gt;
        jQuery(oldElement).appendTo(form); &lt;span class="rem"&gt;//把原对象插入到动态form的结尾处&lt;/span&gt;



        &lt;span class="rem"&gt;//set attributes&lt;/span&gt;
        jQuery(form).css(&lt;span class="str"&gt;'position'&lt;/span&gt;, &lt;span class="str"&gt;'absolute'&lt;/span&gt;); &lt;span class="rem"&gt;//给动态form添加样式，使其浮动起来，&lt;/span&gt;
        jQuery(form).css(&lt;span class="str"&gt;'top'&lt;/span&gt;, &lt;span class="str"&gt;'-1200px'&lt;/span&gt;);
        jQuery(form).css(&lt;span class="str"&gt;'left'&lt;/span&gt;, &lt;span class="str"&gt;'-1200px'&lt;/span&gt;);
        jQuery(form).appendTo(&lt;span class="str"&gt;'body'&lt;/span&gt;); &lt;span class="rem"&gt;//把动态form插入到body中&lt;/span&gt;
        &lt;span class="kwrd"&gt;return&lt;/span&gt; form;
    },

    ajaxFileUpload: &lt;span class="kwrd"&gt;function&lt;/span&gt; (s) {&lt;span class="rem"&gt;//这里s是个json对象，传入一些ajax的参数&lt;/span&gt;
        &lt;span class="rem"&gt;// TODO introduce global settings, allowing the client to modify them for all requests, not only timeout        &lt;/span&gt;
        s = jQuery.extend({}, jQuery.ajaxSettings, s); &lt;span class="rem"&gt;//此时的s对象是由jQuery.ajaxSettings和原s对象扩展后的对象&lt;/span&gt;
        &lt;span class="kwrd"&gt;var&lt;/span&gt; id = &lt;span class="kwrd"&gt;new&lt;/span&gt; Date().getTime(); &lt;span class="rem"&gt;//取当前系统时间，目的是得到一个独一无二的数字&lt;/span&gt;
        &lt;span class="kwrd"&gt;var&lt;/span&gt; form = jQuery.createUploadForm(id, s.fileElementId, (&lt;span class="kwrd"&gt;typeof&lt;/span&gt; (s.data) == &lt;span class="str"&gt;'undefined'&lt;/span&gt; ? &lt;span class="kwrd"&gt;false&lt;/span&gt; : s.data)); &lt;span class="rem"&gt;//创建动态form&lt;/span&gt;
        &lt;span class="kwrd"&gt;var&lt;/span&gt; io = jQuery.createUploadIframe(id, s.secureuri); &lt;span class="rem"&gt;//创建动态iframe&lt;/span&gt;
        &lt;span class="kwrd"&gt;var&lt;/span&gt; frameId = &lt;span class="str"&gt;'jUploadFrame'&lt;/span&gt; + id; &lt;span class="rem"&gt;//动态iframe的id&lt;/span&gt;
        &lt;span class="kwrd"&gt;var&lt;/span&gt; formId = &lt;span class="str"&gt;'jUploadForm'&lt;/span&gt; + id; &lt;span class="rem"&gt;//动态form的id&lt;/span&gt;
        &lt;span class="rem"&gt;// Watch for a new set of requests&lt;/span&gt;
        &lt;span class="kwrd"&gt;if&lt;/span&gt; (s.global &amp;amp;&amp;amp; !jQuery.active++) {&lt;span class="rem"&gt;//当jQuery开始一个ajax请求时发生&lt;/span&gt;
            jQuery.&lt;span class="kwrd"&gt;event&lt;/span&gt;.trigger(&lt;span class="str"&gt;"ajaxStart"&lt;/span&gt;); &lt;span class="rem"&gt;//触发ajaxStart方法&lt;/span&gt;
        }
        &lt;span class="kwrd"&gt;var&lt;/span&gt; requestDone = &lt;span class="kwrd"&gt;false&lt;/span&gt;; &lt;span class="rem"&gt;//请求完成标志&lt;/span&gt;
        &lt;span class="rem"&gt;// Create the request object&lt;/span&gt;
        &lt;span class="kwrd"&gt;var&lt;/span&gt; xml = {};
        &lt;span class="kwrd"&gt;if&lt;/span&gt; (s.global)
            jQuery.&lt;span class="kwrd"&gt;event&lt;/span&gt;.trigger(&lt;span class="str"&gt;"ajaxSend"&lt;/span&gt;, [xml, s]); &lt;span class="rem"&gt;//触发ajaxSend方法&lt;/span&gt;
        &lt;span class="rem"&gt;// Wait for a response to come back&lt;/span&gt;
        &lt;span class="kwrd"&gt;var&lt;/span&gt; uploadCallback = &lt;span class="kwrd"&gt;function&lt;/span&gt; (isTimeout) {&lt;span class="rem"&gt;//回调函数&lt;/span&gt;
            &lt;span class="kwrd"&gt;var&lt;/span&gt; io = document.getElementById(frameId); &lt;span class="rem"&gt;//得到iframe对象&lt;/span&gt;
            &lt;span class="kwrd"&gt;try&lt;/span&gt; {
                &lt;span class="kwrd"&gt;if&lt;/span&gt; (io.contentWindow) {&lt;span class="rem"&gt;//动态iframe所在窗口对象是否存在&lt;/span&gt;
                    xml.responseText = io.contentWindow.document.body ? io.contentWindow.document.body.innerHTML : &lt;span class="kwrd"&gt;null&lt;/span&gt;;
                    xml.responseXML = io.contentWindow.document.XMLDocument ? io.contentWindow.document.XMLDocument : io.contentWindow.document;

                } &lt;span class="kwrd"&gt;else&lt;/span&gt; &lt;span class="kwrd"&gt;if&lt;/span&gt; (io.contentDocument) {&lt;span class="rem"&gt;//动态iframe的文档对象是否存在&lt;/span&gt;
                    xml.responseText = io.contentDocument.document.body ? io.contentDocument.document.body.innerHTML : &lt;span class="kwrd"&gt;null&lt;/span&gt;;
                    xml.responseXML = io.contentDocument.document.XMLDocument ? io.contentDocument.document.XMLDocument : io.contentDocument.document;
                }
            } &lt;span class="kwrd"&gt;catch&lt;/span&gt; (e) {
                jQuery.handleError(s, xml, &lt;span class="kwrd"&gt;null&lt;/span&gt;, e);
            }
            &lt;span class="kwrd"&gt;if&lt;/span&gt; (xml || isTimeout == &lt;span class="str"&gt;"timeout"&lt;/span&gt;) {&lt;span class="rem"&gt;//xml变量被赋值或者isTimeout == "timeout"都表示请求发出，并且有响应&lt;/span&gt;
                requestDone = &lt;span class="kwrd"&gt;true&lt;/span&gt;; &lt;span class="rem"&gt;//请求完成&lt;/span&gt;
                &lt;span class="kwrd"&gt;var&lt;/span&gt; status;
                &lt;span class="kwrd"&gt;try&lt;/span&gt; {
                    status = isTimeout != &lt;span class="str"&gt;"timeout"&lt;/span&gt; ? &lt;span class="str"&gt;"success"&lt;/span&gt; : &lt;span class="str"&gt;"error"&lt;/span&gt;; &lt;span class="rem"&gt;//如果不是&amp;ldquo;超时&amp;rdquo;，表示请求成功&lt;/span&gt;
                    &lt;span class="rem"&gt;// Make sure that the request was successful or notmodified&lt;/span&gt;
                    &lt;span class="kwrd"&gt;if&lt;/span&gt; (status != &lt;span class="str"&gt;"error"&lt;/span&gt;) {
                        &lt;span class="rem"&gt;// process the data (runs the xml through httpData regardless of callback)&lt;/span&gt;
                        &lt;span class="kwrd"&gt;var&lt;/span&gt; data = jQuery.uploadHttpData(xml, s.dataType); &lt;span class="rem"&gt;//根据传送的type类型，返回json对象，此时返回的data就是后台操作后的返回结果&lt;/span&gt;
                        &lt;span class="rem"&gt;// If a local callback was specified, fire it and pass it the data&lt;/span&gt;
                        &lt;span class="kwrd"&gt;if&lt;/span&gt; (s.success)
                            s.success(data, status); &lt;span class="rem"&gt;//执行上传成功的操作&lt;/span&gt;

                        &lt;span class="rem"&gt;// Fire the global callback&lt;/span&gt;
                        &lt;span class="kwrd"&gt;if&lt;/span&gt; (s.global)
                            jQuery.&lt;span class="kwrd"&gt;event&lt;/span&gt;.trigger(&lt;span class="str"&gt;"ajaxSuccess"&lt;/span&gt;, [xml, s]);
                    } &lt;span class="kwrd"&gt;else&lt;/span&gt;
                        jQuery.handleError(s, xml, status);
                } &lt;span class="kwrd"&gt;catch&lt;/span&gt; (e) {
                    status = &lt;span class="str"&gt;"error"&lt;/span&gt;;
                    jQuery.handleError(s, xml, status, e);
                }

                &lt;span class="rem"&gt;// The request was completed&lt;/span&gt;
                &lt;span class="kwrd"&gt;if&lt;/span&gt; (s.global)
                    jQuery.&lt;span class="kwrd"&gt;event&lt;/span&gt;.trigger(&lt;span class="str"&gt;"ajaxComplete"&lt;/span&gt;, [xml, s]);

                &lt;span class="rem"&gt;// Handle the global AJAX counter&lt;/span&gt;
                &lt;span class="kwrd"&gt;if&lt;/span&gt; (s.global &amp;amp;&amp;amp; ! --jQuery.active)
                    jQuery.&lt;span class="kwrd"&gt;event&lt;/span&gt;.trigger(&lt;span class="str"&gt;"ajaxStop"&lt;/span&gt;);

                &lt;span class="rem"&gt;// Process result&lt;/span&gt;
                &lt;span class="kwrd"&gt;if&lt;/span&gt; (s.complete)
                    s.complete(xml, status);

                jQuery(io).unbind();&lt;span class="rem"&gt;//移除iframe的事件处理程序&lt;/span&gt;

                setTimeout(&lt;span class="kwrd"&gt;function&lt;/span&gt; () {&lt;span class="rem"&gt;//设置超时时间&lt;/span&gt;
                    &lt;span class="kwrd"&gt;try&lt;/span&gt; {
                        jQuery(io).remove();&lt;span class="rem"&gt;//移除动态iframe&lt;/span&gt;
                        jQuery(form).remove();&lt;span class="rem"&gt;//移除动态form&lt;/span&gt;

                    } &lt;span class="kwrd"&gt;catch&lt;/span&gt; (e) {
                        jQuery.handleError(s, xml, &lt;span class="kwrd"&gt;null&lt;/span&gt;, e);
                    }

                }, 100)

                xml = &lt;span class="kwrd"&gt;null&lt;/span&gt;

            }
        }
        &lt;span class="rem"&gt;// Timeout checker&lt;/span&gt;
        &lt;span class="kwrd"&gt;if&lt;/span&gt; (s.timeout &amp;gt; 0) {&lt;span class="rem"&gt;//超时检测&lt;/span&gt;
            setTimeout(&lt;span class="kwrd"&gt;function&lt;/span&gt; () {
                &lt;span class="rem"&gt;// Check to see if the request is still happening&lt;/span&gt;
                &lt;span class="kwrd"&gt;if&lt;/span&gt; (!requestDone) uploadCallback(&lt;span class="str"&gt;"timeout"&lt;/span&gt;);&lt;span class="rem"&gt;//如果请求仍未完成，就发送超时信号&lt;/span&gt;
            }, s.timeout);
        }
        &lt;span class="kwrd"&gt;try&lt;/span&gt; {

            &lt;span class="kwrd"&gt;var&lt;/span&gt; form = jQuery(&lt;span class="str"&gt;'#'&lt;/span&gt; + formId);
            jQuery(form).attr(&lt;span class="str"&gt;'action'&lt;/span&gt;, s.url);&lt;span class="rem"&gt;//传入的ajax页面导向url&lt;/span&gt;
            jQuery(form).attr(&lt;span class="str"&gt;'method'&lt;/span&gt;, &lt;span class="str"&gt;'POST'&lt;/span&gt;);&lt;span class="rem"&gt;//设置提交表单方式&lt;/span&gt;
            jQuery(form).attr(&lt;span class="str"&gt;'target'&lt;/span&gt;, frameId);&lt;span class="rem"&gt;//返回的目标iframe，就是创建的动态iframe&lt;/span&gt;
            &lt;span class="kwrd"&gt;if&lt;/span&gt; (form.encoding) {&lt;span class="rem"&gt;//选择编码方式&lt;/span&gt;
                jQuery(form).attr(&lt;span class="str"&gt;'encoding'&lt;/span&gt;, &lt;span class="str"&gt;'multipart/form-data'&lt;/span&gt;);
            }
            &lt;span class="kwrd"&gt;else&lt;/span&gt; {
                jQuery(form).attr(&lt;span class="str"&gt;'enctype'&lt;/span&gt;, &lt;span class="str"&gt;'multipart/form-data'&lt;/span&gt;);
            }
            jQuery(form).submit();&lt;span class="rem"&gt;//提交form表单&lt;/span&gt;

        } &lt;span class="kwrd"&gt;catch&lt;/span&gt; (e) {
            jQuery.handleError(s, xml, &lt;span class="kwrd"&gt;null&lt;/span&gt;, e);
        }

        jQuery(&lt;span class="str"&gt;'#'&lt;/span&gt; + frameId).load(uploadCallback); &lt;span class="rem"&gt;//ajax 请求从服务器加载数据，同时传入回调函数&lt;/span&gt;
        &lt;span class="kwrd"&gt;return&lt;/span&gt; { abort: &lt;span class="kwrd"&gt;function&lt;/span&gt; () { } };

    },

    uploadHttpData: &lt;span class="kwrd"&gt;function&lt;/span&gt; (r, type) {
        &lt;span class="kwrd"&gt;var&lt;/span&gt; data = !type;
        data = type == &lt;span class="str"&gt;"xml"&lt;/span&gt; || data ? r.responseXML : r.responseText;
        &lt;span class="rem"&gt;// If the type is "script", eval it in global context&lt;/span&gt;
        &lt;span class="kwrd"&gt;if&lt;/span&gt; (type == &lt;span class="str"&gt;"script"&lt;/span&gt;)
            jQuery.globalEval(data);
        &lt;span class="rem"&gt;// Get the JavaScript object, if JSON is used.&lt;/span&gt;
        &lt;span class="kwrd"&gt;if&lt;/span&gt; (type == &lt;span class="str"&gt;"json"&lt;/span&gt;)
            eval(&lt;span class="str"&gt;"data = "&lt;/span&gt; + data);
        &lt;span class="rem"&gt;// evaluate scripts within html&lt;/span&gt;
        &lt;span class="kwrd"&gt;if&lt;/span&gt; (type == &lt;span class="str"&gt;"html"&lt;/span&gt;)
            jQuery(&lt;span class="str"&gt;"&amp;lt;div&amp;gt;"&lt;/span&gt;).html(data).evalScripts();

        &lt;span class="kwrd"&gt;return&lt;/span&gt; data;
    }
})&lt;/pre&gt;
&lt;style&gt;&lt;!--
.csharpcode, .csharpcode pre
{
	font-size: small;
	color: black;
	font-family: consolas, "Courier New", courier, monospace;
	background-color: #ffffff;
	/*white-space: pre;*/
}
.csharpcode pre { margin: 0em; }
.csharpcode .rem { color: #008000; }
.csharpcode .kwrd { color: #0000ff; }
.csharpcode .str { color: #006080; }
.csharpcode .op { color: #0000c0; }
.csharpcode .preproc { color: #cc6633; }
.csharpcode .asp { background-color: #ffff00; }
.csharpcode .html { color: #800000; }
.csharpcode .attr { color: #ff0000; }
.csharpcode .alt 
{
	background-color: #f4f4f4;
	width: 100%;
	margin: 0em;
}
.csharpcode .lnum { color: #606060; }
--&gt;&lt;/style&gt;
&lt;style&gt;&lt;!--
.csharpcode, .csharpcode pre
{
	font-size: small;
	color: black;
	font-family: consolas, "Courier New", courier, monospace;
	background-color: #ffffff;
	/*white-space: pre;*/
}
.csharpcode pre { margin: 0em; }
.csharpcode .rem { color: #008000; }
.csharpcode .kwrd { color: #0000ff; }
.csharpcode .str { color: #006080; }
.csharpcode .op { color: #0000c0; }
.csharpcode .preproc { color: #cc6633; }
.csharpcode .asp { background-color: #ffff00; }
.csharpcode .html { color: #800000; }
.csharpcode .attr { color: #ff0000; }
.csharpcode .alt 
{
	background-color: #f4f4f4;
	width: 100%;
	margin: 0em;
}
.csharpcode .lnum { color: #606060; }
--&gt;&lt;/style&gt;
&lt;p&gt;ajaxfileupload.js插件大致的思路就是如上所述，但是对于ajax来说，传值也是相当关键的部分，也就是传入的json对象里的键值对。&lt;/p&gt;
&lt;p&gt;调用方法如下：&lt;/p&gt;
&lt;pre class="csharpcode"&gt;$.ajaxFileUpload
(
    {
        url: &lt;span class="str"&gt;'../../XXXX/XXXX.aspx'&lt;/span&gt;, &lt;span class="rem"&gt;//用于文件上传的服务器端请求地址&lt;/span&gt;
        secureuri: &lt;span class="kwrd"&gt;false&lt;/span&gt;,           &lt;span class="rem"&gt;//一般设置为false&lt;/span&gt;
        fileElementId: $(&lt;span class="str"&gt;"input#xxx"&lt;/span&gt;).attr(&lt;span class="str"&gt;"id"&lt;/span&gt;), &lt;span class="rem"&gt;//文件上传控件的id属性  &amp;lt;input type="file" id="file" name="file" /&amp;gt; 注意，这里一定要有name值   &lt;/span&gt;
                                                &lt;span class="rem"&gt;//$("form").serialize(),表单序列化。指把所有元素的ID，NAME 等全部发过去&lt;/span&gt;
        dataType: &lt;span class="str"&gt;'json'&lt;/span&gt;,&lt;span class="rem"&gt;//返回值类型 一般设置为json&lt;/span&gt;
        complete: &lt;span class="kwrd"&gt;function&lt;/span&gt; () {&lt;span class="rem"&gt;//只要完成即执行，最后执行&lt;/span&gt;
        },
        success: &lt;span class="kwrd"&gt;function&lt;/span&gt; (data, status)  &lt;span class="rem"&gt;//服务器成功响应处理函数&lt;/span&gt;
        {
            &lt;span class="kwrd"&gt;if&lt;/span&gt; (&lt;span class="kwrd"&gt;typeof&lt;/span&gt; (data.error) != &lt;span class="str"&gt;'undefined'&lt;/span&gt;) {
                &lt;span class="kwrd"&gt;if&lt;/span&gt; (data.error != &lt;span class="str"&gt;''&lt;/span&gt;) {
                    &lt;span class="kwrd"&gt;if&lt;/span&gt; (data.error == &lt;span class="str"&gt;"1001"&lt;/span&gt;) {&lt;span class="rem"&gt;//这个error（错误码）是由自己定义的，根据后台返回的json对象的键值而判断&lt;/span&gt;
                    }
                    &lt;span class="kwrd"&gt;else&lt;/span&gt; &lt;span class="kwrd"&gt;if&lt;/span&gt; (data.error == &lt;span class="str"&gt;"1002"&lt;/span&gt;) {
                    }
                    alert(data.msg);&lt;span class="rem"&gt;//同error&lt;/span&gt;
                    &lt;span class="kwrd"&gt;return&lt;/span&gt;;
                } &lt;span class="kwrd"&gt;else&lt;/span&gt; {
                    alert(data.msg);
                }
            }
            &lt;span class="rem"&gt;/*&lt;/span&gt;
&lt;span class="rem"&gt;                *    这里就是做一些其他操作，比如把图片显示到某控件中去之类的。&lt;/span&gt;
&lt;span class="rem"&gt;                */&lt;/span&gt;
        },
        error: &lt;span class="kwrd"&gt;function&lt;/span&gt; (data, status, e)&lt;span class="rem"&gt;//服务器响应失败处理函数&lt;/span&gt;
        {
            alert(e);
        }
    }
)&lt;/pre&gt;
&lt;style&gt;&lt;!--
.csharpcode, .csharpcode pre
{
	font-size: small;
	color: black;
	font-family: consolas, "Courier New", courier, monospace;
	background-color: #ffffff;
	/*white-space: pre;*/
}
.csharpcode pre { margin: 0em; }
.csharpcode .rem { color: #008000; }
.csharpcode .kwrd { color: #0000ff; }
.csharpcode .str { color: #006080; }
.csharpcode .op { color: #0000c0; }
.csharpcode .preproc { color: #cc6633; }
.csharpcode .asp { background-color: #ffff00; }
.csharpcode .html { color: #800000; }
.csharpcode .attr { color: #ff0000; }
.csharpcode .alt 
{
	background-color: #f4f4f4;
	width: 100%;
	margin: 0em;
}
.csharpcode .lnum { color: #606060; }
--&gt;&lt;/style&gt;
&lt;pre class="csharpcode"&gt;&lt;/pre&gt;
&lt;style&gt;&lt;!--
.csharpcode, .csharpcode pre
{
	font-size: small;
	color: black;
	font-family: consolas, "Courier New", courier, monospace;
	background-color: #ffffff;
	/*white-space: pre;*/
}
.csharpcode pre { margin: 0em; }
.csharpcode .rem { color: #008000; }
.csharpcode .kwrd { color: #0000ff; }
.csharpcode .str { color: #006080; }
.csharpcode .op { color: #0000c0; }
.csharpcode .preproc { color: #cc6633; }
.csharpcode .asp { background-color: #ffff00; }
.csharpcode .html { color: #800000; }
.csharpcode .attr { color: #ff0000; }
.csharpcode .alt 
{
	background-color: #f4f4f4;
	width: 100%;
	margin: 0em;
}
.csharpcode .lnum { color: #606060; }
--&gt;&lt;/style&gt;
&lt;p&gt;整个就是使用ajaxfileupload.js插件的大致方法。当然，明白其工作原理越透彻，我们也就能越好的去操作和使用它。&lt;/p&gt;
&lt;p&gt;以上的分析希望对刚接触ajaxfileupload.js插件的朋友们有帮助。&lt;/p&gt;
&lt;p&gt;&lt;span style="color: #0000ff;"&gt;文件下载地址：http://files.cnblogs.com/zhouhongyu1989/ajaxfileupload.js&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;还有最后一弹，如有感兴趣的朋友，请关注：&lt;/p&gt;
&lt;p&gt;&lt;a title="jQuery 自制上传头像插件-附带Demo实例（ajaxfileupload.js第三弹）" href="http://www.cnblogs.com/zhouhongyu1989/p/3963748.html" target="_blank"&gt;jQuery 自制上传头像插件-附带Demo实例（ajaxfileupload.js第三弹）&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;&lt;em&gt;&lt;strong&gt;补充：&lt;/strong&gt;&lt;/em&gt;&lt;/p&gt;
&lt;p&gt;《&lt;a title="jQuery 关于IE9上传文件无法进入后台问题的原因及解决办法（ajaxfileupload.js第四弹）" href="http://www.cnblogs.com/zhouhongyu1989/p/3966423.html" target="_blank"&gt;jQuery 关于IE9上传文件无法进入后台问题的原因及解决办法（ajaxfileupload.js第四弹）&lt;/a&gt;》&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;/div&gt;&lt;div id="MySignature"&gt;&lt;/div&gt;
&lt;div class="clear"&gt;&lt;/div&gt;
&lt;div id="blog_post_info_block"&gt;
&lt;div id="BlogPostCategory"&gt;&lt;/div&gt;
&lt;div id="EntryTag"&gt;&lt;/div&gt;
&lt;div id="blog_post_info"&gt;
&lt;/div&gt;
&lt;div class="clear"&gt;&lt;/div&gt;
&lt;div id="post_next_prev"&gt;&lt;/div&gt;
&lt;/div&gt;


	&lt;div class="postDesc"&gt;posted on &lt;span id="post-date"&gt;2014-09-09 09:11&lt;/span&gt; &lt;a href='http://www.cnblogs.com/zhouhongyu1989/'&gt;我不会抽烟Oscar&lt;/a&gt; 阅读(&lt;span id="post_view_count"&gt;...&lt;/span&gt;) 评论(&lt;span id="post_comment_count"&gt;...&lt;/span&gt;)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3962046" rel="nofollow"&gt;编辑&lt;/a&gt; &lt;a href="#" onclick="AddToWz(3962046);return false;"&gt;收藏&lt;/a&gt;&lt;/div&gt;
&lt;/div&gt;
&lt;script type="text/javascript"&gt;var allowComments=true,isLogined=false,cb_blogId=187958,cb_entryId=3962046,cb_blogApp=currentBlogApp,cb_blogUserGuid='902cd865-c3eb-e311-8d02-90b11c0b17d6',cb_entryCreatedDate='2014/9/9 9:11:00';loadViewCount(cb_entryId);&lt;/script&gt;

&lt;a name="!comments"&gt;&lt;/a&gt;&lt;div id="blog-comments-placeholder"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;var commentManager = new blogCommentManager();commentManager.renderComments(0);&lt;/script&gt;
&lt;div id="comment_form" class="commentform"&gt;
&lt;a name="commentform"&gt;&lt;/a&gt;
&lt;div id="divCommentShow"&gt;&lt;/div&gt;
&lt;div id="comment_nav"&gt;&lt;span id="span_refresh_tips"&gt;&lt;/span&gt;&lt;a href="javascript:void(0);" id="lnk_RefreshComments" onclick="return RefreshCommentList();"&gt;刷新评论&lt;/a&gt;&lt;a href="#" onclick="return RefreshPage();"&gt;刷新页面&lt;/a&gt;&lt;a href="#top"&gt;返回顶部&lt;/a&gt;&lt;/div&gt;
&lt;div id="comment_form_container"&gt;&lt;/div&gt;
&lt;div class="ad_text_commentbox" id="ad_text_under_commentbox"&gt;&lt;/div&gt;
&lt;div id="site_nav_under"&gt;&lt;a href="http://www.cnblogs.com/" target="_blank" title="开发者的网上家园"&gt;博客园首页&lt;/a&gt;&lt;a href="http://q.cnblogs.com/" target="_blank" title="程序员问答社区"&gt;博问&lt;/a&gt;&lt;a href="http://news.cnblogs.com/" target="_blank" title="IT新闻"&gt;新闻&lt;/a&gt;&lt;a href="http://home.cnblogs.com/ing/" target="_blank"&gt;闪存&lt;/a&gt;&lt;a href="http://job.cnblogs.com/" target="_blank"&gt;程序员招聘&lt;/a&gt;&lt;a href="http://kb.cnblogs.com/" target="_blank"&gt;知识库&lt;/a&gt;&lt;/div&gt;
&lt;div id="opt_under_post"&gt;&lt;/div&gt;
&lt;script type="text/javascript"&gt;
    var enableGoogleAd = canShowAdsense(); var googletag = googletag || {}; googletag.cmd = googletag.cmd || [];
    fixPostBodyFormat();
&lt;/script&gt;
&lt;div id="ad_under_post_holder"&gt;
&lt;script type='text/javascript'&gt;
    var googletag = googletag || {};
    googletag.cmd = googletag.cmd || [];
    (function () {
        if (enableGoogleAd) {
            var gads = document.createElement('script');
            gads.async = true;
            gads.type = 'text/javascript';
            var useSSL = 'https:' == document.location.protocol;
            gads.src = (useSSL ? 'https:' : 'http:') + '//www.googletagservices.com/tag/js/gpt.js';
            var node = document.getElementsByTagName('script')[0];
            node.parentNode.insertBefore(gads, node);
        }
    })();
&lt;/script&gt;
&lt;script type='text/javascript'&gt;
    try {
        if (enableGoogleAd) {
            googletag.cmd.push(function () {
                googletag.defineSlot('/1090369/cnblogs_blogpost_C1_sitehome', [300, 250], 'div-gpt-ad-1346480159711-0').addService(googletag.pubads());
                googletag.pubads().enableSingleRequest();
                googletag.enableServices();
            });
        };
    } catch (e) { }
&lt;/script&gt;
&lt;div id="google_ad_c1" class="c_ad_block"&gt;
    &lt;div id='div-gpt-ad-1346480159711-0' style='width:300px; height:250px;'&gt;
    &lt;script type='text/javascript'&gt;
        try {
            if (enableGoogleAd) {
                googletag.cmd.push(function () { googletag.display('div-gpt-ad-1346480159711-0'); });            
            } else {
                $('#div-gpt-ad-1346480159711-0').hide();
            }
    } catch (e) { }
    &lt;/script&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;div id="blog_news_kb"&gt;&lt;/div&gt;
&lt;div id="HistoryToday" class="c_ad_block"&gt;&lt;/div&gt;
&lt;script type="text/javascript"&gt;
$(function () {
    loadNewsAndKb();
    loadBlogSignature();
    LoadPostInfoBlock(cb_blogId, cb_entryId, cb_blogApp, cb_blogUserGuid);
    GetPrevNextPost(cb_entryId, cb_blogId, cb_entryCreatedDate);
    loadOptUnderPost();
    GetHistoryToday(cb_blogId, cb_blogApp, cb_entryCreatedDate);
    setTimeout(function () { incrementViewCount(cb_entryId); }, 200);
});
&lt;/script&gt;
&lt;/div&gt;

	
&lt;!--done--&gt;
&lt;div class="footer"&gt;
	
	Copyright &amp;copy;2014 我不会抽烟Oscar Powered by: &lt;a href="http://www.cnblogs.com" class="footerlink"&gt;博客园&lt;/a&gt; 模板提供：&lt;a href="http://blog.hjenglish.com" class="footerlink"&gt;沪江博客&lt;/a&gt;&lt;br&gt;
&lt;/div&gt;
&lt;/div&gt;



&lt;/body&gt;
&lt;/html&gt;
</Html>
	<HtmlMetas i:nil="true" />
	<HtmlTitle i:nil="true" />
	<IsDefault>false</IsDefault>
	<Layout i:nil="true" />
	<Name>-zhouhongyu1989-p-3962046.html</Name>
	<OutputCache i:nil="true" />
	<PageContents xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
	<Plugins xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<Published>false</Published>
	<RequireHttps>false</RequireHttps>
	<Routes>
		<PageRoute>
			<Defaults xmlns:d4p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
			<Identifier>/zhouhongyu1989/p/3962046.html</Identifier>
			<RoutePath i:nil="true" />
		</PageRoute>
	</Routes>
	<Scripts i:nil="true" />
	<Site>
		<AbsoluteName xmlns="Ovaldi.Core.Models">Cnblogs</AbsoluteName>
	</Site>
	<Styles i:nil="true" />
	<UUID>-zhouhongyu1989-p-3962046.html</UUID>
</Page>