<?xml version="1.0" encoding="utf-8"?>
<Page xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Ovaldi.Core.Models">
	<AbsoluteName>-showjan-</AbsoluteName>
	<CustomFields xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<EnableScript>true</EnableScript>
	<EnableTheming>true</EnableTheming>
	<Html>&lt;!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"&gt;
&lt;html xmlns="http://www.w3.org/1999/xhtml" lang="zh-cn"&gt;
&lt;head&gt;
&lt;meta http-equiv="Content-Type" content="text/html; charset=utf-8"&gt;
&lt;title&gt;家住腊树下 - 博客园&lt;/title&gt;
&lt;link type="text/css" rel="stylesheet" href="/preview~Cnblogs/Styles/bundles/blog-common.css"&gt;
&lt;link id="MainCss" type="text/css" rel="stylesheet" href="/preview~Cnblogs/Styles/skins/summerGarden/bundle-summerGarden.css"&gt;
&lt;link title="RSS" type="application/rss+xml" rel="alternate" href="http://www.cnblogs.com/showjan/rss"&gt;
&lt;link title="RSD" type="application/rsd+xml" rel="EditURI" href="http://www.cnblogs.com/showjan/rsd.xml"&gt;
&lt;link type="application/wlwmanifest+xml" rel="wlwmanifest" href="http://www.cnblogs.com/showjan/wlwmanifest.xml"&gt;
&lt;script src="http://common.cnblogs.com/script/jquery.js" type="text/javascript"&gt;&lt;/script&gt;  
&lt;script type="text/javascript"&gt;var currentBlogApp = 'showjan', cb_enable_mathjax=false;&lt;/script&gt;
&lt;script src="/preview~Cnblogs/Scripts/bundles/blog-common.js" type="text/javascript"&gt;&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;a name="top"&gt;&lt;/a&gt;

&lt;!--done--&gt;
&lt;div id="home"&gt;
&lt;div id="header"&gt;
	&lt;div id="blogTitle"&gt;
	&lt;a id="lnkBlogLogo" href="http://www.cnblogs.com/showjan/"&gt;&lt;img id="blogLogo" src="/preview~Cnblogs/Images/Skins/custom/images/logo.gif" alt="返回主页"&gt;&lt;/a&gt;			
		
&lt;!--done--&gt;
&lt;h1&gt;&lt;a id="Header1_HeaderTitle" class="headermaintitle" href="http://www.cnblogs.com/showjan/"&gt;家住腊树下&lt;/a&gt;&lt;/h1&gt;
&lt;h2&gt;&lt;/h2&gt;



		
	&lt;/div&gt;&lt;!--end: blogTitle 博客的标题和副标题 --&gt;
	&lt;div id="navigator"&gt;
		
&lt;ul id="navList"&gt;
	&lt;li&gt;&lt;a id="MyLinks1_HomeLink" class="menu" href="http://www.cnblogs.com/"&gt;博客园&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a id="MyLinks1_MyHomeLink" class="menu" href="http://www.cnblogs.com/showjan/"&gt;首页&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href="http://news.cnblogs.com/"&gt;新闻&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a id="MyLinks1_NewPostLink" class="menu" rel="nofollow" href="http://i.cnblogs.com/EditPosts.aspx?opt=1"&gt;新随笔&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a id="MyLinks1_ContactLink" accesskey="9" class="menu" rel="nofollow" href="http://space.cnblogs.com/msg/send/%e5%ae%b6%e4%bd%8f%e8%85%8a%e6%a0%91%e4%b8%8b"&gt;联系&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a id="MyLinks1_Admin" class="menu" rel="nofollow" href="http://i.cnblogs.com/"&gt;管理&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a id="MyLinks1_Syndication" class="menu" href="http://www.cnblogs.com/showjan/rss"&gt;订阅&lt;/a&gt;
	&lt;a id="MyLinks1_XMLLink" class="aHeaderXML" href="http://www.cnblogs.com/showjan/rss"&gt;&lt;img src="/preview~Cnblogs/Images/images/xml.gif" alt="订阅"&gt;&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;


		&lt;div class="blogStats"&gt;
			
			
&lt;!--done--&gt;
随笔- 19&amp;nbsp;
文章- 0&amp;nbsp;
评论- 140&amp;nbsp;

			
		&lt;/div&gt;&lt;!--end: blogStats --&gt;
	&lt;/div&gt;&lt;!--end: navigator 博客导航栏 --&gt;
&lt;/div&gt;&lt;!--end: header 头部 --&gt;

&lt;div id="main"&gt;
	&lt;div id="mainContent"&gt;
	&lt;div class="forFlow"&gt;
		

&lt;!--done--&gt;


&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl00_ImageLink" title="Day link" href="http://www.cnblogs.com/showjan/archive/2014/09/02.html"&gt;2014年9月2日&lt;/a&gt;				  
	&lt;/div&gt;

	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl00_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/showjan/p/3950989.html"&gt;【调侃】IOC前世今生&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="postlist-postbody_loading" id="postlist_postbody_3950989"&gt;正文内容加载中...&lt;/div&gt;&lt;script type="text/javascript"&gt;getBlogPostBody(3950989);&lt;/script&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-09-02 11:34 家住腊树下 阅读(6624) 评论(97)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3950989" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;


&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl01_ImageLink" title="Day link" href="http://www.cnblogs.com/showjan/archive/2013/08/21.html"&gt;2013年8月21日&lt;/a&gt;				  
	&lt;/div&gt;

	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl01_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/showjan/p/3272588.html"&gt;向Java技术进军&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: 前两天有个朋友要我帮忙写个打印机服务，要求能应用在.net 、Dephi、和java程序上面。看了下需求不难也就串口操作，所以就在周未写了个Win32的动态库，对于一个曾经写MFC程序的.net程序员，这不算难事。然而当我想写个java的Demo调用时，却久久无法下手。虽说又前对java语言、又及java的一些思想和框架有所跟进和了解，但真要自己写点东西时却“提笔忘字”。 今天上午闲来无事，痛定思痛，决定从头系统学习java技术，作一个以.net技术为主，java为辅的技术路线，让自己的生活重新忙碌起来。（注：由于13年的目标主要是提高英语水平，所以上半年并没有对技术方面进行规划，今日恍悟..&lt;a href="http://www.cnblogs.com/showjan/p/3272588.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2013-08-21 14:31 家住腊树下 阅读(140) 评论(0)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3272588" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;


&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl02_ImageLink" title="Day link" href="http://www.cnblogs.com/showjan/archive/2013/04/10.html"&gt;2013年4月10日&lt;/a&gt;				  
	&lt;/div&gt;

	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl02_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/showjan/archive/2013/04/10/3012334.html"&gt;Beginning WF4读书笔计 － 第三章 02FlowSwitch和Parallel&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: FlowSwitch 其实“FlowSwitch”活动与“FlowDecision”活动类似，只不过“FlowSwitch”可以有不受限制的分支个数，而“FlowDecision”只有“True/False”两个分支。功能与C#中的“switch”关键字有类似的功能。 在设计器中“FlowSwitch”活动形状如下：添加“FlowSwitch”活动 首先在工作流设计器的最底部拖入一个“FlowSwitch”活动。由于在工具箱中，“FlowSwitch”活动是基于泛形的，所以在拖入时会弹出一个类型选择对话框。在本例中我们是对整型进行操作，所以只需要选择“Int32”即可。接下来分别从“Mo...&lt;a href="http://www.cnblogs.com/showjan/archive/2013/04/10/3012334.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2013-04-10 14:41 家住腊树下 阅读(92) 评论(0)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3012334" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;


&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl03_ImageLink" title="Day link" href="http://www.cnblogs.com/showjan/archive/2013/04/09.html"&gt;2013年4月9日&lt;/a&gt;				  
	&lt;/div&gt;

	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl03_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/showjan/archive/2013/04/09/3010432.html"&gt;Beginning WF4读书笔计 － 第三章 01“Flowchart”工作流&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: 在本章中，我们将创建基于“Flowchart”活动的工作流。其实通过名称我们可以猜到“Flowchart”活动与我们平常所说的流程图类似；这些活动都是通过判断条件来相互连接的。 使用“Sequence”活动时，所有的子活动都是由上到下顺序执行的，但是基于“Flowchart”的活动，其子活动则可以按其分支条件进行的，可以任意顺序执行。创建“Flowchart”工作流 创建一个控制台的工作流解决方案，如下：设计“Flowchart” 从工具箱中拖一个“Flowchart”活动到工作流窗体上（是那个叫Workflow1.maml双击后的视图）。这时工作流的“Start”节点就会出在在视图...&lt;a href="http://www.cnblogs.com/showjan/archive/2013/04/09/3010432.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2013-04-09 16:51 家住腊树下 阅读(104) 评论(0)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3010432" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
			&lt;div class="postSeparator"&gt;&lt;/div&gt;
		
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl03_DayList_TitleUrl_1" class="postTitle2" href="http://www.cnblogs.com/showjan/archive/2013/04/09/3008338.html"&gt;Beginning WF4读书笔计 － 第二章 基于后台代码的工作流&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: 在上一章中，我们通过工作流引擎设计器成功的实现了一个简单的工作流示例。接下来我们将采用后台代码的方式来实现同样的一个流程。控制台程序 首先创建一个控制台程序 添加对“Systm.Activties”的引用（注：这个库在进行工作流开发时必须引用的） 同时更改Program.cs中的命名空间如下：using System;using System.Activities;using System.Activities.Statements;using System.Activities.Expressions; 并在main()函数中添加如下代码：WorkflowInvoker.Invo...&lt;a href="http://www.cnblogs.com/showjan/archive/2013/04/09/3008338.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2013-04-09 10:06 家住腊树下 阅读(128) 评论(0)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3008338" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;


&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl04_ImageLink" title="Day link" href="http://www.cnblogs.com/showjan/archive/2013/04/03.html"&gt;2013年4月3日&lt;/a&gt;				  
	&lt;/div&gt;

	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl04_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/showjan/archive/2013/04/03/2997825.html"&gt;Beginning WF4读书笔计 － 第一章 03设计示图及xaml代码&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: 通过《Beginning WF4读书笔计 － 第一章 01创建一个简单的工作流》和《Beginning WF4读书笔计 － 第一章 02添加程序元素》的介绍后，本示例基本完成。我们可以看到其总体设计示图如下(图1-20)同时，我们也可以通过选中“Workflow1.xaml”右键，“查看源码”来查看这些工作流所对应的XAML代码。(图1-21)此时，哪果设计器处在打开状态时，会提示一个警告：(图1-22)点击“是（Y）”，便可查看源码，以下示图为部分截取。(图1-23)（注：XAML语法可参考其它相关资料）原著中有与WF老版本的比较和说明，此处不作论述。（第一章完）源代码：VS2010+.ne&lt;a href="http://www.cnblogs.com/showjan/archive/2013/04/03/2997825.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2013-04-03 14:12 家住腊树下 阅读(93) 评论(0)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=2997825" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
			&lt;div class="postSeparator"&gt;&lt;/div&gt;
		
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl04_DayList_TitleUrl_1" class="postTitle2" href="http://www.cnblogs.com/showjan/archive/2013/04/03/2997471.html"&gt;Beginning WF4读书笔计 － 第一章 02添加程序元素&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: 在WF4.0中提供了一系列如“If”、“Whiel”、“Assign”和“Sequence”等程序要素，（注：这些要素与我们在C#语言中的关键字is, while,=,List类似），为了说明这些要素是如何工作的，我们会设计一个“祝福”程序，类似老式的“座钟”报时一样，发出“铛”的声响。 首先，让我们的解决方案中打开“Workflow1.asmx”文件。使用变量 在WF4.0中但凡要使用到的变量，都必须事先定义（预定义）。在本例中我们将定义两个变量，为别为标示需要发声的次数“numberBells”和记录已经响过次数的“counter”。 首先，选中主活动“Sequence”，点击左...&lt;a href="http://www.cnblogs.com/showjan/archive/2013/04/03/2997471.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2013-04-03 11:00 家住腊树下 阅读(100) 评论(1)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=2997471" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;


&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl05_ImageLink" title="Day link" href="http://www.cnblogs.com/showjan/archive/2013/04/02.html"&gt;2013年4月2日&lt;/a&gt;				  
	&lt;/div&gt;

	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl05_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/showjan/archive/2013/04/02/2996344.html"&gt;李广之死――浅析项目管理&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: 我所在的公司，研发系统效率较低，据非官方信息得知2012年研发项目完成率仅为51%，剩下的49%有这样或那样的、合理的不合理的原因，总之就是没完成！我们研发副总礼贤下士，对大家苦口婆心，就是希望各位项目经理能够按时、按质地把项目做完做好！有这样的领导，我们又有何面目不去努力呢？思前想后，我想起了一件事――“李广之死”。 “但使龙城飞将在，不教胡马度阴山”中的飞将军李广、西汉名将，但名将归名将终究是非正常死亡，就像“富士康”的某几个员工一样。我很惋惜李不是一个程序员，要不然就不会是这样的结局，也许李家也不会有那样的遭遇。理由很简单，程序员要么“累趴下”要么“受不了，跳槽”，很少其它！虽说李...&lt;a href="http://www.cnblogs.com/showjan/archive/2013/04/02/2996344.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2013-04-02 19:57 家住腊树下 阅读(1971) 评论(15)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=2996344" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;


&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl06_ImageLink" title="Day link" href="http://www.cnblogs.com/showjan/archive/2013/04/01.html"&gt;2013年4月1日&lt;/a&gt;				  
	&lt;/div&gt;

	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl06_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/showjan/archive/2013/04/01/2993941.html"&gt;Beginning WF4读书笔计 － 第一章 01创建一个简单的工作流&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: 在我们创建一个简单的工作流示例之前，让我们打开VS2010，通过“文件.新建.项目”后进行如图1-1所示，并选中“Workflow”节点，这里我们会发现其中有4个模板。 同时在“名称”栏中输入：Chapter01，并选择“工作流控制台应用程序”模板后，点确定。（图1-1）WF之“Hello World!” 这时模板将自动生成一个具有简单工作流功能的框架，通过VS2010 IDE我们可以看到如下图所示。（图1-2） 我们可以简单的把开发平台分为3个工作区域：1为工作流流程设计区；2为变量和参数的设计区；3为工作流工具箱。 其中，区域2可以通过多次点击“变量”、“参数”或“导入”进行开启和...&lt;a href="http://www.cnblogs.com/showjan/archive/2013/04/01/2993941.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2013-04-01 17:29 家住腊树下 阅读(135) 评论(0)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=2993941" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
			&lt;div class="postSeparator"&gt;&lt;/div&gt;
		
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl06_DayList_TitleUrl_1" class="postTitle2" href="http://www.cnblogs.com/showjan/archive/2013/04/01/2993896.html"&gt;《Beginning WF : Windows Workflow in .NET 4.0》读书笔记&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: 由于近期要做一个与工作流相关的项目，所以有必要选择一个工作流引擎。其实在公司多年前有人做过自个的工作流引擎，但终因立意不高、且又怎么不好用，而未得到推广。 考虑再三，决定还是跟着微软走的技术策略，选择了WF4.0。后面的章节是我对《Beginning WF : Windows Workflow in .NET 4.0》的读书笔记。由于原书是英文版，且项目组内有些人看影印版的书就头痛，所以就简单的译过来吧。 所谓的“简单的译”也就是与原文大意相近，而非严格意义上的翻译。再因是笔记，在叙述中可能会加入一点本人的“个人观点”。 再者，原代码中的所有英文全部保留，但注解可能会引入中文，还有我...&lt;a href="http://www.cnblogs.com/showjan/archive/2013/04/01/2993896.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2013-04-01 17:17 家住腊树下 阅读(205) 评论(0)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=2993896" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;

&lt;div class="topicListFooter"&gt;&lt;a href="http://www.cnblogs.com/showjan/default.html?OnlyTitle=1"&gt;仅列出标题&lt;/a&gt;&amp;nbsp;&amp;nbsp;&lt;a href="http://www.cnblogs.com/showjan/default.html?page=2"&gt;下一页&lt;/a&gt;&lt;/div&gt;


	&lt;/div&gt;&lt;!--end: forFlow --&gt;
	&lt;/div&gt;&lt;!--end: mainContent 主体内容容器--&gt;

	&lt;div id="sideBar"&gt;
		&lt;div id="sideBarMain"&gt;
			
&lt;!--done--&gt;
&lt;div class="newsItem"&gt;
&lt;h3 class="catListTitle"&gt;公告&lt;/h3&gt;
	&lt;div id="blog-news"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;loadBlogNews();&lt;/script&gt;
&lt;/div&gt;

			&lt;div id="calendar"&gt;&lt;div id="blog-calendar" style="display:none"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;loadBlogDefaultCalendar();&lt;/script&gt;&lt;/div&gt;
			
			&lt;div id="leftcontentcontainer"&gt;
				&lt;div id="blog-sidecolumn"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;loadBlogSideColumn();&lt;/script&gt;
			&lt;/div&gt;
			
		&lt;/div&gt;&lt;!--end: sideBarMain --&gt;
	&lt;/div&gt;&lt;!--end: sideBar 侧边栏容器 --&gt;
	&lt;div class="clear"&gt;&lt;/div&gt;
	&lt;/div&gt;&lt;!--end: main --&gt;
	&lt;div class="clear"&gt;&lt;/div&gt;
	&lt;div id="footer"&gt;
		
&lt;!--done--&gt;
Copyright &amp;copy;2014 家住腊树下
	&lt;/div&gt;&lt;!--end: footer --&gt;
&lt;/div&gt;&lt;!--end: home 自定义的最大容器 --&gt;
&lt;/body&gt;
&lt;/html&gt;
</Html>
	<HtmlMetas i:nil="true" />
	<HtmlTitle i:nil="true" />
	<IsDefault>false</IsDefault>
	<Layout i:nil="true" />
	<Name>-showjan-</Name>
	<OutputCache i:nil="true" />
	<PageContents xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
	<Plugins xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<Published>false</Published>
	<RequireHttps>false</RequireHttps>
	<Routes>
		<PageRoute>
			<Defaults xmlns:d4p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
			<Identifier>/showjan/</Identifier>
			<RoutePath i:nil="true" />
		</PageRoute>
	</Routes>
	<Scripts i:nil="true" />
	<Site>
		<AbsoluteName xmlns="Ovaldi.Core.Models">Cnblogs</AbsoluteName>
	</Site>
	<Styles i:nil="true" />
	<UUID>-showjan-</UUID>
</Page>