<?xml version="1.0" encoding="utf-8"?>
<Page xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Ovaldi.Core.Models">
	<AbsoluteName>-xuybin-p-3966022.html</AbsoluteName>
	<CustomFields xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<EnableScript>true</EnableScript>
	<EnableTheming>true</EnableTheming>
	<Html>&lt;!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"&gt;
&lt;html xmlns="http://www.w3.org/1999/xhtml" lang="zh-cn"&gt;
&lt;head&gt;
&lt;meta http-equiv="Content-Type" content="text/html; charset=utf-8"&gt;
&lt;title&gt;大数据的未来--个人信息/情报/认知服务的思考 - xuybin - 博客园&lt;/title&gt;
&lt;link type="text/css" rel="stylesheet" href="/preview~Cnblogs/Styles/bundles/blog-common.css"&gt;
&lt;link id="MainCss" type="text/css" rel="stylesheet" href="/preview~Cnblogs/Styles/skins/LessIsMore/bundle-LessIsMore.css"&gt;
&lt;link title="RSS" type="application/rss+xml" rel="alternate" href="http://www.cnblogs.com/xuybin/rss"&gt;
&lt;link title="RSD" type="application/rsd+xml" rel="EditURI" href="http://www.cnblogs.com/xuybin/rsd.xml"&gt;
&lt;link type="application/wlwmanifest+xml" rel="wlwmanifest" href="http://www.cnblogs.com/xuybin/wlwmanifest.xml"&gt;
&lt;script src="http://common.cnblogs.com/script/jquery.js" type="text/javascript"&gt;&lt;/script&gt;  
&lt;script type="text/javascript"&gt;var currentBlogApp = 'xuybin', cb_enable_mathjax=false;&lt;/script&gt;
&lt;script src="/preview~Cnblogs/Scripts/bundles/blog-common.js" type="text/javascript"&gt;&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;a name="top"&gt;&lt;/a&gt;

&lt;div id="home"&gt;
&lt;div id="header"&gt;
	&lt;div id="blogTitle"&gt;
		
&lt;!--done--&gt;
&lt;div class="title"&gt;&lt;a id="Header1_HeaderTitle" class="headermaintitle" href="http://www.cnblogs.com/xuybin/"&gt;xuybin's blog.&lt;/a&gt;&lt;/div&gt;
&lt;div class="subtitle"&gt;&lt;/div&gt;



		
	&lt;/div&gt;&lt;!--end: blogTitle 博客的标题和副标题 --&gt;
	&lt;div id="navigator"&gt;
		
&lt;ul id="navList"&gt;
&lt;li id="nav_sitehome"&gt;&lt;/li&gt;
&lt;li id="nav_myhome"&gt;&lt;a id="MyLinks1_MyHomeLink" class="menu" href="http://www.cnblogs.com/xuybin/"&gt;首页&lt;/a&gt;&lt;/li&gt;
&lt;li id="nav_q"&gt;&lt;a class="menu" href="http://q.cnblogs.com/"&gt;博问&lt;/a&gt;&lt;/li&gt;
&lt;li id="nav_ing"&gt;&lt;a class="menu" href="http://home.cnblogs.com/ing/"&gt;闪存&lt;/a&gt;&lt;/li&gt;
&lt;li id="nav_newpost"&gt;&lt;a id="MyLinks1_NewPostLink" class="menu" rel="nofollow" href="http://i.cnblogs.com/EditPosts.aspx?opt=1"&gt;新随笔&lt;/a&gt;&lt;/li&gt;
&lt;li id="nav_contact"&gt;&lt;a id="MyLinks1_ContactLink" class="menu" rel="nofollow" href="http://space.cnblogs.com/msg/send/xuybin"&gt;联系&lt;/a&gt;&lt;/li&gt;
&lt;li id="nav_rss"&gt;&lt;a id="MyLinks1_Syndication" class="menu" href="http://www.cnblogs.com/xuybin/rss"&gt;订阅&lt;/a&gt;
&lt;!--&lt;a id="MyLinks1_XMLLink" class="aHeaderXML" href="http://www.cnblogs.com/xuybin/rss"&gt;&lt;img src="http://www.cnblogs.com/images/xml.gif" alt="订阅" /&gt;&lt;/a&gt;--&gt;&lt;/li&gt;
&lt;li id="nav_admin"&gt;&lt;a id="MyLinks1_Admin" class="menu" rel="nofollow" href="http://i.cnblogs.com/"&gt;管理&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;

		&lt;div class="blogStats"&gt;
			
			
&lt;!--done--&gt;
随笔-21&amp;nbsp;
文章-0&amp;nbsp;
评论-7&amp;nbsp;

			
		&lt;/div&gt;&lt;!--end: blogStats --&gt;
	&lt;/div&gt;&lt;!--end: navigator 博客导航栏 --&gt;
&lt;/div&gt;&lt;!--end: header 头部 --&gt;
&lt;div id="main"&gt;
	&lt;div id="mainContent"&gt;
	&lt;div class="forFlow"&gt;
		

&lt;!--done--&gt;
&lt;div id="topics"&gt;
	&lt;div class="post"&gt;
		&lt;h1 class="postTitle"&gt;
			&lt;a id="cb_post_title_url" class="postTitle2" href="http://www.cnblogs.com/xuybin/p/3966022.html"&gt;大数据的未来--个人信息/情报/认知服务的思考&lt;/a&gt;
		&lt;/h1&gt;
		&lt;div class="clear"&gt;&lt;/div&gt;
		&lt;div class="postBody"&gt;
			&lt;div id="cnblogs_post_body"&gt;&lt;p&gt;1.未来大数据的一切都都关于人&lt;/p&gt;
&lt;p&gt;　　...不论述&lt;/p&gt;
&lt;p&gt;2.大数据收集困难和高风险&lt;/p&gt;
&lt;p&gt;现在的大数据的来源，都是通过自有平台收集用户数据的，对于没有平台的企业很难有机制和渠道获取稳定的数据来源，&lt;/p&gt;
&lt;p&gt;有说通过法律和制度来，规范关于人的大数据使用，在这之前，唯一可行的方向是，把用户大数据使用，做成服务的必选功能，要使用服务，必须接受隐私风险。&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;p&gt;3.对大数据的利用方式&lt;/p&gt;
&lt;p&gt;现在的大数据&amp;nbsp;都是由各种数据聚合出一类关于人的结论&amp;nbsp;然后拿给企业使用&lt;br&gt;我想大数据应用还有另一类&lt;br&gt;利用网上的大数据，告诉某类人、甚至某个人，世界发生着什么，未来要发生什么&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;p&gt;4.科幻大片&lt;/p&gt;
&lt;p&gt;如果从网上下载一个专属的虚拟人物(虚拟机器人/虚拟助理/终生人工智能伴侣）到手机&lt;br&gt;刚开始这个角色需要你教导（配置，类似早期的语音识别控制的学习阶段）才能帮你在互联网上你做一些简单的事情，&lt;br&gt;随着你教导的更多更好（对你的习惯，兴趣爱好，思维模式，接收度等信息的收集）&amp;nbsp;和基于大数据的挖掘和分析能力的增加，它的智力越来越高，能做一些更复杂的任务（作为入口，代表你在互联网活动），&lt;br&gt;直到很多年后，它的智力超过你，它能告诉你，世界发生着什么，未来要发生什么，它了解你的年龄，了解的行为习惯，了解你的经济能力，了解你缺点，时刻为你服务，扩展你的人生，使你的人生不局限于经验（网上有），思维（网上有），能更好的生活下去（帮你发现机会）。&lt;/p&gt;
&lt;p&gt;&amp;nbsp;类似的东西，后来才发现微软小冰二代已经在着手做了，可能愿景和目的不一样，但轮廓有了。&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;p&gt;5.认知需求&lt;/p&gt;
&lt;p&gt;我们成长的时候，家长常常说&amp;ldquo;你懂点事吧&amp;rdquo;，但如何&amp;ldquo;懂事&amp;rdquo;没有人能教给我们，也没有告诉我们如何去做（去阅读书籍，去体验生活，经历人生）；&lt;/p&gt;
&lt;p&gt;我们毕业了，工作了，在社会上依然遇到，&amp;ldquo;各种成功学大师&amp;rdquo;，&amp;ldquo;各种领域专家&amp;rdquo;，&amp;ldquo;各种百家讲坛老师&amp;rdquo;，&amp;ldquo;各种转世神棍&amp;rdquo;，大行其道；&lt;/p&gt;
&lt;p&gt;这一切都是因为，人有认知的需求。&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;p&gt;6.认知培训&lt;/p&gt;
&lt;p&gt;基于这个需求，&amp;ldquo;认知服务&amp;rdquo;即使做不到自动，就算做人工服务，也能在现在的教育市场（学校，兴趣培训，英语培训，等技能培训）杀出一条出路&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;p&gt;7.认知模式与三分的认知世界&lt;/p&gt;
&lt;p&gt;莱考夫(George Lakoff)在 [女人、火和危险的事物]（[Women fire and dangerous things]）一书中，&lt;br&gt;认为理念化的认知模式（idealized cognitive models 简称ICMs）是结构复杂的感知整体，是对世界的整体表征，它的价值在于对输入信息进行重组。ICMs并不客观存在的，而是人类实践和经验的高度概括和总结，并且可以为以后的实践提供参考。根据lakoff的论述，IMCs有四种：命题模式，意向图式模式，隐喻模式和转喻模式，它们的关系如下：&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;img src="http://images.cnitblog.com/blog/59359/201409/111153091993695.jpg" alt=""&gt;&lt;/p&gt;
&lt;p&gt;&amp;nbsp;命题模式是出发点和归宿，意象图式模式是基础，转喻模式和隐喻模式是建立在命题模式和意象图式模式上的认知事物的过程和方式，并且二者相互作用。&lt;/p&gt;
&lt;p&gt;&amp;nbsp;任一认知主体的认知世界整体可以划分为三个部分：&amp;ldquo;信念世界&amp;rdquo;、&amp;ldquo;怀疑世界&amp;rdquo;和&amp;ldquo;无知世界&amp;rdquo;。我们用Wb表示信念世界，Wd表示怀疑世界，Wu表示无知世界。Wb、Wd、Wu是三个命题集合，他们的元素是相应的认知命题。简单地说，信念世界是由认知主体相信的命题构成，这些命题构成认知主体的信念；怀疑世界里的所有命题是认知世界说怀疑的，认知主体认为这些命题是&amp;ldquo;假的&amp;rdquo;或&amp;ldquo;不可能的&amp;rdquo;，这些命题可称为&amp;ldquo;疑点&amp;rdquo;；认知主体从来没有&amp;ldquo;考虑&amp;rdquo;过的命题构成无知世界的内容，这些命题（以及它们的负命题）或者仍没有进入认知主体的视野之中，或者虽然进入了认知主体的视野之中但认知主体不知道其意义，此时，认知主体对之既不相信又不怀疑，这些命题可称之为&amp;ldquo;盲点&amp;rdquo;。&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;p&gt;8.认知互联网世界进而认知现实世界&lt;/p&gt;
&lt;p&gt;互联网世界一直是现实世界的映射，越来越多的现实世界事物在互联网世界建立了数字化的映射,大数据的未来，就是通过这些大数据分析现实世界发生了什么，未来要发生什么，有可能到那时，数据获取能力的不平等将取代资本，脑力，智慧的不平等。&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;p&gt;9.包装的产品---认知的世界+个性数据=具有类似主人人格的终生人工智能伴侣&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;p&gt;10.通过逻辑推理认知世界--亚里士多德的三段论&lt;/p&gt;
&lt;p&gt;亚里士多德给出的经典的&amp;ldquo;Barbara&amp;rdquo;三段论：&lt;/p&gt;
&lt;p&gt;如果所有人（M）都是必死的（P），（大前提）&lt;br&gt;并且所有希腊人（S）都是人（M），（小前提）&lt;br&gt;那么所有希腊人（S）都是必死的（P）。（结论）&lt;br&gt;如，&lt;/p&gt;
&lt;p&gt;所有人都是必死的。（普遍原理）&lt;br&gt;苏格拉底是人。（特殊陈述）&lt;br&gt;苏格拉底是必死的。[把特殊（小）代换入一般（大）]&lt;br&gt;又如，&lt;/p&gt;
&lt;p&gt;法律规定这种行为要负法律责任，&lt;/p&gt;
&lt;p&gt;他/她做出了法律规定的这种行为&lt;/p&gt;
&lt;p&gt;他/她要负这个法律责任&amp;rdquo;&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;p&gt;从上面可看出，三段论由三个部分组成：大前提、小前提和结论，它在逻辑上是从大前提和小前提得出来的。大前提是一般性的原则。小前提是一个特殊陈述。在逻辑上，结论是从应用大前提于小前提之上得到的。&lt;/p&gt;
&lt;p&gt;与之相对的是隐喻，&lt;br&gt;草（P）会死（M）.&lt;br&gt;人（S）会死（M）.&lt;br&gt;人（S）是草（P）.&lt;br&gt;这是另一种形式的三段论，是逻辑谬论：这种形式的三段论是逻辑上无效的，但即使是这种逻辑上无效推理，也是人工智慧的表现。&lt;/p&gt;
&lt;p&gt;要取得认知互联网世界的能力，可以从哲学获得理论支持，例如从&amp;ldquo;三段论&amp;rdquo;和&amp;ldquo;三分的认知世界&amp;rdquo;，&lt;/p&gt;
&lt;p&gt;我们利用有限个的&amp;rdquo;大前提集合[命题集合]&amp;ldquo;组成&amp;rdquo;初始的信念世界&amp;ldquo;，大前提，小前提，对应[意象图式模式] 逻辑推导是&amp;ldquo;命题模式&amp;rdquo;，最终的结果是&amp;ldquo;命题被认为是真的，继而加入&amp;ldquo;信念世界&amp;rdquo;。&lt;/p&gt;
&lt;p&gt;利用隐喻[信念世界中存在的命题集合+新的命题]，推导出&amp;ldquo;怀疑世界&amp;rdquo;，那么剩下的就是&amp;ldquo;无知世界&amp;rdquo;，对于这个世界，随着现实世界的数字化程度越来越高，互联网世界对现实世界的映射会越来越完整，&amp;ldquo;无知世界&amp;rdquo;会越来越小。&lt;/p&gt;
&lt;p&gt;比如，&lt;/p&gt;
&lt;p&gt;水果是可以吃的[&amp;nbsp;信念世界存在的命题]&lt;/p&gt;
&lt;p&gt;苹果是水果[ 信念世界存在的命题]&lt;/p&gt;
&lt;p&gt;苹果是可以吃的[要认知的命题]-&amp;gt;[加入信念世界]&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;p&gt;苹果是可以吃的[信念世界存在的命题]&lt;/p&gt;
&lt;p&gt;苹果是红色的[信念世界存在的命题]&lt;/p&gt;
&lt;p&gt;西红柿是红色的[隐喻]&lt;/p&gt;
&lt;p&gt;西红柿是可以吃的[要认知的命题]-&amp;gt;[加入怀疑世界]&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;p&gt;11.需要什么机制和技术&lt;/p&gt;
&lt;p&gt;不需要建立自有资料库，只需要有结论和认知过程&lt;/p&gt;
&lt;p&gt;需要有情报收集的能力（与各个情报来源建立通道，能识别相同情报）&lt;/p&gt;
&lt;p&gt;需要有对情报的认知能力（归类，推到，三个世界的命题集合）&lt;/p&gt;
&lt;p&gt;xuybin：标题很大，内容不成体系，纯属思考笔记，若转载注明出处&lt;a id="Editor_Edit_hlEntryLink" title="view: 大数据的未来--个人信息/情报/认知服务的思考" href="http://www.cnblogs.com/xuybin/p/3966022.html" target="_blank"&gt;http://www.cnblogs.com/xuybin/p/3966022.html&lt;/a&gt;&amp;nbsp;&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;p&gt;12.云计算+大数据+数据挖掘+认知能力+学习机制&lt;/p&gt;
&lt;p&gt;需要多久才能成长出为1个2~3岁儿童的智能，它的极限是那？&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;p&gt;13.分词--词性标注--语言理解--信念世界--逻辑推理--怀疑世界--互联网学习回馈确认机制-大数据级别的认知世界（人类记忆）--认知能力&lt;/p&gt;
&lt;p&gt;只要求认知水果这类事物，甚至是 水果中的苹果这个事物，需要多久，多深的技术，多大的投入？&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;p&gt;14.与搜索引擎技术的区别&lt;/p&gt;
&lt;p&gt;搜索引擎的目的是进行相关度排序，面对的是一个整体的互联网数据；认知服务通过互联网对现实世界进行认知，被认知的对象本身就是可以分类的，且数量是有限的。可以说从出发点上，认知服务比搜索站在更高一个层次。&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;p&gt;15.与百度大脑、谷歌大脑、等人工智能的区别&lt;/p&gt;
&lt;p&gt;传统的人工智能是，通过&amp;ldquo;神经网络&amp;rdquo;，&amp;ldquo;机器学习&amp;rdquo; &amp;ldquo;深度学习&amp;rdquo;等技术和理论，实现 像人类大脑一样思考,像人类大脑一样学习。&lt;/p&gt;
&lt;p&gt;目标是，从源头、原理、数学理论上突破，取得彻底的普遍的人工智能大脑，在实施的过程中不断把新的发现，新的方法应用于它们现有的产品中去，提前为人类服务（但也许会像语音识别技术一样走入 语义识别这样的歧途）。&lt;/p&gt;
&lt;p&gt;&amp;nbsp;认知服务的目标是，收集互联网的信息，通过认知后，得出现实世界发生的什么（首先要解决这个世界是什么样的？），认知的过程是手段，&lt;/p&gt;
&lt;p&gt;在当前 人工智能发展不成熟的阶段，该手段可以不完美，认知出的结果，可以是不正确的，偏执的，神经质的，甚至是反人类的，只要有一套认知机制&lt;/p&gt;
&lt;p&gt;结合包装的产品（游戏、娱乐），现阶段还是有市场的（看看微软小冰的轰动和反响），产品占领市场后，可以慢慢的改进认知手段。&lt;/p&gt;
&lt;p&gt;&amp;nbsp;补充：引用19节的观点&amp;ldquo;技术的有效性要比科学的完整性更重要&amp;rdquo;&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;p&gt;16.认知服务的价值--技术价值，个人/社会价值，商业/产品价值&lt;/p&gt;
&lt;p&gt;了解技术深度，广度，积累技术壁垒，程序化 认知模式，和认知过程&lt;/p&gt;
&lt;p&gt;扩展个人的生活领域，&amp;ldquo;无知世界&amp;rdquo;缩小，程序化 认知模式，和认知过程中，提高自己的认知水平&lt;/p&gt;
&lt;p&gt;核心技术，跨界，适合任意包装产品，作为终生人工伴侣，和人的关系密切，可以形成收集个人数据并利用的闭环。&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;p&gt;&lt;em&gt;2014-9-12更新&lt;/em&gt;&lt;/p&gt;
&lt;p&gt;17.虚拟客服产品--低层次的分词，分类知识库[特定领域和行业]&lt;/p&gt;
&lt;p&gt;我今天看到一个厂家做的东西，他们已经做了10年，还是在底层打转，申请了一些专利，但应用也只做到&amp;nbsp;虚拟客服这个阶段，&lt;/p&gt;
&lt;p&gt;它的名字叫做&amp;ldquo;小i机器人&amp;rdquo;，它的解决方案、产品服务，&lt;br&gt;可以认为是具有认知服务的壳，做的是传统知识库问答的事，貌似存活得很好，而且获得了以下6个专利：&lt;/p&gt;
&lt;p&gt;一种实现网页自动客户服务的方法和装置&lt;br&gt;一种对分享信息进行相应操作的方法、装置和设备&lt;br&gt;一种用于进行语音识别的方法、装置和设备&lt;br&gt;一种基于人工智能的知识问答快速处理系统&lt;br&gt;一种客服系统及客服信息推送方法&lt;br&gt;一种实现自动应答的系统及方法&lt;/p&gt;
&lt;p&gt;其中第三个专利，2013年被苹果申诉无效[因为Sir,不过该专利真心没有价值，只是把语音识别的一般过程+后端知识数据库结合一下就是一个专利，这还有活路吗]，但没有成功，2014年苹果把专利局和该公司一起告上法院，一审宣判败诉，现在等待二审。&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;p&gt;&lt;em&gt;2014-9-15更新&lt;/em&gt;&lt;/p&gt;
&lt;p&gt;18.未来的操作系统--智能和个性化的裸机平台&lt;/p&gt;
&lt;p&gt;百度百科上关于&amp;ldquo;操作系统&amp;rdquo;的解释&lt;/p&gt;
&lt;p&gt;&lt;em&gt;操作系统（英语：Operating System，简称OS）是管理和控制计算机硬件与软件资源的计算机程序，是直接运行在&amp;ldquo;裸机&amp;rdquo;上的最基本的系统软件，任何其他软件都必须在操作系统的支持下才能运行&lt;/em&gt;&lt;/p&gt;
&lt;p&gt;未来操作系统可能不再是一个呆傻、被动的运行媒介（除了自身更新），&lt;/p&gt;
&lt;p&gt;可能是一个集成 全天候待命（无关机动作，即时唤醒）、自主决策（自动更新，发起和管理任务，硬件故障诊断）、智能交互（语音,图像、传感器交互）、认知服务一系列功能的集合体，直到有一天&amp;ldquo;电脑&amp;rdquo;媲美&amp;ldquo;人脑&amp;rdquo;时，就不需要操作系统了，只需要&amp;ldquo;终生智能人工伴侣&amp;rdquo;。&lt;/p&gt;
&lt;p&gt;在这2个阶段，你都不需要知道 硬盘，CPU、内存这些概念，你面对的就是一个能够为你提供服务的虚拟角色，有一天基于ta在网上获取的最新认知[ta的组成硬件过时了]，和你自身的经济条件或预算，ta建议你升级硬件或者ta直接在电商下单，要求工作人员上门来进行更换服务。&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;p&gt;这一切很遥远，我也没法验证，但如果是这样的话，那么&amp;ldquo;让计算机认知互联网世界，进而理解人的世界，更具人性化，个性化&amp;rdquo;是变革的第一步。&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;p&gt;19.大数据时代的认知计算--中国工程院院士李德毅&lt;/p&gt;
&lt;p&gt;今天发现一篇2013年11月的文章，原来&amp;ldquo;科学家&amp;rdquo;早就看到了该问题，也许有企业正在做。&lt;/p&gt;
&lt;p&gt;感概，这个时代，那个行业那个领域都饱和了，更别提一个想法（曾经被千万个人想到过）了，重要的是做，去做你没有做过的，别人没有做好的。&lt;/p&gt;
&lt;p&gt;有时候，就当看看热闹，看得懂，也不错。&lt;/p&gt;
&lt;p&gt;http://www.csdn.net/article/2013-11-13/2817475-MDCC-Big-Data-Cognitive-Computing&lt;/p&gt;
&lt;p&gt;这篇文章很长，自己总结以下几点：&lt;/p&gt;
&lt;p&gt;认知可不可以计算？这是个严肃的问题，科学界争论了几十年，作者认为，是可以的，至少部分可以。&lt;/p&gt;
&lt;p&gt;科学是技术的先导，这句话不再是绝对的，随着IT技术的发展，技术也可以成为科学的先导，认知科学的发展还得靠认知计算。&lt;/p&gt;
&lt;p&gt;大数据时代，技术的有效性要比科学的完整性更重要，人为本的认知物联网的时代已经到来。&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;/div&gt;&lt;div id="MySignature"&gt;&lt;/div&gt;
&lt;div class="clear"&gt;&lt;/div&gt;
&lt;div id="blog_post_info_block"&gt;
&lt;div id="BlogPostCategory"&gt;&lt;/div&gt;
&lt;div id="EntryTag"&gt;&lt;/div&gt;
&lt;div id="blog_post_info"&gt;
&lt;/div&gt;
&lt;div class="clear"&gt;&lt;/div&gt;
&lt;div id="post_next_prev"&gt;&lt;/div&gt;
&lt;/div&gt;


		&lt;/div&gt;
		&lt;div class="postDesc"&gt;posted @ &lt;span id="post-date"&gt;2014-09-11 17:14&lt;/span&gt; &lt;a href='http://www.cnblogs.com/xuybin/'&gt;xuybin&lt;/a&gt; 阅读(&lt;span id="post_view_count"&gt;...&lt;/span&gt;) 评论(&lt;span id="post_comment_count"&gt;...&lt;/span&gt;)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3966022" rel="nofollow"&gt;编辑&lt;/a&gt; &lt;a href="#" onclick="AddToWz(3966022);return false;"&gt;收藏&lt;/a&gt;&lt;/div&gt;
	&lt;/div&gt;
	&lt;script type="text/javascript"&gt;var allowComments=true,isLogined=false,cb_blogId=73016,cb_entryId=3966022,cb_blogApp=currentBlogApp,cb_blogUserGuid='04835c9c-e825-de11-9510-001cf0cd104b',cb_entryCreatedDate='2014/9/11 17:14:00';loadViewCount(cb_entryId);&lt;/script&gt;
	
&lt;/div&gt;&lt;!--end: topics 文章、评论容器--&gt;
&lt;a name="!comments"&gt;&lt;/a&gt;&lt;div id="blog-comments-placeholder"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;var commentManager = new blogCommentManager();commentManager.renderComments(0);&lt;/script&gt;
&lt;div id="comment_form" class="commentform"&gt;
&lt;a name="commentform"&gt;&lt;/a&gt;
&lt;div id="divCommentShow"&gt;&lt;/div&gt;
&lt;div id="comment_nav"&gt;&lt;span id="span_refresh_tips"&gt;&lt;/span&gt;&lt;a href="javascript:void(0);" id="lnk_RefreshComments" onclick="return RefreshCommentList();"&gt;刷新评论&lt;/a&gt;&lt;a href="#" onclick="return RefreshPage();"&gt;刷新页面&lt;/a&gt;&lt;a href="#top"&gt;返回顶部&lt;/a&gt;&lt;/div&gt;
&lt;div id="comment_form_container"&gt;&lt;/div&gt;
&lt;div class="ad_text_commentbox" id="ad_text_under_commentbox"&gt;&lt;/div&gt;
&lt;div id="site_nav_under"&gt;&lt;a href="http://www.cnblogs.com/" target="_blank" title="开发者的网上家园"&gt;博客园首页&lt;/a&gt;&lt;a href="http://q.cnblogs.com/" target="_blank" title="程序员问答社区"&gt;博问&lt;/a&gt;&lt;a href="http://news.cnblogs.com/" target="_blank" title="IT新闻"&gt;新闻&lt;/a&gt;&lt;a href="http://home.cnblogs.com/ing/" target="_blank"&gt;闪存&lt;/a&gt;&lt;a href="http://job.cnblogs.com/" target="_blank"&gt;程序员招聘&lt;/a&gt;&lt;a href="http://kb.cnblogs.com/" target="_blank"&gt;知识库&lt;/a&gt;&lt;/div&gt;
&lt;div id="opt_under_post"&gt;&lt;/div&gt;
&lt;script type="text/javascript"&gt;
    var enableGoogleAd = canShowAdsense(); var googletag = googletag || {}; googletag.cmd = googletag.cmd || [];
    fixPostBodyFormat();
&lt;/script&gt;
&lt;div id="ad_under_post_holder"&gt;
&lt;script type='text/javascript'&gt;
    var googletag = googletag || {};
    googletag.cmd = googletag.cmd || [];
    (function () {
        if (enableGoogleAd) {
            var gads = document.createElement('script');
            gads.async = true;
            gads.type = 'text/javascript';
            var useSSL = 'https:' == document.location.protocol;
            gads.src = (useSSL ? 'https:' : 'http:') + '//www.googletagservices.com/tag/js/gpt.js';
            var node = document.getElementsByTagName('script')[0];
            node.parentNode.insertBefore(gads, node);
        }
    })();
&lt;/script&gt;
&lt;script type='text/javascript'&gt;
    try {
        if (enableGoogleAd) {
            googletag.cmd.push(function () {
                googletag.defineSlot('/1090369/cnblogs_blogpost_C1_sitehome', [300, 250], 'div-gpt-ad-1346480159711-0').addService(googletag.pubads());
                googletag.pubads().enableSingleRequest();
                googletag.enableServices();
            });
        };
    } catch (e) { }
&lt;/script&gt;
&lt;div id="google_ad_c1" class="c_ad_block"&gt;
    &lt;div id='div-gpt-ad-1346480159711-0' style='width:300px; height:250px;'&gt;
    &lt;script type='text/javascript'&gt;
        try {
            if (enableGoogleAd) {
                googletag.cmd.push(function () { googletag.display('div-gpt-ad-1346480159711-0'); });            
            } else {
                $('#div-gpt-ad-1346480159711-0').hide();
            }
    } catch (e) { }
    &lt;/script&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;div id="blog_news_kb"&gt;&lt;/div&gt;
&lt;div id="HistoryToday" class="c_ad_block"&gt;&lt;/div&gt;
&lt;script type="text/javascript"&gt;
$(function () {
    loadNewsAndKb();
    loadBlogSignature();
    LoadPostInfoBlock(cb_blogId, cb_entryId, cb_blogApp, cb_blogUserGuid);
    GetPrevNextPost(cb_entryId, cb_blogId, cb_entryCreatedDate);
    loadOptUnderPost();
    GetHistoryToday(cb_blogId, cb_blogApp, cb_entryCreatedDate);
    setTimeout(function () { incrementViewCount(cb_entryId); }, 200);
});
&lt;/script&gt;
&lt;/div&gt;

	&lt;/div&gt;&lt;!--end: forFlow --&gt;
	&lt;/div&gt;&lt;!--end: mainContent 主体内容容器--&gt;

	&lt;div id="sideBar"&gt;
		&lt;div id="sideBarMain"&gt;
			
&lt;!--done--&gt;
&lt;div class="newsItem"&gt;
&lt;h3 class="catListTitle"&gt;公告&lt;/h3&gt;
	&lt;div id="blog-news"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;loadBlogNews();&lt;/script&gt;
&lt;/div&gt;

			&lt;div id="calendar"&gt;&lt;div id="blog-calendar" style="display:none"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;loadBlogDefaultCalendar();&lt;/script&gt;&lt;/div&gt;
			
			&lt;div id="leftcontentcontainer"&gt;
				&lt;div id="blog-sidecolumn"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;loadBlogSideColumn();&lt;/script&gt;
			&lt;/div&gt;
			
		&lt;/div&gt;&lt;!--end: sideBarMain --&gt;
	&lt;/div&gt;&lt;!--end: sideBar 侧边栏容器 --&gt;
	&lt;div class="clear"&gt;&lt;/div&gt;
	&lt;/div&gt;&lt;!--end: main --&gt;
	&lt;div class="clear"&gt;&lt;/div&gt;
	&lt;div id="footer"&gt;
		
&lt;!--done--&gt;
Copyright &amp;copy;2014 xuybin
	&lt;/div&gt;&lt;!--end: footer --&gt;
&lt;/div&gt;&lt;!--end: home 自定义的最大容器 --&gt;
&lt;/body&gt;
&lt;/html&gt;
</Html>
	<HtmlMetas i:nil="true" />
	<HtmlTitle i:nil="true" />
	<IsDefault>false</IsDefault>
	<Layout i:nil="true" />
	<Name>-xuybin-p-3966022.html</Name>
	<OutputCache i:nil="true" />
	<PageContents xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
	<Plugins xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<Published>false</Published>
	<RequireHttps>false</RequireHttps>
	<Routes>
		<PageRoute>
			<Defaults xmlns:d4p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
			<Identifier>/xuybin/p/3966022.html</Identifier>
			<RoutePath i:nil="true" />
		</PageRoute>
	</Routes>
	<Scripts i:nil="true" />
	<Site>
		<AbsoluteName xmlns="Ovaldi.Core.Models">Cnblogs</AbsoluteName>
	</Site>
	<Styles i:nil="true" />
	<UUID>-xuybin-p-3966022.html</UUID>
</Page>