@model List<Ovaldi.Core.SiteImport.PageLevel>
@{
    ViewBag.Title = "Results";
    Layout = "~/Views/Shared/Blank.cshtml";
}

<h1 class="title">Site import</h1>
<div class="wizard">
    <div class="container">
        <span>Select a site</span>
        <span class="active">Results<b></b></span>
    </div>
</div>
<div class="block message success content">
    <p>Import success, here are the pages you imported:</p>
    <ul>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <li>@item.Url</li>
            }
        }
    </ul>
</div>
<div class="wizard-buttons">
    <a class="button gray" href="@Url.Action("Index")">&laquo; Import another</a>
    <a class="button" href="@ViewBag.PreviewUrl" target="_blank">View the site &raquo;</a>
</div>