<?xml version="1.0" encoding="utf-8"?>
<Page xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Ovaldi.Core.Models">
	<AbsoluteName>-contact</AbsoluteName>
	<CustomFields xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<EnableScript>true</EnableScript>
	<EnableTheming>true</EnableTheming>
	<Html>&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
    &lt;meta charset="utf-8"&gt;
    &lt;title&gt;Contact | kooboo.com&lt;/title&gt;
    
    &lt;link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700,800" rel="stylesheet"&gt;
    &lt;link rel="Stylesheet" href="/preview~kooboo/Styles/Kooboo-WebResource/Index/jQuery-Styles/20130227" type="text/css"&gt;
&lt;link type="text/css" rel="stylesheet" href="/preview~kooboo/Styles/Kooboo_COM_V4/Kooboo-Resource/theme/1_0_0_20131217100901/true/Default"&gt;
&lt;!--[if lte IE 8]&gt;&lt;link rel="stylesheet" type="text/css" href="/Cms_Data/Sites/Kooboo_COM_V4/Themes/Default/ie.css" /&gt;&lt;![endif]--&gt;

    &lt;!--[if lt IE 9]&gt;&lt;script src="/Cms_Data/Sites/Kooboo_COM_V4/Files/js/html5.js"&gt;&lt;/script&gt;&lt;![endif]--&gt;

    &lt;script src="/preview~kooboo/Scripts/Kooboo-WebResource/Index/jQuery/20130227" type="text/javascript"&gt;&lt;/script&gt;
&lt;script type="text/javascript" src="/preview~kooboo/Scripts/Kooboo_COM_V4/Kooboo-Resource/scripts/1_0_0_20131217100901/True"&gt;&lt;/script&gt;

&lt;/head&gt;
&lt;body&gt;
    &lt;div id="body-container"&gt;
        &lt;header id="header"&gt;
            &lt;div class="container"&gt;
                &lt;div class="top"&gt;
                    &lt;div class="global-width clearfix"&gt;
                        &lt;h1 class="logo"&gt;&lt;a href="/"&gt;
                            &lt;img src="/preview~kooboo/Images/Cms_Data/Sites/Kooboo_COM_V4/Files/image/logo.png" alt="Kooboo LOGO"&gt;&lt;/a&gt;&lt;/h1&gt;
                        &lt;nav class="nav"&gt;
                            

&lt;ul class="main"&gt;
               &lt;li class=''&gt;&lt;a class="icon home" href="/preview~kooboo/"&gt;&lt;span&gt;Home&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
               &lt;li class=''&gt;&lt;a href="/preview~kooboo/products/kooboo-cms" target=""&gt;Products&lt;/a&gt;&lt;/li&gt;
                 &lt;li class=''&gt;&lt;a href="/preview~kooboo/cases" target=""&gt;Cases&lt;/a&gt;&lt;/li&gt;
                &lt;li class=''&gt;&lt;a href="/preview~kooboo/docs/kooboo-cms/all" target=""&gt;Docs&lt;/a&gt;&lt;/li&gt;
                 &lt;li class=''&gt;&lt;a href="/preview~kooboo/updates" target=""&gt;Updates&lt;/a&gt;&lt;/li&gt;
                 &lt;li class=''&gt;&lt;a href="http://kooboo.codeplex.com" target="_blank"&gt;Download&lt;/a&gt;&lt;/li&gt;
                 &lt;li class=''&gt;&lt;a href="http://forum.kooboo.com" target=""&gt;Forum&lt;/a&gt;&lt;/li&gt;
                 &lt;li class='active'&gt;&lt;a href="/preview~kooboo/contact" target=""&gt;Contact&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
                            &lt;ul class="quicklinks"&gt;
    &lt;li&gt;&lt;a class="button orange border" href="http://online.kooboo.com" target="_blank"&gt;Online demo&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;

                        &lt;/nav&gt;
                    &lt;/div&gt;
                    &lt;div class="shadow"&gt;&lt;/div&gt;
                &lt;/div&gt;
                
                &lt;div class="global-width clearfix"&gt;
                    &lt;h2 class="page-title"&gt;Contact&lt;/h2&gt;

                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/header&gt;
        &lt;div id="main-container"&gt;
            
            &lt;div class="global-width clearfix"&gt;
                &lt;div class="block offices"&gt;
    &lt;h6 class="title"&gt;Our offices&lt;/h6&gt;
    &lt;div class="columns clearfix"&gt;
        &lt;div class="span4"&gt;
            &lt;div class="item"&gt;
                &lt;div class="info"&gt;
                    &lt;h6 class="name"&gt;Los Angeles, USA&lt;/h6&gt;
                    &lt;p class="address"&gt;
                        340 S. Lemon Ave. #2295
                        &lt;br&gt;
                        Walnut, CA 91789, USA
                    &lt;/p&gt;
                    &lt;p&gt;&amp;nbsp;&lt;/p&gt;
                    &lt;p class="email"&gt;&lt;a href="#"&gt;Send e-mail&lt;/a&gt;&lt;/p&gt;
                &lt;/div&gt;
                &lt;div class="map"&gt;
                    &lt;iframe src="http://maps.google.com/maps?f=q&amp;amp;source=s_q&amp;amp;hl=en&amp;amp;geocode=&amp;amp;q=340+S.+Lemon+Ave.+%232295+Walnut,+CA+91789&amp;amp;aq=&amp;amp;sll=24.481368,118.175468&amp;amp;sspn=0.099361,0.125828&amp;amp;brcurrent=3,0x0:0x0,0&amp;amp;ie=UTF8&amp;amp;hq=&amp;amp;hnear=340+S+Lemon+Ave+%232295,+Walnut,+Los+Angeles,+California+91789,+United+States&amp;amp;t=m&amp;amp;z=14&amp;amp;ll=34.012044,-117.859661&amp;amp;output=embed"&gt;&lt;/iframe&gt;
                &lt;/div&gt;
                &lt;a class="button orange" href="http://maps.google.com/maps?f=q&amp;amp;source=embed&amp;amp;hl=en&amp;amp;geocode=&amp;amp;q=340+S.+Lemon+Ave.+%232295+Walnut,+CA+91789&amp;amp;aq=&amp;amp;sll=24.481368,118.175468&amp;amp;sspn=0.099361,0.125828&amp;amp;brcurrent=3,0x0:0x0,0&amp;amp;ie=UTF8&amp;amp;hq=&amp;amp;hnear=340+S+Lemon+Ave+%232295,+Walnut,+Los+Angeles,+California+91789,+United+States&amp;amp;t=m&amp;amp;z=14&amp;amp;ll=34.012044,-117.859661"&gt;&lt;span&gt;view on larger map&lt;/span&gt;&lt;/a&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="span4"&gt;
            &lt;div class="item"&gt;
                &lt;div class="info"&gt;
                    &lt;h6 class="name"&gt;Xiamen, China&lt;/h6&gt;
                    &lt;p class="address"&gt;
                        Guanri Road #54
                        &lt;br&gt;
                        Software Park II, Xiamen, China
                    &lt;/p&gt;
                    &lt;p class="tel"&gt;+86 (0)592 5550586&lt;/p&gt;
                    &lt;p class="email"&gt;&lt;a href="#"&gt;Send e-mail&lt;/a&gt;&lt;/p&gt;
                &lt;/div&gt;
                &lt;div class="map"&gt;
                    &lt;iframe src="http://maps.google.com/maps?f=q&amp;amp;source=s_q&amp;amp;hl=en&amp;amp;geocode=&amp;amp;q=Guanri+Road+%2354&amp;amp;aq=&amp;amp;sll=25.916966,118.288826&amp;amp;sspn=6.282091,8.052979&amp;amp;brcurrent=3,0x0:0x0,0&amp;amp;ie=UTF8&amp;amp;hq=&amp;amp;hnear=54%E5%8F%B7+Guan+Ri+Lu,+Si+Ming+Qu,+Xiamen,+Fujian,+China&amp;amp;ll=24.485286,118.18747&amp;amp;spn=0.099361,0.125828&amp;amp;t=m&amp;amp;z=13&amp;amp;iwloc=A&amp;amp;output=embed"&gt;&lt;/iframe&gt;
                &lt;/div&gt;
                &lt;a class="button orange" href="http://maps.google.com/maps?f=q&amp;amp;source=embed&amp;amp;hl=en&amp;amp;geocode=&amp;amp;q=Guanri+Road+%2354&amp;amp;aq=&amp;amp;sll=25.916966,118.288826&amp;amp;sspn=6.282091,8.052979&amp;amp;brcurrent=3,0x0:0x0,0&amp;amp;ie=UTF8&amp;amp;hq=&amp;amp;hnear=54%E5%8F%B7+Guan+Ri+Lu,+Si+Ming+Qu,+Xiamen,+Fujian,+China&amp;amp;ll=24.485286,118.18747&amp;amp;spn=0.099361,0.125828&amp;amp;t=m&amp;amp;z=13&amp;amp;iwloc=A"&gt;&lt;span&gt;view on larger map&lt;/span&gt;&lt;/a&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="span4"&gt;
            &lt;div class="item"&gt;
                &lt;div class="info"&gt;
                    &lt;h6 class="name"&gt;Purmerend, The netherlands&lt;/h6&gt;
                    &lt;p class="address"&gt;
                        Emmakade 4
                        &lt;br&gt;
                        1441 ET Purmerend, The Netherlands
                    &lt;/p&gt;
                    &lt;p class="tel"&gt;+31 (0)299 200800&lt;/p&gt;
                    &lt;p class="email"&gt;&lt;a href="#"&gt;Send e-mail&lt;/a&gt;&lt;/p&gt;
                &lt;/div&gt;
                &lt;div class="map"&gt;
                    &lt;iframe src="http://maps.google.com/maps?f=q&amp;amp;source=s_q&amp;amp;hl=zh-CN&amp;amp;geocode=+&amp;amp;q=emmakade+4+1441+et+purmerend+The+Netherlands&amp;amp;ie=UTF8&amp;amp;hq=&amp;amp;hnear=Emmakade+4,+1441+ET+Purmerend,+Noord-Holland,+%E8%8D%B7%E5%85%B0&amp;amp;t=m&amp;amp;z=14&amp;amp;brcurrent=3,0x0:0x0,0&amp;amp;ll=52.506895,4.94837&amp;amp;output=embed"&gt;&lt;/iframe&gt;
                &lt;/div&gt;
                &lt;a class="button orange" href="http://maps.google.com/maps?f=q&amp;amp;source=embed&amp;amp;hl=zh-CN&amp;amp;geocode=+&amp;amp;q=emmakade+4+1441+et+purmerend+The+Netherlands&amp;amp;ie=UTF8&amp;amp;hq=&amp;amp;hnear=Emmakade+4,+1441+ET+Purmerend,+Noord-Holland,+%E8%8D%B7%E5%85%B0&amp;amp;t=m&amp;amp;z=14&amp;amp;brcurrent=3,0x0:0x0,0&amp;amp;ll=52.506895,4.94837"&gt;&lt;span&gt;view on larger map&lt;/span&gt;&lt;/a&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;div class="block email"&gt;
    &lt;h6 class="title main"&gt;Send us an e-mail&lt;/h6&gt;
    &lt;div id="sending-result" class="info hide"&gt;
        &lt;h4&gt;Your email has been sent,thank you for sending.&lt;/h4&gt;
    &lt;/div&gt;
    &lt;form id="sending-email-form" method="post"&gt;
        &lt;input name="__RequestVerificationToken" type="hidden" value="4aEJo4g1wCvm2YZ4nfURLnV6xCdupS1G1PjYdttZgWQ0mHQk0Xbx8GG53VX3BwM0JR-SstdW1JQEHb2AbKwfCiRRiKUW5yiO8kwZEPumwfUuDyO9uKbq9R9qstBLojbqjw0ZP8e_FvHVsOynDaknvz7d1LsKY-b60qafPQtNRmU1"&gt;
        &lt;input type="hidden" name="FolderName" value="VisitorEmail"&gt;
        &lt;input type="hidden" name="Published" value="true"&gt;
        &lt;div class="common-form columns clearfix"&gt;
            &lt;div class="span6"&gt;
                &lt;p class="field"&gt;
                    &lt;label for="Name"&gt;Name&lt;/label&gt;
                    &lt;input type="text" id="Name" name="Name"&gt;
                &lt;/p&gt;
                &lt;p class="field"&gt;
                    &lt;label for="CompanyName"&gt;Company name&lt;/label&gt;
                    &lt;input type="text" id="CompanyName" name="CompanyName"&gt;
                &lt;/p&gt;
                &lt;p class="field"&gt;
                    &lt;label for="Email"&gt;E-mail address &lt;span&gt;*&lt;/span&gt;&lt;/label&gt;
                    &lt;input type="text" id="Email" name="Email" class="required email"&gt;
                &lt;/p&gt;
            &lt;/div&gt;
            &lt;div class="span6"&gt;
                &lt;p class="field"&gt;
                    &lt;label for="Message"&gt;Message &lt;span&gt;*&lt;/span&gt;&lt;/label&gt;
                    &lt;textarea id="Message" name="Message" class="required"&gt;&lt;/textarea&gt;
                &lt;/p&gt;
                &lt;button type="submit"&gt;Send e-mail&lt;/button&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/form&gt;
&lt;/div&gt;

&lt;script type="text/javascript"&gt;
    $("#sending-email-form").validate({
        messages: {
            Message: {
                required: "Your Message Can Not Be Empty"
            },
            Email: {
                required: "Your Eamil Address Can Not Be Empty",
                email: "Your Eamil Address Is Incorrect"
            }
        }
    });

    $(document).ready(function () {

        $('#sending-email-form').ajaxForm({
            clearForm: true,
            success: function () {
                $("#sending-result").show();
            }
        });
    });
&lt;/script&gt;

            &lt;/div&gt;
        &lt;/div&gt;
        &lt;footer id="footer"&gt;
            
            &lt;div class="global-width clearfix"&gt;
    &lt;div class="columns clearfix"&gt;
        &lt;div class="span5"&gt;
            &lt;div class="block about"&gt;
                &lt;h6 class="title"&gt;About&lt;/h6&gt;
                &lt;div class="content"&gt;&lt;p&gt;Kooboo is an international web development firm with its core development team based in China.&amp;nbsp; Kooboo contains products and practices to meet all your web development needs, allowing you complete freedom in development.&amp;nbsp; Kooboo comprises Kooboo products (Design tools, CMS, Ecommerce, and Newsletters), Kooboo people, Kooboo service, and Kooboo network.&lt;/p&gt;&lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="span3"&gt;
            &lt;div class="block links"&gt;
                &lt;h6 class="title"&gt;Links&lt;/h6&gt;
                &lt;ul&gt;
                    &lt;li&gt;&lt;a href=""&gt;Home&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a href="/preview~kooboo/licensefaq"&gt;License&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a href="http://forum.kooboo.com" target="_blank"&gt;Community Forum&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a href="/preview~kooboo/privacy-policy"&gt;Privacy Policy&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a href="/preview~kooboo/service"&gt;Service&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a href="/preview~kooboo/partner"&gt;Partner Network&lt;/a&gt;&lt;/li&gt;
                &lt;/ul&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="span4"&gt;
            &lt;div class="block updates"&gt;
    &lt;h6 class="title"&gt;Updates&lt;/h6&gt;
    &lt;ul&gt;
            &lt;li&gt;
                &lt;a href="/preview~kooboo/updates/detail/dutch-consulate-general-visits-kooboo-office" target=""&gt;Dutch Consulate General visits Kooboo office&lt;/a&gt;
                &lt;span class="date"&gt;December 10, 2013&lt;/span&gt;
            &lt;/li&gt;
            &lt;li&gt;
                &lt;a href="/preview~kooboo/updates/detail/kooboo-developers-to-sweden" target=""&gt;Kooboo developers to Sweden&lt;/a&gt;
                &lt;span class="date"&gt;May 5, 2013&lt;/span&gt;
            &lt;/li&gt;
            &lt;li&gt;
                &lt;a href="/preview~kooboo/updates/detail/kooboo-show-case-from-rb2-partner" target=""&gt;Kooboo showcase from rb2 partner&lt;/a&gt;
                &lt;span class="date"&gt;February 23, 2013&lt;/span&gt;
            &lt;/li&gt;
    &lt;/ul&gt;
&lt;/div&gt;

        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;div class="bottom"&gt;
    &lt;div class="global-width clearfix"&gt;
        &lt;p class="copyright"&gt;&amp;copy;Copyright 2009 - 2014 &lt;a href="/preview~kooboo/"&gt;Kooboo team&lt;/a&gt; All Rights Reserved.&lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;

        &lt;/footer&gt;
    &lt;/div&gt;

&lt;/body&gt;
&lt;/html&gt;
</Html>
	<HtmlMetas i:nil="true" />
	<HtmlTitle i:nil="true" />
	<IsDefault>false</IsDefault>
	<Layout i:nil="true" />
	<Name>-contact</Name>
	<OutputCache i:nil="true" />
	<PageContents xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
	<Plugins xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<Published>false</Published>
	<RequireHttps>false</RequireHttps>
	<Routes>
		<PageRoute>
			<Defaults xmlns:d4p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
			<Identifier>/contact</Identifier>
			<RoutePath i:nil="true" />
		</PageRoute>
	</Routes>
	<Scripts i:nil="true" />
	<Site>
		<AbsoluteName xmlns="Ovaldi.Core.Models">kooboo</AbsoluteName>
	</Site>
	<Styles i:nil="true" />
	<UUID>-contact</UUID>
</Page>