<?xml version="1.0" encoding="utf-8"?>
<Page xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Ovaldi.Core.Models">
	<AbsoluteName>-52fhy-p-3973887.html</AbsoluteName>
	<CustomFields xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<EnableScript>true</EnableScript>
	<EnableTheming>true</EnableTheming>
	<Html>&lt;!DOCTYPE html&gt;
&lt;html lang="zh-cn"&gt;
&lt;head&gt;
&lt;meta charset="utf-8"&gt;
&lt;title&gt;Git使用笔记 - 飞鸿影~ - 博客园&lt;/title&gt;
&lt;link type="text/css" rel="stylesheet" href="/preview~Cnblogs/Styles/bundles/blog-common.css"&gt;
&lt;link id="MainCss" type="text/css" rel="stylesheet" href="/preview~Cnblogs/Styles/skins/darkgreentrip/bundle-darkgreentrip.css"&gt;
&lt;link title="RSS" type="application/rss+xml" rel="alternate" href="http://www.cnblogs.com/52fhy/rss"&gt;
&lt;link title="RSD" type="application/rsd+xml" rel="EditURI" href="http://www.cnblogs.com/52fhy/rsd.xml"&gt;
&lt;link type="application/wlwmanifest+xml" rel="wlwmanifest" href="http://www.cnblogs.com/52fhy/wlwmanifest.xml"&gt;
&lt;script src="http://common.cnblogs.com/script/jquery.js" type="text/javascript"&gt;&lt;/script&gt;  
&lt;script type="text/javascript"&gt;var currentBlogApp = '52fhy', cb_enable_mathjax=true;&lt;/script&gt;
&lt;script src="/preview~Cnblogs/Scripts/bundles/blog-common.js" type="text/javascript"&gt;&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;a name="top"&gt;&lt;/a&gt;

&lt;!--done--&gt;
&lt;div id="home"&gt;
&lt;div id="header"&gt;
	&lt;div id="blogTitle"&gt;
	&lt;a id="lnkBlogLogo" href="http://www.cnblogs.com/52fhy/"&gt;&lt;img id="blogLogo" src="/preview~Cnblogs/Images/Skins/custom/images/logo.gif" alt="返回主页"&gt;&lt;/a&gt;			
		
&lt;!--done--&gt;
&lt;h1&gt;&lt;a id="Header1_HeaderTitle" class="headermaintitle" href="http://www.cnblogs.com/52fhy/"&gt;飞鸿影~&lt;/a&gt;&lt;/h1&gt;
&lt;h2&gt;&lt;/h2&gt;



		
	&lt;/div&gt;&lt;!--end: blogTitle 博客的标题和副标题 --&gt;
	&lt;div id="navigator"&gt;
		
&lt;ul id="navList"&gt;
&lt;li&gt;&lt;a id="MyLinks1_HomeLink" class="menu" href="http://www.cnblogs.com/"&gt;博客园&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a id="MyLinks1_MyHomeLink" class="menu" href="http://www.cnblogs.com/52fhy/"&gt;首页&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a class="menu" href="http://q.cnblogs.com/"&gt;博问&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a class="menu" href="http://home.cnblogs.com/ing/"&gt;闪存&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a id="MyLinks1_NewPostLink" class="menu" rel="nofollow" href="http://i.cnblogs.com/EditPosts.aspx?opt=1"&gt;新随笔&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a id="MyLinks1_ContactLink" class="menu" rel="nofollow" href="http://space.cnblogs.com/msg/send/%e9%a3%9e%e9%b8%bf%e5%bd%b1%7e"&gt;联系&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a id="MyLinks1_Syndication" class="menu" href="http://www.cnblogs.com/52fhy/rss"&gt;订阅&lt;/a&gt;
&lt;!--&lt;a id="MyLinks1_XMLLink" class="aHeaderXML" href="http://www.cnblogs.com/52fhy/rss"&gt;&lt;img src="http://www.cnblogs.com/images/xml.gif" alt="订阅" /&gt;&lt;/a&gt;--&gt;&lt;/li&gt;
&lt;li&gt;&lt;a id="MyLinks1_Admin" class="menu" rel="nofollow" href="http://i.cnblogs.com/"&gt;管理&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
		&lt;div class="blogStats"&gt;
			
			
&lt;!--done--&gt;
随笔- 14&amp;nbsp;
文章- 0&amp;nbsp;
评论- 3&amp;nbsp;

			
		&lt;/div&gt;&lt;!--end: blogStats --&gt;
	&lt;/div&gt;&lt;!--end: navigator 博客导航栏 --&gt;
&lt;/div&gt;&lt;!--end: header 头部 --&gt;

&lt;div id="main"&gt;
	&lt;div id="mainContent"&gt;
	&lt;div class="forFlow"&gt;
		

&lt;!--done--&gt;
&lt;div id="topics"&gt;
	&lt;div class="post"&gt;
		&lt;h1 class="postTitle"&gt;
			&lt;a id="cb_post_title_url" class="postTitle2" href="http://www.cnblogs.com/52fhy/p/3973887.html"&gt;Git使用笔记&lt;/a&gt;
		&lt;/h1&gt;
		&lt;div class="clear"&gt;&lt;/div&gt;
		&lt;div class="postBody"&gt;
			&lt;div id="cnblogs_post_body"&gt;&lt;p&gt;&lt;br&gt;	&lt;span style="color: #008000;"&gt;&lt;strong&gt;&lt;span style="font-size: 16px;"&gt;1、第一次使用github&lt;/span&gt;&lt;/strong&gt;&lt;/span&gt;&lt;br&gt;&lt;br&gt;&lt;/p&gt;
&lt;p&gt;1)github注册账号,网址：&lt;a title="github" href="https://github.com/" target="_blank"&gt;https://github.com/&lt;/a&gt;&lt;br&gt;	使用邮箱注册账号&lt;/p&gt;
&lt;p&gt;先不要创建版本库&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;p&gt;2)安装git&lt;/p&gt;
&lt;p&gt;Linux请参考网上教程，这里演示windows操作。&lt;/p&gt;
&lt;p&gt;实际命令行操作基本是一样的。&lt;/p&gt;
&lt;p&gt;&lt;br&gt;&amp;nbsp;&lt;span class="cnblogs_code"&gt;msysgit&lt;/span&gt;&amp;nbsp;是Windows版的Git，从http://msysgit.github.io/下载，然后按默认选项安装即可。&lt;/p&gt;
&lt;p&gt;官方下载比较慢，可以使用第三方下载点：&lt;a href="http://xiazai.xiazaiba.com/Soft/M/msysgit_1.9.4.0_XiaZaiBa.zip" target="_blank"&gt;msysgit_1.9.4.0_XiaZaiBa.zip&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;安装完成后，在开始菜单里找到"Git"-&amp;gt;"Git Bash"，蹦出一个类似命令行窗口的东西，就说明Git安装成功！&lt;/p&gt;
&lt;div class="cnblogs_code"&gt;
&lt;pre&gt;说明：git命令操作和Linux命令差不多，很多命令可以直接使用,比如cd,&lt;span style="color: #0000ff;"&gt;vi&lt;/span&gt;&lt;/pre&gt;
&lt;/div&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;p&gt;3)安装完成后，还需要最后一步设置，在命令行输入：&lt;/p&gt;
&lt;div class="cnblogs_code"&gt;
&lt;pre&gt;$ git config --global user.name &lt;span style="color: #800000;"&gt;"&lt;/span&gt;&lt;span style="color: #800000;"&gt;Your Name&lt;/span&gt;&lt;span style="color: #800000;"&gt;"&lt;/span&gt;&lt;span style="color: #000000;"&gt;
$ git config &lt;/span&gt;--global user.email &lt;span style="color: #800000;"&gt;"&lt;/span&gt;&lt;span style="color: #800000;"&gt;email@example.com&lt;/span&gt;&lt;span style="color: #800000;"&gt;"&lt;/span&gt;&lt;/pre&gt;
&lt;/div&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;p&gt;4)创建SSH Key&lt;/p&gt;
&lt;p&gt;在用户主目录下，看看有没有.ssh目录，如果有，再看看这个目录下有没有id_rsa和id_rsa.pub这两个文件，如果已经有了，可直接跳到下一步。如果没有，打开Shell（Windows下打开Git Bash），创建SSH Key：&lt;/p&gt;
&lt;div class="cnblogs_code"&gt;
&lt;pre&gt;$ &lt;span style="color: #0000ff;"&gt;ssh-keygen&lt;/span&gt; -t rsa -C &lt;span style="color: #800000;"&gt;"&lt;/span&gt;&lt;span style="color: #800000;"&gt;youremail@example.com&lt;/span&gt;&lt;span style="color: #800000;"&gt;"&lt;/span&gt;&lt;/pre&gt;
&lt;/div&gt;
&lt;p&gt;会让你输入&amp;nbsp;&lt;span class="cnblogs_code"&gt;.&lt;span style="color: #0000ff;"&gt;ssh&lt;/span&gt;/id_rsa&lt;/span&gt;&amp;nbsp;文件的路径,默认即可&lt;br&gt;然后输入新密码，确认即可。&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;p&gt;5)登陆GitHub，打开"Account settings"，"SSH Keys"页面：&lt;br&gt;然后，点"Add SSH Key"，填上任意Title，在Key文本框里粘贴&amp;nbsp;&lt;span class="cnblogs_code"&gt;id_rsa.pub&lt;/span&gt;&amp;nbsp;文件的内容：&lt;/p&gt;
&lt;div class="cnblogs_code"&gt;
&lt;pre&gt;&lt;span style="color: #000000;"&gt;　　为什么GitHub需要SSH Key呢？因为GitHub需要识别出你推送的提交确实是你推送的，而不是别人冒充的，而Git支持SSH协议，所以，GitHub只要知道了你的公钥，就可以确认只有你自己才能推送。
　　当然，GitHub允许你添加多个Key。假定你有若干电脑，你一会儿在公司提交，一会儿在家里提交，只要把每台电脑的Key都添加到GitHub，就可以在每台电脑上往GitHub推送了。&lt;/span&gt;&lt;/pre&gt;
&lt;/div&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;p&gt;6)创建本地版本库(我选的D盘)&lt;/p&gt;
&lt;div class="cnblogs_code"&gt;
&lt;pre&gt;$ cd /d/phpsetup/www/git/&lt;span style="color: #000000;"&gt;
$ &lt;/span&gt;&lt;span style="color: #0000ff;"&gt;mkdir&lt;/span&gt;&lt;span style="color: #000000;"&gt; fhyblog
$ cd fhyblog
$ &lt;/span&gt;&lt;span style="color: #0000ff;"&gt;pwd&lt;br&gt;&lt;/span&gt;&lt;/pre&gt;
&lt;pre&gt;&lt;br&gt;/d/phpsetup/www/git/fhyblog&lt;/pre&gt;
&lt;/div&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;p&gt;7)通过&amp;nbsp;&lt;span class="cnblogs_code"&gt;git init&lt;/span&gt;&amp;nbsp;命令把这个目录变成Git可以管理的仓库：&lt;/p&gt;
&lt;div class="cnblogs_code"&gt;
&lt;pre&gt;&lt;span style="color: #000000;"&gt;$ git init
&lt;br&gt;Initialized empty Git repository &lt;/span&gt;&lt;span style="color: #0000ff;"&gt;in&lt;/span&gt; /Users/52fhy/fhyblog/.git/&lt;/pre&gt;
&lt;/div&gt;
&lt;p&gt;瞬间Git就把仓库建好了，而且告诉你是一个空的仓库（empty Git repository），细心的读者可以发现当前目录下多了一个&amp;nbsp;&lt;span class="cnblogs_code"&gt;.git&lt;/span&gt;&amp;nbsp;的目录，这个目录是Git来跟踪管理版本库的，没事千万不要手动修改这个目录里面的文件，不然改乱了，就把Git仓库给破坏了。&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;p&gt;8)在本地版本库fhyblog里放入一些代码或文件&lt;/p&gt;
&lt;p&gt;　　我放了src目录和一个readme.txt文件&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;p&gt;9)进入版本库目录：&lt;/p&gt;
&lt;div class="cnblogs_code"&gt;
&lt;pre&gt;$ cd /d/phpsetup/www/git/fhyblog/&lt;span style="color: #000000;"&gt;&lt;br&gt;&lt;/span&gt;&lt;/pre&gt;
&lt;/div&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;p&gt;10)更新本地版本库(.指当前所有目录及文件)&lt;/p&gt;
&lt;div class="cnblogs_code"&gt;
&lt;pre&gt;$ git add .&lt;/pre&gt;
&lt;/div&gt;
&lt;p&gt;当然,如果你仅仅是提交一个文件,可以这样写&lt;/p&gt;
&lt;div class="cnblogs_code"&gt;
&lt;pre&gt;$ git add readme.txt&lt;/pre&gt;
&lt;/div&gt;
&lt;p&gt;更新一个目录这样写：&lt;/p&gt;
&lt;div class="cnblogs_code"&gt;
&lt;pre&gt;$ git add src/&lt;/pre&gt;
&lt;/div&gt;
&lt;p&gt;此时还没有真正提交到版本库,只是放在暂存区。提交请继续往下看：&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;p&gt;11)执行更新操作：&lt;/p&gt;
&lt;div class="cnblogs_code"&gt;
&lt;pre&gt;$ git commit -m &lt;span style="color: #800000;"&gt;"&lt;/span&gt;&lt;span style="color: #800000;"&gt;相关说明&lt;/span&gt;&lt;span style="color: #800000;"&gt;"&lt;/span&gt;&lt;span style="color: #000000;"&gt;
&lt;br&gt;[master 91115af] .
&lt;/span&gt;&lt;span style="color: #800080;"&gt;1&lt;/span&gt; &lt;span style="color: #0000ff;"&gt;file&lt;/span&gt; changed, &lt;span style="color: #800080;"&gt;53&lt;/span&gt; insertions(+&lt;span style="color: #000000;"&gt;)
create mode &lt;/span&gt;&lt;span style="color: #800080;"&gt;100644&lt;/span&gt; &lt;span style="color: #800000;"&gt;"&lt;/span&gt;&lt;span style="color: #800000;"&gt;\345\215\207\347\272\247\346\227\245\345\277\227.txt&lt;/span&gt;&lt;span style="color: #800000;"&gt;"&lt;/span&gt;&lt;/pre&gt;
&lt;/div&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;p&gt;12)更新至远程(Github):&lt;br&gt;	&lt;br&gt;	要关联一个远程库，使用命令&amp;nbsp;&lt;/p&gt;
&lt;div class="cnblogs_code"&gt;
&lt;pre&gt;$ git remote add origin git@github.com:yourname/yourgit.git &lt;/pre&gt;
&lt;/div&gt;
&lt;p&gt;关联后，使用命令&amp;nbsp;&lt;/p&gt;
&lt;div class="cnblogs_code"&gt;
&lt;pre&gt;git push -u origin master&lt;/pre&gt;
&lt;/div&gt;
&lt;p&gt;进行第一次推送master分支的所有内容；&lt;/p&gt;
&lt;p&gt;所以，远程github上确保你的版本库是空的，否则你在这一步可能会不成功。&lt;/p&gt;
&lt;p&gt;此后，每次本地提交后，只要有必要，就可以使用命令&amp;nbsp;&lt;span class="cnblogs_code"&gt;git push origin master&lt;/span&gt;&amp;nbsp;推送最新修改；&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;div class="cnblogs_code"&gt;
&lt;pre&gt;&lt;span style="color: #000000;"&gt;$ git push origin master
&lt;br&gt;Warning: Permanently added the RSA host key &lt;/span&gt;&lt;span style="color: #0000ff;"&gt;for&lt;/span&gt; IP address &lt;span style="color: #800000;"&gt;'&lt;/span&gt;&lt;span style="color: #800000;"&gt;192.30.252.129&lt;/span&gt;&lt;span style="color: #800000;"&gt;'&lt;/span&gt;&lt;span style="color: #000000;"&gt; to the list of known hosts.
Enter passphrase &lt;/span&gt;&lt;span style="color: #0000ff;"&gt;for&lt;/span&gt; key &lt;span style="color: #800000;"&gt;'&lt;/span&gt;&lt;span style="color: #800000;"&gt;/c/Users/YJC/.ssh/id_rsa&lt;/span&gt;&lt;span style="color: #800000;"&gt;'&lt;/span&gt;&lt;span style="color: #000000;"&gt;:
Counting objects: &lt;/span&gt;&lt;span style="color: #800080;"&gt;3&lt;/span&gt;, &lt;span style="color: #0000ff;"&gt;done&lt;/span&gt;&lt;span style="color: #000000;"&gt;.
Delta compression using up to &lt;/span&gt;&lt;span style="color: #800080;"&gt;4&lt;/span&gt;&lt;span style="color: #000000;"&gt; threads.
Compressing objects: &lt;/span&gt;&lt;span style="color: #800080;"&gt;100&lt;/span&gt;% (&lt;span style="color: #800080;"&gt;2&lt;/span&gt;/&lt;span style="color: #800080;"&gt;2&lt;/span&gt;), &lt;span style="color: #0000ff;"&gt;done&lt;/span&gt;&lt;span style="color: #000000;"&gt;.
Writing objects: &lt;/span&gt;&lt;span style="color: #800080;"&gt;100&lt;/span&gt;% (&lt;span style="color: #800080;"&gt;2&lt;/span&gt;/&lt;span style="color: #800080;"&gt;2&lt;/span&gt;), &lt;span style="color: #800080;"&gt;292&lt;/span&gt; bytes | &lt;span style="color: #800080;"&gt;0&lt;/span&gt; bytes/s, &lt;span style="color: #0000ff;"&gt;done&lt;/span&gt;&lt;span style="color: #000000;"&gt;.
Total &lt;/span&gt;&lt;span style="color: #800080;"&gt;2&lt;/span&gt; (delta &lt;span style="color: #800080;"&gt;0&lt;/span&gt;), reused &lt;span style="color: #800080;"&gt;0&lt;/span&gt; (delta &lt;span style="color: #800080;"&gt;0&lt;/span&gt;&lt;span style="color: #000000;"&gt;)
To git@github.com:52fhy&lt;/span&gt;/&lt;span style="color: #000000;"&gt;fhyblog.git
efe4969..91115af master &lt;/span&gt;-&amp;gt;&lt;span style="color: #000000;"&gt; master
Branch master set up to track remote branch master from origin.

Admin@YJC&lt;/span&gt;-PC /d/phpsetup/www/git/fhyblog (master)&lt;/pre&gt;
&lt;/div&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;p&gt; 如果完成到这里,恭喜你!你已经有了本地和远程版本库了。&lt;br&gt;	&lt;br&gt;&lt;br&gt;	&lt;br&gt;	&lt;span style="color: #008000;"&gt;&lt;strong&gt;&lt;span style="font-size: 16px;"&gt;2、再次使用git&lt;/span&gt;&lt;/strong&gt;&lt;/span&gt;&lt;br&gt;	以后本地版本库里有更新,使用&amp;nbsp;&lt;span class="cnblogs_code"&gt;git add &lt;/span&gt;&amp;nbsp;添加,使用命令&amp;nbsp;&lt;span class="cnblogs_code"&gt;git commit&lt;/span&gt;&amp;nbsp;提交。&lt;br&gt;	更新至远程使用命令&amp;nbsp;&lt;span class="cnblogs_code"&gt;git push origin master&lt;/span&gt;&amp;nbsp;推送&lt;br&gt;	&lt;br&gt;&lt;br&gt;	&lt;br&gt;	&lt;strong&gt;&lt;span style="font-size: 16px; color: #008000;"&gt;3、从远程更新至本地版本库&lt;/span&gt;&lt;/strong&gt;&lt;br&gt;	要克隆一个仓库，首先必须知道仓库的地址，然后使用git clone命令克隆。&lt;/p&gt;
&lt;div class="cnblogs_code"&gt;
&lt;pre&gt;$ git clone git@github.com:52fhy/&lt;span style="color: #000000;"&gt;fhyBlog.git
&lt;br&gt;Cloning into &lt;/span&gt;&lt;span style="color: #800000;"&gt;'&lt;/span&gt;&lt;span style="color: #800000;"&gt;fhyBlog&lt;/span&gt;&lt;span style="color: #800000;"&gt;'&lt;/span&gt;&lt;span style="color: #000000;"&gt;...
Enter passphrase &lt;/span&gt;&lt;span style="color: #0000ff;"&gt;for&lt;/span&gt; key &lt;span style="color: #800000;"&gt;'&lt;/span&gt;&lt;span style="color: #800000;"&gt;/c/Users/YJC/.ssh/id_rsa&lt;/span&gt;&lt;span style="color: #800000;"&gt;'&lt;/span&gt;&lt;span style="color: #000000;"&gt;:
remote: Counting objects: &lt;/span&gt;&lt;span style="color: #800080;"&gt;284&lt;/span&gt;, &lt;span style="color: #0000ff;"&gt;done&lt;/span&gt;&lt;span style="color: #000000;"&gt;.
remote: Compressing objects: &lt;/span&gt;&lt;span style="color: #800080;"&gt;100&lt;/span&gt;% (&lt;span style="color: #800080;"&gt;238&lt;/span&gt;/&lt;span style="color: #800080;"&gt;238&lt;/span&gt;), &lt;span style="color: #0000ff;"&gt;done&lt;/span&gt;&lt;span style="color: #000000;"&gt;.
remote: Total &lt;/span&gt;&lt;span style="color: #800080;"&gt;284&lt;/span&gt; (delta &lt;span style="color: #800080;"&gt;28&lt;/span&gt;), reused &lt;span style="color: #800080;"&gt;283&lt;/span&gt; (delta &lt;span style="color: #800080;"&gt;27&lt;/span&gt;&lt;span style="color: #000000;"&gt;)R
Receiving objects: &lt;/span&gt;&lt;span style="color: #800080;"&gt;94&lt;/span&gt;% (&lt;span style="color: #800080;"&gt;267&lt;/span&gt;/&lt;span style="color: #800080;"&gt;284&lt;/span&gt;), &lt;span style="color: #800080;"&gt;644.00&lt;/span&gt; KiB | &lt;span style="color: #800080;"&gt;12.00&lt;/span&gt; KiB/&lt;span style="color: #000000;"&gt;
Receiving objects: &lt;/span&gt;&lt;span style="color: #800080;"&gt;100&lt;/span&gt;% (&lt;span style="color: #800080;"&gt;284&lt;/span&gt;/&lt;span style="color: #800080;"&gt;284&lt;/span&gt;), &lt;span style="color: #800080;"&gt;676.81&lt;/span&gt; KiB | &lt;span style="color: #800080;"&gt;12.00&lt;/span&gt; KiB/s, &lt;span style="color: #0000ff;"&gt;done&lt;/span&gt;&lt;span style="color: #000000;"&gt;.
Resolving deltas: &lt;/span&gt;&lt;span style="color: #800080;"&gt;100&lt;/span&gt;% (&lt;span style="color: #800080;"&gt;28&lt;/span&gt;/&lt;span style="color: #800080;"&gt;28&lt;/span&gt;), &lt;span style="color: #0000ff;"&gt;done&lt;/span&gt;.&lt;/pre&gt;
&lt;/div&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;p&gt;===写在后面===&lt;/p&gt;
&lt;p&gt;本文仅是Git的基本使用,可以作为新手入门教程。更多Git相关操作，请参考：&lt;/p&gt;
&lt;p&gt;1、&lt;a href="http://www.liaoxuefeng.com/wiki/0013739516305929606dd18361248578c67b8067c8c017b000" target="_blank"&gt;Git教程&lt;/a&gt;,极力推荐，尤其是新手。本文就参考了该教程。&lt;/p&gt;
&lt;p&gt;2、《Pro Git》一书,百度搜索吧;&lt;/p&gt;
&lt;p&gt;3、&lt;a href="http://git-scm.com/doc" target="_blank"&gt;Git官方教程&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;p&gt;&lt;span style="color: #993300;"&gt;觉得有收获，记得推荐一下哦！ &lt;/span&gt;&lt;/p&gt;&lt;/div&gt;&lt;div id="MySignature"&gt;&lt;/div&gt;
&lt;div class="clear"&gt;&lt;/div&gt;
&lt;div id="blog_post_info_block"&gt;
&lt;div id="BlogPostCategory"&gt;&lt;/div&gt;
&lt;div id="EntryTag"&gt;&lt;/div&gt;
&lt;div id="blog_post_info"&gt;
&lt;/div&gt;
&lt;div class="clear"&gt;&lt;/div&gt;
&lt;div id="post_next_prev"&gt;&lt;/div&gt;
&lt;/div&gt;


		&lt;/div&gt;
		&lt;div class="postDesc"&gt;posted @ &lt;span id="post-date"&gt;2014-09-15 22:28&lt;/span&gt; &lt;a href='http://www.cnblogs.com/52fhy/'&gt;飞鸿影~&lt;/a&gt; 阅读(&lt;span id="post_view_count"&gt;...&lt;/span&gt;) 评论(&lt;span id="post_comment_count"&gt;...&lt;/span&gt;)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3973887" rel="nofollow"&gt;编辑&lt;/a&gt; &lt;a href="#" onclick="AddToWz(3973887);return false;"&gt;收藏&lt;/a&gt;&lt;/div&gt;
	&lt;/div&gt;
	&lt;script type="text/javascript"&gt;var allowComments=true,isLogined=false,cb_blogId=195198,cb_entryId=3973887,cb_blogApp=currentBlogApp,cb_blogUserGuid='ef0dec32-8724-e411-8d02-90b11c0b17d6',cb_entryCreatedDate='2014/9/15 22:28:00';loadViewCount(cb_entryId);&lt;/script&gt;
	
&lt;/div&gt;&lt;!--end: topics 文章、评论容器--&gt;
&lt;a name="!comments"&gt;&lt;/a&gt;&lt;div id="blog-comments-placeholder"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;var commentManager = new blogCommentManager();commentManager.renderComments(0);&lt;/script&gt;
&lt;div id="comment_form" class="commentform"&gt;
&lt;a name="commentform"&gt;&lt;/a&gt;
&lt;div id="divCommentShow"&gt;&lt;/div&gt;
&lt;div id="comment_nav"&gt;&lt;span id="span_refresh_tips"&gt;&lt;/span&gt;&lt;a href="javascript:void(0);" id="lnk_RefreshComments" onclick="return RefreshCommentList();"&gt;刷新评论&lt;/a&gt;&lt;a href="#" onclick="return RefreshPage();"&gt;刷新页面&lt;/a&gt;&lt;a href="#top"&gt;返回顶部&lt;/a&gt;&lt;/div&gt;
&lt;div id="comment_form_container"&gt;&lt;/div&gt;
&lt;div class="ad_text_commentbox" id="ad_text_under_commentbox"&gt;&lt;/div&gt;
&lt;div id="site_nav_under"&gt;&lt;a href="http://www.cnblogs.com/" target="_blank" title="开发者的网上家园"&gt;博客园首页&lt;/a&gt;&lt;a href="http://q.cnblogs.com/" target="_blank" title="程序员问答社区"&gt;博问&lt;/a&gt;&lt;a href="http://news.cnblogs.com/" target="_blank" title="IT新闻"&gt;新闻&lt;/a&gt;&lt;a href="http://home.cnblogs.com/ing/" target="_blank"&gt;闪存&lt;/a&gt;&lt;a href="http://job.cnblogs.com/" target="_blank"&gt;程序员招聘&lt;/a&gt;&lt;a href="http://kb.cnblogs.com/" target="_blank"&gt;知识库&lt;/a&gt;&lt;/div&gt;
&lt;div id="opt_under_post"&gt;&lt;/div&gt;
&lt;script type="text/javascript"&gt;
    var enableGoogleAd = canShowAdsense(); var googletag = googletag || {}; googletag.cmd = googletag.cmd || [];
    fixPostBodyFormat();
&lt;/script&gt;
&lt;div id="ad_under_post_holder"&gt;
&lt;script type='text/javascript'&gt;
    var googletag = googletag || {};
    googletag.cmd = googletag.cmd || [];
    (function () {
        if (enableGoogleAd) {
            var gads = document.createElement('script');
            gads.async = true;
            gads.type = 'text/javascript';
            var useSSL = 'https:' == document.location.protocol;
            gads.src = (useSSL ? 'https:' : 'http:') + '//www.googletagservices.com/tag/js/gpt.js';
            var node = document.getElementsByTagName('script')[0];
            node.parentNode.insertBefore(gads, node);
        }
    })();
&lt;/script&gt;
&lt;script type='text/javascript'&gt;
    try {
        if (enableGoogleAd) {
            googletag.cmd.push(function () {
                googletag.defineSlot('/1090369/cnblogs_blogpost_C1_sitehome', [300, 250], 'div-gpt-ad-1346480159711-0').addService(googletag.pubads());
                googletag.pubads().enableSingleRequest();
                googletag.enableServices();
            });
        };
    } catch (e) { }
&lt;/script&gt;
&lt;div id="google_ad_c1" class="c_ad_block"&gt;
    &lt;div id='div-gpt-ad-1346480159711-0' style='width:300px; height:250px;'&gt;
    &lt;script type='text/javascript'&gt;
        try {
            if (enableGoogleAd) {
                googletag.cmd.push(function () { googletag.display('div-gpt-ad-1346480159711-0'); });            
            } else {
                $('#div-gpt-ad-1346480159711-0').hide();
            }
    } catch (e) { }
    &lt;/script&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;div id="blog_news_kb"&gt;&lt;/div&gt;
&lt;div id="HistoryToday" class="c_ad_block"&gt;&lt;/div&gt;
&lt;script type="text/javascript"&gt;
$(function () {
    loadNewsAndKb();
    loadBlogSignature();
    LoadPostInfoBlock(cb_blogId, cb_entryId, cb_blogApp, cb_blogUserGuid);
    GetPrevNextPost(cb_entryId, cb_blogId, cb_entryCreatedDate);
    loadOptUnderPost();
    GetHistoryToday(cb_blogId, cb_blogApp, cb_entryCreatedDate);
    setTimeout(function () { incrementViewCount(cb_entryId); }, 200);
});
&lt;/script&gt;
&lt;/div&gt;

	&lt;/div&gt;&lt;!--end: forFlow --&gt;
	&lt;/div&gt;&lt;!--end: mainContent 主体内容容器--&gt;

	&lt;div id="sideBar"&gt;
		&lt;div id="sideBarMain"&gt;
			
&lt;!--done--&gt;
&lt;div class="newsItem"&gt;
&lt;h3 class="catListTitle"&gt;公告&lt;/h3&gt;
	&lt;div id="blog-news"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;loadBlogNews();&lt;/script&gt;
&lt;/div&gt;

			&lt;div id="blog-calendar" style="display:none"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;loadBlogDefaultCalendar();&lt;/script&gt;
			
			&lt;div id="leftcontentcontainer"&gt;
				&lt;div id="blog-sidecolumn"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;loadBlogSideColumn();&lt;/script&gt;
			&lt;/div&gt;
			
		&lt;/div&gt;&lt;!--end: sideBarMain --&gt;
	&lt;/div&gt;&lt;!--end: sideBar 侧边栏容器 --&gt;
	&lt;div class="clear"&gt;&lt;/div&gt;
	&lt;/div&gt;&lt;!--end: main --&gt;
	&lt;div class="clear"&gt;&lt;/div&gt;
	&lt;div id="footer"&gt;
		
&lt;!--done--&gt;
Copyright &amp;copy;2014 飞鸿影~
	&lt;/div&gt;&lt;!--end: footer --&gt;
&lt;/div&gt;&lt;!--end: home 自定义的最大容器 --&gt;
&lt;/body&gt;
&lt;/html&gt;
</Html>
	<HtmlMetas i:nil="true" />
	<HtmlTitle i:nil="true" />
	<IsDefault>false</IsDefault>
	<Layout i:nil="true" />
	<Name>-52fhy-p-3973887.html</Name>
	<OutputCache i:nil="true" />
	<PageContents xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
	<Plugins xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<Published>false</Published>
	<RequireHttps>false</RequireHttps>
	<Routes>
		<PageRoute>
			<Defaults xmlns:d4p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
			<Identifier>/52fhy/p/3973887.html</Identifier>
			<RoutePath i:nil="true" />
		</PageRoute>
	</Routes>
	<Scripts i:nil="true" />
	<Site>
		<AbsoluteName xmlns="Ovaldi.Core.Models">Cnblogs</AbsoluteName>
	</Site>
	<Styles i:nil="true" />
	<UUID>-52fhy-p-3973887.html</UUID>
</Page>