<?xml version="1.0" encoding="utf-8"?>
<Page xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Ovaldi.Core.Models">
	<AbsoluteName>-kakake-</AbsoluteName>
	<CustomFields xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<EnableScript>true</EnableScript>
	<EnableTheming>true</EnableTheming>
	<Html>&lt;!DOCTYPE html&gt;
&lt;html lang="zh-cn"&gt;
&lt;head&gt;
&lt;meta charset="utf-8"&gt;
&lt;title&gt;kakake - 博客园&lt;/title&gt;
&lt;link type="text/css" rel="stylesheet" href="/preview~Cnblogs/Styles/bundles/blog-common.css"&gt;
&lt;link id="MainCss" type="text/css" rel="stylesheet" href="/preview~Cnblogs/Styles/skins/BlackLowKey/bundle-BlackLowKey.css"&gt;
&lt;link title="RSS" type="application/rss+xml" rel="alternate" href="http://www.cnblogs.com/kakake/rss"&gt;
&lt;link title="RSD" type="application/rsd+xml" rel="EditURI" href="http://www.cnblogs.com/kakake/rsd.xml"&gt;
&lt;link type="application/wlwmanifest+xml" rel="wlwmanifest" href="http://www.cnblogs.com/kakake/wlwmanifest.xml"&gt;
&lt;script src="http://common.cnblogs.com/script/jquery.js" type="text/javascript"&gt;&lt;/script&gt;  
&lt;script type="text/javascript"&gt;var currentBlogApp = 'kakake', cb_enable_mathjax=false;&lt;/script&gt;
&lt;script src="/preview~Cnblogs/Scripts/bundles/blog-common.js" type="text/javascript"&gt;&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;a name="top"&gt;&lt;/a&gt;

&lt;!--done--&gt;
&lt;div id="home"&gt;
&lt;div id="header"&gt;
	&lt;div id="blogTitle"&gt;
	&lt;a id="lnkBlogLogo" href="http://www.cnblogs.com/kakake/"&gt;&lt;img id="blogLogo" src="/preview~Cnblogs/Images/Skins/custom/images/logo.gif" alt="返回主页"&gt;&lt;/a&gt;			
		
&lt;!--done--&gt;
&lt;h1&gt;&lt;a id="Header1_HeaderTitle" class="headermaintitle" href="http://www.cnblogs.com/kakake/"&gt;kakake&lt;/a&gt;&lt;/h1&gt;
&lt;h2&gt;做产品需要的不是框架，需要的是积累，做项目需要的是框架，方便快速完成任务。
讨论QQ群：326578267&lt;/h2&gt;



		
	&lt;/div&gt;&lt;!--end: blogTitle 博客的标题和副标题 --&gt;
	&lt;div id="navigator"&gt;
		
&lt;ul id="navList"&gt;
&lt;li&gt;&lt;a id="MyLinks1_HomeLink" class="menu" href="http://www.cnblogs.com/"&gt;博客园&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a id="MyLinks1_MyHomeLink" class="menu" href="http://www.cnblogs.com/kakake/"&gt;首页&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a class="menu" href="http://q.cnblogs.com/"&gt;博问&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a class="menu" href="http://home.cnblogs.com/ing/"&gt;闪存&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a id="MyLinks1_NewPostLink" class="menu" rel="nofollow" href="http://i.cnblogs.com/EditPosts.aspx?opt=1"&gt;新随笔&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a id="MyLinks1_ContactLink" class="menu" rel="nofollow" href="http://space.cnblogs.com/msg/send/kakake"&gt;联系&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a id="MyLinks1_Syndication" class="menu" href="http://www.cnblogs.com/kakake/rss"&gt;订阅&lt;/a&gt;
&lt;!--&lt;a id="MyLinks1_XMLLink" class="aHeaderXML" href="http://www.cnblogs.com/kakake/rss"&gt;&lt;img src="http://www.cnblogs.com/images/xml.gif" alt="订阅" /&gt;&lt;/a&gt;--&gt;&lt;/li&gt;
&lt;li&gt;&lt;a id="MyLinks1_Admin" class="menu" rel="nofollow" href="http://i.cnblogs.com/"&gt;管理&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
		&lt;div class="blogStats"&gt;
			
			
&lt;!--done--&gt;
随笔- 16&amp;nbsp;
文章- 0&amp;nbsp;
评论- 227&amp;nbsp;

			
		&lt;/div&gt;&lt;!--end: blogStats --&gt;
	&lt;/div&gt;&lt;!--end: navigator 博客导航栏 --&gt;
&lt;/div&gt;&lt;!--end: header 头部 --&gt;

&lt;div id="main"&gt;
	&lt;div id="mainContent"&gt;
	&lt;div class="forFlow"&gt;
		

&lt;!--done--&gt;


&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_ctl00_ImageLink" href="http://www.cnblogs.com/kakake/"&gt;置顶随笔&lt;/a&gt;				  
	&lt;/div&gt;

	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_ctl00_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/kakake/p/3938262.html"&gt;[置顶]【开源】EnterpriseFrameWork框架系列文章索引&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: 一、EnterpriseFrameWork框架总体介绍二、利用EnterpriseFrameWork快速开发Web系统（B/S）三、利用EnterpriseFrameWork快速开发Winform系统（C/S）四、利用EnterpriseFrameWork快速开发基于WCF为中间件的三层结构系统五、...&lt;a href="http://www.cnblogs.com/kakake/p/3938262.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-08-27 22:50 kakake 阅读(1428) 评论(21)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3938262" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;


&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl00_ImageLink" href="http://www.cnblogs.com/kakake/archive/2014/09/16.html"&gt;2014年9月16日&lt;/a&gt;				  
	&lt;/div&gt;

	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl00_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/kakake/p/3974044.html"&gt;十五、EnterpriseFrameWork框架核心类库之系统启动入口与初始化&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="postlist-postbody_loading" id="postlist_postbody_3974044"&gt;正文内容加载中...&lt;/div&gt;&lt;script type="text/javascript"&gt;getBlogPostBody(3974044);&lt;/script&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-09-16 00:33 kakake 阅读(416) 评论(2)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3974044" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;


&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl01_ImageLink" href="http://www.cnblogs.com/kakake/archive/2014/09/14.html"&gt;2014年9月14日&lt;/a&gt;				  
	&lt;/div&gt;

	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl01_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/kakake/p/3970795.html"&gt;十四、EnterpriseFrameWork框架核心类库之简易ORM&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: 在写本章前先去网上找了一下关于ORM的相关资料，以为本章做准备，发现很多东西今天才了解，所以在这里也对ORM做不了太深入的分析，但还是浅谈一下EFW框架中的设计的简易ORM；文中有一点讲得很有道理，Dao与ORM的区别，Dao是对数据库操作的封装，编写的代码方式像一种设计方法，而ORM支持对象...&lt;a href="http://www.cnblogs.com/kakake/p/3970795.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-09-14 11:17 kakake 阅读(501) 评论(4)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3970795" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;


&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl02_ImageLink" href="http://www.cnblogs.com/kakake/archive/2014/09/13.html"&gt;2014年9月13日&lt;/a&gt;				  
	&lt;/div&gt;

	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl02_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/kakake/p/3969392.html"&gt;十三、EnterpriseFrameWork框架核心类库之数据库操作（多数据库事务处理）&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: 本章介绍框架中封装的数据库操作的一些功能，在实现的过程中费了不少心思，针对不同数据库的操作（SQLServer、Oracle、DB2）这方面还是比较简单的，用工厂模式就能很好解决，反而是在多数据库同时操作方面走了不少弯路；现在从以下几个方面进行说明：本文要点：1.不同数据库操作2.多数据库同时...&lt;a href="http://www.cnblogs.com/kakake/p/3969392.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-09-13 00:42 kakake 阅读(679) 评论(4)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3969392" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;


&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl03_ImageLink" href="http://www.cnblogs.com/kakake/archive/2014/09/11.html"&gt;2014年9月11日&lt;/a&gt;				  
	&lt;/div&gt;

	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl03_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/kakake/p/3967452.html"&gt;十二、EnterpriseFrameWork框架核心类库之与EntLib结合&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: 从本章开始对框架的讲叙开始进入核心类库的讲解，前面都是对框架外在功能讲解，让人有个整体的概念，知道包含哪些功能与对系统开发有什么帮助。以后多章都是讲解核心类库的，讲解的方式基本按照代码的目录结构，这样阅读代码的时候也可以针对性看；还有就是为了更好理解文章中的内容把目前还不够完善的源代码发布，这...&lt;a href="http://www.cnblogs.com/kakake/p/3967452.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-09-11 23:21 kakake 阅读(939) 评论(18)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3967452" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;


&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl04_ImageLink" href="http://www.cnblogs.com/kakake/archive/2014/09/10.html"&gt;2014年9月10日&lt;/a&gt;				  
	&lt;/div&gt;

	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl04_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/kakake/p/3965260.html"&gt;十一、EnterpriseFrameWork框架的分层与系统业务的结合&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: 上章详细讲了EnterpriseFrameWork框架中的每个分层，这都是从技术层面来说明，也就是我们知道怎么来建一个控制器或一个业务对象，但开发过程中应该建一个什么样的控制器或业务对象了？本章的主要内容是说明根据系统业务、客户需求如何来设计合理的控制器和业务对象。文件要点：1.粗略介绍系统分...&lt;a href="http://www.cnblogs.com/kakake/p/3965260.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-09-10 22:13 kakake 阅读(635) 评论(5)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3965260" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
			&lt;div class="postSeparator"&gt;&lt;/div&gt;
		
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl04_DayList_TitleUrl_1" class="postTitle2" href="http://www.cnblogs.com/kakake/p/3963643.html"&gt;十、EnterpriseFrameWork框架的分层架构及意义（控制器、业务对象、实体、Dao之间关系）&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: 本章内容主要包括两个方面，一、是框架分层（控制器、业务对象、实体、Dao）的详细说明，二、是对比常用三层结构的区别和优势；本文要点：1.框架中的各个分层详细说明2.对比常用三层结构的区别和优势3.分享两个项目中的小经验4.网络资料我们先看一下前面实例中的解决方案目录：我们再看各层之间的调用关系：上图...&lt;a href="http://www.cnblogs.com/kakake/p/3963643.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-09-10 00:45 kakake 阅读(777) 评论(6)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3963643" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;


&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl05_ImageLink" href="http://www.cnblogs.com/kakake/archive/2014/09/04.html"&gt;2014年9月4日&lt;/a&gt;				  
	&lt;/div&gt;

	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl05_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/kakake/p/3956934.html"&gt;九、EnterpriseFrameWork框架基础功能之消息管理&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: 记得阿朱在《走出软件作坊》一书中有一章讲客户提的需求太邪门了，鼠标键盘不太会用要程序员开发一个语音输入功能，还要系统中带类似QQ的功能；确实刚开始的客户的想法有点天真，但是随着信息化的越来越普遍，客户对信息系统也比较了解，特别年轻的信息管理人员，除了接受能力强，并且长期站在客户的角度对信息系统...&lt;a href="http://www.cnblogs.com/kakake/p/3956934.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-09-04 21:46 kakake 阅读(875) 评论(8)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3956934" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;


&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl06_ImageLink" href="http://www.cnblogs.com/kakake/archive/2014/09/03.html"&gt;2014年9月3日&lt;/a&gt;				  
	&lt;/div&gt;

	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl06_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/kakake/p/3954570.html"&gt;八、EnterpriseFrameWork框架基础功能之自定义报表&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: 本章写关于框架中的“自定义报表”，类似上章“字典管理”也是三部分功能组成，包括配置报表、对报表按角色授权、查看报表；其核心思想就是实现新增一个报表而不用修改程序代码、不用升级，只需要编写一个存储过程，再设计一个报表格式就能够给客户使用；当然此功能也不是万能的，也不能解决项目中的所有报表需求，比如...&lt;a href="http://www.cnblogs.com/kakake/p/3954570.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-09-03 21:14 kakake 阅读(636) 评论(6)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3954570" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;


&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl07_ImageLink" href="http://www.cnblogs.com/kakake/archive/2014/09/02.html"&gt;2014年9月2日&lt;/a&gt;				  
	&lt;/div&gt;

	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl07_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/kakake/p/3952232.html"&gt;七、EnterpriseFrameWork框架基础功能之字典数据配置管理&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: 框架中的“通用字典数据配置管理”主要解决的问题是，所有的行业软件给客户实施第一步一般都是基础数据的维护，一个系统的字典是少不了的，涉及业务范围越广字典就越多，如果每一个字典数据都做一个界面来进行维护数据的话，那开发工作量还是比较大的，所以得考虑设计一个通用的模块来管理这些字典数据；本文要点：...&lt;a href="http://www.cnblogs.com/kakake/p/3952232.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-09-02 20:44 kakake 阅读(638) 评论(3)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3952232" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;


&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl08_ImageLink" href="http://www.cnblogs.com/kakake/archive/2014/09/01.html"&gt;2014年9月1日&lt;/a&gt;				  
	&lt;/div&gt;

	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl08_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/kakake/p/3950160.html"&gt;六、EnterpriseFrameWork框架基础功能之权限管理&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: 回《【开源】EnterpriseFrameWork框架系列文章索引》 从本章开始进入框架的第二块内容“EnterpriseFrameWork框架的基础功能”，包括：权限管理、字典数据管理、报表管理和消息管理四块，这些功能又包括两个版本，Web版和Winform版也就是说有两套界面。 既然...&lt;a href="http://www.cnblogs.com/kakake/p/3950160.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-09-01 22:11 kakake 阅读(842) 评论(10)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3950160" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;


&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl09_ImageLink" href="http://www.cnblogs.com/kakake/archive/2014/08/30.html"&gt;2014年8月30日&lt;/a&gt;				  
	&lt;/div&gt;

	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl09_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/kakake/p/3947041.html"&gt;五、利用EnterpriseFrameWork快速开发基于WebServices的接口&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: 回《【开源】EnterpriseFrameWork框架系列文章索引》EnterpriseFrameWork框架实例源代码下载：实例下载 前面几章已完成EnterpriseFrameWork框架开发系统的三种模式，Web模式、Winform模式以及WCF模式，本章主要针对最后一种模式WebServ...&lt;a href="http://www.cnblogs.com/kakake/p/3947041.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-08-30 22:30 kakake 阅读(599) 评论(5)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3947041" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;


&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl10_ImageLink" href="http://www.cnblogs.com/kakake/archive/2014/08/29.html"&gt;2014年8月29日&lt;/a&gt;				  
	&lt;/div&gt;

	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl10_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/kakake/p/3945878.html"&gt;四、利用EnterpriseFrameWork快速开发基于WCF为中间件的三层结构系统&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: 回《【开源】EnterpriseFrameWork框架系列文章索引》EnterpriseFrameWork框架实例源代码下载：实例下载 本章内容与上一张《利用EnterpriseFrameWork快速开发Winform系统（C/S）》关系紧密，WCF模式只是在Winform模式中的界面层和逻辑层之...&lt;a href="http://www.cnblogs.com/kakake/p/3945878.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-08-29 23:15 kakake 阅读(721) 评论(5)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3945878" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;


&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl11_ImageLink" href="http://www.cnblogs.com/kakake/archive/2014/08/28.html"&gt;2014年8月28日&lt;/a&gt;				  
	&lt;/div&gt;

	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl11_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/kakake/p/3942691.html"&gt;三、利用EnterpriseFrameWork快速开发Winform系统（C/S）&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: EnterpriseFrameWork框架实例源代码下载：实例下载 上一章讲解了开发Web系统的详细步骤，以书籍的管理作实例实现对书籍的增、删、改、查功能，本章接着上面的实例继续补充用Winform界面来实现此功能；本文要点：1.Winform版界面效果2.Winform项目开发步骤3.代码文件调...&lt;a href="http://www.cnblogs.com/kakake/p/3942691.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-08-28 21:31 kakake 阅读(1072) 评论(8)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3942691" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;


&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl12_ImageLink" href="http://www.cnblogs.com/kakake/archive/2014/08/27.html"&gt;2014年8月27日&lt;/a&gt;				  
	&lt;/div&gt;

	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl12_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/kakake/p/3938262.html"&gt;【开源】EnterpriseFrameWork框架系列文章索引&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: 一、EnterpriseFrameWork框架总体介绍二、利用EnterpriseFrameWork快速开发Web系统（B/S）三、利用EnterpriseFrameWork快速开发Winform系统（C/S）四、利用EnterpriseFrameWork快速开发基于WCF为中间件的三层结构系统五、...&lt;a href="http://www.cnblogs.com/kakake/p/3938262.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-08-27 22:50 kakake 阅读(1428) 评论(21)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3938262" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;

&lt;div class="topicListFooter"&gt;&lt;a href="http://www.cnblogs.com/kakake/default.html?OnlyTitle=1"&gt;仅列出标题&lt;/a&gt;&amp;nbsp;&amp;nbsp;&lt;/div&gt;


	&lt;/div&gt;&lt;!--end: forFlow --&gt;
	&lt;/div&gt;&lt;!--end: mainContent 主体内容容器--&gt;

	&lt;div id="sideBar"&gt;
		&lt;div id="sideBarMain"&gt;
			
&lt;!--done--&gt;
&lt;div class="newsItem"&gt;
&lt;h3 class="catListTitle"&gt;公告&lt;/h3&gt;
	&lt;div id="blog-news"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;loadBlogNews();&lt;/script&gt;
&lt;/div&gt;

			&lt;div id="blog-calendar" style="display:none"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;loadBlogDefaultCalendar();&lt;/script&gt;
			
			&lt;div id="leftcontentcontainer"&gt;
				&lt;div id="blog-sidecolumn"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;loadBlogSideColumn();&lt;/script&gt;
			&lt;/div&gt;
			
		&lt;/div&gt;&lt;!--end: sideBarMain --&gt;
	&lt;/div&gt;&lt;!--end: sideBar 侧边栏容器 --&gt;
	&lt;div class="clear"&gt;&lt;/div&gt;
	&lt;/div&gt;&lt;!--end: main --&gt;
	&lt;div class="clear"&gt;&lt;/div&gt;
	&lt;div id="footer"&gt;
		
&lt;!--done--&gt;
Copyright &amp;copy;2014 kakake
	&lt;/div&gt;&lt;!--end: footer --&gt;
&lt;/div&gt;&lt;!--end: home 自定义的最大容器 --&gt;
&lt;/body&gt;
&lt;/html&gt;
</Html>
	<HtmlMetas i:nil="true" />
	<HtmlTitle i:nil="true" />
	<IsDefault>false</IsDefault>
	<Layout i:nil="true" />
	<Name>-kakake-</Name>
	<OutputCache i:nil="true" />
	<PageContents xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
	<Plugins xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<Published>false</Published>
	<RequireHttps>false</RequireHttps>
	<Routes>
		<PageRoute>
			<Defaults xmlns:d4p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
			<Identifier>/kakake/</Identifier>
			<RoutePath i:nil="true" />
		</PageRoute>
	</Routes>
	<Scripts i:nil="true" />
	<Site>
		<AbsoluteName xmlns="Ovaldi.Core.Models">Cnblogs</AbsoluteName>
	</Site>
	<Styles i:nil="true" />
	<UUID>-kakake-</UUID>
</Page>