<?xml version="1.0" encoding="utf-8"?>
<Page xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Ovaldi.Core.Models">
	<AbsoluteName>-products-kooboo-mail</AbsoluteName>
	<CustomFields xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<EnableScript>true</EnableScript>
	<EnableTheming>true</EnableTheming>
	<Html>&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
    &lt;meta charset="utf-8"&gt;
    &lt;title&gt;Products | kooboo.com&lt;/title&gt;
    
    &lt;link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700,800" rel="stylesheet"&gt;
    &lt;link rel="Stylesheet" href="/preview~kooboo/Styles/Kooboo-WebResource/Index/jQuery-Styles/20130227" type="text/css"&gt;
&lt;link type="text/css" rel="stylesheet" href="/preview~kooboo/Styles/Kooboo_COM_V4/Kooboo-Resource/theme/1_0_0_20131217100901/true/Default"&gt;
&lt;!--[if lte IE 8]&gt;&lt;link rel="stylesheet" type="text/css" href="/Cms_Data/Sites/Kooboo_COM_V4/Themes/Default/ie.css" /&gt;&lt;![endif]--&gt;

    &lt;!--[if lt IE 9]&gt;&lt;script src="/Cms_Data/Sites/Kooboo_COM_V4/Files/js/html5.js"&gt;&lt;/script&gt;&lt;![endif]--&gt;

    &lt;script src="/preview~kooboo/Scripts/Kooboo-WebResource/Index/jQuery/20130227" type="text/javascript"&gt;&lt;/script&gt;
&lt;script type="text/javascript" src="/preview~kooboo/Scripts/Kooboo_COM_V4/Kooboo-Resource/scripts/1_0_0_20131217100901/True"&gt;&lt;/script&gt;

&lt;/head&gt;
&lt;body&gt;
    &lt;div id="body-container"&gt;
        &lt;header id="header"&gt;
            &lt;div class="container"&gt;
                &lt;div class="top"&gt;
                    &lt;div class="global-width clearfix"&gt;
                        &lt;h1 class="logo"&gt;&lt;a href="/"&gt;
                            &lt;img src="/preview~kooboo/Images/Cms_Data/Sites/Kooboo_COM_V4/Files/image/logo.png" alt="Kooboo LOGO"&gt;&lt;/a&gt;&lt;/h1&gt;
                        &lt;nav class="nav"&gt;
                            

&lt;ul class="main"&gt;
               &lt;li class=''&gt;&lt;a class="icon home" href="/"&gt;&lt;span&gt;Home&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
               &lt;li class='active'&gt;&lt;a href="/products/kooboo-cms" target=""&gt;Products&lt;/a&gt;&lt;/li&gt;
                 &lt;li class=''&gt;&lt;a href="/cases" target=""&gt;Cases&lt;/a&gt;&lt;/li&gt;
                &lt;li class=''&gt;&lt;a href="/docs/kooboo-cms/all" target=""&gt;Docs&lt;/a&gt;&lt;/li&gt;
                 &lt;li class=''&gt;&lt;a href="/updates" target=""&gt;Updates&lt;/a&gt;&lt;/li&gt;
                 &lt;li class=''&gt;&lt;a href="http://kooboo.codeplex.com" target="_blank"&gt;Download&lt;/a&gt;&lt;/li&gt;
                 &lt;li class=''&gt;&lt;a href="http://forum.kooboo.com" target=""&gt;Forum&lt;/a&gt;&lt;/li&gt;
                 &lt;li class=''&gt;&lt;a href="/contact" target=""&gt;Contact&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
                            &lt;ul class="quicklinks"&gt;
    &lt;li&gt;&lt;a class="button orange border" href="http://online.kooboo.com" target="_blank"&gt;Online demo&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;

                        &lt;/nav&gt;
                    &lt;/div&gt;
                    &lt;div class="shadow"&gt;&lt;/div&gt;
                &lt;/div&gt;
                
                &lt;div class="global-width clearfix"&gt;
                    &lt;h2 class="page-title"&gt;Our products&lt;/h2&gt;

&lt;ul class="tab-index"&gt;
        &lt;li&gt;&lt;a href="/products/kooboo-cms" target=""&gt;Kooboo CMS&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="/products/kooboo-mail" target=""&gt;Kooboo Mail&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="/products/virtocommerce" target=""&gt;VirtoCommerce&lt;/a&gt;&lt;/li&gt;

&lt;/ul&gt;

                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/header&gt;
        &lt;div id="main-container"&gt;
            
            &lt;div class="global-width clearfix"&gt;
                





&lt;div class="block product"&gt;
    &lt;h3 class="title"&gt;About Kooboo Mail&lt;/h3&gt;
    &lt;div class="columns clearfix"&gt;
        &lt;div class="span4"&gt;
            &lt;div class="content"&gt;
                &lt;p style="margin: 0px 0px 10px; padding: 0px; color: #606060; font-family: Arial, Helvetica, sans-serif; font-size: 12px; line-height: 18px;"&gt;&lt;strong&gt;Grow your business with email marketing. Guaranteed.&lt;/strong&gt;&lt;/p&gt;
&lt;p style="margin: 0px 0px 10px; padding: 0px; color: #606060; font-family: Arial, Helvetica, sans-serif; font-size: 12px; line-height: 18px;"&gt;More information, see: &lt;a href="http://www.kooboomail.com"&gt;http://www.kooboomail.com&lt;/a&gt;&lt;/p&gt;
&lt;p style="margin: 0px 0px 10px; padding: 0px; color: #606060; font-family: Arial, Helvetica, sans-serif; font-size: 12px; line-height: 18px;"&gt;Key features:&lt;/p&gt;
&lt;ul style="margin: 0px 0px 10px; padding: 0px 0px 0px 20px; color: #606060; font-family: Arial, Helvetica, sans-serif; font-size: 12px; line-height: 18px;"&gt;
&lt;li style="margin: 0px; padding: 0px; list-style: disc outside;"&gt;Import/export subscriber lists by using a CSV file, Excel, or MS SQL server.&lt;/li&gt;
&lt;li style="margin: 0px; padding: 0px; list-style: disc outside;"&gt;Dual mode campaign editing. Use pre-designed templates or a rich text editor.&lt;/li&gt;
&lt;li style="margin: 0px; padding: 0px; list-style: disc outside;"&gt;3-step campaign testing. Check your spam score, use a test list, and preview the email.&lt;/li&gt;
&lt;li style="margin: 0px; padding: 0px; list-style: disc outside;"&gt;Merge fields to personalize greetings by grabbing a subscriber's unique information from the database.&lt;/li&gt;
&lt;li style="margin: 0px; padding: 0px; list-style: disc outside;"&gt;Preview your email in more than 30 different devices including Iphone, Ipad and gmail.&amp;nbsp;&lt;/li&gt;
&lt;li style="margin: 0px; padding: 0px; list-style: disc outside;"&gt;Create mailing lists with a catch-all address allowing subscribers to easily collaborate to an email thread.&lt;/li&gt;
&lt;li style="margin: 0px; padding: 0px; list-style: disc outside;"&gt;Campaign reports reveal need-to-know statistics on the performance, your user census and more.&lt;/li&gt;
&lt;/ul&gt;
            &lt;/div&gt;
          
          &lt;a href="http://www.kooboomail.com" class="button orange"&gt;Read more&lt;/a&gt;
        &lt;/div&gt;
        &lt;div class="span8"&gt;
            &lt;div class="slider"&gt;
                &lt;ul class="bxslider"&gt;
                                &lt;li&gt;&lt;img src="/preview~kooboo/Images/Cms_Data/Contents/Kooboo_COM_V4/Media/Kooboo%20Mail%20User%20Manual/screenshot/kooboomail-overview.png" alt="Kooboo Mail"&gt;&lt;/li&gt;
            &lt;li&gt;&lt;img src="/preview~kooboo/Images/Cms_Data/Contents/Kooboo_COM_V4/Media/Kooboo%20Mail%20User%20Manual/screenshot/kooboomail-edit1.png" alt="Kooboo Mail"&gt;&lt;/li&gt;
            &lt;li&gt;&lt;img src="/preview~kooboo/Images/Cms_Data/Contents/Kooboo_COM_V4/Media/Kooboo%20Mail%20User%20Manual/screenshot/kooboo_inbox.png" alt="Kooboo Mail"&gt;&lt;/li&gt;
            &lt;li&gt;&lt;img src="/preview~kooboo/Images/Cms_Data/Contents/Kooboo_COM_V4/Media/Kooboo%20Mail%20User%20Manual/screenshot/kooboomail-report.png" alt="Kooboo Mail"&gt;&lt;/li&gt;

                &lt;/ul&gt;
                &lt;div class="control"&gt;
                    &lt;span id="slide-prev" href="#"&gt;&lt;/span&gt;
                    &lt;span id="slide-next" href="#"&gt;&lt;/span&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;





            &lt;/div&gt;
        &lt;/div&gt;
        &lt;footer id="footer"&gt;
            
            &lt;div class="global-width clearfix"&gt;
    &lt;div class="columns clearfix"&gt;
        &lt;div class="span5"&gt;
            &lt;div class="block about"&gt;
                &lt;h6 class="title"&gt;About&lt;/h6&gt;
                &lt;div class="content"&gt;&lt;p&gt;Kooboo is an international web development firm with its core development team based in China.&amp;nbsp; Kooboo contains products and practices to meet all your web development needs, allowing you complete freedom in development.&amp;nbsp; Kooboo comprises Kooboo products (Design tools, CMS, Ecommerce, and Newsletters), Kooboo people, Kooboo service, and Kooboo network.&lt;/p&gt;&lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="span3"&gt;
            &lt;div class="block links"&gt;
                &lt;h6 class="title"&gt;Links&lt;/h6&gt;
                &lt;ul&gt;
                    &lt;li&gt;&lt;a href=""&gt;Home&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a href="/licensefaq"&gt;License&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a href="http://forum.kooboo.com" target="_blank"&gt;Community Forum&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a href="/privacy-policy"&gt;Privacy Policy&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a href="/service"&gt;Service&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a href="/partner"&gt;Partner Network&lt;/a&gt;&lt;/li&gt;
                &lt;/ul&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="span4"&gt;
            &lt;div class="block updates"&gt;
    &lt;h6 class="title"&gt;Updates&lt;/h6&gt;
    &lt;ul&gt;
            &lt;li&gt;
                &lt;a href="/updates/detail/dutch-consulate-general-visits-kooboo-office" target=""&gt;Dutch Consulate General visits Kooboo office&lt;/a&gt;
                &lt;span class="date"&gt;December 10, 2013&lt;/span&gt;
            &lt;/li&gt;
            &lt;li&gt;
                &lt;a href="/updates/detail/kooboo-developers-to-sweden" target=""&gt;Kooboo developers to Sweden&lt;/a&gt;
                &lt;span class="date"&gt;May 5, 2013&lt;/span&gt;
            &lt;/li&gt;
            &lt;li&gt;
                &lt;a href="/updates/detail/kooboo-show-case-from-rb2-partner" target=""&gt;Kooboo showcase from rb2 partner&lt;/a&gt;
                &lt;span class="date"&gt;February 23, 2013&lt;/span&gt;
            &lt;/li&gt;
    &lt;/ul&gt;
&lt;/div&gt;

        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;div class="bottom"&gt;
    &lt;div class="global-width clearfix"&gt;
        &lt;p class="copyright"&gt;&amp;copy;Copyright 2009 - 2014 &lt;a href="/"&gt;Kooboo team&lt;/a&gt; All Rights Reserved.&lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;

        &lt;/footer&gt;
    &lt;/div&gt;

&lt;/body&gt;
&lt;/html&gt;
</Html>
	<HtmlMetas i:nil="true" />
	<HtmlTitle i:nil="true" />
	<IsDefault>false</IsDefault>
	<Layout i:nil="true" />
	<Name>-products-kooboo-mail</Name>
	<OutputCache i:nil="true" />
	<PageContents xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
	<Plugins xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<Published>false</Published>
	<RequireHttps>false</RequireHttps>
	<Routes>
		<PageRoute>
			<Defaults xmlns:d4p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
			<Identifier>/products/kooboo-mail</Identifier>
			<RoutePath i:nil="true" />
		</PageRoute>
	</Routes>
	<Scripts i:nil="true" />
	<Site>
		<AbsoluteName xmlns="Ovaldi.Core.Models">kooboo</AbsoluteName>
	</Site>
	<Styles i:nil="true" />
	<UUID>-products-kooboo-mail</UUID>
</Page>