<?xml version="1.0" encoding="utf-8"?>
<Page xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Ovaldi.Core.Models">
	<AbsoluteName>-rr163-p-3975261.html</AbsoluteName>
	<CustomFields xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<EnableScript>true</EnableScript>
	<EnableTheming>true</EnableTheming>
	<Html>&lt;!DOCTYPE html&gt;
&lt;html lang="zh-cn"&gt;
&lt;head&gt;
&lt;meta charset="utf-8"&gt;
&lt;title&gt;.NET开发不可错过的25款高效工具 - r163 - 博客园&lt;/title&gt;
&lt;link type="text/css" rel="stylesheet" href="/preview~Cnblogs/Styles/bundles/blog-common.css"&gt;
&lt;link id="MainCss" type="text/css" rel="stylesheet" href="/preview~Cnblogs/Styles/skins/facebook/bundle-facebook.css"&gt;
&lt;link type="text/css" rel="stylesheet" href="/preview~Cnblogs/Styles/blog/customcss/192553.css"&gt;
&lt;link title="RSS" type="application/rss+xml" rel="alternate" href="http://www.cnblogs.com/rr163/rss"&gt;
&lt;link title="RSD" type="application/rsd+xml" rel="EditURI" href="http://www.cnblogs.com/rr163/rsd.xml"&gt;
&lt;link type="application/wlwmanifest+xml" rel="wlwmanifest" href="http://www.cnblogs.com/rr163/wlwmanifest.xml"&gt;
&lt;script src="http://common.cnblogs.com/script/jquery.js" type="text/javascript"&gt;&lt;/script&gt;  
&lt;script type="text/javascript"&gt;var currentBlogApp = 'rr163', cb_enable_mathjax=false;&lt;/script&gt;
&lt;script src="/preview~Cnblogs/Scripts/bundles/blog-common.js" type="text/javascript"&gt;&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;a name="top"&gt;&lt;/a&gt;
&lt;div id="page_begin_html"&gt;&lt;/div&gt;&lt;script&gt;load_page_begin_html();&lt;/script&gt;

&lt;div id="home"&gt;
&lt;div id="header"&gt;
	&lt;div id="blogTitle"&gt;
		
&lt;!--done--&gt;
&lt;h1&gt;&lt;a id="Header2_HeaderTitle" class="headermaintitle" href="http://www.cnblogs.com/rr163/"&gt;我的代码宝库&lt;/a&gt;&lt;/h1&gt;
&lt;h2&gt;&lt;/h2&gt;



		
	&lt;/div&gt;&lt;!--end: blogTitle 博客的标题和副标题 --&gt;
	&lt;div id="navigator"&gt;
		
&lt;!--done--&gt;
			&lt;ul id="navList"&gt;
				&lt;li&gt;&lt;a id="MyLinks1_HomeLink" class="menu" href="http://www.cnblogs.com/"&gt;博客园&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a id="MyLinks1_MyHomeLink" class="menu" href="http://www.cnblogs.com/rr163/"&gt;首页&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a id="MyLinks1_NewPostLink" class="menu" rel="nofollow" href="http://i.cnblogs.com/EditPosts.aspx?opt=1"&gt;新随笔&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a id="MyLinks1_ContactLink" accesskey="9" class="menu" rel="nofollow" href="http://space.cnblogs.com/msg/send/r163"&gt;联系&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a id="MyLinks1_Admin" class="menu" rel="nofollow" href="http://i.cnblogs.com/"&gt;管理&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a id="MyLinks1_Syndication" class="menu" href="http://www.cnblogs.com/rr163/rss"&gt;订阅&lt;/a&gt;
				&lt;a id="MyLinks1_XMLLink" class="aHeaderXML" href="http://www.cnblogs.com/rr163/rss"&gt;&lt;img src="/preview~Cnblogs/Images/images/xml.gif" alt="订阅"&gt;&lt;/a&gt;&lt;/li&gt;
			&lt;/ul&gt;


		&lt;div class="blogStats"&gt;
			
			
&lt;!--done--&gt;
随笔- 40&amp;nbsp;
文章- 0&amp;nbsp;
评论- 8&amp;nbsp;

			
		&lt;/div&gt;&lt;!--end: blogStats --&gt;
	&lt;/div&gt;&lt;!--end: navigator 博客导航栏 --&gt;
&lt;/div&gt;&lt;!--end: header 头部 --&gt;

&lt;div id="main"&gt;
	&lt;div id="mainContent"&gt;
	&lt;div class="forFlow"&gt;
		

&lt;!--done--&gt;
&lt;div id="topics"&gt;
	&lt;div class="post"&gt;
		&lt;h1 class="postTitle"&gt;
			&lt;a id="cb_post_title_url" class="postTitle2" href="http://www.cnblogs.com/rr163/p/3975261.html"&gt;.NET开发不可错过的25款高效工具&lt;/a&gt;
		&lt;/h1&gt;
		&lt;div class="clear"&gt;&lt;/div&gt;
		&lt;div class="postBody"&gt;
			&lt;div id="cnblogs_post_body"&gt;&lt;p&gt;　这些年来，微软的 .NET 开发团队不断在更新升级开发工具，这也提供了一个机会，让我们能对 .NET 系列的开发工具做出不断的评估和规范。以下是我们总结出的一些 .NET 开发不可错过的高效工具。&amp;nbsp;&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;p&gt;　　1. Two&amp;nbsp;monitors&amp;mdash;&amp;mdash;必备的。&amp;nbsp;&lt;/p&gt;
&lt;p&gt;　　2.&lt;span class="Apple-converted-space"&gt;&amp;nbsp;&lt;a href="http://msdn.microsoft.com/en-us/vstudio/default.aspx" rel="nofollow"&gt;Visual Studio&lt;/a&gt;&amp;nbsp;&amp;mdash;&amp;mdash;同样的，也是必备的。&amp;nbsp;&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;　　3.&lt;span class="Apple-converted-space"&gt;&amp;nbsp;&lt;a href="http://www.launchy.net/" rel="nofollow"&gt;Launchy&lt;/a&gt;&amp;nbsp;&amp;mdash;&amp;mdash;一款免费的必备工具。它能帮助开发者快速调用电脑中的程序快捷方式，而无需再通过传统的&amp;ldquo;开始&amp;rdquo;&amp;mdash;&amp;mdash;&amp;ldquo;所有程序&amp;rdquo;中寻找所需的程序。在安装后，只需键入 Alt&amp;nbsp;+&amp;nbsp;Space (空格)即可调出 Launchy&amp;nbsp;，就可以看到漂亮的界面。&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;　　4.&lt;span class="Apple-converted-space"&gt;&amp;nbsp;&lt;a href="http://www.winsplit-revolution.com/" rel="nofollow"&gt;WinSplit Revolution&lt;/a&gt;&amp;mdash;&amp;mdash;另一款免费的必备工具。它帮助开发者灵活控制屏幕里的&amp;ldquo;窗口&amp;rdquo;，迅速在整个屏幕缩放或安排已开启的窗口，并方便的左移、右移、平铺、缩放和布置它们，诸如此类操作。&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;　　5.&lt;span class="Apple-converted-space"&gt;&amp;nbsp;&lt;a href="http://www.scootersoftware.com/" rel="nofollow"&gt;Beyond Compare&lt;/a&gt;&amp;mdash;&amp;mdash;一款不可多得的专业级文件夹和文件对比工具。使用它可以很方便的对比出两个文件夹或者文件的不同之处，并把相差的每一个字节用颜色加以表示，查看方便。遗憾的是，它并不是免费的，30 美金/许可证。&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;　　6.&lt;span class="Apple-converted-space"&gt;&amp;nbsp;&lt;a href="http://www.eventlogxp.com/" rel="nofollow"&gt;Event Log Explorer&lt;/a&gt;&amp;nbsp;&amp;mdash;&amp;mdash;一款检测系统安全的软件。通过它可以查看、监视和分析跟事件记录，包括安全、系统、应用&amp;nbsp;程序和其他微软 Windows 的记录中被记载的事件。这也不是一款免费软件，每次升级许可证需缴纳 50 美金，可以为 10 台电脑使用。&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;　　7.&lt;span class="Apple-converted-space"&gt;&amp;nbsp;&lt;a href="http://www.mikogo.com/" rel="nofollow"&gt;Mikogo&lt;/a&gt;&amp;nbsp;&amp;mdash;&amp;mdash;一款易于使用的跨平台桌面共享软件，主要用于网络会议、在线会议、远程协助。无论是商业或是个人使用，一律完全免费。&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;　　8.&lt;span class="Apple-converted-space"&gt;&amp;nbsp;&lt;a href="http://notepad-plus-plus.org/" rel="nofollow"&gt;Notepad++&lt;/a&gt;&amp;nbsp;&amp;mdash;&amp;mdash;一款非常有特色的编辑器，是开源软件，且可以免费使用。&amp;nbsp;当开发人员不想单独打开&amp;ldquo;庞大&amp;rdquo;的 IDE，而又需要对代码做出修改的时候可以考虑它。&amp;nbsp;&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;　　9.&lt;span class="Apple-converted-space"&gt;&amp;nbsp;&lt;a href="http://www.nunit.org/" rel="nofollow"&gt;NUnit&lt;/a&gt;&amp;nbsp;&amp;mdash;&amp;mdash;一款经典的为 .NET 准备的自动化单元测试框架，它的作用就是帮助开发人员方便的完成单元测试工作。免费！&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;　　10.&lt;span class="Apple-converted-space"&gt;&amp;nbsp;&lt;a href="http://code.google.com/p/moq/" rel="nofollow"&gt;Moq&lt;/a&gt;&amp;nbsp;&amp;mdash;&amp;mdash;一基于 .Net3.5、C#3.0 的 Mock 框架。免费！&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;　　11.&lt;span class="Apple-converted-space"&gt;&amp;nbsp;&lt;a href="http://www.balsamiq.com/" rel="nofollow"&gt;Balsamiq&lt;/a&gt;&amp;nbsp;&amp;mdash;&amp;mdash;一款产品设计师绘制线框图或产品原型界面的利器。它也不是免费的，80 美金/许可证。&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;　　12.&amp;nbsp;&lt;a href="http://www.fiddler2.com/fiddler2/" rel="nofollow"&gt;Fiddler&lt;/a&gt;&amp;nbsp;&amp;mdash;&amp;mdash;这款软件能帮助记录所有的你的电脑和互联网之间的 http 通讯，它也可以让开发者检查所有的 http 通讯，设置断点，以及通过 Fiddle 所有的&amp;ldquo;进出&amp;rdquo;的数据。&lt;/p&gt;
&lt;p&gt;　　13.&lt;span class="Apple-converted-space"&gt;&amp;nbsp;&lt;a href="http://www.techsmith.com/" rel="nofollow"&gt;Snagit&lt;/a&gt;&amp;nbsp;&amp;mdash;&amp;mdash;&amp;nbsp;一款老牌屏幕捕捉软件。提供免费的评估(试用)版，单独购买许可证的话，需要花费 50 美金。&amp;nbsp;&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;　　14.&lt;span class="Apple-converted-space"&gt;&amp;nbsp;&lt;a href="http://blog.kowalczyk.info/software/sumatrapdf/index.html" rel="nofollow"&gt;Sumatra PDF&lt;/a&gt;&amp;nbsp;&amp;nbsp;&amp;mdash;&amp;mdash;一款开源的 PDF 阅读器。&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;　　15. Refactor!&amp;nbsp;Pro&amp;mdash;&amp;mdash;为 VS.NET 编程开发的一套组件和代码重构工具。&amp;nbsp;&lt;/p&gt;
&lt;p&gt;　　16.&amp;nbsp;&lt;a href="http://tortoisesvn.tigris.org/" rel="nofollow"&gt;TortoiseSVN&lt;/a&gt;&amp;mdash;&amp;mdash;作为 Subversion 版本控制系统的一个免费开源客户端，它可以帮助开发团队超越时间的管理文件和目录。&lt;/p&gt;
&lt;p&gt;　　17.&lt;span class="Apple-converted-space"&gt;&amp;nbsp;&lt;a href="http://www.testdriven.net/" rel="nofollow"&gt;TestDriven.NET&lt;/a&gt;&amp;mdash;&amp;mdash;以插件的形式集成在 Visual&amp;nbsp;Studio.NET&amp;nbsp;IDE 中的单元测试工具，能够兼容各种 Visual&amp;nbsp;Studio 版本。&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;　　18.&lt;span class="Apple-converted-space"&gt;&amp;nbsp;&lt;a href="http://www.microsoft.com/windowsserver2003/technologies/management/powershell/default.mspx" rel="nofollow"&gt;PowerShell&lt;/a&gt;&amp;nbsp;&amp;mdash;&amp;mdash;.NET 开发人员应该关注的命令行外壳和脚本系统管理工具。&amp;nbsp;&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;　　19.&lt;span class="Apple-converted-space"&gt;&amp;nbsp;&lt;a href="http://office.microsoft.com/en-us/" target="_blank"&gt;Microsoft Office&lt;/a&gt;&amp;nbsp;&amp;mdash;&amp;mdash;&amp;nbsp;每一个人都需要处理邮件、文档和电子表格。&amp;nbsp;&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;　　此外，&lt;a href="http://www.ssmstoolspack.com/" rel="nofollow"&gt;SSMS Tools Pack&lt;/a&gt;&amp;nbsp;、&lt;a href="http://www.axosoft.com/" rel="nofollow"&gt;OnTime&lt;/a&gt;&amp;nbsp; 、&lt;a href="http://www.devexpress.com/Products/Visual_Studio_Add-in/Refactoring/" rel="nofollow"&gt;Refactor! Pro&lt;/a&gt;&amp;nbsp;、&lt;a href="http://www.jetbrains.com/teamcity/" rel="nofollow"&gt;TeamCity Tray Notifier&lt;/a&gt;&amp;nbsp;、&lt;a href="http://www.subsonicproject.com/Download" rel="nofollow"&gt;SubSonic 2.1&lt;/a&gt;&amp;nbsp;、&lt;a href="http://www.mybatis.org/" rel="nofollow"&gt;MyBatis&lt;/a&gt;&amp;nbsp;也是 .NET 开发者应该关注的工具。&lt;/p&gt;
&lt;p&gt;　　英文原文：&lt;a href="http://www.barebonescoder.com/2010/07/essential-tools-for-net-development/" target="_blank"&gt;Essential Tools for .NET Development&lt;/a&gt;&amp;nbsp;译文:&lt;span class="Apple-converted-space"&gt;&amp;nbsp;&lt;a id="link_source2" href="http://www.csdn.net/article/2014-09-04/2821563-net-tools" target="_blank"&gt;CSDN&lt;/a&gt;&lt;/span&gt;&lt;/p&gt;&lt;/div&gt;&lt;div id="MySignature"&gt;&lt;/div&gt;
&lt;div class="clear"&gt;&lt;/div&gt;
&lt;div id="blog_post_info_block"&gt;
&lt;div id="BlogPostCategory"&gt;&lt;/div&gt;
&lt;div id="EntryTag"&gt;&lt;/div&gt;
&lt;div id="blog_post_info"&gt;
&lt;/div&gt;
&lt;div class="clear"&gt;&lt;/div&gt;
&lt;div id="post_next_prev"&gt;&lt;/div&gt;
&lt;/div&gt;


		&lt;/div&gt;
		&lt;div class="postDesc"&gt;posted @ &lt;span id="post-date"&gt;2014-09-16 16:45&lt;/span&gt; &lt;a href='http://www.cnblogs.com/rr163/'&gt;r163&lt;/a&gt; 阅读(&lt;span id="post_view_count"&gt;...&lt;/span&gt;) 评论(&lt;span id="post_comment_count"&gt;...&lt;/span&gt;)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3975261" rel="nofollow"&gt;编辑&lt;/a&gt; &lt;a href="#" onclick="AddToWz(3975261);return false;"&gt;收藏&lt;/a&gt;&lt;/div&gt;
	&lt;/div&gt;
	&lt;script type="text/javascript"&gt;var allowComments=true,isLogined=false,cb_blogId=192553,cb_entryId=3975261,cb_blogApp=currentBlogApp,cb_blogUserGuid='717e1096-f912-e411-8d02-90b11c0b17d6',cb_entryCreatedDate='2014/9/16 16:45:00';loadViewCount(cb_entryId);&lt;/script&gt;
	
&lt;/div&gt;
&lt;!--end: topics 文章、评论容器--&gt;
&lt;a name="!comments"&gt;&lt;/a&gt;&lt;div id="blog-comments-placeholder"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;var commentManager = new blogCommentManager();commentManager.renderComments(0);&lt;/script&gt;
&lt;div id="comment_form" class="commentform"&gt;
&lt;a name="commentform"&gt;&lt;/a&gt;
&lt;div id="divCommentShow"&gt;&lt;/div&gt;
&lt;div id="comment_nav"&gt;&lt;span id="span_refresh_tips"&gt;&lt;/span&gt;&lt;a href="javascript:void(0);" id="lnk_RefreshComments" onclick="return RefreshCommentList();"&gt;刷新评论&lt;/a&gt;&lt;a href="#" onclick="return RefreshPage();"&gt;刷新页面&lt;/a&gt;&lt;a href="#top"&gt;返回顶部&lt;/a&gt;&lt;/div&gt;
&lt;div id="comment_form_container"&gt;&lt;/div&gt;
&lt;div class="ad_text_commentbox" id="ad_text_under_commentbox"&gt;&lt;/div&gt;
&lt;div id="site_nav_under"&gt;&lt;a href="http://www.cnblogs.com/" target="_blank" title="开发者的网上家园"&gt;博客园首页&lt;/a&gt;&lt;a href="http://q.cnblogs.com/" target="_blank" title="程序员问答社区"&gt;博问&lt;/a&gt;&lt;a href="http://news.cnblogs.com/" target="_blank" title="IT新闻"&gt;新闻&lt;/a&gt;&lt;a href="http://home.cnblogs.com/ing/" target="_blank"&gt;闪存&lt;/a&gt;&lt;a href="http://job.cnblogs.com/" target="_blank"&gt;程序员招聘&lt;/a&gt;&lt;a href="http://kb.cnblogs.com/" target="_blank"&gt;知识库&lt;/a&gt;&lt;/div&gt;
&lt;div id="opt_under_post"&gt;&lt;/div&gt;
&lt;script type="text/javascript"&gt;
    var enableGoogleAd = canShowAdsense(); var googletag = googletag || {}; googletag.cmd = googletag.cmd || [];
    fixPostBodyFormat();
&lt;/script&gt;
&lt;div id="ad_under_post_holder"&gt;
&lt;script type='text/javascript'&gt;
    var googletag = googletag || {};
    googletag.cmd = googletag.cmd || [];
    (function () {
        if (enableGoogleAd) {
            var gads = document.createElement('script');
            gads.async = true;
            gads.type = 'text/javascript';
            var useSSL = 'https:' == document.location.protocol;
            gads.src = (useSSL ? 'https:' : 'http:') + '//www.googletagservices.com/tag/js/gpt.js';
            var node = document.getElementsByTagName('script')[0];
            node.parentNode.insertBefore(gads, node);
        }
    })();
&lt;/script&gt;
&lt;script type='text/javascript'&gt;
    try {
        if (enableGoogleAd) {
            googletag.cmd.push(function () {
                googletag.defineSlot('/1090369/cnblogs_blogpost_C1_sitehome', [300, 250], 'div-gpt-ad-1346480159711-0').addService(googletag.pubads());
                googletag.pubads().enableSingleRequest();
                googletag.enableServices();
            });
        };
    } catch (e) { }
&lt;/script&gt;
&lt;div id="google_ad_c1" class="c_ad_block"&gt;
    &lt;div id='div-gpt-ad-1346480159711-0' style='width:300px; height:250px;'&gt;
    &lt;script type='text/javascript'&gt;
        try {
            if (enableGoogleAd) {
                googletag.cmd.push(function () { googletag.display('div-gpt-ad-1346480159711-0'); });            
            } else {
                $('#div-gpt-ad-1346480159711-0').hide();
            }
    } catch (e) { }
    &lt;/script&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;div id="blog_news_kb"&gt;&lt;/div&gt;
&lt;div id="HistoryToday" class="c_ad_block"&gt;&lt;/div&gt;
&lt;script type="text/javascript"&gt;
$(function () {
    loadNewsAndKb();
    loadBlogSignature();
    LoadPostInfoBlock(cb_blogId, cb_entryId, cb_blogApp, cb_blogUserGuid);
    GetPrevNextPost(cb_entryId, cb_blogId, cb_entryCreatedDate);
    loadOptUnderPost();
    GetHistoryToday(cb_blogId, cb_blogApp, cb_entryCreatedDate);
    setTimeout(function () { incrementViewCount(cb_entryId); }, 200);
});
&lt;/script&gt;
&lt;/div&gt;

	&lt;/div&gt;&lt;!--end: forFlow --&gt;
	&lt;/div&gt;&lt;!--end: mainContent 主体内容容器--&gt;

	&lt;div id="sideBar"&gt;
		&lt;div id="sideBarMain"&gt;
		&lt;div id="calendar"&gt;&lt;div id="blog-calendar" style="display:none"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;loadBlogDefaultCalendar();&lt;/script&gt;&lt;/div&gt;
			
&lt;!--done--&gt;
&lt;div class="newsItem"&gt;
&lt;h3 class="catListTitle"&gt;公告&lt;/h3&gt;
	&lt;div id="blog-news"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;loadBlogNews();&lt;/script&gt;
&lt;/div&gt;
			
			
			&lt;div id="leftcontentcontainer"&gt;
				&lt;div id="blog-sidecolumn"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;loadBlogSideColumn();&lt;/script&gt;
			&lt;/div&gt;
			
		&lt;/div&gt;&lt;!--end: sideBarMain --&gt;
	&lt;/div&gt;&lt;!--end: sideBar 侧边栏容器 --&gt;
	&lt;div class="clear"&gt;&lt;/div&gt;
	&lt;/div&gt;&lt;!--end: main --&gt;
	&lt;div class="clear"&gt;&lt;/div&gt;
	&lt;div id="footer"&gt;
		
&lt;!--done--&gt;
Copyright &amp;copy;2014 r163
	&lt;/div&gt;&lt;!--end: footer --&gt;
&lt;/div&gt;&lt;!--end: home 自定义的最大容器 --&gt;
&lt;!--PageEndHtml Block Begin--&gt;
&lt;script type="text/javascript"&gt;BAIDU_CLB_SLOT_ID = "957273";&lt;/script&gt;
&lt;script type="text/javascript" src="http://cbjs.baidu.com/js/o.js"&gt;&lt;/script&gt;

&lt;script type="text/javascript"&gt;
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F4aa6070ef86013e5fa9b9fdd1e16a38b' type='text/javascript'%3E%3C/script%3E"));
&lt;/script&gt;
&lt;!--PageEndHtml Block End--&gt;
&lt;/body&gt;
&lt;/html&gt;
</Html>
	<HtmlMetas i:nil="true" />
	<HtmlTitle i:nil="true" />
	<IsDefault>false</IsDefault>
	<Layout i:nil="true" />
	<Name>-rr163-p-3975261.html</Name>
	<OutputCache i:nil="true" />
	<PageContents xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
	<Plugins xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<Published>false</Published>
	<RequireHttps>false</RequireHttps>
	<Routes>
		<PageRoute>
			<Defaults xmlns:d4p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
			<Identifier>/rr163/p/3975261.html</Identifier>
			<RoutePath i:nil="true" />
		</PageRoute>
	</Routes>
	<Scripts i:nil="true" />
	<Site>
		<AbsoluteName xmlns="Ovaldi.Core.Models">Cnblogs</AbsoluteName>
	</Site>
	<Styles i:nil="true" />
	<UUID>-rr163-p-3975261.html</UUID>
</Page>