<?xml version="1.0" encoding="utf-8"?>
<Page xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Ovaldi.Core.Models">
	<AbsoluteName>-zhouhongyu1989-p-3957856.html</AbsoluteName>
	<CustomFields xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<EnableScript>true</EnableScript>
	<EnableTheming>true</EnableTheming>
	<Html>&lt;!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"&gt;
&lt;html xmlns="http://www.w3.org/1999/xhtml" lang="zh-cn"&gt;
&lt;head&gt;
&lt;meta http-equiv="Content-Type" content="text/html; charset=utf-8"&gt;
&lt;title&gt;ASP.NET 使用ajaxfileupload.js插件出现上传较大文件失败的解决方法（ajaxfileupload.js第一弹） - 我不会抽烟Oscar - 博客园&lt;/title&gt;
&lt;link type="text/css" rel="stylesheet" href="/preview~Cnblogs/Styles/bundles/blog-common.css"&gt;
&lt;link id="MainCss" type="text/css" rel="stylesheet" href="/preview~Cnblogs/Styles/skins/arrow/bundle-arrow.css"&gt;
&lt;link title="RSS" type="application/rss+xml" rel="alternate" href="http://www.cnblogs.com/zhouhongyu1989/rss"&gt;
&lt;link title="RSD" type="application/rsd+xml" rel="EditURI" href="http://www.cnblogs.com/zhouhongyu1989/rsd.xml"&gt;
&lt;link type="application/wlwmanifest+xml" rel="wlwmanifest" href="http://www.cnblogs.com/zhouhongyu1989/wlwmanifest.xml"&gt;
&lt;script src="http://common.cnblogs.com/script/jquery.js" type="text/javascript"&gt;&lt;/script&gt;  
&lt;script type="text/javascript"&gt;var currentBlogApp = 'zhouhongyu1989', cb_enable_mathjax=true;&lt;/script&gt;
&lt;script src="/preview~Cnblogs/Scripts/bundles/blog-common.js" type="text/javascript"&gt;&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;a name="top"&gt;&lt;/a&gt;

&lt;!--done--&gt;
&lt;div id="header"&gt;
	
&lt;!--done--&gt;
&lt;div class="header"&gt;
	&lt;div class="headerText"&gt;
		&lt;a id="Header1_HeaderTitle" class="headermaintitle" href="http://www.cnblogs.com/zhouhongyu1989/"&gt;我不会抽烟Oscar&lt;/a&gt;&lt;br&gt;
		
	&lt;/div&gt;
&lt;/div&gt;

&lt;/div&gt;
&lt;div id="mylinks"&gt;
&lt;!--done--&gt;
&lt;a id="MyLinks1_HomeLink" class="menu" href="http://www.cnblogs.com/"&gt;博客园&lt;/a&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;
&lt;a id="MyLinks1_MyHomeLink" class="menu" href="http://www.cnblogs.com/zhouhongyu1989/"&gt;首页&lt;/a&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;
&lt;a id="MyLinks1_NewPostLink" class="menu" rel="nofollow" href="http://i.cnblogs.com/EditPosts.aspx?opt=1"&gt;新随笔&lt;/a&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;
&lt;a id="MyLinks1_ContactLink" accesskey="9" class="menu" rel="nofollow" href="http://space.cnblogs.com/msg/send/%e6%88%91%e4%b8%8d%e4%bc%9a%e6%8a%bd%e7%83%9fOscar"&gt;联系&lt;/a&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;
&lt;a id="MyLinks1_Syndication" class="menu" href="http://www.cnblogs.com/zhouhongyu1989/rss"&gt;订阅&lt;/a&gt;&lt;a id="MyLinks1_XMLLink" href="http://www.cnblogs.com/zhouhongyu1989/rss"&gt;&lt;img src="/preview~Cnblogs/Images/images/xml.gif" alt="订阅"&gt;&lt;/a&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;
&lt;a id="MyLinks1_Admin" class="menu" rel="nofollow" href="http://i.cnblogs.com/"&gt;管理&lt;/a&gt;
&lt;/div&gt;
&lt;div id="mytopmenu"&gt;
	
		
&lt;div class="blogStats"&gt;随笔 - 18&amp;nbsp;
文章 - 0&amp;nbsp;评论 - 118&amp;nbsp;trackbacks - 0
&lt;/div&gt;
	
&lt;/div&gt;
&lt;div id="leftcontent"&gt;
	
		&lt;div id="leftcontentcontainer"&gt;
			&lt;div id="blog-calendar" style="display:none"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;loadBlogDefaultCalendar();&lt;/script&gt;&lt;br&gt;
			
&lt;!--done--&gt;
&lt;div class="newsItem"&gt;
	&lt;div id="blog-news"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;loadBlogNews();&lt;/script&gt;
&lt;/div&gt;

			&lt;div id="blog-sidecolumn"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;loadBlogSideColumn();&lt;/script&gt;&lt;/div&gt;		
	
&lt;/div&gt;
&lt;div id="centercontent"&gt;
	

&lt;!--done--&gt;
&lt;div class="post"&gt;
	&lt;div class="postTitle"&gt;
		&lt;h1&gt;&lt;a id="cb_post_title_url" class="postTitle2" href="http://www.cnblogs.com/zhouhongyu1989/p/3957856.html"&gt;ASP.NET 使用ajaxfileupload.js插件出现上传较大文件失败的解决方法（ajaxfileupload.js第一弹）&lt;/a&gt;&lt;/h1&gt;
	&lt;/div&gt;
	&lt;div id="cnblogs_post_body"&gt;&lt;p&gt;在写这篇的时候本来想把标题直接写成报错的提示，如下：&lt;/p&gt;
&lt;p&gt;&lt;span style="color: #ff0000;"&gt;&amp;ldquo;SecurityError：Blocked a frame with origin "&lt;/span&gt;&lt;a href="http://localhost:55080&amp;quot;"&gt;&lt;span style="color: #ff0000;"&gt;http://localhost:55080"&lt;/span&gt;&lt;/a&gt;&lt;span style="color: #ff0000;"&gt; from accessing a cross-origin frame.&amp;rdquo;&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;但是有点长，会显示不全，就想还是换一下吧，想了一下&lt;/p&gt;
&lt;p&gt;&lt;span style="color: #ff0000;"&gt;&amp;ldquo;ASP.NET 上传过大图片或文件报错解决办法&amp;rdquo;&lt;/span&gt;，&lt;/p&gt;
&lt;p&gt;然后当我写完这个题目之后，我觉得这篇文章好像根本没有写的必要，估计看完题目就会想到关于web.config配置的方面了。但是想写的内容真的不是那么&amp;ldquo;单纯&amp;rdquo;的，毕竟是花了自己几个小时去研究的啊~~所以又想了一下，变成了现在的这个题目，就是想和大家分享一下。&lt;/p&gt;
&lt;p&gt;那言归正传了。&lt;/p&gt;
&lt;p&gt;先上一下报错的提示截图：&lt;/p&gt;
&lt;p&gt;先提示&lt;/p&gt;
&lt;p&gt;&lt;a href="http://images.cnitblog.com/blog/639859/201409/051318001253313.jpg"&gt;&lt;img src="http://images.cnitblog.com/blog/639859/201409/051318255162423.jpg" alt=""&gt;&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;后提示&lt;/p&gt;
&lt;p&gt;&lt;a href="http://images.cnitblog.com/blog/639859/201409/051318017358553.jpg"&gt;&lt;img src="http://images.cnitblog.com/blog/639859/201409/051318367501757.jpg" alt=""&gt;&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;是这样的，在网上下载了一个ajaxfileupload.js插件，用于无刷新上传图片使的，然后就按照demo的例子去运行了一下，上传啊什么的都OK，但是正好上传的示例图片有一个比较大的，4M，5M的样子，然后上传就会报上面的错误。&lt;/p&gt;
&lt;p&gt;单纯看我的描述，明显发现就是图片较大的原因，可能很快就会想到web.config的配置问题上，但是当我是当局者的时候，就没有那么灵光了，因为有提示错误，就有去百度一下，结果查到是什么&amp;ldquo;跨域调函数&amp;rdquo;的问题，至此，这个问题我探究的方向已经走偏。&lt;/p&gt;
&lt;p&gt;虽然问题提示当中没有明显的说出是跟上传图片的大小有关系，但是这个问题确实是因为没有设置上传文件的大小，而asp.net的默认上传文件大小是&lt;span style="color: #ff0000;"&gt;2M&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;我先把解决方法告诉大家，就是在Web.config的&amp;lt;system.web&amp;gt;中加上下面这段&lt;/p&gt;
&lt;pre class="csharpcode"&gt;&lt;span class="kwrd"&gt;&amp;lt;&lt;/span&gt;&lt;span class="html"&gt;httpRuntime&lt;/span&gt; &lt;span class="attr"&gt;maxRequestLength&lt;/span&gt;&lt;span class="kwrd"&gt;="4096"&lt;/span&gt;
    &lt;span class="attr"&gt;useFullyQualifiedRedirectUrl&lt;/span&gt;&lt;span class="kwrd"&gt;="true"&lt;/span&gt;
    &lt;span class="attr"&gt;executionTimeout&lt;/span&gt;&lt;span class="kwrd"&gt;="6000"&lt;/span&gt;
    &lt;span class="attr"&gt;minFreeThreads&lt;/span&gt;&lt;span class="kwrd"&gt;="8"&lt;/span&gt;
    &lt;span class="attr"&gt;minLocalRequestFreeThreads&lt;/span&gt;&lt;span class="kwrd"&gt;="4"&lt;/span&gt;
    &lt;span class="attr"&gt;appRequestQueueLimit&lt;/span&gt;&lt;span class="kwrd"&gt;="100"&lt;/span&gt;
    &lt;span class="attr"&gt;enableVersionHeader&lt;/span&gt;&lt;span class="kwrd"&gt;="true"&lt;/span&gt; &lt;span class="kwrd"&gt;/&amp;gt;&lt;/span&gt;&lt;/pre&gt;
&lt;style&gt;&lt;!--
.csharpcode, .csharpcode pre
{
	font-size: small;
	color: black;
	font-family: consolas, "Courier New", courier, monospace;
	background-color: #ffffff;
	/*white-space: pre;*/
}
.csharpcode pre { margin: 0em; }
.csharpcode .rem { color: #008000; }
.csharpcode .kwrd { color: #0000ff; }
.csharpcode .str { color: #006080; }
.csharpcode .op { color: #0000c0; }
.csharpcode .preproc { color: #cc6633; }
.csharpcode .asp { background-color: #ffff00; }
.csharpcode .html { color: #800000; }
.csharpcode .attr { color: #ff0000; }
.csharpcode .alt 
{
	background-color: #f4f4f4;
	width: 100%;
	margin: 0em;
}
.csharpcode .lnum { color: #606060; }
--&gt;&lt;/style&gt;
&lt;p&gt;说明：&lt;/p&gt;
&lt;p&gt;&lt;span style="color: #808080;"&gt;&lt;a href="http://images.cnitblog.com/blog/639859/201409/051318036723696.jpg"&gt;&lt;img src="http://images.cnitblog.com/blog/639859/201409/051319062031692.jpg" alt=""&gt;&lt;/a&gt; &lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="color: #808080;"&gt;华丽的分割线&lt;/span&gt;&lt;/p&gt;
&lt;hr&gt;
&lt;p&gt;&lt;span style="color: #808080;"&gt;华丽的分割线&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;如果大家想了解我对整个问题的探究过程，那就继续往下看，蛮有意思的（其实也因为探究问题最初的跑偏，让我学习到了相关的更多知识，过程比较恶心，但是结果比较开心。）&lt;/p&gt;
&lt;p&gt;话说查那个报错提示，就是&amp;ldquo;&lt;span style="color: #ff0000;"&gt;SecurityError：Blocked a frame with origin "&lt;/span&gt;&lt;a href="http://localhost:55080&amp;quot;"&gt;&lt;span style="color: #ff0000;"&gt;http://localhost:55080"&lt;/span&gt;&lt;/a&gt;&lt;span style="color: #ff0000;"&gt; from accessing a cross-origin frame.&lt;/span&gt;&amp;rdquo;这句，然后提到了什么&amp;ldquo;跨域调函数&amp;rdquo;，当时就迷糊了，这是什么东西啊？然后看到一篇文章是讲关于这个的，主要说就是页面中存在一个iframe，然后iframe中的js代码与页面中的js代码相互调用，在某种情况下就变成了跨域的调用，就会报错。&lt;/p&gt;
&lt;p&gt;查到这里我就已经有点不耐烦了，因为貌似需要去查看ajaxfileupload.js插件的源代码了，说实话，看js源码是我众多不爱做的事情之一。但是我又是不喜欢遇到问题草草了事的人，所以必须要看一下了。&lt;/p&gt;
&lt;p&gt;&lt;span style="color: #ff0000;"&gt;最初其实我比较纳闷的是js如何实现将文件上传的？&lt;/span&gt;当然，我知道是ajax，但是导向页面的时候，后台是怎么得到的想要上传文件路径的呢？（前台是死都不会让你得到的，只会是类似c:\fakepath\XXX.jpg）原谅我的无知，其实一直在用ASP.NET的自带控件，从来也就没有把这些问题当回事（只是最近好像才灵光一些，听一些朋友说现在开发都不会用ASP.NET的自带控件了，所以最近才开始改变），但是当需要用&lt;span style="color: #0000ff;"&gt;&amp;lt;input type=file /&amp;gt;&lt;/span&gt;的时候，才知道自己真的是一无所知。好杯具啊~&lt;/p&gt;
&lt;p&gt;说一下js是怎样通过ajax实现上传文件的吧，简单说就是通过提交表单，把包含有&lt;span style="color: #0000ff;"&gt;&amp;lt;input type=file /&amp;gt;&lt;/span&gt;的form提交就OK了，然后在后台通过&lt;/p&gt;
&lt;pre class="csharpcode"&gt;HttpFileCollection files = System.Web.HttpContext.Current.Request.Files&lt;/pre&gt;
&lt;p&gt;就能得到这个文件对象，然后就可以进行一系列的操作了。不过通常都是先把文件保存到一个我们指定的目录下，如果你想预览图片，那么就只能调出拷贝到指定目录下的图片去显示。不知道我说的清楚否？&lt;/p&gt;
&lt;style&gt;&lt;!--
.csharpcode, .csharpcode pre
{
	font-size: small;
	color: black;
	font-family: consolas, "Courier New", courier, monospace;
	background-color: #ffffff;
	/*white-space: pre;*/
}
.csharpcode pre { margin: 0em; }
.csharpcode .rem { color: #008000; }
.csharpcode .kwrd { color: #0000ff; }
.csharpcode .str { color: #006080; }
.csharpcode .op { color: #0000c0; }
.csharpcode .preproc { color: #cc6633; }
.csharpcode .asp { background-color: #ffff00; }
.csharpcode .html { color: #800000; }
.csharpcode .attr { color: #ff0000; }
.csharpcode .alt 
{
	background-color: #f4f4f4;
	width: 100%;
	margin: 0em;
}
.csharpcode .lnum { color: #606060; }
--&gt;&lt;/style&gt;
&lt;p&gt;下面说说 ajaxfileupload.js插件是怎么实现文件上传的吧，它是动态的去创建一个iframe和一个form，然后clone（克隆）页面中的&lt;span style="color: #0000ff;"&gt;&amp;lt;input type=file /&amp;gt;&lt;/span&gt;到这个form中，之后提交这个动态创建的form，这样后台就能知道你想上传的文件是什么了，返回的内容显示到动态iframe中，更重要的是这是一个无刷新的上传啊！感觉这个想法简直酷毙了。&lt;/p&gt;
&lt;p&gt;回到问题，在这个过程中我发现完全没有所谓的&amp;ldquo;跨域调函数&amp;rdquo;的问题，后来跟着浏览器打断点。发现选择较大文件上传的时候，动态iframe的文档结构根本就没有生成出来，接着就被catch住了。&lt;/p&gt;
&lt;p&gt;因为整个js的代码看的还算仔细，感觉也没什么尿点。就是因为上传文件的大小不同会导致iframe的文档结构能否生成，所以这时候我才有点反过劲儿来，是不是项目配置的问题啊？然后就找到了上面的解决办法。&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;p&gt;兜了一个大圈子终于把问题解决，但是关于ajaxfileupload.js插件的事儿还没有完，如有兴趣，请关注：&lt;/p&gt;
&lt;p&gt;&lt;a title="jQuery 关于ajaxfileupload.js插件的逐步解析（ajaxfileupload.js第二弹）" href="http://www.cnblogs.com/zhouhongyu1989/p/3962046.html" target="_blank"&gt;jQuery 关于ajaxfileupload.js插件的逐步解析（ajaxfileupload.js第二弹）&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;&lt;a title="jQuery 自制上传头像插件-附带Demo实例（ajaxfileupload.js第三弹）" href="http://www.cnblogs.com/zhouhongyu1989/p/3963748.html" target="_blank"&gt;jQuery 自制上传头像插件-附带Demo实例（ajaxfileupload.js第三弹）&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;p&gt;&lt;em&gt;&lt;strong&gt;补充：&lt;/strong&gt;&lt;/em&gt;&lt;/p&gt;
&lt;p&gt;《&lt;a title="jQuery 关于IE9上传文件无法进入后台问题的原因及解决办法（ajaxfileupload.js第四弹）" href="http://www.cnblogs.com/zhouhongyu1989/p/3966423.html" target="_blank"&gt;jQuery 关于IE9上传文件无法进入后台问题的原因及解决办法（ajaxfileupload.js第四弹）&lt;/a&gt;》&lt;/p&gt;&lt;/div&gt;&lt;div id="MySignature"&gt;&lt;/div&gt;
&lt;div class="clear"&gt;&lt;/div&gt;
&lt;div id="blog_post_info_block"&gt;
&lt;div id="BlogPostCategory"&gt;&lt;/div&gt;
&lt;div id="EntryTag"&gt;&lt;/div&gt;
&lt;div id="blog_post_info"&gt;
&lt;/div&gt;
&lt;div class="clear"&gt;&lt;/div&gt;
&lt;div id="post_next_prev"&gt;&lt;/div&gt;
&lt;/div&gt;


	&lt;div class="postDesc"&gt;posted on &lt;span id="post-date"&gt;2014-09-05 13:18&lt;/span&gt; &lt;a href='http://www.cnblogs.com/zhouhongyu1989/'&gt;我不会抽烟Oscar&lt;/a&gt; 阅读(&lt;span id="post_view_count"&gt;...&lt;/span&gt;) 评论(&lt;span id="post_comment_count"&gt;...&lt;/span&gt;)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3957856" rel="nofollow"&gt;编辑&lt;/a&gt; &lt;a href="#" onclick="AddToWz(3957856);return false;"&gt;收藏&lt;/a&gt;&lt;/div&gt;
&lt;/div&gt;
&lt;script type="text/javascript"&gt;var allowComments=true,isLogined=false,cb_blogId=187958,cb_entryId=3957856,cb_blogApp=currentBlogApp,cb_blogUserGuid='902cd865-c3eb-e311-8d02-90b11c0b17d6',cb_entryCreatedDate='2014/9/5 13:18:00';loadViewCount(cb_entryId);&lt;/script&gt;

&lt;a name="!comments"&gt;&lt;/a&gt;&lt;div id="blog-comments-placeholder"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;var commentManager = new blogCommentManager();commentManager.renderComments(0);&lt;/script&gt;
&lt;div id="comment_form" class="commentform"&gt;
&lt;a name="commentform"&gt;&lt;/a&gt;
&lt;div id="divCommentShow"&gt;&lt;/div&gt;
&lt;div id="comment_nav"&gt;&lt;span id="span_refresh_tips"&gt;&lt;/span&gt;&lt;a href="javascript:void(0);" id="lnk_RefreshComments" onclick="return RefreshCommentList();"&gt;刷新评论&lt;/a&gt;&lt;a href="#" onclick="return RefreshPage();"&gt;刷新页面&lt;/a&gt;&lt;a href="#top"&gt;返回顶部&lt;/a&gt;&lt;/div&gt;
&lt;div id="comment_form_container"&gt;&lt;/div&gt;
&lt;div class="ad_text_commentbox" id="ad_text_under_commentbox"&gt;&lt;/div&gt;
&lt;div id="site_nav_under"&gt;&lt;a href="http://www.cnblogs.com/" target="_blank" title="开发者的网上家园"&gt;博客园首页&lt;/a&gt;&lt;a href="http://q.cnblogs.com/" target="_blank" title="程序员问答社区"&gt;博问&lt;/a&gt;&lt;a href="http://news.cnblogs.com/" target="_blank" title="IT新闻"&gt;新闻&lt;/a&gt;&lt;a href="http://home.cnblogs.com/ing/" target="_blank"&gt;闪存&lt;/a&gt;&lt;a href="http://job.cnblogs.com/" target="_blank"&gt;程序员招聘&lt;/a&gt;&lt;a href="http://kb.cnblogs.com/" target="_blank"&gt;知识库&lt;/a&gt;&lt;/div&gt;
&lt;div id="opt_under_post"&gt;&lt;/div&gt;
&lt;script type="text/javascript"&gt;
    var enableGoogleAd = canShowAdsense(); var googletag = googletag || {}; googletag.cmd = googletag.cmd || [];
    fixPostBodyFormat();
&lt;/script&gt;
&lt;div id="ad_under_post_holder"&gt;
&lt;script type='text/javascript'&gt;
    var googletag = googletag || {};
    googletag.cmd = googletag.cmd || [];
    (function () {
        if (enableGoogleAd) {
            var gads = document.createElement('script');
            gads.async = true;
            gads.type = 'text/javascript';
            var useSSL = 'https:' == document.location.protocol;
            gads.src = (useSSL ? 'https:' : 'http:') + '//www.googletagservices.com/tag/js/gpt.js';
            var node = document.getElementsByTagName('script')[0];
            node.parentNode.insertBefore(gads, node);
        }
    })();
&lt;/script&gt;
&lt;script type='text/javascript'&gt;
    try {
        if (enableGoogleAd) {
            googletag.cmd.push(function () {
                googletag.defineSlot('/1090369/cnblogs_blogpost_C1_sitehome', [300, 250], 'div-gpt-ad-1346480159711-0').addService(googletag.pubads());
                googletag.pubads().enableSingleRequest();
                googletag.enableServices();
            });
        };
    } catch (e) { }
&lt;/script&gt;
&lt;div id="google_ad_c1" class="c_ad_block"&gt;
    &lt;div id='div-gpt-ad-1346480159711-0' style='width:300px; height:250px;'&gt;
    &lt;script type='text/javascript'&gt;
        try {
            if (enableGoogleAd) {
                googletag.cmd.push(function () { googletag.display('div-gpt-ad-1346480159711-0'); });            
            } else {
                $('#div-gpt-ad-1346480159711-0').hide();
            }
    } catch (e) { }
    &lt;/script&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;div id="blog_news_kb"&gt;&lt;/div&gt;
&lt;div id="HistoryToday" class="c_ad_block"&gt;&lt;/div&gt;
&lt;script type="text/javascript"&gt;
$(function () {
    loadNewsAndKb();
    loadBlogSignature();
    LoadPostInfoBlock(cb_blogId, cb_entryId, cb_blogApp, cb_blogUserGuid);
    GetPrevNextPost(cb_entryId, cb_blogId, cb_entryCreatedDate);
    loadOptUnderPost();
    GetHistoryToday(cb_blogId, cb_blogApp, cb_entryCreatedDate);
    setTimeout(function () { incrementViewCount(cb_entryId); }, 200);
});
&lt;/script&gt;
&lt;/div&gt;

	
&lt;!--done--&gt;
&lt;div class="footer"&gt;
	
	Copyright &amp;copy;2014 我不会抽烟Oscar Powered by: &lt;a href="http://www.cnblogs.com" class="footerlink"&gt;博客园&lt;/a&gt; 模板提供：&lt;a href="http://blog.hjenglish.com" class="footerlink"&gt;沪江博客&lt;/a&gt;&lt;br&gt;
&lt;/div&gt;
&lt;/div&gt;



&lt;/body&gt;
&lt;/html&gt;
</Html>
	<HtmlMetas i:nil="true" />
	<HtmlTitle i:nil="true" />
	<IsDefault>false</IsDefault>
	<Layout i:nil="true" />
	<Name>-zhouhongyu1989-p-3957856.html</Name>
	<OutputCache i:nil="true" />
	<PageContents xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
	<Plugins xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<Published>false</Published>
	<RequireHttps>false</RequireHttps>
	<Routes>
		<PageRoute>
			<Defaults xmlns:d4p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
			<Identifier>/zhouhongyu1989/p/3957856.html</Identifier>
			<RoutePath i:nil="true" />
		</PageRoute>
	</Routes>
	<Scripts i:nil="true" />
	<Site>
		<AbsoluteName xmlns="Ovaldi.Core.Models">Cnblogs</AbsoluteName>
	</Site>
	<Styles i:nil="true" />
	<UUID>-zhouhongyu1989-p-3957856.html</UUID>
</Page>