<?xml version="1.0" encoding="utf-8"?>
<Page xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Ovaldi.Core.Models">
	<AbsoluteName>-justnow-p-3382160.html</AbsoluteName>
	<CustomFields xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<EnableScript>true</EnableScript>
	<EnableTheming>true</EnableTheming>
	<Html>&lt;!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"&gt;
&lt;html xmlns="http://www.w3.org/1999/xhtml" lang="zh-cn"&gt;
&lt;head&gt;
&lt;meta http-equiv="Content-Type" content="text/html; charset=utf-8"&gt;
&lt;title&gt;可在广域网部署运行的QQ高仿版 -- GG2013总览 - GG叽叽 - 博客园&lt;/title&gt;
&lt;link type="text/css" rel="stylesheet" href="/preview~Cnblogs/Styles/bundles/blog-common.css"&gt;
&lt;link id="MainCss" type="text/css" rel="stylesheet" href="/preview~Cnblogs/Styles/skins/SimpleBlue/bundle-SimpleBlue.css"&gt;
&lt;link title="RSS" type="application/rss+xml" rel="alternate" href="http://www.cnblogs.com/justnow/rss"&gt;
&lt;link title="RSD" type="application/rsd+xml" rel="EditURI" href="http://www.cnblogs.com/justnow/rsd.xml"&gt;
&lt;link type="application/wlwmanifest+xml" rel="wlwmanifest" href="http://www.cnblogs.com/justnow/wlwmanifest.xml"&gt;
&lt;script src="http://common.cnblogs.com/script/jquery.js" type="text/javascript"&gt;&lt;/script&gt;  
&lt;script type="text/javascript"&gt;var currentBlogApp = 'justnow', cb_enable_mathjax=false;&lt;/script&gt;
&lt;script src="/preview~Cnblogs/Scripts/bundles/blog-common.js" type="text/javascript"&gt;&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;a name="top"&gt;&lt;/a&gt;

&lt;div id="home"&gt;
&lt;div id="header"&gt;
	&lt;div id="blogTitle"&gt;
		
&lt;!--done--&gt;
&lt;div class="title"&gt;&lt;a id="Header1_HeaderTitle" class="headermaintitle" href="http://www.cnblogs.com/justnow/"&gt;GG2013&lt;/a&gt;&lt;/div&gt;
&lt;div class="subtitle"&gt;QQ高仿版，可在广域网部署运行。支持：文字/语音/视频聊天，文件传送，离线文件，离线消息，视频会议。&lt;/div&gt;



		
	&lt;/div&gt;&lt;!--end: blogTitle 博客的标题和副标题 --&gt;
	&lt;div id="navigator"&gt;
		
&lt;ul id="navList"&gt;
&lt;li id="nav_sitehome"&gt;&lt;a id="MyLinks1_HomeLink" class="menu" href="http://www.cnblogs.com/"&gt;博客园&lt;/a&gt;&lt;/li&gt;
&lt;li id="nav_myhome"&gt;&lt;a id="MyLinks1_MyHomeLink" class="menu" href="http://www.cnblogs.com/justnow/"&gt;首页&lt;/a&gt;&lt;/li&gt;
&lt;li id="nav_q"&gt;&lt;a class="menu" href="http://q.cnblogs.com/"&gt;博问&lt;/a&gt;&lt;/li&gt;
&lt;li id="nav_ing"&gt;&lt;a class="menu" href="http://home.cnblogs.com/ing/"&gt;闪存&lt;/a&gt;&lt;/li&gt;
&lt;li id="nav_newpost"&gt;&lt;/li&gt;
&lt;li id="nav_contact"&gt;&lt;a id="MyLinks1_ContactLink" class="menu" rel="nofollow" href="http://space.cnblogs.com/msg/send/GG%e5%8f%bd%e5%8f%bd"&gt;联系&lt;/a&gt;&lt;/li&gt;
&lt;li id="nav_rss"&gt;
&lt;!----&gt;&lt;/li&gt;
&lt;li id="nav_admin"&gt;&lt;a id="MyLinks1_Admin" class="menu" rel="nofollow" href="http://i.cnblogs.com/"&gt;管理&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;

		&lt;div class="blogStats"&gt;
			
			
&lt;!--done--&gt;
随笔-23&amp;nbsp;
文章-0&amp;nbsp;
评论-727&amp;nbsp;

			
		&lt;/div&gt;&lt;!--end: blogStats --&gt;
	&lt;/div&gt;&lt;!--end: navigator 博客导航栏 --&gt;
&lt;/div&gt;&lt;!--end: header 头部 --&gt;
&lt;div id="main"&gt;
	&lt;div id="mainContent"&gt;
	&lt;div class="forFlow"&gt;
		

&lt;!--done--&gt;
&lt;div id="topics"&gt;
	&lt;div class="post"&gt;
		&lt;h1 class="postTitle"&gt;
			&lt;a id="cb_post_title_url" class="postTitle2" href="http://www.cnblogs.com/justnow/p/3382160.html"&gt;可在广域网部署运行的QQ高仿版 -- GG2013总览&lt;/a&gt;
		&lt;/h1&gt;
		&lt;div class="clear"&gt;&lt;/div&gt;
		&lt;div class="postBody"&gt;
			&lt;div id="cnblogs_post_body"&gt;&lt;p&gt;　 （&lt;span style="color: #ff0000;"&gt;最新版本：V3.7，2014.09.16&lt;/span&gt;）&lt;/p&gt;
&lt;p&gt;　　GG是QQ的高仿版，包括客户端和服务端，可在广域网部署使用，目前最新版本为3.7。我想写一个类似汇总的文章，通过这篇文章，大家可以了解到GG的全貌和最新进展，以及关于一些常见问题的解答也汇总在这里。&lt;/p&gt;
&lt;p&gt;　　言归正传，对我个人而言，&lt;span&gt;我的目标并不是做一个QQ高仿版的玩具，而是希望做成一个能够真正使用的产品（这个过程还有很长的路要走），并持续维护下去。&lt;/span&gt;&lt;/p&gt;
&lt;h2&gt;一.已实现的功能&lt;/h2&gt;
&lt;p&gt;&lt;span style="color: #000000;"&gt;（01）注册、登录、添加好友、好友列表。&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="color: #000000;"&gt;（02）自拍头像。&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="color: #000000;"&gt;（03）文字聊天、字体设置、表情、窗口震动、截图、手写板&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="color: #000000;"&gt;（04）群功能：创建群、加入群、退出群、群聊天&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="color: #000000;"&gt;（05）文件传送、文件夹传送（支持断点续传）&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="color: #000000;"&gt;（06）语音视频聊天&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="color: #000000;"&gt;（07）远程磁盘&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="color: #000000;"&gt;（08）远程协助&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="color: #000000;"&gt;（09）共享桌面（可以指定要共享的桌面区域）&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="color: #000000;"&gt;（10）可靠的P2P&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="color: #000000;"&gt;（11）网盘&lt;/span&gt;&amp;nbsp; &amp;nbsp;&lt;/p&gt;
&lt;p&gt;（12）离线消息&lt;/p&gt;
&lt;p&gt;（13）离线文件&lt;/p&gt;
&lt;p&gt;（14）语音消息、语音留言&lt;/p&gt;
&lt;p&gt;（15）最近联系人列表&lt;/p&gt;
&lt;p&gt;（16）&lt;span&gt;系统设置：&lt;span&gt;开机自动启动、&lt;/span&gt;&lt;span&gt;&lt;span&gt;麦克风设备索引、&lt;span&gt;摄像头设备索引，叉掉主窗口时关闭程序还是隐藏窗口。&lt;/span&gt;&lt;/span&gt;&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;h2&gt;二.后续待实现的功能&lt;/h2&gt;
&lt;p&gt;（1）增加持久化支持&lt;/p&gt;
&lt;p&gt;（2）视频会议&lt;/p&gt;
&lt;p&gt;（3）聊天记录&lt;/p&gt;
&lt;p&gt;&amp;nbsp; &amp;nbsp;&lt;/p&gt;
&lt;h2&gt;三.&lt;strong&gt;框架选型&lt;/strong&gt;&lt;/h2&gt;
&lt;p&gt;如果要完全从头开发GG，其难度可想而知，所以，利用现有的成熟框架是必要的，我们必须站在别人的肩膀上，才能做得更快更好。截至到现在，GG 所采用的框架和素材如下：&lt;/p&gt;
&lt;p&gt;（1）通信框架：&lt;a href="http://www.oraycn.com/ESFramework.aspx" target="_blank"&gt;ESFramework&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;（2）语音视频：&lt;a href="http://www.oraycn.com/OMCS.aspx" target="_blank"&gt;OMCS&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;（3）皮肤框架：SkinForm&lt;/p&gt;
&lt;p&gt;（4）截屏类库：ImageCapturerLib&lt;/p&gt;
&lt;p&gt;（5）图片素材：90%以上来自QQ。&lt;/p&gt;
&lt;p&gt;开发环境：VS2010 ，开发语言：C#， .NET Framework 版本： 2.0&lt;/p&gt;
&lt;p&gt;&amp;nbsp; &amp;nbsp;&lt;/p&gt;
&lt;h2&gt;四.相关说明&lt;/h2&gt;
&lt;p&gt;&lt;span&gt;1.如果要将GG部署到广域网，则可以在服务端的配置文件中设置监听的端口；而在客户端的配置文件中，则可以指定服务器的IP和Port。&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;2.虚拟数据库&lt;/p&gt;
&lt;p&gt;（1）为了部署测试更简单，GG没有采用真实的物理数据库，而是在内存中虚拟了一个数据库（即服务端的&lt;span&gt;VirtualDB&lt;/span&gt;类），用于存储用户注册信息、好友关系、群信息等。&lt;/p&gt;
&lt;p&gt;（2）GG内置了几个用户：10000、10001、10002、10003、10004，它们的登录密码都是"1"。&lt;/p&gt;
&lt;p&gt;（3）GG内置的这几个用户之间都是好友关系。&lt;/p&gt;
&lt;p&gt;（4）GG内置了两个群：G001、G002。G001群包含所有内置测试用户，G002群包含10000和10001两个用户。&lt;/p&gt;
&lt;p&gt;（5）上述的这些内置信息，在VirtualDB类的构造函数中设定。&lt;/p&gt;
&lt;p&gt;&lt;span&gt;3.&lt;span&gt;麦克风、摄像头的选择可在客户端系统设置窗口（SystemSettingForm）中指定。&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;4.语音视频：也有很多朋友问语音视频设备的工作怎么不正常，或者语音视频不流畅，这个可以直接参考OMCS官方文档：&lt;a href="http://blog.oraycn.com/OMCS_Camera.aspx"&gt;摄像头、麦克风、扬声器&lt;/a&gt;、&lt;a href="http://blog.oraycn.com/OMCS_Demo_DeviceTest.aspx"&gt;设备测试&lt;/a&gt;&amp;nbsp;、&lt;a href="http://blog.oraycn.com/OMCS_BandWidth.aspx"&gt;带宽要求&lt;/a&gt;。&lt;/p&gt;
&lt;p&gt;5.GG的皮肤控件使用的是SkinForm，如果有关于SkinForm的问题，可以直接联系我的好友&amp;nbsp;&lt;a id="a_comment_author_2766596" href="http://home.cnblogs.com/u/488066/" target="_blank"&gt;威廉乔克斯_汀&lt;/a&gt;。&lt;/p&gt;
&lt;p&gt;6.特别说明一下：GG项目中，&lt;span&gt;只要是我写的代码，全部都放出来了。拜托喜欢每一个dll都有源码的朋友不要再问我要其它的源码了：）&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&amp;nbsp; &amp;nbsp;&lt;/p&gt;
&lt;h2&gt;五.版本记录&lt;/h2&gt;
&lt;p&gt;&lt;a href="http://www.cnblogs.com/justnow/p/3243187.html"&gt;2013.08.07 &amp;nbsp;-- &amp;nbsp;V1.0&lt;/a&gt;， 登录、好友列表、文字聊天、文件传送、文件夹传送&lt;/p&gt;
&lt;p&gt;&lt;a href="http://www.cnblogs.com/justnow/p/3296088.html"&gt;2013.09.02 &amp;nbsp;-- &amp;nbsp;V1.8&lt;/a&gt;， 语音视频聊天&lt;/p&gt;
&lt;p&gt;&lt;a href="http://www.cnblogs.com/justnow/p/3325928.html"&gt;2013.09.23 &amp;nbsp;-- &amp;nbsp;V2.0&lt;/a&gt;， 网盘、&lt;span&gt;远程磁盘&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;a href="http://www.cnblogs.com/justnow/p/3382147.html" target="_blank"&gt;2013.11.05 &amp;nbsp;-- &amp;nbsp;V2.4&lt;/a&gt;， 远程协助、共享桌面&lt;/p&gt;
&lt;p&gt;&lt;a href="http://www.cnblogs.com/justnow/p/3665824.html"&gt;2014.04.15 &amp;nbsp;-- &amp;nbsp;V3.0&lt;/a&gt;， 注册、加好友、加入群、群聊&lt;/p&gt;
&lt;p&gt;&lt;a href="http://www.cnblogs.com/justnow/p/3731521.html"&gt;2014.05.16 &amp;nbsp;-- &amp;nbsp;V3.2&lt;/a&gt;， 离线消息、离线文件&lt;/p&gt;
&lt;p&gt;&lt;a href="http://www.cnblogs.com/justnow/p/3757785.html"&gt;2014.05.28 &amp;nbsp;-- &amp;nbsp;V3.4&lt;/a&gt;，&amp;nbsp;&lt;span&gt;系统设置、最近联系人&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span&gt;&lt;a href="http://www.cnblogs.com/justnow/p/3817019.html" target="_blank"&gt;2014.06.30 &amp;nbsp;-- &amp;nbsp;V3.5&lt;/a&gt;，&amp;nbsp;自拍头像、修改密码、删除好友&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;a href="http://www.cnblogs.com/justnow/p/3894131.html" target="_blank"&gt;2014.08.06 &amp;nbsp;-- &amp;nbsp;V3.6&lt;/a&gt;， 语音消息、语音留言&amp;nbsp;&lt;/p&gt;
&lt;p&gt;&lt;a href="http://www.cnblogs.com/justnow/p/3974416.html" target="_blank"&gt;2014.09.16 &amp;nbsp;-- &amp;nbsp;V3.7&lt;/a&gt;， 优化视频聊天&amp;nbsp;&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;h2&gt;六.GG截图&lt;/h2&gt;
&lt;p&gt;&lt;span&gt;1.登录框&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp;&lt;img src="http://images.cnitblog.com/blog/20404/201308/07154818-0f8ac3ae815348a292bb1d45724658a6.png" alt="" width="274" height="212"&gt;&lt;/p&gt;
&lt;p&gt;&lt;span&gt;2.主窗体&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp;&lt;img src="http://images.cnitblog.com/blog/20404/201308/07154849-fb2f867603d446aca74cec68a6337f1b.png" alt="" width="224" height="491"&gt;&lt;/p&gt;
&lt;p&gt;&lt;span&gt;3.聊天窗口&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="line-height: 1.5;"&gt;&amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp;&lt;/span&gt;&lt;span&gt;&lt;img src="http://images.cnitblog.com/blog/20404/201308/07154920-5245200b04fe485e9c65e798733a8b30.png" alt="" width="403" height="313"&gt;&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;4.视频会话邀请&lt;/p&gt;
&lt;p&gt;&amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp;&lt;img src="http://images.cnitblog.com/blog/20404/201309/02103711-f06296bb7e9a4bffa2ddeeb713ce272e.png" alt="" width="439" height="343"&gt;&lt;/p&gt;
&lt;p&gt;5.视频会话&amp;nbsp; &amp;nbsp; &amp;nbsp;&amp;nbsp;&lt;/p&gt;
&lt;p&gt;&amp;nbsp; &amp;nbsp; &amp;nbsp;&lt;img src="http://images.cnitblog.com/blog/20404/201409/161058344876099.png" alt="" width="438" height="388"&gt;&lt;/p&gt;
&lt;p&gt;6.磁盘访问请求&lt;/p&gt;
&lt;p&gt;&amp;nbsp; &amp;nbsp; &amp;nbsp;&amp;nbsp;&lt;img src="http://images.cnitblog.com/blog/20404/201309/18162205-3280d52271b64a7492681843214b4363.png" alt="" width="426" height="332"&gt;&lt;/p&gt;
&lt;p&gt;7.进入远程磁盘&lt;/p&gt;
&lt;p&gt;&amp;nbsp; &amp;nbsp; &amp;nbsp;&amp;nbsp;&lt;img style="font-size: 14px; line-height: 1.5;" src="http://images.cnitblog.com/blog/20404/201309/18162312-db1d3ebbe7ac469a9ee03fb2a6ca1e8a.png" alt="" width="558" height="419"&gt;&lt;/p&gt;
&lt;p&gt;8.远程磁盘操作&lt;/p&gt;
&lt;p&gt;&amp;nbsp; &amp;nbsp; &amp;nbsp;&amp;nbsp;&lt;img style="font-size: 14px; line-height: 1.5;" src="http://images.cnitblog.com/blog/20404/201309/18162430-f32ef28d25df477da62e105f47cb1485.png" alt="" width="554" height="418"&gt;&lt;/p&gt;
&lt;p&gt;9.网盘&lt;/p&gt;
&lt;p&gt;&amp;nbsp; &amp;nbsp; &amp;nbsp;&amp;nbsp;&lt;img style="font-size: 14px; line-height: 1.5;" src="http://images.cnitblog.com/blog/20404/201309/18162005-542c0605a16c4846bf2d29f2eaa35038.png" alt="" width="570" height="427"&gt;&lt;/p&gt;
&lt;p&gt;10.远程协助请求&lt;/p&gt;
&lt;p&gt;&amp;nbsp; &amp;nbsp; &amp;nbsp;&amp;nbsp;&lt;img src="http://images.cnitblog.com/blog/20404/201310/22112613-0198bc018ecc4721b9bc713ca4ce5859.png" alt="" width="432" height="337"&gt;&lt;/p&gt;
&lt;p&gt;11.远程协助&lt;/p&gt;
&lt;p&gt;&amp;nbsp; &amp;nbsp; &amp;nbsp;&amp;nbsp;&lt;img style="font-size: 14px; line-height: 1.5;" src="http://images.cnitblog.com/blog/20404/201310/22112715-44733b944a8a4c47bee54e4dbea42e88.png" alt="" width="494" height="369"&gt;&lt;/p&gt;
&lt;p&gt;12.共享桌面（指定了QQ影音播放器的区域作为共享区域）&lt;/p&gt;
&lt;p&gt;&amp;nbsp; &amp;nbsp; &amp;nbsp;&amp;nbsp;&lt;img style="font-size: 14px; line-height: 1.5;" src="http://images.cnitblog.com/blog/20404/201311/04162329-ff749476385b403eb16e6208ea4687fb.png" alt="" width="368" height="282"&gt;&lt;/p&gt;
&lt;p&gt;13.注册：&lt;/p&gt;
&lt;p&gt;&amp;nbsp; &amp;nbsp; &amp;nbsp;&amp;nbsp;&lt;img src="http://images.cnitblog.com/i/20404/201404/151100447283186.png" alt="" width="267" height="206"&gt;&amp;nbsp; &amp;nbsp;&amp;nbsp;&lt;img src="http://images.cnitblog.com/i/20404/201404/151101175882249.png" alt="" width="276" height="176"&gt;&lt;/p&gt;
&lt;p&gt;14.添加好友：&lt;/p&gt;
&lt;p&gt;&amp;nbsp; &amp;nbsp; &amp;nbsp;&amp;nbsp;&lt;img src="http://images.cnitblog.com/i/20404/201404/151101555105963.png" alt="" width="406" height="374"&gt;&lt;/p&gt;
&lt;p&gt;15.加入群：&lt;/p&gt;
&lt;p&gt;&amp;nbsp; &amp;nbsp; &amp;nbsp;&lt;img src="http://images.cnitblog.com/i/20404/201404/151102394474173.png" alt="" width="414" height="383"&gt;&lt;/p&gt;
&lt;p&gt;16.群聊天：&lt;/p&gt;
&lt;p&gt;&amp;nbsp; &amp;nbsp; &amp;nbsp;&lt;img src="http://images.cnitblog.com/i/20404/201404/151103276662609.png" alt="" width="486" height="351"&gt;&lt;/p&gt;
&lt;p&gt;17.离线消息：&lt;/p&gt;
&lt;p&gt;&amp;nbsp; &amp;nbsp; &amp;nbsp;&amp;nbsp;&lt;img src="http://images.cnitblog.com/i/20404/201405/160849161099115.png" alt="" width="428" height="332"&gt;&lt;/p&gt;
&lt;p&gt;18.发送离线文件：&lt;/p&gt;
&lt;p&gt;&amp;nbsp; &amp;nbsp; &amp;nbsp;&amp;nbsp;&lt;img src="http://images.cnitblog.com/i/20404/201405/160850090937470.png" alt="" width="434" height="338"&gt;&lt;/p&gt;
&lt;p&gt;19.离线文件发送完成、接收完成：&lt;/p&gt;
&lt;p&gt;　　&lt;img src="http://images.cnitblog.com/i/20404/201405/160851304841002.png" alt="" width="584" height="331"&gt;&lt;span style="line-height: 1.5;"&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;20.系统设置：&lt;/p&gt;
&lt;p&gt;　　&lt;img src="http://images.cnitblog.com/i/20404/201405/270956226347823.png" alt="" width="265" height="168"&gt;&lt;/p&gt;
&lt;p&gt;21.最近联系人：&lt;/p&gt;
&lt;p&gt;&amp;nbsp; &amp;nbsp; &amp;nbsp;&lt;img src="http://images.cnitblog.com/i/20404/201405/281036456503491.png" alt="" width="184" height="415"&gt;&lt;/p&gt;
&lt;p&gt;22.自拍头像：&lt;/p&gt;
&lt;p&gt;&amp;nbsp; &amp;nbsp; &amp;nbsp;&amp;nbsp;&lt;img src="http://images.cnitblog.com/i/20404/201406/301724497773532.png" alt="" width="525" height="239"&gt;&lt;/p&gt;
&lt;p&gt;23.使用自拍头像：&lt;/p&gt;
&lt;p&gt;&amp;nbsp; &amp;nbsp; &amp;nbsp;&lt;img src="http://images.cnitblog.com/i/20404/201406/301725338094351.png" alt="" width="192" height="433"&gt;&lt;/p&gt;
&lt;p&gt;&amp;nbsp;24. 语音消息、语音留言&lt;/p&gt;
&lt;p&gt;　　&lt;img src="http://images.cnitblog.com/i/20404/201408/061103035533543.png" alt="" width="473" height="369"&gt;&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;h2&gt;七.最新下载&lt;/h2&gt;
&lt;p&gt;&lt;a href="http://59.175.145.163/DownloadFiles/GG-V3.7.rar"&gt;GG V3.7 源码&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;p&gt;注：&lt;span&gt;GG使用VS2010编译生成的GG.exe文件，这个文件经常被新毒霸误报为&lt;/span&gt;&lt;strong&gt;&lt;span&gt;病毒&lt;/span&gt;&lt;/strong&gt;&lt;span&gt;，所以，这次发布的压缩包中我把客户端生成的GG.exe删除了，大家可以自己编译生成它。&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;p&gt;&lt;span&gt;几句题外话：虽然就如何将GG发展为一个有商业价值的产品，我还没有很清晰明确的思路，但是从GG发布以来，通过GG认识了一些朋友，也接了一些小单子，赚了一点小钱。有了一点甜头，目前和2、3个好朋友一起做做小项目也是不错的，这未尝不是一条养家糊口之路了？呵呵。&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span&gt;欢迎和我探讨关于GG2013的一切，我的QQ：2027224508，多多交流！ &amp;nbsp;&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;大家有什么问题和建议，可以留言，也可以发送email到我邮箱：ggim2013@163.com。&amp;nbsp;&lt;/p&gt;
&lt;p&gt;&lt;span&gt;如果你觉得还不错，请粉我，顺便再顶一下啊&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;/div&gt;&lt;div id="MySignature"&gt;&lt;/div&gt;
&lt;div class="clear"&gt;&lt;/div&gt;
&lt;div id="blog_post_info_block"&gt;
&lt;div id="BlogPostCategory"&gt;&lt;/div&gt;
&lt;div id="EntryTag"&gt;&lt;/div&gt;
&lt;div id="blog_post_info"&gt;
&lt;/div&gt;
&lt;div class="clear"&gt;&lt;/div&gt;
&lt;div id="post_next_prev"&gt;&lt;/div&gt;
&lt;/div&gt;


		&lt;/div&gt;
		&lt;div class="postDesc"&gt;posted @ &lt;span id="post-date"&gt;2013-10-22 15:08&lt;/span&gt; &lt;a href='http://www.cnblogs.com/justnow/'&gt;GG叽叽&lt;/a&gt; 阅读(&lt;span id="post_view_count"&gt;...&lt;/span&gt;) 评论(&lt;span id="post_comment_count"&gt;...&lt;/span&gt;)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3382160" rel="nofollow"&gt;编辑&lt;/a&gt; &lt;a href="#" onclick="AddToWz(3382160);return false;"&gt;收藏&lt;/a&gt;&lt;/div&gt;
	&lt;/div&gt;
	&lt;script type="text/javascript"&gt;var allowComments=true,isLogined=false,cb_blogId=23963,cb_entryId=3382160,cb_blogApp=currentBlogApp,cb_blogUserGuid='cf693d0b-63cf-dd11-9e4d-001cf0cd104b',cb_entryCreatedDate='2013/10/22 15:08:00';loadViewCount(cb_entryId);&lt;/script&gt;
	
&lt;/div&gt;&lt;!--end: topics 文章、评论容器--&gt;
&lt;a name="!comments"&gt;&lt;/a&gt;&lt;div id="blog-comments-placeholder"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;var commentManager = new blogCommentManager();commentManager.renderComments(0);&lt;/script&gt;
&lt;div id="comment_form" class="commentform"&gt;
&lt;a name="commentform"&gt;&lt;/a&gt;
&lt;div id="divCommentShow"&gt;&lt;/div&gt;
&lt;div id="comment_nav"&gt;&lt;span id="span_refresh_tips"&gt;&lt;/span&gt;&lt;a href="javascript:void(0);" id="lnk_RefreshComments" onclick="return RefreshCommentList();"&gt;刷新评论&lt;/a&gt;&lt;a href="#" onclick="return RefreshPage();"&gt;刷新页面&lt;/a&gt;&lt;a href="#top"&gt;返回顶部&lt;/a&gt;&lt;/div&gt;
&lt;div id="comment_form_container"&gt;&lt;/div&gt;
&lt;div class="ad_text_commentbox" id="ad_text_under_commentbox"&gt;&lt;/div&gt;
&lt;div id="site_nav_under"&gt;&lt;a href="http://www.cnblogs.com/" target="_blank" title="开发者的网上家园"&gt;博客园首页&lt;/a&gt;&lt;a href="http://q.cnblogs.com/" target="_blank" title="程序员问答社区"&gt;博问&lt;/a&gt;&lt;a href="http://news.cnblogs.com/" target="_blank" title="IT新闻"&gt;新闻&lt;/a&gt;&lt;a href="http://home.cnblogs.com/ing/" target="_blank"&gt;闪存&lt;/a&gt;&lt;a href="http://job.cnblogs.com/" target="_blank"&gt;程序员招聘&lt;/a&gt;&lt;a href="http://kb.cnblogs.com/" target="_blank"&gt;知识库&lt;/a&gt;&lt;/div&gt;
&lt;div id="opt_under_post"&gt;&lt;/div&gt;
&lt;script type="text/javascript"&gt;
    var enableGoogleAd = canShowAdsense(); var googletag = googletag || {}; googletag.cmd = googletag.cmd || [];
    fixPostBodyFormat();
&lt;/script&gt;
&lt;div id="ad_under_post_holder"&gt;
&lt;script type='text/javascript'&gt;
    var googletag = googletag || {};
    googletag.cmd = googletag.cmd || [];
    (function () {
        if (enableGoogleAd) {
            var gads = document.createElement('script');
            gads.async = true;
            gads.type = 'text/javascript';
            var useSSL = 'https:' == document.location.protocol;
            gads.src = (useSSL ? 'https:' : 'http:') + '//www.googletagservices.com/tag/js/gpt.js';
            var node = document.getElementsByTagName('script')[0];
            node.parentNode.insertBefore(gads, node);
        }
    })();
&lt;/script&gt;
&lt;script type='text/javascript'&gt;
    try {
        if (enableGoogleAd) {
            googletag.cmd.push(function () {
                googletag.defineSlot('/1090369/cnblogs_blogpost_C1_sitehome', [300, 250], 'div-gpt-ad-1346480159711-0').addService(googletag.pubads());
                googletag.pubads().enableSingleRequest();
                googletag.enableServices();
            });
        };
    } catch (e) { }
&lt;/script&gt;
&lt;div id="google_ad_c1" class="c_ad_block"&gt;
    &lt;div id='div-gpt-ad-1346480159711-0' style='width:300px; height:250px;'&gt;
    &lt;script type='text/javascript'&gt;
        try {
            if (enableGoogleAd) {
                googletag.cmd.push(function () { googletag.display('div-gpt-ad-1346480159711-0'); });            
            } else {
                $('#div-gpt-ad-1346480159711-0').hide();
            }
    } catch (e) { }
    &lt;/script&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;div id="blog_news_kb"&gt;&lt;/div&gt;
&lt;div id="HistoryToday" class="c_ad_block"&gt;&lt;/div&gt;
&lt;script type="text/javascript"&gt;
$(function () {
    loadNewsAndKb();
    loadBlogSignature();
    LoadPostInfoBlock(cb_blogId, cb_entryId, cb_blogApp, cb_blogUserGuid);
    GetPrevNextPost(cb_entryId, cb_blogId, cb_entryCreatedDate);
    loadOptUnderPost();
    GetHistoryToday(cb_blogId, cb_blogApp, cb_entryCreatedDate);
    setTimeout(function () { incrementViewCount(cb_entryId); }, 200);
});
&lt;/script&gt;
&lt;/div&gt;

	&lt;/div&gt;&lt;!--end: forFlow --&gt;
	&lt;/div&gt;&lt;!--end: mainContent 主体内容容器--&gt;

	&lt;div id="sideBar"&gt;
		&lt;div id="sideBarMain"&gt;
			
&lt;!--done--&gt;
&lt;div class="newsItem"&gt;
&lt;h3 class="catListTitle"&gt;公告&lt;/h3&gt;
	&lt;div id="blog-news"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;loadBlogNews();&lt;/script&gt;
&lt;/div&gt;

			&lt;div id="calendar"&gt;&lt;div id="blog-calendar" style="display:none"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;loadBlogDefaultCalendar();&lt;/script&gt;&lt;/div&gt;
			
			&lt;div id="leftcontentcontainer"&gt;
				&lt;div id="blog-sidecolumn"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;loadBlogSideColumn();&lt;/script&gt;
			&lt;/div&gt;
			
		&lt;/div&gt;&lt;!--end: sideBarMain --&gt;
	&lt;/div&gt;&lt;!--end: sideBar 侧边栏容器 --&gt;
	&lt;div class="clear"&gt;&lt;/div&gt;
	&lt;/div&gt;&lt;!--end: main --&gt;
	&lt;div class="clear"&gt;&lt;/div&gt;
	&lt;div id="footer"&gt;
		
&lt;!--done--&gt;
Copyright &amp;copy;2014 GG叽叽
	&lt;/div&gt;&lt;!--end: footer --&gt;
&lt;/div&gt;&lt;!--end: home 自定义的最大容器 --&gt;
&lt;/body&gt;
&lt;/html&gt;
</Html>
	<HtmlMetas i:nil="true" />
	<HtmlTitle i:nil="true" />
	<IsDefault>false</IsDefault>
	<Layout i:nil="true" />
	<Name>-justnow-p-3382160.html</Name>
	<OutputCache i:nil="true" />
	<PageContents xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
	<Plugins xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<Published>false</Published>
	<RequireHttps>false</RequireHttps>
	<Routes>
		<PageRoute>
			<Defaults xmlns:d4p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
			<Identifier>/justnow/p/3382160.html</Identifier>
			<RoutePath i:nil="true" />
		</PageRoute>
	</Routes>
	<Scripts i:nil="true" />
	<Site>
		<AbsoluteName xmlns="Ovaldi.Core.Models">Cnblogs</AbsoluteName>
	</Site>
	<Styles i:nil="true" />
	<UUID>-justnow-p-3382160.html</UUID>
</Page>