<?xml version="1.0" encoding="utf-8"?>
<Page xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Ovaldi.Core.Models">
	<AbsoluteName>-dyhouse-p-3941405.html</AbsoluteName>
	<CustomFields xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<EnableScript>true</EnableScript>
	<EnableTheming>true</EnableTheming>
	<Html>&lt;!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"&gt;
&lt;html xmlns="http://www.w3.org/1999/xhtml" lang="zh-cn"&gt;
&lt;head&gt;
&lt;meta http-equiv="Content-Type" content="text/html; charset=utf-8"&gt;
&lt;title&gt;关于企业管理系统集成那些事 - Aaron.Pan - 博客园&lt;/title&gt;
&lt;link type="text/css" rel="stylesheet" href="/preview~Cnblogs/Styles/bundles/blog-common.css"&gt;
&lt;link id="MainCss" type="text/css" rel="stylesheet" href="/preview~Cnblogs/Styles/skins/iMetro/bundle-iMetro.css"&gt;
&lt;link title="RSS" type="application/rss+xml" rel="alternate" href="http://www.cnblogs.com/dyhouse/rss"&gt;
&lt;link title="RSD" type="application/rsd+xml" rel="EditURI" href="http://www.cnblogs.com/dyhouse/rsd.xml"&gt;
&lt;link type="application/wlwmanifest+xml" rel="wlwmanifest" href="http://www.cnblogs.com/dyhouse/wlwmanifest.xml"&gt;
&lt;script src="http://common.cnblogs.com/script/jquery.js" type="text/javascript"&gt;&lt;/script&gt;  
&lt;script type="text/javascript"&gt;var currentBlogApp = 'dyhouse', cb_enable_mathjax=false;&lt;/script&gt;
&lt;script src="/preview~Cnblogs/Scripts/bundles/blog-common.js" type="text/javascript"&gt;&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;a name="top"&gt;&lt;/a&gt;

&lt;!--done--&gt;
&lt;div id="home"&gt;
&lt;div id="header"&gt;
	&lt;div id="blogTitle"&gt;
	&lt;a id="lnkBlogLogo" href="http://www.cnblogs.com/dyhouse/"&gt;&lt;img id="blogLogo" src="/preview~Cnblogs/Images/Skins/custom/images/logo.gif" alt="返回主页"&gt;&lt;/a&gt;			
		
&lt;!--done--&gt;
&lt;h1&gt;&lt;a id="Header1_HeaderTitle" class="headermaintitle" href="http://www.cnblogs.com/dyhouse/"&gt;Aaron.Pan&lt;/a&gt;&lt;/h1&gt;
&lt;h2&gt;&lt;/h2&gt;



		
	&lt;/div&gt;&lt;!--end: blogTitle 博客的标题和副标题 --&gt;
	&lt;div id="navigator"&gt;
		
&lt;ul id="navList"&gt;
&lt;li&gt;&lt;a id="MyLinks1_HomeLink" class="menu" href="http://www.cnblogs.com/"&gt;博客园&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a id="MyLinks1_MyHomeLink" class="menu" href="http://www.cnblogs.com/dyhouse/"&gt;首页&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a class="menu" href="http://q.cnblogs.com/"&gt;博问&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a class="menu" href="http://home.cnblogs.com/ing/"&gt;闪存&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a id="MyLinks1_NewPostLink" class="menu" rel="nofollow" href="http://i.cnblogs.com/EditPosts.aspx?opt=1"&gt;新随笔&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a id="MyLinks1_ContactLink" class="menu" rel="nofollow" href="http://space.cnblogs.com/msg/send/Aaron.Pan"&gt;联系&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a id="MyLinks1_Syndication" class="menu" href="http://www.cnblogs.com/dyhouse/rss"&gt;订阅&lt;/a&gt;
&lt;!--&lt;a id="MyLinks1_XMLLink" class="aHeaderXML" href="http://www.cnblogs.com/dyhouse/rss"&gt;&lt;img src="http://www.cnblogs.com/images/xml.gif" alt="订阅" /&gt;&lt;/a&gt;--&gt;&lt;/li&gt;
&lt;li&gt;&lt;a id="MyLinks1_Admin" class="menu" rel="nofollow" href="http://i.cnblogs.com/"&gt;管理&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
		&lt;div class="blogStats"&gt;
			
			
&lt;!--done--&gt;
随笔- 4&amp;nbsp;
文章- 0&amp;nbsp;
评论- 71&amp;nbsp;

			
		&lt;/div&gt;&lt;!--end: blogStats --&gt;
	&lt;/div&gt;&lt;!--end: navigator 博客导航栏 --&gt;
&lt;/div&gt;&lt;!--end: header 头部 --&gt;

&lt;div id="main"&gt;
	&lt;div id="mainContent"&gt;
	&lt;div class="forFlow"&gt;
		

&lt;!--done--&gt;
&lt;div id="topics"&gt;
	&lt;div class="post"&gt;
		&lt;h1 class="postTitle"&gt;
			&lt;a id="cb_post_title_url" class="postTitle2" href="http://www.cnblogs.com/dyhouse/p/3941405.html"&gt;关于企业管理系统集成那些事&lt;/a&gt;
		&lt;/h1&gt;
		&lt;div class="clear"&gt;&lt;/div&gt;
		&lt;div class="postBody"&gt;
			&lt;div id="cnblogs_post_body"&gt;&lt;p style="text-align: center;" align="center"&gt;&lt;span style="font-family: 楷体; font-size: 12px;"&gt;&lt;img src="http://images.cnitblog.com/blog/530195/201408/281322258913863.jpg" alt=""&gt;&lt;/span&gt;&lt;/p&gt;
&lt;p style="text-align: center;" align="center"&gt;&lt;span style="font-family: 楷体; font-size: 12px;"&gt;我们处于恶性循环中，不能自拔&lt;/span&gt;&lt;/p&gt;
&lt;p align="left"&gt;&lt;span style="font-family: 宋体; font-size: 18px;"&gt;　　我们在努力，一直在努力向前奔跑，但随着日积月累的承载，我们跑不动了，并不是我们偷懒了，而是我们肩负着太多、太多。该停下来，停下来思考了。&lt;/span&gt;&lt;/p&gt;
&lt;p align="left"&gt;&lt;span style="font-family: 宋体; font-size: 18px;"&gt;　　部门经理来了，怎么回事？为什么系统又奔溃了，你们的年终奖别想要了。该停下来，停下来思考了。&lt;/span&gt;&lt;/p&gt;
&lt;p align="left"&gt;&lt;span style="font-family: 宋体; font-size: 18px;"&gt;　　客服反应，你们的系统让用户焦虑了，我成了出气筒，我不干了。该停下来，停下来思考了。&lt;/span&gt;&lt;/p&gt;
&lt;p align="left"&gt;&lt;span style="font-family: 宋体; font-size: 18px;"&gt;　　是啊，以上的种种，时常在我们身边演绎着，作为架构师，作为项目经理，作为研发人员，作为测试人员的你、你还有你，该停下来，停下来好好思考了。。。&lt;/span&gt;&lt;/p&gt;
&lt;h2&gt;一、案发现场，事件回放&lt;/h2&gt;
&lt;p&gt;&lt;img style="margin-right: auto; margin-left: auto; display: block;" src="http://images.cnitblog.com/blog/530195/201408/281300335164568.jpg" alt=""&gt;&lt;/p&gt;
&lt;p style="text-align: center;"&gt;&lt;span style="font-family: 楷体; font-size: 12px;"&gt;我们不是故意的，我们很努力在做&lt;/span&gt;&lt;/p&gt;
&lt;p align="left"&gt;&lt;span style="font-family: 宋体; font-size: 18px;"&gt;　　上图是我从早期系统中抽出来的三个子系统，却很好的暴露了问题。系统很脆弱，一碰就碎，需求稍微一变动，我们就得抓狂。&lt;/span&gt;&lt;/p&gt;
&lt;p align="left"&gt;&lt;span style="font-family: 宋体; font-size: 18px;"&gt;　　上图中，我们应变信息孤岛主要采用的技术手段：&lt;/span&gt;&lt;/p&gt;
&lt;p align="left"&gt;&lt;span style="font-family: 宋体; font-size: 18px;"&gt;　　1、数据库视图&lt;/span&gt;&lt;/p&gt;
&lt;p align="left"&gt;&lt;span style="font-family: 宋体; font-size: 18px;"&gt;　　2、Web服务（RPC，RESTful）&lt;/span&gt;&lt;/p&gt;
&lt;p align="left"&gt;&lt;span style="font-family: 宋体; font-size: 18px;"&gt;　　问题来了：&lt;/span&gt;&lt;/p&gt;
&lt;p align="left"&gt;&lt;span style="font-family: 宋体; font-size: 18px;"&gt;　　1、&lt;span style="color: #ff0000;"&gt;&lt;strong&gt;没有标准&lt;/strong&gt;&lt;/span&gt;，服务满天飞，不好管理，无法重用，而且各种技术交叉使用，混乱；&lt;/span&gt;&lt;/p&gt;
&lt;p align="left"&gt;&lt;span style="font-family: 宋体; font-size: 18px;"&gt;　　2、&lt;span style="color: #ff0000;"&gt;&lt;strong&gt;系统间耦合度高&lt;/strong&gt;&lt;/span&gt;，一个系统奔溃，另一个系统也罢工了，一个系统对另一个系统依赖性很强。&lt;/span&gt;&lt;/p&gt;
&lt;p align="left"&gt;&lt;span style="font-family: 宋体; font-size: 18px;"&gt;　　3、&lt;span style="color: #ff0000;"&gt;&lt;strong&gt;系统间业务缺少原子性操作&lt;/strong&gt;&lt;/span&gt;，总是发生莫名其妙的错误，总是多些莫名奇妙的数据，更重要的是，一笔错误的业务数据，给企业带来的灾难，比没有数据更大；&lt;/span&gt;&lt;/p&gt;
&lt;p align="left"&gt;&lt;span style="font-family: 宋体; font-size: 18px;"&gt;　　4、&lt;span style="color: #ff0000;"&gt;&lt;strong&gt;不稳定、没有容错能力&lt;/strong&gt;&lt;/span&gt;，用户提心吊胆地使用，一错就得重来，没有商量的余地；&lt;/span&gt;&lt;/p&gt;
&lt;p align="left"&gt;&lt;span style="font-family: 宋体; font-size: 18px;"&gt;　　5、&lt;span style="color: #ff0000;"&gt;&lt;strong&gt;扩展性差&lt;/strong&gt;&lt;/span&gt;，业务需求变动，大改特改，系统遇到性能瓶颈时，无法横向扩展；&lt;/span&gt;&lt;/p&gt;
&lt;p align="left"&gt;&lt;span style="font-family: 宋体; font-size: 18px;"&gt;　　6、&lt;span style="color: #ff0000;"&gt;&lt;strong&gt;异常很难跟踪&lt;/strong&gt;&lt;/span&gt;，错误发生了，往往需要投入大量的人力、物力，成本直线上升；&lt;/span&gt;&lt;/p&gt;
&lt;p align="left"&gt;&lt;span style="font-family: 宋体; font-size: 18px;"&gt;　　7、&lt;span style="color: #ff0000;"&gt;&lt;strong&gt;系统间是透明的&lt;/strong&gt;&lt;/span&gt;，团队间协作开发，必须进行大量沟通、会议，才能确保对接接口正常工作；&lt;/span&gt;&lt;/p&gt;
&lt;p align="left"&gt;&lt;span style="font-family: 宋体; font-size: 18px;"&gt;　　8、&lt;span style="color: #ff0000;"&gt;&lt;strong&gt;我们对研发人员要求过分了&lt;/strong&gt;&lt;/span&gt;，我们的研发人员既要掌握数据库方面的技术，又要去研究Web服务技术。过分，学、学、学吧；&lt;/span&gt;&lt;/p&gt;
&lt;p align="left"&gt;&lt;span style="font-family: 宋体; font-size: 18px;"&gt;　　好吧，给用户添了这么多堵，我们很抱歉，我们积极改善。&lt;/span&gt;&lt;/p&gt;
&lt;h2&gt;二、转变&lt;/h2&gt;
&lt;p&gt;&lt;span style="font-family: 宋体; font-size: 18px;"&gt;　　如果，如果公司业务不再变化，如果用户还是那么具有耐心、好的脾气，那么，那么我们一直这样，也不会出现大的纰漏。好吧，我们就等着失业吧，没有我们，系统也能跑下去。或许，我们应该感谢业务的变动，这样我们才有机会停下来思考，去弥补不足。&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="font-family: 宋体; font-size: 18px;"&gt;　　2012年，企业发生了重大的事件，与同行业另一家公司合并了，现有的系统已经远远不能满足业务变更了。本来还满心欢喜，坐等加薪的心情，一下晴天霹雳了。很明显，内部错综复杂的系统很难去适应如此伤筋动骨的变动了，即使慢慢来，那也是一动百动，牵一发而动全身。怎么办？想办法。&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="font-family: 宋体; font-size: 18px;"&gt;　　其实，我们已经有一个好的转变，早期项目，采用的是数据库视图来解决系统间集成，而后期的项目则采用了Web服务，尽管，只是向前跨了小小一步，没起到多大作用。视图，如果仅仅是用来与第三方系统做数据对接，还能应变自如，但当大量系统间发生业务往来，这时，只能望而生畏，何况还有个不同数据源需求在那窥视着。Web服务在系统集成方面起了很大作用，你只要发布个服务，遵循协议下，则可以很好地做到多个系统交互，处理相关的业务。&lt;/span&gt;&lt;/p&gt;
&lt;h2&gt;三、应对之道&lt;/h2&gt;
&lt;p&gt;&lt;img style="margin-right: auto; margin-left: auto; display: block;" src="http://images.cnitblog.com/blog/530195/201408/281309326261968.jpg" alt=""&gt;&lt;/p&gt;
&lt;p style="text-align: center;"&gt;&lt;span style="font-family: 楷体; font-size: 12px;"&gt;我们已经迷失了方向&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="font-family: 宋体; font-size: 18px;"&gt;　　正如上图所示，我们应用了Web服务，解决了多个系统间的业务集成问题，但随着业务增长，项目成长很快，我们的web服务出现于各个业务系统中，他们不受制约，他们开始横行乡里，从而导致系统结构错综复杂，超出管控。&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="font-family: 宋体; font-size: 18px;"&gt;　　我们该做点什么了，管理好我们的服务，得让他们认识到法律，奉公守法。&lt;/span&gt;&lt;/p&gt;
&lt;p style="text-align: center;"&gt;&lt;span style="font-family: 宋体; font-size: 18px;"&gt;&lt;img src="http://images.cnitblog.com/blog/530195/201408/281311407667185.jpg" alt=""&gt;&lt;/span&gt;&lt;/p&gt;
&lt;p align="center"&gt;&lt;span style="font-family: 楷体; font-size: 12px;"&gt;什么表情，也阻止不了我们的决心&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="font-family: 宋体; font-size: 18px;"&gt;　　服务处处见，凌乱不堪，如果我们迁移了一台系统服务器，会发生什么？其他系统找不到调用服务了，改下注册服务的配置文件就行，分分钟的事。是这样吗？哪些系统调用了这个服务？这些操作，人为去做，想不出错，很难。&lt;/span&gt;&lt;/p&gt;
&lt;p style="text-align: center;"&gt;&lt;span style="font-family: 宋体; font-size: 18px;"&gt;&lt;img style="margin-right: auto; margin-left: auto; display: block;" src="http://images.cnitblog.com/blog/530195/201408/281314332987944.jpg" alt=""&gt;&lt;span style="font-family: 楷体; font-size: 12px; mso-bidi-font-family: 'Times New Roman'; mso-bidi-theme-font: minor-bidi; mso-ansi-language: EN-US; mso-fareast-language: ZH-CN; mso-bidi-language: AR-SA;"&gt;我们一直都在&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;
&lt;p align="left"&gt;&lt;span style="font-family: 宋体; font-size: 18px;"&gt;　　我们需要一种机制，一种能够统一管理服务的机制。我们不用去关心服务最终会部署到哪里，不用关心服务如何被调用，换言之，我们只应向外发布一些的消息，或者订阅我们关心的信息，其他的所有一切，都应该让这个机制帮助我们去处理。终于可以拨开云雾见月明了，上面所描述机制的产物，他有一个名字，叫ESB。&lt;/span&gt;&lt;/p&gt;
&lt;p align="left"&gt;&lt;span style="font-family: 宋体; font-size: 18px;"&gt;　　ESB全称为Enterprise Service Bus，即企业服务总线。它是传统中间件技术与XML、Web服务等技术结合的产物。ESB提供了网络中最基本的连接中枢，是构筑企业神经系统的必要元素。ESB的出现改变了传统的软件架构，可以提供比传统中间件产品更为廉价的解决方案，同时它还可以消除不同应用之间的技术差异，让不同的应用服务器协调运作，实现了不同服务之间的通信与整合。从功能上看，ESB提供了事件驱动和文档导向的处理模式，以及分布式的运行管理机制，它支持基于内容的路由和过滤，具备了复杂数据的传输能力，并可以提供一系列的标准接口（引用自百科）。&lt;/span&gt;&lt;/p&gt;
&lt;p align="left"&gt;&lt;span style="font-family: 宋体; font-size: 18px;"&gt;　　看完定义，我们知道，ESB应该具备提供可靠消息传输、服务接入、协议转换、数据格式转换、基于内容的路由等功能。在此基础上，我们的业务功能能够被发布、封装和提升为服务；服务应该可以被编排，以达到复用的效果。&lt;/span&gt;&lt;/p&gt;
&lt;p align="left"&gt;&lt;span style="font-family: 宋体; font-size: 18px;"&gt;　　仅仅这些，还不够，我们需要一套管理工具，我们要随时跟踪、查看服务的状态，我们要对服务了如指掌，一出问题，立马解决；对于网络突然中断我们应该提供一个反复尝试功能，而对于断电或一切不可抗力造成的系统中断，我们应该提供一定的容错能力。&lt;/span&gt;&lt;/p&gt;
&lt;p align="left"&gt;&lt;span style="font-family: 宋体; font-size: 18px;"&gt;　　如果允许，我们还应该拥有一套开发工具，来快速构建模型、开发服务。&lt;/span&gt;&lt;/p&gt;
&lt;p align="left"&gt;&lt;span style="font-family: 宋体; font-size: 18px;"&gt;&lt;img style="margin-right: auto; margin-left: auto; display: block;" src="http://images.cnitblog.com/blog/530195/201408/281316443455674.jpg" alt=""&gt;&lt;/span&gt;&lt;/p&gt;
&lt;p align="center"&gt;&lt;span style="font-family: 楷体; font-size: 12px;"&gt;我们时刻准备着&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="font-family: 宋体; font-size: 18px;"&gt;　　如上图，我们大概的轮廓已经出来了，我们需要依靠他去把系统构建得更可靠、稳定、健壮，至少要让用户大胆地使用。&lt;/span&gt;&lt;/p&gt;
&lt;h2&gt;四、技术选型&lt;/h2&gt;
&lt;p&gt;&lt;span style="font-family: 宋体; font-size: 18px;"&gt;　　我们的项目，大多数是基于微软.Net平台开发的，使用的是C#语言，并且，我们要做的是改造，而不是推倒重来（想都别想）。&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="font-family: 宋体; font-size: 18px;"&gt;　　开发语言确定下来后，我们的工作有以下几种选择：&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="font-family: 宋体; font-size: 18px;"&gt;　　1、自主研发出一套平台&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="font-family: 宋体; font-size: 18px;"&gt;　　2、找开源项目，基于它做二次开发&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="font-family: 宋体; font-size: 18px;"&gt;　　3、购买第三方的平台&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="font-family: 宋体; font-size: 18px;"&gt;　　暂到这里吧，不知不觉啰嗦了这么多。&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="font-family: 宋体; font-size: 18px;"&gt;　　未完待续&amp;hellip;&amp;hellip;&lt;/span&gt;&lt;/p&gt;
&lt;p style="text-align: right;"&gt;&lt;span style="font-family: 宋体; font-size: 18px;"&gt;&amp;nbsp;&amp;mdash;&amp;mdash;Aaron.Pan 2014-08-21:20&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;/div&gt;&lt;div id="MySignature"&gt;&lt;/div&gt;
&lt;div class="clear"&gt;&lt;/div&gt;
&lt;div id="blog_post_info_block"&gt;
&lt;div id="BlogPostCategory"&gt;&lt;/div&gt;
&lt;div id="EntryTag"&gt;&lt;/div&gt;
&lt;div id="blog_post_info"&gt;
&lt;/div&gt;
&lt;div class="clear"&gt;&lt;/div&gt;
&lt;div id="post_next_prev"&gt;&lt;/div&gt;
&lt;/div&gt;


		&lt;/div&gt;
		&lt;div class="postDesc"&gt;posted @ &lt;span id="post-date"&gt;2014-08-28 13:30&lt;/span&gt; &lt;a href='http://www.cnblogs.com/dyhouse/'&gt;Aaron.Pan&lt;/a&gt; 阅读(&lt;span id="post_view_count"&gt;...&lt;/span&gt;) 评论(&lt;span id="post_comment_count"&gt;...&lt;/span&gt;)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3941405" rel="nofollow"&gt;编辑&lt;/a&gt; &lt;a href="#" onclick="AddToWz(3941405);return false;"&gt;收藏&lt;/a&gt;&lt;/div&gt;
	&lt;/div&gt;
	&lt;script type="text/javascript"&gt;var allowComments=true,isLogined=false,cb_blogId=151840,cb_entryId=3941405,cb_blogApp=currentBlogApp,cb_blogUserGuid='f6f4880a-4cc0-e211-8d02-90b11c0b17d6',cb_entryCreatedDate='2014/8/28 13:30:00';loadViewCount(cb_entryId);&lt;/script&gt;
	
&lt;/div&gt;&lt;!--end: topics 文章、评论容器--&gt;
&lt;a name="!comments"&gt;&lt;/a&gt;&lt;div id="blog-comments-placeholder"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;var commentManager = new blogCommentManager();commentManager.renderComments(0);&lt;/script&gt;
&lt;div id="comment_form" class="commentform"&gt;
&lt;a name="commentform"&gt;&lt;/a&gt;
&lt;div id="divCommentShow"&gt;&lt;/div&gt;
&lt;div id="comment_nav"&gt;&lt;span id="span_refresh_tips"&gt;&lt;/span&gt;&lt;a href="javascript:void(0);" id="lnk_RefreshComments" onclick="return RefreshCommentList();"&gt;刷新评论&lt;/a&gt;&lt;a href="#" onclick="return RefreshPage();"&gt;刷新页面&lt;/a&gt;&lt;a href="#top"&gt;返回顶部&lt;/a&gt;&lt;/div&gt;
&lt;div id="comment_form_container"&gt;&lt;/div&gt;
&lt;div class="ad_text_commentbox" id="ad_text_under_commentbox"&gt;&lt;/div&gt;
&lt;div id="site_nav_under"&gt;&lt;a href="http://www.cnblogs.com/" target="_blank" title="开发者的网上家园"&gt;博客园首页&lt;/a&gt;&lt;a href="http://q.cnblogs.com/" target="_blank" title="程序员问答社区"&gt;博问&lt;/a&gt;&lt;a href="http://news.cnblogs.com/" target="_blank" title="IT新闻"&gt;新闻&lt;/a&gt;&lt;a href="http://home.cnblogs.com/ing/" target="_blank"&gt;闪存&lt;/a&gt;&lt;a href="http://job.cnblogs.com/" target="_blank"&gt;程序员招聘&lt;/a&gt;&lt;a href="http://kb.cnblogs.com/" target="_blank"&gt;知识库&lt;/a&gt;&lt;/div&gt;
&lt;div id="opt_under_post"&gt;&lt;/div&gt;
&lt;script type="text/javascript"&gt;
    var enableGoogleAd = canShowAdsense(); var googletag = googletag || {}; googletag.cmd = googletag.cmd || [];
    fixPostBodyFormat();
&lt;/script&gt;
&lt;div id="ad_under_post_holder"&gt;
&lt;script type='text/javascript'&gt;
    var googletag = googletag || {};
    googletag.cmd = googletag.cmd || [];
    (function () {
        if (enableGoogleAd) {
            var gads = document.createElement('script');
            gads.async = true;
            gads.type = 'text/javascript';
            var useSSL = 'https:' == document.location.protocol;
            gads.src = (useSSL ? 'https:' : 'http:') + '//www.googletagservices.com/tag/js/gpt.js';
            var node = document.getElementsByTagName('script')[0];
            node.parentNode.insertBefore(gads, node);
        }
    })();
&lt;/script&gt;
&lt;script type='text/javascript'&gt;
    try {
        if (enableGoogleAd) {
            googletag.cmd.push(function () {
                googletag.defineSlot('/1090369/cnblogs_blogpost_C1_sitehome', [300, 250], 'div-gpt-ad-1346480159711-0').addService(googletag.pubads());
                googletag.pubads().enableSingleRequest();
                googletag.enableServices();
            });
        };
    } catch (e) { }
&lt;/script&gt;
&lt;div id="google_ad_c1" class="c_ad_block"&gt;
    &lt;div id='div-gpt-ad-1346480159711-0' style='width:300px; height:250px;'&gt;
    &lt;script type='text/javascript'&gt;
        try {
            if (enableGoogleAd) {
                googletag.cmd.push(function () { googletag.display('div-gpt-ad-1346480159711-0'); });            
            } else {
                $('#div-gpt-ad-1346480159711-0').hide();
            }
    } catch (e) { }
    &lt;/script&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;div id="blog_news_kb"&gt;&lt;/div&gt;
&lt;div id="HistoryToday" class="c_ad_block"&gt;&lt;/div&gt;
&lt;script type="text/javascript"&gt;
$(function () {
    loadNewsAndKb();
    loadBlogSignature();
    LoadPostInfoBlock(cb_blogId, cb_entryId, cb_blogApp, cb_blogUserGuid);
    GetPrevNextPost(cb_entryId, cb_blogId, cb_entryCreatedDate);
    loadOptUnderPost();
    GetHistoryToday(cb_blogId, cb_blogApp, cb_entryCreatedDate);
    setTimeout(function () { incrementViewCount(cb_entryId); }, 200);
});
&lt;/script&gt;
&lt;/div&gt;

	&lt;/div&gt;&lt;!--end: forFlow --&gt;
	&lt;/div&gt;&lt;!--end: mainContent 主体内容容器--&gt;

	&lt;div id="sideBar"&gt;
		&lt;div id="sideBarMain"&gt;
			
&lt;!--done--&gt;
&lt;div class="newsItem"&gt;
&lt;h3 class="catListTitle"&gt;公告&lt;/h3&gt;
	&lt;div id="blog-news"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;loadBlogNews();&lt;/script&gt;
&lt;/div&gt;

			&lt;div id="blog-calendar" style="display:none"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;loadBlogDefaultCalendar();&lt;/script&gt;
			
			&lt;div id="leftcontentcontainer"&gt;
				&lt;div id="blog-sidecolumn"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;loadBlogSideColumn();&lt;/script&gt;
			&lt;/div&gt;
			
		&lt;/div&gt;&lt;!--end: sideBarMain --&gt;
	&lt;/div&gt;&lt;!--end: sideBar 侧边栏容器 --&gt;
	&lt;div class="clear"&gt;&lt;/div&gt;
	&lt;/div&gt;&lt;!--end: main --&gt;
	&lt;div class="clear"&gt;&lt;/div&gt;
	&lt;div id="footer"&gt;
		
&lt;!--done--&gt;
Copyright &amp;copy;2014 Aaron.Pan
	&lt;/div&gt;&lt;!--end: footer --&gt;
&lt;/div&gt;&lt;!--end: home 自定义的最大容器 --&gt;
&lt;/body&gt;
&lt;/html&gt;
</Html>
	<HtmlMetas i:nil="true" />
	<HtmlTitle i:nil="true" />
	<IsDefault>false</IsDefault>
	<Layout i:nil="true" />
	<Name>-dyhouse-p-3941405.html</Name>
	<OutputCache i:nil="true" />
	<PageContents xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
	<Plugins xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<Published>false</Published>
	<RequireHttps>false</RequireHttps>
	<Routes>
		<PageRoute>
			<Defaults xmlns:d4p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
			<Identifier>/dyhouse/p/3941405.html</Identifier>
			<RoutePath i:nil="true" />
		</PageRoute>
	</Routes>
	<Scripts i:nil="true" />
	<Site>
		<AbsoluteName xmlns="Ovaldi.Core.Models">Cnblogs</AbsoluteName>
	</Site>
	<Styles i:nil="true" />
	<UUID>-dyhouse-p-3941405.html</UUID>
</Page>