<?xml version="1.0" encoding="utf-8"?>
<Page xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Ovaldi.Core.Models">
	<AbsoluteName>-sharpxiajun-</AbsoluteName>
	<CustomFields xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<EnableScript>true</EnableScript>
	<EnableTheming>true</EnableTheming>
	<Html>&lt;!DOCTYPE html&gt;
&lt;html lang="zh-cn"&gt;
&lt;head&gt;
&lt;meta charset="utf-8"&gt;
&lt;title&gt;夏天的森林 - 博客园&lt;/title&gt;
&lt;link type="text/css" rel="stylesheet" href="/preview~Cnblogs/Styles/bundles/blog-common.css"&gt;
&lt;link id="MainCss" type="text/css" rel="stylesheet" href="/preview~Cnblogs/Styles/skins/LessIsMoreRight/bundle-LessIsMoreRight.css"&gt;
&lt;link type="text/css" rel="stylesheet" href="/preview~Cnblogs/Styles/blog/customcss/90635.css"&gt;
&lt;link title="RSS" type="application/rss+xml" rel="alternate" href="http://www.cnblogs.com/sharpxiajun/rss"&gt;
&lt;link title="RSD" type="application/rsd+xml" rel="EditURI" href="http://www.cnblogs.com/sharpxiajun/rsd.xml"&gt;
&lt;link type="application/wlwmanifest+xml" rel="wlwmanifest" href="http://www.cnblogs.com/sharpxiajun/wlwmanifest.xml"&gt;
&lt;script src="http://common.cnblogs.com/script/jquery.js" type="text/javascript"&gt;&lt;/script&gt;  
&lt;script type="text/javascript"&gt;var currentBlogApp = 'sharpxiajun', cb_enable_mathjax=false;&lt;/script&gt;
&lt;script src="/preview~Cnblogs/Scripts/bundles/blog-common.js" type="text/javascript"&gt;&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;a name="top"&gt;&lt;/a&gt;
&lt;div id="page_begin_html"&gt;&lt;/div&gt;&lt;script&gt;load_page_begin_html();&lt;/script&gt;

&lt;div id="home"&gt;
&lt;div id="header"&gt;
	&lt;div id="blogTitle"&gt;
		
&lt;!--done--&gt;
&lt;div class="title"&gt;&lt;a id="Header1_HeaderTitle" class="headermaintitle" href="http://www.cnblogs.com/sharpxiajun/"&gt;夏天的森林&lt;/a&gt;&lt;/div&gt;
&lt;div class="subtitle"&gt;Web前端及Web开发技术群，群号：262413025，聊一切和web开发相关的技术，什么web前端，web服务端，中间件，数据库，云计算，大数据，hadoop，喜欢这些的人都可以加入本群！&lt;/div&gt;



		
	&lt;/div&gt;&lt;!--end: blogTitle 博客的标题和副标题 --&gt;
	&lt;div id="navigator"&gt;
		
&lt;ul id="navList"&gt;
&lt;li id="nav_sitehome"&gt;&lt;a id="MyLinks1_HomeLink" class="menu" href="http://www.cnblogs.com/"&gt;博客园&lt;/a&gt;&lt;/li&gt;
&lt;li id="nav_myhome"&gt;&lt;a id="MyLinks1_MyHomeLink" class="menu" href="http://www.cnblogs.com/sharpxiajun/"&gt;首页&lt;/a&gt;&lt;/li&gt;
&lt;li id="nav_q"&gt;&lt;a class="menu" href="http://q.cnblogs.com/"&gt;博问&lt;/a&gt;&lt;/li&gt;
&lt;li id="nav_ing"&gt;&lt;a class="menu" href="http://home.cnblogs.com/ing/"&gt;闪存&lt;/a&gt;&lt;/li&gt;
&lt;li id="nav_newpost"&gt;&lt;a id="MyLinks1_NewPostLink" class="menu" rel="nofollow" href="http://i.cnblogs.com/EditPosts.aspx?opt=1"&gt;新随笔&lt;/a&gt;&lt;/li&gt;
&lt;li id="nav_contact"&gt;&lt;a id="MyLinks1_ContactLink" class="menu" rel="nofollow" href="http://space.cnblogs.com/msg/send/%e5%a4%8f%e5%a4%a9%e7%9a%84%e6%a3%ae%e6%9e%97"&gt;联系&lt;/a&gt;&lt;/li&gt;
&lt;li id="nav_rss"&gt;&lt;a id="MyLinks1_Syndication" class="menu" href="http://www.cnblogs.com/sharpxiajun/rss"&gt;订阅&lt;/a&gt;
&lt;!--&lt;a id="MyLinks1_XMLLink" class="aHeaderXML" href="http://www.cnblogs.com/sharpxiajun/rss"&gt;&lt;img src="http://www.cnblogs.com/images/xml.gif" alt="订阅" /&gt;&lt;/a&gt;--&gt;&lt;/li&gt;
&lt;li id="nav_admin"&gt;&lt;a id="MyLinks1_Admin" class="menu" rel="nofollow" href="http://i.cnblogs.com/"&gt;管理&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;

		&lt;div class="blogStats"&gt;
			
			
&lt;!--done--&gt;
随笔-88&amp;nbsp;
文章-0&amp;nbsp;
评论-614&amp;nbsp;

			
		&lt;/div&gt;&lt;!--end: blogStats --&gt;
	&lt;/div&gt;&lt;!--end: navigator 博客导航栏 --&gt;
&lt;/div&gt;&lt;!--end: header 头部 --&gt;
&lt;div id="main"&gt;
	&lt;div id="mainContent"&gt;
	&lt;div class="forFlow"&gt;
		

&lt;!--done--&gt;

&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_ctl00_ImageLink" href="http://www.cnblogs.com/sharpxiajun/"&gt;置顶随笔&lt;/a&gt;				  
	&lt;/div&gt;
	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_ctl00_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/sharpxiajun/p/3956811.html"&gt;[置顶]一个简单的、面向对象的javascript基础框架&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: 如果以后公司再能让我独立做一套新的完整系统，那么我肯定会为这个系统再写一个前端框架，那么我到底该如何写这个框架呢？ 在我以前的博客里我给大家展示了一个我自己写的框架，由于当时时间很紧张，做之前几乎没有完整的思考过我到底该如何去写这个框架，所以事后对于这个框架我有很多遗憾之处，当我重构过一次代码...&lt;a href="http://www.cnblogs.com/sharpxiajun/p/3956811.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-09-04 20:19 夏天的森林 阅读(1452) 评论(15)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3956811" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
			&lt;div class="postSeparator"&gt;&lt;/div&gt;
		
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_ctl00_DayList_TitleUrl_1" class="postTitle2" href="http://www.cnblogs.com/sharpxiajun/p/3955170.html"&gt;[置顶]关于Web开发里并发、同步、异步以及事件驱动编程的相关技术&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: 一、开篇语 我的上篇文章《关于如何提供Web服务端并发效率的异步编程技术》又成为了博客园里“编辑推荐”的文章，这是对我写博客很大的鼓励，也许是被推荐的原因很多童鞋在这篇文章里发表了评论，有童鞋说我这篇文章理论化很严重，没有实际代码和具体项目做支撑，这个评论让我有种理论和实践脱节的味道，所以我想在这...&lt;a href="http://www.cnblogs.com/sharpxiajun/p/3955170.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-09-04 01:12 夏天的森林 阅读(1072) 评论(9)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3955170" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
			&lt;div class="postSeparator"&gt;&lt;/div&gt;
		
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_ctl00_DayList_TitleUrl_2" class="postTitle2" href="http://www.cnblogs.com/sharpxiajun/p/3950466.html"&gt;[置顶]关于如何提高Web服务端并发效率的异步编程技术&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: 最近我研究技术的一个重点是java的多线程开发，在我早期学习java的时候，很多书上把java的多线程开发标榜为简单易用，这个简单易用是以C语言作为参照的，不过我也没有使用过C语言开发过多线程，我只知道我学习java多线程开发是很难的，直到现在写这篇文章的时候，虽然我对java多线程里的API比...&lt;a href="http://www.cnblogs.com/sharpxiajun/p/3950466.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-09-01 22:51 夏天的森林 阅读(4769) 评论(38)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3950466" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
			&lt;div class="postSeparator"&gt;&lt;/div&gt;
		
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_ctl00_DayList_TitleUrl_3" class="postTitle2" href="http://www.cnblogs.com/sharpxiajun/p/3936268.html"&gt;[置顶]为什么做java的web开发我们会使用struts2，springMVC和spring这样的框架?&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: 今年我一直在思考web开发里的前后端分离的问题，到了现在也颇有点心得了，随着这个问题的深入，再加以现在公司很多web项目的控制层的技术框架由struts2迁移到springMVC，我突然有了一个新的疑问无法得到正确的解释，为什么我们现在做java的web开发，会选择struts2或者spring...&lt;a href="http://www.cnblogs.com/sharpxiajun/p/3936268.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-08-26 00:29 夏天的森林 阅读(3074) 评论(31)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3936268" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
			&lt;div class="postSeparator"&gt;&lt;/div&gt;
		
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_ctl00_DayList_TitleUrl_4" class="postTitle2" href="http://www.cnblogs.com/sharpxiajun/p/3870797.html"&gt;[置顶]架构设计：前后端分离之Web前端架构设计&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: 在前面的文章里我谈到了前后端分离的一些看法，这个看法是从宏观的角度来思考的，没有具体的落地实现，今天我将延续上篇文章的主题，从纯前端的架构设计角度谈谈前后端分离的一种具体实现方案，该方案和我原来设想有了很大的变化，但是核心思想没变，就是控制层是属于Web前端的。 在以前文章里我说道前后端分离的...&lt;a href="http://www.cnblogs.com/sharpxiajun/p/3870797.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-07-26 23:48 夏天的森林 阅读(1718) 评论(2)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3870797" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
			&lt;div class="postSeparator"&gt;&lt;/div&gt;
		
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_ctl00_DayList_TitleUrl_5" class="postTitle2" href="http://www.cnblogs.com/sharpxiajun/p/3500785.html"&gt;[置顶]架构设计：远程调用服务架构设计及zookeeper技术详解（下篇）&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: 一、下篇开头的废话 终于开写下篇了，这也是我写远程调用框架的第三篇文章，前两篇都被博客园作为【编辑推荐】的文章，很兴奋哦，嘿嘿~~~~，本人是个很臭美的人，一定得要截图为证： 今天是2014年的第一天，按中国辞旧迎新的传统，也作为我2014年第一篇博客，我想开篇前要总结下2013年的技术学习。今年我当爸爸了，当爸爸的人是没啥时间研究什么技术和写博客的，所以2013年上半年我的文章很少很少，直到老婆5月回家待产才有重新拿起书，提起笔写技术博客。今年老婆要回上海了，估计2014年的博客数量又会少点，但是不管什么情况，在技术上的不断探索的态度我永远都不会变，这是我生活的一部分，既是我的工作需要也..&lt;a href="http://www.cnblogs.com/sharpxiajun/p/3500785.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-01-01 18:14 夏天的森林 阅读(5632) 评论(8)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3500785" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
			&lt;div class="postSeparator"&gt;&lt;/div&gt;
		
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_ctl00_DayList_TitleUrl_6" class="postTitle2" href="http://www.cnblogs.com/sharpxiajun/p/3496639.html"&gt;[置顶]架构设计：远程调用服务架构设计及zookeeper技术详解（上篇）&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: 一、序言 Hadoop是一个技术生态圈，zookeeper是hadoop生态圈里一个非常重要的技术，当我研究学习hadoop的相关技术时候，有两块知识曾经让我十分的困惑，一个是hbase，一个就是zookeeper，hbase的困惑源自于它在颠覆了我对数据库建模的理解，而zookeeper的困惑却是我无法理解它到底是干嘛的。 前不久我结合我了解的一种远程调用服务的设计来帮助我理解zookeeper在实际的生产中运用，该文章的地址是： http://www.cnblogs.com/sharpxiajun/p/3297852.html 其实这篇文章写完后，我自己感觉并不是太好，因为写本文的时候..&lt;a href="http://www.cnblogs.com/sharpxiajun/p/3496639.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2013-12-29 19:02 夏天的森林 阅读(8392) 评论(10)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3496639" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
			&lt;div class="postSeparator"&gt;&lt;/div&gt;
		
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_ctl00_DayList_TitleUrl_7" class="postTitle2" href="http://www.cnblogs.com/sharpxiajun/archive/2013/05/11/3072798.html"&gt;[置顶]我设计的网站的分布式架构&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: 互联网的网站和大部分企业管理软件一样都是使用B/S架构模型，但是大型的公共网站B/S架构会更加复杂，对架构人员的要求更高，今天我想在自己博客里聊聊我设计的网站的B/S技术架构。 不管是B/S架构的企业管理系统还是网站技术架构可以抽象为如下简图： 在传统B/S架构的企业管理系统里，技术架构往往就是一个工程项目，各个逻辑分层都是该工程的业务逻辑模块。但是作为提供公共服务的网站，由于用户群比较庞大，网站并发量高，需求变化大，变更频繁以及网站出于对安全的考虑，以上的逻辑分层在技术架构上的实现也就会复杂的多。本人前不久做一个网站，我设计的技术架构简图如下： 我把网站项目拆分为三个子项目：前端项...&lt;a href="http://www.cnblogs.com/sharpxiajun/archive/2013/05/11/3072798.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2013-05-11 15:09 夏天的森林 阅读(21961) 评论(71)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3072798" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
			&lt;div class="postSeparator"&gt;&lt;/div&gt;
		
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_ctl00_DayList_TitleUrl_8" class="postTitle2" href="http://www.cnblogs.com/sharpxiajun/archive/2013/01/16/2863404.html"&gt;[置顶]把自己开发的网站前端开发框架和大家分享下&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: 最近给公司的网站做了一套前端框架。公司的网站更像企业管理软件或者说是控制台，因此很多操作可以标准化，我借鉴了jQuery以及jqgrid的原理开发了一套适合于我们公司网站的前端框架，目前开发完了70%，基本的功能都已经实现，这里和大家分享下。 源程序下载地址： 由于博客园的文件上传有大小限制，我将源文件的压缩包放到了技术群的共享里了，群号是：262413025,35079861（我后面会找个容易下载的地址的~~~） 编译好的war包地址： 由于博客园的文件上传有大小限制，我将源文件的压缩包放到了技术群的共享里了，群号是：262413025,35079861（我后面会找个容易下载的地...&lt;a href="http://www.cnblogs.com/sharpxiajun/archive/2013/01/16/2863404.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2013-01-16 22:26 夏天的森林 阅读(12546) 评论(35)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=2863404" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;

&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl00_ImageLink" href="http://www.cnblogs.com/sharpxiajun/archive/2014/09/06.html"&gt;2014年9月6日&lt;/a&gt;				  
	&lt;/div&gt;
	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl00_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/sharpxiajun/p/3959807.html"&gt;关于javascript模块加载技术的一些思考&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: 前不久有个网友问我在前端使用requireJs和seajs的问题，我当时问他你们公司以前有没有自己编写的javascript库，或者javascript框架，他的回答是什么都没有，他只是听说像requirejs和seajs是新东西新技术，很有价值所以想用它。 这位网友的问题引起了我对javas...&lt;a href="http://www.cnblogs.com/sharpxiajun/p/3959807.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-09-06 20:53 夏天的森林 阅读(419) 评论(1)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3959807" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;

&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl01_ImageLink" href="http://www.cnblogs.com/sharpxiajun/archive/2014/09/04.html"&gt;2014年9月4日&lt;/a&gt;				  
	&lt;/div&gt;
	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl01_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/sharpxiajun/p/3956811.html"&gt;一个简单的、面向对象的javascript基础框架&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: 如果以后公司再能让我独立做一套新的完整系统，那么我肯定会为这个系统再写一个前端框架，那么我到底该如何写这个框架呢？ 在我以前的博客里我给大家展示了一个我自己写的框架，由于当时时间很紧张，做之前几乎没有完整的思考过我到底该如何去写这个框架，所以事后对于这个框架我有很多遗憾之处，当我重构过一次代码...&lt;a href="http://www.cnblogs.com/sharpxiajun/p/3956811.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-09-04 20:19 夏天的森林 阅读(1452) 评论(15)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3956811" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
			&lt;div class="postSeparator"&gt;&lt;/div&gt;
		
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl01_DayList_TitleUrl_1" class="postTitle2" href="http://www.cnblogs.com/sharpxiajun/p/3955170.html"&gt;关于Web开发里并发、同步、异步以及事件驱动编程的相关技术&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: 一、开篇语 我的上篇文章《关于如何提供Web服务端并发效率的异步编程技术》又成为了博客园里“编辑推荐”的文章，这是对我写博客很大的鼓励，也许是被推荐的原因很多童鞋在这篇文章里发表了评论，有童鞋说我这篇文章理论化很严重，没有实际代码和具体项目做支撑，这个评论让我有种理论和实践脱节的味道，所以我想在这...&lt;a href="http://www.cnblogs.com/sharpxiajun/p/3955170.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-09-04 01:12 夏天的森林 阅读(1072) 评论(9)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3955170" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;

&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl02_ImageLink" href="http://www.cnblogs.com/sharpxiajun/archive/2014/09/01.html"&gt;2014年9月1日&lt;/a&gt;				  
	&lt;/div&gt;
	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl02_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/sharpxiajun/p/3950466.html"&gt;关于如何提高Web服务端并发效率的异步编程技术&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: 最近我研究技术的一个重点是java的多线程开发，在我早期学习java的时候，很多书上把java的多线程开发标榜为简单易用，这个简单易用是以C语言作为参照的，不过我也没有使用过C语言开发过多线程，我只知道我学习java多线程开发是很难的，直到现在写这篇文章的时候，虽然我对java多线程里的API比...&lt;a href="http://www.cnblogs.com/sharpxiajun/p/3950466.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-09-01 22:51 夏天的森林 阅读(4769) 评论(38)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3950466" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;

&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl03_ImageLink" href="http://www.cnblogs.com/sharpxiajun/archive/2014/08/26.html"&gt;2014年8月26日&lt;/a&gt;				  
	&lt;/div&gt;
	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl03_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/sharpxiajun/p/3936268.html"&gt;为什么做java的web开发我们会使用struts2，springMVC和spring这样的框架?&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: 今年我一直在思考web开发里的前后端分离的问题，到了现在也颇有点心得了，随着这个问题的深入，再加以现在公司很多web项目的控制层的技术框架由struts2迁移到springMVC，我突然有了一个新的疑问无法得到正确的解释，为什么我们现在做java的web开发，会选择struts2或者spring...&lt;a href="http://www.cnblogs.com/sharpxiajun/p/3936268.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-08-26 00:29 夏天的森林 阅读(3074) 评论(31)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3936268" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;

&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl04_ImageLink" href="http://www.cnblogs.com/sharpxiajun/archive/2014/07/26.html"&gt;2014年7月26日&lt;/a&gt;				  
	&lt;/div&gt;
	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl04_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/sharpxiajun/p/3870797.html"&gt;架构设计：前后端分离之Web前端架构设计&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: 在前面的文章里我谈到了前后端分离的一些看法，这个看法是从宏观的角度来思考的，没有具体的落地实现，今天我将延续上篇文章的主题，从纯前端的架构设计角度谈谈前后端分离的一种具体实现方案，该方案和我原来设想有了很大的变化，但是核心思想没变，就是控制层是属于Web前端的。 在以前文章里我说道前后端分离的...&lt;a href="http://www.cnblogs.com/sharpxiajun/p/3870797.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-07-26 23:48 夏天的森林 阅读(1718) 评论(2)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3870797" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;

&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl05_ImageLink" href="http://www.cnblogs.com/sharpxiajun/archive/2014/01/23.html"&gt;2014年1月23日&lt;/a&gt;				  
	&lt;/div&gt;
	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl05_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/sharpxiajun/p/3531665.html"&gt;系统架构：Web应用架构的新趋势---前端和后端分离的一点想法&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: 最近研究servlet，看书时候书里讲到了c/s架构到b/s架构的演变，讲servlet的书都很老了，现在的b/s架构已经不是几年前的b/s架构，其实b/s架构就是web应用开发，对于这样的架构我们现在应该考虑的是前端和后端的分离（注意：这里的后端是指服务端）。 Web前端现在是一个独立的技术工种，这个工种的产生主要是针对互联网行业的需求，我在以前的文章里曾经讲到过，一个大型互联网网站，例如想淘宝网，它绝对不是一个Web项目，而是一群web项目的集合，那么如果不在前端进行整合，这么多web项目前端开发一定存在大量重复劳动，并且运维时候也存在难以统一管理的问题。本文假想一个面对需要前端资源...&lt;a href="http://www.cnblogs.com/sharpxiajun/p/3531665.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-01-23 19:54 夏天的森林 阅读(3922) 评论(11)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3531665" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;

&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl06_ImageLink" href="http://www.cnblogs.com/sharpxiajun/archive/2014/01/01.html"&gt;2014年1月1日&lt;/a&gt;				  
	&lt;/div&gt;
	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl06_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/sharpxiajun/p/3500785.html"&gt;架构设计：远程调用服务架构设计及zookeeper技术详解（下篇）&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: 一、下篇开头的废话 终于开写下篇了，这也是我写远程调用框架的第三篇文章，前两篇都被博客园作为【编辑推荐】的文章，很兴奋哦，嘿嘿~~~~，本人是个很臭美的人，一定得要截图为证： 今天是2014年的第一天，按中国辞旧迎新的传统，也作为我2014年第一篇博客，我想开篇前要总结下2013年的技术学习。今年我当爸爸了，当爸爸的人是没啥时间研究什么技术和写博客的，所以2013年上半年我的文章很少很少，直到老婆5月回家待产才有重新拿起书，提起笔写技术博客。今年老婆要回上海了，估计2014年的博客数量又会少点，但是不管什么情况，在技术上的不断探索的态度我永远都不会变，这是我生活的一部分，既是我的工作需要也..&lt;a href="http://www.cnblogs.com/sharpxiajun/p/3500785.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-01-01 18:14 夏天的森林 阅读(5632) 评论(8)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3500785" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;

&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl07_ImageLink" href="http://www.cnblogs.com/sharpxiajun/archive/2013/12/29.html"&gt;2013年12月29日&lt;/a&gt;				  
	&lt;/div&gt;
	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl07_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/sharpxiajun/p/3496639.html"&gt;架构设计：远程调用服务架构设计及zookeeper技术详解（上篇）&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: 一、序言 Hadoop是一个技术生态圈，zookeeper是hadoop生态圈里一个非常重要的技术，当我研究学习hadoop的相关技术时候，有两块知识曾经让我十分的困惑，一个是hbase，一个就是zookeeper，hbase的困惑源自于它在颠覆了我对数据库建模的理解，而zookeeper的困惑却是我无法理解它到底是干嘛的。 前不久我结合我了解的一种远程调用服务的设计来帮助我理解zookeeper在实际的生产中运用，该文章的地址是： http://www.cnblogs.com/sharpxiajun/p/3297852.html 其实这篇文章写完后，我自己感觉并不是太好，因为写本文的时候..&lt;a href="http://www.cnblogs.com/sharpxiajun/p/3496639.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2013-12-29 19:02 夏天的森林 阅读(8392) 评论(10)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3496639" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;

&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl08_ImageLink" href="http://www.cnblogs.com/sharpxiajun/archive/2013/11/27.html"&gt;2013年11月27日&lt;/a&gt;				  
	&lt;/div&gt;
	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl08_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/sharpxiajun/p/3446660.html"&gt;系统架构：前端监控系统草案（技术路线和用户行为分析相似）&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: 年末了，公司在统计自己支付系统的订单成功率，最后发现有很多订单成功率问题是和用户页面操作相关，但是我们目前有些页面没有打点做用户行为数据的采集，因此很难分析出用户到底是是什么原因没有完成订单，对此我写了一个前端监控方案，下班时候和领导开会讨论这个方案，很晚才回家哦，会上还是被批了一番，认为这个和用户行为分析系统耦合，而且最关键的采集那些信息，怎么分析信息没有细化，公司有相似的技术方案，我的方案很难成型。领导说的没错，我这个方案是重复性劳动，没必要大动干戈，但是至少我提出这个方案表明公司用户行为分析系统对类似前端页面监控的方案可能支持不够，这就让我产生了新的思考了，其实不管是用户行为还是前端监控&lt;a href="http://www.cnblogs.com/sharpxiajun/p/3446660.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2013-11-27 22:13 夏天的森林 阅读(2474) 评论(2)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3446660" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;

&lt;div class="topicListFooter"&gt;&lt;a href="http://www.cnblogs.com/sharpxiajun/default.html?OnlyTitle=1"&gt;仅列出标题&lt;/a&gt;&amp;nbsp;&amp;nbsp;&lt;a href="http://www.cnblogs.com/sharpxiajun/default.html?page=2"&gt;下一页&lt;/a&gt;&lt;/div&gt;


	&lt;/div&gt;&lt;!--end: forFlow --&gt;
	&lt;/div&gt;&lt;!--end: mainContent 主体内容容器--&gt;

	&lt;div id="sideBar"&gt;
		&lt;div id="sideBarMain"&gt;
			
&lt;!--done--&gt;
&lt;div class="newsItem"&gt;
&lt;h3 class="catListTitle"&gt;公告&lt;/h3&gt;
	&lt;div id="blog-news"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;loadBlogNews();&lt;/script&gt;
&lt;/div&gt;

			&lt;div id="calendar"&gt;&lt;div id="blog-calendar" style="display:none"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;loadBlogDefaultCalendar();&lt;/script&gt;&lt;/div&gt;
			
			&lt;div id="leftcontentcontainer"&gt;
				&lt;div id="blog-sidecolumn"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;loadBlogSideColumn();&lt;/script&gt;
			&lt;/div&gt;
			
		&lt;/div&gt;&lt;!--end: sideBarMain --&gt;
	&lt;/div&gt;&lt;!--end: sideBar 侧边栏容器 --&gt;
	&lt;div class="clear"&gt;&lt;/div&gt;
	&lt;/div&gt;&lt;!--end: main --&gt;
	&lt;div class="clear"&gt;&lt;/div&gt;
	&lt;div id="footer"&gt;
		
&lt;!--done--&gt;
Copyright &amp;copy;2014 夏天的森林
	&lt;/div&gt;&lt;!--end: footer --&gt;
&lt;/div&gt;&lt;!--end: home 自定义的最大容器 --&gt;
&lt;/body&gt;
&lt;/html&gt;
</Html>
	<HtmlMetas i:nil="true" />
	<HtmlTitle i:nil="true" />
	<IsDefault>false</IsDefault>
	<Layout i:nil="true" />
	<Name>-sharpxiajun-</Name>
	<OutputCache i:nil="true" />
	<PageContents xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
	<Plugins xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<Published>false</Published>
	<RequireHttps>false</RequireHttps>
	<Routes>
		<PageRoute>
			<Defaults xmlns:d4p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
			<Identifier>/sharpxiajun/</Identifier>
			<RoutePath i:nil="true" />
		</PageRoute>
	</Routes>
	<Scripts i:nil="true" />
	<Site>
		<AbsoluteName xmlns="Ovaldi.Core.Models">Cnblogs</AbsoluteName>
	</Site>
	<Styles i:nil="true" />
	<UUID>-sharpxiajun-</UUID>
</Page>