<?xml version="1.0" encoding="utf-8"?>
<Page xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Ovaldi.Core.Models">
	<AbsoluteName>-kooboo-404</AbsoluteName>
	<CustomFields xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<EnableScript>true</EnableScript>
	<EnableTheming>true</EnableTheming>
	<Html>&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
    &lt;meta name="robots" content="noindex,nofllow"&gt;
    &lt;title&gt;Not Found - Kooboo CMS&lt;/title&gt;
    &lt;link rel="Stylesheet" href="/preview~kooboo/Styles/Sites/WebResource" type="text/css"&gt;

&lt;!--[if lte IE 8]&gt;
&lt;script src="/Scripts/html5shiv.js" type="text/javascript"&gt;&lt;/script&gt;
&lt;script src="/Scripts/selectivizr-min.js" type="text/javascript"&gt;&lt;/script&gt;
&lt;![endif]--&gt;    
&lt;/head&gt;
&lt;body class="blank"&gt;
    &lt;div id="body-container" class="no-sidebar"&gt;
        &lt;header id="header" class="clearfix"&gt;
            &lt;a class="logo" href="/Sites/Home/SiteMap" title="Back to site manager"&gt;
                &lt;img src="/Images/logo.png " alt="LOGO"&gt;
            &lt;/a&gt;
        &lt;/header&gt;
        &lt;div id="main-container"&gt;
            &lt;div class="wrap"&gt;
                &lt;h1 class="title"&gt;
                    Not Found&lt;/h1&gt;
                &lt;article class="content"&gt;
                    &lt;p&gt;
                        If you see this page, it means that Kooboo CMS has been installed on this server.
                    &lt;/p&gt;
                    &lt;p&gt;
                        The requested URL was not found on this server. These could be the following reasons.
                    &lt;/p&gt;
                    &lt;ol&gt;
                        &lt;li&gt;You might have typed the URL incorrectly&lt;/li&gt;
                        &lt;li&gt;Your page has been moved&lt;/li&gt;
                        &lt;li&gt;You haven't created your Kooboo website yet. Please &lt;a href='/Admin'&gt;login&lt;/a&gt; and create your first Kooboo website.&lt;/li&gt;
                    &lt;/ol&gt;
                &lt;/article&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;footer id="footer"&gt;
            &lt;p&gt;
    Powered by Kooboo CMS
    4.2.1.827 | &amp;copy; 2009-2014 &lt;a href="http://www.kooboo.com" target="_blank"&gt;Kooboo team&lt;/a&gt;&lt;/p&gt;

        &lt;/footer&gt;
    &lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;
</Html>
	<HtmlMetas i:nil="true" />
	<HtmlTitle i:nil="true" />
	<IsDefault>false</IsDefault>
	<Layout i:nil="true" />
	<Name>-kooboo-404</Name>
	<OutputCache i:nil="true" />
	<PageContents xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
	<Plugins xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<Published>false</Published>
	<RequireHttps>false</RequireHttps>
	<Routes>
		<PageRoute>
			<Defaults xmlns:d4p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
			<Identifier>/kooboo-404</Identifier>
			<RoutePath i:nil="true" />
		</PageRoute>
	</Routes>
	<Scripts i:nil="true" />
	<Site>
		<AbsoluteName xmlns="Ovaldi.Core.Models">kooboo</AbsoluteName>
	</Site>
	<Styles i:nil="true" />
	<UUID>-kooboo-404</UUID>
</Page>