<?xml version="1.0" encoding="utf-8"?>
<Page xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Ovaldi.Core.Models">
	<AbsoluteName>-ttrjba-</AbsoluteName>
	<CustomFields xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<EnableScript>true</EnableScript>
	<EnableTheming>true</EnableTheming>
	<Html>&lt;!DOCTYPE html&gt;
&lt;html lang="zh-cn"&gt;
&lt;head&gt;
&lt;meta charset="utf-8"&gt;
&lt;title&gt;IT农民！ - 博客园&lt;/title&gt;
&lt;link type="text/css" rel="stylesheet" href="/preview~Cnblogs/Styles/bundles/blog-common.css"&gt;
&lt;link id="MainCss" type="text/css" rel="stylesheet" href="/preview~Cnblogs/Styles/skins/Minyx2_Lite/bundle-Minyx2_Lite.css"&gt;
&lt;link type="text/css" rel="stylesheet" href="/preview~Cnblogs/Styles/blog/customcss/149703.css"&gt;
&lt;link title="RSS" type="application/rss+xml" rel="alternate" href="http://www.cnblogs.com/ttrjba/rss"&gt;
&lt;link title="RSD" type="application/rsd+xml" rel="EditURI" href="http://www.cnblogs.com/ttrjba/rsd.xml"&gt;
&lt;link type="application/wlwmanifest+xml" rel="wlwmanifest" href="http://www.cnblogs.com/ttrjba/wlwmanifest.xml"&gt;
&lt;script src="http://common.cnblogs.com/script/jquery.js" type="text/javascript"&gt;&lt;/script&gt;  
&lt;script type="text/javascript"&gt;var currentBlogApp = 'ttrjba', cb_enable_mathjax=false;&lt;/script&gt;
&lt;script src="/preview~Cnblogs/Scripts/bundles/blog-common.js" type="text/javascript"&gt;&lt;/script&gt;
&lt;script src="/preview~Cnblogs/Scripts/skins/Minyx2_Lite/bundle-Minyx2_Lite.js" language="javascript" type="text/javascript"&gt;&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;a name="top"&gt;&lt;/a&gt;


&lt;div id="container"&gt;
    &lt;a class="minyx" href="http://www.cnblogs.com/"&gt;代码改变世界&lt;/a&gt;
    &lt;ul id="topMnu"&gt;
        &lt;!-- 统计数据 --&gt;
        &lt;li&gt;
            
                
Posts - 16, 
Articles - 0, 
Comments - 71
&lt;!----&gt;
            
        &lt;/li&gt;
        &lt;!-- 这边可以增加一些链接 --&gt;
        &lt;!-- 博客园 --&gt;
        &lt;li&gt;&lt;a href="http://www.cnblogs.com"&gt;Cnblogs&lt;/a&gt;&lt;/li&gt;
        &lt;!-- 管理 --&gt;
        &lt;li id="topMnu-dashboard"&gt;
            &lt;a id="lnkDashboard" href="http://www.cnblogs.com/ttrjba/admin/EditPosts.aspx"&gt;Dashboard&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;
            &lt;a id="lnkLogin" href="http://passport.cnblogs.com/login.aspx?ReturnUrl=http://www.cnblogs.com/ttrjba/default.aspx"&gt;Login&lt;/a&gt;&lt;/li&gt;
    &lt;/ul&gt;

    &lt;script type="text/javascript"&gt;
        var m = window.__blog.topMenuRendered;
        if (m) { m(__$("topMnu")); }
    &lt;/script&gt;

    &lt;div id="header"&gt;
        &lt;ul id="menu"&gt;
            &lt;!-- 首页，当前section加上current类 --&gt;
            &lt;li id="menu-home" class="current"&gt;
                &lt;a id="lnkHome" href="http://www.cnblogs.com/ttrjba/"&gt;Home&lt;/a&gt;&lt;/li&gt;
            &lt;!-- 联系 --&gt;
            &lt;li id="menu-contact"&gt;
                &lt;a id="lnkContact" href="http://space.cnblogs.com/msg/send/IT%e5%86%9c%e6%b0%91%ef%bc%81"&gt;Contact&lt;/a&gt;&lt;/li&gt;
            &lt;!-- 相册 --&gt;
            &lt;li id="menu-gallary"&gt;
                &lt;a id="lnkGallery" href="http://www.cnblogs.com/ttrjba/gallery.html"&gt;Gallery&lt;/a&gt;&lt;/li&gt;
            &lt;!-- Rss订阅 --&gt;
            &lt;li id="rss"&gt;
                &lt;a id="lnkRss" href="http://www.cnblogs.com/ttrjba/rss"&gt;RSS&lt;/a&gt;&lt;/li&gt;
        &lt;/ul&gt;
        &lt;div id="newmsg"&gt;&lt;/div&gt;
        &lt;h1&gt;
            &lt;!-- 主标题 --&gt;
            &lt;a id="lnkBlogTitle" href="http://www.cnblogs.com/ttrjba/"&gt;IT农民！&lt;/a&gt;
            &lt;!-- 子标题 --&gt;
            &lt;small&gt;
                从2014年开始，学会总结自己。&lt;/small&gt;
        &lt;/h1&gt;
    &lt;/div&gt;

    &lt;script type="text/javascript"&gt;
        var m = window.__blog.headerRendered;
        if (m) { m(__$("header")); }
    &lt;/script&gt;

    &lt;div id="wrapper"&gt;
        &lt;div id="content"&gt;
            &lt;script type="text/javascript"&gt;
                var m = window.__blog.preRenderPosts;
                if (m) { m(); }
            &lt;/script&gt;
            


    &lt;div class="post post-list-item" id="post_3974055"&gt;
        &lt;h2&gt;
            &lt;a id="homepage1_ctl01_rptEntries_TitleUrl_0" class="PostTitle" href="http://www.cnblogs.com/ttrjba/p/3974055.html"&gt;7行代码看EntityFramework是如何运行&lt;/a&gt;
        &lt;/h2&gt;
        &lt;small&gt;2014-09-16 08:47 by IT农民！, 2106 阅读, &lt;a href="#" onclick="PutInWz();return false;"&gt;收藏&lt;/a&gt;, &lt;a id="homepage1_ctl01_rptEntries_lnkEdit_0" href="http://i.cnblogs.com/EditPosts.aspx?postid=3974055"&gt;编辑&lt;/a&gt;&lt;/small&gt;
        &lt;div class="entry"&gt;
            &lt;div class="c_b_p_desc"&gt;摘要: 这段时间在项目中运用Entity Framework作为底层数据交互框架。一个字，爽。不仅提高了开发效率，省了很多代码，而且数据库也规范了很多。按照网上的一些教程初步学习，然后实际运用了，再结合MVC ，开发一个模块的增删改查，那真是一个爽歪歪。但是，随着项目不断完善，数据表越来越多，关联性也越来越...&lt;a href="http://www.cnblogs.com/ttrjba/p/3974055.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;
        &lt;/div&gt;
        &lt;ul class="postmetadata"&gt;
        &lt;li class="icon_comment icon_r"&gt;&lt;a id="homepage1_ctl01_rptEntries_lnkCommentCount_0" href="http://www.cnblogs.com/ttrjba/p/3974055.html#comments"&gt;21 Comment&lt;/a&gt;&lt;/li&gt;
        
        &lt;li id="homepage1_ctl01_rptEntries_liTag_0" class="icon_bullet"&gt;&amp;nbsp; &lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
    
    &lt;script type="text/javascript"&gt; 
    var m = window.__blog.postRendered; 
    if (m) { m(__$("post_3974055")); } 
    &lt;/script&gt;
    
    &lt;div class="post post-list-item" id="post_3952429"&gt;
        &lt;h2&gt;
            &lt;a id="homepage1_ctl01_rptEntries_TitleUrl_1" class="PostTitle" href="http://www.cnblogs.com/ttrjba/p/3952429.html"&gt;我用ASP.NET缓存之SQL数据缓存依赖(SqlCacheDependency)&lt;/a&gt;
        &lt;/h2&gt;
        &lt;small&gt;2014-09-02 23:05 by IT农民！, 788 阅读, &lt;a href="#" onclick="PutInWz();return false;"&gt;收藏&lt;/a&gt;, &lt;a id="homepage1_ctl01_rptEntries_lnkEdit_1" href="http://i.cnblogs.com/EditPosts.aspx?postid=3952429"&gt;编辑&lt;/a&gt;&lt;/small&gt;
        &lt;div class="entry"&gt;
            &lt;div class="c_b_p_desc"&gt;摘要: 【名词解释】缓存（Cache）依赖，大白话解释就是缓存是否更新依赖于其它Object。那么SqlCacheDependency指的就是Cache的数据更新依赖于SQL Server数据库表的变化（行级别更改）或者SQL 查询结果的变化。以前也总结过缓存的使用页面输出缓存：我用ASP.NET缓存之Ou...&lt;a href="http://www.cnblogs.com/ttrjba/p/3952429.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;
        &lt;/div&gt;
        &lt;ul class="postmetadata"&gt;
        &lt;li class="icon_comment icon_r"&gt;&lt;a id="homepage1_ctl01_rptEntries_lnkCommentCount_1" href="http://www.cnblogs.com/ttrjba/p/3952429.html#comments"&gt;2 Comment&lt;/a&gt;&lt;/li&gt;
        
        &lt;li id="homepage1_ctl01_rptEntries_liTag_1" class="icon_bullet"&gt;&lt;strong&gt;Tags: &lt;/strong&gt; &lt;a href="http://www.cnblogs.com/ttrjba/tag/ASP.NET/"&gt;ASP.NET&lt;/a&gt;, &lt;a href="http://www.cnblogs.com/ttrjba/tag/%e7%bc%93%e5%ad%98/"&gt;缓存&lt;/a&gt; &lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
    
    &lt;script type="text/javascript"&gt; 
    var m = window.__blog.postRendered; 
    if (m) { m(__$("post_3952429")); } 
    &lt;/script&gt;
    
    &lt;div class="post post-list-item" id="post_3873538"&gt;
        &lt;h2&gt;
            &lt;a id="homepage1_ctl01_rptEntries_TitleUrl_2" class="PostTitle" href="http://www.cnblogs.com/ttrjba/p/3873538.html"&gt;利用Microsoft.Office.Interop.Excel 将web页面转成PDF&lt;/a&gt;
        &lt;/h2&gt;
        &lt;small&gt;2014-07-28 17:09 by IT农民！, 714 阅读, &lt;a href="#" onclick="PutInWz();return false;"&gt;收藏&lt;/a&gt;, &lt;a id="homepage1_ctl01_rptEntries_lnkEdit_2" href="http://i.cnblogs.com/EditPosts.aspx?postid=3873538"&gt;编辑&lt;/a&gt;&lt;/small&gt;
        &lt;div class="entry"&gt;
            &lt;div class="c_b_p_desc"&gt;摘要: 利用 Microsoft.Office.Interop.Excel 将web页面转成PDF&lt;a href="http://www.cnblogs.com/ttrjba/p/3873538.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;
        &lt;/div&gt;
        &lt;ul class="postmetadata"&gt;
        &lt;li class="icon_comment icon_r"&gt;&lt;a id="homepage1_ctl01_rptEntries_lnkCommentCount_2" href="http://www.cnblogs.com/ttrjba/p/3873538.html#comments"&gt;5 Comment&lt;/a&gt;&lt;/li&gt;
        
        &lt;li id="homepage1_ctl01_rptEntries_liTag_2" class="icon_bullet"&gt;&lt;strong&gt;Tags: &lt;/strong&gt; &lt;a href="http://www.cnblogs.com/ttrjba/tag/ASP.NET/"&gt;ASP.NET&lt;/a&gt;, &lt;a href="http://www.cnblogs.com/ttrjba/tag/Excel/"&gt;Excel&lt;/a&gt; &lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
    
    &lt;script type="text/javascript"&gt; 
    var m = window.__blog.postRendered; 
    if (m) { m(__$("post_3873538")); } 
    &lt;/script&gt;
    
    &lt;div class="post post-list-item" id="post_3541904"&gt;
        &lt;h2&gt;
            &lt;a id="homepage1_ctl01_rptEntries_TitleUrl_3" class="PostTitle" href="http://www.cnblogs.com/ttrjba/p/3541904.html"&gt;IT农民的开发人员工具清单（2013年）&lt;/a&gt;
        &lt;/h2&gt;
        &lt;small&gt;2014-02-10 10:31 by IT农民！, 5566 阅读, &lt;a href="#" onclick="PutInWz();return false;"&gt;收藏&lt;/a&gt;, &lt;a id="homepage1_ctl01_rptEntries_lnkEdit_3" href="http://i.cnblogs.com/EditPosts.aspx?postid=3541904"&gt;编辑&lt;/a&gt;&lt;/small&gt;
        &lt;div class="entry"&gt;
            &lt;div class="c_b_p_desc"&gt;摘要: IT行业日新月异，每天都不断变化着。作为一名混迹IT行业小有几个年头码农来说，不仅要时刻提高自身技术，也要不断更新自己开发工具。这些工具都是我吃饭的饭碗。饭碗旧了也是需要买个新的。转眼之间，已到2014年，回顾2013年，该整理整理这么多年我一直在用的开发工具，供大家參考。如果你有好的工具，欢迎随时留言给我，感恩啦。`(*∩_∩*)′【开发平台】我主要从事ASP.NET Web开发，偶尔也客串一下PHP网站开发。从业这么多年来，一直坚持使用Windows操作系统（因为只会使用window）。从XP到Win7一直到现在Win8。IIS（Internet Information Services）&lt;a href="http://www.cnblogs.com/ttrjba/p/3541904.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;
        &lt;/div&gt;
        &lt;ul class="postmetadata"&gt;
        &lt;li class="icon_comment icon_r"&gt;&lt;a id="homepage1_ctl01_rptEntries_lnkCommentCount_3" href="http://www.cnblogs.com/ttrjba/p/3541904.html#comments"&gt;28 Comment&lt;/a&gt;&lt;/li&gt;
        
        &lt;li id="homepage1_ctl01_rptEntries_liTag_3" class="icon_bullet"&gt;&amp;nbsp; &lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
    
    &lt;script type="text/javascript"&gt; 
    var m = window.__blog.postRendered; 
    if (m) { m(__$("post_3541904")); } 
    &lt;/script&gt;
    
    &lt;div class="post post-list-item" id="post_3515315"&gt;
        &lt;h2&gt;
            &lt;a id="homepage1_ctl01_rptEntries_TitleUrl_4" class="PostTitle" href="http://www.cnblogs.com/ttrjba/p/3515315.html"&gt;我在项目中运用 IOC（依赖注入）--实战篇&lt;/a&gt;
        &lt;/h2&gt;
        &lt;small&gt;2014-01-13 08:36 by IT农民！, 1824 阅读, &lt;a href="#" onclick="PutInWz();return false;"&gt;收藏&lt;/a&gt;, &lt;a id="homepage1_ctl01_rptEntries_lnkEdit_4" href="http://i.cnblogs.com/EditPosts.aspx?postid=3515315"&gt;编辑&lt;/a&gt;&lt;/small&gt;
        &lt;div class="entry"&gt;
            &lt;div class="c_b_p_desc"&gt;摘要: 上一篇《我在项目中运用 IOC（依赖注入）--入门篇》只是简单的使用 IOC。实际项目使用 IOC 的情景复杂多了，比如说，构造函数有多个参数，有多个类继承同一个接口... Unity都有解决方法。首先回顾一下入门篇的项目需求：项目中数据统计功能，它下面有三种不同的统计类型，需要与数据库交互，然后展示到页面，在这篇中我们接着这个需求继续扩充。【没有接口】新增Model 层，LoginUser 当前登录人。无接口的怎样用IOC 创建对象。代码如下Model.LoginUser loginUser = container.Resolve();【多个子类】DAL 层 新增ShowResult2 方法&lt;a href="http://www.cnblogs.com/ttrjba/p/3515315.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;
        &lt;/div&gt;
        &lt;ul class="postmetadata"&gt;
        &lt;li class="icon_comment icon_r"&gt;&lt;a id="homepage1_ctl01_rptEntries_lnkCommentCount_4" href="http://www.cnblogs.com/ttrjba/p/3515315.html#comments"&gt;6 Comment&lt;/a&gt;&lt;/li&gt;
        
        &lt;li id="homepage1_ctl01_rptEntries_liTag_4" class="icon_bullet"&gt;&lt;strong&gt;Tags: &lt;/strong&gt; &lt;a href="http://www.cnblogs.com/ttrjba/tag/%e6%8e%a7%e5%88%b6%e5%8f%8d%e8%bd%ac/"&gt;控制反转&lt;/a&gt;, &lt;a href="http://www.cnblogs.com/ttrjba/tag/%e4%be%9d%e8%b5%96%e6%b3%a8%e5%85%a5/"&gt;依赖注入&lt;/a&gt;, &lt;a href="http://www.cnblogs.com/ttrjba/tag/IOC/"&gt;IOC&lt;/a&gt;, &lt;a href="http://www.cnblogs.com/ttrjba/tag/ASP.NET/"&gt;ASP.NET&lt;/a&gt; &lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
    
    &lt;script type="text/javascript"&gt; 
    var m = window.__blog.postRendered; 
    if (m) { m(__$("post_3515315")); } 
    &lt;/script&gt;
    
    &lt;div class="post post-list-item" id="post_3511935"&gt;
        &lt;h2&gt;
            &lt;a id="homepage1_ctl01_rptEntries_TitleUrl_5" class="PostTitle" href="http://www.cnblogs.com/ttrjba/p/3511935.html"&gt;我在项目中运用 IOC（依赖注入）--入门篇&lt;/a&gt;
        &lt;/h2&gt;
        &lt;small&gt;2014-01-09 15:34 by IT农民！, 2041 阅读, &lt;a href="#" onclick="PutInWz();return false;"&gt;收藏&lt;/a&gt;, &lt;a id="homepage1_ctl01_rptEntries_lnkEdit_5" href="http://i.cnblogs.com/EditPosts.aspx?postid=3511935"&gt;编辑&lt;/a&gt;&lt;/small&gt;
        &lt;div class="entry"&gt;
            &lt;div class="c_b_p_desc"&gt;摘要: 之前就听同事说过依赖注入(dependency injection)、控制反转(Inversion of Control)。起初听的是一头雾水，试着在项目中运用了几次，总算明白了一些，抛砖引玉，与大家分享一下拙见。其实依赖注入和控制反转指的都是同一个事情。什么是依赖注入了???【个人理解】以最熟悉的三层架构的项目来说，BLL层依赖DAL层，UI层依赖于BLL层，层层之间紧密联系。代码里到处都是new 对象。认识IOC后，发现IOC最大的好处就是解耦了对这种层级之间的依赖关系进。程序本身不在负责对象的创建和维护，而交给外部容器（IOC容器）来负责。外部容器在运行时动态地将依赖的对象注入到组件之中&lt;a href="http://www.cnblogs.com/ttrjba/p/3511935.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;
        &lt;/div&gt;
        &lt;ul class="postmetadata"&gt;
        &lt;li class="icon_comment icon_r"&gt;&lt;a id="homepage1_ctl01_rptEntries_lnkCommentCount_5" href="http://www.cnblogs.com/ttrjba/p/3511935.html#comments"&gt;25 Comment&lt;/a&gt;&lt;/li&gt;
        
        &lt;li id="homepage1_ctl01_rptEntries_liTag_5" class="icon_bullet"&gt;&lt;strong&gt;Tags: &lt;/strong&gt; &lt;a href="http://www.cnblogs.com/ttrjba/tag/IOC/"&gt;IOC&lt;/a&gt;, &lt;a href="http://www.cnblogs.com/ttrjba/tag/%e4%be%9d%e8%b5%96%e6%b3%a8%e5%85%a5/"&gt;依赖注入&lt;/a&gt;, &lt;a href="http://www.cnblogs.com/ttrjba/tag/%e6%8e%a7%e5%88%b6%e5%8f%8d%e8%bd%ac/"&gt;控制反转&lt;/a&gt; &lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
    
    &lt;script type="text/javascript"&gt; 
    var m = window.__blog.postRendered; 
    if (m) { m(__$("post_3511935")); } 
    &lt;/script&gt;
    
    &lt;div class="post post-list-item" id="post_3509602"&gt;
        &lt;h2&gt;
            &lt;a id="homepage1_ctl01_rptEntries_TitleUrl_6" class="PostTitle" href="http://www.cnblogs.com/ttrjba/p/3509602.html"&gt;我用ASP.NET缓存之数据缓存&lt;/a&gt;
        &lt;/h2&gt;
        &lt;small&gt;2014-01-07 21:33 by IT农民！, 1381 阅读, &lt;a href="#" onclick="PutInWz();return false;"&gt;收藏&lt;/a&gt;, &lt;a id="homepage1_ctl01_rptEntries_lnkEdit_6" href="http://i.cnblogs.com/EditPosts.aspx?postid=3509602"&gt;编辑&lt;/a&gt;&lt;/small&gt;
        &lt;div class="entry"&gt;
            &lt;div class="c_b_p_desc"&gt;摘要: 【我的理解】Cache，是内置的对象集合。是全局的，类似于static Arraylist.它是线程安全的，添加或修改Cache中的项目时，不需要锁定或者解除Cache。添加 Cache[Key]=object or Cache.Insert移除 Cache.Remove(key)【我是怎么用的】首先理解缓存策略。可调过期策略 和 绝对过期策略。注意，两则不能同时使用使用可调过期策略，需要将absoluteExpiration=DateTime.MaxValue ,TimeSpan .FromMinutes(10)设置项目只有在10分钟内不被使用才会被移除Cache.Insert(&amp;quot;&lt;a href="http://www.cnblogs.com/ttrjba/p/3509602.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;
        &lt;/div&gt;
        &lt;ul class="postmetadata"&gt;
        &lt;li class="icon_comment icon_r"&gt;&lt;a id="homepage1_ctl01_rptEntries_lnkCommentCount_6" href="http://www.cnblogs.com/ttrjba/p/3509602.html#comments"&gt;0 Comment&lt;/a&gt;&lt;/li&gt;
        
        &lt;li id="homepage1_ctl01_rptEntries_liTag_6" class="icon_bullet"&gt;&lt;strong&gt;Tags: &lt;/strong&gt; &lt;a href="http://www.cnblogs.com/ttrjba/tag/ASP.NET/"&gt;ASP.NET&lt;/a&gt;, &lt;a href="http://www.cnblogs.com/ttrjba/tag/%e7%bc%93%e5%ad%98/"&gt;缓存&lt;/a&gt; &lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
    
    &lt;script type="text/javascript"&gt; 
    var m = window.__blog.postRendered; 
    if (m) { m(__$("post_3509602")); } 
    &lt;/script&gt;
    
    &lt;div class="post post-list-item" id="post_3508839"&gt;
        &lt;h2&gt;
            &lt;a id="homepage1_ctl01_rptEntries_TitleUrl_7" class="PostTitle" href="http://www.cnblogs.com/ttrjba/p/3508839.html"&gt;我用ASP.NET缓存之OutputCache&lt;/a&gt;
        &lt;/h2&gt;
        &lt;small&gt;2014-01-07 14:55 by IT农民！, 650 阅读, &lt;a href="#" onclick="PutInWz();return false;"&gt;收藏&lt;/a&gt;, &lt;a id="homepage1_ctl01_rptEntries_lnkEdit_7" href="http://i.cnblogs.com/EditPosts.aspx?postid=3508839"&gt;编辑&lt;/a&gt;&lt;/small&gt;
        &lt;div class="entry"&gt;
            &lt;div class="c_b_p_desc"&gt;摘要: 【我的理解】页面缓存常用在网站上。Web应用系统上也用，但由于Web系统常与数据库打交道。时效性要求蛮强的，所以是否能用缓存得具体情况具体分析（很喜欢这句话“具体情况具体分析”，很符合国人的中庸之道）【我是怎么用的】参数分析：这样页面缓存就用上了。部分页缓存，结果用户控件使用。需将页面要缓存的一部分放入到一个用户控件中，然后就OutputCache得指令加入到用户控件上。这样也没不会被缓存，用户控件被缓存了。但是，如果用户控件里有个属性，需要页面对其赋值，则此时页面会出错。因为用户控件已经缓存，不能通过代码与页面进行交互。（记住）Web.config 配置缓存。 ...&lt;a href="http://www.cnblogs.com/ttrjba/p/3508839.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;
        &lt;/div&gt;
        &lt;ul class="postmetadata"&gt;
        &lt;li class="icon_comment icon_r"&gt;&lt;a id="homepage1_ctl01_rptEntries_lnkCommentCount_7" href="http://www.cnblogs.com/ttrjba/p/3508839.html#comments"&gt;2 Comment&lt;/a&gt;&lt;/li&gt;
        
        &lt;li id="homepage1_ctl01_rptEntries_liTag_7" class="icon_bullet"&gt;&lt;strong&gt;Tags: &lt;/strong&gt; &lt;a href="http://www.cnblogs.com/ttrjba/tag/ASP.NET/"&gt;ASP.NET&lt;/a&gt;, &lt;a href="http://www.cnblogs.com/ttrjba/tag/%e7%bc%93%e5%ad%98/"&gt;缓存&lt;/a&gt; &lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
    
    &lt;script type="text/javascript"&gt; 
    var m = window.__blog.postRendered; 
    if (m) { m(__$("post_3508839")); } 
    &lt;/script&gt;
    
    &lt;div class="post post-list-item" id="post_3508720"&gt;
        &lt;h2&gt;
            &lt;a id="homepage1_ctl01_rptEntries_TitleUrl_8" class="PostTitle" href="http://www.cnblogs.com/ttrjba/p/3508720.html"&gt;Resharper 使用帮助-自动生成文件头&lt;/a&gt;
        &lt;/h2&gt;
        &lt;small&gt;2014-01-07 14:05 by IT农民！, 179 阅读, &lt;a href="#" onclick="PutInWz();return false;"&gt;收藏&lt;/a&gt;, &lt;a id="homepage1_ctl01_rptEntries_lnkEdit_8" href="http://i.cnblogs.com/EditPosts.aspx?postid=3508720"&gt;编辑&lt;/a&gt;&lt;/small&gt;
        &lt;div class="entry"&gt;
            &lt;div class="c_b_p_desc"&gt;摘要: VS2012 安装完resharper 后，在resharper选项中选择 Code Editing – File Header Text 。 输入自定义的文件头格式。如果需要在文件头外层添加region 代码块，则需要在Embrace File Header into Region With Name: 文本框添加内容。再选择Code Editing – Code Cleanup 选项。点Add 添加自定义的文件格式。操作如图：勾选Update File Header点击save 或 save to运行RESHARPER – Tools – Cleanup Code 可查看刚才配置的选项。使&lt;a href="http://www.cnblogs.com/ttrjba/p/3508720.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;
        &lt;/div&gt;
        &lt;ul class="postmetadata"&gt;
        &lt;li class="icon_comment icon_r"&gt;&lt;a id="homepage1_ctl01_rptEntries_lnkCommentCount_8" href="http://www.cnblogs.com/ttrjba/p/3508720.html#comments"&gt;0 Comment&lt;/a&gt;&lt;/li&gt;
        
        &lt;li id="homepage1_ctl01_rptEntries_liTag_8" class="icon_bullet"&gt;&amp;nbsp; &lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
    
    &lt;script type="text/javascript"&gt; 
    var m = window.__blog.postRendered; 
    if (m) { m(__$("post_3508720")); } 
    &lt;/script&gt;
    
    &lt;div class="post post-list-item" id="post_3116881"&gt;
        &lt;h2&gt;
            &lt;a id="homepage1_ctl01_rptEntries_TitleUrl_9" class="PostTitle" href="http://www.cnblogs.com/ttrjba/archive/2013/06/04/3116881.html"&gt;支持多行同时编辑的编辑器 Sublime Text&lt;/a&gt;
        &lt;/h2&gt;
        &lt;small&gt;2013-06-04 12:44 by IT农民！, 841 阅读, &lt;a href="#" onclick="PutInWz();return false;"&gt;收藏&lt;/a&gt;, &lt;a id="homepage1_ctl01_rptEntries_lnkEdit_9" href="http://i.cnblogs.com/EditPosts.aspx?postid=3116881"&gt;编辑&lt;/a&gt;&lt;/small&gt;
        &lt;div class="entry"&gt;
            &lt;div class="c_b_p_desc"&gt;摘要: 【天天软件吧】先说说站长河马试用Sublime Text的感受：•跨平台。支持OSX、Windows 32位、Windows 64位、Linux等多操作平台。•界面比Note要很漂亮，更绚丽。很流畅，响应灵敏，很吸引眼球。•支持多光标操作（开始试用的时候对此功能很惊奇，试了很久）：它能让你对文本中的多个地方同时做修改，你可以看到多个地方在你输入的时候同时发生变化。重构时用它很方便，比如修改一个变量名。•打开文件很快，而且可以通过Go to anything弹出面板转到文件中任何地方。我使用Vim时一直使用ctrlp来做这种事情，Sublime Text支持转到某个位置和某行，非常方便。•com&lt;a href="http://www.cnblogs.com/ttrjba/archive/2013/06/04/3116881.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;
        &lt;/div&gt;
        &lt;ul class="postmetadata"&gt;
        &lt;li class="icon_comment icon_r"&gt;&lt;a id="homepage1_ctl01_rptEntries_lnkCommentCount_9" href="http://www.cnblogs.com/ttrjba/archive/2013/06/04/3116881.html#comments"&gt;0 Comment&lt;/a&gt;&lt;/li&gt;
        
        &lt;li id="homepage1_ctl01_rptEntries_liTag_9" class="icon_bullet"&gt;&amp;nbsp; &lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
    
    &lt;script type="text/javascript"&gt; 
    var m = window.__blog.postRendered; 
    if (m) { m(__$("post_3116881")); } 
    &lt;/script&gt;
    

&lt;script type="text/javascript"&gt;
    var m = window.__blog.postRenderPosts;
    if (m) { m(); }
&lt;/script&gt;

&lt;div&gt;
    &lt;div id="pager"&gt;&lt;a href="http://www.cnblogs.com/ttrjba/default.aspx?page=2"&gt;下一页&lt;/a&gt;&lt;/div&gt;
    
&lt;/div&gt;


        &lt;/div&gt;

        &lt;script type="text/javascript"&gt;
            var m = window.__blog.contentRendered;
            if (m) { m(__$("content")); }
        &lt;/script&gt;

        &lt;div id="sidebar"&gt;
            
&lt;div id="about"&gt;
&lt;div&gt;
&lt;h2 id="about_title"&gt;About&lt;/h2&gt;
&lt;div id="about_body"&gt;
&lt;div id="blog-news"&gt;&lt;/div&gt;
&lt;script type="text/javascript"&gt;loadBlogNews();&lt;/script&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;

            &lt;script type="text/javascript"&gt;
                var m = window.__blog.aboutRendered;
                if (m) { m(__$("about")); }
            &lt;/script&gt;
            
&lt;div id="mySearchWrapper"&gt;
    &lt;div id="mySearch"&gt;
        &lt;input type="image" src="/skins/Minyx2_Lite/images/btnsearch.gif" id="btnZzk" class="submit" onclick="zzk_go();return false;"&gt;
        &lt;label class="lb_search"&gt;&lt;input type="text" id="q" onkeydown="return zzk_go_enter(event);" class="keyword"&gt;&lt;/label&gt;
    &lt;/div&gt;
&lt;/div&gt;

            &lt;script type="text/javascript"&gt;
                var m = window.__blog.searchFormRendered;
                if (m) { m(__$("searchform")); }
            &lt;/script&gt;
            &lt;div id="sideMain"&gt;
            &lt;/div&gt;
            &lt;div id="sideRight"&gt;
            &lt;/div&gt;
            &lt;div id="sideLeft"&gt;
            &lt;/div&gt;
            
                &lt;div id="sideContainer"&gt;
                &lt;/div&gt;
                &lt;script type="text/javascript"&gt;
                    $.ajax({
                        url: '/' + currentBlogApp + '/mvc/blog/Minyx2_Lite_SideColumn.aspx',
                        data: '{}',
                        type: 'post',
                        dataType: 'text',
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            if (data) {
                                $("#sideContainer").html(data);
                                loadBlogDefaultCalendar();
                                loadBlogSideBlocks();
                                var m = window.__blog.sideContainerRendered;
                                if (m) { m(__$("sideContainer")); }
                                window.__blog.sidebar.__layout();
                            }
                        }
                    });

                &lt;/script&gt;
            
        &lt;/div&gt;

        &lt;script type="text/javascript"&gt;
            var m = window.__blog.sidebarRendered;
            if (m) { m(__$("sidebar")); }
        &lt;/script&gt;

        &lt;div id="footer"&gt;
            
&lt;p id="logoFoot"&gt;
    &lt;a href="http://www.spiga.com.mx/" title="Agencia Interactiva Spiga"&gt;www.spiga.com.mx&lt;/a&gt;
&lt;/p&gt;
&lt;div class="footText"&gt;
&lt;p&gt;
Copyright &amp;copy;2014 IT农民！
&lt;/p&gt;
&lt;p&gt;
&lt;a href="http://www.cnblogs.com"&gt;博客园&lt;/a&gt;
&lt;/p&gt;
&lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;

    &lt;script type="text/javascript"&gt;
        var m = window.__blog.wrapperRendered;
        if (m) { m(__$("wrapper")); }
    &lt;/script&gt;

&lt;/div&gt;
&lt;script type="text/javascript"&gt;
    var m = window.__blog.containerRendered;
    if (m) { m(__$("container")); }
&lt;/script&gt;
&lt;/body&gt;
&lt;/html&gt;
</Html>
	<HtmlMetas i:nil="true" />
	<HtmlTitle i:nil="true" />
	<IsDefault>false</IsDefault>
	<Layout i:nil="true" />
	<Name>-ttrjba-</Name>
	<OutputCache i:nil="true" />
	<PageContents xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
	<Plugins xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<Published>false</Published>
	<RequireHttps>false</RequireHttps>
	<Routes>
		<PageRoute>
			<Defaults xmlns:d4p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
			<Identifier>/ttrjba/</Identifier>
			<RoutePath i:nil="true" />
		</PageRoute>
	</Routes>
	<Scripts i:nil="true" />
	<Site>
		<AbsoluteName xmlns="Ovaldi.Core.Models">Cnblogs</AbsoluteName>
	</Site>
	<Styles i:nil="true" />
	<UUID>-ttrjba-</UUID>
</Page>