<?xml version="1.0" encoding="utf-8"?>
<Page xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Ovaldi.Core.Models">
	<AbsoluteName>-cmt-</AbsoluteName>
	<CustomFields xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<EnableScript>true</EnableScript>
	<EnableTheming>true</EnableTheming>
	<Html>&lt;!DOCTYPE html&gt;
&lt;html lang="zh-cn"&gt;
&lt;head&gt;
&lt;meta charset="utf-8"&gt;
&lt;title&gt;博客园团队 - 博客园&lt;/title&gt;
&lt;link type="text/css" rel="stylesheet" href="/preview~Cnblogs/Styles/bundles/blog-common.css"&gt;
&lt;link id="MainCss" type="text/css" rel="stylesheet" href="/preview~Cnblogs/Styles/skins/LessIsMoreRight/bundle-LessIsMoreRight.css"&gt;
&lt;link type="text/css" rel="stylesheet" href="/preview~Cnblogs/Styles/blog/customcss/39258.css"&gt;
&lt;link title="RSS" type="application/rss+xml" rel="alternate" href="http://www.cnblogs.com/cmt/rss"&gt;
&lt;link title="RSD" type="application/rsd+xml" rel="EditURI" href="http://www.cnblogs.com/cmt/rsd.xml"&gt;
&lt;link type="application/wlwmanifest+xml" rel="wlwmanifest" href="http://www.cnblogs.com/cmt/wlwmanifest.xml"&gt;
&lt;script src="http://common.cnblogs.com/script/jquery.js" type="text/javascript"&gt;&lt;/script&gt;  
&lt;script type="text/javascript"&gt;var currentBlogApp = 'cmt', cb_enable_mathjax=false;&lt;/script&gt;
&lt;script src="/preview~Cnblogs/Scripts/bundles/blog-common.js" type="text/javascript"&gt;&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;a name="top"&gt;&lt;/a&gt;

&lt;div id="home"&gt;
&lt;div id="header"&gt;
	&lt;div id="blogTitle"&gt;
		
&lt;!--done--&gt;
&lt;div class="title"&gt;&lt;a id="Header1_HeaderTitle" class="headermaintitle" href="http://www.cnblogs.com/cmt/"&gt;博客园官方博客&lt;/a&gt;&lt;/div&gt;
&lt;div class="subtitle"&gt;代码改变世界&lt;/div&gt;



		
	&lt;/div&gt;&lt;!--end: blogTitle 博客的标题和副标题 --&gt;
	&lt;div id="navigator"&gt;
		
&lt;ul id="navList"&gt;
&lt;li id="nav_sitehome"&gt;&lt;a id="MyLinks1_HomeLink" class="menu" href="http://www.cnblogs.com/"&gt;博客园&lt;/a&gt;&lt;/li&gt;
&lt;li id="nav_myhome"&gt;&lt;a id="MyLinks1_MyHomeLink" class="menu" href="http://www.cnblogs.com/cmt/"&gt;首页&lt;/a&gt;&lt;/li&gt;
&lt;li id="nav_q"&gt;&lt;a class="menu" href="http://q.cnblogs.com/"&gt;博问&lt;/a&gt;&lt;/li&gt;
&lt;li id="nav_ing"&gt;&lt;a class="menu" href="http://home.cnblogs.com/ing/"&gt;闪存&lt;/a&gt;&lt;/li&gt;
&lt;li id="nav_newpost"&gt;&lt;a id="MyLinks1_NewPostLink" class="menu" rel="nofollow" href="http://i.cnblogs.com/EditPosts.aspx?opt=1"&gt;新随笔&lt;/a&gt;&lt;/li&gt;
&lt;li id="nav_contact"&gt;&lt;a id="MyLinks1_ContactLink" class="menu" rel="nofollow" href="http://space.cnblogs.com/msg/send/%e5%8d%9a%e5%ae%a2%e5%9b%ad%e5%9b%a2%e9%98%9f"&gt;联系&lt;/a&gt;&lt;/li&gt;
&lt;li id="nav_rss"&gt;&lt;a id="MyLinks1_Syndication" class="menu" href="http://www.cnblogs.com/cmt/rss"&gt;订阅&lt;/a&gt;
&lt;!--&lt;a id="MyLinks1_XMLLink" class="aHeaderXML" href="http://www.cnblogs.com/cmt/rss"&gt;&lt;img src="http://www.cnblogs.com/images/xml.gif" alt="订阅" /&gt;&lt;/a&gt;--&gt;&lt;/li&gt;
&lt;li id="nav_admin"&gt;&lt;a id="MyLinks1_Admin" class="menu" rel="nofollow" href="http://i.cnblogs.com/"&gt;管理&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;

		&lt;div class="blogStats"&gt;
			
			
&lt;!--done--&gt;
随笔-676&amp;nbsp;
文章-27&amp;nbsp;
评论-14485&amp;nbsp;

			
		&lt;/div&gt;&lt;!--end: blogStats --&gt;
	&lt;/div&gt;&lt;!--end: navigator 博客导航栏 --&gt;
&lt;/div&gt;&lt;!--end: header 头部 --&gt;
&lt;div id="main"&gt;
	&lt;div id="mainContent"&gt;
	&lt;div class="forFlow"&gt;
		

&lt;!--done--&gt;

&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl00_ImageLink" href="http://www.cnblogs.com/cmt/archive/2014/09/15.html"&gt;2014年9月15日&lt;/a&gt;				  
	&lt;/div&gt;
	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl00_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/cmt/p/3972122.html"&gt;上周热点回顾（9.8-9.14）&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: 热点随笔：&amp;#183;做技术到底可以做到哪种地步-技术为什么越走越窄（小洋（燕洋天））&amp;#183;让 ASP.NET vNext 在 Mac OS 中飞呀飞。。。（田园里的蟋蟀）&amp;#183;Visual Studio 发布新版API智能提示（Jialiang）&amp;#183;抢火车票引发的思考（luguo3000）&amp;#183;一句话解释c#中的特性,你...&lt;a href="http://www.cnblogs.com/cmt/p/3972122.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-09-15 08:25 博客园团队 阅读(1183) 评论(0)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3972122" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;

&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl01_ImageLink" href="http://www.cnblogs.com/cmt/archive/2014/09/08.html"&gt;2014年9月8日&lt;/a&gt;				  
	&lt;/div&gt;
	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl01_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/cmt/p/3961826.html"&gt;上周热点回顾（9.1-9.7）&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: 热点随笔：&amp;#183;魅族的“火爆”预定表示“呵呵呵”-不要怪我拆穿（tankaixiong）&amp;#183;【调侃】IOC前世今生（家住腊树下）&amp;#183;跟着8张思维导图学习javascript（Ico_Coco）&amp;#183;下一代Asp.net开发规范OWIN（1）—— OWIN产生的背景以及简单介绍（JustRun）&amp;#183;关于如何提高We...&lt;a href="http://www.cnblogs.com/cmt/p/3961826.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-09-08 22:31 博客园团队 阅读(1100) 评论(1)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3961826" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;

&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl02_ImageLink" href="http://www.cnblogs.com/cmt/archive/2014/09/01.html"&gt;2014年9月1日&lt;/a&gt;				  
	&lt;/div&gt;
	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl02_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/cmt/p/3948509.html"&gt;上周热点回顾（8.25-8.31）&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: 热点随笔： &amp;#183; 开源.net 混淆器ConfuserEx介绍（程序员蛋子） &amp;#183; 在网站开发中很有用的8个 jQuery 效果【附源码】（梦想天空（山边小溪）） &amp;#183; 别太听上司的话（bigasa） &amp;#183; 来给罗永浩和王自如打个分（上）（王福朋） &amp;#183;...&lt;a href="http://www.cnblogs.com/cmt/p/3948509.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-09-01 07:41 博客园团队 阅读(1083) 评论(3)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3948509" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;

&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl03_ImageLink" href="http://www.cnblogs.com/cmt/archive/2014/08/25.html"&gt;2014年8月25日&lt;/a&gt;				  
	&lt;/div&gt;
	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl03_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/cmt/p/3934254.html"&gt;上周热点回顾（8.18-8.24）&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: 热点随笔： &amp;#183; windows phone如何才能在中国翻身？（郑某） &amp;#183; 大二女生web开发成长之路——讲述我从软妹子到女汉子的进阶过程（0603ljx） &amp;#183; 『.Net』微软家的女儿们（『大雪无痕』） &amp;#183; 这是我见过最厉害的--智能代码生成器、html+...&lt;a href="http://www.cnblogs.com/cmt/p/3934254.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-08-25 09:24 博客园团队 阅读(1098) 评论(2)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3934254" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;

&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl04_ImageLink" href="http://www.cnblogs.com/cmt/archive/2014/08/20.html"&gt;2014年8月20日&lt;/a&gt;				  
	&lt;/div&gt;
	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl04_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/cmt/p/3923705.html"&gt;[致歉]2:05-6:35部分站点出现故障，给您带来麻烦，请谅解&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: 今天凌晨，数据库服务器（阿里云RDS）IP发生了变更，阿里云也提前进行了通知。由于我们在hosts文件中进行了数据库服务器IP的绑定（为了减少DNS解析的开销），所以在这次数据库服务器IP变更之前，我们需要去掉所有服务器hosts文件中的IP绑定。&lt;a href="http://www.cnblogs.com/cmt/p/3923705.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-08-20 07:21 博客园团队 阅读(1341) 评论(17)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3923705" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;

&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl05_ImageLink" href="http://www.cnblogs.com/cmt/archive/2014/08/18.html"&gt;2014年8月18日&lt;/a&gt;				  
	&lt;/div&gt;
	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl05_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/cmt/p/3918770.html"&gt;上周热点回顾（8.11-8.17）&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: 热点随笔：&amp;#183;为什么我们都选择Mvc而不是选择Webform（Rocky Ren）&amp;#183;从毕业到现在6年的学习生活历程-流水账（trhimily）&amp;#183;重生的2014下半年的起点（天使龙）&amp;#183;又一款博客园Android客户端低调推出（小文字）&amp;#183;美妙的 CSS3 动画！一组梦幻般的按钮效果（梦想天空（山边小溪））...&lt;a href="http://www.cnblogs.com/cmt/p/3918770.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-08-18 09:28 博客园团队 阅读(1053) 评论(0)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3918770" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;

&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl06_ImageLink" href="http://www.cnblogs.com/cmt/archive/2014/08/16.html"&gt;2014年8月16日&lt;/a&gt;				  
	&lt;/div&gt;
	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl06_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/cmt/p/3916022.html"&gt;[网站公告]8月17日14:00-15:00（周日下午）发布新版站内短消息&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: 大家周末好！我们计划于8月17日14:00-15:00（周日下午）发布新版站内短消息。在发布过程中，短消息功能将有一段时间无法使用，由此给您带来麻烦，请谅解！&lt;a href="http://www.cnblogs.com/cmt/p/3916022.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-08-16 22:59 博客园团队 阅读(1520) 评论(18)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3916022" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;

&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl07_ImageLink" href="http://www.cnblogs.com/cmt/archive/2014/08/11.html"&gt;2014年8月11日&lt;/a&gt;				  
	&lt;/div&gt;
	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl07_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/cmt/p/3903931.html"&gt;上周热点回顾（8.4-8.10）&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: 热点随笔： &amp;#183; 七夕前面试被虐总结（wang_xiaohao） &amp;#183; [C#] 软硬结合第二篇——酷我音乐盒的逆天玩法（beautifulzzzz） &amp;#183; 生活篇：程序猿和女盆友分手了，但生活仍要继续（小九的学堂） &amp;#183; 新作《ASP.NET MVC 5框架揭秘》...&lt;a href="http://www.cnblogs.com/cmt/p/3903931.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-08-11 08:17 博客园团队 阅读(1421) 评论(0)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3903931" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;

&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl08_ImageLink" href="http://www.cnblogs.com/cmt/archive/2014/08/04.html"&gt;2014年8月4日&lt;/a&gt;				  
	&lt;/div&gt;
	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl08_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/cmt/p/3889280.html"&gt;上周热点回顾（7.28-8.3）&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: 热点随笔：&amp;#183;推荐几本C#程序员阅读的书籍（Crisis）&amp;#183;最近架构随想（圣殿骑士）&amp;#183;最近几年的编程感悟（1）（幕三少）&amp;#183;对TCP/IP网络协议的深入浅出归纳（Dana丶Li）&amp;#183;面向.Net程序员的dump分析（熬夜的虫子）&amp;#183;学习和面试，这两件事儿（Barret Lee）&amp;#183;关于测试人员的职业发展（sk...&lt;a href="http://www.cnblogs.com/cmt/p/3889280.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-08-04 08:26 博客园团队 阅读(1068) 评论(0)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3889280" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;

&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl09_ImageLink" href="http://www.cnblogs.com/cmt/archive/2014/07/29.html"&gt;2014年7月29日&lt;/a&gt;				  
	&lt;/div&gt;
	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl09_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/cmt/p/3876138.html"&gt;[网站公告]23:00-05:00阿里云SLB升级会造成4-8次每次10秒的闪断&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: 大家好，阿里云将于今天夜里（7月29日23:00-7月30日05:00）对负载均衡服务（SLB）进行升级操作，升级期间我们使用的SLB实例会有4-8次的闪断，每次闪断时间10秒左右。闪断期间会造成网站不能正常访问，由此您带来麻烦，请谅解！&lt;a href="http://www.cnblogs.com/cmt/p/3876138.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-07-29 18:13 博客园团队 阅读(843) 评论(9)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3876138" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;

&lt;div class="topicListFooter"&gt;&lt;a href="http://www.cnblogs.com/cmt/default.html?OnlyTitle=1"&gt;仅列出标题&lt;/a&gt;&amp;nbsp;&amp;nbsp;&lt;a href="http://www.cnblogs.com/cmt/default.html?page=2"&gt;下一页&lt;/a&gt;&lt;/div&gt;


	&lt;/div&gt;&lt;!--end: forFlow --&gt;
	&lt;/div&gt;&lt;!--end: mainContent 主体内容容器--&gt;

	&lt;div id="sideBar"&gt;
		&lt;div id="sideBarMain"&gt;
			
&lt;!--done--&gt;
&lt;div class="newsItem"&gt;
&lt;h3 class="catListTitle"&gt;公告&lt;/h3&gt;
	&lt;div id="blog-news"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;loadBlogNews();&lt;/script&gt;
&lt;/div&gt;

			&lt;div id="calendar"&gt;&lt;div id="blog-calendar" style="display:none"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;loadBlogDefaultCalendar();&lt;/script&gt;&lt;/div&gt;
			
			&lt;div id="leftcontentcontainer"&gt;
				&lt;div id="blog-sidecolumn"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;loadBlogSideColumn();&lt;/script&gt;
			&lt;/div&gt;
			
		&lt;/div&gt;&lt;!--end: sideBarMain --&gt;
	&lt;/div&gt;&lt;!--end: sideBar 侧边栏容器 --&gt;
	&lt;div class="clear"&gt;&lt;/div&gt;
	&lt;/div&gt;&lt;!--end: main --&gt;
	&lt;div class="clear"&gt;&lt;/div&gt;
	&lt;div id="footer"&gt;
		
&lt;!--done--&gt;
Copyright &amp;copy;2014 博客园团队
	&lt;/div&gt;&lt;!--end: footer --&gt;
&lt;/div&gt;&lt;!--end: home 自定义的最大容器 --&gt;
&lt;/body&gt;
&lt;/html&gt;
</Html>
	<HtmlMetas i:nil="true" />
	<HtmlTitle i:nil="true" />
	<IsDefault>false</IsDefault>
	<Layout i:nil="true" />
	<Name>-cmt-</Name>
	<OutputCache i:nil="true" />
	<PageContents xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
	<Plugins xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<Published>false</Published>
	<RequireHttps>false</RequireHttps>
	<Routes>
		<PageRoute>
			<Defaults xmlns:d4p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
			<Identifier>/cmt/</Identifier>
			<RoutePath i:nil="true" />
		</PageRoute>
	</Routes>
	<Scripts i:nil="true" />
	<Site>
		<AbsoluteName xmlns="Ovaldi.Core.Models">Cnblogs</AbsoluteName>
	</Site>
	<Styles i:nil="true" />
	<UUID>-cmt-</UUID>
</Page>