<?xml version="1.0" encoding="utf-8"?>
<Page xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Ovaldi.Core.Models">
	<AbsoluteName>-ranzige-</AbsoluteName>
	<CustomFields xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<EnableScript>true</EnableScript>
	<EnableTheming>true</EnableTheming>
	<Html>&lt;!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"&gt;
&lt;html xmlns="http://www.w3.org/1999/xhtml" lang="zh-cn"&gt;
&lt;head&gt;
&lt;meta http-equiv="Content-Type" content="text/html; charset=utf-8"&gt;
&lt;title&gt;技术狂 - 博客园&lt;/title&gt;
&lt;link type="text/css" rel="stylesheet" href="/preview~Cnblogs/Styles/bundles/blog-common.css"&gt;
&lt;link id="MainCss" type="text/css" rel="stylesheet" href="/preview~Cnblogs/Styles/skins/elf/bundle-elf.css"&gt;
&lt;link type="text/css" rel="stylesheet" href="/preview~Cnblogs/Styles/blog/customcss/104208.css"&gt;
&lt;link title="RSS" type="application/rss+xml" rel="alternate" href="http://www.cnblogs.com/ranzige/rss"&gt;
&lt;link title="RSD" type="application/rsd+xml" rel="EditURI" href="http://www.cnblogs.com/ranzige/rsd.xml"&gt;
&lt;link type="application/wlwmanifest+xml" rel="wlwmanifest" href="http://www.cnblogs.com/ranzige/wlwmanifest.xml"&gt;
&lt;script src="http://common.cnblogs.com/script/jquery.js" type="text/javascript"&gt;&lt;/script&gt;  
&lt;script type="text/javascript"&gt;var currentBlogApp = 'ranzige', cb_enable_mathjax=false;&lt;/script&gt;
&lt;script src="/preview~Cnblogs/Scripts/bundles/blog-common.js" type="text/javascript"&gt;&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;a name="top"&gt;&lt;/a&gt;
&lt;div id="page_begin_html"&gt;&lt;/div&gt;&lt;script&gt;load_page_begin_html();&lt;/script&gt;

&lt;!--done--&gt;
&lt;div id="home"&gt;
&lt;div id="header"&gt;
	&lt;div id="blogTitle"&gt;
	&lt;a id="lnkBlogLogo" href="http://www.cnblogs.com/ranzige/"&gt;&lt;img id="blogLogo" src="/preview~Cnblogs/Images/Skins/custom/images/logo.gif" alt="返回主页"&gt;&lt;/a&gt;			
		
&lt;!--done--&gt;
&lt;h1&gt;&lt;a id="Header1_HeaderTitle" class="headermaintitle" href="http://www.cnblogs.com/ranzige/"&gt;技术狂&lt;/a&gt;&lt;/h1&gt;
&lt;h2&gt;&lt;/h2&gt;



		
	&lt;/div&gt;&lt;!--end: blogTitle 博客的标题和副标题 --&gt;
	&lt;div id="navigator"&gt;
		
&lt;ul id="navList"&gt;
&lt;li&gt;&lt;/li&gt;
&lt;li&gt;&lt;a id="MyLinks1_MyHomeLink" class="menu" href="http://www.cnblogs.com/ranzige/"&gt;首页&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a class="menu" href="http://q.cnblogs.com/"&gt;博问&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a class="menu" href="http://home.cnblogs.com/ing/"&gt;闪存&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;/li&gt;
&lt;li&gt;&lt;/li&gt;
&lt;li&gt;&lt;a id="MyLinks1_Syndication" class="menu" href="http://www.cnblogs.com/ranzige/rss"&gt;订阅&lt;/a&gt;
&lt;!--&lt;a id="MyLinks1_XMLLink" class="aHeaderXML" href="http://www.cnblogs.com/ranzige/rss"&gt;&lt;img src="http://www.cnblogs.com/images/xml.gif" alt="订阅" /&gt;&lt;/a&gt;--&gt;&lt;/li&gt;
&lt;li&gt;&lt;a id="MyLinks1_Admin" class="menu" rel="nofollow" href="http://i.cnblogs.com/"&gt;管理&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
		&lt;div class="blogStats"&gt;
			
			
&lt;!--done--&gt;
随笔- 356&amp;nbsp;
文章- 0&amp;nbsp;
评论- 115&amp;nbsp;

			
		&lt;/div&gt;&lt;!--end: blogStats --&gt;
	&lt;/div&gt;&lt;!--end: navigator 博客导航栏 --&gt;
&lt;/div&gt;&lt;!--end: header 头部 --&gt;

&lt;div id="main"&gt;
	&lt;div id="mainContent"&gt;
	&lt;div class="forFlow"&gt;
		

&lt;!--done--&gt;


&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl00_ImageLink" href="http://www.cnblogs.com/ranzige/archive/2014/09/16.html"&gt;2014年9月16日&lt;/a&gt;				  
	&lt;/div&gt;

	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl00_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/ranzige/p/3975181.html"&gt;合并JavaScript数组的N种方法&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: 这是一篇简单的文章，关于JavaScript数组使用的一些技巧。我们将使用不同的方法结合/合并两个JS数组，以及讨论每个方法的优点/缺点。 让我们先考虑下面这情况：var a = [ 1, 2, 3, 4, 5, 6, 7, 8, 9 ];var b = [ &amp;quot;foo&amp;quot;, &amp;quot;bar&amp;quot;, &amp;quot;ba...&lt;a href="http://www.cnblogs.com/ranzige/p/3975181.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-09-16 16:18 技术狂 阅读(10) 评论(0)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3975181" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
			&lt;div class="postSeparator"&gt;&lt;/div&gt;
		
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl00_DayList_TitleUrl_1" class="postTitle2" href="http://www.cnblogs.com/ranzige/p/3974152.html"&gt;JS中应用正则表达式转换大小写&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: JS中应用正则表达式转换大小写，代码很简单，看代码：以下首字母大写，其它字母小写[javascript]view plaincopy==============================================================以下只首字母大写，其它字母大小写不作处理[j...&lt;a href="http://www.cnblogs.com/ranzige/p/3974152.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-09-16 08:52 技术狂 阅读(54) 评论(0)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3974152" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;


&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl01_ImageLink" href="http://www.cnblogs.com/ranzige/archive/2014/09/15.html"&gt;2014年9月15日&lt;/a&gt;				  
	&lt;/div&gt;

	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl01_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/ranzige/p/3973147.html"&gt;ASP.NET里的Session详细解释&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: Session模型简介Session是什么呢？简单来说就是服务器给客户端的一个编号。当一台WWW服务器运行时，可能有若干个用户浏览正在运正在这台服务器上的网站。当每个用户首次与这台WWW服务器建立连接时，他就与这个服务器建立了一个Session，同时服务器会自动为其分配一个SessionID，用以标...&lt;a href="http://www.cnblogs.com/ranzige/p/3973147.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-09-15 16:46 技术狂 阅读(110) 评论(0)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3973147" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
			&lt;div class="postSeparator"&gt;&lt;/div&gt;
		
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl01_DayList_TitleUrl_1" class="postTitle2" href="http://www.cnblogs.com/ranzige/p/3972150.html"&gt;css美化、优化、合并工具推荐&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: 其实很多时候，我们写完css规则之后，我们思考的无非就是3件事情：验证美化压缩当然无论是我们自己做这样的工具还是寻找一些比较好的成熟的工具，都有几个期望：是否支持一些ie下的hack方式：*property:value_property:valueproperty:valye\9是否支持@impor...&lt;a href="http://www.cnblogs.com/ranzige/p/3972150.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-09-15 08:56 技术狂 阅读(136) 评论(0)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3972150" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;


&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl02_ImageLink" href="http://www.cnblogs.com/ranzige/archive/2014/09/13.html"&gt;2014年9月13日&lt;/a&gt;				  
	&lt;/div&gt;

	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl02_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/ranzige/p/3962267.html"&gt;JavaScript操作XML (一)&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: JavaScript操作XML是通过XML DOM来完成的。那么什么是XML DOM呢？XML DOM 是：用于 XML 的标准对象模型用于 XML 的标准编程接口中立于平台和语言W3C 的标准XML DOM 定义了所有XML 元素的对象和属性，以及访问它们的方法（接口）。也就是说：XML DOM ...&lt;a href="http://www.cnblogs.com/ranzige/p/3962267.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-09-13 21:21 技术狂 阅读(118) 评论(0)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3962267" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;


&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl03_ImageLink" href="http://www.cnblogs.com/ranzige/archive/2014/09/12.html"&gt;2014年9月12日&lt;/a&gt;				  
	&lt;/div&gt;

	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl03_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/ranzige/p/3968379.html"&gt;YUI+Ant 实现JS CSS压缩&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: 今天研究了一下YUI yahoo开源框架，感觉很猛啊。于是乎我做了一个YUI的ant实现，网上好多关于bat的实现，我就另辟蹊径，出个关于这个的ant实现，嘿嘿独一无二的文章，如果转载的话，其注明作者和网站copyright：Mr.chen好了具体操作如下：官网:yuicompressor-2.4....&lt;a href="http://www.cnblogs.com/ranzige/p/3968379.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-09-12 14:49 技术狂 阅读(75) 评论(0)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3968379" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
			&lt;div class="postSeparator"&gt;&lt;/div&gt;
		
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl03_DayList_TitleUrl_1" class="postTitle2" href="http://www.cnblogs.com/ranzige/p/3967676.html"&gt;jquery之超简单的div显示和隐藏特效demo&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: 闲着无聊，看到某视频网站上讲的DIV显示和隐藏的效果，自己也写了一个。觉得还是挺简单的。前端改变世界！嘿嘿，还挺有成就感无标题文档div里内容的显示隐藏特效 1.测试例子 2.测试例子 3.测试例子 4.测试例子 5.测...&lt;a href="http://www.cnblogs.com/ranzige/p/3967676.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-09-12 09:06 技术狂 阅读(181) 评论(0)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3967676" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;


&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl04_ImageLink" href="http://www.cnblogs.com/ranzige/archive/2014/09/11.html"&gt;2014年9月11日&lt;/a&gt;				  
	&lt;/div&gt;

	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl04_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/ranzige/p/3966487.html"&gt;IE系列不支持圆角等CSS3属性的解决方案&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: IE系列浏览器不支持CSS的圆角(border-radius)等CSS3属性是一个众所周知的问题，而FF、Chrome原生的浏览器支持是的优雅的圆角感觉较好，如何解决这个问题呢？一种比较传统的方案是放弃CSS3，使用背景图，但是这种方式也会有诸多问题，对页面结构改动较大，需要对自适应大小进行控制等，...&lt;a href="http://www.cnblogs.com/ranzige/p/3966487.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-09-11 14:57 技术狂 阅读(122) 评论(0)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3966487" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;


&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl05_ImageLink" href="http://www.cnblogs.com/ranzige/archive/2014/09/10.html"&gt;2014年9月10日&lt;/a&gt;				  
	&lt;/div&gt;

	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl05_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/ranzige/p/3964427.html"&gt;JavaScript操作XML(二)&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: 上一篇介绍了XML的结构以及节点之间的关系这一篇介绍浏览器内建的XML解析器以及JavaScript是如何加载XML的。大多数浏览器都有读取和操作 XML 的内建 XML 解析器。解析器(XML Parser)把 XML 转换为 JavaScript 可访问的对象。解析器把 XML 载入内存，然后把...&lt;a href="http://www.cnblogs.com/ranzige/p/3964427.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-09-10 14:51 技术狂 阅读(83) 评论(0)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3964427" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
			&lt;div class="postSeparator"&gt;&lt;/div&gt;
		
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl05_DayList_TitleUrl_1" class="postTitle2" href="http://www.cnblogs.com/ranzige/p/3963939.html"&gt;使用CSS3建立不可选的的文字&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: 下面的例子展示了在HTML5中你如何使用CSS建立不可选的文字。Html代码Creatingnon-selectabletextusingCSS[selectable]Loremipsumdolorsitamet,consecteturadipiscingelit.Curabiturornare,u...&lt;a href="http://www.cnblogs.com/ranzige/p/3963939.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-09-10 10:39 技术狂 阅读(91) 评论(0)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3963939" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
			&lt;div class="postSeparator"&gt;&lt;/div&gt;
		
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl05_DayList_TitleUrl_2" class="postTitle2" href="http://www.cnblogs.com/ranzige/p/3963772.html"&gt;ASP.NET中使用TreeView显示文件&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: 在ASP.NET中,TreeView的使用很普遍,把它利用上来首先加入TreeView控件Html代码当页面加载的时候,写下以下代码C#代码protectedvoidPage_Load(objectsender,EventArgse){foreach(DriveInfodriverInfoinDri...&lt;a href="http://www.cnblogs.com/ranzige/p/3963772.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-09-10 09:26 技术狂 阅读(129) 评论(0)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3963772" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;


&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl06_ImageLink" href="http://www.cnblogs.com/ranzige/archive/2014/09/09.html"&gt;2014年9月9日&lt;/a&gt;				  
	&lt;/div&gt;

	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl06_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/ranzige/p/3958755.html"&gt;一次WEB前端优化尝试&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: 今天对自己做的项目中的一个设计器界面加载速度上进行了优化，因为页面在加载的时候，感觉有点慢。首先，我用firefox的yslow和chrome的pagespeed进行了测试，效果如下，分数有点不同，但是都是很低的。我其实主要在chrome下用pagespeed的提示进行优化的。yslow优化...&lt;a href="http://www.cnblogs.com/ranzige/p/3958755.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-09-09 08:31 技术狂 阅读(222) 评论(0)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3958755" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;


&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl07_ImageLink" href="http://www.cnblogs.com/ranzige/archive/2014/09/06.html"&gt;2014年9月6日&lt;/a&gt;				  
	&lt;/div&gt;

	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl07_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/ranzige/p/3959383.html"&gt;那些相见恨晚的 JavaScript 技巧&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: JavaScript 的成功让人津津乐道，为 Web 网页编写 JavaScript 代码已经是所有 Web 设计师的基本功，这门有趣的语言蕴藏着许多不为人熟知的东西，即使多年的 JavaScript 程序员，也未能完全吃透。本文从7个方面讲述 JavaScript 中那些你不很熟知但非常实用的技巧...&lt;a href="http://www.cnblogs.com/ranzige/p/3959383.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-09-06 13:59 技术狂 阅读(287) 评论(1)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3959383" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;


&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl08_ImageLink" href="http://www.cnblogs.com/ranzige/archive/2014/09/04.html"&gt;2014年9月4日&lt;/a&gt;				  
	&lt;/div&gt;

	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl08_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/ranzige/p/3955583.html"&gt;再谈JavaScript的数据类型问题&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: JavaScript的数据类型问题已经讨论过很多次了，但许多人还有许多书仍然沿用着错误的、混乱的一些观点，所以就再细讲一回。提及这个讨论的原因在于argb同学在我的MSN博客上的一段回复，又更早的起源则是两年前关于《JavaScript征途》一书的大讨论：从“装B被雷劈讲起——这个事就让它过去了过去...&lt;a href="http://www.cnblogs.com/ranzige/p/3955583.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-09-04 10:55 技术狂 阅读(99) 评论(0)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3955583" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;


&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl09_ImageLink" href="http://www.cnblogs.com/ranzige/archive/2014/09/03.html"&gt;2014年9月3日&lt;/a&gt;				  
	&lt;/div&gt;

	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl09_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/ranzige/p/3954076.html"&gt;如何高效的将excel导入sqlserver？&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: 大部分人都知道用oledb来读取数据到dataset，但是读取之后怎么处理dataset就千奇百怪了。很多人通过循环来拼接sql，这样做不但容易出错而且效率低下，System.Data.SqlClient.SqlBulkCopy 对于新手来说还是比较陌生的，这个就是传说中效率极高的bcp，6万多数据...&lt;a href="http://www.cnblogs.com/ranzige/p/3954076.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-09-03 16:54 技术狂 阅读(164) 评论(0)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3954076" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;

&lt;div class="topicListFooter"&gt;&lt;a href="http://www.cnblogs.com/ranzige/default.html?OnlyTitle=1"&gt;仅列出标题&lt;/a&gt;&amp;nbsp;&amp;nbsp;&lt;a href="http://www.cnblogs.com/ranzige/default.html?page=2"&gt;下一页&lt;/a&gt;&lt;/div&gt;


	&lt;/div&gt;&lt;!--end: forFlow --&gt;
	&lt;/div&gt;&lt;!--end: mainContent 主体内容容器--&gt;

	&lt;div id="sideBar"&gt;
		&lt;div id="sideBarMain"&gt;
			
&lt;!--done--&gt;
&lt;div class="newsItem"&gt;
&lt;h3 class="catListTitle"&gt;公告&lt;/h3&gt;
	&lt;div id="blog-news"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;loadBlogNews();&lt;/script&gt;
&lt;/div&gt;

			&lt;div id="blog-calendar" style="display:none"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;loadBlogDefaultCalendar();&lt;/script&gt;
			
			&lt;div id="leftcontentcontainer"&gt;
				&lt;div id="blog-sidecolumn"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;loadBlogSideColumn();&lt;/script&gt;
			&lt;/div&gt;
			
		&lt;/div&gt;&lt;!--end: sideBarMain --&gt;
	&lt;/div&gt;&lt;!--end: sideBar 侧边栏容器 --&gt;
	&lt;div class="clear"&gt;&lt;/div&gt;
	&lt;/div&gt;&lt;!--end: main --&gt;
	&lt;div class="clear"&gt;&lt;/div&gt;
	&lt;div id="footer"&gt;
		
&lt;!--done--&gt;
Copyright &amp;copy;2014 技术狂
	&lt;/div&gt;&lt;!--end: footer --&gt;
&lt;/div&gt;&lt;!--end: home 自定义的最大容器 --&gt;
&lt;!--PageEndHtml Block Begin--&gt;
&lt;script type="text/javascript"&gt;BAIDU_CLB_SLOT_ID = "953551";&lt;/script&gt;
&lt;script type="text/javascript" src="http://cbjs.baidu.com/js/o.js"&gt;&lt;/script&gt;

&lt;script type="text/javascript"&gt;
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F0da76333056aa0901f0800c3722d5145' type='text/javascript'%3E%3C/script%3E"));
&lt;/script&gt;
&lt;!--PageEndHtml Block End--&gt;
&lt;/body&gt;
&lt;/html&gt;
</Html>
	<HtmlMetas i:nil="true" />
	<HtmlTitle i:nil="true" />
	<IsDefault>false</IsDefault>
	<Layout i:nil="true" />
	<Name>-ranzige-</Name>
	<OutputCache i:nil="true" />
	<PageContents xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
	<Plugins xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<Published>false</Published>
	<RequireHttps>false</RequireHttps>
	<Routes>
		<PageRoute>
			<Defaults xmlns:d4p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
			<Identifier>/ranzige/</Identifier>
			<RoutePath i:nil="true" />
		</PageRoute>
	</Routes>
	<Scripts i:nil="true" />
	<Site>
		<AbsoluteName xmlns="Ovaldi.Core.Models">Cnblogs</AbsoluteName>
	</Site>
	<Styles i:nil="true" />
	<UUID>-ranzige-</UUID>
</Page>