<?xml version="1.0" encoding="utf-8"?>
<Page xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Ovaldi.Core.Models">
	<AbsoluteName>-p2227-</AbsoluteName>
	<CustomFields xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<EnableScript>true</EnableScript>
	<EnableTheming>true</EnableTheming>
	<Html>&lt;!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"&gt;
&lt;html xmlns="http://www.w3.org/1999/xhtml" lang="zh-cn"&gt;
&lt;head&gt;
&lt;meta http-equiv="Content-Type" content="text/html; charset=utf-8"&gt;
&lt;title&gt;p2227 - 博客园&lt;/title&gt;
&lt;link type="text/css" rel="stylesheet" href="/preview~Cnblogs/Styles/bundles/blog-common.css"&gt;
&lt;link id="MainCss" type="text/css" rel="stylesheet" href="/preview~Cnblogs/Styles/skins/SimpleBlue/bundle-SimpleBlue.css"&gt;
&lt;link type="text/css" rel="stylesheet" href="/preview~Cnblogs/Styles/blog/customcss/174433.css"&gt;
&lt;link title="RSS" type="application/rss+xml" rel="alternate" href="http://www.cnblogs.com/p2227/rss"&gt;
&lt;link title="RSD" type="application/rsd+xml" rel="EditURI" href="http://www.cnblogs.com/p2227/rsd.xml"&gt;
&lt;link type="application/wlwmanifest+xml" rel="wlwmanifest" href="http://www.cnblogs.com/p2227/wlwmanifest.xml"&gt;
&lt;script src="http://common.cnblogs.com/script/jquery.js" type="text/javascript"&gt;&lt;/script&gt;  
&lt;script type="text/javascript"&gt;var currentBlogApp = 'p2227', cb_enable_mathjax=false;&lt;/script&gt;
&lt;script src="/preview~Cnblogs/Scripts/bundles/blog-common.js" type="text/javascript"&gt;&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;a name="top"&gt;&lt;/a&gt;
&lt;!--PageBeginHtml Block Begin--&gt;
&lt;base target="_blank"&gt;
&lt;link rel="stylesheet" href="http://files.cnblogs.com/p2227/Markdown.prettify.css" type="text/css"&gt;
&lt;!--PageBeginHtml Block End--&gt;

&lt;div id="home"&gt;
&lt;div id="header"&gt;
	&lt;div id="blogTitle"&gt;
		
&lt;!--done--&gt;
&lt;div class="title"&gt;&lt;a id="Header1_HeaderTitle" class="headermaintitle" href="http://www.cnblogs.com/p2227/"&gt;p2227&lt;/a&gt;&lt;/div&gt;
&lt;div class="subtitle"&gt;F-E-dom&lt;/div&gt;



		
	&lt;/div&gt;&lt;!--end: blogTitle 博客的标题和副标题 --&gt;
	&lt;div id="navigator"&gt;
		
&lt;ul id="navList"&gt;
&lt;li id="nav_sitehome"&gt;&lt;a id="MyLinks1_HomeLink" class="menu" href="http://www.cnblogs.com/"&gt;博客园&lt;/a&gt;&lt;/li&gt;
&lt;li id="nav_myhome"&gt;&lt;a id="MyLinks1_MyHomeLink" class="menu" href="http://www.cnblogs.com/p2227/"&gt;首页&lt;/a&gt;&lt;/li&gt;
&lt;li id="nav_q"&gt;&lt;a class="menu" href="http://q.cnblogs.com/"&gt;博问&lt;/a&gt;&lt;/li&gt;
&lt;li id="nav_ing"&gt;&lt;a class="menu" href="http://home.cnblogs.com/ing/"&gt;闪存&lt;/a&gt;&lt;/li&gt;
&lt;li id="nav_newpost"&gt;&lt;a id="MyLinks1_NewPostLink" class="menu" rel="nofollow" href="http://i.cnblogs.com/EditPosts.aspx?opt=1"&gt;新随笔&lt;/a&gt;&lt;/li&gt;
&lt;li id="nav_contact"&gt;&lt;a id="MyLinks1_ContactLink" class="menu" rel="nofollow" href="http://space.cnblogs.com/msg/send/p2227"&gt;联系&lt;/a&gt;&lt;/li&gt;
&lt;li id="nav_rss"&gt;&lt;a id="MyLinks1_Syndication" class="menu" href="http://www.cnblogs.com/p2227/rss"&gt;订阅&lt;/a&gt;
&lt;!--&lt;a id="MyLinks1_XMLLink" class="aHeaderXML" href="http://www.cnblogs.com/p2227/rss"&gt;&lt;img src="http://www.cnblogs.com/images/xml.gif" alt="订阅" /&gt;&lt;/a&gt;--&gt;&lt;/li&gt;
&lt;li id="nav_admin"&gt;&lt;a id="MyLinks1_Admin" class="menu" rel="nofollow" href="http://i.cnblogs.com/"&gt;管理&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;

		&lt;div class="blogStats"&gt;
			
			
&lt;!--done--&gt;
随笔-32&amp;nbsp;
文章-3&amp;nbsp;
评论-159&amp;nbsp;

			
		&lt;/div&gt;&lt;!--end: blogStats --&gt;
	&lt;/div&gt;&lt;!--end: navigator 博客导航栏 --&gt;
&lt;/div&gt;&lt;!--end: header 头部 --&gt;
&lt;div id="main"&gt;
	&lt;div id="mainContent"&gt;
	&lt;div class="forFlow"&gt;
		

&lt;!--done--&gt;

&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl00_ImageLink" href="http://www.cnblogs.com/p2227/archive/2014/09/15.html"&gt;2014年9月15日&lt;/a&gt;				  
	&lt;/div&gt;
	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl00_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/p2227/p/fiddler-practice.html"&gt;前后端分离的利器：fiddler的实用功能举例&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: # 前后端分离的利器：fiddler的实用功能举例##what&amp;#39;s fiddlerfiddler是一款代理软件，对于前后端分离开发非常重要。可以说，如果前端开发没有用上fiddler或类似软件，那还不能算是真正的前端开发。fiddler有三大实用功能：做代理，造响应（反向代理），造请求。下载安装请自...&lt;a href="http://www.cnblogs.com/p2227/p/fiddler-practice.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-09-15 23:26 p2227 阅读(890) 评论(4)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3973995" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;

&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl01_ImageLink" href="http://www.cnblogs.com/p2227/archive/2014/08/23.html"&gt;2014年8月23日&lt;/a&gt;				  
	&lt;/div&gt;
	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl01_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/p2227/p/javascript-finite-state-machine-application.html"&gt;javascript状态机及在工作流中的应用&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: #javascript状态机及在工作流中的应用##状态机什么叫状态机（Finite State Machine），书面上的解释可以自己借助搜索引擎寻找到。通俗地来讲是一个状态定义、查找、切换和事件派发等一系列的代码的集合。与之对应的设计模式叫状态机模式，常用于游戏编程，而在工作流的应用中也会用到。在...&lt;a href="http://www.cnblogs.com/p2227/p/javascript-finite-state-machine-application.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-08-23 23:56 p2227 阅读(576) 评论(2)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3932068" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;

&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl02_ImageLink" href="http://www.cnblogs.com/p2227/archive/2014/07/27.html"&gt;2014年7月27日&lt;/a&gt;				  
	&lt;/div&gt;
	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl02_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/p2227/p/3871904.html"&gt;常用的移动前端webapp交互细节&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: #常用的移动前端webapp交互细节##select的表现方式###PC端select控件在传统PC桌面已经存在多年，由于在IE6等低版本浏览器容易造成层级错乱，一直被一些UI框架所抛弃，而用div层去模拟。![传统的select控件](http://images.cnitblog.com/i/84...&lt;a href="http://www.cnblogs.com/p2227/p/3871904.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-07-27 21:00 p2227 阅读(417) 评论(0)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3871904" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;

&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl03_ImageLink" href="http://www.cnblogs.com/p2227/archive/2014/06/29.html"&gt;2014年6月29日&lt;/a&gt;				  
	&lt;/div&gt;
	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl03_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/p2227/p/3815751.html"&gt;移动前端webApp开发点滴积累20140629&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: #移动前端webApp开发点滴积累20140629##关于input行内居中的问题给input设定一个比较高的高度，在某些版本的移动设备上，文字不能垂直居中，即使设定了相同的行高也不行。（见图）![input行内居中](http://images.cnitblog.com/i/84053/20140...&lt;a href="http://www.cnblogs.com/p2227/p/3815751.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-06-29 22:51 p2227 阅读(1021) 评论(4)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3815751" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
			&lt;div class="postSeparator"&gt;&lt;/div&gt;
		
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl03_DayList_TitleUrl_1" class="postTitle2" href="http://www.cnblogs.com/p2227/p/3815185.html"&gt;我对前端行业人才的理解&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: #我对前端行业人才的理解## 背景最近都在招聘人员，发现前端这个行业，人才技能差异巨大，同名不同技能的人事实存在。## 我的理解![用技能区分前端人才](http://images.cnitblog.com/i/84053/201406/291453017892629.jpg)单纯以开发技能去区分（...&lt;a href="http://www.cnblogs.com/p2227/p/3815185.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-06-29 15:37 p2227 阅读(1701) 评论(22)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3815185" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;

&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl04_ImageLink" href="http://www.cnblogs.com/p2227/archive/2014/06/02.html"&gt;2014年6月2日&lt;/a&gt;				  
	&lt;/div&gt;
	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl04_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/p2227/p/3764772.html"&gt;自由与限制&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: #自由与限制##自由前端，包括html-css-javascript三大基础技术，都是非常能体验出开放自由的。具体说来，因为这三大技术都是以标准先行，html-css的标准由w3c组织制定，js的标准由ECMA制定，都是只有标准，没有jdk,没有.net framework，具体的实现都交给了浏览器...&lt;a href="http://www.cnblogs.com/p2227/p/3764772.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-06-02 22:01 p2227 阅读(410) 评论(0)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3764772" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;

&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl05_ImageLink" href="http://www.cnblogs.com/p2227/archive/2014/05/24.html"&gt;2014年5月24日&lt;/a&gt;				  
	&lt;/div&gt;
	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl05_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/p2227/p/3750408.html"&gt;移动前端webApp开发点滴积累20140524&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: #webApp开发几点体会（移动前端）##前言本文旨在记录本人涉足移动webApp开发的几点体会，欢迎分享与指正。##再见，IE678移动设备，Android跟iPhone是主流，即使是win8设备，自带的都IE9以上，再也见不到那个不按W3c套路解释的浏览器了，很多兼容性问题都可以放下，专心处理业...&lt;a href="http://www.cnblogs.com/p2227/p/3750408.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-05-24 21:06 p2227 阅读(1380) 评论(13)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3750408" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;

&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl06_ImageLink" href="http://www.cnblogs.com/p2227/archive/2014/04/19.html"&gt;2014年4月19日&lt;/a&gt;				  
	&lt;/div&gt;
	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl06_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/p2227/p/3675747.html"&gt;做业务系统与公众产品的区别&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: #做业务系统与公众产品的区别-- 谈谈最近找工作换工作的一些体会近一段时间找工作，从一个做业务系统的码农，转型为做公众产品的码农，颇有感悟。##业务系统 -- 业务业务，还是业务给政府单位尤其是地级市以上的政府单位做业务系统，真是一个大坑。###原因* 政府单位完全没有利益最大化这一说法，他们就是按...&lt;a href="http://www.cnblogs.com/p2227/p/3675747.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-04-19 23:23 p2227 阅读(1366) 评论(9)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3675747" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;

&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl07_ImageLink" href="http://www.cnblogs.com/p2227/archive/2014/03/20.html"&gt;2014年3月20日&lt;/a&gt;				  
	&lt;/div&gt;
	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl07_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/p2227/p/3613553.html"&gt;浅谈浏览器兼容性问题-（4）工具及调试&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: #浅谈浏览器兼容性问题-（4）工具及调试##前言浏览器兼容性的问题，即使积累得更多，也会有新的问题出现。此时我们就需要会（利用工具）调试及解决问题。下面以一个滚动条宽度位置的问题为例说明此点。##问题这个网址下的表格，在IE7模式下，会有一部分的内容被滚动条覆盖了![滚动条问题](http://images.cnitblog.com/i/84053/201403/192333492714593.jpg)##解决我们要利用`开发人员工具`，**一层层循序寻找看是哪个元素导致的问题**，是里面的太大，还是外面的太小？其实图中我已经找好了，是里面的表格元素大了一点，而且是IE7下面才有的问题，所以，&lt;a href="http://www.cnblogs.com/p2227/p/3613553.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-03-20 13:43 p2227 阅读(950) 评论(0)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3613553" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;

&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl08_ImageLink" href="http://www.cnblogs.com/p2227/archive/2014/03/17.html"&gt;2014年3月17日&lt;/a&gt;				  
	&lt;/div&gt;
	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl08_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/p2227/p/3606477.html"&gt;浅谈浏览器兼容性问题-（3）他山之石整理&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: #浅谈浏览器兼容性问题-（3）他山之石整理##前言我们除了在自己的实际项目中总结遇到的兼容性问题，还要通过网络及其他途径收集，以拓宽自己的视野思路。网络上的方案可以分为两类，一类针对某个点，解决一个常见的BUG；另外一类针对方法，解决特定版本下浏览器的问题##点###举例* margin及padding在各浏览器下不一致的问题，解决方法一般是`*{margin:0;padding:0;}`，在aliceui中是```body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,&lt;a href="http://www.cnblogs.com/p2227/p/3606477.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-03-17 23:24 p2227 阅读(706) 评论(3)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3606477" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;

&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl09_ImageLink" href="http://www.cnblogs.com/p2227/archive/2014/03/12.html"&gt;2014年3月12日&lt;/a&gt;				  
	&lt;/div&gt;
	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl09_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/p2227/p/3595409.html"&gt;浅谈浏览器兼容性问题-（2）本人解决方案理解与积累&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: #浅谈浏览器兼容性问题-（2）本人解决方案理解与积累##前言 接着[前一篇](http://www.cnblogs.com/p2227/p/3593087.html)吧，我们除了正确看待，还要有一定的解决方案积累。当然，IE没有公开的源代码，所以有很多内容只能是记录，在使用中熟记于心并提前避免。##【HTML/CSS】名(chou)扬(ming)天(yuan)下(bo)的IE6双倍边距问题###思考网上有很多关于该问题的文章，园子里面也有很多，[戳我](http://www.cnblogs.com/YAOXI/articles/1691265.html)。这些大多是从“已知问题”的角度去解决，&lt;a href="http://www.cnblogs.com/p2227/p/3595409.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-03-12 00:07 p2227 阅读(1131) 评论(2)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3595409" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;

&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl10_ImageLink" href="http://www.cnblogs.com/p2227/archive/2014/03/11.html"&gt;2014年3月11日&lt;/a&gt;				  
	&lt;/div&gt;
	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl10_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/p2227/p/3593087.html"&gt;浅谈浏览器兼容性问题-（1）产生、看待与思考&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: #浅谈浏览器兼容性问题-（1）产生、看待与思考##兼容性问题是如何产生的首先我们看一则笑话，[如果用枪来比喻各浏览器的话](http://tieba.baidu.com/p/2696301403)，其中chrome,ff等都是NB轰轰的枪。而IE？渣就算了，枪头还要反过来？这是闹哪样。再回归正题。2001年微软发布了XP和IE6，在当时是**世界上标准执行得最高的浏览器**，并且有很多私有技术和容错技术，使得顶峰市场份额达到98%。于是骄傲的微软不理睬W3C，W3C也把微软抛弃，两家分道扬镳越久，标准的相差就越来越远。遗留下的兼容性问题就交到了现在的前端开发者身上了。说白一点，浏览器是一个(X&lt;a href="http://www.cnblogs.com/p2227/p/3593087.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-03-11 01:15 p2227 阅读(969) 评论(4)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3593087" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;

&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl11_ImageLink" href="http://www.cnblogs.com/p2227/archive/2014/03/09.html"&gt;2014年3月9日&lt;/a&gt;				  
	&lt;/div&gt;
	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl11_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/p2227/p/3590687.html"&gt;前端经典笔试题（腾讯前端，三栏布局）&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: 前端经典笔试题（腾讯前端，三栏布局）旧公司辞职的工作已经做得七七八八了，今天去了一家公司招聘会，周末的招聘会，说明还是有心要找人的。刚去到，感觉人特别的多。不过一个小时的笔试过后人已经见少了。其中有一首题，觉得特别经典，当时在搜索笔试题时有见过，源于腾讯的一道题。当时感觉纯笔头写有纰漏，在此重新写一篇。实现一个三栏布局的网页，中间部分要自适应宽度并且优先加载。左边宽150px;右边栏宽200px;我的思路：既然左右有固定宽度，当然要设置了。中间优先加载，按照HTML顺序解释的原则，即中间放在文档前面。而中间放在前又会影响文档流的布局，所以在此改变一下元素的相对位置即可，解法应该有不少，解法网上&lt;a href="http://www.cnblogs.com/p2227/p/3590687.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-03-09 21:36 p2227 阅读(172) 评论(5)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3590687" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;

&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl12_ImageLink" href="http://www.cnblogs.com/p2227/archive/2014/03/07.html"&gt;2014年3月7日&lt;/a&gt;				  
	&lt;/div&gt;
	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl12_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/p2227/p/3586725.html"&gt;浅谈web语义化&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: #浅谈web语义化##web语义化是什么HTML5标准出来的时候，我曾经诧异为什么要定义这么多header footer nav article标准，DIV不挻好的嘛，方便开发人员记忆啊。但当页面开发完，面对所有都是DIV标签的网页，就会混乱了，到底哪里是页头，哪里是正文。当然我们可以用浏览器打开，F12一下，就一目了然了，但如果是网络爬虫，那就没这么容易识别到这个东西了。引用wiki的定义，[语义化](http://zh.wikipedia.org/wiki/%E8%AF%AD%E4%B9%89%E5%8C%96)是前端开发里面的一个专用术语，其优点在于标签语义化有助于构架良好的html结构&lt;a href="http://www.cnblogs.com/p2227/p/3586725.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-03-07 16:36 p2227 阅读(551) 评论(2)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3586725" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;

&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="homepage1_HomePageDays_DaysList_ctl13_ImageLink" href="http://www.cnblogs.com/p2227/archive/2014/03/06.html"&gt;2014年3月6日&lt;/a&gt;				  
	&lt;/div&gt;
	
			&lt;div class="postTitle"&gt;
				&lt;a id="homepage1_HomePageDays_DaysList_ctl13_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/p2227/p/3585405.html"&gt;浅谈表现与数据分离&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="postCon"&gt;&lt;div class="c_b_p_desc"&gt;摘要: #浅谈表现与数据分离##表现与数据分离是什么伴随着一个程序的业务逻辑，会产生数据；数据从持久层抽出，经过一定逻辑，就会表现到程序界面上。一个程序在界面上的表现和保存下来的数据不应该是耦合的，数据应该可以对应多个表现界面。我们常说的表现与数据分离一般是指实现这个现象的技术，尤其是指一种代码组织的方式。##常用方式`MVC`是我们经常听到的一种代码组织方式，用于使表现与数据分离。传统的MVC结合HTTP请求，把respone到浏览器的HTML全部算作为V。web2.0兴起后，在HTML上也包含着较多的业务逻辑，于是前端的MVC也逐渐产生，并有`MVVM`等新的针对于前端的代码组织方式及其他MV*框&lt;a href="http://www.cnblogs.com/p2227/p/3585405.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
			&lt;div class="postDesc"&gt;posted @ 2014-03-06 21:47 p2227 阅读(1006) 评论(0)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3585405" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		
&lt;/div&gt;

&lt;div class="topicListFooter"&gt;&lt;a href="http://www.cnblogs.com/p2227/default.html?OnlyTitle=1"&gt;仅列出标题&lt;/a&gt;&amp;nbsp;&amp;nbsp;&lt;a href="http://www.cnblogs.com/p2227/default.html?page=2"&gt;下一页&lt;/a&gt;&lt;/div&gt;


	&lt;/div&gt;&lt;!--end: forFlow --&gt;
	&lt;/div&gt;&lt;!--end: mainContent 主体内容容器--&gt;

	&lt;div id="sideBar"&gt;
		&lt;div id="sideBarMain"&gt;
			
&lt;!--done--&gt;
&lt;div class="newsItem"&gt;
&lt;h3 class="catListTitle"&gt;公告&lt;/h3&gt;
	&lt;div id="blog-news"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;loadBlogNews();&lt;/script&gt;
&lt;/div&gt;

			&lt;div id="calendar"&gt;&lt;div id="blog-calendar" style="display:none"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;loadBlogDefaultCalendar();&lt;/script&gt;&lt;/div&gt;
			
			&lt;div id="leftcontentcontainer"&gt;
				&lt;div id="blog-sidecolumn"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;loadBlogSideColumn();&lt;/script&gt;
			&lt;/div&gt;
			
		&lt;/div&gt;&lt;!--end: sideBarMain --&gt;
	&lt;/div&gt;&lt;!--end: sideBar 侧边栏容器 --&gt;
	&lt;div class="clear"&gt;&lt;/div&gt;
	&lt;/div&gt;&lt;!--end: main --&gt;
	&lt;div class="clear"&gt;&lt;/div&gt;
	&lt;div id="footer"&gt;
		
&lt;!--done--&gt;
Copyright &amp;copy;2014 p2227
	&lt;/div&gt;&lt;!--end: footer --&gt;
&lt;/div&gt;&lt;!--end: home 自定义的最大容器 --&gt;
&lt;!--PageEndHtml Block Begin--&gt;
&lt;script src="http://files.cnblogs.com/p2227/Markdown.min.js"&gt;&lt;/script&gt;
&lt;!--PageEndHtml Block End--&gt;
&lt;/body&gt;
&lt;/html&gt;
</Html>
	<HtmlMetas i:nil="true" />
	<HtmlTitle i:nil="true" />
	<IsDefault>false</IsDefault>
	<Layout i:nil="true" />
	<Name>-p2227-</Name>
	<OutputCache i:nil="true" />
	<PageContents xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
	<Plugins xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<Published>false</Published>
	<RequireHttps>false</RequireHttps>
	<Routes>
		<PageRoute>
			<Defaults xmlns:d4p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
			<Identifier>/p2227/</Identifier>
			<RoutePath i:nil="true" />
		</PageRoute>
	</Routes>
	<Scripts i:nil="true" />
	<Site>
		<AbsoluteName xmlns="Ovaldi.Core.Models">Cnblogs</AbsoluteName>
	</Site>
	<Styles i:nil="true" />
	<UUID>-p2227-</UUID>
</Page>