<?xml version="1.0" encoding="utf-8"?>
<Page xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Ovaldi.Core.Models">
	<AbsoluteName>-AboutUS.aspx</AbsoluteName>
	<CustomFields xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<EnableScript>true</EnableScript>
	<EnableTheming>true</EnableTheming>
	<Html>&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
    &lt;title&gt;代码改变世界 Coding Changes the World - 关于博客园 About CNBlogs&lt;/title&gt;
    &lt;meta charset="utf-8"&gt;
	&lt;meta name="keywords" content="博客园简介,开发者,程序员,代码改变世界,开发者社区,coding"&gt;
    &lt;link href="http://common.cnblogs.com/css/reset.css" rel="Stylesheet" type="text/css"&gt;
	&lt;link href="/preview~Cnblogs/Styles/css/about.css" rel="Stylesheet" type="text/css"&gt;
    &lt;script src="http://common.cnblogs.com/script/jquery.js"&gt;&lt;/script&gt;
    &lt;script src="/preview~Cnblogs/Scripts/script/about.js"&gt;&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;div id="top_nav"&gt;&lt;div id="top_nav_left"&gt;«&lt;a href="http://www.cnblogs.com" title="返回网站首页"&gt;首页&lt;/a&gt;&lt;a href="http://q.cnblogs.com"&gt;博问&lt;/a&gt;&lt;a href="http://news.cnblogs.com"&gt;新闻&lt;/a&gt;&lt;a href="http://home.cnblogs.com/ing/"&gt;闪存&lt;/a&gt;&lt;a href="http://kb.cnblogs.com/"&gt;知识库&lt;/a&gt;&lt;/div&gt;&lt;div id="top_nav_right"&gt;&lt;/div&gt;&lt;/div&gt;
&lt;div&gt;
&lt;div id="main"&gt;
    &lt;div id="logo"&gt;
        &lt;a href="http://www.cnblogs.com/"&gt;&lt;img src="/preview~Cnblogs/Images/images/logo.gif" alt="博客园 logo" style="border:0px"&gt;&lt;/a&gt;
    &lt;/div&gt;
    &lt;div id="aboutus"&gt;
        &lt;img src="/preview~Cnblogs/Images/images/about/about_cnbogs.gif" alt="关于博客园"&gt;
    &lt;/div&gt;
    &lt;div id="side_left"&gt;
    &lt;ul id="nav_block"&gt;
    &lt;li&gt;&lt;a href="/about/intro.aspx" class="current"&gt;网站简介&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="/about/contactus.aspx"&gt;联系方式&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="/about/ad.aspx"&gt;广告服务&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="/about/job.aspx"&gt;人才服务&lt;/a&gt;&lt;/li&gt;
    &lt;/ul&gt;
    &lt;/div&gt;
    &lt;div id="side_right"&gt;
    
&lt;h1&gt;博客园简介 - 代码改变世界 Coding Changes the World&lt;/h1&gt;
&lt;div id="content"&gt;
    &lt;p&gt;
        博客园创立于2004年，是一个面向开发者的知识分享社区。互联网不仅可以让人们在网上购物、在网上聊天、在网上娱乐，还可以让人们在网上分享知识。分享知识不仅是一种精神与美德，更是一种自我学习与进步的方式。购物是一种需求，聊天是一种需求，娱乐是一种需求，而分享也是一种需求，而且是一种永不褪色的内在需求。互联网不仅让分享知识变得更方便，而且让分享知识变得更有价值，可以让更多人从中受益。博客园自创立之初就一直致力于解决这样一个问题——如何帮助开发者用代码改变世界？而我们能做的最能帮助开发者的一件事就是——帮助开发者分享知识。我们要让园子成为开发者离不开的知识的海洋。
	&lt;/p&gt;				
    &lt;p&gt;
    博客园的使命是帮助开发者用代码改变世界。
    &lt;/p&gt;
    &lt;p&gt;
    Cnblogs.com was founded in 2004. It is a knowledge-sharing communtiy for developers. 
    &lt;/p&gt;
    &lt;p&gt;
    Our mission is to help developers change the world by coding.
    &lt;/p&gt;
&lt;/div&gt;

    &lt;/div&gt;
    &lt;div class="clear"&gt;&lt;/div&gt;
&lt;/div&gt;
&lt;div id="footer"&gt;
    &lt;a href="http://www.cnblogs.com/AboutUS.aspx"&gt;关于博客园&lt;/a&gt;&lt;a href="http://www.cnblogs.com/ContactUs.aspx"&gt;联系我们&lt;/a&gt;&lt;a href="/ad.aspx"&gt;广告服务&lt;/a&gt;&lt;a href="/about/job.aspx"&gt;人才服务&lt;/a&gt;&amp;copy; 2004-2014&lt;a href="http://www.cnblogs.com"&gt;博客园&lt;/a&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;</Html>
	<HtmlMetas i:nil="true" />
	<HtmlTitle i:nil="true" />
	<IsDefault>false</IsDefault>
	<Layout i:nil="true" />
	<Name>-AboutUS.aspx</Name>
	<OutputCache i:nil="true" />
	<PageContents xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
	<Plugins xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<Published>false</Published>
	<RequireHttps>false</RequireHttps>
	<Routes>
		<PageRoute>
			<Defaults xmlns:d4p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
			<Identifier>/AboutUS.aspx</Identifier>
			<RoutePath i:nil="true" />
		</PageRoute>
	</Routes>
	<Scripts i:nil="true" />
	<Site>
		<AbsoluteName xmlns="Ovaldi.Core.Models">Cnblogs</AbsoluteName>
	</Site>
	<Styles i:nil="true" />
	<UUID>-AboutUS.aspx</UUID>
</Page>