<?xml version="1.0" encoding="utf-8"?>
<Page xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Ovaldi.Core.Models">
	<AbsoluteName>-smark-</AbsoluteName>
	<CustomFields xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<EnableScript>true</EnableScript>
	<EnableTheming>true</EnableTheming>
	<Html>&lt;!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"&gt;
&lt;html xmlns="http://www.w3.org/1999/xhtml" lang="zh-cn"&gt;
&lt;head&gt;
&lt;meta http-equiv="Content-Type" content="text/html; charset=utf-8"&gt;
&lt;title&gt;smark - 博客园&lt;/title&gt;
&lt;link type="text/css" rel="stylesheet" href="/preview~Cnblogs/Styles/bundles/blog-common.css"&gt;
&lt;link id="MainCss" type="text/css" rel="stylesheet" href="/preview~Cnblogs/Styles/skins/SimpleClear/bundle-SimpleClear.css"&gt;
&lt;link title="RSS" type="application/rss+xml" rel="alternate" href="http://www.cnblogs.com/smark/rss"&gt;
&lt;link title="RSD" type="application/rsd+xml" rel="EditURI" href="http://www.cnblogs.com/smark/rsd.xml"&gt;
&lt;link type="application/wlwmanifest+xml" rel="wlwmanifest" href="http://www.cnblogs.com/smark/wlwmanifest.xml"&gt;
&lt;script src="http://common.cnblogs.com/script/jquery.js" type="text/javascript"&gt;&lt;/script&gt;  
&lt;script type="text/javascript"&gt;var currentBlogApp = 'smark', cb_enable_mathjax=false;&lt;/script&gt;
&lt;script src="/preview~Cnblogs/Scripts/bundles/blog-common.js" type="text/javascript"&gt;&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;a name="top"&gt;&lt;/a&gt;

&lt;div id="main"&gt;
&lt;div id="header"&gt;
&lt;h1&gt;&lt;a id="Header1_HeaderTitle" href="http://www.cnblogs.com/smark/"&gt;smark&lt;/a&gt;&lt;/h1&gt;
&lt;p id="tagline"&gt;&lt;a href="https://github.com/IKende/"&gt;https://github.com/IKende/&lt;/a&gt;&lt;br&gt;&lt;/p&gt;&lt;/div&gt;


&lt;!--
&lt;p class="date"&gt;
	
	置顶随笔		  
&lt;/p&gt;
--&gt;

		&lt;div class="post"&gt;
			&lt;h2 class="postTitle"&gt;&lt;a id="homepage1_HomePageDays_ctl00_DayList_TitleUrl_0" href="http://www.cnblogs.com/smark/p/3783307.html"&gt;[置顶]可嵌入式的动态http服务minihttp组件&lt;/a&gt;&lt;/h2&gt;
			&lt;div class="postText"&gt;
			&lt;div class="c_b_p_desc"&gt;摘要: minihttp是基于c#实现的轻量级的动态WEB服务组件,通过minihttp可以轻松地构一个动态的WEB服务并嵌入到.NET程序中运行部署.由于minihttp完全基于托管代码实现,所以可以轻松运行在windows .net和 linux mono之间而不需要调整任何代码.为了方便处理动态功能m...&lt;a href="http://www.cnblogs.com/smark/p/3783307.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;
			&lt;/div&gt;				
			&lt;div class="postFoot"&gt;		
				posted @ 2014-06-12 09:51 smark 阅读(632) 评论(2)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3783307" rel="nofollow"&gt;编辑&lt;/a&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	
		&lt;div class="post"&gt;
			&lt;h2 class="postTitle"&gt;&lt;a id="homepage1_HomePageDays_ctl00_DayList_TitleUrl_1" href="http://www.cnblogs.com/smark/p/3636873.html"&gt;[置顶]Http压力测试工具HttpTest4Net&lt;/a&gt;&lt;/h2&gt;
			&lt;div class="postText"&gt;
			&lt;div class="c_b_p_desc"&gt;摘要: HttpTest4Net是一款基于C#实现的和HTTP压力测试工具,通过工具可以简单地对HTTP服务进行一个压力测试.虽然VS.NET也集成了压力测试项目,但由于VS自身占用的资源导致了在配置不高的PC上难以做到高并发压力测试,再加上需要装VS这个样一个庞大的工具也是件很麻烦的事情.使用HttpTe...&lt;a href="http://www.cnblogs.com/smark/p/3636873.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;
			&lt;/div&gt;				
			&lt;div class="postFoot"&gt;		
				posted @ 2014-03-31 21:20 smark 阅读(2360) 评论(12)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3636873" rel="nofollow"&gt;编辑&lt;/a&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	
		&lt;div class="post"&gt;
			&lt;h2 class="postTitle"&gt;&lt;a id="homepage1_HomePageDays_ctl00_DayList_TitleUrl_2" href="http://www.cnblogs.com/smark/archive/2011/10/17/2215232.html"&gt;[置顶]Smark.Data 开源数据访问组简介&lt;/a&gt;&lt;/h2&gt;
			&lt;div class="postText"&gt;
			&lt;div class="c_b_p_desc"&gt;摘要: Smark.Data是一款开源轻量级的数据访问组件，它能提供极其方便高效的数据访问操作；灵活的条件操作方式和数据获取描述是现有很多数据库访问组件所不具备.以下对组件的使用进行简单的介绍.项目地址:http://smark.codeplex.com/blog:http://www.cnblogs.com/smarkhttp://henryfan.net设置访问数据类型和连接信息在操作数据库这前设置相关信息是必须的,组件可以通过以下代码设置数据库访问类型和连接信息(也可以通过配置文件进行设置).?123string dbpath = @&amp;quot;Data Source=..\\..\\..\\l&lt;a href="http://www.cnblogs.com/smark/archive/2011/10/17/2215232.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;
			&lt;/div&gt;				
			&lt;div class="postFoot"&gt;		
				posted @ 2011-10-17 12:02 smark 阅读(2577) 评论(27)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=2215232" rel="nofollow"&gt;编辑&lt;/a&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	

&lt;!--
&lt;p class="date"&gt;
	
	2014年9月15日		  
&lt;/p&gt;
--&gt;

		&lt;div class="post"&gt;
			&lt;h2 class="postTitle"&gt;&lt;a id="homepage1_HomePageDays_DaysList_ctl00_DayList_TitleUrl_0" href="http://www.cnblogs.com/smark/p/3973861.html"&gt;业务逻辑层缓存应该设计&lt;/a&gt;&lt;/h2&gt;
			&lt;div class="postText"&gt;
			&lt;div class="c_b_p_desc"&gt;摘要: 在业务制定的时候很少会切入缓存设计这一环节,毕竟在指标不明确的情况这属于一种过渡设计.毕竟缓存切入有很多手段,在很多时候直接在WEB进行一个页面缓存就有着非常高收益的效果.缓存是一种横向的数据处理应用,一般在设计中引入AOP,ICO的应用组件都可以在后期切入添加.但AOP,ICO在没有比较丰...&lt;a href="http://www.cnblogs.com/smark/p/3973861.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;
			&lt;/div&gt;				
			&lt;div class="postFoot"&gt;		
				posted @ 2014-09-15 22:14 smark 阅读(639) 评论(6)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3973861" rel="nofollow"&gt;编辑&lt;/a&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	

&lt;!--
&lt;p class="date"&gt;
	
	2014年9月9日		  
&lt;/p&gt;
--&gt;

		&lt;div class="post"&gt;
			&lt;h2 class="postTitle"&gt;&lt;a id="homepage1_HomePageDays_DaysList_ctl01_DayList_TitleUrl_0" href="http://www.cnblogs.com/smark/p/3962459.html"&gt;.NET Socket TCP 50W在线连接交互测试&lt;/a&gt;&lt;/h2&gt;
			&lt;div class="postText"&gt;
			&lt;div class="c_b_p_desc"&gt;摘要: 在平常的交流中经常有人问.net socket能支持多少在线?和C++或linux下比起来应该差很远吧?其实产生这样问题的主要原因是.net很少人去做这方面的测试,而在linux下则经常听到什么100w或500w在线连接的测试.这样一个数字看起来多么地让人兴奋...其实在这几年编写通讯服务的...&lt;a href="http://www.cnblogs.com/smark/p/3962459.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;
			&lt;/div&gt;				
			&lt;div class="postFoot"&gt;		
				posted @ 2014-09-09 12:52 smark 阅读(2037) 评论(16)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3962459" rel="nofollow"&gt;编辑&lt;/a&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	

&lt;!--
&lt;p class="date"&gt;
	
	2014年9月5日		  
&lt;/p&gt;
--&gt;

		&lt;div class="post"&gt;
			&lt;h2 class="postTitle"&gt;&lt;a id="homepage1_HomePageDays_DaysList_ctl02_DayList_TitleUrl_0" href="http://www.cnblogs.com/smark/p/3957801.html"&gt;针对httptest4net构建elasticsearch集群压力测试用例&lt;/a&gt;&lt;/h2&gt;
			&lt;div class="postText"&gt;
			&lt;div class="c_b_p_desc"&gt;摘要: httptest4net是可以自定义HTTP压力测试的工具，用户可以根据自己的情况编写测试用例加载到httptest4net中并运行测试。由于最近需要对elasticsearch搜索集群进行一个不同情况的测试，所以针对这个测试写了个简单的测试用例。代码 1 [Test(&amp;quot;ES base&amp;quot;...&lt;a href="http://www.cnblogs.com/smark/p/3957801.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;
			&lt;/div&gt;				
			&lt;div class="postFoot"&gt;		
				posted @ 2014-09-05 12:22 smark 阅读(145) 评论(0)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3957801" rel="nofollow"&gt;编辑&lt;/a&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	

&lt;!--
&lt;p class="date"&gt;
	
	2014年9月3日		  
&lt;/p&gt;
--&gt;

		&lt;div class="post"&gt;
			&lt;h2 class="postTitle"&gt;&lt;a id="homepage1_HomePageDays_DaysList_ctl03_DayList_TitleUrl_0" href="http://www.cnblogs.com/smark/p/3953577.html"&gt;leveldb.net对象读写封装&lt;/a&gt;&lt;/h2&gt;
			&lt;div class="postText"&gt;
			&lt;div class="c_b_p_desc"&gt;摘要: leveldb是一个非常高效的可嵌入式K-V数据库,在.NET下有着基于win实现的包装leveldb.net;不过leveldb.net只提供了基于byte[]和string的处理,这显然会对使用的时候带来不方便,毕竟在编写应用的时候都是希望通过对象的方式来存储,如我们常见的redis,m...&lt;a href="http://www.cnblogs.com/smark/p/3953577.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;
			&lt;/div&gt;				
			&lt;div class="postFoot"&gt;		
				posted @ 2014-09-03 14:08 smark 阅读(475) 评论(0)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3953577" rel="nofollow"&gt;编辑&lt;/a&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	

&lt;!--
&lt;p class="date"&gt;
	
	2014年8月13日		  
&lt;/p&gt;
--&gt;

		&lt;div class="post"&gt;
			&lt;h2 class="postTitle"&gt;&lt;a id="homepage1_HomePageDays_DaysList_ctl04_DayList_TitleUrl_0" href="http://www.cnblogs.com/smark/p/3909291.html"&gt;redis和ssdb读取性能对比&lt;/a&gt;&lt;/h2&gt;
			&lt;div class="postText"&gt;
			&lt;div class="c_b_p_desc"&gt;摘要: 最近关注了一下ssdb,它的特点是基于文件存储系统所以它支撑量大的数据而不因为内存的限制受取约束.从官网的测试报告来看其性能也非常出色和redis相当,因此可以使用它来代替redis来进行k-v数据业务的处理.想法总是美好的,不过现实中就可能带点骨感. 幸好ssdb是兼容redis的部份协议...&lt;a href="http://www.cnblogs.com/smark/p/3909291.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;
			&lt;/div&gt;				
			&lt;div class="postFoot"&gt;		
				posted @ 2014-08-13 09:57 smark 阅读(878) 评论(2)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3909291" rel="nofollow"&gt;编辑&lt;/a&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	

&lt;!--
&lt;p class="date"&gt;
	
	2014年6月12日		  
&lt;/p&gt;
--&gt;

		&lt;div class="post"&gt;
			&lt;h2 class="postTitle"&gt;&lt;a id="homepage1_HomePageDays_DaysList_ctl05_DayList_TitleUrl_0" href="http://www.cnblogs.com/smark/p/3783307.html"&gt;可嵌入式的动态http服务minihttp组件&lt;/a&gt;&lt;/h2&gt;
			&lt;div class="postText"&gt;
			&lt;div class="c_b_p_desc"&gt;摘要: minihttp是基于c#实现的轻量级的动态WEB服务组件,通过minihttp可以轻松地构一个动态的WEB服务并嵌入到.NET程序中运行部署.由于minihttp完全基于托管代码实现,所以可以轻松运行在windows .net和 linux mono之间而不需要调整任何代码.为了方便处理动态功能m...&lt;a href="http://www.cnblogs.com/smark/p/3783307.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;
			&lt;/div&gt;				
			&lt;div class="postFoot"&gt;		
				posted @ 2014-06-12 09:51 smark 阅读(632) 评论(2)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3783307" rel="nofollow"&gt;编辑&lt;/a&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	

&lt;!--
&lt;p class="date"&gt;
	
	2014年5月27日		  
&lt;/p&gt;
--&gt;

		&lt;div class="post"&gt;
			&lt;h2 class="postTitle"&gt;&lt;a id="homepage1_HomePageDays_DaysList_ctl06_DayList_TitleUrl_0" href="http://www.cnblogs.com/smark/p/3754762.html"&gt;高命中缓存设计流程整理篇&lt;/a&gt;&lt;/h2&gt;
			&lt;div class="postText"&gt;
			&lt;div class="c_b_p_desc"&gt;摘要: 在之前的文章中简单描述了一下如何通过LRU结合多层缓存机制实现高命中的缓存,这一章节里的主要内容是深入地了解其原理的实现.LRU算法什么是LRU算法？ LRU是Least Recently Used的缩写，即最少使用页面置换算法，是为虚拟页式存储管理服务的.通过这种算法可以把最近使用的数据迁移到数据...&lt;a href="http://www.cnblogs.com/smark/p/3754762.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;
			&lt;/div&gt;				
			&lt;div class="postFoot"&gt;		
				posted @ 2014-05-27 11:35 smark 阅读(1058) 评论(4)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3754762" rel="nofollow"&gt;编辑&lt;/a&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	

&lt;!--
&lt;p class="date"&gt;
	
	2014年5月8日		  
&lt;/p&gt;
--&gt;

		&lt;div class="post"&gt;
			&lt;h2 class="postTitle"&gt;&lt;a id="homepage1_HomePageDays_DaysList_ctl07_DayList_TitleUrl_0" href="http://www.cnblogs.com/smark/p/3715855.html"&gt;探讨.net Socket支持在线连接数量&lt;/a&gt;&lt;/h2&gt;
			&lt;div class="postText"&gt;
			&lt;div class="c_b_p_desc"&gt;摘要: 发现不少同学在用.NET做通讯的时候都关心一个问题，.NET能支持多少个在线连接。其实.net的通讯由winsocket所支持，既然由低层的winsocket所支持那.NET其端的接入连接数的受限完全取于winsocket当前操作系统的限制。65535的限制？有很多同学认为由于端口有限，所以接入的连...&lt;a href="http://www.cnblogs.com/smark/p/3715855.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;
			&lt;/div&gt;				
			&lt;div class="postFoot"&gt;		
				posted @ 2014-05-08 12:04 smark 阅读(1622) 评论(3)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3715855" rel="nofollow"&gt;编辑&lt;/a&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	

&lt;!--
&lt;p class="date"&gt;
	
	2014年4月18日		  
&lt;/p&gt;
--&gt;

		&lt;div class="post"&gt;
			&lt;h2 class="postTitle"&gt;&lt;a id="homepage1_HomePageDays_DaysList_ctl08_DayList_TitleUrl_0" href="http://www.cnblogs.com/smark/p/3672662.html"&gt;Net Configuration Agent&lt;/a&gt;&lt;/h2&gt;
			&lt;div class="postText"&gt;
			&lt;div class="c_b_p_desc"&gt;摘要: 提出Configuration Agent这样一个东西可能会让人感到奇怪，对于配置信息读取什么还需要一个Agent;那Agent的作用是什么，能达到一个怎样的目的，下面讲解为何需要Agent和其重要性。普通应用场景一般情况每个应用都会获取本应用域下的配置信息，在应用单一部署的情况一般不会存在什么问题...&lt;a href="http://www.cnblogs.com/smark/p/3672662.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;
			&lt;/div&gt;				
			&lt;div class="postFoot"&gt;		
				posted @ 2014-04-18 10:42 smark 阅读(473) 评论(2)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3672662" rel="nofollow"&gt;编辑&lt;/a&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	

&lt;!--
&lt;p class="date"&gt;
	
	2014年3月31日		  
&lt;/p&gt;
--&gt;

		&lt;div class="post"&gt;
			&lt;h2 class="postTitle"&gt;&lt;a id="homepage1_HomePageDays_DaysList_ctl09_DayList_TitleUrl_0" href="http://www.cnblogs.com/smark/p/3636873.html"&gt;Http压力测试工具HttpTest4Net&lt;/a&gt;&lt;/h2&gt;
			&lt;div class="postText"&gt;
			&lt;div class="c_b_p_desc"&gt;摘要: HttpTest4Net是一款基于C#实现的和HTTP压力测试工具,通过工具可以简单地对HTTP服务进行一个压力测试.虽然VS.NET也集成了压力测试项目,但由于VS自身占用的资源导致了在配置不高的PC上难以做到高并发压力测试,再加上需要装VS这个样一个庞大的工具也是件很麻烦的事情.使用HttpTe...&lt;a href="http://www.cnblogs.com/smark/p/3636873.html" class="c_b_p_desc_readmore"&gt;阅读全文&lt;/a&gt;&lt;/div&gt;
			&lt;/div&gt;				
			&lt;div class="postFoot"&gt;		
				posted @ 2014-03-31 21:20 smark 阅读(2360) 评论(12)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3636873" rel="nofollow"&gt;编辑&lt;/a&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	

&lt;div class="topicListFooter"&gt;&lt;a href="http://www.cnblogs.com/smark/default.html?OnlyTitle=1"&gt;仅列出标题&lt;/a&gt;&amp;nbsp;&amp;nbsp;&lt;a href="http://www.cnblogs.com/smark/default.html?page=2"&gt;下一页&lt;/a&gt;&lt;/div&gt;


&lt;/div&gt;
&lt;div id="rightmenu"&gt;
	
		
&lt;div id="my_links"&gt;
&lt;h3&gt;导航&lt;/h3&gt;
&lt;ul&gt;
&lt;li&gt;&lt;a id="MyLinks1_HomeLink" href="http://www.cnblogs.com/"&gt;博客园&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a id="MyLinks1_MyHomeLink" href="http://www.cnblogs.com/smark/"&gt;首页&lt;/a&gt;&lt;/li&gt;
&lt;!--&lt;li&gt;&lt;a id="MyLinks1_NewPostLink" rel="nofollow" href="http://i.cnblogs.com/EditPosts.aspx?opt=1"&gt;新随笔&lt;/a&gt;&lt;/li&gt;--&gt;
&lt;li&gt;&lt;a id="MyLinks1_ContactLink" rel="nofollow" href="http://space.cnblogs.com/msg/send/smark"&gt;联系&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a id="MyLinks1_Syndication" href="http://www.cnblogs.com/smark/rss"&gt;订阅&lt;/a&gt;&lt;/li&gt;&lt;!--&lt;a id="MyLinks1_XMLLink" href="http://www.cnblogs.com/smark/rss"&gt;&lt;img src="http://www.cnblogs.com/images/xml.gif" alt="订阅" /&gt;&lt;/a&gt;--&gt;
&lt;li&gt;&lt;a id="MyLinks1_Admin" rel="nofollow" href="http://i.cnblogs.com/"&gt;管理&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;/div&gt;
		&lt;div id="blog-calendar" style="display:none"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;loadBlogDefaultCalendar();&lt;/script&gt;
		
&lt;h3&gt;公告&lt;/h3&gt;
&lt;div class="newsItem"&gt;
	&lt;div id="blog-news"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;loadBlogNews();&lt;/script&gt;
&lt;/div&gt;		
		
&lt;div id="blog_stats"&gt;
&lt;h3&gt;统计&lt;/h3&gt;
&lt;ul&gt;
&lt;li&gt;随笔 - 158
&lt;li&gt;文章 - 0
&lt;li&gt;评论 - 947
&lt;!--&lt;li&gt;引用 - 0--&gt;
&lt;/li&gt;
&lt;/li&gt;&lt;/li&gt;&lt;/ul&gt;
&lt;/div&gt;
		&lt;div id="blog-sidecolumn"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;loadBlogSideColumn();&lt;/script&gt;
        
		
&lt;div id="footer"&gt;
	Powered by: 
	&lt;br&gt;
	
	&lt;a id="Footer1_Hyperlink3" name="Hyperlink1" href="http://www.cnblogs.com/"&gt;&lt;font face="Verdana"&gt;博客园&lt;/font&gt;&lt;/a&gt;
	&lt;br&gt;
	Copyright &amp;copy; smark
&lt;/div&gt;
	
&lt;/div&gt;			
			
	

&lt;/body&gt;
&lt;/html&gt;
</Html>
	<HtmlMetas i:nil="true" />
	<HtmlTitle i:nil="true" />
	<IsDefault>false</IsDefault>
	<Layout i:nil="true" />
	<Name>-smark-</Name>
	<OutputCache i:nil="true" />
	<PageContents xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
	<Plugins xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<Published>false</Published>
	<RequireHttps>false</RequireHttps>
	<Routes>
		<PageRoute>
			<Defaults xmlns:d4p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
			<Identifier>/smark/</Identifier>
			<RoutePath i:nil="true" />
		</PageRoute>
	</Routes>
	<Scripts i:nil="true" />
	<Site>
		<AbsoluteName xmlns="Ovaldi.Core.Models">Cnblogs</AbsoluteName>
	</Site>
	<Styles i:nil="true" />
	<UUID>-smark-</UUID>
</Page>