<?xml version="1.0" encoding="utf-8"?>
<Page xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Ovaldi.Core.Models">
	<AbsoluteName>-zhouhongyu1989-archive-2014-09-16.html</AbsoluteName>
	<CustomFields xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<EnableScript>true</EnableScript>
	<EnableTheming>true</EnableTheming>
	<Html>&lt;!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"&gt;
&lt;html xmlns="http://www.w3.org/1999/xhtml" lang="zh-cn"&gt;
&lt;head&gt;
&lt;meta http-equiv="Content-Type" content="text/html; charset=utf-8"&gt;
&lt;title&gt; 2014年9月16日 随笔档案 - 我不会抽烟Oscar - 博客园&lt;/title&gt;
&lt;link type="text/css" rel="stylesheet" href="/preview~Cnblogs/Styles/bundles/blog-common.css"&gt;
&lt;link id="MainCss" type="text/css" rel="stylesheet" href="/preview~Cnblogs/Styles/skins/arrow/bundle-arrow.css"&gt;
&lt;link title="RSS" type="application/rss+xml" rel="alternate" href="http://www.cnblogs.com/zhouhongyu1989/rss"&gt;
&lt;link title="RSD" type="application/rsd+xml" rel="EditURI" href="http://www.cnblogs.com/zhouhongyu1989/rsd.xml"&gt;
&lt;link type="application/wlwmanifest+xml" rel="wlwmanifest" href="http://www.cnblogs.com/zhouhongyu1989/wlwmanifest.xml"&gt;
&lt;script src="http://common.cnblogs.com/script/jquery.js" type="text/javascript"&gt;&lt;/script&gt;  
&lt;script type="text/javascript"&gt;var currentBlogApp = 'zhouhongyu1989', cb_enable_mathjax=true;&lt;/script&gt;
&lt;script src="/preview~Cnblogs/Scripts/bundles/blog-common.js" type="text/javascript"&gt;&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;a name="top"&gt;&lt;/a&gt;

&lt;!--done--&gt;
&lt;div id="header"&gt;
	
&lt;!--done--&gt;
&lt;div class="header"&gt;
	&lt;div class="headerText"&gt;
		&lt;a id="Header1_HeaderTitle" class="headermaintitle" href="http://www.cnblogs.com/zhouhongyu1989/"&gt;我不会抽烟Oscar&lt;/a&gt;&lt;br&gt;
		
	&lt;/div&gt;
&lt;/div&gt;

&lt;/div&gt;
&lt;div id="mylinks"&gt;
&lt;!--done--&gt;
&lt;a id="MyLinks1_HomeLink" class="menu" href="http://www.cnblogs.com/"&gt;博客园&lt;/a&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;
&lt;a id="MyLinks1_MyHomeLink" class="menu" href="http://www.cnblogs.com/zhouhongyu1989/"&gt;首页&lt;/a&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;
&lt;a id="MyLinks1_NewPostLink" class="menu" rel="nofollow" href="http://i.cnblogs.com/EditPosts.aspx?opt=1"&gt;新随笔&lt;/a&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;
&lt;a id="MyLinks1_ContactLink" accesskey="9" class="menu" rel="nofollow" href="http://space.cnblogs.com/msg/send/%e6%88%91%e4%b8%8d%e4%bc%9a%e6%8a%bd%e7%83%9fOscar"&gt;联系&lt;/a&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;
&lt;a id="MyLinks1_Syndication" class="menu" href="http://www.cnblogs.com/zhouhongyu1989/rss"&gt;订阅&lt;/a&gt;&lt;a id="MyLinks1_XMLLink" href="http://www.cnblogs.com/zhouhongyu1989/rss"&gt;&lt;img src="/preview~Cnblogs/Images/images/xml.gif" alt="订阅"&gt;&lt;/a&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;
&lt;a id="MyLinks1_Admin" class="menu" rel="nofollow" href="http://i.cnblogs.com/"&gt;管理&lt;/a&gt;
&lt;/div&gt;
&lt;div id="mytopmenu"&gt;
	
		
&lt;div class="blogStats"&gt;随笔 - 18&amp;nbsp;
文章 - 0&amp;nbsp;评论 - 118&amp;nbsp;trackbacks - 0
&lt;/div&gt;
	
&lt;/div&gt;
&lt;div id="leftcontent"&gt;
	
		&lt;div id="leftcontentcontainer"&gt;
			&lt;div id="blog-calendar" style="display:none"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;loadBlogDefaultCalendar();&lt;/script&gt;&lt;br&gt;
			
&lt;!--done--&gt;
&lt;div class="newsItem"&gt;
	&lt;div id="blog-news"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;loadBlogNews();&lt;/script&gt;
&lt;/div&gt;

			&lt;div id="blog-sidecolumn"&gt;&lt;/div&gt;&lt;script type="text/javascript"&gt;loadBlogSideColumn();&lt;/script&gt;&lt;/div&gt;		
	
&lt;/div&gt;
&lt;div id="centercontent"&gt;
	

&lt;!--done--&gt;


&lt;div class="day"&gt;
	&lt;div class="dayTitle"&gt;
		&lt;a id="ArchiveDay1_SingleDay_ctl00_ImageLink" title="Day link" href="http://www.cnblogs.com/zhouhongyu1989/archive/2014/09/16.html"&gt;2014年9月16日&lt;/a&gt;
	&lt;/div&gt;

	
			&lt;div class="postTitle"&gt;
				&lt;a id="ArchiveDay1_SingleDay_ctl00_DayList_TitleUrl_0" class="postTitle2" href="http://www.cnblogs.com/zhouhongyu1989/p/3975097.html"&gt;jQuery $.post()返回类型为json时不进入回调函数的原因及解决方法&lt;/a&gt;
			&lt;/div&gt;
			
			&lt;div class="postDesc"&gt;posted @ 2014-09-16 15:52 我不会抽烟Oscar 阅读(84) 评论(3)  &lt;a href="http://i.cnblogs.com/EditPosts.aspx?postid=3975097" rel="nofollow"&gt;编辑&lt;/a&gt;&lt;/div&gt;
		
&lt;/div&gt;


	
&lt;!--done--&gt;
&lt;div class="footer"&gt;
	
	Copyright &amp;copy;2014 我不会抽烟Oscar Powered by: &lt;a href="http://www.cnblogs.com" class="footerlink"&gt;博客园&lt;/a&gt; 模板提供：&lt;a href="http://blog.hjenglish.com" class="footerlink"&gt;沪江博客&lt;/a&gt;&lt;br&gt;
&lt;/div&gt;
&lt;/div&gt;



&lt;/body&gt;
&lt;/html&gt;
</Html>
	<HtmlMetas i:nil="true" />
	<HtmlTitle i:nil="true" />
	<IsDefault>false</IsDefault>
	<Layout i:nil="true" />
	<Name>-zhouhongyu1989-archive-2014-09-16.html</Name>
	<OutputCache i:nil="true" />
	<PageContents xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
	<Plugins xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<Published>false</Published>
	<RequireHttps>false</RequireHttps>
	<Routes>
		<PageRoute>
			<Defaults xmlns:d4p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
			<Identifier>/zhouhongyu1989/archive/2014/09/16.html</Identifier>
			<RoutePath i:nil="true" />
		</PageRoute>
	</Routes>
	<Scripts i:nil="true" />
	<Site>
		<AbsoluteName xmlns="Ovaldi.Core.Models">Cnblogs</AbsoluteName>
	</Site>
	<Styles i:nil="true" />
	<UUID>-zhouhongyu1989-archive-2014-09-16.html</UUID>
</Page>