<div class="${baseClass} common-form">
    <table>
        <tbody>
        <tr>
            <th><label>${labelSrc}</label></th>
            <td>
                <div class="file-thumbnail">
                    <img data-dojo-attach-point="srcNode">
                    <a class="action" href="javascript:;" alt="${labelClearSrc}"
                       data-dojo-attach-event="click:_clearSrc">
                        <img src="data:image/gif;base64,R0lGODlhAQABAPAAAP///wD/ACH5BAEAAAEALAAAAAABAAEAAAICTAEAOw=="
                             class="icon minus-small">
                    </a>
                </div>
                <p>
                    <a href="javascript:;" class="button" data-dojo-attach-event="click:_onChange">${buttonChange}</a>
                </p>
            </td>
        </tr>
        <tr>
            <th><label>${labelRepeated}</label></th>
            <td>
                <select data-dojo-attach-point="repeatedNode">
                    <option value="">No repeat</option>
                    <option value="repeat-x">Repeat X</option>
                    <option value="repeat-y">Repeat Y</option>
                </select>
            </td>
        </tr>
        <tr>
            <th><label>${labelPositionX}</label></th>
            <td>
                <input class="J_Spinner mini" type="text" data-dojo-attach-point="positionXNode"><span
                    class="unit">px</span>
            </td>
        </tr>
        <tr>
            <th><label>${labelPositionY}</label></th>
            <td>
                <input class="J_Spinner mini" type="text" data-dojo-attach-point="positionYNode"><span
                    class="unit">px</span>
            </td>
        </tr>
        </tbody>
    </table>
</div>