<div class="${baseClass} common-form">
    <table>
        <tr>
            <th><label>${labelWidth}</label></th>
            <td>
                <div data-dojo-type="tal/widgets/UnitSpinner" data-dojo-props="min:0"
                     data-dojo-attach-point="widthSpinner"></div>
            </td>
        </tr>
        <tr>
            <th><label>${labelStyle}</label></th>
            <td>
                <select data-dojo-attach-point="styleNode">
                    <option value="none">None</option>
                    <option value="dashed">Dashed</option>
                    <option value="dotted">Dotted</option>
                    <option value="double">Double</option>
                    <option value="grovve">Grovve</option>
                    <option value="ridge">Ridge</option>
                    <option value="solid">Solid</option>
                </select>
            </td>
        </tr>
        <tr>
            <th><label>${labelColor}</label></th>
            <td>
                <div data-dojo-type="tal/widgets/ColorBox" data-dojo-attach-point="colorBox"></div>
            </td>
        </tr>
        <tr>
            <th><label>${labelOpacity}</label></th>
            <td>
                <div data-dojo-type="tal/widgets/Slider" data-dojo-props="min:0,max:1,step:0.1,value:1"
                     data-dojo-attach-point="opacitySlider"></div>
            </td>
        </tr>
    </table>
</div>