<div class="${baseClass}">
    <div class="kb-layout-box">
        <span class="label left">position: <span data-dojo-attach-point="positionNode">relative</span></span>
        <span class="label right">z-index: <span data-dojo-attach-point="zIndexNode">auto</span></span>

        <div class="position" data-dojo-attach-point="positionBox">
            <span class="label">position</span>
            <input type="text" class="input-top null" data-dojo-attach-point="positionTop" value="0">
            <input type="text" class="input-right null" data-dojo-attach-point="positionRight" value="0">
            <input type="text" class="input-bottom null" data-dojo-attach-point="positionBottom" value="0">
            <input type="text" class="input-left null" data-dojo-attach-point="positionLeft" value="0">

            <div class="margin">
                <span class="label">margin</span>
                <input type="text" class="input-top null" data-dojo-attach-point="marginTop" value="0">
                <input type="text" class="input-right null" data-dojo-attach-point="marginRight" value="0">
                <input type="text" class="input-bottom null" data-dojo-attach-point="marginBottom" value="0">
                <input type="text" class="input-left null" data-dojo-attach-point="marginLeft" value="0">

                <div class="border">
                    <span class="label">border</span>
                    <input type="text" class="input-top null" data-dojo-attach-point="borderTop" value="0">
                    <input type="text" class="input-right null" data-dojo-attach-point="borderRight" value="0">
                    <input type="text" class="input-bottom null" data-dojo-attach-point="borderBottom" value="0">
                    <input type="text" class="input-left null" data-dojo-attach-point="borderLeft" value="0">

                    <div class="padding">
                        <span class="label">padding</span>
                        <input type="text" class="input-top null" data-dojo-attach-point="paddingTop" value="0">
                        <input type="text" class="input-right null" data-dojo-attach-point="paddingRight" value="0">
                        <input type="text" class="input-bottom null" data-dojo-attach-point="paddingBottom" value="0">
                        <input type="text" class="input-left null" data-dojo-attach-point="paddingLeft" value="0">

                        <div class="content">
                            <input type="text" class="input-width" data-dojo-attach-point="contentWidth" value="0">
                            <span class="text">&times;</span>
                            <input type="text" class="input-height" data-dojo-attach-point="contentHeight" value="0">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>