<div class="${baseClass} panel-block with-margin kb-corner-editor">
    <div class="kb-corner-editor-wrap">
        <span class="input-left-top">
            <div data-dojo-type="tal/widgets/UnitSpinner" data-dojo-props="min:0" data-dojo-attach-point="tlRef"></div>
        </span>
        <span class="input-right-top">
            <div data-dojo-type="tal/widgets/UnitSpinner" data-dojo-props="min:0" data-dojo-attach-point="trRef"></div>
        </span>
        <span class="input-left-bottom">
            <div data-dojo-type="tal/widgets/UnitSpinner" data-dojo-props="min:0" data-dojo-attach-point="blRef"></div>
        </span>
        <span class="input-right-bottom">
            <div data-dojo-type="tal/widgets/UnitSpinner" data-dojo-props="min:0" data-dojo-attach-point="brRef"></div>
        </span>
        <div class="box-model" data-dojo-attach-point="effectNode" style="border:3px solid #999"></div>
    </div>
    <p class="field">
        <input type="checkbox" id="${id}_LockCorner" data-dojo-attach-point="lockNode" data-dojo-attach-event="click:_lockTogether">
        <label for="${id}_LockCorner" class="inline">Lock corners together</label>
    </p>
</div>