<div class="${baseClass} panel-block with-margin kb-corner-editor">
    <div class="kb-corner-editor-wrap">
        <span class="input-left-top"><input class="J_Spinner" type="text" min="0" value="0" data-dojo-attach-point="tlNode">px</span>
        <span class="input-right-top"><input class="J_Spinner" type="text" min="0" value="0" data-dojo-attach-point="trNode">px</span>
        <span class="input-right-bottom"><input class="J_Spinner" type="text" min="0" value="0" data-dojo-attach-point="blNode">px</span>
        <span class="input-left-bottom"><input class="J_Spinner" type="text" min="0" value="0" data-dojo-attach-point="brNode">px</span>
        <div class="box-model">
            <span class="left-top" data-dojo-attach-point="topLeftEffect"></span>
            <span class="right-top" data-dojo-attach-point="topRightEffect"></span>
            <span class="right-bottom" data-dojo-attach-point="bottomLeftEffect"></span>
            <span class="left-bottom" data-dojo-attach-point="bottomRightEffect"></span>
        </div>
    </div>
    <p class="field">
        <input type="checkbox" id="KbLockCorner">
        <label for="KbLockCorner" class="inline">Lock corners together</label>
    </p>
</div>