<div class="${baseClass} kb-style-editor">
    <a title="New rule" href="#" class="action">
        <img src="data:image/gif;base64,R0lGODlhAQABAPAAAP///wD/ACH5BAEAAAEALAAAAAABAAEAAAICTAEAOw=="
             class="icon plus-small">
    </a>
    <ol data-dojo-attach-point="rulesNode"></ol>
    <script type="text/template" data-dojo-attach-point="ruleTmpl">
        <li>
            <span class="arrow active">
                <img src="data:image/gif;base64,R0lGODlhAQABAPAAAP///wD/ACH5BAEAAAEALAAAAAABAAEAAAICTAEAOw=="
                     class="sprite">
            </span>
            <span class="start-tag">
                <span contenteditable="true"
                      class="text selector"><%=rule.selectorText%></span>
                <span class="bracket">{</span>
            </span>
            <ul class="">
                <%for(var p,v,s=rule.style,i=s.length-1;i>=0;i--){%>
                <%p=s[i];v=s.getPropertyValue(p);%>
                <%if(v){%>
                <li>
                    <span contenteditable="true" class="text attribute"><%=p%></span>
                    <span class="symbol">:</span>
                    <span contenteditable="true" class="text value"><%=v%></span>
                    <span class="symbol">;</span>
                </li>
                <%}%>
                <%}%>
            </ul>
            <a title="Add Property" href="javascript:;" class="action">
                <img src="data:image/gif;base64,R0lGODlhAQABAPAAAP///wD/ACH5BAEAAAEALAAAAAABAAEAAAICTAEAOw=="
                     class="icon plus-small">
            </a>
            <span class="bracket end-tag">}</span>
            <span title="Page name here" class="label label-info J_Tooltip"><strong>3</strong> pages affected</span>
            <span class="source-file"><%=utils.getSource(rule)%></span>
        </li>
    </script>
</div>