<div class="${baseClass} flexible">
    <div class="container"
         data-dojo-attach-event="click:_onTreeClick,mouseover:_onMouseover,mouseout:_onMouseout">

        <ul class="code-tree" data-dojo-attach-point="treeNode"></ul>

        <input type="text" data-dojo-attach-point="inputNode" class="code-field"/>
    </div>

    <div class="bottom" data-dojo-attach-point="pathNode" data-dojo-attach-event="click:_onPathClick,mouseover:_onMouseover,mouseout:_onMouseout"></div>

    <script data-dojo-attach-point="treeTmpl" type="text/template">
        <li ${uuidKey}="<%=utils.getUuid(node)%>">
            <%if(node.nodeType==3){%>
            <code class="node-text" ${uuidKey}="<%=utils.getUuid(node)%>"><%=node.textContent%></code>
            <%}%>

            <%if(node.nodeType==1&&utils.isVoidElement(node)){%>
            <span class="code wrapper" ${uuidKey}="<%=utils.getUuid(node)%>">&lt;
            <span ${uuidKey}="<%=utils.getUuid(node)%>"><%=node.tagName.toLowerCase()%></span>
            <%for(var i=0,j=node.attributes.length;i<j;i++){%>
                    <span>
                        <code class="attr-name" ${uuidKey}="<%=utils.getUuid(node)%>"><%=node.attributes[i].name%></code>="<code class="attr-value" ${uuidKey}="<%=utils.getUuid(node)%>"><%=node.attributes[i].value%></code>"
                    </span>
            <%}%>
                    <span class="new-attribute" >
                        <img ${uuidKey}="<%=utils.getUuid(node)%>" src="data:image/gif;base64,R0lGODlhAQABAPAAAP///wD/ACH5BAEAAAEALAAAAAABAAEAAAICTAEAOw==" class="icon insert-text add-attr" title="${insertAttrTitle}">
                    </span>
            /&gt;</span>
            <%}%>

            <%if(node.nodeType==1&&!utils.isVoidElement(node)&&utils.isTextOnly(node)){%>
            <span class="code wrapper" ${uuidKey}="<%=utils.getUuid(node)%>">&lt;
            <span ${uuidKey}="<%=utils.getUuid(node)%>"><%=node.tagName.toLowerCase()%></span>
            <%for(var i=0,j=node.attributes.length;i<j;i++){%>
                        <span>
                            <code class="attr-name" ${uuidKey}="<%=utils.getUuid(node)%>"><%=node.attributes[i].name%></code>="<code class="attr-value" ${uuidKey}="<%=utils.getUuid(node)%>"><%=node.attributes[i].value%></code>"
                        </span>
            <%}%>
                    <span class="new-attribute" >
                        <img ${uuidKey}="<%=utils.getUuid(node)%>" src="data:image/gif;base64,R0lGODlhAQABAPAAAP///wD/ACH5BAEAAAEALAAAAAABAAEAAAICTAEAOw==" class="icon insert-text add-attr" title="${insertAttrTitle}">
                    </span>
            &gt;</span>
            <%for(var child=node.childNodes,i=0,j=child.length;i<j;i++){%>
            <code class="node-text code" ${uuidKey}="<%=utils.getUuid(child[i])%>"><%=child[i].textContent%></code>
            <%}%>
            <span class="code wrapper" ${uuidKey}="<%=utils.getUuid(node)%>">
            &lt;/<span ${uuidKey}="<%=utils.getUuid(node)%>"><%=node.tagName.toLowerCase()%></span>&gt;
            </span>
            <%}%>

            <%if(node.nodeType==1&&!utils.isVoidElement(node)&&!utils.isTextOnly(node)){%>
            <%if(node.childNodes.length){%>
            <img class="sprite" ${uuidKey}="<%=utils.getUuid(node)%>" src="data:image/gif;base64,R0lGODlhAQABAPAAAP///wD/ACH5BAEAAAEALAAAAAABAAEAAAICTAEAOw==">
            <%}%>
            <span class="code wrapper" ${uuidKey}="<%=utils.getUuid(node)%>">&lt;
            <span ${uuidKey}="<%=utils.getUuid(node)%>"><%=node.tagName.toLowerCase()%></span>
            <%for(var i=0,j=node.attributes.length;i<j;i++){%>
                    <span>
                        <code class="attr-name" ${uuidKey}="<%=utils.getUuid(node)%>"><%=node.attributes[i].name%></code>="<code class="attr-value" ${uuidKey}="<%=utils.getUuid(node)%>"><%=node.attributes[i].value%></code>"
                    </span>
            <%}%>
                <span class="new-attribute" >
                    <img ${uuidKey}="<%=utils.getUuid(node)%>" src="data:image/gif;base64,R0lGODlhAQABAPAAAP///wD/ACH5BAEAAAEALAAAAAABAAEAAAICTAEAOw==" class="icon insert-text add-attr" title="${insertAttrTitle}">
                </span>
            &gt;</span>
            <%if(node.childNodes.length){%>
            <ul class="collapsible">
                <%for(var child=node.childNodes,i=0,j=child.length;i<j;i++){%>
                <%=utils.render(child[i])%>
                <%}%>
            </ul>
            <%}%>
            <span class="code wrapper collapsible" ${uuidKey}="<%=utils.getUuid(node)%>">
            &lt;/<span ${uuidKey}="<%=utils.getUuid(node)%>"><%=node.tagName.toLowerCase()%></span>&gt;
            </span>
            <%}%>
        </li>
    </script>
    <script type="text/template" data-dojo-attach-point="pathTmpl">
        <%for(var i=0,j=path.length;i<j;i++){%>
            <%if((i+1)==j){%>
            <a href="javascript:;" class="active" ${uuidKey}="<%=path[i].uuid%>"><%=path[i].tagName%></a>
            <%}else{%>
            <a href="javascript:;" ${uuidKey}="<%=path[i].uuid%>"><%=path[i].tagName%></a><span>&gt;</span>
            <%}%>
        <%}%>
    </script>
</div>