<div class="${baseClass} common-form">
    <table>
        <tbody>
        <tr>
            <th><label>${labelSrc}</label></th>
            <td>
                <div class="file-thumbnail">
                    <img data-bind="attr:{src:src}">
                </div>
                <p>
                    <a href="javascript:;" class="button" data-dojo-attach-event="click:_onChange">${buttonChange}</a>
                </p>
            </td>
        </tr>
        <tr>
            <th><label>${labelAlt}</label></th>
            <td>
                <input type="text" data-bind="value:alt">
            </td>
        </tr>
        <tr>
            <th><label>${labelTitle}</label></th>
            <td>
                <input type="text" data-bind="value:title">
            </td>
        </tr>
        </tbody>
    </table>
</div>