<div class="${baseClass}" style="display: none;">
    <div data-dojo-attach-point="leftRef" style="position: absolute;
        z-index: ${zIndex};
        display: block;
        cursor: ${cursor};
        background-color: ${bgColor};"></div>
    <div data-dojo-attach-point="rightRef" style="position: absolute;
        z-index: ${zIndex}};
        display: block;
        cursor: ${cursor};
        background-color: ${bgColor};"></div>
    <div data-dojo-attach-point="topRef" style="position: absolute;
        z-index: ${zIndex};
        display: block;
        cursor: ${cursor};
        background-color: ${bgColor};"></div>
    <div data-dojo-attach-point="bottomRef" style="position: absolute;
        z-index: ${zIndex};
        display: block;
        cursor: ${cursor};
        background-color: ${bgColor};"></div>
</div>