<div class="${baseClass}">
    <div class="kb-layout-box">
        <span class="label left">position: relative</span>
        <span class="label right">z-index: auto</span>

        <div class="position">
            <span class="label">position</span>
            <input type="text" class="input-top null" value="0">
            <input type="text" class="input-right null" value="0">
            <input type="text" class="input-bottom null" value="0">
            <input type="text" class="input-left null" value="0">

            <div class="margin">
                <span class="label">margin</span>
                <input type="text" class="input-top null" value="0">
                <input type="text" class="input-right null" value="0">
                <input type="text" class="input-bottom null" value="0">
                <input type="text" class="input-left null" value="0">

                <div class="border">
                    <span class="label">border</span>
                    <input type="text" class="input-top null" value="0">
                    <input type="text" class="input-right null" value="0">
                    <input type="text" class="input-bottom null" value="0">
                    <input type="text" class="input-left null" value="0">

                    <div class="padding">
                        <span class="label">padding</span>
                        <input type="text" class="input-top null" value="0">
                        <input type="text" class="input-right null" value="0">
                        <input type="text" class="input-bottom null" value="0">
                        <input type="text" class="input-left null" value="0">

                        <div class="content">
                            <input type="text" class="input-width" value="200">
                            <span class="text">&times;</span>
                            <input type="text" class="input-height" value="50">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>