<div class="common-form">
    <p class="field">
        <input type="checkbox" id="ShadowEnable" checked="checked">
        <label class="inline" for="ShadowEnable">${labelEnableShadow}</label>
    </p>
    <hr>
    <table>
        <tr>
            <th><label>${labelDirection}</label></th>
            <td>
                <div data-dojo-type="tal/widgets/UnitSpinner" data-dojo-attach-point="directionSpinner"></div>
            </td>
        </tr>
        <tr>
            <th><label>${labelDistance}</label></th>
            <td>
                <div data-dojo-type="tal/widgets/UnitSpinner" data-dojo-attach-point="distanceSpinner"></div>
            </td>
        </tr>
        <tr>
            <th><label>${labelBlur}</label></th>
            <td>
                <div data-dojo-type="tal/widgets/UnitSpinner" data-dojo-attach-point="blurSpinner"></div>
            </td>
        </tr>
        <tr>
            <th><label>${labelColor}</label></th>
            <td>
                <div data-dojo-type="tal/widgets/ColorBox" data-dojo-attach-point="colorBox"></div>
            </td>
        </tr>
        <tr>
            <th><label>${labelOpacity}</label></th>
            <td>
                <div data-dojo-type="tal/widgets/Slider" data-dojo-attach-point="opacitySlider" data-dojo-props="min:0,max:1,step:0.1,value:1"></div>
            </td>
        </tr>
    </table>
</div>