<div class="${baseClass}" title="${title}">
    <div class="J_Accordion" data-dojo-attach-point="containerNode">
        <h3>Layout</h3>
        <div data-dojo-type="tal/widgets/BoxPanel" data-dojo-attach-point="box"></div>
        <h3>Background</h3>
        <div data-dojo-type="tal/widgets/BackgroundPanel" data-dojo-attach-point="background"></div>
        <h3>Border</h3>
        <div data-dojo-type="tal/widgets/BorderPanel" data-dojo-attach-point="border"></div>
        <h3>Corner</h3>
        <div data-dojo-type="tal/widgets/CornerPanel" data-dojo-attach-point="corner"></div>
        <h3>Shadow</h3>
        <div data-dojo-type="tal/widgets/ShadowPanel" data-dojo-attach-point="shadow"></div>
        <h3>Font</h3>
        <div data-dojo-type="tal/widgets/FontPanel" data-dojo-attach-point="font"></div>
    </div>
</div>