<div class="${baseClass}" title="${title}">
    <div class="J_Accordion" data-dojo-attach-point="containerNode">
        <h3>Position</h3>
        <div data-dojo-type="tal/widgets/PositionPanel"></div>
        <h3>Background</h3>
        <div data-dojo-type="tal/widgets/BackgroundPanel"></div>
        <h3>Border</h3>
        <div data-dojo-type="tal/widgets/BorderPanel"></div>
        <h3>Corner</h3>
        <div data-dojo-type="tal/widgets/CornerPanel"></div>
        <h3>Shadow</h3>
        <div data-dojo-type="tal/widgets/ShadowPanel"></div>
        <h3>Font</h3>
        <div data-dojo-type="tal/widgets/FontPanel"></div>
    </div>
</div>